Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: adjustments after review
  docs/guides/migrations.md
  docs/guides/multi-site-configurations.md
  docs/guides/sparque-ai.md
Due: npx prettier --loglevel warn --write

refactor: make the ProductImageComponent a standalone component
  src/app/shared/components/product/product-image/product-image.component.spec.ts
  src/app/shared/components/product/product-image/product-image.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

product suggestions rework
  src/app/core/facades/app.facade.ts
  src/app/core/models/sparque-category/sparque-category.mapper.ts
  src/app/core/models/sparque-image/sparque-image.interface.ts
  src/app/core/models/sparque-image/sparque-image.mapper.spec.ts
  src/app/core/models/sparque-image/sparque-image.mapper.ts
  src/app/core/models/sparque-product/sparque-product.mapper.ts
  src/app/core/models/sparque-suggestions/sparque-suggestions.mapper.ts
  src/app/core/models/suggestions/suggestions.model.ts
  src/app/core/service-provider/suggestions.service-provider.ts
  src/app/core/services/sparque-suggestions/sparque-suggestions.service.ts
  src/app/core/store/shopping/products/products.actions.ts
  src/app/core/store/shopping/products/products.reducer.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/shared/components/search/search-box/search-box.component.html
  src/app/shared/components/search/search-box/search-box.component.ts
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.html
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.spec.ts
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.ts
  src/app/shared/components/search/suggest-products/suggest-products.component.html
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
  src/app/shared/components/search/suggest-products/suggest-products.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: REOMOVED `enablePrices` functionality as long as it is not actually working
  docs/guides/sparque-ai.md
  src/app/core/models/search/search.model.ts
  src/app/core/models/sparque-offer/sparque-offer.interface.ts
  src/app/core/models/sparque-offer/sparque-offer.mapper.spec.ts
  src/app/core/models/sparque-offer/sparque-offer.mapper.ts
  src/app/core/models/sparque-product/sparque-product.interface.ts
  src/app/core/models/sparque-search/sparque-search.mapper.ts
  src/app/core/models/sparque-suggestions/sparque-suggestions.mapper.ts
  src/app/core/models/sparque/sparque-config.model.ts
  src/app/core/models/suggestions/suggestions.model.ts
  src/app/core/services/sparque-api/sparque-api.service.ts
  src/app/core/store/shopping/product-prices/product-prices.effects.spec.ts
  src/app/core/store/shopping/product-prices/product-prices.effects.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/environments/environment.b2b.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: adjustments after review - part 2
  docs/guides/sparque-ai.md
Due: npx prettier --loglevel warn --write

feat: use grid for product suggest tile layout
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.html
  src/app/shared/components/search/suggest-products/suggest-products.component.html
  src/styles/components/header/search-container.scss
Due: npx prettier --loglevel warn --write

fix: fixed failing eslint tests
  eslint-rules/package.json
  eslint-rules/tests/rule-tester.ts
  eslint-rules/tests/use-alias-imports.spec.ts
  eslint-rules/tests/use-correct-component-overrides.spec.ts
  eslint-rules/tsconfig.json
  package-lock.json
  package.json
  schematics/src/page/factory_spec.ts
  schematics/tsconfig.json
  tsconfig.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed eslint build/testing tsconfig errors
  eslint-rules/package.json
  eslint-rules/tsconfig.spec.json
Due: npx prettier --loglevel warn --write

fix: reverted tsconfig changes
  tsconfig.json
Due: npx prettier --loglevel warn --write

feat: updated github workflows for node 20
  .github/workflows/automated-update.yml
  .github/workflows/development.yml
  .github/workflows/docs.yml
  .github/workflows/integration.yml
  .github/workflows/windows.yml
Due: npx prettier --loglevel warn --write

fix: fixed failing schematics tests
  schematics/src/page/factory_spec.ts
  schematics/src/utils/testHelper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: update dockerignore script
  scripts/update-dockerignore.js
Due: npx prettier --loglevel warn --write

fix: fixed failing build issues
  .github/workflows/development.yml
  src/styles/themes/b2c/properties.scss
Due: npx prettier --loglevel warn --write

chore: temporarily deactivate full postinstall
  package.json
Due: npx prettier --loglevel warn --write

search-box & co. cleanup
  src/app/core/facades/shopping.facade.ts
  src/app/core/models/search-box-configuration/search-box-configuration.model.ts
  src/app/core/models/sparque-product/sparque-product.mapper.spec.ts
  src/app/core/models/sparque-suggestions/sparque-suggestions.mapper.spec.ts
  src/app/shared/components/search/search-box/search-box.component.html
  src/app/shared/components/search/search-box/search-box.component.ts
  src/app/shared/components/search/suggest-categories/suggest-categories.component.html
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.html
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.spec.ts
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.ts
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
  src/app/shared/components/search/suggest-search-terms/suggest-search-terms.component.html
  src/app/shared/components/search/suggest-search-terms/suggest-search-terms.component.ts
  src/app/shell/header/header-default/header-default.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

general improvements
  src/app/core/models/sparque-product/sparque-product.mapper.ts
  src/app/core/store/core/configuration/configuration.reducer.ts
  src/app/core/store/shopping/search/search.actions.ts
  src/app/core/store/shopping/search/search.reducer.ts
  src/app/core/store/shopping/shopping-store.ts
  src/app/pages/category/category-page.module.ts
  src/app/shared/components/search/search-box/search-box.component.ts
  src/app/shared/components/search/suggest-brands/suggest-brands.component.html
  src/app/shell/header/header-default/header-default.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

REMOVED unused code
  src/app/core/service-provider/search.service-provider.ts
  src/app/core/services/sparque-search/sparque-search.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

sparque product search cleanup
  src/app/core/models/search/search.model.ts
  src/app/core/models/sparque-category/sparque-category.mapper.ts
  src/app/core/models/sparque-product/sparque-product.interface.ts
  src/app/core/models/sparque-product/sparque-product.mapper.spec.ts
  src/app/core/models/sparque-product/sparque-product.mapper.ts
  src/app/core/models/sparque-search/sparque-search.interface.ts
  src/app/core/models/sparque-search/sparque-search.mapper.spec.ts
  src/app/core/models/sparque-search/sparque-search.mapper.ts
  src/app/core/models/sparque-suggestions/sparque-suggestions.mapper.spec.ts
  src/app/core/models/sparque-suggestions/sparque-suggestions.mapper.ts
  src/app/core/service-provider/products.service-provider.ts
  src/app/core/service-provider/suggestions.service-provider.ts
  src/app/core/services/products/products.service.ts
  src/app/core/services/sparque-products/sparque-products.service.spec.ts
  src/app/core/services/sparque-products/sparque-products.service.ts
  src/app/core/services/sparque-suggestions/sparque-suggestions.service.spec.ts
  src/app/core/services/sparque-suggestions/sparque-suggestions.service.ts
  src/app/core/services/suggest/suggest.service.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/shopping/products/products.actions.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/products/products.reducer.ts
  src/app/core/store/shopping/search/search.effects.spec.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

code cleanup
  src/app/core/services/sparque-products/sparque-products.service.ts
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/search/search.actions.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/environments/environment.b2b.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: decoded url before encoding to avoid double encoding of special characters
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: create url object to generate canonical url from
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: make the ProductImageComponent a standalone component
  docs/guides/migrations.md
  src/app/shared/components/product/product-image/product-image.component.spec.ts
  src/app/shared/components/product/product-image/product-image.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: make the CategoryImageComponent a standalone component
  docs/guides/migrations.md
  src/app/pages/category/category-image/category-image.component.html
  src/app/pages/category/category-page.module.ts
  src/app/pages/category/category-tile/category-tile.component.spec.ts
  src/app/shared/components/category/category-image/category-image.component.html
  src/app/shared/components/category/category-image/category-image.component.spec.ts
  src/app/shared/components/category/category-image/category-image.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: introduce new 'ProductCompletenessLevel.Base' for product suggest tiles
  docs/guides/migrations.md
  src/app/core/directives/product-context.directive.ts
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
  src/app/core/models/product/product.helper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed bootstrap variable errors
  src/styles/pages/account/account-navigation.scss
  src/styles/pages/account/account.scss
  src/styles/pages/category/filter-panel.scss
  src/styles/themes/b2c/properties.scss
  src/styles/themes/b2c/variables.scss
Due: none

feat(Sparque): introduce Sparque configuration and Sparque API Service (#1760)
  .vscode/intershop.txt
  docs/README.md
  docs/guides/multi-site-configurations.md
  docs/guides/sparque-ai.md
  nginx/templates/multi-channel.conf.tmpl
  src/app/core/configurations/configuration.meta.ts
  src/app/core/models/sparque/sparque-config.model.ts
  src/app/core/services/sparque-api/sparque-api.service.spec.ts
  src/app/core/services/sparque-api/sparque-api.service.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/configuration/configuration.reducer.ts
  src/app/core/store/core/configuration/configuration.selectors.spec.ts
  src/app/core/store/core/configuration/configuration.selectors.ts
  src/app/core/utils/api-token/api-token.service.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(Sparque): add Sparque suggestions service and data mapper (#1760)
  docs/guides/migrations.md
  src/app/core/models/category-tree/category-tree.helper.ts
  src/app/core/models/category/category.model.ts
  src/app/core/models/sparque-category/sparque-category.interface.ts
  src/app/core/models/sparque-category/sparque-category.mapper.spec.ts
  src/app/core/models/sparque-category/sparque-category.mapper.ts
  src/app/core/models/sparque-image/sparque-image.interface.ts
  src/app/core/models/sparque-image/sparque-image.mapper.spec.ts
  src/app/core/models/sparque-image/sparque-image.mapper.ts
  src/app/core/models/sparque-product/sparque-product.interface.ts
  src/app/core/models/sparque-product/sparque-product.mapper.spec.ts
  src/app/core/models/sparque-product/sparque-product.mapper.ts
  src/app/core/models/sparque-suggestions/sparque-suggestions.interface.ts
  src/app/core/models/sparque-suggestions/sparque-suggestions.mapper.spec.ts
  src/app/core/models/sparque-suggestions/sparque-suggestions.mapper.ts
  src/app/core/service-provider/suggestions.service-provider.ts
  src/app/core/services/sparque-suggestions/sparque-suggestions.service.spec.ts
  src/app/core/services/sparque-suggestions/sparque-suggestions.service.ts
  src/app/core/services/suggest/suggest.service.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/shopping/search/search.effects.spec.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(Sparque): add Sparque products search service and data mapper (#1760)
  docs/guides/migrations.md
  src/app/core/models/search/search.model.ts
  src/app/core/models/sparque-search/sparque-search.interface.ts
  src/app/core/models/sparque-search/sparque-search.mapper.spec.ts
  src/app/core/models/sparque-search/sparque-search.mapper.ts
  src/app/core/service-provider/products.service-provider.ts
  src/app/core/services/products/products.service.spec.ts
  src/app/core/services/products/products.service.ts
  src/app/core/services/sparque-products/sparque-products.service.spec.ts
  src/app/core/services/sparque-products/sparque-products.service.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/shopping/filter/filter.selectors.ts
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/search/search.effects.spec.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/shared/components/filter/filter-text/filter-text.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 7.0.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  docs/guides/nginx-startup.md
  docs/guides/themes.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: release 7.0.0 preparation (#1811)
  3rd-party-licenses.txt
  CHANGELOG.md
  docs/guides/nginx-startup.md
  docs/guides/themes.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat: implemented basic pagination component
  src/app/core/facades/account.facade.ts
  src/app/pages/account-order-history/account-order-history-page.component.html
  src/app/pages/account-order-history/account-order-history-page.component.spec.ts
  src/app/pages/account-order-history/account-order-history-page.component.ts
  src/app/shared/components/pagination/pagination.component.html
  src/app/shared/components/pagination/pagination.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
