Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: capture multi-line answers in the HITL loop template of the diagnosing-bugs skill
  .github/skills/diagnosing-bugs/scripts/hitl-loop.template.mjs
Due: none

chore: add completion criteria to the resolving-merge-conflicts skill steps
  .github/skills/resolving-merge-conflicts/SKILL.md
Due: npx prettier --loglevel warn --write

ci: update reports workflow (deprecated Azure CLI container options, unmaintained danjellz/http-server base image) (#2209)
  .github/workflows/reports.yml
  Dockerfile_reports
Due: npx prettier --loglevel warn --write

ci: migrate "Demo Server" workflow from docker-compose to Azure sidecar deployment (#2206)
  .github/scripts/demo-server-up.mjs
  .github/workflows/demo-server-down.yml
  .github/workflows/demo-server-up.yml
  .vscode/intershop.txt
Due: npx prettier --loglevel warn --write

ci(Lighthouse): Lighthouse configuration improvements and caching improvements (#2210)
  .github/lighthouse/configurations/accessibility-desktop.lighthouserc.json
  .github/lighthouse/configurations/accessibility-mobile.lighthouserc.json
  .github/lighthouse/configurations/performance-desktop.lighthouserc.json
  .github/lighthouse/configurations/performance-mobile.lighthouserc.json
  .github/lighthouse/docker-compose.yml
  .github/workflows/lighthouse-accessibility.yml
  .github/workflows/lighthouse-performance-baseline.yml
  .github/workflows/lighthouse-performance-compare.yml
Due: npx prettier --loglevel warn --write

fix: remove blocking initial navigation conflicting with hydration
  docs/guides/migrations.md
  src/app/core/configurations/ngrx-state-transfer.spec.ts
  src/app/core/configurations/ngrx-state-transfer.ts
  src/app/pages/app-routing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: update dependencies + fix vulnerabilities
  .nsprc
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

i18n: harmonize e-mail address labels
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

i18n: refactor full name localization
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

deps: update Angular to v21
  package.json
  projects/organization-management/src/main.ts
  projects/requisition-management/src/main.ts
  src/app/app.module.ts
  src/app/core/directives/click-outside.directive.ts
  src/app/core/directives/focus-outside.directive.ts
  src/app/core/zone-change-detection.module.ts
  tsconfig.server.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update NgRx to v21
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

test: fix unit tests for Angular 21
  src/app/core/pipes/date.pipe.spec.ts
  src/app/shared/components/line-item/line-item-list/line-item-list.component.spec.ts
  tsconfig.spec.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update third-party Angular libraries for Angular 21
  package.json
Due: npx prettier --loglevel warn --write

deps: update angular-eslint and @angular/schematics to v21
  package.json
  schematics/package.json
  schematics/src/cms-component/factory_spec.ts
  schematics/src/component/factory_spec.ts
  schematics/src/extension/factory_spec.ts
  schematics/src/helpers/move-component/factory_spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: fix auto-fixable lint findings from Angular 21 tooling
  projects/organization-management/src/app/components/cost-center-users-list/cost-center-users-list.component.html
  projects/organization-management/src/app/pages/users/users-page.component.html
  src/app/core/interceptors/icm-error-mapper.interceptor.ts
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-overview/account-overview/account-overview.component.html
  src/app/pages/account-recurring-order/account-recurring-order-page.component.html
  src/app/pages/product/product-detail-actions/product-detail-actions.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add migration schematic replacing deprecated ChangeDetectionStrategy.Default with Eager
  docs/guides/migrations.md
  schematics/src/migrations/change-detection-strategy-eager/factory.ts
  schematics/src/migrations/migrations.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update zone.js to 0.16
  package-lock.json
  package.json
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: masked input values with ngx-mask 21
  src/app/shared/formly/types/text-input-field/text-input-field.component.spec.ts
  src/app/shared/formly/types/text-input-field/text-input-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: make fakeAsync work with Angular 21 router in jest
  jest.config.ts
  package.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: remove redundant TranslatePipe imports from TestBed configurations
  projects/organization-management/src/app/services/organization-management-breadcrumb/organization-management-breadcrumb.service.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/budget-bar/budget-bar.component.spec.ts
  projects/requisition-management/src/app/services/requisition-management-breadcrumb/requisition-management-breadcrumb.service.spec.ts
  src/app/core/models/attribute/attribute.pipe.spec.ts
  src/app/core/pipes/date.pipe.spec.ts
  src/app/core/pipes/variation-attribute.pipe.spec.ts
  src/app/core/store/core/configuration/configuration.effects.spec.ts
  src/app/core/store/core/configuration/configuration.integration.spec.ts
  src/app/core/store/customer/recurring-orders/recurring-orders.effects.spec.ts
  src/app/core/utils/paypal/adapters/paypal-card-fields/paypal-card-fields.adapter.spec.ts
  src/app/extensions/order-templates/shared/select-order-template-form/select-order-template-form.component.spec.ts
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.spec.ts
  src/app/extensions/wishlists/shared/select-wishlist-form/select-wishlist-form.component.spec.ts
  src/app/shared/components/product/product-attributes/product-attributes.component.spec.ts
  src/app/shared/formly/wrappers/maxlength-description-wrapper/maxlength-description-wrapper.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: remove unused TestBed providers
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/localizations/localizations.service.spec.ts
  src/app/core/services/sparque-api/sparque-api.service.spec.ts
  src/app/core/store/content/content-store.spec.ts
  src/app/core/store/core/configuration/configuration.effects.spec.ts
  src/app/core/store/core/configuration/configuration.integration.spec.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/extensions/address-doctor/services/address-doctor/address-doctor.service.spec.ts
  src/app/extensions/captcha/exports/lazy-captcha/lazy-captcha.component.spec.ts
  src/app/extensions/captcha/shared/captcha-v3/captcha-v3.component.spec.ts
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.spec.ts
  src/app/extensions/wishlists/shared/wishlist-sharing-dialog/wishlist-sharing-dialog.component.spec.ts
  src/app/shell/header/header-default/header-default.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: update documentation and migration notes for Angular 21
  .github/copilot-instructions.md
  docs/concepts/deployment-angular.md
  docs/concepts/project-structure.md
  docs/concepts/pwa-building-blocks.md
  docs/concepts/search-engine-optimization.md
  docs/guides/accessibility-easy-check.md
  docs/guides/angular-change-detection.md
  docs/guides/development.md
  docs/guides/field-library.md
  docs/guides/getting-started.md
  docs/guides/migrations.md
  docs/guides/propagating-environment-variables.md
Due: npx prettier --loglevel warn --write

test: fix flaky e2e test
  e2e/cypress/e2e/pages/checkout/cart.page.ts
  e2e/cypress/e2e/specs/checkout/basket-custom-fields.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use typed SimpleChanges in ngOnChanges
  projects/organization-management/src/app/components/cost-center-budget/cost-center-budget.component.spec.ts
  projects/organization-management/src/app/components/cost-center-budget/cost-center-budget.component.ts
  schematics/src/lazy-component/factory_spec.ts
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
  src/app/core/directives/paypal-error.directive.ts
  src/app/core/directives/server-html.directive.ts
  src/app/pages/basket/basket-order-recurrence-edit/basket-order-recurrence-edit.component.ts
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.ts
  src/app/pages/search/search-result/search-result.component.ts
  src/app/shared/cms/models/cms-component/cms-component.model.ts
  src/app/shared/components/basket/basket-desired-delivery-date/basket-desired-delivery-date.component.ts
  src/app/shared/components/basket/basket-merchant-message/basket-merchant-message.component.ts
  src/app/shared/components/basket/basket-order-reference/basket-order-reference.component.ts
  src/app/shared/components/custom-fields/custom-fields-formly/custom-fields-formly.component.ts
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.ts
  src/app/shared/components/line-item/line-item-list/line-item-list.component.spec.ts
  src/app/shared/components/line-item/line-item-list/line-item-list.component.ts
  src/app/shared/formly-address-forms/components/formly-address-form/formly-address-form.component.ts
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.spec.ts
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.ts
  src/app/shell/header/header-default/header-default.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use setInput for dynamically created components and specs
  docs/guides/migrations.md
  projects/organization-management/src/app/components/cost-center-budget/cost-center-budget.component.spec.ts
  schematics/src/lazy-component/factory.ts
  schematics/src/lazy-component/factory_spec.ts
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
  src/app/pages/basket/basket-order-recurrence-edit/basket-order-recurrence-edit.component.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/shared/cms/components/content-pagelet/content-pagelet.component.ts
  src/app/shared/cms/models/cms-component/cms-component.model.ts
  src/app/shared/components/basket/basket-desired-delivery-date/basket-desired-delivery-date.component.html
  src/app/shared/components/basket/basket-desired-delivery-date/basket-desired-delivery-date.component.spec.ts
  src/app/shared/components/basket/basket-desired-delivery-date/basket-desired-delivery-date.component.ts
  src/app/shared/components/basket/basket-merchant-message/basket-merchant-message.component.html
  src/app/shared/components/basket/basket-merchant-message/basket-merchant-message.component.spec.ts
  src/app/shared/components/basket/basket-merchant-message/basket-merchant-message.component.ts
  src/app/shared/components/basket/basket-order-reference/basket-order-reference.component.html
  src/app/shared/components/basket/basket-order-reference/basket-order-reference.component.spec.ts
  src/app/shared/components/basket/basket-order-reference/basket-order-reference.component.ts
  src/app/shared/components/line-item/line-item-list/line-item-list.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove dead password error handling from account profile password component
  src/app/pages/account-profile-password/account-profile-password/account-profile-password.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: enforce typed SimpleChanges in ngOnChanges
  docs/guides/migrations.md
  eslint.config.mjs
Due: npx prettier --loglevel warn --write

temp: package-lock.json
  package-lock.json
Due: npx prettier --loglevel warn --write

fix: render ICM error messages as text to prevent DOM-based XSS
  docs/guides/migrations.md
  src/app/core/interceptors/icm-error-mapper.interceptor.spec.ts
  src/app/core/interceptors/icm-error-mapper.interceptor.ts
  src/app/core/store/core/messages/messages.actions.ts
  src/app/core/store/core/messages/messages.effects.spec.ts
  src/app/core/store/core/messages/messages.effects.ts
  src/app/shared/components/common/error-message/error-message.component.html
  src/app/shared/components/common/error-message/error-message.component.spec.ts
  src/app/shared/components/common/error-message/error-message.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: insert link in header, add new route and page
  src/app/pages/app-routing.module.ts
  src/app/pages/product-advisor/product-advisor-page.component.html
  src/app/pages/product-advisor/product-advisor-page.component.ts
  src/app/pages/product-advisor/product-advisor-page.module.ts
  src/app/shell/header/header-default/header-default.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/components/header/header.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add components for chat and results with initial content
  src/app/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.html
  src/app/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.ts
  src/app/pages/product-advisor/product-advisor-page.component.html
  src/app/pages/product-advisor/product-advisor-page.component.ts
  src/app/pages/product-advisor/product-advisor-page.module.ts
  src/app/pages/product-advisor/product-advisor-results/product-advisor-results.component.html
  src/app/pages/product-advisor/product-advisor-results/product-advisor-results.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/main.scss
  src/styles/pages/product-advisor/product-advisor.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: switch product advisor layout by deviceType instead of CSS breakpoints
  src/app/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.html
  src/app/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.ts
  src/app/pages/product-advisor/product-advisor-page.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: changes after review
  src/app/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.html
  src/app/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.scss
  src/app/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.ts
  src/app/pages/product-advisor/product-advisor-page.component.html
  src/app/pages/product-advisor/product-advisor-page.component.scss
  src/app/pages/product-advisor/product-advisor-page.component.ts
  src/app/pages/product-advisor/product-advisor-results/product-advisor-results.component.html
  src/app/pages/product-advisor/product-advisor-results/product-advisor-results.component.scss
  src/app/pages/product-advisor/product-advisor-results/product-advisor-results.component.ts
  src/styles/pages/product-advisor/product-advisor.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add skill figma to pwa
  .github/instructions/styles.instructions.md
  .github/skills/figma-to-pwa/SKILL.md
Due: npx prettier --loglevel warn --write

feat(product-advisor): add Flowise REST integration and interim test page
  src/app/app.module.ts
  src/app/extensions/product-advisor/facades/product-advisor.facade.ts
  src/app/extensions/product-advisor/models/product-advisor-config/product-advisor-config.model.ts
  src/app/extensions/product-advisor/models/product-advisor/product-advisor.model.ts
  src/app/extensions/product-advisor/pages/product-advisor-routing.module.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.module.ts
  src/app/extensions/product-advisor/services/product-advisor/product-advisor.service.spec.ts
  src/app/extensions/product-advisor/services/product-advisor/product-advisor.service.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(product-advisor): rework page to look and interact like a chat
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(product-advisor): show recommended products
  src/app/extensions/product-advisor/models/product-advisor-product/product-advisor-product.helper.spec.ts
  src/app/extensions/product-advisor/models/product-advisor-product/product-advisor-product.helper.ts
  src/app/extensions/product-advisor/models/product-advisor-product/product-advisor-product.model.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
