Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

fix(accessibility): fixed quote zero product behavior
  src/app/extensions/quoting/pages/quote/quote-page.component.html
  src/app/extensions/quoting/pages/quote/quote-page.component.spec.ts
  src/app/extensions/quoting/shared/quote-edit/quote-edit.component.html
  src/app/extensions/quoting/shared/quote-interactions/quote-interactions.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Update src/app/extensions/quoting/pages/quote/quote-page.component.spec.ts
  src/app/extensions/quoting/pages/quote/quote-page.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor(accessibility): quote line item list
  src/app/extensions/quoting/shared/quote-edit/quote-edit.component.html
  src/app/extensions/quoting/shared/quote-line-item-list/quote-line-item-list.component.html
  src/app/extensions/quoting/shared/quote-view/quote-view.component.html
  src/app/extensions/quoting/shared/quote-view/quote-view.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: move empty quote message to list
  src/app/extensions/quoting/pages/quote/quote-page.component.html
  src/app/extensions/quoting/pages/quote/quote-page.component.spec.ts
  src/app/extensions/quoting/shared/quote-interactions/quote-interactions.component.html
  src/app/extensions/quoting/shared/quote-line-item-list/quote-line-item-list.component.html
  src/app/extensions/quoting/shared/quote-line-item-list/quote-line-item-list.component.spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Server Setting route guard
  src/app/core/guards/server-setting.guard.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Switch component (UI element for imidiate status changes)
  src/app/shared/components/common/switch/switch.component.html
  src/app/shared/components/common/switch/switch.component.scss
  src/app/shared/components/common/switch/switch.component.spec.ts
  src/app/shared/components/common/switch/switch.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Formly information wrapper for rendering any freestyle text within generated forms
  docs/guides/formly.md
  src/app/shared/formly/wrappers/information-wrapper/information-wrapper.component.html
  src/app/shared/formly/wrappers/information-wrapper/information-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/information-wrapper/information-wrapper.component.ts
  src/app/shared/formly/wrappers/wrappers.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Formly number field (quantity input with + and - buttons)
  docs/guides/formly.md
  src/app/shared/formly/dev/testing/formly-testing.module.ts
  src/app/shared/formly/types/number-field/number-field.component.html
  src/app/shared/formly/types/number-field/number-field.component.scss
  src/app/shared/formly/types/number-field/number-field.component.spec.ts
  src/app/shared/formly/types/number-field/number-field.component.ts
  src/app/shared/formly/types/types.module.ts
  src/app/shared/formly/wrappers/validation-wrapper/validation-wrapper.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: refactor minor styling issues
  src/styles/global/global.scss
  src/styles/main.scss
  src/styles/themes/b2b/variables.scss
  src/styles/themes/b2c/variables.scss
Due: none

feat: add paypal v2 component
  src/app/pages/checkout-payment/checkout-payment-page.module.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.html
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.spec.ts
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display paypal buttons only if paypal payment method is available
  src/app/core/facades/checkout.facade.ts
  src/app/core/models/payment-method/payment-method.model.ts
  src/app/pages/checkout-payment/checkout-payment-page.component.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.html
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add paypal createOrder functionality
  src/app/core/facades/checkout.facade.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: route to review page
  src/app/core/facades/checkout.facade.ts
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.html
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add query parameter to review url onApprove
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.html
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.scss
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: show redirect failure and cancel messages
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display an info message in case the paypal script could not be loaded
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.html
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: delete payment after the user has cancelled to authorization
  src/app/core/services/payment/payment.service.ts
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: extend script loader option by (data) attributes
  src/app/core/utils/script-loader/script-loader.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: enable payLater button
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.html
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: documentation adjustments + punchout header migration note (#1900)
  .vscode/intershop.txt
  docs/guides/formly.md
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

i18n: adjust French localization
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

refactor: cleanup paypal component
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.spec.ts
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: change demo server (to be reverted later)
  .github/workflows/demo-server-up.yml
  .github/workflows/development.yml
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

fixup! refactor: cleanup paypal component
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(accessibility): add info message if a quote is empty (#1891)
  src/app/extensions/quoting/pages/quote/quote-page.component.html
  src/app/extensions/quoting/pages/quote/quote-page.component.spec.ts
  src/app/extensions/quoting/shared/quote-edit/quote-edit.component.html
  src/app/extensions/quoting/shared/quote-interactions/quote-interactions.component.html
  src/app/extensions/quoting/shared/quote-line-item-list/quote-line-item-list.component.html
  src/app/extensions/quoting/shared/quote-line-item-list/quote-line-item-list.component.spec.ts
  src/app/extensions/quoting/shared/quote-view/quote-view.component.html
  src/app/extensions/quoting/shared/quote-view/quote-view.component.spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor(accessibility): focus on checkout page titles
  projects/requisition-management/src/app/components/checkout-receipt-requisition/checkout-receipt-requisition.component.html
  src/app/pages/checkout-address/checkout-address-page.component.html
  src/app/pages/checkout-payment/checkout-payment-page.component.html
  src/app/pages/checkout-receipt/checkout-receipt-order/checkout-receipt-order.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-shipping/checkout-shipping-page.component.html
  src/app/pages/checkout/checkout-page.component.html
Due: npx prettier --loglevel warn --write

refactor(accessibility): set focus on checkout page headings (#1901)
  projects/requisition-management/src/app/components/checkout-receipt-requisition/checkout-receipt-requisition.component.html
  src/app/pages/checkout-address/checkout-address-page.component.html
  src/app/pages/checkout-payment/checkout-payment-page.component.html
  src/app/pages/checkout-receipt/checkout-receipt-order/checkout-receipt-order.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-shipping/checkout-shipping-page.component.html
  src/app/pages/checkout/checkout-page.component.html
  src/styles/global/global.scss
  src/styles/main.scss
  src/styles/themes/b2b/variables.scss
  src/styles/themes/b2c/variables.scss
Due: npx prettier --loglevel warn --write

feat: 1st express paypal checkout support
  src/app/core/facades/checkout.facade.ts
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.html
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.spec.ts
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.ts
  src/app/pages/checkout-payment/checkout-payment-page.module.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/payment-paypal/payment-paypal.component.ts
  src/app/shared/components/checkout/payment-paypal/payment-paypal.component.html
  src/app/shared/components/checkout/payment-paypal/payment-paypal.component.scss
  src/app/shared/components/checkout/payment-paypal/payment-paypal.component.spec.ts
  src/app/shared/components/checkout/payment-paypal/payment-paypal.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add account content includes
  docs/guides/migrations.md
  src/app/pages/account-order-history/account-order-history-page.component.html
  src/app/pages/account-order-history/account-order-history-page.component.spec.ts
  src/app/pages/account-overview/account-overview/account-overview.component.html
  src/app/pages/account-overview/account-overview/account-overview.component.spec.ts
  src/app/pages/account/account-page.component.html
  src/app/pages/account/account-page.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add account content includes (#1904)
  docs/guides/migrations.md
  src/app/pages/account-order-history/account-order-history-page.component.html
  src/app/pages/account-order-history/account-order-history-page.component.spec.ts
  src/app/pages/account-overview/account-overview/account-overview.component.html
  src/app/pages/account-overview/account-overview/account-overview.component.spec.ts
  src/app/pages/account/account-page.component.html
  src/app/pages/account/account-page.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: change route parameter for brand search (#107034)
  src/app/shared/components/search/search-box/search-box.component.html
  src/app/shared/components/search/search-box/search-box.component.ts
  src/app/shared/components/search/suggest-brands/suggest-brands.component.html
  src/app/shared/components/search/suggest-brands/suggest-brands.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(REMOVED): remove Sentry client-side error monitoring integration
  .eslintrc.json
  docs/README.md
  docs/concepts/configuration.md
  docs/guides/cookie-consent.md
  docs/guides/migrations.md
  docs/guides/sentry-error-monitoring.md
  docs/guides/ssr-startup.md
  package-lock.json
  package.json
  src/app/extensions/sentry/exports/sentry-exports.module.ts
  src/app/extensions/sentry/sentry.module.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.actions.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.effects.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.reducer.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.selectors.ts
  src/app/extensions/sentry/store/sentry-store.module.ts
  src/app/extensions/sentry/store/sentry-store.ts
  src/app/shell/shell.module.ts
  src/environments/environment.model.ts
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(REMOVED): remove Sentry client-side error monitoring integration (#1907)
  .eslintrc.json
  docs/README.md
  docs/concepts/configuration.md
  docs/guides/cookie-consent.md
  docs/guides/migrations.md
  docs/guides/sentry-error-monitoring.md
  docs/guides/ssr-startup.md
  package-lock.json
  package.json
  src/app/extensions/sentry/exports/sentry-exports.module.ts
  src/app/extensions/sentry/sentry.module.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.actions.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.effects.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.reducer.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.selectors.ts
  src/app/extensions/sentry/store/sentry-store.module.ts
  src/app/extensions/sentry/store/sentry-store.ts
  src/app/shell/shell.module.ts
  src/environments/environment.model.ts
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: templat test
  README.md
Due: npx prettier --loglevel warn --write

chore: update pull request template
  .github/pull_request_template.md
Due: npx prettier --loglevel warn --write
