Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add tests for cost center selector
  src/app/core/store/customer/user/user.reducer.ts
  src/app/core/store/customer/user/user.selectors.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add tests for the cost center selection component
  src/app/shared/components/checkout/cost-center-selection/cost-center-selection.component.spec.ts
  src/app/shared/components/checkout/cost-center-selection/cost-center-selection.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: display loading animation, lint errors fixed
  projects/requisition-management/src/app/models/requisition/requisition.mapper.spec.ts
  src/app/core/facades/checkout.facade.spec.ts
  src/app/core/facades/checkout.facade.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/user/user.effects.spec.ts
  src/app/pages/basket/basket-page.component.ts
  src/app/shared/components/checkout/cost-center-selection/cost-center-selection.component.spec.ts
  src/app/shared/components/checkout/cost-center-selection/cost-center-selection.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: validate cost center selection, initialize select box with the basket cost center
  src/app/core/facades/checkout.facade.spec.ts
  src/app/core/facades/checkout.facade.ts
  src/app/core/models/order/order.mapper.ts
  src/app/core/services/user/user.service.ts
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/shared/components/basket/basket-validation-results/basket-validation-results.component.ts
  src/app/shared/components/checkout/cost-center-selection/cost-center-selection.component.html
  src/app/shared/components/checkout/cost-center-selection/cost-center-selection.component.spec.ts
  src/app/shared/components/checkout/cost-center-selection/cost-center-selection.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: move cost center selection to shopping cart page
  src/app/core/store/customer/basket/basket-validation.effects.ts
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.spec.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.html
  src/app/shared/components/checkout/cost-center-selection/cost-center-selection.component.spec.ts
  src/app/shared/components/checkout/cost-center-selection/cost-center-selection.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rename cost-center-selection component
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.spec.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.html
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.spec.ts
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display cost center name in basket/order buyer widget
  src/app/core/facades/checkout.facade.spec.ts
  src/app/core/facades/checkout.facade.ts
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.html
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent unnecessary cost center REST calls
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Initial commit
  .prettierignore
  templates/jmeter-testplan.jmx
Due: none

add e2e tests for cost center selection
  e2e/cypress/integration/pages/checkout/cart.page.ts
  e2e/cypress/integration/pages/checkout/checkout-receipt.page.ts
  e2e/cypress/integration/pages/checkout/checkout-review.page.ts
  e2e/cypress/integration/pages/header.module.ts
  e2e/cypress/integration/specs/checkout/checkout-cost-center.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

inline snapshot formatting fixes
  projects/requisition-management/src/app/models/requisition/requisition.mapper.spec.ts
  src/app/core/facades/checkout.facade.spec.ts
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: broken page on missing requisition data like user and budget (#859)
  projects/requisition-management/src/app/components/requisitions-list/requisitions-list.component.html
  projects/requisition-management/src/app/models/requisition/requisition.mapper.spec.ts
  projects/requisition-management/src/app/models/requisition/requisition.mapper.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-buyer-approval/requisition-buyer-approval.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: Cost Center selection for checkout (#807)
  e2e/cypress/integration/pages/checkout/cart.page.ts
  e2e/cypress/integration/pages/checkout/checkout-receipt.page.ts
  e2e/cypress/integration/pages/checkout/checkout-review.page.ts
  e2e/cypress/integration/pages/header.module.ts
  e2e/cypress/integration/specs/checkout/checkout-cost-center.b2b.e2e-spec.ts
  projects/requisition-management/src/app/models/requisition/requisition.mapper.spec.ts
  src/app/core/facades/checkout.facade.spec.ts
  src/app/core/facades/checkout.facade.ts
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/basket/basket.model.ts
  src/app/core/models/cost-center/cost-center.model.ts
  src/app/core/models/order/order.mapper.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/customer/basket/basket-validation.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.effects.spec.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/store/customer/user/user.reducer.ts
  src/app/core/store/customer/user/user.selectors.spec.ts
  src/app/core/store/customer/user/user.selectors.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.spec.ts
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.html
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.ts
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.html
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.spec.ts
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.ts
  src/app/shared/components/basket/basket-validation-results/basket-validation-results.component.ts
  src/app/shared/shared.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: stylePreprocessorOptions missing on server build (#834)
  angular.json
Due: npx prettier --loglevel warn --write

fix: let purgecss only search app sources
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: do not purge footer styles
  src/styles/components/footer/footer.scss
Due: none

test(e2e): display cookie banner only for test that needs it
  e2e/cypress/integration/specs/system/cookie-consent.b2c.e2e-spec.ts
  e2e/cypress/support/commands.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

load and collect urls from sitemap
  templates/jmeter-testplan.jmx
Due: none

refactor: optimize clean-up-localizations script for projects (#830)
  scripts/clean-up-localizations.js
Due: npx prettier --loglevel warn --write

fix: enable logout of punchout user in combination with SSO (#852)
  src/app/core/guards/identity-provider-logout.guard.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

use regex extractor to get urls
  templates/jmeter-testplan.jmx
Due: none

fix
  templates/jmeter-testplan.jmx
Due: none

get sitemap and loop over given urls
  templates/jmeter-testplan.jmx
Due: none

feat: add version method for inspecting version information (#858)
  src/polyfills.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 1.1.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

add thread group with paramerized paths
  templates/jmeter-testplan.jmx
Due: none

new testplan and script to get urls
  scripts/correct-urls.js
  scripts/parameterized-urls.js
  templates/jmeter-testplan.jmx
Due: npx prettier --loglevel warn --write

chore: release 1.1.0 preparation (#860)
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

update wrong ms365 login
  .github/workflows/demo-server.yml
Due: npx prettier --loglevel warn --write

update wrong ms365 login with slash
  .github/workflows/demo-server.yml
Due: npx prettier --loglevel warn --write

disable strictDiscoveryDocumentValidation
  src/app/core/identity-provider/auth0.identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix wrong slash in oid
  .github/workflows/demo-server.yml
  src/app/core/identity-provider/auth0.identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

change icm url to https
  .github/workflows/demo-server.yml
Due: npx prettier --loglevel warn --write

change icm uri
  .github/workflows/demo-server.yml
Due: npx prettier --loglevel warn --write

add new azureAD identity provider
  .github/workflows/demo-server.yml
  src/app/core/identity-provider/azureAD.identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
