Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use feature subscription instead of static check in lazy components (#1138)
  schematics/src/lazy-component/factory.ts
  schematics/src/lazy-component/factory_spec.ts
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
  src/app/core/utils/feature-toggle/feature-toggle.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: URL encode formParamsToString values (#1115)
  src/app/core/utils/url-form-params.spec.ts
  src/app/core/utils/url-form-params.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: restrict display types of components (#1120)
  src/app/extensions/compare/shared/product-add-to-compare/product-add-to-compare.component.ts
  src/app/pages/product/retail-set-parts/retail-set-parts.component.ts
  src/app/shared/cms/components/cms-product-list-category/cms-product-list-category.component.html
  src/app/shared/cms/components/cms-product-list-filter/cms-product-list-filter.component.html
  src/app/shared/cms/components/cms-product-list-manual/cms-product-list-manual.component.html
  src/app/shared/components/product/product-item/product-item.component.ts
  src/app/shared/components/product/product-promotion/product-promotion.component.ts
  src/app/shared/components/product/products-list/products-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: enable locale override for development mode
  src/app/core/store/core/configuration/configuration.selectors.spec.ts
  src/app/core/store/core/configuration/configuration.selectors.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: load product lists after a specified duration again
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/core/utils/operators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: move getFilteredProducts from FilterService to ProductsService
  src/app/core/services/filter/filter.service.spec.ts
  src/app/core/services/filter/filter.service.ts
  src/app/core/services/products/products.service.spec.ts
  src/app/core/services/products/products.service.ts
  src/app/core/store/content/content-store.spec.ts
  src/app/core/store/content/parameters/parameters.effects.spec.ts
  src/app/core/store/content/parameters/parameters.effects.ts
  src/app/core/store/shopping/filter/filter.effects.spec.ts
  src/app/core/store/shopping/filter/filter.effects.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: make stub attributes overridable
  src/app/core/services/products/products-list-attributes.ts
  src/app/core/services/products/products.service.spec.ts
  src/app/core/services/products/products.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: clean-localizations on used sources (#1047)
  docs/concepts/localization.md
  scripts/clean-up-localizations.js
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: update migration guide
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

feat: make products service default attrs easily overridable (#1098)
  docs/guides/migrations.md
  src/app/core/services/filter/filter.service.spec.ts
  src/app/core/services/filter/filter.service.ts
  src/app/core/services/products/products-list-attributes.ts
  src/app/core/services/products/products.service.spec.ts
  src/app/core/services/products/products.service.ts
  src/app/core/store/content/content-store.spec.ts
  src/app/core/store/content/parameters/parameters.effects.spec.ts
  src/app/core/store/content/parameters/parameters.effects.ts
  src/app/core/store/shopping/filter/filter.effects.spec.ts
  src/app/core/store/shopping/filter/filter.effects.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: fix spacing for old prices and scaled prices - add missing changes
  src/app/shared/components/basket/basket-items-summary/basket-items-summary.component.html
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.html
Due: npx prettier --loglevel warn --write

feat: introduce price update strategies (#1089)
  src/app/core/configurations/injection-keys.ts
  src/app/core/facades/product-context.facade.ts
  src/app/core/facades/shopping.facade.ts
  src/app/core/models/price/price.model.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: add pipeline for automated upgrade
  .github/workflows/automated-upgrade.yml
  scripts/upgrade-pwa.js
Due: npx prettier --loglevel warn --write

fix: allow same product list call after a specified time (#1140)
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/core/utils/operators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: use utility for setting jest module name mapping
  jest.config.js
Due: npx prettier --loglevel warn --write

perf(test): ignore test relations over certain boundaries when testing locally
  jest.config.haste-map.js
  jest.config.js
Due: npx prettier --loglevel warn --write

fix: enable locale override for development mode (#1139)
  src/app/core/store/core/configuration/configuration.selectors.spec.ts
  src/app/core/store/core/configuration/configuration.selectors.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore(test): run cleanup-testbed on related tests to products.service
  src/app/extensions/recently/store/recently/recently.integration.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 2.3.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  docs/guides/google-tag-manager.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

build: add pipeline for automated upgrade (#1091)
  .github/workflows/automated-upgrade.yml
  scripts/upgrade-pwa.js
Due: npx prettier --loglevel warn --write

fix: make override schematic robust to path seperators
  schematics/src/helpers/override/factory.ts
  schematics/src/helpers/override/factory_spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixup! fix: make override schematic robust to path seperators
  schematics/src/helpers/override/factory.ts
  schematics/src/helpers/override/factory_spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: adapt remaining gitignore paths
  projects/organization-management/src/app/exports/.gitignore
  projects/requisition-management/src/app/exports/.gitignore
  src/app/shell/shared/.gitignore
Due: none

fix: replace with empty postinstall
  scripts/upgrade-pwa.js
Due: npx prettier --loglevel warn --write

chore: temporarily activate workflow for branch
  .github/workflows/automated-upgrade.yml
Due: npx prettier --loglevel warn --write

chore: remove install step
  .github/workflows/automated-upgrade.yml
Due: npx prettier --loglevel warn --write

chore: add cancel previous workflow
  .github/workflows/automated-upgrade.yml
Due: npx prettier --loglevel warn --write

fix: update dockerignore
  .dockerignore
Due: none

chore: temporarily build from current branch
  .github/workflows/automated-upgrade.yml
Due: npx prettier --loglevel warn --write

chore: repair reporting known incompatibilities
  scripts/upgrade-pwa.js
Due: npx prettier --loglevel warn --write

fix: cookie page guard should only use NgModal on browser
  src/app/pages/cookies/cookies-page.guard.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: run on PRs that change the upgrade script
  .github/workflows/automated-upgrade.yml
Due: npx prettier --loglevel warn --write

chore: run tests in upgrade branch
  .github/workflows/automated-upgrade.yml
Due: npx prettier --loglevel warn --write

chore: pin jest at version 27
  scripts/upgrade-pwa.js
Due: npx prettier --loglevel warn --write

fix(schematics): create gitignore with correct ignore path (#1124)
  .dockerignore
  projects/organization-management/src/app/exports/.gitignore
  projects/requisition-management/src/app/exports/.gitignore
  schematics/src/lazy-component/factory.ts
  schematics/src/lazy-component/factory_spec.ts
  src/app/shell/shared/.gitignore
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
