Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 0.10.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

ISREST-628: b2b e2e tests for quotes
  cypress/integration/framework/b2b-user.ts
  cypress/integration/framework/quote-mock.ts
  cypress/integration/pages/account/my-account.page.ts
  cypress/integration/pages/account/quote-detail.page.ts
  cypress/integration/pages/account/quote-list.page.ts
  cypress/integration/pages/checkout/cart.page.ts
  cypress/integration/pages/checkout/mini-cart.module.ts
  cypress/integration/pages/header.module.ts
  cypress/integration/pages/shopping/product-detail.page.ts
  cypress/integration/pages/shopping/product-list.module.ts
  cypress/integration/pages/shopping/quote-request.dialog.ts
  cypress/integration/specs/quoting/quote-handling.b2b.e2e-spec.ts
  package-lock.json
  package.json
  src/app/extensions/quoting/shared/account/components/quote-widget/quote-widget.component.html
  src/app/extensions/quoting/shared/account/components/quote-widget/quote-widget.component.ts
  src/app/extensions/quoting/shared/account/containers/quote-widget/quote-widget.container.html
  src/app/extensions/quoting/shared/product/components/product-add-to-quote-dialog/product-add-to-quote-dialog.component.html
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.html
  src/app/shared/basket/components/line-item-list/line-item-list.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

prettier ignore improvements for project setups
  .prettierignore
Due: none

'intershop-pwa' release script improvements (work with version numbers above 0.9.x, not automatically pushing tag to bitbucket)
  templates/02_merge_release.sh
  templates/03_tag_bitbucket_release.sh
Due: none

apply stylelint rules/formatting to all .scss files in the 'src' folder (not just 'src/theme')
  package.json
  src/app/shared/common/components/loading/loading.component.scss
Due: npx prettier --loglevel warn --write

add 'TODO:'s for CMS link handling
  src/app/core/models/content-view/content-view.helper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

syncronize environment.ts settings
  src/environments/environment.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-634: select boxes added on account addresses page for specifying preferred invoice and shipping address
  cypress/integration/specs/checkout/shopping-user.b2c.e2e-spec.ts
  src/app/core/models/customer/customer.mapper.ts
  src/app/core/models/customer/customer.model.ts
  src/app/core/models/user/user.mapper.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/user/user.actions.ts
  src/app/core/store/user/user.effects.spec.ts
  src/app/core/store/user/user.effects.ts
  src/app/core/store/user/user.reducer.spec.ts
  src/app/core/store/user/user.reducer.ts
  src/app/core/store/user/user.selectors.spec.ts
  src/app/pages/account-addresses/account-addresses-page.container.html
  src/app/pages/account-addresses/account-addresses-page.container.ts
  src/app/pages/account-addresses/components/account-addresses-page/account-addresses-page.component.html
  src/app/pages/account-addresses/components/account-addresses-page/account-addresses-page.component.spec.ts
  src/app/pages/account-addresses/components/account-addresses-page/account-addresses-page.component.ts
  src/app/pages/checkout-address/components/checkout-address/checkout-address.component.ts
  src/app/shared/forms/components/select-address/select-address.component.spec.ts
  src/app/shared/forms/components/select-address/select-address.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 0.10.5 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

Fixed ISREST-631 and corrected some errors in the English and German file.
  cypress/integration/specs/account/register-user.b2c.e2e-spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-638 Fix compare explanation text
  src/app/pages/compare/compare-page.container.html
Due: npx prettier --loglevel warn --write

moved pwa release creation shell scripts to an own project (https://gitlab.intershop.de/ISPWA/pwa-release-tools)
  templates/01_prepare_release.sh
  templates/02_merge_release.sh
  templates/03_tag_bitbucket_release.sh
Due: none

let npm handle package.json style
  .prettierignore
  package.json
Due: npx prettier --loglevel warn --write

renamed ContentEntryPoint to ContentPageletEntryPoint to better reflect the naming and type hierarchy in the backend CMS (ContentEntryPoint vs. PageletEntryPoint)
  src/app/cms/containers/content-include/content-include.container.spec.ts
  src/app/core/models/content-entry-point/content-entry-point.interface.ts
  src/app/core/models/content-entry-point/content-entry-point.mapper.ts
  src/app/core/models/content-entry-point/content-entry-point.model.ts
  src/app/core/models/content-pagelet-entry-point/__snapshots__/content-pagelet-entry-point.mapper.spec.ts.snap
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.interface.ts
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.mapper.spec.ts
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.mapper.ts
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.model.ts
  src/app/core/models/content-view/__snapshots__/content-views.spec.ts.snap
  src/app/core/models/content-view/content-views.spec.ts
  src/app/core/models/content-view/content-views.ts
  src/app/core/services/cms/cms.service.ts
  src/app/core/store/content/includes/includes.actions.ts
  src/app/core/store/content/includes/includes.effects.spec.ts
  src/app/core/store/content/includes/includes.reducer.spec.ts
  src/app/core/store/content/includes/includes.reducer.ts
  src/app/core/store/content/includes/includes.selectors.spec.ts
  src/app/core/store/content/includes/includes.selectors.ts
  src/app/core/store/content/pagelets/pagelets.integration.spec.ts
  src/app/core/store/content/pages/pages.actions.ts
  src/app/core/store/content/pages/pages.reducer.ts
  src/app/core/store/content/pages/pages.selectors.spec.ts
  src/app/core/store/content/pages/pages.selectors.ts
  src/app/pages/content/components/content-page/content-page.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

renamed ContentEntryPointView to ContentPageletEntryPointView to better reflect the naming and type hierarchy in the backend CMS (ContentEntryPoint vs. PageletEntryPoint)
  src/app/cms/containers/content-include/content-include.container.ts
  src/app/core/models/content-view/content-views.spec.ts
  src/app/core/models/content-view/content-views.ts
  src/app/core/store/content/includes/includes.selectors.ts
  src/app/core/store/content/pages/pages.selectors.ts
  src/app/pages/content/components/content-page/content-page.component.spec.ts
  src/app/pages/content/components/content-page/content-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

renamed ConfigParameterView to ContentConfigurationParameterView for naming pattern consistency
  src/app/core/models/content-view/content-view.helper.ts
  src/app/core/models/content-view/content-views.spec.ts
  src/app/core/models/content-view/content-views.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

renenamed und restructured Content Views to fit the backend object hierarchy
  src/app/cms/components/cms-carousel/cms-carousel.component.spec.ts
  src/app/cms/components/cms-container/cms-container.component.spec.ts
  src/app/cms/components/cms-standard-page/cms-standard-page.component.spec.ts
  src/app/cms/components/cms-static-page/cms-static-page.component.spec.ts
  src/app/cms/components/cms-video/cms-video.component.spec.ts
  src/app/cms/containers/content-slot/content-slot.container.spec.ts
  src/app/core/models/content-view/content-views.ts
  src/app/core/utils/dev/test-data-utils.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

bugfix/ISREST-645_quoting_create_new_request_from_quote_routing
  src/app/extensions/quoting/models/quote-line-item-result/quote-line-item-result.model.ts
  src/app/extensions/quoting/services/quote-request/quote-request.service.ts
  src/app/extensions/quoting/services/quote/quote.service.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.ts
  src/app/extensions/quoting/store/quote/quote.effects.spec.ts
  src/app/extensions/quoting/store/quote/quote.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

renamed QuoteLineItemResultModel to QuoteLineItemResult to fit the naming pattern
  src/app/extensions/quoting/models/quote-line-item-result/quote-line-item-result.model.ts
  src/app/extensions/quoting/services/quote-request/quote-request.service.ts
  src/app/extensions/quoting/services/quote/quote.service.ts
  src/app/extensions/quoting/store/quote-request/quote-request.actions.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.spec.ts
  src/app/extensions/quoting/store/quote-request/quote-request.reducer.spec.ts
  src/app/extensions/quoting/store/quote/quote.actions.ts
  src/app/extensions/quoting/store/quote/quote.effects.spec.ts
  src/app/extensions/quoting/store/quote/quote.reducer.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-671: cleaned up the quoting details buttons styling to be more consistent
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.html
  src/theme/global/buttons.scss
Due: npx prettier --loglevel warn --write

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
