Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

feat: display a success/info message after a requisition has been approved/rejected (#887)
  projects/requisition-management/src/app/store/requisitions/requisitions.effects.spec.ts
  projects/requisition-management/src/app/store/requisitions/requisitions.effects.ts
  scripts/clean-up-localizations.js
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rename CostCenter model to UserCostCenter (#887)
  src/app/core/facades/checkout.facade.spec.ts
  src/app/core/models/user-cost-center/user-cost-center.model.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.reducer.ts
  src/app/core/store/customer/user/user.selectors.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: extend the authorization service and directive to check against multiple permissions
  src/app/core/directives/authorization-toggle.directive.spec.ts
  src/app/core/directives/authorization-toggle.directive.ts
  src/app/core/utils/authorization-toggle/authorization-toggle.service.spec.ts
  src/app/core/utils/authorization-toggle/authorization-toggle.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixup! docs: revive customization documentation
  docs/guides/development.md
Due: npx prettier --loglevel warn --write

Update customizations.md
  docs/guides/customizations.md
Due: npx prettier --loglevel warn --write

Update development.md
  docs/guides/development.md
Due: npx prettier --loglevel warn --write

fix formatting
  docs/guides/customizations.md
Due: npx prettier --loglevel warn --write

fix: check for whole occurences of localizations
  scripts/clean-up-localizations.js
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: check for whole occurences of localizations (#907)
  scripts/clean-up-localizations.js
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: update placeholders correctly on SSR (#906)
  src/app/shared/formly/extensions/translate-placeholder.extension.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add option to effectively disable SSR for browsers in nginx
  Dockerfile
  Dockerfile_noSSR
  docker-compose.yml
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/features/ssr-off.conf
  nginx/features/ssr.conf
  nginx/templates/multi-channel.conf.tmpl
  scripts/check-file-synchronization.js
Due: npx prettier --loglevel warn --write

feat: nossr rewrite with map
  nginx/features/ssr-off.conf
  nginx/features/ssr.conf
  nginx/templates/multi-channel.conf.tmpl
Due: none

fixup! fixup! feat: add option to effectively disable SSR for browsers in nginx
  nginx/templates/cache-blacklist.conf.tmpl
  nginx/templates/multi-channel.conf.tmpl
Due: none

refactor: nossr -> ssr variable name change
  nginx/features/ssr-off.conf
  nginx/features/ssr.conf
  nginx/templates/multi-channel.conf.tmpl
Due: none

refactor: remove unnecessary nginx map logic
  nginx/features/ssr-off.conf
  nginx/features/ssr.conf
Due: none

fixup! feat: add option to effectively disable SSR for browsers in nginx
  nginx/templates/multi-channel.conf.tmpl
Due: none

revert nossr map change
  nginx/features/ssr-off.conf
Due: none

no cache blacklist if in location
  nginx/templates/cache-blacklist.conf.tmpl
  nginx/templates/multi-channel.conf.tmpl
Due: none

changes after review
  docs/guides/customizations.md
  docs/guides/development.md
Due: npx prettier --loglevel warn --write

changes after review
  docs/guides/customizations.md
Due: npx prettier --loglevel warn --write

fix: dns resolve issue in ssr
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

replace dead link in documentation
  docs/concepts/state-management.md
Due: npx prettier --loglevel warn --write

fix: contact us page can't be used twice
  src/app/pages/contact/contact-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add link to Meetup presentation "How to do projects with Intershop PWA 1.0 and Themes"
  docs/guides/customizations.md
Due: npx prettier --loglevel warn --write

variables import documentation improvements
  docs/guides/customizations.md
Due: npx prettier --loglevel warn --write

docs: revive customization documentation (#910)
  .vscode/intershop.txt
  docs/concepts/state-management.md
  docs/guides/customizations.md
  docs/guides/development.md
Due: npx prettier --loglevel warn --write

fix: contact us page can't be used twice (#915)
  src/app/pages/contact/contact-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display wishlist items in the wishlist widget
  src/app/extensions/wishlists/shared/wishlist-widget/wishlist-widget.component.html
  src/app/extensions/wishlists/shared/wishlist-widget/wishlist-widget.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: styling adaptions after swiper upgrade
  src/styles/global/swiper.scss
Due: none

additional swiper markup and configuration consolidation
  src/app/extensions/wishlists/shared/wishlist-widget/wishlist-widget.component.html
  src/app/extensions/wishlists/shared/wishlist-widget/wishlist-widget.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display wishlist items in the wishlist widget (#917)
  src/app/extensions/wishlists/shared/wishlist-widget/wishlist-widget.component.html
  src/app/extensions/wishlists/shared/wishlist-widget/wishlist-widget.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: make ICM sitemap files available via nginx
  .vscode/intershop.txt
  docs/guides/nginx-startup.md
  nginx/entrypoint.sh
  nginx/templates/multi-channel.conf.tmpl
  nginx/templates/sitemap.conf.tmpl
Due: npx prettier --loglevel warn --write

chore: release 1.3.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: release 1.3.0 preparation (#919)
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write
