Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

feat: introduce a general print styling, e.g. to nicely print to PDF (#1376)
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.html
  src/app/extensions/quickorder/shared/direct-order/direct-order.component.html
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/app/shared/components/line-item/line-item-list/line-item-list.component.html
  src/styles/global/print.scss
Due: npx prettier --loglevel warn --write

chore: release 4.0.0 preparation
  .vscode/intershop.txt
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: release 4.0.0 preparation (#1412)
  .vscode/intershop.txt
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix: identity Provider init() should be triggered async
  src/app/core/identity-provider/identity-provider.factory.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Add inline comment to explain with a setTimeout is needed
  src/app/core/identity-provider/identity-provider.factory.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: identity Provider init() should be triggered async (#1415)
  src/app/core/identity-provider/identity-provider.factory.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: update package-lock.json
  package-lock.json
Due: npx prettier --loglevel warn --write

fix: add items to basket with common shipping method
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: handle case where all recently viewed products are failed/offline
  src/app/core/facades/shopping.facade.ts
  src/app/extensions/recently/facades/recently.facade.ts
  src/app/shared/components/product/products-list/products-list.component.html
  src/app/shared/components/product/products-list/products-list.component.spec.ts
  src/app/shared/components/product/products-list/products-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add tests
  src/app/extensions/recently/facades/recently.facade.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: fix e2e test due to shipping restrictions
  e2e/cypress/e2e/specs/extras/order-templates-shopping.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add names of schematics and eslint rules
  package-lock.json
Due: npx prettier --loglevel warn --write

fix: add items to basket with common shipping method (#1419)
  e2e/cypress/e2e/specs/extras/order-templates-shopping.b2b.e2e-spec.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: convert package-lock.json to lockfileVersion 3
  package-lock.json
Due: npx prettier --loglevel warn --write

deps: latest Angular CLI update for packages (Angular 15.2.8)
  .eslintrc.json
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

deps: vm2 < 3.9.16 vulnerability fix
  package-lock.json
Due: npx prettier --loglevel warn --write

deps: Angular CLI update for packages - @types/node@18, eslint@*, ng-mocks@*, stylelint@*
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

deps: dependencies updates and package-lock.json format fix (#1422)
  .eslintrc.json
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat: added comments regarding logging to an external device.
  docker-compose.yml
Due: npx prettier --loglevel warn --write

docs: move volume mapping documentation from docker-compose.yml example to the actual logging documentation
  docker-compose.yml
  docs/concepts/logging.md
Due: npx prettier --loglevel warn --write

feat: documentation adjustments
  docs/concepts/logging.md
Due: npx prettier --loglevel warn --write

feat: add domService for DOM manipulations
  docs/guides/angular-component-development.md
  src/app/core/utils/dom/dom.service.spec.ts
  src/app/core/utils/dom/dom.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: fix volatile cost center order e2e test
  e2e/cypress/e2e/specs/checkout/checkout-cost-center-order.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: extend logging documentation for logging to an external device (#1417)
  docker-compose.yml
  docs/concepts/logging.md
Due: npx prettier --loglevel warn --write

deps: update to use Node.js 18.16.0 with npm 9.5.1 to solve issue #1416
  .github/workflows/dead-code.yml
  .github/workflows/development.yml
  .github/workflows/docs.yml
  .github/workflows/integration.yml
  .github/workflows/updates.yml
  .github/workflows/windows.yml
  Dockerfile
  Dockerfile_reports
  docs/guides/getting-started.md
  docs/guides/migrations.md
  e2e/package-lock.json
  e2e/package.json
  package-lock.json
  package.json
  templates/Dockerfile_dev
Due: npx prettier --loglevel warn --write

deps: update to use Node.js 18.16.0 with npm 9.5.1 to solve issue #1416 (#1423)
  .github/workflows/dead-code.yml
  .github/workflows/development.yml
  .github/workflows/docs.yml
  .github/workflows/integration.yml
  .github/workflows/updates.yml
  .github/workflows/windows.yml
  Dockerfile
  Dockerfile_reports
  docs/guides/getting-started.md
  docs/guides/migrations.md
  e2e/package-lock.json
  e2e/package.json
  package-lock.json
  package.json
  templates/Dockerfile_dev
Due: npx prettier --loglevel warn --write

refactor: add eslint rule to disallow import of DomService in components or directives
  .eslintrc.json
Due: npx prettier --loglevel warn --write

refactor: use domService / Angular Renderer2 for DOM manipulations
  src/app/core/directives/scroll.directive.ts
  src/app/core/directives/server-html.directive.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/messages/messages.effects.ts
  src/app/core/utils/script-loader/script-loader.service.ts
  src/app/core/utils/theme/theme.service.ts
  src/app/extensions/punchout/services/punchout/punchout.service.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
  src/app/extensions/tacton/pages/configure/tacton-configure-navigation/tacton-configure-navigation.component.ts
  src/app/extensions/tracking/store/tracking-config/tracking-config.effects.ts
  src/app/pages/checkout-payment/payment-payone-creditcard/payment-payone-creditcard.component.ts
  src/app/shared/components/common/in-place-edit/in-place-edit.component.ts
  src/app/shared/components/common/modal-dialog/modal-dialog.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add a blog link to the SSR guide
  docs/guides/ssr-startup.md
Due: npx prettier --loglevel warn --write

test: refactor - use user sensibleDefaults spread operator first
  e2e/cypress/e2e/specs/account/addresses-crud.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/account/edit-user-company.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/account/edit-user-details.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/account/edit-user-email.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/account/edit-user-password.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/account/register-user.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/account/register-user.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/account/user-creation.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/checkout/basket-handling.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/checkout/basket-promotion-handling.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/checkout/checkout-cost-center-order.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/checkout/checkout-payments.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/checkout/checkout-validation.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/checkout/register-before-checkout.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/checkout/shopping-prices.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/checkout/shopping-prices.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/checkout/shopping-user.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/extras/order-templates-management.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/extras/order-templates-shopping.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/extras/price-notifications.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/extras/punchout-management.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/extras/wishlists-management.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/extras/wishlists-shopping.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/organizationmanagement/cost-center-management-crud.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/organizationmanagement/user-management-crud.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/quoting/quote-handling-anonymous-basket-to-quote-request.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/quoting/quote-handling-anonymous-product-to-quote-request.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/quoting/quote-handling.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/shopping/product-reviews.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/system/retain-basket-authenticated.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: adapt 'addGlobalGuard' function to work with functional guards
  src/app/core/utils/routing.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add code documentation for Hybrid Approach route guard and migration notes
  docs/guides/migrations.md
  src/app/core/guards/hybrid-redirect.guard.ts
  src/app/core/store/hybrid/hybrid-store.module.ts
  src/app/core/utils/routing.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: lazy component input are not always propagate propertly
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
Due: none

Useless import in case of no parameters components
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
Due: none
