Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: integrating_robots_through_multi_channel_configuration
  nginx/Dockerfile
  nginx/robots/inSPIRED-inTRONICS-Site_robots.txt
  nginx/robots/inSPIRED-inTRONICS_Business-Site_robots.txt
  nginx/templates/multi-channel.conf.tmpl
Due: none

feat: Create Contentful extension
  angular.json
  src/app/extensions/contentful/contentful.module.ts
  src/app/extensions/contentful/exports/contentful-exports.module.ts
  src/app/extensions/contentful/facades/contentful.facade.ts
  src/app/extensions/contentful/models/banner.model.ts
  src/app/extensions/contentful/models/category.model.ts
  src/app/extensions/contentful/models/contentfulComponent.model.ts
  src/app/extensions/contentful/models/contentfulConfig.model.ts
  src/app/extensions/contentful/models/file.model.ts
  src/app/extensions/contentful/pages/contentful-routing.module.ts
  src/app/extensions/contentful/services/contentful.service.spec.ts
  src/app/extensions/contentful/services/contentful.service.ts
  src/app/extensions/contentful/store/contentful-store.module.ts
  src/app/extensions/contentful/store/contentful-store.ts
  src/app/pages/home/home-page.component.contentful.html
  src/app/pages/home/home-page.component.contentful.ts
  src/app/pages/home/home-page.component.scss
  src/environments/environment.contentful.ts
  src/environments/environment.model.ts
  src/styles/themes/contentful/properties.scss
  src/styles/themes/contentful/style.scss
  src/styles/themes/contentful/variables.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update prometheus nginx exporter
  nginx/Dockerfile
Due: none

refactor: remove obsolete action UpdateBasketItems
  docs/guides/migrations.md
  src/app/core/models/line-item-update/line-item-update.helper.ts
  src/app/core/models/line-item-update/line-item-update.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.reducer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use take instead of first to prevent EmptyError on missing translation (#1554)
  src/app/core/utils/translate/fallback-missing-translation-handler.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update Prometheus NGINX exporter to version 1.0.0 (#1557)
  nginx/Dockerfile
Due: none

refactor: remove obsolete action UpdateBasketItems (#1556)
  docs/guides/migrations.md
  src/app/core/models/line-item-update/line-item-update.helper.ts
  src/app/core/models/line-item-update/line-item-update.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.reducer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: made initialized$ subject from identityProviderFactory private, introduce public api to access initialized$ subject values from outside, move getTriggerReturnType function to functions.ts
  src/app/core/guards/identity-provider-invite.guard.ts
  src/app/core/guards/identity-provider-login.guard.ts
  src/app/core/guards/identity-provider-logout.guard.ts
  src/app/core/guards/identity-provider-password.guard.ts
  src/app/core/guards/identity-provider-register.guard.ts
  src/app/core/identity-provider/identity-provider.factory.ts
  src/app/core/identity-provider/identity-provider.interface.ts
  src/app/core/interceptors/identity-provider.interceptor.ts
  src/app/core/utils/functions.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: add documentation
  docs/concepts/authentication.md
  docs/guides/authentication_punchout.md
  docs/guides/migrations.md
  src/app/core/identity-provider/identity-provider.factory.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: remove configuration - feature is always on (or delete the tag)
  src/app/core/configurations/injection-keys.ts
  src/app/shared/components/basket/clear-basket/clear-basket.component.html
  src/app/shared/components/basket/clear-basket/clear-basket.component.ts
  src/environments/environment.b2b.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: improvements after review
  src/app/core/services/basket-items/basket-items.service.ts
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/shared/components/basket/clear-basket/clear-basket.component.html
  src/app/shared/components/basket/clear-basket/clear-basket.component.spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: button for clearing basket
  src/app/core/configurations/injection-keys.ts
  src/app/core/facades/checkout.facade.ts
  src/app/core/models/basket-info/basket-info.mapper.ts
  src/app/core/services/basket-items/basket-items.service.spec.ts
  src/app/core/services/basket-items/basket-items.service.ts
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.spec.ts
  src/app/shared/components/basket/clear-basket/clear-basket.component.html
  src/app/shared/components/basket/clear-basket/clear-basket.component.spec.ts
  src/app/shared/components/basket/clear-basket/clear-basket.component.ts
  src/app/shared/shared.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/environments/environment.b2b.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: use updated VS Code 'source.fixAll' configuration required by VS Code 1.85.0
  .vscode/settings.json
Due: npx prettier --loglevel warn --write

docs: improved getting started guide
  docs/concepts/search-engine-optimization.md
  docs/guides/customizations.md
  docs/guides/getting-started.md
Due: npx prettier --loglevel warn --write

fix: throw error in case token is empty (#91171)
  src/app/extensions/captcha/shared/captcha-v3/captcha-v3.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: use new GitHub blockquote highlighting options
  docs/concepts/authentication.md
  docs/concepts/configuration.md
  docs/concepts/hybrid-approach.md
  docs/concepts/localization.md
  docs/concepts/multi-site-handling.md
  docs/concepts/pwa-building-blocks.md
  docs/guides/angular-change-detection.md
  docs/guides/authentication_punchout.md
  docs/guides/code-documentation.md
  docs/guides/cookie-consent.md
  docs/guides/customizations.md
  docs/guides/data-handling-with-mappers.md
  docs/guides/development.md
  docs/guides/field-library.md
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  docs/guides/prometheus-monitoring.md
  docs/guides/testing-jest.md
  docs/guides/themes.md
  docs/guides/upgrading-pwa.md
Due: npx prettier --loglevel warn --write

docs: documentation review adjustments
  docs/concepts/authentication.md
  docs/concepts/hybrid-approach.md
  docs/concepts/search-engine-optimization.md
  docs/guides/angular-change-detection.md
  docs/guides/authentication_punchout.md
  docs/guides/cookie-consent.md
  docs/guides/customizations.md
  docs/guides/development.md
  docs/guides/field-library.md
  docs/guides/getting-started.md
  docs/guides/migrations.md
  docs/guides/testing-jest.md
  docs/guides/themes.md
Due: npx prettier --loglevel warn --write

docs: rename 'upgrade' to 'update' as suggested
  .github/workflows/automated-update.yml
  .vscode/launch.json
  docs/README.md
  docs/guides/updating-pwa.md
  docs/guides/upgrading-pwa.md
  scripts/update-pwa.js
Due: npx prettier --loglevel warn --write

fix: ui changes
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/shared/components/basket/clear-basket/clear-basket.component.html
Due: npx prettier --loglevel warn --write

feat: button for clearing cart (#1537)
  src/app/core/facades/checkout.facade.ts
  src/app/core/models/basket-info/basket-info.mapper.ts
  src/app/core/services/basket-items/basket-items.service.spec.ts
  src/app/core/services/basket-items/basket-items.service.ts
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.spec.ts
  src/app/shared/components/basket/clear-basket/clear-basket.component.html
  src/app/shared/components/basket/clear-basket/clear-basket.component.spec.ts
  src/app/shared/components/basket/clear-basket/clear-basket.component.ts
  src/app/shared/shared.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

added explanation for this method instead of lodash omit
  src/app/core/utils/functions.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: type-safe omit helper (#1552)
  src/app/core/utils/functions.ts
  src/app/core/utils/meta-reducers.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: avoid scrolling up after show/hide permissions
  projects/organization-management/src/app/components/user-roles-selection/user-roles-selection.component.html
  projects/organization-management/src/app/components/user-roles-selection/user-roles-selection.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: console error after saving user roles selection
  projects/organization-management/src/app/components/user-roles-selection/user-roles-selection.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(ICM 11): sort basket line items by position - missing in ICM 11 REST API
  src/app/core/models/basket/basket.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test(ICM 11): fixes for e2e tests after switching to ICM 11
  e2e/cypress/e2e/framework/users.ts
  e2e/cypress/e2e/specs/checkout/checkout-payments.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(ICM 11): switch to ICM 11 as project dependency and configuration for develop, demo and review servers
  .github/workflows/demo-server-up.yml
  .github/workflows/development.yml
  .github/workflows/integration.yml
  docs/concepts/hybrid-approach.md
  docs/concepts/software-architecture.md
  docs/guides/development.md
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rename query-parameter to 'token'
  src/app/core/identity-provider/co-browse.identity-provider.spec.ts
  src/app/core/identity-provider/co-browse.identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rename query parameter 'token' to 'access-token'
  src/app/core/identity-provider/co-browse.identity-provider.spec.ts
  src/app/core/identity-provider/co-browse.identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add co-browsing functionality
  .vscode/intershop.txt
  docker-compose.yml
  src/app/core/identity-provider.module.ts
  src/app/core/identity-provider/co-browse.identity-provider.spec.ts
  src/app/core/identity-provider/co-browse.identity-provider.ts
  src/app/pages/app-routing.module.ts
  src/app/pages/co-browse/co-browse-page.guard.ts
  src/app/pages/co-browse/co-browse-page.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
