Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use newest Bootstrap release 4.6.1 with own divide() function
  package-lock.json
  package.json
  src/styles/components/header/language-switch.scss
  src/styles/components/header/search-container.scss
  src/styles/components/header/user-information-mobile.scss
  src/styles/global/buttons.scss
  src/styles/global/forms/forms.scss
  src/styles/global/global.scss
  src/styles/global/icons.scss
  src/styles/global/panel.scss
  src/styles/global/share-tools.scss
  src/styles/global/tables.scss
  src/styles/pages/account/account-navigation.scss
  src/styles/pages/category/filter-panel.scss
  src/styles/pages/category/filter-row.scss
  src/styles/pages/category/product-list.scss
  src/styles/pages/checkout/shopping-cart.scss
  src/styles/pages/content-pages/page-content.scss
  src/styles/pages/homepage/homepage.scss
  src/styles/pages/productdetail/product-images.scss
  src/styles/pages/productdetail/product-info.scss
  src/styles/pages/productdetail/productdetail.scss
Due: npx prettier --loglevel warn --write

feat: add option to enable SSR only for crawlers in nginx (#899)
  Dockerfile
  Dockerfile_noSSR
  docker-compose.yml
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/features/ssr-off.conf
  nginx/features/ssr.conf
  nginx/templates/cache-blacklist.conf.tmpl
  nginx/templates/multi-channel.conf.tmpl
  scripts/check-file-synchronization.js
Due: npx prettier --loglevel warn --write

update: angular 13 with its dependencies
  .gitignore
  angular.json
  package-lock.json
  package.json
  src/polyfills.ts
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: combine loadCategory$ and loadCategoryByRef$ effects
  src/app/core/facades/shopping.facade.ts
  src/app/core/store/shopping/categories/categories.actions.ts
  src/app/core/store/shopping/categories/categories.effects.spec.ts
  src/app/core/store/shopping/categories/categories.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:cybersource creditcard save for later checkbox.
  src/app/pages/checkout-payment/payment-cybersource-creditcard/payment-cybersource-creditcard.component.html
  src/app/pages/checkout-payment/payment-cybersource-creditcard/payment-cybersource-creditcard.component.spec.ts
  src/app/pages/checkout-payment/payment-cybersource-creditcard/payment-cybersource-creditcard.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

update: update @angular-builders/custom-webpack to version 13
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix: use newest Bootstrap release 4.6.1 with own divide() function (#921)
  package-lock.json
  package.json
  src/styles/components/header/language-switch.scss
  src/styles/components/header/search-container.scss
  src/styles/components/header/user-information-mobile.scss
  src/styles/global/buttons.scss
  src/styles/global/forms/forms.scss
  src/styles/global/global.scss
  src/styles/global/icons.scss
  src/styles/global/panel.scss
  src/styles/global/share-tools.scss
  src/styles/global/tables.scss
  src/styles/pages/account/account-navigation.scss
  src/styles/pages/category/filter-panel.scss
  src/styles/pages/category/filter-row.scss
  src/styles/pages/category/product-list.scss
  src/styles/pages/checkout/shopping-cart.scss
  src/styles/pages/content-pages/page-content.scss
  src/styles/pages/homepage/homepage.scss
  src/styles/pages/productdetail/product-images.scss
  src/styles/pages/productdetail/product-info.scss
  src/styles/pages/productdetail/productdetail.scss
Due: npx prettier --loglevel warn --write

added 'lang' attribute to HTML tag
  src/app/core/store/core/configuration/configuration.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: punchout-identity-provider, save and reuse basket in session storage
  docs/concepts/configuration.md
  src/app/core/guards/identity-provider-logout.guard.ts
  src/app/core/identity-provider.module.ts
  src/app/core/identity-provider/identity-provider.factory.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.module.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.spec.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.ts
  src/app/extensions/punchout/pages/punchout/punchout-page.guard.ts
  src/app/extensions/punchout/store/punchout-functions/punchout-functions.effects.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add nginx configuration to override identity provider for specific routes
  docs/guides/nginx-startup.md
  nginx/entrypoint.sh
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

feat: add 'lang' property to 'html' tag (#926)
  src/app/core/store/core/configuration/configuration.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

documentation review
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

feat: cybersource creditcard save for later checkbox. (#925)
  src/app/pages/checkout-payment/payment-cybersource-creditcard/payment-cybersource-creditcard.component.html
  src/app/pages/checkout-payment/payment-cybersource-creditcard/payment-cybersource-creditcard.component.spec.ts
  src/app/pages/checkout-payment/payment-cybersource-creditcard/payment-cybersource-creditcard.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: fix translations in localization files
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: punchout identity provider (#916)
  docs/concepts/configuration.md
  docs/guides/nginx-startup.md
  nginx/entrypoint.sh
  nginx/templates/multi-channel.conf.tmpl
  src/app/core/guards/identity-provider-logout.guard.ts
  src/app/core/identity-provider.module.ts
  src/app/core/identity-provider/identity-provider.factory.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.module.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.spec.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.ts
  src/app/extensions/punchout/pages/punchout/punchout-page.guard.ts
  src/app/extensions/punchout/store/punchout-functions/punchout-functions.effects.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: allow + sign in email addresses
  src/app/shared/forms/validators/special-validators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: Angular 12.2.13 update + dependencies update + adaptions
  package-lock.json
  package.json
  src/styles/global/fonts/roboto.scss
Due: npx prettier --loglevel warn --write

Added updated translations
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: display a default promotionname if promotionmessaging disabled
  src/app/shared/components/basket/basket-cost-summary/basket-cost-summary.component.html
  src/app/shared/components/basket/basket-promotion/basket-promotion.component.html
  src/app/shared/components/basket/basket-promotion/basket-promotion.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: correct some language mistakes in documentation
  CONTRIBUTING.md
Due: npx prettier --loglevel warn --write

deps: Angular 12.2.13 update + dependencies update + adaptions (#932)
  docs/check-dead-links.js
  e2e/package.json
  package-lock.json
  package.json
  src/styles/global/fonts/roboto.scss
Due: npx prettier --loglevel warn --write

fix: display a default promotion name if promotion messaging is disabled (#934)
  src/app/shared/components/basket/basket-cost-summary/basket-cost-summary.component.html
  src/app/shared/components/basket/basket-promotion/basket-promotion.component.html
  src/app/shared/components/basket/basket-promotion/basket-promotion.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: correct some language mistakes in documentation (#935)
  CONTRIBUTING.md
Due: npx prettier --loglevel warn --write

refactor: readiness-probe
  src/ssr/server-scripts/readinessprobe.js
Due: npx prettier --loglevel warn --write

refactor: check memory of pm2 processes for readiness probe and let the test fail, when process is out of memory (above configuration)
  src/ssr/server-scripts/build-ecosystem.js
  src/ssr/server-scripts/readinessprobe.js
Due: npx prettier --loglevel warn --write

fix: make ICM sitemap files available via nginx
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/channel.conf.tmpl
  nginx/entrypoint.sh
Due: npx prettier --loglevel warn --write

refactor: fix translations in localization files (#928)
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: support sitemap locations for muliple servers
  nginx/templates/multi-channel.conf.tmpl
  nginx/templates/sitemap.conf.tmpl
Due: none

feat: SSR-only ICM call cache interceptor
  docs/guides/ssr-startup.md
  src/app/app.server.module.ts
  src/app/core/interceptors/universal-cache.interceptor.ts
  src/app/core/utils/functions.spec.ts
  src/app/core/utils/functions.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove wrongly used component CSS class from 'img' tag
  src/app/shared/cms/components/cms-image-enhanced/cms-image-enhanced.component.html
Due: npx prettier --loglevel warn --write

fix: CMSImageEnhancedComponent remove component CSS class from img tag (#943)
  src/app/shared/cms/components/cms-image-enhanced/cms-image-enhanced.component.html
Due: npx prettier --loglevel warn --write

fix: query-params should not duplicate at rewrite
  nginx/templates/multi-channel.conf.tmpl
Due: none

feat: set accent color for inputs
  src/styles/global/forms/forms.scss
  src/styles/themes/blue/variables.scss
  src/styles/themes/default/variables.scss
Due: none

test: fieldset dummy works with nested configs
  src/app/shared/formly/dev/testing/formly-testing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce formly field plain-text-field
  docs/guides/formly.md
  src/app/shared/formly/dev/testing/formly-testing.module.ts
  src/app/shared/formly/formly.module.ts
  src/app/shared/formly/types/plain-text-field/plain-text-field.component.html
  src/app/shared/formly/types/plain-text-field/plain-text-field.component.spec.ts
  src/app/shared/formly/types/plain-text-field/plain-text-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: formly - data type of the input addon text extended by Observable<string>
  docs/guides/formly.md
  src/app/shared/formly/wrappers/input-addon-wrapper/input-addon-wrapper.component.html
  src/app/shared/formly/wrappers/input-addon-wrapper/input-addon-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce template option 'inputClass' to set css classes at input/select/textarea tags in formly components
  docs/guides/formly.md
  src/app/extensions/order-templates/shared/select-order-template-form/select-order-template-form.component.ts
  src/app/extensions/wishlists/shared/select-wishlist-form/select-wishlist-form.component.ts
  src/app/shared/formly/types/checkbox-field/checkbox-field.component.html
  src/app/shared/formly/types/radio-field/radio-field.component.html
  src/app/shared/formly/types/select-field/select-field.component.html
  src/app/shared/formly/types/text-input-field/text-input-field.component.html
  src/app/shared/formly/types/textarea-field/textarea-field.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
