Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

correct port mapping of demo deployments
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

correct BO deployment trigger
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

logout user depending on token only if cookie law was accepted
  src/app/core/store/restore/restore.effects.spec.ts
  src/app/core/store/restore/restore.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix warn calls not with string
  src/test.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

reorder ci jobs
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

upgrade sentry/browser
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

retry schematics in case icm is restarting
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

IS-26892: centered, repeated background-image
  src/theme/pages/errorpage/errorpage.scss
Due: none

ISREST-668: Display payment instruments on checkout payment page
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/payment-instrument/payment-instrument.model.ts
  src/app/core/models/payment-method/payment-method.interface.ts
  src/app/core/models/payment-method/payment-method.mapper.spec.ts
  src/app/core/models/payment-method/payment-method.mapper.ts
  src/app/core/models/payment-method/payment-method.model.ts
  src/app/core/models/payment/payment.model.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.selectors.spec.ts
  src/app/core/utils/dev/basket-mock-data.ts
  src/app/pages/account-order/components/account-order-page/account-order-page.component.html
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-receipt/components/checkout-receipt/checkout-receipt.component.html
  src/app/pages/checkout-review/components/checkout-review/checkout-review.component.html
  src/theme/pages/payment/payment.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-668: delete basket payment instruments on checkout payment page
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket-addresses.effects.spec.ts
  src/app/core/store/checkout/basket/basket-items.effects.spec.ts
  src/app/core/store/checkout/basket/basket-payment.effects.spec.ts
  src/app/core/store/checkout/basket/basket-payment.effects.ts
  src/app/core/store/checkout/basket/basket.actions.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/basket/basket.reducer.spec.ts
  src/app/core/store/checkout/basket/basket.reducer.ts
  src/app/core/store/checkout/checkout-store.module.ts
  src/app/core/utils/dev/basket-mock-data.ts
  src/app/pages/checkout-payment/checkout-payment-page.container.html
  src/app/pages/checkout-payment/checkout-payment-page.container.ts
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-668: submit payment form parameter
  src/app/core/models/payment-instrument/payment-instrument.model.ts
  src/app/core/models/payment-method/payment-method.mapper.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket-payment.effects.spec.ts
  src/app/core/store/checkout/basket/basket-payment.effects.ts
  src/app/core/store/checkout/basket/basket.actions.ts
  src/app/core/store/checkout/basket/basket.reducer.spec.ts
  src/app/core/store/checkout/basket/basket.reducer.ts
  src/app/pages/checkout-payment/checkout-payment-page.container.ts
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.ts
  src/theme/pages/payment/payment.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-668: display forms for adjustable payment methods on checkout payment page
  src/app/core/models/payment-method/payment-method.interface.ts
  src/app/core/models/payment-method/payment-method.mapper.spec.ts
  src/app/core/models/payment-method/payment-method.mapper.ts
  src/app/core/models/payment-method/payment-method.model.ts
  src/app/core/models/payment-restriction/payment-restriction.interface.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/utils/dev/basket-mock-data.ts
  src/app/pages/checkout-payment/checkout-payment-page.container.html
  src/app/pages/checkout-payment/checkout-payment-page.container.ts
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.ts
  src/app/shared/forms-dynamic/components/input-dynamic/input-dynamic.component.html
  src/app/shared/forms-dynamic/components/select-dynamic/select-dynamic.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/theme/pages/payment/payment.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-668: integrate formly for dynamic payment forms
  package-lock.json
  package.json
  src/app/core/core.module.ts
  src/app/pages/checkout-payment/checkout-payment-page.module.ts
  src/app/shared/forms-dynamic/components/input-dynamic/input-dynamic.component.html
  src/app/shared/forms-dynamic/components/input-dynamic/input-dynamic.component.spec.ts
  src/app/shared/forms-dynamic/components/input-dynamic/input-dynamic.component.ts
  src/app/shared/forms-dynamic/components/select-dynamic/select-dynamic.component.html
  src/app/shared/forms-dynamic/components/select-dynamic/select-dynamic.component.spec.ts
  src/app/shared/forms-dynamic/components/select-dynamic/select-dynamic.component.ts
  src/app/shared/forms-dynamic/forms-dynamic.module.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

login with return url
  cypress/integration/pages/account/login.page.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

activate disabled test
  cypress/integration/specs/checkout/shopping-anonymous.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add basket via rest
  cypress/integration/framework/users.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-668: Selector GetCurrentBasketId added
  src/app/core/store/checkout/basket/basket-items.effects.ts
  src/app/core/store/checkout/basket/basket-payment.effects.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/basket/basket.selectors.spec.ts
  src/app/core/store/checkout/basket/basket.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

filling input as utility method
  cypress/integration/framework/index.ts
  cypress/integration/pages/account/registration.page.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

testing dynamic payment form
  cypress/integration/pages/checkout/payment.page.ts
  cypress/integration/specs/checkout/checkout-payments.b2c.e2e-spec.ts
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

use default change detection for formly components
  cypress/integration/specs/checkout/checkout-payments.b2c.e2e-spec.ts
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.ts
  src/app/shared/forms-dynamic/components/input-dynamic/input-dynamic.component.ts
  src/app/shared/forms-dynamic/components/select-dynamic/select-dynamic.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-613: Remove QuoteRequest if there is no item left
  src/app/extensions/quoting/pages/quote-request-edit/quote-request-edit-page.container.html
  src/app/extensions/quoting/pages/quote-request-edit/quote-request-edit-page.container.ts
  src/app/extensions/quoting/shared/product/components/product-add-to-quote-dialog/product-add-to-quote-dialog.component.ts
  src/app/extensions/quoting/shared/product/containers/product-add-to-quote-dialog/product-add-to-quote-dialog.container.html
  src/app/extensions/quoting/shared/product/containers/product-add-to-quote-dialog/product-add-to-quote-dialog.container.ts
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.spec.ts
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.ts
  src/app/shared/basket/components/line-item-list/line-item-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
