Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

wait for basket sync in addProductToCart
  cypress/integration/pages/shopping/product-detail.page.ts
  cypress/integration/specs/checkout/basket-handling.b2c.e2e-spec.ts
  cypress/integration/specs/checkout/retain-basket.b2c.e2e-spec.ts
  cypress/integration/specs/checkout/shopping-anonymous.b2c.e2e-spec.ts
  cypress/integration/specs/checkout/shopping-user.b2c.e2e-spec.ts
  cypress/integration/specs/quoting/quote-handling.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

force even WIP MRs to contain correct title
  .gitlab-ci-check-mr-title.sh
Due: none

second tslint run for rules that need processing twice
  package.json
Due: npx prettier --loglevel warn --write

log out user if token vanishes
  src/app/core/store/restore/restore.effects.spec.ts
  src/app/core/store/restore/restore.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

retain anonymous basket
  cypress/integration/specs/checkout/retain-basket.b2c.e2e-spec.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/checkout/basket/basket.actions.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/basket/basket.selectors.ts
  src/app/core/store/checkout/checkout-store.spec.ts
  src/app/core/store/core-store.module.ts
  src/app/core/store/restore/restore-store.module.ts
  src/app/core/store/restore/restore.effects.spec.ts
  src/app/core/store/restore/restore.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/core/store/user/user.actions.ts
  src/app/core/store/user/user.effects.spec.ts
  src/app/core/store/user/user.effects.ts
  src/app/extensions/quoting/store/quoting-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

whitelist cookie apiToken for cypress
  cypress/integration/specs/account/change-language-authentication.b2c.e2e-spec.ts
  cypress/integration/specs/account/retain-authentication.b2c.e2e-spec.ts
  cypress/integration/specs/checkout/retain-basket.b2c.e2e-spec.ts
  cypress/support/commands.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-596: fix region hanlding in address processing
  cypress/integration/pages/account/registration.page.ts
  src/app/core/services/address/address.service.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/regions/regions.selectors.ts
  src/app/core/utils/dev/address-mock-data.ts
  src/app/shared/address-forms/components/address-form-default/address-form-default.component.html
  src/app/shared/address-forms/components/address-form-default/address-form-default.factory.spec.ts
  src/app/shared/address-forms/components/address-form-default/address-form-default.factory.ts
  src/app/shared/address-forms/components/address-form-us/address-form-us.component.html
  src/app/shared/address-forms/components/address-form-us/address-form-us.factory.spec.ts
  src/app/shared/address-forms/components/address-form-us/address-form-us.factory.ts
  src/app/shared/address-forms/containers/address-form/address-form.container.spec.ts
  src/app/shared/address-forms/containers/address-form/address-form.container.ts
  src/app/shared/address/components/address/address.component.html
  src/app/shared/forms/utils/form-utils.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

check cookieLawSeen before writing cookies
  src/app/core/services/cookies/cookies.service.spec.ts
  src/app/core/services/cookies/cookies.service.ts
  src/app/core/store/restore/restore.effects.spec.ts
  src/app/core/store/restore/restore.effects.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.effects.ts
  src/app/extensions/tracking/tracking.module.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ProductItemContainer 'type' rework, renamed to 'displayType' and configured 'tile' as default rendering, added documentation
  src/app/cms/components/cms-product-list/__snapshots__/cms-product-list.component.spec.ts.snap
  src/app/cms/components/cms-product-list/cms-product-list.component.html
  src/app/shared/product/components/product-list/product-list.component.html
  src/app/shared/product/components/product-list/product-list.component.spec.ts
  src/app/shared/product/containers/product-item/product-item.container.ts
  src/app/shared/recently/components/recently-viewed/recently-viewed.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-751: removed loading animation handling for product tiles from recently viewed components since this is handled by the product items container itself
  src/app/pages/recently/components/recently-viewed-all/recently-viewed-all.component.html
  src/app/shared/recently/components/recently-viewed/recently-viewed.component.html
Due: npx prettier --loglevel warn --write

ISREST-751: renamed recently viewed action types prefix from '[Shopping]' to '[Recently Viewed]'
  src/app/core/store/shopping/recently/recently.actions.ts
  src/app/core/store/shopping/shopping-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-751: add e2e test for browsing history page and clear browsing history
  cypress/integration/pages/shopping/product-detail.page.ts
  cypress/integration/pages/shopping/recently-viewed.page.ts
  cypress/integration/specs/shopping/browse-products-recently-viewed.mock.b2c.e2e-spec.ts
  src/app/pages/recently/components/recently-viewed-all/recently-viewed-all.component.html
  src/app/shared/recently/components/recently-viewed/recently-viewed.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

dynamically get demoserver ip
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

use DEMO_SERVER_NAME variable
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

use ICM_BASE_URL variable
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

use BO_URL variable
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

do not use swarm deployment
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

simplify backoffice link
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

move topic check to the end of the pipeline
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

check ticket on end of topic line
  .gitlab-ci-check-mr-title.sh
Due: none

move stop actions to same stage as deploy actions as required for automatic stop
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

correct port mapping of demo deployments
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write
