Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: simplify parametrized esbuild build commands
  .github/workflows/development.yml
  .github/workflows/integration.yml
  .vscode/intershop.txt
  Dockerfile
  angular.json
  docs/README.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/ssr-startup.md
  docs/guides/webpack-to-esbuild.md
  package-lock.json
  package.json
  scripts/build-multi-pwa.js
  scripts/clean-up-localizations.js
  scripts/dead-files.js
  templates/esbuild/define-build-constants.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: added test:scripts to package.json
  package.json
Due: npx prettier --loglevel warn --write

refactor: configure store devtools without production file replacement
  angular.json
  src/app/core/store/store-devtools.module.production.ts
  src/app/core/store/store-devtools.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add store devtools configuration migration note
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

feat: one theme - one image, asset routing to theme container
  Dockerfile
  dist/entrypoint.sh
  docker-compose.multi-theme.yml
  nginx/templates/multi-channel.conf.tmpl
  scripts/build-multi-pwa.js
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: one image with all themes (wiki concept), assets round robin
  docker-compose.multi-theme.yml
  nginx/templates/multi-channel.conf.tmpl
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: expose metrics, update server scripts
  docker-compose.multi-theme.yml
  server.ts
  src/ssr/server-scripts/build-ecosystem.js
  src/ssr/server-scripts/distributor.js
  src/ssr/server-scripts/healthcheck.js
  src/ssr/server-scripts/livenessprobe.js
  src/ssr/server-scripts/prometheus.js
  src/ssr/server-scripts/readinessprobe.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: remove pm2 package
  package-lock.json
  package.json
  scripts/compile-docker-scripts.js
Due: npx prettier --loglevel warn --write

feat: remove ecosystem-ports.js usages
  .dockerignore
  scripts/build-multi-pwa.js
  scripts/compile-docker-scripts.js
  src/ssr/server-scripts/.gitignore
Due: npx prettier --loglevel warn --write

fix: preserve basket quantity edits during debounce
  e2e/cypress/e2e/pages/checkout/cart.page.ts
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.spec.ts
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: use entrypoint with env var, remove port-mapping in build
  Dockerfile
  dist/entrypoint.sh
  docker-compose.multi-theme.yml
  scripts/build-multi-pwa.js
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: unify upstream pwa handling
  docker-compose.multi-theme.yml
  nginx/cache_clearer.sh
  nginx/docker-entrypoint.d/00-envcheck.sh
  nginx/docker-entrypoint.d/spec/00-envcheck_spec.sh
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

feat: merge docker compose files
  docker-compose.multi-theme.yml
  docker-compose.yml
Due: npx prettier --loglevel warn --write

feat: rework metrics app creation
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: graceful shutdown (a suggestion)
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: nginx multi-channel template
  nginx/templates/multi-channel.conf.tmpl
Due: none

fix: browser folder discovery without themes
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: asset handling per theme
  nginx/templates/multi-channel.conf.tmpl
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: replace usages of run-standalone script in workflows
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

fix: prefix for ssr test script
  e2e/test-ssr.sh
Due: none

feat: update image build in development workflow
  .github/workflows/development.yml
Due: npx prettier --loglevel warn --write

feat: removed probes
  src/ssr/server-scripts/livenessprobe.js
  src/ssr/server-scripts/readinessprobe.js
Due: npx prettier --loglevel warn --write

feat: updated package-lock
  package-lock.json
Due: npx prettier --loglevel warn --write

fix: preserve missing-resource URLs during SSR and hydration
  e2e/cypress/e2e/specs/system/rest-error-handling.b2c.e2e-spec.ts
  src/app/app.server.module.ts
  src/app/core/configurations/ngrx-state-transfer.ts
  src/app/core/utils/http-status-code/http-status-code.service.spec.ts
  src/app/core/utils/http-status-code/http-status-code.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: generate customization themes for esbuild targets
  schematics/customization/add/index.js
Due: npx prettier --loglevel warn --write

refactor: consolidate SSR request tokens
  src/app/core/utils/ssr/ssr.tokens.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
  src/server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use theme prefix in integration workflow
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

fix: deploy URL concatination on windows
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove required check from email validator
  docs/guides/migrations.md
  src/app/shared/forms/validators/special-validators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: remove redundant TestBed declaration
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add invoice/shipping email to address forms
  docs/guides/field-library.md
  docs/guides/migrations.md
  e2e/cypress/e2e/pages/account/addresses.page.ts
  e2e/cypress/e2e/specs/account/addresses-crud.b2b.e2e-spec.ts
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.html
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.spec.ts
  src/app/shared/formly-address-forms/components/formly-address-form/formly-address-form.component.spec.ts
  src/app/shared/formly-address-forms/components/formly-address-form/formly-address-form.component.ts
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.html
  src/app/shared/formly-address-forms/configurations/address-form-configuration.provider.ts
  src/app/shared/formly-address-forms/configurations/address-form.configuration.ts
  src/app/shared/formly-address-forms/configurations/de/address-form-de.configuration.ts
  src/app/shared/formly-address-forms/configurations/default/address-form-default.configuration.ts
  src/app/shared/formly-address-forms/configurations/fr/address-form-fr.configuration.ts
  src/app/shared/formly-address-forms/configurations/gb/address-form-gb.configuration.ts
  src/app/shared/formly-address-forms/configurations/us/address-form-us.configuration.ts
  src/app/shared/formly/field-library/configurations/email.configuration.ts
  src/app/shared/formly/field-library/field-library.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: display the email of an address per default
  docs/guides/migrations.md
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.html
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-recurring-order/account-recurring-order-page.component.html
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/shared/components/address/address/address.component.spec.ts
  src/app/shared/components/address/address/address.component.ts
  src/app/shared/components/basket/basket-address-summary/basket-address-summary.component.html
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.html
  src/app/shared/components/order/order-list/order-list.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: improve cancel redirect abort
  src/app/core/services/order/order.service.spec.ts
  src/app/core/services/order/order.service.ts
  src/app/core/store/customer/orders/orders.effects.spec.ts
  src/app/core/store/customer/orders/orders.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: revert quantity update preservation
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use forwarded protocol for multi-channel baseHref redirects to preserve https behind ingress
  nginx/templates/multi-channel.conf.tmpl
Due: none

refactor: remove redundant SSR interceptor configuration
  src/app/app.server.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use forwarded protocol for multi-channel baseHref redirects to preserve https behind ingress (#2186)
  nginx/templates/multi-channel.conf.tmpl
Due: none

test: restore wait before basket quantity changes
  e2e/cypress/e2e/pages/checkout/cart.page.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
