Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: missing styles for main navigation hover menu - removed by PurgeCSS (#901)
  src/styles/components/header/main-navigation.scss
Due: none

build: change PurgeCSS configuration to work without '*.spec.ts' files
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Update migrations.md
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

feat: add quickorder sample CSV file (#895)
  .prettierignore
  src/app/extensions/quickorder/shared/quickorder-csv-form/quickorder-csv-form.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/assets/sample-data/quickorder.csv
Due: npx prettier --loglevel warn --write

fix: styling of radio buttons on shipping page (#900)
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.html
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.ts
  src/app/pages/checkout-shipping/checkout-shipping/checkout-shipping.component.ts
  src/styles/global/forms/labels.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: retrieve many variations parallel in chunks
  src/app/core/services/products/products.service.spec.ts
  src/app/core/services/products/products.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: disable inlineCriticalCss for Angular Universal engine
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: respect ICM setting "Add Product Behavior" when adding basket items
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: respect ICM setting "Add Product Behavior" when adding basket items (#905)
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: retrieve many variations parallel in chunks (#903)
  src/app/core/services/products/products.service.spec.ts
  src/app/core/services/products/products.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: disable inlineCriticalCss for Angular Universal engine (#904)
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: wait for retrieving localized ICM data until configuration is retrieved
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/api/api.service.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/services/configuration/configuration.service.ts
  src/app/core/services/order/order.service.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/configuration/configuration.selectors.spec.ts
  src/app/core/store/core/configuration/configuration.selectors.ts
  src/app/core/utils/translate/icm-translate-loader.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: wait for retrieving localized ICM data until configuration is retrieved (#902)
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/api/api.service.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/services/configuration/configuration.service.ts
  src/app/core/services/order/order.service.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/configuration/configuration.selectors.spec.ts
  src/app/core/store/core/configuration/configuration.selectors.ts
  src/app/core/utils/translate/icm-translate-loader.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: refactor and prepare upgrade-pwa script (#894)
  scripts/upgrade-pwa.js
Due: npx prettier --loglevel warn --write

refactor: move esbuild postinstall into docker file (#894)
  Dockerfile
  Dockerfile_noSSR
  Dockerfile_reports
  package.json
Due: npx prettier --loglevel warn --write

deps: Angular 12.2.9 update + dependencies update + adaptions
  docs/theme/style.css
  package-lock.json
  package.json
  src/app/shared/components/product/product-quantity/product-quantity.component.scss
  src/styles/components/cookies.scss
  src/styles/components/header/header-sticky.scss
  src/styles/global/forms/forms.scss
  src/styles/global/tables.scss
  src/styles/pages/category/product-list.scss
  src/styles/pages/checkout/checkout.scss
  src/styles/pages/payment/payment.scss
  src/styles/pages/productdetail/productdetail.scss
Due: npx prettier --loglevel warn --write

deps: upgrade jest-extended
  package-lock.json
  package.json
  schematics/package.json
  schematics/setupJest.js
  scripts/upgrade-pwa.js
  src/setupJest.ts
  src/typings.d.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: update placeholders correctly on SSR
  src/app/shared/formly/extensions/translate-placeholder.extension.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Add documentation to express the differences
  src/app/core/services/api/api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Add documentation to express the differences (#908)
  src/app/core/services/api/api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: adapt styling for toast messages (#909)
  src/styles/global/toasts.scss
  src/styles/themes/blue/variables.scss
  src/styles/themes/default/variables.scss
Due: none

feat: introduce info message component (#909)
  src/app/extensions/punchout/pages/account-punchout/account-punchout-header/account-punchout-header.component.html
  src/app/extensions/punchout/pages/account-punchout/account-punchout-header/account-punchout-header.component.spec.ts
  src/app/extensions/quoting/shared/quote-view/quote-view.component.html
  src/app/extensions/quoting/shared/quote-view/quote-view.component.spec.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/shared/components/common/error-message/error-message.component.ts
  src/app/shared/components/common/info-message/info-message.component.html
  src/app/shared/components/common/info-message/info-message.component.spec.ts
  src/app/shared/components/common/info-message/info-message.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: extend the authorization service and directive to check against multiple permissions
  src/app/core/directives/authorization-toggle.directive.spec.ts
  src/app/core/directives/authorization-toggle.directive.ts
  src/app/core/utils/authorization-toggle/authorization-toggle.service.spec.ts
  src/app/core/utils/authorization-toggle/authorization-toggle.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: don't display 'please select' in the cost center selection dropdown if a cost center has already been assigned to a basket
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display cost center approval information in the checkout approval dialog (#887)
  src/app/core/models/basket-approval/basket-approval.model.ts
  src/app/shared/components/basket/basket-approval-info/basket-approval-info.component.html
  src/app/shared/components/basket/basket-approval-info/basket-approval-info.component.spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display a success/info message after a requisition has been approved/rejected (#887)
  projects/requisition-management/src/app/store/requisitions/requisitions.effects.spec.ts
  projects/requisition-management/src/app/store/requisitions/requisitions.effects.ts
  scripts/clean-up-localizations.js
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rename CostCenter model to UserCostCenter (#887)
  src/app/core/facades/checkout.facade.spec.ts
  src/app/core/models/user-cost-center/user-cost-center.model.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.reducer.ts
  src/app/core/store/customer/user/user.selectors.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add cost center approval widget (#887)
  projects/requisition-management/src/app/models/requisition/requisition.mapper.spec.ts
  projects/requisition-management/src/app/models/requisition/requisition.mapper.ts
  projects/requisition-management/src/app/models/requisition/requisition.model.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-cost-center-approval/requisition-cost-center-approval.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-cost-center-approval/requisition-cost-center-approval.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-cost-center-approval/requisition-cost-center-approval.component.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.module.ts
  projects/requisition-management/src/app/services/requisitions/requisitions.service.spec.ts
  projects/requisition-management/src/app/services/requisitions/requisitions.service.ts
  src/app/core/models/basket-approval/basket-approval.model.ts
  src/app/core/models/cost-center/cost-center.model.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/pages/account/account-navigation/account-navigation.component.ts
  src/app/shared/components/basket/basket-approval-info/basket-approval-info.component.html
  src/app/shared/components/basket/basket-approval-info/basket-approval-info.component.spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: requisition approval usability improvements (#887)
  projects/organization-management/src/app/components/user-budget/user-budget.component.html
  projects/organization-management/src/app/components/user-budget/user-budget.component.spec.ts
  projects/organization-management/src/app/pages/user-detail/user-detail-budget/user-detail-budget.component.html
  projects/organization-management/src/app/pages/user-detail/user-detail-budget/user-detail-budget.component.spec.ts
  projects/requisition-management/src/app/components/approval-widget/approval-widget.component.spec.ts
  projects/requisition-management/src/app/components/requisition-widget/requisition-widget.component.spec.ts
  projects/requisition-management/src/app/models/requisition/requisition.interface.ts
  projects/requisition-management/src/app/models/requisition/requisition.mapper.spec.ts
  projects/requisition-management/src/app/models/requisition/requisition.mapper.ts
  projects/requisition-management/src/app/models/requisition/requisition.model.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-buyer-approval/requisition-buyer-approval.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-buyer-approval/requisition-buyer-approval.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-buyer-approval/requisition-buyer-approval.component.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-cost-center-approval/requisition-cost-center-approval.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-cost-center-approval/requisition-cost-center-approval.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-cost-center-approval/requisition-cost-center-approval.component.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-summary/requisition-summary.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-summary/requisition-summary.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-summary/requisition-summary.component.ts
  projects/requisition-management/src/app/services/requisitions/requisitions.service.ts
  projects/requisition-management/src/app/store/requisitions/requisitions.effects.spec.ts
  projects/requisition-management/src/app/store/requisitions/requisitions.effects.ts
  scripts/clean-up-localizations.js
  src/app/core/models/cost-center/cost-center.model.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: revive customization documentation
  .vscode/intershop.txt
  docs/guides/customizations.md
  docs/guides/development.md
Due: npx prettier --loglevel warn --write

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
