Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests, npx prettier --loglevel warn --write --parser angular

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ],
  "*.html": [
    "npx prettier --loglevel warn --write --parser angular",
    "git add"
  ]
}

job publish_pwa also run for develop branch
  .gitlab-ci.yml
Due: none

chore: release 0.9.1 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

add extra --allow-unrelated-histories call for git versions that require it
  templates/merge_release.sh
Due: none

reduce file system operations
  templates/prepare_release.sh
Due: none

include automated license check with licence-checker
  3rd-party-licenses.txt
  package.json
  schematics/src/package.json
  tslint-rules/package.json
Due: npx prettier --loglevel warn --write

add script for tagging bitbucket
  templates/tag_bitbucket_release.sh
Due: none

order scripts
  templates/01_prepare_release.sh
  templates/02_merge_release.sh
  templates/03_tag_bitbucket_release.sh
Due: none

enable logging for pwa review image
  .gitlab-ci.yml
Due: none

re-tag nginx-develop image when no changes, build otherwise
  .gitlab-ci.yml
Due: none

also stop pwa image when stopping environment
  .gitlab-ci.yml
Due: none

retry cypress_local once
  .gitlab-ci.yml
Due: none

enable prettier for more source files
  .lintstagedrc
  .prettierignore
Due: none

apply formatting
  .gitlab-ci.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CHANGELOG.md
  README.md
  angular.json
  cypress-ci-e2e.js
  cypress/tsconfig.json
  healthcheck.js
  intershop-changelog.js
  jest-reports.config.js
  jest.config.js
  ngsw-config.json
  open-cypress.js
  package.json
  schematics/package.json
  schematics/tsconfig.json
  server.ts
  src/tsconfig.app.json
  src/tsconfig.server.json
  src/tsconfig.spec.json
  tsconfig.json
  tslint-rules/jest.config.js
  tslint-rules/package.json
  tslint-rules/tsconfig.json
  tslint.json
  webpack.server.config.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

remove path intellisense from recommended extensions
  .vscode/extensions.json
Due: npx prettier --loglevel warn --write

set vscode-icons as default icon theme
  .vscode/settings.json
Due: npx prettier --loglevel warn --write

use prettier-tslint instead of tslint autosave
  .vscode/settings.json
Due: npx prettier --loglevel warn --write

simplify prettier formatting steps
  .lintstagedrc
  .prettierignore
  .prettierrc.json
  package.json
Due: npx prettier --loglevel warn --write

remove obsolete file
  src/web.xml
Due: none

apply formatting to assets
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/assets/mock-data/categories/Cameras-Camcorders/584/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
  src/assets/mock-data/categories/Cameras-Camcorders/832/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
  src/assets/mock-data/categories/Cameras-Camcorders/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
  src/assets/mock-data/customers/-/get.json
  src/assets/mock-data/products/7912061/get_allImages_true.json
  src/assets/mock-data/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_offset_0_returnSortKeys_true_searchTerm_kodak.json
Due: npx prettier --loglevel warn --write

move lint-staged rc to package.json
  .lintstagedrc
  .prettierrc.json
  package.json
Due: npx prettier --loglevel warn --write
