Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

docs: document password autocomplete accessibility prioritization over PCI DSS
  docs/guides/accessibility-ux-pattern.md
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

fix: add hover and active styles to pagelet action buttons
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.scss
Due: none

fix: design view wrapper styling (#1969)
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.scss
Due: none

docs: improve password autocomplete wording
  docs/guides/accessibility-ux-pattern.md
Due: npx prettier --loglevel warn --write

chore: update cypress to v14
  e2e/package-lock.json
  e2e/package.json
Due: npx prettier --loglevel warn --write

chore: update cypress to v15
  e2e/package-lock.json
  e2e/package.json
Due: npx prettier --loglevel warn --write

docs: review (#112157)
  docs/guides/accessibility-ux-pattern.md
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

chore: fit types versions and remove vulnerabilities
  e2e/package-lock.json
  e2e/package.json
Due: npx prettier --loglevel warn --write

chore: update Cypress e2e testing framework to version 15 (#1971)
  e2e/package-lock.json
  e2e/package.json
Due: npx prettier --loglevel warn --write

chore: fixed formatting
  docs/guides/accessibility-ux-pattern.md
Due: npx prettier --loglevel warn --write

docs: document password autocomplete accessibility prioritization over PCI DSS (#1968)
  docs/guides/accessibility-ux-pattern.md
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

fix(Hybrid Approach): option to set the correct port to be forwarded to the Responsive Starter Store + Helm chart Hybrid Approach deployment documentation
  docs/concepts/hybrid-approach.md
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

feat: use configuration setting to allow checkout without terms and conditions confirmation
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.spec.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add Hybrid Approach documentation hints
  docs/concepts/hybrid-approach.md
  src/hybrid/default-url-mapping-table.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: support checkout without terms and conditions (#1972)
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.spec.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: vulnerability fixes + dependencies updates
  .nsprc
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

build: uuid dependency clean up
  jest.config.js
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat: introduce CSV import handler for reusability and adapt quick order (#1799)
  src/app/core/utils/csv/csv.import-handler.ts
  src/app/extensions/quickorder/shared/quickorder-csv-form/quickorder-csv-form.component.html
  src/app/extensions/quickorder/shared/quickorder-csv-form/quickorder-csv-form.component.spec.ts
  src/app/extensions/quickorder/shared/quickorder-csv-form/quickorder-csv-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: cost center bulk import via CSV upload (#1799)
  docs/guides/migrations.md
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/pages/cost-center-create/cost-center-create-page.component.html
  projects/organization-management/src/app/pages/cost-center-create/cost-center-create-page.component.spec.ts
  projects/organization-management/src/app/pages/cost-center-create/cost-center-create-page.module.ts
  projects/organization-management/src/app/pages/cost-center-create/cost-center-csv-import/cost-center-csv-import.component.html
  projects/organization-management/src/app/pages/cost-center-create/cost-center-csv-import/cost-center-csv-import.component.spec.ts
  projects/organization-management/src/app/pages/cost-center-create/cost-center-csv-import/cost-center-csv-import.component.ts
  projects/organization-management/src/app/pages/cost-center-import/cost-center-import-page.component.html
  projects/organization-management/src/app/pages/cost-center-import/cost-center-import-page.component.spec.ts
  projects/organization-management/src/app/pages/cost-center-import/cost-center-import-page.component.ts
  projects/organization-management/src/app/pages/cost-center-import/cost-center-import-page.module.ts
  projects/organization-management/src/app/pages/organization-management-routing.module.ts
  projects/organization-management/src/app/services/organization-management-breadcrumb/organization-management-breadcrumb.service.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.actions.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.reducer.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.selectors.ts
  src/app/core/models/cost-center/cost-center.model.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/assets/sample-data/costcenters.csv
  src/styles/global/global.scss
  src/styles/global/tables.scss
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: user bulk import via CSV upload (#1883)
  .vscode/intershop.txt
  docs/guides/migrations.md
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/organization-management.module.ts
  projects/organization-management/src/app/pages/organization-management-routing.module.ts
  projects/organization-management/src/app/pages/user-create/user-create-page.component.html
  projects/organization-management/src/app/pages/user-create/user-create-page.component.spec.ts
  projects/organization-management/src/app/pages/user-create/user-create-page.module.ts
  projects/organization-management/src/app/pages/user-create/user-csv-import/user-csv-import.component.html
  projects/organization-management/src/app/pages/user-create/user-csv-import/user-csv-import.component.spec.ts
  projects/organization-management/src/app/pages/user-create/user-csv-import/user-csv-import.component.ts
  projects/organization-management/src/app/pages/user-import/user-import-page.component.html
  projects/organization-management/src/app/pages/user-import/user-import-page.component.spec.ts
  projects/organization-management/src/app/pages/user-import/user-import-page.component.ts
  projects/organization-management/src/app/pages/user-import/user-import-page.module.ts
  projects/organization-management/src/app/pages/users/users-page.module.ts
  projects/organization-management/src/app/services/organization-management-breadcrumb/organization-management-breadcrumb.service.ts
  projects/organization-management/src/app/store/users/users.actions.ts
  projects/organization-management/src/app/store/users/users.effects.ts
  projects/organization-management/src/app/store/users/users.reducer.ts
  projects/organization-management/src/app/store/users/users.selectors.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/assets/sample-data/users.csv
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: scroll positioning of the scroll directive
  src/app/core/directives/scroll.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: styling for navigation tabs of account punchout page
  src/app/extensions/punchout/pages/account-punchout/account-punchout-header/account-punchout-header.component.html
Due: npx prettier --loglevel warn --write

docs: add knowledge base link for SPARQUE product recommendations
  docs/guides/sparque-ai.md
Due: npx prettier --loglevel warn --write

docs: adjust time references in the cms integration concept
  docs/concepts/cms-integration.md
Due: npx prettier --loglevel warn --write

chore: small improvements (#1967)
  docs/concepts/cms-integration.md
  docs/guides/sparque-ai.md
  src/app/extensions/punchout/pages/account-punchout/account-punchout-header/account-punchout-header.component.html
Due: npx prettier --loglevel warn --write

fix: scroll positioning of the scroll directive (#1976)
  src/app/core/directives/scroll.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: update Intershop documentation links related to the Hybrid Approach
  docs/concepts/hybrid-approach.md
Due: npx prettier --loglevel warn --write

docs: changes after review
  docs/concepts/hybrid-approach.md
Due: npx prettier --loglevel warn --write

fix(Hybrid Approach): option to set the correct port to be forwarded to the Responsive Starter Store (#1974)
  docs/concepts/hybrid-approach.md
  nginx/templates/multi-channel.conf.tmpl
  src/hybrid/default-url-mapping-table.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: adapted to new devcontainer repo
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: npx prettier --loglevel warn --write

chore: removed deprecated extensions
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: npx prettier --loglevel warn --write

fix(accessibility): label - input association of ng-select
  src/app/shared/formly/types/search-select-field/search-select-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(accessibility): label - input association of ng-select (#1978)
  src/app/shared/formly/types/search-select-field/search-select-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: replace chmod 777 permissions with restrictive settings
  Dockerfile
Due: none

build: dependencies updates
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write
