Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

fix: fixed failing build issues
  .github/workflows/development.yml
Due: npx prettier --loglevel warn --write

fix: update dockerignore script
  scripts/update-dockerignore.js
Due: npx prettier --loglevel warn --write

temp: disabled/fixed currently failing checks
  .github/workflows/integration.yml
  e2e/test-schematics-normal.sh
Due: npx prettier --loglevel warn --write

fix: fixed sparque implementation
  src/app/core/services/sparque-api/sparque-api.service.ts
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/shared/components/search/suggest-brands/suggest-brands.component.spec.ts
  src/app/shared/components/search/suggest-categories-tile/suggest-categories-tile.component.spec.ts
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: replaced deprecation
  angular.json
  schematics/customization/add/index.js
Due: npx prettier --loglevel warn --write

fix: potential fix for multi-pwa build script
  scripts/build-multi-pwa.js
Due: npx prettier --loglevel warn --write

fix: fixed universal test urls
  e2e/test-universal.sh
Due: none

test: checking non-canonical universal tests
  e2e/test-universal.sh
Due: none

fix: fix for missing canonical url
  e2e/test-universal.sh
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed canonical link injection on SSR
  server.ts
  src/app/app.server.module.ts
  src/app/core/configurations/injection-keys.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: updating SSR for canonical url
  angular.json
  server.ts
  src/app/extensions/seo/services/seo/seo.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: updating canonical url implementation
  src/app/app.server.module.ts
  src/app/extensions/seo/services/seo/seo.service.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed canonical URL implementation
  server.ts
  src/app/extensions/seo/services/seo/seo.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: possible fix for universal test
  e2e/test-universal.sh
  src/app/core/configurations/injection-keys.ts
  src/app/extensions/seo/services/seo/seo.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

latest dependencies updates
  package.json
Due: npx prettier --loglevel warn --write

temp: package-lock.json for all
  package-lock.json
Due: npx prettier --loglevel warn --write

fix: set eol fix of 'lf' to make eslint --fix work again
  .prettierrc
Due: none

fix: wrong (deprecated) import
  src/app/core/store/shopping/recommendations/recommendations.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: prevent generate-lazy-components script errors due to buffer size problems
  schematics/src/lazy-component/factory.ts
  schematics/src/utils/lint-fix.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: development.yml
  .github/workflows/development.yml
Due: npx prettier --loglevel warn --write

test: revert escaping
  e2e/test-universal.sh
Due: none

refactor: smaller SSR improvements
  server.ts
  src/app/app.server.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: update package-lok.json after rebasing
  package-lock.json
Due: npx prettier --loglevel warn --write

feat: remove comments to show category content top and bottom viewcontext
  src/app/pages/category/category-categories/category-categories.component.html
Due: npx prettier --loglevel warn --write

fix: add canonical link in SSR with the seo.effect
  e2e/test-universal.sh
  src/app/app.server.module.ts
  src/app/extensions/seo/services/seo/seo.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: minimatch import in cleanup-testbed
  scripts/cleanup-testbed.mjs
Due: none

fix: improve styling of sub categories navigation menu
  src/styles/components/header/main-navigation.scss
Due: none

refactor: use original seo.effects
  src/app/extensions/seo/services/seo/seo.service.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: enable category content top and bottom view contexts (#1960)
  src/app/pages/category/category-categories/category-categories.component.html
Due: npx prettier --loglevel warn --write

feat: better pwa - design view interactions
  src/app/core/facades/cms.facade.ts
  src/app/core/store/content/design-view/design-view.actions.ts
  src/app/core/store/content/design-view/design-view.reducer.ts
  src/app/core/store/content/design-view/design-view.selectors.spec.ts
  src/app/core/store/content/design-view/design-view.selectors.ts
  src/app/core/utils/design-view/design-view.service.ts
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.html
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.scss
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.spec.ts
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: improve pwa design view interactions (#1962)
  src/app/core/facades/cms.facade.ts
  src/app/core/store/content/design-view/design-view.actions.ts
  src/app/core/store/content/design-view/design-view.reducer.ts
  src/app/core/store/content/design-view/design-view.selectors.spec.ts
  src/app/core/store/content/design-view/design-view.selectors.ts
  src/app/core/utils/design-view/design-view.service.ts
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.html
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.scss
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.spec.ts
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add warranty information for recurring order line items (#1964, #1965)
  docs/guides/migrations.md
  src/app/core/models/recurring-order/recurring-order.interface.ts
  src/app/core/models/recurring-order/recurring-order.mapper.ts
  src/app/core/services/recurring-orders/recurring-orders.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: set Cache-Control headers to all routes for PCI DSS compliance
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: syntax issue where whitespace trimming in template caused proxy_ignore_headers to be ignored
  nginx/templates/cache-settings.conf.tmpl
Due: none

fix: revert setting aggressive cache control logic for sensitive routes
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: add migration note + improved naming
  docs/guides/migrations.md
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: set `Cache-Control: no-cache` header to all SSR responses for PCI DSS compliance (#1955)
  docs/guides/migrations.md
  nginx/templates/cache-settings.conf.tmpl
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: improve styling of sub categories in main navigation (#1884, #1961)
  src/styles/components/header/main-navigation.scss
Due: none

fix: design view wrapper styling
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.scss
Due: none
