Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: missing translation for edit address button (#1596)
  src/app/pages/account-addresses/account-addresses/account-addresses.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: improved NGINX route rewrite handling for '/home' and '/loading'
  nginx/templates/multi-channel.conf.tmpl
Due: none

Use a prefix for internal token oauth storage
  src/app/core/services/token/token.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Missing patch in instance-creator
  src/app/core/utils/instance-creators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove wishlistSharing feature toggle
  docs/concepts/configuration.md
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-page.component.html
  src/app/extensions/wishlists/pages/account-wishlist/account-wishlist-page.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display variations when there are no variation attributes
  src/app/core/models/product-variation/product-variation.helper.ts
  src/app/core/models/product-variation/variation-attribute.mapper.ts
  src/app/core/routing/product/product.route.ts
  src/app/pages/product/product-master-variations/product-master-variations.component.html
  src/app/pages/product/product-master-variations/product-master-variations.component.spec.ts
  src/app/pages/product/product-master-variations/product-master-variations.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: adjust German cookie banner localization
  src/assets/i18n/de_DE.json
Due: npx prettier --loglevel warn --write

refactor: move code for shared wishlist to extension
  src/app/app.module.ts
  src/app/core/facades/wishlist.facade.ts
  src/app/core/models/wishlist/wishlist.interface.ts
  src/app/core/models/wishlist/wishlist.mapper.spec.ts
  src/app/core/models/wishlist/wishlist.mapper.ts
  src/app/core/models/wishlist/wishlist.model.ts
  src/app/core/services/wishlist/wishlist.service.spec.ts
  src/app/core/services/wishlist/wishlist.service.ts
  src/app/core/store/general/general-store.module.ts
  src/app/core/store/general/general-store.ts
  src/app/core/store/general/wishlist/index.ts
  src/app/core/store/general/wishlist/wishlist.actions.ts
  src/app/core/store/general/wishlist/wishlist.effects.spec.ts
  src/app/core/store/general/wishlist/wishlist.effects.ts
  src/app/core/store/general/wishlist/wishlist.reducer.ts
  src/app/core/store/general/wishlist/wishlist.selectors.spec.ts
  src/app/core/store/general/wishlist/wishlist.selectors.ts
  src/app/extensions/wishlists/facades/wishlists.facade.ts
  src/app/extensions/wishlists/pages/wishlist-sharing-routing.module.ts
  src/app/extensions/wishlists/pages/wishlist/wishlist-line-item/wishlist-line-item.component.html
  src/app/extensions/wishlists/pages/wishlist/wishlist-line-item/wishlist-line-item.component.spec.ts
  src/app/extensions/wishlists/pages/wishlist/wishlist-line-item/wishlist-line-item.component.ts
  src/app/extensions/wishlists/pages/wishlist/wishlist-page.component.html
  src/app/extensions/wishlists/pages/wishlist/wishlist-page.component.spec.ts
  src/app/extensions/wishlists/pages/wishlist/wishlist-page.component.ts
  src/app/extensions/wishlists/pages/wishlist/wishlist-page.module.ts
  src/app/extensions/wishlists/services/wishlist/wishlist.service.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.actions.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.effects.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.reducer.ts
  src/app/pages/app-routing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: improved NGINX route rewrite handling for '/home' and '/loading' (#1566)
  nginx/templates/multi-channel.conf.tmpl
Due: none

fix: prevent free gifts from being added
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-order/account-order/account-order.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: add essential button again
  src/app/shell/application/cookies-banner/cookies-banner.component.html
  src/app/shell/application/cookies-banner/cookies-banner.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/components/cookies.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: provide FR localization for cookie banner
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: changed loading spinner to signal, setting value via button throws error
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-order/account-order/account-order.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: adjust EN, add DE and FR localization
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: support hyphens in translation case variables (#1539)
  src/app/core/utils/translate/pwa-translate-compiler.spec.ts
  src/app/core/utils/translate/pwa-translate-compiler.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: support further budget periods (#1539)
  projects/organization-management/src/app/components/user-budget-form/user-budget-form.component.ts
  src/app/shared/forms/utils/forms.service.spec.ts
  src/app/shared/forms/utils/forms.service.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: minimize cookie banner (#1595)
  e2e/cypress/e2e/specs/system/cookie-consent.b2c.e2e-spec.ts
  src/app/shell/application/cookies-banner/cookies-banner.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/components/cookies.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: styling changes for main navigation with CMS components + documentation
  docs/concepts/cms-integration.md
  docs/guides/migrations.md
  src/app/shell/header/header-navigation/header-navigation.component.html
  src/app/shell/header/header-navigation/header-navigation.component.spec.ts
  src/styles/components/header/main-navigation.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: CMS navigation link component
  src/app/core/models/content-view/content-view.helper.ts
  src/app/shared/cms/cms.module.ts
  src/app/shared/cms/components/cms-navigation-link/cms-navigation-link.component.html
  src/app/shared/cms/components/cms-navigation-link/cms-navigation-link.component.spec.ts
  src/app/shared/cms/components/cms-navigation-link/cms-navigation-link.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: CMS navigation page component
  src/app/core/facades/cms.facade.ts
  src/app/core/models/content-page-tree-view/content-page-tree-view.model.ts
  src/app/core/models/content-page-tree/content-page-tree.helper.ts
  src/app/core/store/content/page-tree/page-tree.selectors.ts
  src/app/shared/cms/cms.module.ts
  src/app/shared/cms/components/cms-navigation-page/cms-navigation-page.component.html
  src/app/shared/cms/components/cms-navigation-page/cms-navigation-page.component.spec.ts
  src/app/shared/cms/components/cms-navigation-page/cms-navigation-page.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: CMS navigation category component
  src/app/core/facades/shopping.facade.ts
  src/app/core/models/navigation-category/navigation-category.model.ts
  src/app/core/services/categories/categories.service.spec.ts
  src/app/core/services/categories/categories.service.ts
  src/app/core/store/shopping/categories/categories.actions.ts
  src/app/core/store/shopping/categories/categories.effects.spec.ts
  src/app/core/store/shopping/categories/categories.effects.ts
  src/app/core/store/shopping/categories/categories.reducer.ts
  src/app/core/store/shopping/categories/categories.selectors.spec.ts
  src/app/core/store/shopping/categories/categories.selectors.ts
  src/app/shared/cms/cms.module.ts
  src/app/shared/cms/components/cms-navigation-category/cms-navigation-category.component.html
  src/app/shared/cms/components/cms-navigation-category/cms-navigation-category.component.spec.ts
  src/app/shared/cms/components/cms-navigation-category/cms-navigation-category.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: improve the performance of 'Static Content Page' component renderings by optimizing/limiting the '/pagetree' REST calls regarding the used 'depth'
  docs/guides/migrations.md
  src/app/core/facades/cms.facade.ts
  src/app/shared/cms/components/cms-static-page/cms-static-page.component.html
  src/app/shared/cms/components/cms-static-page/cms-static-page.component.ts
  src/app/shared/cms/components/content-navigation/content-navigation.component.html
  src/app/shared/cms/components/content-navigation/content-navigation.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: improve the performance of 'Static Content Page' component (#1603)
  docs/guides/migrations.md
  src/app/core/facades/cms.facade.ts
  src/app/shared/cms/components/cms-static-page/cms-static-page.component.html
  src/app/shared/cms/components/cms-static-page/cms-static-page.component.ts
  src/app/shared/cms/components/content-navigation/content-navigation.component.html
  src/app/shared/cms/components/content-navigation/content-navigation.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: update date range, same date possible, hide filters if no order, wrappers fix, minor updates
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.b2c.html
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.ts
  src/app/pages/account-order-history/account-order-history-page.component.html
  src/app/pages/account-order-history/account-order-history-page.component.ts
  src/app/shared/formly/types/date-range-picker-field/date-range-picker-field.component.ts
  src/app/shared/formly/wrappers/horizontal-wrapper/horizontal-wrapper.component.ts
  src/app/shared/formly/wrappers/vertical-wrapper/vertical-wrapper.component.html
  src/app/shared/formly/wrappers/vertical-wrapper/vertical-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: minor improvements
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-order/account-order/account-order.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: jest fix and for demo purposes set limit as 3
  src/app/pages/account-order-history/account-order-history-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: small UI issues
  src/app/pages/product/product-detail-actions/product-detail-actions.component.html
  src/app/shared/formly/types/date-picker-field/date-picker-field.component.html
  src/styles/pages/category/product-list.scss
  src/styles/pages/productdetail/productdetail.scss
Due: npx prettier --loglevel warn --write

fix: placeholder translation problem
  src/app/shared/formly/extensions/translate-placeholder.extension.ts
  src/app/shared/formly/types/date-range-picker-field/date-range-picker-field.component.html
  src/app/shared/formly/types/date-range-picker-field/date-range-picker-field.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add Address Doctor version reference
  docs/guides/address-doctor.md
Due: npx prettier --loglevel warn --write

docs: documentation improvements (Redis, Address Doctor) (#1605)
  docs/guides/address-doctor.md
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

feat: adjusted german translation
  src/assets/i18n/de_DE.json
Due: npx prettier --loglevel warn --write

fix: small UI issues (#1604)
  src/app/pages/product/product-detail-actions/product-detail-actions.component.html
  src/app/shared/formly/types/date-picker-field/date-picker-field.component.html
  src/styles/pages/category/product-list.scss
  src/styles/pages/productdetail/productdetail.scss
Due: npx prettier --loglevel warn --write

chore: improve code quality
  docs/guides/formly.md
  src/app/pages/account-order-history/account-order-history-page.component.html
  src/app/pages/account-order-history/account-order-history-page.component.spec.ts
  src/app/pages/account-order-history/account-order-history-page.component.ts
  src/app/shared/formly/types/date-range-picker-field/date-range-picker-field.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ci: use https links for GitHub branch demo servers
  .github/workflows/demo-server-up.yml
Due: npx prettier --loglevel warn --write

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
