Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: do not show the product notification button to punchout users
  src/app/extensions/punchout/exports/punchout-product-context-display-properties/punchout-product-context-display-properties.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: do not show the product notification button for products of type "TactonProduct"
  src/app/extensions/tacton/exports/tacton-product-context-display-properties/tacton-product-context-display-properties.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: delete required field legend
  src/app/extensions/product-notifications/shared/product-notification-edit-dialog/product-notification-edit-dialog.component.html
Due: npx prettier --loglevel warn --write

fix: toaster should not be rendered during ssr
  src/app/core/store/core/messages/messages.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add "Product List (REST)" CMS component
  src/app/shared/cms/cms.module.ts
  src/app/shared/cms/components/cms-product-list-rest/cms-product-list-rest.component.html
  src/app/shared/cms/components/cms-product-list-rest/cms-product-list-rest.component.spec.ts
  src/app/shared/cms/components/cms-product-list-rest/cms-product-list-rest.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add "Product List (REST)" CMS component (#1397)
  src/app/shared/cms/cms.module.ts
  src/app/shared/cms/components/cms-product-list-rest/cms-product-list-rest.component.html
  src/app/shared/cms/components/cms-product-list-rest/cms-product-list-rest.component.spec.ts
  src/app/shared/cms/components/cms-product-list-rest/cms-product-list-rest.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: Angular 15 and dependencies update adaptions and smal translation key optimization
  src/app/extensions/product-notifications/models/product-notification/product-notification.mapper.spec.ts
  src/app/extensions/product-notifications/models/product-notification/product-notification.model.ts
  src/app/extensions/product-notifications/pages/product-notifications-routing.module.ts
  src/app/extensions/product-notifications/services/product-notifications/product-notifications.service.spec.ts
  src/app/extensions/product-notifications/shared/product-notification-delete/product-notification-delete.component.html
  src/app/extensions/product-notifications/shared/product-notification-delete/product-notification-delete.component.spec.ts
  src/app/extensions/product-notifications/shared/product-notification-edit-dialog/product-notification-edit-dialog.component.spec.ts
  src/app/extensions/product-notifications/shared/product-notification-edit-form/product-notification-edit-form.component.spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: Updated elgohr/Publish-Docker-Github-Action to a supported version (v5)
  .github/workflows/demo-server-up.yml
  .github/workflows/reports.yml
Due: npx prettier --loglevel warn --write

chore: temporarily deactivate full postinstall
  package.json
Due: npx prettier --loglevel warn --write

Angular CLI update for packages - @angular/cdk@*, @angular/core@*
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: reactivate full postinstall
  package.json
Due: npx prettier --loglevel warn --write

Angular CLI update for packages - @sentry/browser@*, @types/eslint@*, eslint-plugin-jsdoc@*, ng-mocks@*, stylelint@*, stylelint-config-standard@*, ts-jest@*, ts-morph@*
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: synchronize package-lock.json
  package-lock.json
Due: npx prettier --loglevel warn --write

chore: post upgrade fixes
  package.json
  src/styles/global/tables.scss
Due: npx prettier --loglevel warn --write

refactor: loadBasketOnBasketPage$ effect should only be triggered on browser side
  src/app/core/store/customer/basket/basket.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: add e2e test for product stock notifications
  e2e/cypress/e2e/pages/account/edit-product-notification.module.ts
  e2e/cypress/e2e/pages/account/my-account.page.ts
  e2e/cypress/e2e/pages/account/product-notifications-overview.page.ts
  e2e/cypress/e2e/specs/extras/product-price-notifications.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/extras/product-stock-notifications.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: basket loaded in SSR results in error and a toast message that can't be closed (#1406)
  src/app/core/store/core/messages/messages.effects.ts
  src/app/core/store/customer/basket/basket.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: Angular 15.2.5 and latest automatic dependencies updates (#1407)
  package-lock.json
  package.json
  src/styles/global/tables.scss
Due: npx prettier --loglevel warn --write

chore: correct localizations and migrations.md after review (#1410)
  docs/guides/migrations.md
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

refactor: tecnical review outcomes
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.html
  src/app/extensions/quickorder/shared/direct-order/direct-order.component.html
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/styles/global/print.scss
Due: npx prettier --loglevel warn --write

fix: page breaks are removed. Budget bars with different colors of borders.
  src/styles/global/print.scss
Due: none

fix: gray area is removed, order summary space and product detail bugfix
  src/styles/global/print.scss
Due: none

fix: encode canonical link to match actual link URLs
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: improve matcher routing for SEO URLs (#1387, #1409)
  docs/guides/migrations.md
  src/app/core/utils/routing.ts
  src/app/pages/app-last-routing.module.ts
  tsconfig.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: lazy-components are loaded too early
  schematics/src/lazy-component/factory.ts
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
  src/app/core/store/core/configuration/configuration.actions.ts
  src/app/core/store/core/configuration/configuration.reducer.ts
  src/app/core/store/core/configuration/configuration.selectors.ts
  src/app/core/utils/feature-toggle/feature-toggle.service.ts
  src/app/core/utils/module-loader/module-loader.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Update __name@dasherize__.component.ts.template
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
Due: none

fix: adapt Products List component to not display failed products (#1408)
  src/app/core/facades/shopping.facade.ts
  src/app/core/store/shopping/products/products.selectors.ts
  src/app/shared/components/product/product-item/product-item.component.html
  src/app/shared/components/product/product-row/product-row.component.html
  src/app/shared/components/product/product-tile/product-tile.component.html
  src/app/shared/components/product/products-list/products-list.component.html
  src/app/shared/components/product/products-list/products-list.component.spec.ts
  src/app/shared/components/product/products-list/products-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use ProductsListComponent for recently viewed items on PDP and recently viewed page (#1408)
  src/app/extensions/recently/pages/recently/recently-page.component.html
  src/app/extensions/recently/pages/recently/recently-page.component.spec.ts
  src/app/extensions/recently/shared/recently-viewed/recently-viewed.component.html
  src/app/extensions/recently/shared/recently-viewed/recently-viewed.component.spec.ts
  src/app/extensions/recently/store/recently/recently.integration.spec.ts
  src/app/extensions/recently/store/recently/recently.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use ProductsListComponent for wishlist widget component (#1408)
  src/app/extensions/wishlists/shared/wishlist-widget/wishlist-widget.component.html
  src/app/extensions/wishlists/shared/wishlist-widget/wishlist-widget.component.spec.ts
  src/app/extensions/wishlists/shared/wishlist-widget/wishlist-widget.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: enhance modal dialog component with fullscreen and scrolling (#1350)
  src/app/shared/components/common/modal-dialog/modal-dialog.component.ts
  src/styles/global/modals.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add product zoom functionality in fullscreen dialog (#1011, #1350)
  src/app/pages/product/product-images/product-images.component.html
  src/app/pages/product/product-images/product-images.component.ts
  src/styles/global/swiper.scss
  src/styles/pages/productdetail/product-images.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
