Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

fix: terms and conditions link on checkout review page
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.html
Due: npx prettier --loglevel warn --write

Azure Pipelines Action supports variables by now
  .github/workflows/azure-devops.yml
Due: npx prettier --loglevel warn --write

Forgot quotes
  .github/workflows/azure-devops.yml
Due: npx prettier --loglevel warn --write

feat: introduce Footer Top component that integrates the Store Locator
  src/app/shell/footer/footer-top/footer-top.component.html
  src/app/shell/footer/footer-top/footer-top.component.spec.ts
  src/app/shell/footer/footer-top/footer-top.component.ts
  src/app/shell/footer/footer/footer.component.html
  src/app/shell/footer/footer/footer.component.spec.ts
  src/app/shell/shell.module.ts
  src/styles/components/footer/footer.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: minor bugs concerning the preferred wishlist behavior
  src/app/extensions/wishlists/shared/select-wishlist-form/select-wishlist-form.component.ts
  src/app/extensions/wishlists/shared/select-wishlist-modal/select-wishlist-modal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add title to registration form
  src/app/core/services/registration-form-configuration/registration-form-configuration.service.spec.ts
  src/app/core/services/registration-form-configuration/registration-form-configuration.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: replace deprecated String method 'substr()' with 'substring()'
  docs/check-documentation-overview.js
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.ts
  projects/organization-management/src/app/services/organization-management-breadcrumb/organization-management-breadcrumb.service.ts
  schematics/migration/0.16-to-0.17/index.js
  schematics/migration/0.20-to-0.21/migrate-action-creators.actions.ts
  schematics/src/helpers/move-component/factory.ts
  schematics/src/migration/decontainerize-0.16-to-0.17/factory.ts
  schematics/src/utils/common.ts
  src/app/core/services/api/api.service.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
  templates/review-server/review-proxy.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: latest dependencies updates except Angular 13.2
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix: add title to registration form (#1002)
  src/app/core/services/registration-form-configuration/registration-form-configuration.service.spec.ts
  src/app/core/services/registration-form-configuration/registration-form-configuration.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: move registration form service
  src/app/pages/registration/registration-form-configuration/registration-form-configuration.service.spec.ts
  src/app/pages/registration/registration-form-configuration/registration-form-configuration.service.ts
  src/app/pages/registration/registration-page.component.spec.ts
  src/app/pages/registration/registration-page.component.ts
  src/app/pages/registration/registration-page.guard.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: recalculate basket after language/currency change
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

address-form doc comments
  src/app/shared/formly-address-forms/components/formly-address-form/formly-address-form.component.ts
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.ts
  src/app/shared/formly-address-forms/configurations/address-form-configuration.provider.ts
  src/app/shared/formly-address-forms/configurations/address-form.configuration.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

registration provider
  src/app/pages/registration/registration-page.component.ts
  src/app/pages/registration/registration-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: reorganize formly modules pt 1
  src/app/shared/formly/extensions/extensions.module.ts
  src/app/shared/formly/formly.module.ts
  src/app/shared/formly/types/types.module.ts
  src/app/shared/formly/wrappers/components/field-tooltip/field-tooltip.component.html
  src/app/shared/formly/wrappers/components/field-tooltip/field-tooltip.component.spec.ts
  src/app/shared/formly/wrappers/components/field-tooltip/field-tooltip.component.ts
  src/app/shared/formly/wrappers/components/validation-icons/validation-icons.component.html
  src/app/shared/formly/wrappers/components/validation-icons/validation-icons.component.spec.ts
  src/app/shared/formly/wrappers/components/validation-icons/validation-icons.component.ts
  src/app/shared/formly/wrappers/components/validation-message/validation-message.component.spec.ts
  src/app/shared/formly/wrappers/components/validation-message/validation-message.component.ts
  src/app/shared/formly/wrappers/wrappers.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fix test reference updates
  src/app/pages/checkout-review/checkout-review/checkout-review.component.spec.ts
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.spec.ts
  src/app/pages/registration/formly/registration-tac-field/registration-tac-field.component.spec.ts
  src/app/shared/formly/wrappers/horizontal-checkbox-wrapper/horizontal-checkbox-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/validation-wrapper/validation-wrapper.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: one more reference
  src/app/shared/formly/wrappers/tooltip-wrapper/tooltip-wrapper.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: test fixes
  src/app/extensions/store-locator/pages/store-locator/store-locator-page.component.spec.ts
  src/app/pages/registration/registration-form-configuration/registration-form-configuration.service.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 2.0.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix: remove formly stuff
  src/app/shared/formly/formly.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: checkout tac
  src/app/pages/checkout-review/checkout-review/checkout-review.component.ts
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.html
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: context with propagateActive as input
  src/app/core/directives/product-context.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: add @import 'variables'; to schemitics generated scss files
  schematics/src/cms-component/files/__name@dasherize@if-flat__/__name@dasherize__.component.scss.template
  schematics/src/component/files/__name@dasherize@if-flat__/__name@dasherize__.component.scss.template
Due: none

fix: fix "Cannot read property 'replace' of undefined" in schematics with --skip-import
  schematics/src/utils/common.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: payment redirect respects baseHref
  src/app/core/services/payment/payment.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: fix provider
  src/app/core/services/payment/payment.service.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: recalculate basket after currency change (#1005)
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: correct redirect for order service
  src/app/core/services/order/order.service.spec.ts
  src/app/core/services/order/order.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Generated new selfsigned SSL cert for localhost
  dist/server.crt
  dist/server.key
Due: none

fix: payment & order redirect respects baseHref (#1010)
  src/app/core/services/order/order.service.spec.ts
  src/app/core/services/order/order.service.ts
  src/app/core/services/payment/payment.service.spec.ts
  src/app/core/services/payment/payment.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

folder structure
  src/app/pages/checkout-review/checkout-review/checkout-review.component.spec.ts
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.spec.ts
  src/app/pages/registration/formly/registration-tac-field/registration-tac-field.component.spec.ts
  src/app/pages/registration/registration-page.component.spec.ts
  src/app/pages/registration/registration-page.component.ts
  src/app/pages/registration/registration-page.guard.ts
  src/app/pages/registration/registration-page.module.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.spec.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/formly/components/components.module.ts
  src/app/shared/formly/components/field-tooltip/field-tooltip.component.html
  src/app/shared/formly/components/field-tooltip/field-tooltip.component.spec.ts
  src/app/shared/formly/components/field-tooltip/field-tooltip.component.ts
  src/app/shared/formly/components/validation-icons/validation-icons.component.html
  src/app/shared/formly/components/validation-icons/validation-icons.component.spec.ts
  src/app/shared/formly/components/validation-icons/validation-icons.component.ts
  src/app/shared/formly/components/validation-message/validation-message.component.spec.ts
  src/app/shared/formly/components/validation-message/validation-message.component.ts
  src/app/shared/formly/formly.module.ts
  src/app/shared/formly/wrappers/horizontal-checkbox-wrapper/horizontal-checkbox-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/tooltip-wrapper/tooltip-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/validation-wrapper/validation-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/wrappers.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: trim payment values before sending
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: include all theme in allowed overrides
  .eslintrc.json
Due: npx prettier --loglevel warn --write

fix: include all theme in allowed overrides (#1014)
  .eslintrc.json
Due: npx prettier --loglevel warn --write
