Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

Update success messages to create consistent behavior for success messages in My Account area
  src/app/core/facades/account.facade.ts
  src/app/core/store/addresses/addresses.effects.spec.ts
  src/app/core/store/addresses/addresses.effects.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.spec.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.ts
  src/app/pages/account-addresses/account-addresses-page.component.html
  src/app/pages/account-addresses/account-addresses-page.component.ts
  src/app/pages/account-addresses/account-addresses/account-addresses.component.spec.ts
  src/app/pages/account-addresses/account-addresses/account-addresses.component.ts
  src/app/pages/account-profile-company/account-profile-company-page.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add success messages for wishlists
  src/app/extensions/wishlists/store/wishlist/wishlist.effects.spec.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.effects.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.selectors.spec.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.selectors.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: special configuration for storybook in angular.json
  angular.json
  src/environments/environment.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add stories for product-item component
  .createMockdata.table
  src/app/shared/components/product/product-item/product-item.component.ts
  src/assets/mock-data/products/1612143/get.json
  src/assets/mock-data/products/M4548736000919/get.json
  src/stories/product-item.stories.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: add storybook source addon
  .storybook/main.js
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: add storybook knobs addon
  .storybook/main.js
  package-lock.json
  package.json
  src/stories/product-quantity.stories.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

!drop point against public deployment
  src/environments/environment.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add stories for login-modal component
  src/app/shared/shared.module.ts
  src/stories/login-modal.stories.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

!drop product-item isolation example
  src/stories/product-item.stories.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixup! add success messages for wishlists
  src/app/extensions/wishlists/store/wishlist/wishlist.effects.spec.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.effects.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: adapt test for 7.10.17.0 release
  e2e/cypress/integration/pages/checkout/cart.page.ts
  e2e/cypress/integration/specs/checkout/basket-handling.b2c.e2e-spec.ts
  src/app/core/models/http-error/__snapshots__/http-error.mapper.spec.ts.snap
  src/app/core/models/http-error/http-error.mapper.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: introduce commitizen and commitlint
  .cz-config.js
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

build: introduce commitizen and commitlint (#139)
  .cz-config.js
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix: consistent success messages in My Account area (#147)
  src/app/core/facades/account.facade.ts
  src/app/core/store/addresses/addresses.effects.spec.ts
  src/app/core/store/addresses/addresses.effects.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.spec.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.effects.spec.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.effects.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.selectors.spec.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.selectors.ts
  src/app/pages/account-addresses/account-addresses-page.component.html
  src/app/pages/account-addresses/account-addresses-page.component.ts
  src/app/pages/account-addresses/account-addresses/account-addresses.component.spec.ts
  src/app/pages/account-addresses/account-addresses/account-addresses.component.ts
  src/app/pages/account-profile-company/account-profile-company-page.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use data.id for ContentPageletEntryPoint id (#151)
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.mapper.spec.ts
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: adapt e2e test for cms (#151)
  e2e/cypress/integration/specs/cms/server-html.mock.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: matcher for category url rewrite
  src/app/core/routing/category/category.route.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: optimize PWA docker build
  Dockerfile
  package.json
Due: npx prettier --loglevel warn --write

chore: adapt multi-channel examples
  .gitlab-ci.yml
  nginx/README.md
  templates/docker-compose.yml
Due: npx prettier --loglevel warn --write

test: improve retrying on cypress timeout
  e2e/test-e2e.sh
Due: none

feat: nginx can be run with default PWA channel configuration if environment variables are omitted (#143)
  nginx/README.md
  nginx/entrypoint.sh
  schematics/src/kubernetes-deployment/files/charts/pwa-nginx/templates/deployment.yaml
  schematics/src/kubernetes-deployment/files/charts/pwa-nginx/values.yaml
  src/app/core/store/configuration/configuration.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: make PWA docker build configuration aware (#143)
  Dockerfile
  angular.json
  templates/docker-compose.yml
Due: npx prettier --loglevel warn --write

test: increase number of parallel cypress jobs for gitlab ci
  .gitlab-ci.yml
  e2e/e2e-partition.sh
Due: npx prettier --loglevel warn --write

chore: print nginx config files only if DEBUG is set
  nginx/entrypoint.sh
Due: none

feat: make complete domain configurable for multi-channel setup (#143)
  nginx/README.md
  nginx/channel.conf.tmpl
  nginx/entrypoint.sh
Due: npx prettier --loglevel warn --write

build: fix PWA docker image signal responding
  dist/entrypoint.sh
Due: none

deps: upgrade cypress
  e2e/package-lock.json
  e2e/package.json
Due: npx prettier --loglevel warn --write

perf: use new parameter omitHasOnlineProducts for more performant categories tree call
  src/app/core/services/categories/categories.service.spec.ts
  src/app/core/services/categories/categories.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: formatting issue
  package.json
Due: npx prettier --loglevel warn --write

fix: searchbox prevent "null"
  src/app/shell/header/search-box/search-box.component.html
Due: npx prettier --loglevel warn --write

chore: proxy icm for demo deployments
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

chore: hide unavailable variation options
  src/app/shared/components/product/product-variation-select/product-variation-select.component.html
Due: npx prettier --loglevel warn --write

chore: alternative disable unavailable variation options
  src/app/shared/components/product/product-variation-select/product-variation-select.component.html
Due: npx prettier --loglevel warn --write

chore: provide log interceptor logging REST call durations
  src/app/app.server.module.ts
  src/app/core/interceptors/universal-log.interceptor.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: deactivate throttle time in products effects on SSR
  src/app/core/store/shopping/products/products.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add labels for syncing documents to knowledge base
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  INTERSHOP_CLA.md
  README.md
  docs/customizations.md
  docs/exclude.properties
  docs/intershop_progressive_web_app.ditamap
  docs/migrations.md
  docs/project-structure.md
  docs/search-engine-optimization.md
  docs/state-management.md
Due: npx prettier --loglevel warn --write
