Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

changed label-element into ish-product-quantity-label
  src/app/extensions/quoting/shared/quote-line-item-list-element/quote-line-item-list-element.component.html
Due: npx prettier --loglevel warn --write

added quantity-label-component to jest-test
  src/app/shared/components/line-item/line-item-edit-dialog/line-item-edit-dialog.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

removed unneccessary label for desktop quantity that isn't visible anyway, not needed for accessibility because it's labelled by the aria-label
  src/app/extensions/quoting/shared/quote-line-item-list-element/quote-line-item-list-element.component.html
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.html
Due: npx prettier --loglevel warn --write

replaced label with class "product-variation-info"
  src/app/shared/components/product/product-variation-display/product-variation-display.component.html
  src/styles/pages/productdetail/product-info.scss
Due: npx prettier --loglevel warn --write

refacteored labels into divs with new css class
  .eslintrc.json
  projects/organization-management/src/app/components/cost-center-budget/cost-center-budget.component.html
  projects/organization-management/src/app/components/user-budget/user-budget.component.html
  projects/organization-management/src/app/components/user-roles-selection/user-roles-selection.component.html
  src/app/extensions/quoting/shared/quote-edit/quote-edit.component.html
  src/app/extensions/quoting/shared/quote-view/quote-view.component.html
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.html
  src/app/shared/components/basket/basket-error-message/basket-error-message.component.html
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.html
  src/app/shared/components/product/product-id/product-id.component.html
  src/styles/global/forms.scss
  src/styles/global/global.scss
  src/styles/pages/productdetail/product-info.scss
Due: npx prettier --loglevel warn --write

changed label into span with css-class
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-line-item/account-wishlist-detail-line-item.component.html
Due: npx prettier --loglevel warn --write

added quantity-label-component to jest-test
  src/app/extensions/quoting/shared/quote-line-item-list-element/quote-line-item-list-element.component.spec.ts
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: force a name attribute on radio inputs
  src/app/shared/formly/types/radio-field/radio-field.component.html
  src/app/shared/formly/types/radio-field/radio-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: parameters ;loc and ;cur may overlook server configuration
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/api/api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: textarea description wrapper trigger to much changes
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(product-image): added new zoom functionality
  package-lock.json
  package.json
  src/app/pages/product/product-images/product-images.component.html
  src/app/pages/product/product-images/product-images.component.ts
  src/app/pages/product/product-page.module.ts
  src/app/shared/components/product/product-image-zoom/product-image-zoom.component.html
  src/app/shared/components/product/product-image-zoom/product-image-zoom.component.scss
  src/app/shared/components/product/product-image-zoom/product-image-zoom.component.spec.ts
  src/app/shared/components/product/product-image-zoom/product-image-zoom.component.ts
  src/styles/pages/productdetail/productdetail.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove class "col-term" and use "col-form-label" again, adjust HTML structure label vs. div
  projects/organization-management/src/app/components/user-roles-selection/user-roles-selection.component.html
  src/app/extensions/quoting/shared/quote-edit/quote-edit.component.html
  src/app/extensions/quoting/shared/quote-line-item-list-element/quote-line-item-list-element.component.html
  src/app/extensions/quoting/shared/quote-view/quote-view.component.html
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-line-item/account-wishlist-detail-line-item.component.html
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.html
  src/app/shared/components/line-item/line-item-edit-dialog/line-item-edit-dialog.component.html
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.html
  src/styles/global/forms.scss
  src/styles/global/global.scss
Due: npx prettier --loglevel warn --write

Update .prettierrc.json to make sure that *.mts files are using typescript parser
  .prettierrc.json
Due: npx prettier --loglevel warn --write

chore: cleanup unused styling definitions
  src/app/extensions/quickorder/shared/quickorder-csv-form/quickorder-csv-form.component.html
  src/styles/components/carousel/carousel.scss
  src/styles/global/buttons.scss
  src/styles/global/global.scss
  src/styles/global/icons.scss
  src/styles/global/labels.scss
  src/styles/global/promotions.scss
  src/styles/global/sections.scss
  src/styles/main.scss
  src/styles/pages/account/account.scss
  src/styles/pages/category/category-page.scss
  src/styles/pages/category/category.scss
  src/styles/pages/category/filter-panel.scss
  src/styles/pages/category/filter-row.scss
  src/styles/pages/category/product-list.scss
  src/styles/pages/category/search-result.scss
  src/styles/pages/checkout/checkout.scss
  src/styles/pages/checkout/quick-cart.scss
  src/styles/pages/checkout/shopping-cart.scss
  src/styles/pages/content-pages/brands.scss
  src/styles/pages/content-pages/page-content.scss
  src/styles/pages/productdetail/product-images.scss
  src/styles/pages/productdetail/product-info.scss
  src/styles/pages/productdetail/productdetail.scss
  src/styles/pages/productdetail/rating.scss
  src/styles/themes/b2b/style.scss
  src/styles/themes/b2b/variables.scss
  src/styles/themes/b2c/variables.scss
Due: npx prettier --loglevel warn --write

feat: make the 'b2c' theme a configurable theme dynamically customizable with CSS custom properties (#1427)
  src/styles/components/header/main-navigation.scss
  src/styles/global/breadcrumbs.scss
  src/styles/global/buttons.scss
  src/styles/global/forms.scss
  src/styles/global/global.scss
  src/styles/global/lists.scss
  src/styles/pages/account/account-navigation.scss
  src/styles/pages/checkout/checkout.scss
  src/styles/pages/productdetail/product-info.scss
  src/styles/pages/productdetail/productdetail.scss
  src/styles/themes/b2b/variables.scss
  src/styles/themes/b2c/properties.scss
  src/styles/themes/b2c/style.scss
  src/styles/themes/b2c/variables.scss
Due: none

docs: add Configurable Theme documentation (#1427)
  docs/README.md
  docs/concepts/configuration.md
  docs/concepts/pwa-building-blocks.md
  docs/concepts/styling-behavior.md
  docs/guides/customizations.md
  docs/guides/migrations.md
  docs/guides/multi-site-configurations.md
  docs/guides/multiple-themes.md
  docs/guides/ssr-startup.md
  docs/guides/themes.md
  src/assets/mock-data/cms/includes/include.configuration.pagelet2-Include/get.json
Due: npx prettier --loglevel warn --write

feat: load extra configuration from Configuration CMS component for dynamic storefront configuration (#1427)
  src/app/core/facades/app.facade.ts
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.ts
  src/app/core/services/configuration/configuration.service.spec.ts
  src/app/core/services/configuration/configuration.service.ts
  src/app/core/store/core/server-config/server-config.actions.ts
  src/app/core/store/core/server-config/server-config.effects.spec.ts
  src/app/core/store/core/server-config/server-config.effects.ts
  src/app/core/store/core/server-config/server-config.reducer.ts
  src/app/core/store/core/server-config/server-config.selectors.ts
  src/app/core/utils/dom/dom.service.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: adjustments after reviewing documentation
  docs/concepts/configuration.md
  docs/concepts/pwa-building-blocks.md
  docs/concepts/styling-behavior.md
  docs/guides/customizations.md
  docs/guides/migrations.md
  docs/guides/multi-site-configurations.md
  docs/guides/ssr-startup.md
  docs/guides/themes.md
Due: npx prettier --loglevel warn --write

feat: minor formly radio field improvements
  src/app/shared/formly/types/radio-field/radio-field.component.html
  src/app/shared/formly/types/radio-field/radio-field.component.spec.ts
  src/app/shared/formly/types/radio-field/radio-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: force a name attribute on radio inputs (#1435)
  src/app/shared/formly/types/radio-field/radio-field.component.html
  src/app/shared/formly/types/radio-field/radio-field.component.spec.ts
  src/app/shared/formly/types/radio-field/radio-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add oci punchout configuration page and form component skeleton
  src/app/extensions/punchout/pages/account-punchout-configuration/account-punchout-configuration-page.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/account-punchout-configuration-page.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/account-punchout-configuration-page.component.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/account-punchout-configuration-page.module.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.ts
  src/app/extensions/punchout/pages/account-punchout/account-punchout-header/account-punchout-header.component.html
  src/app/extensions/punchout/pages/account-punchout/account-punchout-page.module.ts
  src/app/extensions/punchout/pages/punchout-account-routing.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add some oci configuration form functionality (not yet finished)
  src/app/extensions/punchout/models/oci-configuration/oci-configuration.model.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/account-punchout-configuration-page.module.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-repeat-field/oci-configuration-repeat-field.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-repeat-field/oci-configuration-repeat-field.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-repeat-field/oci-configuration-repeat-field.component.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: OciConfiguration model added
  src/app/extensions/punchout/models/oci-configuration/oci-configuration.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: actions are created for the oci configuration
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.actions.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: punchout oci configuration store version one
  src/app/extensions/punchout/facades/punchout.facade.ts
  src/app/extensions/punchout/models/oci-configuration/oci-configuration.model.ts
  src/app/extensions/punchout/services/punchout/punchout.service.ts
  src/app/extensions/punchout/store/oci-configuration/index.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.actions.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.effects.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.reducer.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.selectors.ts
  src/app/extensions/punchout/store/punchout-store.module.ts
  src/app/extensions/punchout/store/punchout-store.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: effects added for the get and update operations of punchout configuration
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.actions.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display success message, errors and loading
  src/app/extensions/punchout/facades/punchout.facade.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.ts
  src/app/extensions/punchout/services/punchout/punchout.service.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.effects.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: fix state handling, basic display and update functionality
  src/app/extensions/punchout/facades/punchout.facade.ts
  src/app/extensions/punchout/models/oci-configuration-item/oci-configuration-item.model.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/account-punchout-configuration-page.module.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.ts
  src/app/extensions/punchout/services/punchout/punchout.service.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.actions.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.effects.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.reducer.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add mapping value fields to form
  src/app/core/icon.module.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/account-punchout-configuration-page.module.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-repeat-mapping-field/oci-configuration-repeat-mapping-field.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-repeat-mapping-field/oci-configuration-repeat-mapping-field.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-repeat-mapping-field/oci-configuration-repeat-mapping-field.component.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: get and display formatters and placeholders
  .vscode/intershop.txt
  src/app/core/utils/functions.ts
  src/app/extensions/punchout/facades/punchout.facade.ts
  src/app/extensions/punchout/models/oci-configuration-item/oci-configuration-item.model.ts
  src/app/extensions/punchout/models/oci-options/oci-options.interface.ts
  src/app/extensions/punchout/models/oci-options/oci-options.mapper.ts
  src/app/extensions/punchout/models/oci-options/oci-options.model.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.ts
  src/app/extensions/punchout/services/punchout/punchout.service.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.actions.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.effects.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.reducer.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.selectors.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: tests for store/basic functionality added
  src/app/core/utils/functions.spec.ts
  src/app/core/utils/functions.ts
  src/app/extensions/punchout/models/oci-options/oci-options.mapper.spec.ts
  src/app/extensions/punchout/models/oci-options/oci-options.mapper.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/account-punchout-configuration-page.component.spec.ts
  src/app/extensions/punchout/services/punchout/punchout.service.spec.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.actions.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.effects.spec.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.effects.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.reducer.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.selectors.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add wrapper component for mapping value fields
  src/app/extensions/punchout/pages/account-punchout-configuration/account-punchout-configuration-page.module.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/mapping-input-wrapper/mapping-input-wrapper.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/mapping-input-wrapper/mapping-input-wrapper.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/mapping-input-wrapper/mapping-input-wrapper.component.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.ts
  src/styles/global/forms.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: formly components
  .eslintrc.json
  src/app/core/utils/functions.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/account-punchout-configuration-page.module.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/mapping-input-wrapper/mapping-input-wrapper.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/mapping-input-wrapper/mapping-input-wrapper.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-mapping-repeat-field/oci-configuration-mapping-repeat-field.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-mapping-repeat-field/oci-configuration-mapping-repeat-field.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-mapping-repeat-field/oci-configuration-mapping-repeat-field.component.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-mapping-wrapper/oci-configuration-mapping-wrapper.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-mapping-wrapper/oci-configuration-mapping-wrapper.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-mapping-wrapper/oci-configuration-mapping-wrapper.component.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-repeat-mapping-field/oci-configuration-repeat-mapping-field.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-repeat-mapping-field/oci-configuration-repeat-mapping-field.component.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add 'Add a row' link to extend the mappings by new lines
  src/app/extensions/punchout/models/oci-configuration-item/oci-configuration-item.model.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-mapping-repeat-field/oci-configuration-mapping-repeat-field.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-mapping-repeat-field/oci-configuration-mapping-repeat-field.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-mapping-repeat-field/oci-configuration-mapping-repeat-field.component.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: tooltips should be clickable and fixed to be able to copy data, error with form after first submission
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
