Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: updated cost center api call logic
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/guards/fetch-cost-centers.guard.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
  projects/organization-management/src/app/pages/organization-management-routing.module.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.spec.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.actions.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.spec.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.reducer.ts
  src/app/core/models/cost-center/cost-center.interface.ts
  src/app/core/models/cost-center/cost-center.mapper.ts
  src/app/core/models/cost-center/cost-center.model.ts
  src/app/core/models/paging/paging.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: adding cost center searching
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.html
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.spec.ts
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.ts
  projects/organization-management/src/app/components/managers-select/managers-select.component.html
  projects/organization-management/src/app/components/managers-select/managers-select.component.spec.ts
  projects/organization-management/src/app/components/managers-select/managers-select.component.ts
  projects/organization-management/src/app/exports/index.ts
  projects/organization-management/src/app/exports/organization-management-exports.module.ts
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/organization-management.module.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.spec.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.module.ts
  projects/organization-management/src/app/pages/cost-centers/formly/cost-centers-select-managers-field/cost-centers-select-managers-field.component.html
  projects/organization-management/src/app/pages/cost-centers/formly/cost-centers-select-managers-field/cost-centers-select-managers-field.component.spec.ts
  projects/organization-management/src/app/pages/cost-centers/formly/cost-centers-select-managers-field/cost-centers-select-managers-field.component.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.spec.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.actions.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.spec.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.ts
  src/app/core/models/cost-center-query/cost-center-query.model.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed dead code issues
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.spec.ts
  src/app/core/models/cost-center/cost-center.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: added cost center name searching
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.spec.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.ts
  src/app/core/models/cost-center-query/cost-center-query.model.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: fixing translation file issues
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: fixed failed compilation
  projects/organization-management/src/app/store/cost-centers/cost-centers.selectors.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: updated cost center retrieval logic
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed cost-center styling, fixed translation files
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed merge request comments
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed cost-center management searching functionality
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.html
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.spec.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.ts
  src/app/core/models/cost-center-query/cost-center-query.model.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: removing unused test code, removing unused component code
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.spec.ts
  projects/organization-management/src/app/components/managers-select/managers-select.component.html
  projects/organization-management/src/app/components/managers-select/managers-select.component.spec.ts
  projects/organization-management/src/app/components/managers-select/managers-select.component.ts
  projects/organization-management/src/app/exports/index.ts
  projects/organization-management/src/app/exports/organization-management-exports.module.ts
  projects/organization-management/src/app/organization-management.module.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.spec.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.module.ts
  projects/organization-management/src/app/pages/cost-centers/formly/cost-centers-select-managers-field/cost-centers-select-managers-field.component.html
  projects/organization-management/src/app/pages/cost-centers/formly/cost-centers-select-managers-field/cost-centers-select-managers-field.component.spec.ts
  projects/organization-management/src/app/pages/cost-centers/formly/cost-centers-select-managers-field/cost-centers-select-managers-field.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: updated no results message
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: removed api mock from cost center effects testing
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed dead-code error
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: review changes + migration note
  docs/guides/migrations.md
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/models/cost-center-query/cost-center-query.model.ts
  projects/organization-management/src/app/organization-management.module.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-filter/cost-centers-filter.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-filter/cost-centers-filter.component.spec.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-filter/cost-centers-filter.component.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.spec.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.module.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.actions.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.spec.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.reducer.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.selectors.spec.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.selectors.ts
  src/app/core/models/cost-center/cost-center.interface.ts
  src/app/core/models/cost-center/cost-center.mapper.spec.ts
  src/app/core/models/cost-center/cost-center.mapper.ts
  src/app/core/models/cost-center/cost-center.model.ts
  src/app/core/models/paging/paging.model.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: cost center management pagination and search (#1794)
  docs/guides/migrations.md
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/guards/fetch-cost-centers.guard.ts
  projects/organization-management/src/app/models/cost-center-query/cost-center-query.model.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-filter/cost-centers-filter.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-filter/cost-centers-filter.component.spec.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-filter/cost-centers-filter.component.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.spec.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.module.ts
  projects/organization-management/src/app/pages/organization-management-routing.module.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.spec.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.actions.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.spec.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.reducer.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.selectors.spec.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.selectors.ts
  src/app/core/models/cost-center/cost-center.interface.ts
  src/app/core/models/cost-center/cost-center.mapper.spec.ts
  src/app/core/models/cost-center/cost-center.mapper.ts
  src/app/core/models/cost-center/cost-center.model.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: update project description in readme (#1879)
  README.md
Due: npx prettier --loglevel warn --write

fix: display captcha validation errors (#1870)
  src/app/extensions/captcha/exports/lazy-captcha/lazy-captcha.component.ts
  src/app/extensions/captcha/shared/captcha-v2/captcha-v2.component.html
  src/app/extensions/captcha/shared/captcha-v2/captcha-v2.component.ts
  src/app/extensions/captcha/shared/captcha-v3/captcha-v3.component.html
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.spec.ts
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.ts
  src/app/pages/forgot-password/request-reminder-form/request-reminder-form.component.html
  src/app/pages/forgot-password/request-reminder-form/request-reminder-form.component.spec.ts
  src/app/pages/forgot-password/request-reminder-form/request-reminder-form.component.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/formly/types/types.module.ts
  src/app/shared/formly/wrappers/validation-wrapper/validation-wrapper.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent display of search suggest layer after search was executed on mobile
  src/app/shell/header/header-default/header-default.component.html
Due: npx prettier --loglevel warn --write

test: update mobile snapshots
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
Due: none

fix: change the text of the brand suggest headline in the suggest layer
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: select the most recently created "New" quote request when adding a product to quote request (#1875)
  src/app/extensions/quoting/services/quoting/quoting.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: added inline editing for renaming the order template
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.scss
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Revert "feat: added inline editing for renaming the order template"
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.scss
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

styling improvements
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/quoting/shared/quote-edit/quote-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.scss
  src/app/shared/components/common/in-place-edit/in-place-edit.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

review changes
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.ts
  src/app/extensions/quoting/shared/quote-edit/quote-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.spec.ts
  src/app/shared/components/common/in-place-edit/in-place-edit.component.ts
  src/styles/global/forms.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: implemented requested changes
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.ts
  src/app/extensions/quoting/shared/quote-edit/quote-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.spec.ts
  src/app/shared/components/common/in-place-edit/in-place-edit.component.ts
  src/styles/global/forms.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: implemented requested changes
  docs/guides/migrations.md
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.module.ts
  src/app/shared/components/common/in-place-edit/in-place-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.spec.ts
  src/app/shared/components/common/in-place-edit/in-place-edit.component.ts
  src/app/shared/formly/wrappers/inline-validation-wrapper/inline-validation-wrapper.component.html
  src/app/shared/formly/wrappers/inline-validation-wrapper/inline-validation-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/inline-validation-wrapper/inline-validation-wrapper.component.ts
  src/app/shared/formly/wrappers/wrappers.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

review changes
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.ts
  src/app/shared/formly/wrappers/inline-validation-wrapper/inline-validation-wrapper.component.html
  src/app/shared/formly/wrappers/inline-validation-wrapper/inline-validation-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/inline-validation-wrapper/inline-validation-wrapper.component.ts
  src/app/shared/formly/wrappers/validation-wrapper/validation-wrapper.component.html
  src/app/shared/formly/wrappers/wrappers.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed icon size
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.spec.ts
  src/app/shared/components/common/in-place-edit/in-place-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.spec.ts
  src/app/shared/components/common/in-place-edit/in-place-edit.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: select a pagelet triggered by design view
  src/app/core/facades/cms.facade.ts
  src/app/core/store/content/content-store.module.ts
  src/app/core/store/content/content-store.ts
  src/app/core/store/content/design-view/design-view.actions.ts
  src/app/core/store/content/design-view/design-view.reducer.ts
  src/app/core/store/content/design-view/design-view.selectors.spec.ts
  src/app/core/store/content/design-view/design-view.selectors.ts
  src/app/core/store/content/design-view/index.ts
  src/app/core/utils/design-view/design-view.service.ts
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.html
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.scss
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.spec.ts
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

review changes
  docs/guides/migrations.md
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.module.ts
  src/app/extensions/quoting/shared/quote-edit/quote-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.scss
  src/app/shared/components/common/in-place-edit/in-place-edit.component.spec.ts
  src/app/shared/components/common/in-place-edit/in-place-edit.component.ts
  src/app/shared/formly/wrappers/validation-wrapper/validation-wrapper.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: add localizations
  src/assets/i18n/de_DE.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

docs: changes after review of migrations.md
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

docs: add closing quotes
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

feat: use inline editing for order template renaming (#1804)
  docs/guides/migrations.md
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.ts
  src/app/extensions/quoting/shared/quote-edit/quote-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.scss
  src/app/shared/components/common/in-place-edit/in-place-edit.component.spec.ts
  src/app/shared/components/common/in-place-edit/in-place-edit.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: dependencies updates independent from Angular update
  docs/guides/migrations.md
  package-lock.json
  package.json
  schematics/src/module/factory_spec.ts
  scripts/migrate-destroy-subject.ts
  src/app/shared/components/product/product-item/product-item.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: apply ESLint plugin (@typescript-eslint) update changes
  src/app/core/services/payment/payment.service.ts
  src/app/core/store/customer/basket/basket.selectors.ts
  src/app/shared/formly/types/date-range-picker-field/date-range-picker-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: auto fixed Stylelint changes
  projects/requisition-management/src/app/pages/requisition-detail/budget-bar/budget-bar.component.scss
  src/app/shared/components/filter/filter-dropdown/filter-dropdown.component.scss
  src/styles/components/footer/footer.scss
  src/styles/components/header/header.scss
  src/styles/components/header/main-navigation.scss
  src/styles/components/header/search-container.scss
  src/styles/global/animations.scss
  src/styles/global/breadcrumbs.scss
  src/styles/global/buttons.scss
  src/styles/global/global.scss
  src/styles/global/share-tools.scss
  src/styles/global/tables.scss
  src/styles/pages/account/account-dashboard.scss
  src/styles/pages/account/account.scss
  src/styles/pages/category/category-page.scss
  src/styles/pages/category/filter-panel.scss
  src/styles/pages/category/product-list.scss
  src/styles/pages/category/search-result.scss
  src/styles/pages/checkout/quick-cart.scss
  src/styles/pages/productdetail/tacton.scss
Due: none

style: manual Stylelint adaptions/fixes
  src/styles/components/header/search-container.scss
  src/styles/global/global.scss
  src/styles/global/ng-select.scss
  src/styles/global/tables.scss
Due: none

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
