Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

change to ms365 login
  src/app/core/identity-provider/auth0.identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

change sso uri to auth0
  .github/workflows/demo-server.yml
  src/app/core/identity-provider/auth0.identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

update azure secret
  .github/workflows/demo-server.yml
  src/app/core/identity-provider/azureAD.identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Add missing stuff for AzureAD
  src/app/core/identity-provider.module.ts
  src/app/shared/components/login/azure-ad-sign-in/azure-ad-sign-in.component.html
  src/app/shared/components/login/azure-ad-sign-in/azure-ad-sign-in.component.spec.ts
  src/app/shared/components/login/azure-ad-sign-in/azure-ad-sign-in.component.ts
  src/app/shared/components/login/identity-provider-login/identity-provider-login.component.ts
  src/app/shared/shared.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Restore previous version
  src/app/core/identity-provider/auth0.identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

update remove azure secret
  .github/workflows/demo-server.yml
Due: npx prettier --loglevel warn --write

fix: logout user via idp before doing cxml login
  src/app/core/identity-provider/identity-provider.interface.ts
  src/app/extensions/punchout/pages/punchout/punchout-page.guard.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

adapt identity provider
  src/app/core/identity-provider/azureAD.identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: oidc timing issue if logout is at the very beginning
  src/app/core/identity-provider/auth0.identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

use get instead of value in global variables
  src/setupJest.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: HTTP request creator
  src/app/core/utils/ngrx-creators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use get instead of value for global variables in Jest tests (#866)
  src/setupJest.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: cache 404 longer in nginx (#870)
  nginx/channel.conf.tmpl
Due: none

perf: retrieve links and child products only on successful products call (#870)
  src/app/core/facades/product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: prevent suggest search trigger on SSR (#870)
  src/app/core/store/shopping/search/search.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: prevent basket loading subscription for SSR (#870)
  src/app/core/facades/checkout.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: prevent api token restore on SSR (#870)
  src/app/core/utils/api-token/api-token.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: reduce breadcrumb set delay as it also blocks SSR (#870)
  src/app/core/store/core/viewconf/viewconf.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: noSSR PWA Docker container does not support deep links
  templates/nginx.conf
Due: none

fix: noSSR PWA Docker container does not support deep links (#871)
  templates/nginx.conf
Due: none

refactor: HTTP request creator
  src/app/core/utils/ngrx-creators.spec.ts
  src/app/core/utils/ngrx-creators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: customizable nginx cache duration
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/channel.conf.tmpl
Due: npx prettier --loglevel warn --write

perf: move error page into shell module
  src/app/pages/app-last-routing.module.ts
  src/app/pages/app-routing.module.ts
  src/app/pages/error/error-page.module.ts
  src/app/shell/error/error-page/error-page.component.html
  src/app/shell/error/error-page/error-page.component.spec.ts
  src/app/shell/error/error-page/error-page.component.ts
  src/app/shell/error/error/error.component.html
  src/app/shell/error/error/error.component.spec.ts
  src/app/shell/error/error/error.component.ts
  src/app/shell/error/server-error/server-error.component.html
  src/app/shell/error/server-error/server-error.component.spec.ts
  src/app/shell/error/server-error/server-error.component.ts
  src/app/shell/shell.module.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use translate get instead of instant for product-image component
  src/app/shared/components/product/product-image/product-image.component.spec.ts
  src/app/shared/components/product/product-image/product-image.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: improve PWA REST API logging
  src/app/core/interceptors/universal-log.interceptor.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: prevent compiling translations with very large values
  src/app/core/utils/translate/pwa-translate-compiler.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: cache compiled translations in PWA process
  src/app/core/utils/translate/pwa-translate-compiler.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test(e2e): split and rewrite cost-center e2e test
  e2e/cypress/integration/specs/checkout/checkout-cost-center-multiple.b2b.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/checkout-cost-center-no-costcenter.b2b.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/checkout-cost-center-order.b2b.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/checkout-cost-center.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: customizable nginx cache duration (#873)
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/channel.conf.tmpl
Due: npx prettier --loglevel warn --write

docs: update hybrid approach ssl
  docs/concepts/hybrid-approach.md
Due: npx prettier --loglevel warn --write

docs: update hybrid approach ssl documentation (#882)
  docs/concepts/hybrid-approach.md
Due: npx prettier --loglevel warn --write

fix: use translate get instead of instant for product-image component (#876)
  src/app/shared/components/product/product-image/product-image.component.spec.ts
  src/app/shared/components/product/product-image/product-image.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: cache compiled translations in PWA process (#881)
  src/app/core/utils/translate/pwa-translate-compiler.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: switch from extension to vscode setting for bracket pair colorization
  .vscode/extensions.json
  .vscode/settings.json
Due: npx prettier --loglevel warn --write

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
