Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

chore: lazy-component fix for --ci option (#461)
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
Due: none

fix: customization start script should add themes with inject false
  schematics/customization/add/index.js
Due: npx prettier --loglevel warn --write

feat: use new REST API for filters and products on master variation page
  src/app/core/services/filter/filter.service.ts
  src/app/core/services/product-master-variations/product-master-variations.service.spec.ts
  src/app/core/services/product-master-variations/product-master-variations.service.ts
  src/app/core/services/products/products.service.ts
  src/app/core/store/shopping/filter/filter.actions.ts
  src/app/core/store/shopping/filter/filter.effects.ts
  src/app/core/store/shopping/product-listing/product-listing.actions.ts
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/core/store/shopping/product-listing/product-listing.reducer.ts
  src/app/core/store/shopping/products/products.actions.ts
  src/app/core/store/shopping/products/products.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use correct display name for badge
  src/app/shared/components/filter/filter-navigation-badges/filter-navigation-badges.component.html
  src/app/shared/components/filter/filter-navigation-badges/filter-navigation-badges.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: restructure filter service
  src/app/core/models/search-parameter/search-parameter.mapper.spec.ts
  src/app/core/models/search-parameter/search-parameter.mapper.ts
  src/app/core/models/search-parameter/search-parameter.model.ts
  src/app/core/services/filter/filter.service.spec.ts
  src/app/core/services/filter/filter.service.ts
  src/app/core/store/shopping/filter/filter.effects.spec.ts
  src/app/core/store/shopping/filter/filter.effects.ts
  src/app/core/utils/url-form-params.spec.ts
  src/app/core/utils/url-form-params.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: display product variation count depending on selected filters for product tile
  src/app/core/facades/shopping.facade.ts
  src/app/core/models/product-variation/product-variation.helper.spec.ts
  src/app/core/models/product-variation/product-variation.helper.ts
  src/app/core/store/shopping/products/products.selectors.ts
  src/app/shared/components/product/product-tile/product-tile.component.html
  src/app/shared/components/product/product-tile/product-tile.component.spec.ts
  src/app/shared/components/product/product-tile/product-tile.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: hide unuseful re-occuring actions
  src/app/core/state-management.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: propagate filters from product listing to master variation page
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/shared/components/product/product-row/product-row.component.html
  src/app/shared/components/product/product-tile/product-tile.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: minor requisition issues
  projects/organization-management/src/app/pages/user-detail/user-detail-budget/user-detail-budget.component.html
  projects/organization-management/src/app/pages/user-detail/user-detail-budget/user-detail-budget.component.spec.ts
  projects/organization-management/src/app/pages/users/user-budget/user-budget.component.html
  projects/requisition-management/src/app/components/requisition-buyer-approval/requisition-buyer-approval.component.html
  projects/requisition-management/src/app/components/requisition-buyer-approval/requisition-buyer-approval.component.spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use b2bUserEndpoint of the apiService in the requisitions.service
  projects/requisition-management/src/app/services/requisitions/requisitions.service.spec.ts
  projects/requisition-management/src/app/services/requisitions/requisitions.service.ts
  src/app/core/services/api/api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: improve the placement of the wishlist header note
  src/app/extensions/wishlists/pages/account-wishlist/account-wishlist-page.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/styles/global/global.scss
  src/styles/pages/checkout/shopping-cart.scss
Due: npx prettier --loglevel warn --write

style: add action icons on product detail page in case of mobile view
  src/app/pages/product/product-detail-actions/product-detail-actions.component.html
Due: npx prettier --loglevel warn --write

style: improve placement of basket line item action icons
  src/app/extensions/quoting/shared/quote-line-item-list-element/quote-line-item-list-element.component.html
  src/app/extensions/wishlists/shared/product-add-to-wishlist/product-add-to-wishlist.component.html
  src/app/extensions/wishlists/shared/product-add-to-wishlist/product-add-to-wishlist.component.ts
  src/app/shared/components/line-item/line-item-list/line-item-list.component.html
  src/styles/pages/checkout/shopping-cart.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: hide add-to-cart button on order template details page if the order template is empty
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/order-templates/pages/account-order-template/account-order-template-list/account-order-template-list.component.html
Due: npx prettier --loglevel warn --write

style: improve the appearance of disabled secondary buttons
  src/styles/global/buttons.scss
  src/styles/pages/checkout/shopping-cart.scss
Due: none

fix: disable add-to-cart button on quick order page if the form is invalid
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.html
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: run configurations call only once for SSR (#466)
  src/app/core/store/general/server-config/server-config.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: deny SSR rendering when accept headers do not match (#465)
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display requisition number on order details page
  src/app/core/models/order/order.interface.ts
  src/app/core/models/order/order.mapper.spec.ts
  src/app/core/models/order/order.mapper.ts
  src/app/core/models/order/order.model.ts
  src/app/pages/account-order/account-order/account-order.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: default change detection for price component for updates in FF
  src/app/shared/components/product/product-price/product-price.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixup! style: add action icons on product detail page in case of mobile view
  src/app/pages/product/product-detail-actions/product-detail-actions.component.html
  src/styles/global/share-tools.scss
Due: npx prettier --loglevel warn --write

perf: prevent serving files from assets folder with Angular Universal
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: customization start script should add themes with inject false (#462)
  schematics/customization/add/index.js
Due: npx prettier --loglevel warn --write

perf: prevent SSR rendering cycle for static resources (#465)
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: use new REST API for filters and products on master variation page (#414)
  src/app/core/facades/shopping.facade.ts
  src/app/core/models/product-variation/product-variation.helper.spec.ts
  src/app/core/models/product-variation/product-variation.helper.ts
  src/app/core/models/search-parameter/search-parameter.mapper.spec.ts
  src/app/core/models/search-parameter/search-parameter.mapper.ts
  src/app/core/models/search-parameter/search-parameter.model.ts
  src/app/core/services/filter/filter.service.spec.ts
  src/app/core/services/filter/filter.service.ts
  src/app/core/services/product-master-variations/product-master-variations.service.spec.ts
  src/app/core/services/product-master-variations/product-master-variations.service.ts
  src/app/core/services/products/products.service.ts
  src/app/core/state-management.module.ts
  src/app/core/store/shopping/filter/filter.actions.ts
  src/app/core/store/shopping/filter/filter.effects.spec.ts
  src/app/core/store/shopping/filter/filter.effects.ts
  src/app/core/store/shopping/product-listing/product-listing.actions.ts
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/core/store/shopping/product-listing/product-listing.reducer.ts
  src/app/core/store/shopping/products/products.actions.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/products/products.selectors.ts
  src/app/core/utils/url-form-params.spec.ts
  src/app/core/utils/url-form-params.ts
  src/app/shared/components/filter/filter-navigation-badges/filter-navigation-badges.component.html
  src/app/shared/components/filter/filter-navigation-badges/filter-navigation-badges.component.ts
  src/app/shared/components/product/product-price/product-price.component.ts
  src/app/shared/components/product/product-row/product-row.component.html
  src/app/shared/components/product/product-tile/product-tile.component.html
  src/app/shared/components/product/product-tile/product-tile.component.spec.ts
  src/app/shared/components/product/product-tile/product-tile.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display gross total prices on order list
  src/app/shared/components/order/order-list/order-list.component.html
Due: npx prettier --loglevel warn --write

style: add action icons on product detail page in case of mobile view
  src/app/pages/product/product-detail-actions/product-detail-actions.component.html
  src/styles/global/share-tools.scss
Due: npx prettier --loglevel warn --write

fix: minor fixes after review
  docs/concepts/localization.md
  projects/organization-management/src/app/pages/user-edit-budget/user-edit-budget-page.component.html
  projects/organization-management/src/app/services/users/users.service.ts
  projects/requisition-management/src/app/components/requisition-buyer-approval/requisition-buyer-approval.component.html
  projects/requisition-management/src/app/components/requisition-buyer-approval/requisition-buyer-approval.component.ts
  projects/requisition-management/src/app/components/requisition-reject-dialog/requisition-reject-dialog.component.html
  projects/requisition-management/src/app/components/requisition-summary/requisition-summary.component.html
  projects/requisition-management/src/app/exports/.gitignore
  projects/requisition-management/src/app/exports/lazy-checkout-receipt-requisition/lazy-checkout-receipt-requisition.component.ts
  projects/requisition-management/src/app/exports/lazy-checkout-receipt-requisition/lazy-checkout-receipt-requisition.html
  projects/requisition-management/src/app/facades/requisition-context.facade.ts
  projects/requisition-management/src/login.component.ts
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/shared/forms/components/input/input.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use method unsetLoadingAndErrorOn in requisition related reducers
  projects/organization-management/src/app/store/users/users.reducer.ts
  projects/requisition-management/src/app/store/requisitions/requisitions.reducer.ts
  src/app/core/store/customer/basket/basket.reducer.ts
  src/app/core/store/customer/orders/orders.reducer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixup! fix: minor fixes after review
  projects/requisition-management/src/app/components/checkout-receipt-requisition/checkout-receipt-requisition.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: run with runtime checks test
  e2e/cypress.json
  src/app/core/store/core/core-store.module.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: replace interfering special characters from product and category slugs
  src/app/core/routing/category/category.route.spec.ts
  src/app/core/routing/category/category.route.ts
  src/app/core/routing/product/product.route.spec.ts
  src/app/core/routing/product/product.route.ts
  src/app/core/utils/routing.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
