Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: enable generation of SRI when in an SSR environment
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: prepare github pipeline (#102701)
  .github/workflows/integration.yml
  e2e/cypress/e2e/specs/shopping/search-box.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/shopping/search-products.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: general ESC handling, better naming, expand when focus is on buttons too
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: get everything working on iOS devices too
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: always check for changes in input field when searching
  src/app/core/facades/shopping.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: focus and tab handling
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fix jest test
  src/app/core/standalone/component/suggest/search-box/search-box.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add the suggested term to the input field
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: better name for minimum characters count method
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent empty suggest layer on mobile if there are neither results nor recent terms
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
Due: npx prettier --loglevel warn --write

feat: update Sparque config naming and config documentation, remove demo config
  docs/guides/sparque-integration.md
  src/app/core/models/sparque/sparque-config.model.ts
  src/app/core/services/sparque-api/sparque-api.service.spec.ts
  src/app/core/services/sparque-api/sparque-api.service.ts
  src/environments/environment.b2b.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: prepare github pipeline (#102701)
  docker-compose.yml
Due: npx prettier --loglevel warn --write

feat: prepare github pipeline (#102701)
  docker-compose.yml
  src/app/core/services/sparque-api/sparque-api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: prepare github pipeline (#102701)
  docker-compose.yml
  src/environments/environment.b2b.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: prepare github pipeline (#102701)
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

feat: prepare github pipeline (#102701)
  .github/workflows/integration.yml
  src/app/core/services/sparque-api/sparque-api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: prepare github pipeline (#102701)
  src/app/core/services/sparque-api/sparque-api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: set correct width for product suggest items filling the whole horizontal space
  src/styles/components/header/search-container.scss
Due: none

test: add jest tests
  src/app/core/standalone/component/suggest/suggest-brands-tile/suggest-brands-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-keywords-tile/suggest-keywords-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-search-terms-tile/suggest-search-terms-tile.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: update Cypress tests
  e2e/cypress/e2e/specs/filter/filter-search-results.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/shopping/search-box.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/shopping/search-products.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: dead-code
  src/app/core/standalone/component/suggest/suggest-brands-tile/suggest-brands-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-keywords-tile/suggest-keywords-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-search-terms-tile/suggest-search-terms-tile.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: differentiate terms and recent terms for Cypress tests
  src/app/core/standalone/component/suggest/suggest-search-terms-tile/suggest-search-terms-tile.component.html
Due: npx prettier --loglevel warn --write

test: add Jest tests
  src/app/core/standalone/component/suggest/suggest-brands-tile/suggest-brands-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-keywords-tile/suggest-keywords-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-search-terms-tile/suggest-search-terms-tile.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: configurable SSR metrics granularity (#1747)
  docker-compose.yml
  docs/guides/migrations.md
  docs/guides/prometheus-monitoring.md
  docs/guides/ssr-startup.md
  server.ts
  src/app/core/configurations/injection-keys.ts
  src/app/core/interceptors/universal-prometheus.interceptor.ts
  src/app/core/models/metrics/metrics-detail-level.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: change SSR metrics from Gauge to Counter (#1747)
  docs/guides/migrations.md
  server.ts
  src/ssr/server-scripts/prometheus.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: Sparque suggest focus handling, config (#1762)
  docs/guides/sparque-integration.md
  e2e/cypress/e2e/specs/filter/filter-search-results.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/shopping/search-box.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/shopping/search-products.b2c.e2e-spec.ts
  src/app/core/facades/shopping.facade.ts
  src/app/core/models/sparque/sparque-config.model.ts
  src/app/core/services/sparque-api/sparque-api.service.spec.ts
  src/app/core/services/sparque-api/sparque-api.service.ts
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/app/core/standalone/component/suggest/search-box/search-box.component.spec.ts
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
  src/app/core/standalone/component/suggest/suggest-brands-tile/suggest-brands-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-keywords-tile/suggest-keywords-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-search-terms-tile/suggest-search-terms-tile.component.html
  src/app/core/standalone/component/suggest/suggest-search-terms-tile/suggest-search-terms-tile.component.spec.ts
  src/environments/environment.b2b.ts
  src/styles/components/header/search-container.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: prepare github pipeline (#102701)
  angular.json
  nginx/templates/multi-channel.conf.tmpl
  src/app/core/configurations/configuration.meta.ts
  src/app/core/models/sparque/sparque-config.model.ts
  src/environments/environment.b2b.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add multi site configuration (#104509)
  docker-compose.yml
  nginx/templates/multi-channel.conf.tmpl
  src/app/core/configurations/configuration.meta.ts
  src/app/core/models/sparque/sparque-config.model.ts
  src/app/core/services/api/api.service.ts
  src/app/core/services/sparque-api/sparque-api.service.spec.ts
  src/app/core/services/sparque-api/sparque-api.service.ts
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/app/core/store/shopping/search/search.actions.ts
  src/app/core/store/shopping/search/search.reducer.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: rename Intershop Copilot to Intershop Copilot for Buyers (#1763)
  docs/README.md
  docs/guides/copilot.md
  docs/guides/ssr-startup.md
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: extend sparque integration documentation (#104509)
  docker-compose.yml
  docs/guides/multi-site-configurations.md
  docs/guides/sparque-integration.md
Due: npx prettier --loglevel warn --write

docs: adjustments after documentation review for PWA 5.3.0 release (#1763)
  docs/concepts/configuration.md
  docs/guides/code-documentation.md
  docs/guides/cookie-consent.md
  docs/guides/customizations.md
  docs/guides/migrations.md
  docs/guides/mocking-rest-calls.md
  docs/guides/nginx-startup.md
  docs/guides/ssr-startup.md
Due: npx prettier --loglevel warn --write

docs: documentation improvements: Angular CLI version, theme naming and Copilot theme config examples
  .devcontainer/Dockerfile
  docs/concepts/hybrid-approach.md
  docs/guides/angular-component-development.md
  docs/guides/copilot.md
  docs/guides/customizations.md
  docs/guides/development.md
  docs/guides/getting-started.md
Due: npx prettier --loglevel warn --write

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
