Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display information for B2B users above my account navigation (#298)
  src/app/core/facades/account.facade.ts
  src/app/pages/account/account-navigation/account-navigation.component.html
  src/app/pages/account/account-navigation/account-navigation.component.spec.ts
  src/app/pages/account/account-page.module.ts
  src/app/pages/account/account-user-info/account-user-info.component.html
  src/app/pages/account/account-user-info/account-user-info.component.spec.ts
  src/app/pages/account/account-user-info/account-user-info.component.ts
  src/styles/pages/account/account-navigation.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: delay routing and only route after profile edit (#314)
  src/app/core/facades/account.facade.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.effects.spec.ts
  src/app/core/store/customer/user/user.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: select current customer in users service
  projects/organization-management/src/app/models/b2b-user/b2b-user.model.ts
  projects/organization-management/src/app/services/users/users.service.spec.ts
  projects/organization-management/src/app/services/users/users.service.ts
  projects/organization-management/src/app/store/users/users.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use meta reducer for resetting user management state after user logout
  projects/organization-management/src/app/store/organization-management-store.module.ts
  projects/organization-management/src/app/store/users/users.actions.ts
  projects/organization-management/src/app/store/users/users.effects.ts
  projects/organization-management/src/app/store/users/users.reducer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: always fetch users list on certain user management pages
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/guards/fetch-users.guard.ts
  projects/organization-management/src/app/pages/organization-management-routing.module.ts
  projects/organization-management/src/app/pages/users/users-page.component.spec.ts
  projects/organization-management/src/app/pages/users/users-page.component.ts
  projects/organization-management/src/app/services/organization-management-breadcrumb/organization-management-breadcrumb.service.spec.ts
  projects/organization-management/src/app/store/users/users.reducer.ts
  projects/organization-management/src/app/store/users/users.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: introduce interface for b2b user stub responses
  projects/organization-management/src/app/models/b2b-user/b2b-user.interface.ts
  projects/organization-management/src/app/models/b2b-user/b2b-user.mapper.spec.ts
  projects/organization-management/src/app/models/b2b-user/b2b-user.mapper.ts
  projects/organization-management/src/app/services/users/users.service.spec.ts
  projects/organization-management/src/app/services/users/users.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: Correcting field type for error message key.
  src/app/pages/checkout-payment/payment-concardis-directdebit/payment-concardis-directdebit.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: run a GitHub actions on `pull_request`
  .github/workflows/test.yml
Due: npx prettier --loglevel warn --write

style: fix typo
  projects/organization-management/src/app/store/users/users.selectors.spec.ts
  schematics/src/store/files/__name@dasherize__/__name@dasherize__.selectors.spec.ts.template
  src/app/core/store/shopping/product-listing/product-listing.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: Correcting field type for Concardis directdebit payment error message key (#317)
  src/app/pages/checkout-payment/payment-concardis-directdebit/payment-concardis-directdebit.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: hard-code ICM_BASE_URL to be shared with pull request workflows from forks
  .github/workflows/test.yml
Due: npx prettier --loglevel warn --write

feat: Implement save for later checkbox for Direct Debit
  src/app/pages/checkout-payment/payment-concardis-directdebit/payment-concardis-directdebit.component.html
  src/app/pages/checkout-payment/payment-concardis-directdebit/payment-concardis-directdebit.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: increase nginx proxy buffer size
  nginx/channel.conf.tmpl
Due: none

chore: stop rewriting if device param is found
  nginx/channel.conf.tmpl
Due: none

build: docs tasks as individual workflow
  .github/workflows/docs.yml
  .github/workflows/test.yml
Due: npx prettier --loglevel warn --write

build: enable docker build for local configuration
  Dockerfile
  angular.json
  schematics/customization/service-worker/index.js
  scripts/init-local-environment.js
Due: npx prettier --loglevel warn --write

build: prevent running workflow twice for pull requests
  .github/workflows/test.yml
  .github/workflows/windows.yml
Due: npx prettier --loglevel warn --write

build: Azure demo servers for GitHub pull requests
  .github/workflows/demo-server-down.yml
  .github/workflows/demo-server.yml
  .github/workflows/test.yml
Due: npx prettier --loglevel warn --write

chore: switch to basic app service plan for demo servers
  .github/workflows/demo-server-down.yml
  .github/workflows/demo-server.yml
Due: npx prettier --loglevel warn --write

docs: add documentation for progressive web app features
  docs/README.md
  docs/concepts/progressive-web-app.md
Due: npx prettier --loglevel warn --write

refactor: logout route as empty route
  src/app/pages/app-routing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display loading page when service worker is booting up
  Dockerfile
  nginx/channel.conf.tmpl
  ngsw-config.json
  src/app/pages/app-routing.module.ts
  src/app/pages/loading/loading-page.component.html
  src/app/pages/loading/loading-page.component.spec.ts
  src/app/pages/loading/loading-page.component.ts
  src/app/pages/loading/loading-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: reduce throttle time for products effects
  src/app/core/store/shopping/products/products.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: only fetch top level categories when needed
  src/app/core/facades/shopping.facade.ts
  src/app/core/store/shopping/categories/categories.actions.ts
  src/app/core/store/shopping/categories/categories.effects.spec.ts
  src/app/core/store/shopping/categories/categories.effects.ts
  src/app/core/store/shopping/categories/categories.reducer.spec.ts
  src/app/core/store/shopping/categories/categories.reducer.ts
  src/app/core/store/shopping/categories/categories.selectors.spec.ts
  src/app/core/store/shopping/categories/categories.selectors.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/shell/header/header/header.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: simplify GitLab pipeline for demo deploy only
  .gitlab-ci-cancel-old-pipelines.sh
  .gitlab-ci-check-mr-title.sh
  .gitlab-ci.yml
  e2e/.dockerignore
  e2e/Dockerfile
Due: npx prettier --loglevel warn --write

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
