Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display concardis direct debit form on checkout payment page (#240)
  src/app/core/models/payment-method/payment-method.mapper.spec.ts
  src/app/core/models/payment-method/payment-method.mapper.ts
  src/app/pages/checkout-payment/payment-concardis-directdebit/payment-concardis-directdebit.component.ts
  src/app/shared/forms-dynamic/components/input-dynamic/input-dynamic.component.html
  src/app/shared/forms-dynamic/components/select-dynamic/select-dynamic.component.html
  src/app/shared/forms-dynamic/forms-dynamic.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(tslint-rules): add testing capabilities for tslint-rules
  tslint-rules/.gitignore
  tslint-rules/jest.config.js
  tslint-rules/src/testRuleExecutor.ts
  tslint-rules/tsconfig.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(tslint-rules): tslint rule ng-module-sorted-fields respects bundle arrays in modules
  src/app/core/services/api/api.service.spec.ts
  tslint-rules/src/ngModuleSortedFieldsRule.spec.ts
  tslint-rules/src/ngModuleSortedFieldsRule.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: replace GitHub tslint-actions due to incompatibility
  .github/workflows/test.yml
  angular.json
  e2e/test-schematics.sh
  package.json
  schematics/src/utils/lint-fix.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Reviewed document
  docs/guides/upgrading-pwa.md
Due: npx prettier --loglevel warn --write

docs: guide for upgrading dependencies (#243)
  docs/README.md
  docs/guides/upgrading-pwa.md
Due: npx prettier --loglevel warn --write

test(e2e): optional waiting method for page navigation
  e2e/cypress/integration/pages/header.module.ts
  e2e/cypress/integration/pages/shopping/product-list.module.ts
  e2e/cypress/integration/specs/system/authentication-timeouts-anonymous.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/authentication-timeouts-loggedin.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps(e2e): cleanup dependencies
  e2e/package.json
Due: npx prettier --loglevel warn --write

perf: automatically re-validate cache entries in nginx
  nginx/channel.conf.tmpl
Due: none

fix: set captcha authorization key for 'contact us' REST requests (#200)
  e2e/cypress/integration/pages/contact/contact.page.ts
  src/app/core/models/captcha/captcha.model.ts
  src/app/core/models/contact/contact.model.ts
  src/app/core/models/customer/customer.model.ts
  src/app/core/models/password-reminder/password-reminder.model.ts
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/api/api.service.ts
  src/app/core/services/contact/contact.service.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/pages/contact/contact-form/contact-form.component.html
  src/app/pages/contact/contact-form/contact-form.component.spec.ts
  src/app/pages/contact/contact-form/contact-form.component.ts
  src/app/pages/contact/contact-page.component.ts
  src/app/pages/forgot-password/request-reminder-form/request-reminder-form.component.ts
  src/app/pages/registration/registration-form/registration-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test(e2e): refactor contact page fill form method
  e2e/cypress/integration/framework/index.ts
  e2e/cypress/integration/pages/contact/contact.page.ts
  e2e/cypress/integration/specs/account/contact.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: enrich types from server config api (#200)
  src/app/core/models/server-config/server-config.interface.ts
  src/app/core/models/server-config/server-config.mapper.spec.ts
  src/app/core/models/server-config/server-config.mapper.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display captcha component according to the related ICM captcha service (#200)
  e2e/cypress/integration/framework/index.ts
  e2e/cypress/integration/pages/account/registration.page.ts
  src/app/core/configuration.module.ts
  src/app/core/configurations/injection-keys.ts
  src/app/core/store/configuration/configuration.effects.ts
  src/app/extensions/captcha/exports/captcha-exports.module.ts
  src/app/extensions/captcha/exports/captcha/lazy-captcha/lazy-captcha.component.html
  src/app/extensions/captcha/exports/captcha/lazy-captcha/lazy-captcha.component.spec.ts
  src/app/extensions/captcha/exports/captcha/lazy-captcha/lazy-captcha.component.ts
  src/app/extensions/captcha/facades/captcha.facade.ts
  src/app/extensions/captcha/services/sitekey-provider/sitekey-provider.service.ts
  src/app/extensions/captcha/shared/captcha/captcha-v2/captcha-v2.component.html
  src/app/extensions/captcha/shared/captcha/captcha-v2/captcha-v2.component.spec.ts
  src/app/extensions/captcha/shared/captcha/captcha-v2/captcha-v2.component.ts
  src/app/extensions/captcha/shared/captcha/captcha-v3/captcha-v3.component.spec.ts
  src/app/extensions/captcha/shared/captcha/captcha-v3/captcha-v3.component.ts
  src/app/pages/contact/contact-form/contact-form.component.html
  src/app/pages/contact/contact-form/contact-form.component.spec.ts
  src/app/pages/forgot-password/request-reminder-form/request-reminder-form.component.html
  src/app/pages/forgot-password/request-reminder-form/request-reminder-form.component.spec.ts
  src/app/pages/registration/registration-form/registration-form.component.html
  src/app/pages/registration/registration-form/registration-form.component.spec.ts
  src/app/shared/forms/components/captcha-v2/captcha-v2.component.ts
  src/app/shared/forms/components/captcha-v3/captcha-v3.component.ts
  src/app/shared/forms/components/captcha/captcha.component.html
  src/app/shared/forms/components/captcha/captcha.component.spec.ts
  src/app/shared/forms/components/captcha/captcha.component.ts
  src/app/shared/forms/forms.module.ts
  src/app/shell/shell.module.ts
  src/environments/environment.model.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: replace dead link
  docs/guides/angular-component-development.md
Due: npx prettier --loglevel warn --write

fix(schematics): handle imports of complex typings for input decorated fields
  schematics/src/lazy-component/factory.ts
  schematics/src/lazy-component/factory_spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(schematics): handle imports of complex typings for input decorated fields in lazy-component schematic (#254)
  schematics/src/lazy-component/factory.ts
  schematics/src/lazy-component/factory_spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove (feature toggle) security question on forgot password and registration page
  src/app/core/facades/account.facade.ts
  src/app/core/models/credentials/credentials.model.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/checkout-store.spec.ts
  src/app/core/store/user/user.actions.ts
  src/app/core/store/user/user.effects.spec.ts
  src/app/pages/registration/registration-credentials-form/registration-credentials-form.component.html
  src/app/pages/registration/registration-credentials-form/registration-credentials-form.component.spec.ts
  src/app/pages/registration/registration-credentials-form/registration-credentials-form.component.ts
  src/app/pages/registration/registration-form/registration-form.component.html
  src/app/pages/registration/registration-form/registration-form.component.ts
  src/app/shared/forms/components/select-security-question/select-security-question.component.spec.ts
  src/app/shared/forms/components/select-security-question/select-security-question.component.ts
  src/app/shared/forms/forms.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: add skeleton for organization-management
  Dockerfile
  angular.json
  jest.config.js
  projects/organization-management/src/app.component.ts
  projects/organization-management/src/app.module.ts
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/organization-management.module.ts
  projects/organization-management/src/app/pages/organization-management-routing.module.ts
  projects/organization-management/src/app/pages/users-detail/users-detail-page.component.html
  projects/organization-management/src/app/pages/users-detail/users-detail-page.component.spec.ts
  projects/organization-management/src/app/pages/users-detail/users-detail-page.component.ts
  projects/organization-management/src/app/pages/users/users-page.component.html
  projects/organization-management/src/app/pages/users/users-page.component.spec.ts
  projects/organization-management/src/app/pages/users/users-page.component.ts
  projects/organization-management/src/app/services/users/users.service.spec.ts
  projects/organization-management/src/app/services/users/users.service.ts
  projects/organization-management/src/app/store/organization-management-store.module.ts
  projects/organization-management/src/app/store/organization-management-store.ts
  projects/organization-management/src/app/store/users/index.ts
  projects/organization-management/src/app/store/users/users.actions.ts
  projects/organization-management/src/app/store/users/users.effects.spec.ts
  projects/organization-management/src/app/store/users/users.effects.ts
  projects/organization-management/src/app/store/users/users.reducer.ts
  projects/organization-management/src/app/store/users/users.selectors.spec.ts
  projects/organization-management/src/app/store/users/users.selectors.ts
  projects/organization-management/src/index.html
  projects/organization-management/src/login.component.ts
  projects/organization-management/src/main.ts
  projects/organization-management/tsconfig.app.json
  src/app/pages/account/account-navigation/account-navigation.component.html
  src/app/pages/account/account-navigation/account-navigation.component.ts
  src/app/pages/account/account-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add localization keys for user management
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

deps: update Bootstrap 4.4.1 to 4.5.0 (only the styling part of Bootstrap is used and affected)
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

deps: update Bootstrap 4.4.1 to 4.5.0 (#259)
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat: remove (feature toggle) security question on forgot password and registration page (#255, #253)
  src/app/core/facades/account.facade.ts
  src/app/core/models/credentials/credentials.model.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/checkout-store.spec.ts
  src/app/core/store/user/user.actions.ts
  src/app/core/store/user/user.effects.spec.ts
  src/app/pages/registration/registration-credentials-form/registration-credentials-form.component.html
  src/app/pages/registration/registration-credentials-form/registration-credentials-form.component.spec.ts
  src/app/pages/registration/registration-credentials-form/registration-credentials-form.component.ts
  src/app/pages/registration/registration-form/registration-form.component.html
  src/app/pages/registration/registration-form/registration-form.component.ts
  src/app/shared/forms/components/select-security-question/select-security-question.component.spec.ts
  src/app/shared/forms/components/select-security-question/select-security-question.component.ts
  src/app/shared/forms/forms.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: PWA container healthcheck now supports ICM https
  dist/healthcheck.js
Due: npx prettier --loglevel warn --write

order templates update to angular 9
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
  src/app/extensions/order-templates/exports/basket/lazy-create-order-template/lazy-create-order-template.component.html
  src/app/extensions/order-templates/exports/basket/lazy-create-order-template/lazy-create-order-template.component.ts
  src/app/extensions/order-templates/exports/order-templates-exports.module.ts
  src/app/extensions/order-templates/exports/products/lazy-product-add-to-order-template/lazy-product-add-to-order-template.component.html
  src/app/extensions/order-templates/exports/products/lazy-product-add-to-order-template/lazy-product-add-to-order-template.component.ts
  src/app/extensions/order-templates/models/order-template/order-template.mapper.spec.ts
  src/app/extensions/order-templates/order-templates.module.ts
  src/app/extensions/order-templates/services/order-template/order-template.service.spec.ts
  src/app/extensions/order-templates/shared/basket/basket-create-order-template/basket-create-order-template.component.ts
  src/app/extensions/order-templates/shared/product/product-add-to-order-template/product-add-to-order-template.component.ts
  src/app/extensions/order-templates/store/order-template/order-template.effects.spec.ts
  src/app/extensions/order-templates/store/order-template/order-template.selectors.spec.ts
  src/app/extensions/order-templates/store/order-templates-store.module.ts
  src/app/extensions/order-templates/store/order-templates-store.ts
  src/app/pages/account/account-navigation/account-navigation.component.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/shared/components/basket/line-item-list/line-item-list.component.spec.ts
  src/app/shared/shared.module.ts
  src/app/shell/shell.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

order templates update to angular 9
  src/app/extensions/order-templates/exports/basket/lazy-basket-create-order-template/lazy-basket-create-order-template.component.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.spec.ts
  src/app/shared/components/basket/line-item-list/line-item-list.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

order templates update to angular 9 - probably not intended changes from false additional merge - should be ommited?
  src/app/extensions/order-templates/exports/basket/lazy-create-order-template/lazy-create-order-template.component.html
  src/app/extensions/order-templates/exports/basket/lazy-create-order-template/lazy-create-order-template.component.ts
  src/app/extensions/order-templates/exports/products/lazy-product-add-to-order-template/lazy-product-add-to-order-template.component.html
  src/app/extensions/order-templates/exports/products/lazy-product-add-to-order-template/lazy-product-add-to-order-template.component.ts
  src/app/shell/shell.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

formatting, dead-code, tests issues fixed concerning order-templates
  e2e/cypress/integration/pages/account/order-templates-details.page.ts
  e2e/cypress/integration/pages/account/order-templates-overview.page.ts
  e2e/cypress/integration/specs/extras/order-templates-management.b2b.e2e-spec.ts
  e2e/cypress/integration/specs/extras/order-templates-shopping.b2b.e2e-spec.ts
  src/app/extensions/order-templates/exports/basket/lazy-create-order-template/lazy-create-order-template.component.html
  src/app/extensions/order-templates/exports/basket/lazy-create-order-template/lazy-create-order-template.component.ts
  src/app/extensions/order-templates/exports/products/lazy-product-add-to-order-template/lazy-product-add-to-order-template.component.html
  src/app/extensions/order-templates/exports/products/lazy-product-add-to-order-template/lazy-product-add-to-order-template.component.ts
  src/app/extensions/order-templates/facades/order-templates.facade.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-line-item/account-order-template-detail-line-item.component.ts
  src/app/extensions/order-templates/store/order-template/order-template.effects.ts
  src/app/extensions/order-templates/store/order-template/order-template.selectors.ts
  src/app/extensions/order-templates/store/order-templates-store.module.ts
  src/app/pages/product/product-detail/product-detail.component.spec.ts
  src/app/shared/components/product/product-row/product-row.component.spec.ts
  src/app/shared/components/product/product-tile/product-tile.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
