Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

ci: use https links for GitHub branch demo servers (#1607)
  .github/workflows/demo-server-up.yml
Due: npx prettier --loglevel warn --write

test: unit tests
  src/app/shared/formly/types/date-range-picker-field/date-range-picker-field.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: reload page fix
  src/app/pages/account-order-history/account-order-history-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: paging bar ui issues on cart
  src/app/shared/components/common/paging/paging.component.html
  src/app/shared/components/common/paging/paging.component.spec.ts
  src/app/shared/components/common/paging/paging.component.ts
  src/app/shared/components/line-item/line-item-list/line-item-list.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use /etc/nginx/ and set correct reference
  nginx/Dockerfile
  nginx/nginx.conf
Due: none

chore: use openresty tar (same version) file to build modules, use make && make install instead of make modules
  nginx/Dockerfile
  nginx/features/compression.conf
Due: none

chore: use nginx with the correct version instead of openresty to make modules instead of make install
  nginx/Dockerfile
Due: none

feat: change compression level to 4 for testing
  nginx/features/compression.conf
Due: none

chore: replace openresty with original nginx for brotli tests
  nginx/Dockerfile
  nginx/features/compression.conf
  nginx/nginx.conf
Due: none

chore: use the same ./configure arguments as as the openresty configuration but without --add-module
  nginx/Dockerfile
Due: none

chore: set compression level back to default
  nginx/features/compression.conf
Due: none

build: use openresty to see if it works on PR demo server
  nginx/Dockerfile
Due: none

fix: remove the cache after installing packages
  nginx/Dockerfile
Due: none

docs: add documentation
  .vscode/intershop.txt
  docs/guides/nginx-startup.md
  docs/guides/optimizations.md
Due: npx prettier --loglevel warn --write

build: set to recommended value from https://www.brotli.pro/enable-brotli/servers/nginx/
  nginx/features/compression.conf
Due: none

docs: update Brotli configuration
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

docs: update doc
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  docs/guides/optimizations.md
Due: npx prettier --loglevel warn --write

docs: decribe usage of openresty to build the modules
  .vscode/intershop.txt
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

fix: remove duplicate --with-compat
  nginx/Dockerfile
Due: none

chore: run wget in quite mode
  nginx/Dockerfile
Due: none

build: revert to nginx version
  nginx/Dockerfile
Due: none

docs: add HTTPS information
  docs/guides/optimizations.md
Due: npx prettier --loglevel warn --write

chore: remove vertical wrapper
  docs/guides/formly.md
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.ts
  src/app/shared/formly/wrappers/vertical-wrapper/vertical-wrapper.component.html
  src/app/shared/formly/wrappers/vertical-wrapper/vertical-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/vertical-wrapper/vertical-wrapper.component.ts
  src/app/shared/formly/wrappers/wrappers.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: props info added
  docs/guides/formly.md
  src/app/shared/formly/types/date-range-picker-field/date-range-picker-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: placeholder props added
  docs/guides/formly.md
  src/app/shared/formly/types/date-range-picker-field/date-range-picker-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rename the prefix of the token keys to 'icm'
  src/app/core/services/token/token.service.spec.ts
  src/app/core/services/token/token.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: moved button to the bottom
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-order/account-order/account-order.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display variations when there are no variation attributes at the master product (#1599)
  src/app/core/models/product-variation/product-variation.helper.ts
  src/app/core/models/product-variation/variation-attribute.mapper.ts
  src/app/core/routing/product/product.route.ts
  src/app/pages/product/product-master-variations/product-master-variations.component.html
  src/app/pages/product/product-master-variations/product-master-variations.component.spec.ts
  src/app/pages/product/product-master-variations/product-master-variations.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: fix e2e test
  e2e/cypress/e2e/specs/account/login-user.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: dead code
  src/app/core/services/token/token.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: localization added for Pick a date
  src/app/shared/formly/types/date-range-picker-field/date-range-picker-field.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: if the url has filter parameters, open the filter panel immediately
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use a prefix (icm_) for internal token oauth storage (#1601)
  e2e/cypress/e2e/specs/account/login-user.b2c.e2e-spec.ts
  src/app/core/services/token/token.service.spec.ts
  src/app/core/services/token/token.service.ts
  src/app/core/utils/instance-creators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: add DE localization for added key
  src/assets/i18n/de_DE.json
Due: npx prettier --loglevel warn --write

fix: missing translation for edit address button (#1596)
  src/app/pages/account-addresses/account-addresses/account-addresses.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

i18n: adjust localization
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

i18n: add FR for new key
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

i18n: adjust some texts in EN to sentence case as requested after review
  src/assets/i18n/en_US.json
Due: npx prettier --loglevel warn --write

deps: fit @ngrx/eslint-plugin version to the other used ngrx versions
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write
