Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: group line-item specific components in same shared folder
  src/app/extensions/quoting/shared/product-add-to-quote-dialog/product-add-to-quote-dialog.component.spec.ts
  src/app/extensions/quoting/shared/quote-edit/quote-edit.component.spec.ts
  src/app/pages/account-order/account-order/account-order.component.spec.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.spec.ts
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.spec.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.spec.ts
  src/app/shared/components/line-item/line-item-description/line-item-description.component.html
  src/app/shared/components/line-item/line-item-description/line-item-description.component.spec.ts
  src/app/shared/components/line-item/line-item-description/line-item-description.component.ts
  src/app/shared/components/line-item/line-item-list/line-item-list.component.html
  src/app/shared/components/line-item/line-item-list/line-item-list.component.spec.ts
  src/app/shared/components/line-item/line-item-list/line-item-list.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(schematics): enable customized-copy schematic for subfolders
  e2e/test-schematics.sh
  schematics/src/helpers/customized-copy/factory.ts
  schematics/src/helpers/customized-copy/schema.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(schematics): enable customized-copy schematic for subfolders (#374)
  e2e/test-schematics.sh
  schematics/src/helpers/customized-copy/factory.ts
  schematics/src/helpers/customized-copy/schema.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Work on parent selection of create group page
  projects/organization-management/src/app/components/hierarchies/group-form/group-form.component.html
  projects/organization-management/src/app/components/hierarchies/group-form/group-form.component.ts
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/models/node/node.mapper.spec.ts
  projects/organization-management/src/app/models/node/node.mapper.ts
  projects/organization-management/src/app/pages/hierarchies-create-group/hierarchies-create-group-page.component.html
  projects/organization-management/src/app/pages/hierarchies-create-group/hierarchies-create-group-page.component.ts
  projects/organization-management/src/app/services/organization-hierarchies/organization-hierarchies.service.ts
  projects/organization-management/src/app/store/organization-hierarchies/organization-hierarchies.reducer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: load lazy components via extension modules
  schematics/src/lazy-component/factory_spec.ts
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: provide new link to sentry sensitive data
  docs/guides/sentry-error-monitoring.md
Due: npx prettier --loglevel warn --write

docs: provide new link to sentry sensitive data (#377)
  docs/guides/sentry-error-monitoring.md
Due: npx prettier --loglevel warn --write

Rework variable naming
  projects/organization-management/src/app/components/hierarchies/group-form/group-form.component.spec.ts
  projects/organization-management/src/app/components/hierarchies/group-form/group-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Feature/company structure create group (#378)
  projects/organization-management/src/app/components/hierarchies/group-form/group-form.component.html
  projects/organization-management/src/app/components/hierarchies/group-form/group-form.component.spec.ts
  projects/organization-management/src/app/components/hierarchies/group-form/group-form.component.ts
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/models/node/node.interface.ts
  projects/organization-management/src/app/models/node/node.mapper.spec.ts
  projects/organization-management/src/app/models/node/node.mapper.ts
  projects/organization-management/src/app/models/node/node.model.ts
  projects/organization-management/src/app/organization-management.module.ts
  projects/organization-management/src/app/pages/hierarchies-create-group/hierarchies-create-group-page.component.html
  projects/organization-management/src/app/pages/hierarchies-create-group/hierarchies-create-group-page.component.spec.ts
  projects/organization-management/src/app/pages/hierarchies-create-group/hierarchies-create-group-page.component.ts
  projects/organization-management/src/app/pages/hierarchies/hierarchies-page.component.html
  projects/organization-management/src/app/pages/hierarchies/hierarchies-page.component.ts
  projects/organization-management/src/app/pages/organization-management-routing.module.ts
  projects/organization-management/src/app/services/organization-hierarchies/organization-hierarchies.service.ts
  projects/organization-management/src/app/services/organization-management-breadcrumb/organization-management-breadcrumb.service.ts
  projects/organization-management/src/app/store/organization-hierarchies/organization-hierarchies.actions.ts
  projects/organization-management/src/app/store/organization-hierarchies/organization-hierarchies.effects.ts
  projects/organization-management/src/app/store/organization-hierarchies/organization-hierarchies.reducer.ts
  projects/organization-management/src/app/store/organization-hierarchies/organization-hierarchies.selectors.spec.ts
  projects/organization-management/src/app/store/organization-hierarchies/organization-hierarchies.selectors.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Add root node based on current customer
  projects/organization-management/src/app/models/node/node.helper.ts
  projects/organization-management/src/app/models/node/node.mapper.ts
  projects/organization-management/src/app/services/organization-hierarchies/organization-hierarchies.service.ts
  projects/organization-management/src/app/store/organization-hierarchies/organization-hierarchies.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(schematics): respect original component selector when generating lazy components
  e2e/test-schematics.sh
  schematics/src/lazy-component/factory.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: load lazy components via extension modules (#376)
  schematics/src/lazy-component/factory_spec.ts
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(schematics): respect original component selector when generating lazy components (#379)
  e2e/test-schematics.sh
  schematics/src/lazy-component/factory.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: provide login guard handling in lazy module instead of app module
  src/app/core/guards/login.guard.ts
  src/app/pages/app-routing.module.ts
  src/app/pages/login/login-page.module.ts
  src/app/shell/shell.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Use ish-error-message component.
  projects/organization-management/src/app/components/hierarchies/group-form/group-form.component.html
Due: npx prettier --loglevel warn --write

Show description text on company structure page
  projects/organization-management/src/app/pages/hierarchies/hierarchies-page.component.html
  src/assets/i18n/en_US.json
Due: npx prettier --loglevel warn --write

Pass undefined if selected parent=customerNo
  projects/organization-management/src/app/models/node/node.mapper.spec.ts
  projects/organization-management/src/app/models/node/node.mapper.ts
  projects/organization-management/src/app/services/organization-hierarchies/organization-hierarchies.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Fix jest tests
  projects/organization-management/src/app/components/hierarchies/group-form/group-form.component.spec.ts
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/services/organization-hierarchies/organization-hierarchies.service.spec.ts
  projects/organization-management/src/app/store/organization-hierarchies/organization-hierarchies.effects.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Fix formatting
  projects/organization-management/src/app/components/hierarchies/group-form/group-form.component.html
  projects/organization-management/src/app/pages/hierarchies/hierarchies-page.component.html
Due: npx prettier --loglevel warn --write

feat: add possibility to use inline toasts for ish-error-message component
  e2e/cypress/integration/pages/account/registration.page.ts
  src/app/core/store/core/messages/messages.effects.spec.ts
  src/app/core/store/core/messages/messages.effects.ts
  src/app/shared/components/common/error-message/error-message.component.html
  src/app/shared/components/common/error-message/error-message.component.spec.ts
  src/app/shared/components/common/error-message/error-message.component.ts
  src/app/shared/components/login/login-form/login-form.component.html
  src/styles/global/toasts.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: provide login guard handling in lazy module instead of app module (#380)
  src/app/core/guards/login.guard.ts
  src/app/pages/app-routing.module.ts
  src/app/pages/login/login-page.module.ts
  src/app/shell/shell.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: make 'npm run check' - 'Check No Changes' more talkative
  .github/workflows/windows.yml
Due: npx prettier --loglevel warn --write

chore: add missing localizations in de_DE and fr_FR for "account.user.update_profile.heading"
  src/assets/i18n/de_DE.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: node script to clean up localization files 'npm run clean-localizations'
  .vscode/launch.json
  docs/concepts/localization.md
  docs/guides/migrations.md
  package.json
  scripts/clean-up-localizations.js
Due: npx prettier --loglevel warn --write

chore: cleaned and sorted localization files after running 'npm run clean-localizations'
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: save for later for Concardis Direct Debit (#319)
  src/app/pages/checkout-payment/payment-concardis-directdebit/payment-concardis-directdebit.component.html
  src/app/pages/checkout-payment/payment-concardis-directdebit/payment-concardis-directdebit.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixup! feat: add possibility to use inline toasts for ish-error-message component
  src/styles/global/toasts.scss
Due: none

fixup! fixup! feat: add possibility to use inline toasts for ish-error-message component
  src/app/core/store/core/messages/messages.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: styled toasts for success and error messages (#356)
  e2e/cypress/integration/pages/account/registration.page.ts
  src/app/core/store/core/messages/messages.effects.spec.ts
  src/app/core/store/core/messages/messages.effects.ts
  src/app/shared/components/common/error-message/error-message.component.html
  src/app/shared/components/common/error-message/error-message.component.spec.ts
  src/app/shared/components/common/error-message/error-message.component.ts
  src/app/shared/components/login/login-form/login-form.component.html
  src/styles/global/toasts.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: allow internal states to avoid name collisions
  tslint.json
Due: npx prettier --loglevel warn --write

fix: prevent navigating twice on user login
  src/app/core/guards/login.guard.ts
  src/app/core/store/customer/user/user.effects.spec.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/pages/forgot-password/update-password/update-password.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rename findAllIshElements to findAllCustomElements, no more sorting for query utils
  docs/guides/migrations.md
  src/app/app.component.spec.ts
  src/app/core/utils/dev/html-query-utils.ts
  src/app/pages/category/category-categories/category-categories.component.spec.ts
  src/app/pages/category/category-page.component.spec.ts
  src/app/pages/category/category-products/category-products.component.spec.ts
  src/app/pages/compare/compare-page.component.spec.ts
  src/app/pages/content/content-page.component.spec.ts
  src/app/pages/error/error/error.component.spec.ts
  src/app/pages/product/product-bundle-parts/product-bundle-parts.component.spec.ts
  src/app/pages/product/product-page.component.spec.ts
  src/app/pages/product/retail-set-parts/retail-set-parts.component.spec.ts
  src/app/pages/search/search-page.component.spec.ts
  src/app/shared/address-forms/components/address-form/address-form.component.spec.ts
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.spec.ts
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.spec.ts
  src/app/shared/components/filter/filter-navigation-sidebar/filter-navigation-sidebar.component.spec.ts
  src/app/shared/components/filter/filter-navigation/filter-navigation.component.spec.ts
  src/app/shared/components/line-item/line-item-description/line-item-description.component.spec.ts
  src/app/shared/components/line-item/line-item-edit-dialog/line-item-edit-dialog.component.spec.ts
  src/app/shared/components/line-item/line-item-list/line-item-list.component.spec.ts
  src/app/shared/components/product/product-list/product-list.component.spec.ts
  src/app/shared/components/product/product-listing/product-listing.component.spec.ts
  src/app/shared/components/product/product-quantity/product-quantity.component.spec.ts
  src/app/shared/components/product/product-row/product-row.component.spec.ts
  src/app/shared/components/product/product-tile/product-tile.component.spec.ts
  src/app/shell/header/header-checkout/header-checkout.component.spec.ts
  src/app/shell/header/header-default/header-default.component.spec.ts
  src/app/shell/header/header/header.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: make name property of attribute model optional
  src/app/core/models/attribute/attribute.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: allow any input for log operator
  src/app/core/utils/dev/operators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
