Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

feat: one theme - one image, asset routing to theme container
  Dockerfile
  dist/entrypoint.sh
  docker-compose.multi-theme.yml
  nginx/templates/multi-channel.conf.tmpl
  scripts/build-multi-pwa.js
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: one image with all themes (wiki concept), assets round robin
  docker-compose.multi-theme.yml
  nginx/templates/multi-channel.conf.tmpl
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: expose metrics, update server scripts
  docker-compose.multi-theme.yml
  server.ts
  src/ssr/server-scripts/build-ecosystem.js
  src/ssr/server-scripts/distributor.js
  src/ssr/server-scripts/healthcheck.js
  src/ssr/server-scripts/livenessprobe.js
  src/ssr/server-scripts/prometheus.js
  src/ssr/server-scripts/readinessprobe.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: remove pm2 package
  package-lock.json
  package.json
  scripts/compile-docker-scripts.js
Due: npx prettier --loglevel warn --write

feat: remove ecosystem-ports.js usages
  .dockerignore
  scripts/build-multi-pwa.js
  scripts/compile-docker-scripts.js
  src/ssr/server-scripts/.gitignore
Due: npx prettier --loglevel warn --write

feat: use entrypoint with env var, remove port-mapping in build
  Dockerfile
  dist/entrypoint.sh
  docker-compose.multi-theme.yml
  scripts/build-multi-pwa.js
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: unify upstream pwa handling
  docker-compose.multi-theme.yml
  nginx/cache_clearer.sh
  nginx/docker-entrypoint.d/00-envcheck.sh
  nginx/docker-entrypoint.d/spec/00-envcheck_spec.sh
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

feat: merge docker compose files
  docker-compose.multi-theme.yml
  docker-compose.yml
Due: npx prettier --loglevel warn --write

feat: rework metrics app creation
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: graceful shutdown (a suggestion)
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: nginx multi-channel template
  nginx/templates/multi-channel.conf.tmpl
Due: none

fix: browser folder discovery without themes
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: asset handling per theme
  nginx/templates/multi-channel.conf.tmpl
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: replace usages of run-standalone script in workflows
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

fix: prefix for ssr test script
  e2e/test-ssr.sh
Due: none

fix: trigger order cancellation after back button event during payment redirect
  src/app/core/store/customer/orders/orders.effects.spec.ts
  src/app/core/store/customer/orders/orders.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add llms.txt
  .vscode/intershop.txt
  docs/README.md
  docs/guides/llms-txt.md
  nginx/Dockerfile
  nginx/llms/default_llms.txt
  nginx/llms/inSPIRED-inTRONICS-Site_llms.txt
  nginx/llms/inSPIRED-inTRONICS_Business-Site_llms.txt
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

docs: moved SEO to a separate section
  docs/README.md
Due: npx prettier --loglevel warn --write

docs: add llms v2 aspects
  docs/guides/llms-txt.md
  src/index.html
Due: npx prettier --loglevel warn --write

docs: add migration note
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

feat: set neutral content for default llms.txt
  nginx/llms/default_llms.txt
Due: none

docs: fix display of llms file name pattern
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

fix(nginx): avoid caching multi-site redirects
  nginx/templates/multi-channel.conf.tmpl
Due: none

fix: preserve first quantity update
  e2e/cypress/e2e/pages/checkout/cart.page.ts
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: add B2B and B2C theme support for esbuild
  .github/workflows/integration.yml
  angular.json
  package.json
  src/app/core/store/store-devtools.module.production.ts
  src/app/core/store/store-devtools.module.ts
  src/server.ts
  src/typings.d.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: restore multi-theme SSR builds with PM2
  .dockerignore
  .github/workflows/integration.yml
  Dockerfile
  angular.json
  docs/guides/ssr-startup.md
  package-lock.json
  package.json
  scripts/build-multi-pwa.js
  scripts/build-pwa.js
  scripts/build-ssr-runtime.js
  src/server.ts
  src/ssr/server-scripts/build-ecosystem.cjs
  src/ssr/server-scripts/distributor.js
  src/ssr/server-scripts/entrypoint.sh
  src/ssr/server-scripts/healthcheck.cjs
  src/ssr/server-scripts/prometheus.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: remove data-testing attributes from production
  .dockerignore
  Dockerfile
  package.json
  scripts/remove-data-testing-attributes.cjs
Due: npx prettier --loglevel warn --write

build: derive build constants from selected configurations
  .dockerignore
  Dockerfile
  angular.json
  package-lock.json
  package.json
  templates/esbuild/define-build-constants.ts
  tsconfig.all.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: restore CSS purging for esbuild builds
  .dockerignore
  .postcssrc.json
  Dockerfile
  Dockerfile_reports
  package-lock.json
  package.json
  templates/esbuild/define-build-constants.ts
  tools/postcss-purgecss-config/index.cjs
  tools/postcss-purgecss-config/package.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: stabilize Vite SSR runtime
  schematics/src/lazy-component/factory_spec.ts
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
  src/app/core/configurations/ngrx-state-transfer.ts
  src/app/core/store/core/core-store.module.ts
  src/app/core/store/core/server-config/server-config.effects.spec.ts
  src/app/core/store/core/server-config/server-config.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: adapt checks to esbuild SSR behavior
  e2e/cypress/e2e/pages/checkout/cart.page.ts
  e2e/cypress/e2e/specs/system/rest-error-handling.b2c.e2e-spec.ts
  src/app/core/utils/http-status-code/http-status-code.service.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: restore esbuild build diagnostics
  .dockerignore
  .gitignore
  package-lock.json
  package.json
  scripts/active-localization-files.js
  scripts/active-localization-files.test.js
  scripts/build-multi-pwa.js
  scripts/clean-up-localizations.js
  scripts/dead-files.js
Due: npx prettier --loglevel warn --write

fix: route i18n extraction through esbuild
  .dockerignore
  .gitignore
  .prettierignore
  Dockerfile
  angular.json
  builders/builders.json
  builders/package.json
  builders/scripts/copy-dist-files.mjs
  builders/src/extract-i18n.ts
  builders/test/extract-i18n.test.mjs
  builders/tsconfig.json
  package-lock.json
  package.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: materialize component resource overrides as TypeScript replacements
  schematics/src/helpers/override/factory.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: support custom themes across esbuild tooling
  .dockerignore
  Dockerfile
  angular.json
  builders/builders.json
  builders/package.json
  builders/scripts/copy-dist-files.mjs
  builders/src/application.ts
  builders/src/dev-server.ts
  builders/src/theme-configuration.ts
  builders/src/theme-overrides.ts
  builders/tsconfig.json
  eslint.config.mjs
  package-lock.json
  package.json
  schematics/customization/add/index.js
  schematics/package.json
  schematics/src/helpers/override/factory.ts
  schematics/src/helpers/override/factory_spec.ts
  schematics/src/helpers/override/schema.json
  scripts/build-multi-pwa.js
  scripts/build-pwa.js
  scripts/clean-up-localizations.js
  scripts/dead-files.js
  scripts/docker-build-context.test.js
  scripts/find-dead-code.ts
  scripts/theme-configuration.test.js
  templates/esbuild/define-build-constants.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: small issues
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.html
  src/ssr/html-to-markdown.spec.ts
  src/ssr/html-to-markdown.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
