Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add headerType checks and with that fallback to the default header for unknown header types
  src/app/core/models/viewtype/viewtype.types.ts
  src/app/core/store/core/viewconf/viewconf.selectors.ts
  src/app/shell/header/header/header.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: removed server-config check from actions/effects
  src/app/core/facades/account.facade.ts
  src/app/core/store/customer/user/user-newsletter.effects.spec.ts
  src/app/core/store/customer/user/user-newsletter.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: registration page guard for server-config
  src/app/pages/registration/registration-page.guard.ts
  src/app/pages/registration/registration-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add migration note for changed header rendering and introduced header types
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

fix: display of duplicated headers for special logins with activated hydration (#1585)
  docs/guides/migrations.md
  src/app/core/models/viewtype/viewtype.types.ts
  src/app/core/store/core/viewconf/viewconf.selectors.ts
  src/app/shell/header/header/header.component.html
  src/app/shell/header/header/header.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: fix on basket handling e2e error
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.html
Due: npx prettier --loglevel warn --write

test: deadcode fix on line item list element
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: missing classes and wrong html tag
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-line-item/account-order-template-detail-line-item.component.html
  src/app/shared/components/product/product-list-paging/product-list-paging.component.html
Due: npx prettier --loglevel warn --write

refactor: a tags transformation, test and style updates
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/shared/components/basket/basket-items-summary/basket-items-summary.component.html
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.html
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.spec.ts
  src/app/shared/components/filter/filter-dropdown/filter-dropdown.component.html
  src/app/shared/components/line-item/line-item-edit/line-item-edit.component.html
  src/app/shared/components/product/product-list-paging/product-list-paging.component.spec.ts
  src/styles/global/line-item.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: cleancode fix
  src/app/shared/components/filter/filter-dropdown/filter-dropdown.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: enable punchout and cobrowse functionality
  docker-compose.yml
Due: npx prettier --loglevel warn --write

temp: configure Design View testing ICM
  .github/scripts/docker-compose.py
  .github/workflows/demo-server-up.yml
Due: npx prettier --loglevel warn --write

feat: send contentPageIds to the design view app
  src/app/core/utils/design-view/design-view.service.ts
  src/app/pages/content/content-page.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: support design view page structure tree
  src/app/core/utils/design-view/design-view.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: provide contentview ids to the design view app
  src/app/core/utils/design-view/design-view.service.ts
  src/app/shared/cms/components/content-viewcontext/content-viewcontext.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: btn-tool button styling
  projects/organization-management/src/app/components/cost-center-users-list/cost-center-users-list.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
  projects/organization-management/src/app/pages/users/users-page.component.html
  src/app/extensions/compare/pages/compare/product-compare-list/product-compare-list.component.html
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-line-item/account-order-template-detail-line-item.component.html
  src/app/extensions/order-templates/pages/account-order-template/account-order-template-list/account-order-template-list.component.html
  src/app/extensions/product-notifications/pages/account-product-notifications/account-product-notifications-list/account-product-notifications-list.component.html
  src/app/extensions/product-notifications/shared/product-notification-delete/product-notification-delete.component.html
  src/app/extensions/product-notifications/shared/product-notification-edit/product-notification-edit.component.html
  src/app/extensions/punchout/pages/account-punchout/account-punchout-page.component.html
  src/app/extensions/quickorder/shared/formly/quickorder-repeat-field/quickorder-repeat-field.component.html
  src/app/extensions/quoting/pages/quote-list/quote-list/quote-list.component.html
  src/app/extensions/quoting/shared/quote-line-item-list-element/quote-line-item-list-element.component.html
  src/app/extensions/tacton/pages/configure/tacton-parameter/tacton-parameter.component.html
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-line-item/account-wishlist-detail-line-item.component.html
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-page.component.html
  src/app/extensions/wishlists/pages/account-wishlist/account-wishlist-list/account-wishlist-list.component.html
  src/app/pages/account-addresses/account-addresses/account-addresses.component.html
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.html
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.html
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.spec.ts
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.html
  src/styles/global/buttons.scss
  src/styles/pages/checkout/shopping-cart.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: changed formly model into stream to correctly display values on page reload
  src/app/pages/account-profile-user/account-profile-user-page.component.html
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.html
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: added tests for newsletter-status selector
  src/app/core/store/customer/user/user.selectors.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: dead code
  src/app/shared/components/basket/basket-items-summary/basket-items-summary.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: adapt documentation
  docs/guides/accessibility.md
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

fix: styling issues
  src/app/shared/components/filter/filter-swatch-images/__snapshots__/filter-swatch-images.component.spec.ts.snap
  src/app/shared/components/filter/filter-swatch-images/filter-swatch-images.component.html
  src/app/shared/components/product/product-variation-select-swatch/product-variation-select-swatch.component.html
  src/app/shared/components/product/product-variation-select-swatch/product-variation-select-swatch.component.scss
  src/app/shared/components/product/product-variation-select-swatch/product-variation-select-swatch.component.spec.ts
  src/app/shell/header/header-navigation/header-navigation.component.html
  src/app/shell/header/sub-category-navigation/sub-category-navigation.component.html
  src/styles/global/buttons.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: ui issues
  src/styles/global/buttons.scss
Due: none

fix: flaky login-user e2e test
  e2e/cypress/e2e/specs/account/login-user.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: updateNewsletterSubscriptionStatus service method
  src/app/core/services/newsletter/newsletter.service.spec.ts
  src/app/core/services/newsletter/newsletter.service.ts
  src/app/core/store/customer/user/user-newsletter.effects.spec.ts
  src/app/core/store/customer/user/user-newsletter.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: load only the newsletter if this feature is configured
  src/app/core/facades/account.facade.ts
  src/app/pages/account-profile/fetch-user-newsletter.guard.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: set correct class name
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

i18n: adjust DE localization
  src/assets/i18n/de_DE.json
Due: npx prettier --loglevel warn --write

fix: fix open styling issues, set correct :focus styling (only) when using the keyboard
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.html
  src/styles/components/header/back-to-top.scss
  src/styles/global/buttons.scss
  src/styles/pages/category/filter-panel.scss
Due: npx prettier --loglevel warn --write

fixup! fix: load only the newsletter if this feature is configured
  src/app/pages/account-profile/fetch-user-newsletter.guard.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: adjust FR localization
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

docs: add link to the accessibility document
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

fix: prevent duplication on default canonical link
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: remove slash from the test link
  e2e/test-universal.sh
Due: none

test: fixed jest
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: added suggestions for translation + docu
  src/app/core/services/newsletter/newsletter.service.ts
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: adjust FR localization after change of EN source text
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

refactor: consolidate styles and apply to input[type='search'] in general
  src/styles/components/header/search-container.scss
  src/styles/global/forms.scss
  src/styles/pages/category/search-result.scss
Due: none

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
