Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(accessibility): fixed cost center disabled trash icon
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
Due: npx prettier --loglevel warn --write

refactor(accessibility): refactored previous fixes registration form
  src/app/pages/registration/registration-page.component.html
  src/styles/global/buttons.scss
Due: npx prettier --loglevel warn --write

refactor(accessibility): refactored previous fixes checkout
  src/app/pages/checkout-address/checkout-address-anonymous/checkout-address-anonymous.component.html
  src/app/pages/checkout-address/checkout-address/checkout-address.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-shipping/checkout-shipping-page.component.html
Due: npx prettier --loglevel warn --write

refactor(accessibility): refactored previous fixes create new user
  projects/organization-management/src/app/pages/user-create/user-create-page.component.html
Due: npx prettier --loglevel warn --write

refactor(accessibility): refactored previous fixes contact form
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.html
Due: npx prettier --loglevel warn --write

refactor(accessibility): refactored previous fixes oci-configuration
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
Due: npx prettier --loglevel warn --write

refactor(accessibility): refactored previous fixes address form
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.html
Due: npx prettier --loglevel warn --write

docs(accessibility): update ux-pattern for disabled buttons
  docs/guides/accessibility-ux-pattern.md
  docs/guides/forms.md
Due: npx prettier --loglevel warn --write

fix(accessibility): fixed aria-disabled scss styling
  src/styles/global/buttons.scss
Due: none

fixup! fix(accessibility): fixed cost center disabled trash icon
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor(accessibility): refactored translations and translation keys
  projects/organization-management/src/app/pages/user-create/user-create-page.component.html
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
  src/app/pages/registration/registration-page.component.html
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

docs(accessibility): update ux-pattern for disabled buttons
  docs/guides/accessibility-ux-pattern.md
Due: npx prettier --loglevel warn --write

refactor(accessibility): large form buttons remain active
  projects/organization-management/src/app/pages/user-create/user-create-page.component.html
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
  src/app/pages/registration/registration-page.component.html
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.html
Due: npx prettier --loglevel warn --write

refactor(accessibility): checkout buttons remain active
  src/app/pages/checkout-address/checkout-address-anonymous/checkout-address-anonymous.component.html
  src/app/pages/checkout-address/checkout-address/checkout-address.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-shipping/checkout-shipping-page.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor(accessibility): default cursor for cost center trash icon
  src/styles/global/lists.scss
Due: none

docs: changes after review of the guide
  docs/guides/accessibility-ux-pattern.md
Due: npx prettier --loglevel warn --write

docs: add missing comma
  docs/guides/accessibility-ux-pattern.md
Due: npx prettier --loglevel warn --write

refactor: use bootrstrap 5 classes
  projects/organization-management/src/app/pages/user-create/user-create-page.component.html
  src/app/core/store/customer/basket/basket.reducer.ts
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
  src/app/pages/checkout-address/checkout-address-anonymous/checkout-address-anonymous.component.html
  src/app/pages/checkout-address/checkout-address/checkout-address.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-shipping/checkout-shipping-page.component.html
  src/app/pages/registration/registration-page.component.html
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.html
  src/styles/global/buttons.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display basket validation results regarding recurring order information
  src/app/core/models/basket-validation/basket-validation.model.ts
  src/app/core/store/customer/basket/basket-validation.effects.ts
  src/app/pages/basket/basket-order-recurrence-edit/basket-order-recurrence-edit.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(order-template): switch to concatMap and added tests
  src/app/extensions/order-templates/store/order-template/order-template.effects.spec.ts
  src/app/extensions/order-templates/store/order-template/order-template.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent redundant spacing in category tree (#1950)
  src/app/pages/category/category-navigation/category-navigation.component.html
Due: npx prettier --loglevel warn --write

fix: wait to load paypal script after the app becomes stable
  src/app/core/utils/paypal-config/paypal-config.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: show 'or' text under paypal buttons
  src/app/shared/components/checkout/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: make e2e tests more robust
  e2e/cypress/e2e/pages/checkout/cart.page.ts
  e2e/cypress/e2e/pages/header.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: check if category should be shown in the header navigation based on the "ShowInMenu" attribute
  src/app/core/models/navigation-category/navigation-category.model.ts
  src/app/core/store/shopping/categories/categories.selectors.spec.ts
  src/app/core/store/shopping/categories/categories.selectors.ts
  src/app/shell/header/header-navigation/header-navigation.component.html
  src/app/shell/header/header-navigation/header-navigation.component.spec.ts
  src/app/shell/header/header-navigation/header-navigation.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: set autocomplete off in password fields for PCI DSS Compliance
  src/app/extensions/punchout/shared/punchout-user-form/punchout-user-form.component.ts
  src/app/pages/account-profile-password/account-profile-password/account-profile-password.component.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/formly/types/types.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add pre-commit quality checks
  .husky/pre-commit
  package.json
Due: npx prettier --loglevel warn --write

feat: add extended lint-staged checks for staged files
  package.json
  scripts/lint-staged.extended.js
Due: npx prettier --loglevel warn --write

refactor: translation keys and texts
  projects/organization-management/src/app/pages/user-create/user-create-page.component.html
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
  src/app/pages/checkout-address/checkout-address-anonymous/checkout-address-anonymous.component.html
  src/app/pages/checkout-address/checkout-address/checkout-address.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-shipping/checkout-shipping-page.component.html
  src/app/pages/registration/registration-page.component.html
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

refactor: restructure category menu visibility to use model mapping instead of direct attribute checks
  src/app/core/models/category/category.mapper.ts
  src/app/core/models/category/category.model.ts
  src/app/core/models/navigation-category/navigation-category.model.ts
  src/app/core/store/shopping/categories/categories.selectors.spec.ts
  src/app/core/store/shopping/categories/categories.selectors.ts
  src/app/shell/header/header-navigation/header-navigation.component.spec.ts
  src/app/shell/header/header-navigation/header-navigation.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: minor changes of English source text, add localizations
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

docs: document catalog ShowInMenu=false behavior in navigation
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

docs: adapted forms guide
  docs/guides/forms.md
Due: npx prettier --loglevel warn --write

refactor: smaller code improvements
  src/app/core/models/category/category.mapper.spec.ts
  src/app/core/models/category/category.mapper.ts
  src/app/shell/header/header-navigation/header-navigation.component.html
  src/app/shell/header/header-navigation/header-navigation.component.spec.ts
  src/app/shell/header/header-navigation/header-navigation.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(order-templates): add/remove multiple products concurrently (#1953)
  src/app/extensions/order-templates/store/order-template/order-template.effects.spec.ts
  src/app/extensions/order-templates/store/order-template/order-template.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: change wording and replaced h5 headlines by alternative introductory texts
  docs/guides/accessibility-ux-pattern.md
  docs/guides/forms.md
Due: npx prettier --loglevel warn --write

refactor: enhance ShowInMenu feature documentation and test coverage
  src/app/core/models/category/category.mapper.spec.ts
  src/app/core/models/category/category.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add copilot comment
  src/app/pages/basket/basket-order-recurrence-edit/basket-order-recurrence-edit.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: documentation cleanup
  docs/guides/migrations.md
  src/app/core/models/category/category.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
