Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: moved spike build to real build path
  .dockerignore
  .github/lighthouse/Dockerfile.application-spike
  Dockerfile
  scripts/build-multi-pwa.js
  scripts/build-pwa.js
  scripts/build/application-builder-spike.ts
  src/ssr/deploy-url.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: strip data-testing attributes in-memory for application builder
  scripts/build/application-builder-spike.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: enable service worker support for application builder spike
  schematics/customization/service-worker/index.js
  scripts/build-pwa.js
  scripts/build/application-builder-spike.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: add application builder parity checks
  package.json
  scripts/build/active-files-parity.ts
  scripts/build/application-builder-matrix.ts
  scripts/build/application-builder-parity.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: analyze application builder bundles
  package.json
  scripts/analyze-application-builder.js
  scripts/build/application-builder-spike.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: serve application builder output
  package.json
  scripts/build/application-builder-serve.ts
  scripts/build/application-builder-spike.ts
  scripts/serve-pwa.js
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: document application builder migration
  docs/README.md
  docs/guides/application-builder-migration.md
  scripts/build/application-builder-spike.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: clean webpack parity outputs
  scripts/build/application-builder-parity.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add application builder bundle analyzer
  package-lock.json
  package.json
  scripts/analyze-application-builder.js
Due: npx prettier --loglevel warn --write

feat: added live reload for overrides
  package.json
  scripts/build/application-builder-spike.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: added elastic-apm-node to allowed dependencies
  scripts/build/application-builder-spike.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: avoid temporary angular.json rewrite for application builder
  scripts/build/application-builder-spike.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: strip data-testing attributes from production output
  scripts/build/application-builder-matrix.ts
  scripts/build/application-builder-spike.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: route npm scripts through application builder
  package.json
  scripts/build-multi-pwa.js
  scripts/build/application-builder-serve.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: formalize application builder wrapper
  .github/lighthouse/Dockerfile.application-builder
  .github/workflows/development.yml
  .github/workflows/windows.yml
  angular.json
  docs/guides/application-builder-migration.md
  docs/guides/getting-started.md
  package.json
  scripts/analyze-application-builder.js
  scripts/build-pwa.js
  scripts/build/active-files-parity.ts
  scripts/build/application-builder-matrix.ts
  scripts/build/application-builder-parity.ts
  scripts/build/application-builder-serve.ts
  scripts/build/application-builder.ts
  tsconfig.application-builder.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: serve application builder development builds
  angular.json
  docs/guides/application-builder-migration.md
  docs/guides/continuous-integration.md
  package.json
Due: npx prettier --loglevel warn --write

fix: defaultConfiguration using development build
  angular.json
Due: npx prettier --loglevel warn --write

fix: support serving application builder outputs
  package.json
  scripts/build/application-builder-serve.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: update migration doc
  docs/guides/application-builder-migration.md
Due: npx prettier --loglevel warn --write

feat: added angular dev server that works with overrides
  schematics/src/helpers/override/factory.ts
  schematics/src/helpers/override/factory_spec.ts
  scripts/build/application-builder-dev-server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: added dev server startup script to package.json
  package.json
Due: npx prettier --loglevel warn --write

fix: parallelize safe multi builds
  scripts/build-multi-pwa.js
  scripts/build/application-builder.ts
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: restore dev ssr diagnostics
  package.json
  scripts/build-pwa.js
  scripts/build/application-builder-dev-server.ts
  scripts/build/application-builder-serve.ts
  scripts/build/application-builder.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: clean up
  angular.json
  docs/guides/optimizations.md
  package-lock.json
  package.json
  scripts/build/active-files-parity.ts
  scripts/build/application-builder-parity.ts
  scripts/update-pwa.js
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: updated esbuild migration docs
  docs/guides/application-builder-migration.md
Due: npx prettier --loglevel warn --write

fix: remove old references in docker file
  .dockerignore
  Dockerfile
Due: none

fix: update regex to match new chunk names
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: code formatting error in sever.ts
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: change forgot password and profile handling
  projects/organization-management/src/app/components/user-profile-form/user-profile-form.component.ts
  projects/organization-management/src/app/pages/user-create/user-create-page.component.ts
  projects/organization-management/src/app/services/users/users.service.ts
  src/app/core/models/credentials/credentials.model.ts
  src/app/core/services/user/user.service.ts
  src/app/pages/account-profile-username/account-profile-username/account-profile-username.component.html
  src/app/pages/account-profile-username/account-profile-username/account-profile-username.component.spec.ts
  src/app/pages/account-profile-username/account-profile-username/account-profile-username.component.ts
  src/app/pages/account-profile/account-profile/account-profile.component.html
  src/app/pages/account-profile/account-profile/account-profile.component.ts
  src/app/pages/forgot-password/request-reminder-form/request-reminder-form.component.spec.ts
  src/app/pages/forgot-password/request-reminder-form/request-reminder-form.component.ts
  src/app/pages/forgot-password/request-reminder/request-reminder.component.html
  src/app/pages/forgot-password/request-reminder/request-reminder.component.spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: b2b user adaption
  projects/organization-management/src/app/components/user-profile-form/user-profile-form.component.spec.ts
  projects/organization-management/src/app/components/user-profile-form/user-profile-form.component.ts
  projects/organization-management/src/app/services/users/users.service.spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: update openresty version to 1.31.1.1-1
  nginx/Dockerfile
Due: none

deps(nginx): update OpenResty version to 1.31.1.1 (#2129)
  nginx/Dockerfile
Due: none

chore: review cleanup
  .github/workflows/dockerhub-autobuilds.yml
Due: npx prettier --loglevel warn --write

ci: migrate Docker Hub images Autobuilds to GitHub Actions CI workflow (#2125)
  .github/workflows/dockerhub-autobuilds.yml
Due: npx prettier --loglevel warn --write

feat(Bootstrap): replace `ProductRatingStarComponent` with `NgbRating`
  docs/guides/migrations.md
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.html
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.spec.ts
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.ts
  src/app/extensions/rating/rating.module.ts
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.html
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.scss
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.spec.ts
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.ts
  src/app/extensions/rating/shared/product-rating/product-rating.component.html
  src/app/extensions/rating/shared/product-rating/product-rating.component.spec.ts
  src/app/extensions/rating/shared/product-rating/product-rating.component.ts
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.html
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.spec.ts
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.ts
  src/app/shared/shared.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/components/rating.scss
  src/styles/main.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(Bootstrap): replace `ProductRatingStarComponent` with `NgbRating` (#2126)
  docs/guides/migrations.md
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.html
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.spec.ts
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.ts
  src/app/extensions/rating/rating.module.ts
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.html
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.scss
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.spec.ts
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.ts
  src/app/extensions/rating/shared/product-rating/product-rating.component.html
  src/app/extensions/rating/shared/product-rating/product-rating.component.spec.ts
  src/app/extensions/rating/shared/product-rating/product-rating.component.ts
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.html
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.spec.ts
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.ts
  src/app/shared/shared.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/components/rating.scss
  src/styles/main.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: revert mixed up feature toggle definition order
  src/environments/environment.b2b.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add cla workflow, update docs for new cla process
  .github/workflows/cla.yml
  CONTRIBUTING.md
  INTERSHOP_CLA.md
Due: npx prettier --loglevel warn --write

perf: change wishlist loading handling
  src/app/extensions/wishlists/facades/wishlists.facade.ts
  src/app/extensions/wishlists/models/wishlist/wishlist.interface.ts
  src/app/extensions/wishlists/models/wishlist/wishlist.mapper.ts
  src/app/extensions/wishlists/models/wishlist/wishlist.model.ts
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-page.component.ts
  src/app/extensions/wishlists/pages/account-wishlist/account-wishlist-page.component.ts
  src/app/extensions/wishlists/services/wishlist/wishlist.service.spec.ts
  src/app/extensions/wishlists/services/wishlist/wishlist.service.ts
  src/app/extensions/wishlists/shared/wishlist-widget/wishlist-widget.component.html
  src/app/extensions/wishlists/shared/wishlist-widget/wishlist-widget.component.spec.ts
  src/app/extensions/wishlists/shared/wishlist-widget/wishlist-widget.component.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.actions.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.effects.spec.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.effects.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.reducer.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.selectors.spec.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.selectors.ts
  src/app/pages/account-overview/account-overview/account-overview.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: change order template loading handling
  e2e/cypress/e2e/pages/account/order-templates-overview.page.ts
  src/app/extensions/order-templates/facades/order-templates.facade.ts
  src/app/extensions/order-templates/models/order-template/order-template.interface.ts
  src/app/extensions/order-templates/models/order-template/order-template.mapper.spec.ts
  src/app/extensions/order-templates/models/order-template/order-template.mapper.ts
  src/app/extensions/order-templates/pages/account-order-template/account-order-template-list/account-order-template-list.component.html
  src/app/extensions/order-templates/pages/account-order-template/account-order-template-list/account-order-template-list.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template/account-order-template-list/account-order-template-list.component.ts
  src/app/extensions/order-templates/pages/account-order-template/account-order-template-page.component.ts
  src/app/extensions/order-templates/services/order-template/order-template.service.spec.ts
  src/app/extensions/order-templates/services/order-template/order-template.service.ts
  src/app/extensions/order-templates/store/order-template/order-template.actions.ts
  src/app/extensions/order-templates/store/order-template/order-template.effects.spec.ts
  src/app/extensions/order-templates/store/order-template/order-template.effects.ts
  src/app/extensions/order-templates/store/order-template/order-template.reducer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
