Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: change password redirects to login page on success
  src/app/core/guards/login.guard.ts
  src/app/pages/forgot-password/update-password/update-password.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: change password redirects to login page on success instead of displaying the login dialog (#130)
  src/app/core/guards/login.guard.ts
  src/app/pages/forgot-password/update-password/update-password.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: adapt cypress tests for new URL patterns
  e2e/cypress/integration/pages/shopping/family.page.ts
  e2e/cypress/integration/pages/shopping/product-detail.page.ts
  e2e/test-universal.sh
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: respect selected category when switching variations on product detail page
  src/app/pages/product/product-page.component.spec.ts
  src/app/pages/product/product-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rename AppNotFoundRoutingModule to AppLastRoutingModule
  schematics/src/extension/factory.js
  schematics/src/extension/factory.ts
  schematics/src/extension/factory_spec.ts
  schematics/src/store/factory_spec.ts
  schematics/src/utils/testHelper.js
  schematics/src/utils/testHelper.ts
  src/app/app.module.ts
  src/app/pages/app-last-routing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: SEO friendly localized URLs for category and product list pages (#110)
  src/app/core/pipes.module.ts
  src/app/core/pipes/category-route.pipe.spec.ts
  src/app/core/pipes/category-route.pipe.ts
  src/app/core/routing/category/category-route.pipe.ts
  src/app/core/routing/category/category.route.spec.ts
  src/app/core/routing/category/category.route.ts
  src/app/core/routing/product/product.route.spec.ts
  src/app/core/routing/product/product.route.ts
  src/app/core/store/shopping/categories/categories.effects.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
  src/app/pages/app-last-routing.module.ts
  src/app/pages/app-routing.module.ts
  src/app/pages/category/category-navigation/category-navigation.component.spec.ts
  src/app/pages/category/category-page.module.ts
  src/app/pages/category/category-tile/category-tile.component.spec.ts
  src/app/pages/category/category-tile/category-tile.component.ts
  src/app/shared/components/common/breadcrumb/breadcrumb.component.spec.ts
  src/app/shared/components/common/breadcrumb/breadcrumb.component.ts
  src/app/shell/header/header-navigation/header-navigation.component.spec.ts
  src/app/shell/header/sub-category-navigation/__snapshots__/sub-category-navigation.component.spec.ts.snap
  src/app/shell/header/sub-category-navigation/sub-category-navigation.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: return new links in link-parser
  src/app/core/directives/server-html.directive.spec.ts
  src/app/core/models/content-view/content-view.helper.spec.ts
  src/app/core/utils/link-parser.spec.ts
  src/app/core/utils/link-parser.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: SEO friendly localized URLs for product detail pages (#110)
  src/app/core/pipes.module.ts
  src/app/core/pipes/product-route.pipe.spec.ts
  src/app/core/pipes/product-route.pipe.ts
  src/app/core/routing/product/product-route.pipe.ts
  src/app/core/routing/product/product.route.spec.ts
  src/app/core/routing/product/product.route.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/products/products.selectors.ts
  src/app/core/store/shopping/recently/recently.effects.spec.ts
  src/app/core/store/shopping/recently/recently.effects.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
  src/app/pages/app-last-routing.module.ts
  src/app/pages/app-routing.module.ts
  src/app/pages/compare/product-compare-list/product-compare-list.component.spec.ts
  src/app/pages/product/product-page.component.spec.ts
  src/app/pages/product/product-page.component.ts
  src/app/pages/product/product-page.module.ts
  src/app/shared/components/basket/basket-items-summary/basket-items-summary.component.spec.ts
  src/app/shared/components/basket/basket-validation-items/basket-validation-items.component.spec.ts
  src/app/shared/components/basket/basket-validation-products/basket-validation-products.component.spec.ts
  src/app/shared/components/basket/line-item-list/line-item-list.component.spec.ts
  src/app/shared/components/product/product-row/product-row.component.spec.ts
  src/app/shared/components/product/product-row/product-row.component.ts
  src/app/shared/components/product/product-tile/product-tile.component.spec.ts
  src/app/shared/components/product/product-tile/product-tile.component.ts
  src/app/shell/header/mini-basket/mini-basket.component.spec.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add url property to RouteNavigation
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/viewconf/viewconf.integration.spec.ts
  src/app/core/store/error/error.reducer.spec.ts
  src/app/core/store/orders/orders.effects.spec.ts
  src/app/core/store/shopping/categories/categories.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/search/search.effects.spec.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/core/store/user/user.effects.spec.ts
  src/app/core/store/viewconf/viewconf.integration.spec.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.spec.ts
  src/ngrx-router/actions.ts
  src/ngrx-router/effects.spec.ts
  src/ngrx-router/effects.ts
  src/ngrx-router/operator.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: safety return for defaultVariation()
  src/app/core/models/product-view/product-view.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: all related view entities return ProductViews instead of Products
  src/app/core/models/basket-feedback/basket-feedback.model.ts
  src/app/core/models/basket/basket.model.ts
  src/app/core/models/line-item/line-item.model.ts
  src/app/core/models/order/order.model.ts
  src/app/core/store/checkout/basket/basket.selectors.ts
  src/app/core/store/orders/orders.selectors.spec.ts
  src/app/core/store/orders/orders.selectors.ts
  src/app/extensions/quoting/models/quote-request-item/quote-request-item.model.ts
  src/app/extensions/quoting/store/quote-request/quote-request.selectors.spec.ts
  src/app/extensions/quoting/store/quote-request/quote-request.selectors.ts
  src/app/pages/compare/compare-page.component.ts
  src/app/pages/compare/product-compare-list/product-compare-list.component.spec.ts
  src/app/pages/compare/product-compare-list/product-compare-list.component.ts
  src/app/shared/components/basket/basket-validation-products/basket-validation-products.component.spec.ts
  src/app/shared/components/basket/basket-validation-products/basket-validation-products.component.ts
  src/app/shared/components/basket/basket-validation-results/basket-validation-results.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: update new product-route import for wishlist
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-line-item/account-wishlist-detail-line-item.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: set correct URL for sharing product page via email (#128, #138)
  src/app/core/facades/app.facade.ts
  src/app/pages/product/product-detail-actions/product-detail-actions.component.html
  src/app/pages/product/product-detail-actions/product-detail-actions.component.ts
  src/app/pages/product/product-detail/product-detail.component.html
  src/app/pages/product/product-detail/product-detail.component.ts
  src/app/pages/product/product-page.component.html
  src/app/pages/product/product-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: quotes routerActiveLink on account menu
  e2e/cypress/integration/pages/account/quote-list.page.ts
  src/app/app.module.ts
  src/app/extensions/quoting/pages/quote-edit/quote-edit-page.module.ts
  src/app/extensions/quoting/pages/quote-list/quote-list/quote-list.component.ts
  src/app/extensions/quoting/pages/quote-request-edit/quote-request-edit-page.module.ts
  src/app/extensions/quoting/pages/quoting-routing.module.ts
  src/app/extensions/quoting/shared/account/quote-widget/quote-widget.component.html
  src/app/extensions/quoting/shared/product/product-add-to-quote-dialog/product-add-to-quote-dialog.component.html
  src/app/extensions/quoting/shared/quote/quote-edit/quote-edit.component.html
  src/app/extensions/quoting/shared/quote/quote-edit/quote-edit.component.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.spec.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.ts
  src/app/extensions/quoting/store/quote/quote.effects.spec.ts
  src/app/extensions/quoting/store/quote/quote.effects.ts
  src/app/pages/account/account-navigation/account-navigation.component.ts
  src/app/pages/account/account-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

dynamic breadcrumb for quote-edit and quote-request-edit
  src/app/extensions/quoting/pages/quoting-routing.module.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.spec.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.ts
  src/app/extensions/quoting/store/quote/quote.effects.spec.ts
  src/app/extensions/quoting/store/quote/quote.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: update recommended vscode extensions
  .vscode/extensions.json
Due: npx prettier --loglevel warn --write

chore: update recommended vscode extensions (#136)
  .vscode/extensions.json
Due: npx prettier --loglevel warn --write

feat: dynamic breadcrumb for quote-edit and quote-request-edit
  src/app/extensions/quoting/pages/quoting-routing.module.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.spec.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.ts
  src/app/extensions/quoting/store/quote/quote.effects.spec.ts
  src/app/extensions/quoting/store/quote/quote.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: do not add channel parameter if already in URL
  nginx/channel.conf.tmpl
Due: none

chore: prevent undefined access when product is loading
  src/app/core/routing/product/product.route.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: fix link generation for forgot password URL
  src/hybrid/default-url-mapping-table.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: update cypress browsers image
  e2e/Dockerfile
Due: none

chore: wrap pipe in quotes
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

test: split product-category-context cypress test
  e2e/cypress/integration/specs/shopping/product-category-context-bundle-category.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/product-category-context-default-category.b2c.e2e-spec copy.ts
  e2e/cypress/integration/specs/shopping/product-category-context-product-detail.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/product-category-context-search.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/product-category-context.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: increase number of parallel cypress remote runs
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

test: reduce timeout
  e2e/test-e2e.sh
Due: none

chore: use stretch image for report building
  Dockerfile_reports
Due: none

test: split retain-basket cypress test
  e2e/cypress/integration/specs/system/retain-basket-anonymous.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/retain-basket-authenticated.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
