Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fix dead code (#103499)
  src/app/core/services/suggestion/provider/suggestion.service.provider.spec.ts
  src/environments/environment.b2b.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove not useful test (#103499)
  src/app/core/services/suggestion/provider/suggestion.service.provider.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: show all elements based on available data from Sparque
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/app/core/standalone/component/suggest/search-box/search-box.component.spec.ts
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
  src/app/core/standalone/component/suggest/suggest-brands-tile/suggest-brands-tile.component.html
  src/app/core/standalone/component/suggest/suggest-brands-tile/suggest-brands-tile.component.ts
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.html
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.ts
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.html
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.ts
  src/styles/components/header/search-container.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: dead code failure (#103399)
  src/app/core/services/sparque-suggestion/sparque-suggestion.service.spec.ts
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(accessibility): add password visibility toggle, use dedicated password component and update error indicators (#1694)
  src/app/core/directives.module.ts
  src/app/core/directives/focus-outside.directive.ts
  src/app/core/icon.module.ts
  src/app/extensions/punchout/shared/punchout-user-form/punchout-user-form.component.ts
  src/app/pages/account-profile-password/account-profile-password/account-profile-password.component.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.spec.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/components/login/login-form/login-form.component.ts
  src/app/shared/formly/components/validation-icons/validation-icons.component.html
  src/app/shared/formly/types/password-field/password-field.component.html
  src/app/shared/formly/types/password-field/password-field.component.spec.ts
  src/app/shared/formly/types/password-field/password-field.component.ts
  src/app/shared/formly/types/text-input-field/text-input-field.component.ts
  src/app/shared/formly/types/types.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/global/forms.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: e2e test failure (#103399)
  e2e/cypress/e2e/specs/shopping/search-box.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: added hint to Content Security Policy into nginx guide; provided (commented out) sample CSP directive
  docker-compose.yml
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

fix: consider only 'true' product labels and select the first
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: add localizations for accessibility changes
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: styling improvement for swatch (image) filters
  src/styles/pages/category/filter-panel.scss
  src/styles/themes/b2b/variables.scss
  src/styles/themes/b2c/variables.scss
Due: none

fix: add type to buttons
  .eslintrc.json
  src/app/extensions/compare/shared/product-add-to-compare/product-add-to-compare.component.html
  src/app/extensions/quoting/shared/basket-add-to-quote/basket-add-to-quote.component.html
  src/app/extensions/tacton/pages/configure/tacton-step-buttons/tacton-step-buttons.component.html
  src/app/pages/account-order-history/account-order-history-page.component.html
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.html
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.html
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.html
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.html
  src/app/shared/components/filter/filter-dropdown/filter-dropdown.component.html
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.html
  src/app/shared/components/product/product-variation-select-enhanced/product-variation-select-enhanced.component.html
  src/app/shell/header/language-switch/language-switch.component.html
Due: npx prettier --loglevel warn --write

deps: revert "jest-preset-angular" to version 14.2.4 to avoid distracting deprecation messages in test runs
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

test: adapt test user to a user with preferred addresses set in demo data
  e2e/cypress/e2e/specs/checkout/checkout-cost-center-no-costcenter.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(accessibility): add password reveal button
  .vscode/intershop.txt
  docs/guides/formly.md
  docs/guides/migrations.md
  src/app/core/directives/focus-outside.directive.ts
  src/app/extensions/punchout/shared/punchout-user-form/punchout-user-form.component.ts
  src/app/pages/account-profile-password/account-profile-password/account-profile-password.component.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.spec.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/components/login/login-form/login-form.component.ts
  src/app/shared/formly/dev/testing/formly-testing.module.ts
  src/app/shared/formly/types/password-field/password-field.component.html
  src/app/shared/formly/types/password-field/password-field.component.scss
  src/app/shared/formly/types/password-field/password-field.component.spec.ts
  src/app/shared/formly/types/password-field/password-field.component.ts
  src/app/shared/formly/types/text-input-field/text-input-field.component.ts
  src/app/shared/formly/types/types.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/global/forms.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: fix related tests
  src/app/extensions/tacton/pages/configure/tacton-step-buttons/tacton-step-buttons.component.spec.ts
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.spec.ts
  src/app/shared/components/common/in-place-edit/in-place-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.spec.ts
  src/app/shared/components/product/product-variation-select-enhanced/product-variation-select-enhanced.component.spec.ts
  src/app/shell/header/language-switch/language-switch.component.html
  src/styles/components/header/language-switch.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: add eslint rule to secure button types (#1753)
  .eslintrc.json
  src/app/extensions/compare/shared/product-add-to-compare/product-add-to-compare.component.html
  src/app/extensions/quoting/shared/basket-add-to-quote/basket-add-to-quote.component.html
  src/app/extensions/tacton/pages/configure/tacton-step-buttons/tacton-step-buttons.component.html
  src/app/extensions/tacton/pages/configure/tacton-step-buttons/tacton-step-buttons.component.spec.ts
  src/app/pages/account-order-history/account-order-history-page.component.html
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.html
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.html
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.spec.ts
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.html
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.html
  src/app/shared/components/common/in-place-edit/in-place-edit.component.spec.ts
  src/app/shared/components/filter/filter-dropdown/filter-dropdown.component.html
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.html
  src/app/shared/components/product/product-variation-select-enhanced/product-variation-select-enhanced.component.html
  src/app/shared/components/product/product-variation-select-enhanced/product-variation-select-enhanced.component.spec.ts
  src/app/shell/header/language-switch/language-switch.component.html
  src/styles/components/header/language-switch.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: extended nginx guide and example in docker compose file
  docker-compose.yml
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

feat: avoid use of eval to resolve Payone language object, prepare use of adapted API for hosted payment page configuration
  src/app/pages/checkout-payment/payment-payone-creditcard/payment-payone-creditcard.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: missing single quote to comment added
  src/app/pages/checkout-payment/payment-payone-creditcard/payment-payone-creditcard.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: added note for the value of the 'default-src' URL
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

refactor: access to the Payone language object (#1755)
  src/app/pages/checkout-payment/payment-payone-creditcard/payment-payone-creditcard.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: resolve sparque image urls (#102488)
  src/app/core/facades/shopping.facade.ts
  src/app/core/models/sparque-suggestion/sparque-suggestion.mapper.spec.ts
  src/app/core/models/sparque-suggestion/sparque-suggestion.mapper.ts
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.html
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.ts
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.html
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: do not show button on mobile devices
  src/app/core/configurations/injection-keys.ts
  src/app/shared/formly/types/password-field/password-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: adapt Content-Security-Policy header examples after review and testing
  docker-compose.yml
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

feat: resolve sparque image urls (#102488) (#1756)
  src/app/core/facades/shopping.facade.ts
  src/app/core/models/sparque-suggestion/sparque-suggestion.mapper.spec.ts
  src/app/core/models/sparque-suggestion/sparque-suggestion.mapper.ts
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.html
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.ts
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.html
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: extend documentation file (#102488)
  docs/guides/sparque-integration.md
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: rebase
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.html
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.ts
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
  src/app/shell/header/header-default/header-default.component.html
  src/styles/components/header/search-container.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: set better max height for the layer for desktop
  src/styles/components/header/search-container.scss
Due: none

feat: add accessibility enhancements
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: revert to initial max height for the layer for desktop
  src/styles/components/header/search-container.scss
Due: none

docs: review nginx-startup.md
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

feat: product display, accessibility attributes, calculate layer height (#1757)
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.html
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.ts
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
  src/app/shell/header/header-default/header-default.component.html
  src/styles/components/header/search-container.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: improved formatting
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

docs: add description how to configure Content Security Policy with Additional Headers feature (#1751)
  docker-compose.yml
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

feat: remove price, add product image not available
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.html
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.ts
  src/styles/components/header/search-container.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
