Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

build: reduce severity of deprecation tslint rule
  tslint.json
Due: npx prettier --loglevel warn --write

build: build docker image in CI
  .github/workflows/test.yml
Due: npx prettier --loglevel warn --write

build: introduce environment defaults for ease of extending
  src/environments/environment.model.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: use curl for printing debug output in test-universal script
  e2e/test-universal.sh
Due: none

refactor: use native lazy loading for LoginModalComponent (#215)
  src/app/core/guards/login.guard.ts
  src/app/shell/header/lazy-login-modal/lazy-login-modal.component.html
  src/app/shell/header/lazy-login-modal/lazy-login-modal.component.ts
  src/app/shell/shell.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display loading animation while restoring user on first navigation (#211)
  e2e/test-universal.sh
  src/app/core/facades/app.facade.ts
  src/app/core/guards/auth.guard.spec.ts
  src/app/core/guards/auth.guard.ts
  src/app/pages/login/login-page.component.html
  src/app/pages/login/login-page.component.spec.ts
  src/app/pages/login/login-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent mixed locale due to race condition using ngx-translate service use method (#207, #222)
  src/app/core/store/configuration/configuration.effects.spec.ts
  src/app/core/store/configuration/configuration.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: ng-bootstrap upgraded to version 6.1
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

deps(tslint-rules): upgrade versions in tslint-rules project (#215)
  tslint-rules/dist/ishOrderedImportsRule.js
  tslint-rules/dist/ishUsefulImportsRule.js
  tslint-rules/package-lock.json
  tslint-rules/package.json
  tslint-rules/src/ishUsefulImportsRule.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: introduce tsconfig.all.json for CI testing
  .github/workflows/test.yml
  .gitlab-ci.yml
  .vscode/tasks.json
  e2e/test-schematics.sh
  scripts/find-dead-code.ts
  src/app/core/models/shipping-bucket/shipping-bucket.interface.ts
  src/app/core/models/shipping-bucket/shipping-bucket.model.ts
  tsconfig.all.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixup! deps: update to Angular 9 and compatible libraries (#215)
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: upgrade ngx-formly to version 5.0.x - contains still unit test errors
  package-lock.json
  package.json
  src/app/shared/forms-dynamic/components/checkbox-dynamic/checkbox-dynamic.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: use integration test for dynamic formly components
  src/app/shared/forms-dynamic/components/checkbox-dynamic/checkbox-dynamic.component.spec.ts
  src/app/shared/forms-dynamic/components/checkbox-dynamic/checkbox-dynamic.component.ts
  src/app/shared/forms-dynamic/components/input-dynamic/input-dynamic.component.spec.ts
  src/app/shared/forms-dynamic/components/input-dynamic/input-dynamic.component.ts
  src/app/shared/forms-dynamic/components/select-dynamic/select-dynamic.component.spec.ts
  src/app/shared/forms-dynamic/components/select-dynamic/select-dynamic.component.ts
  src/app/shared/forms-dynamic/forms-dynamic.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Angular CLI update for packages - @ngx-formly/core@latest
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write
