Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-695: applied improved styling and HTML for promotions listing from Responsive Starter Store and made the rendering more considerative of undefined promotion information
  src/app/shared/product/components/product-promotion/product-promotion.component.html
  src/app/shared/product/components/product-promotion/product-promotion.component.ts
  src/app/shared/product/components/product-row/product-row.component.html
  src/app/shared/product/components/product-tile/product-tile.component.html
  src/app/shared/promotion/components/promotion-details/promotion-details.component.html
  src/theme/global/promotions.scss
  src/theme/pages/productdetail/product-info.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-695: renamed mock data files to fix e2e tests (added new 'promotions' parameter to the file name)
  .createMockdata.table
  src/assets/mock-data/categories/Cameras-Camcorders/584/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_promotions_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
  src/assets/mock-data/categories/Cameras-Camcorders/832/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_promotions_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
  src/assets/mock-data/categories/Cameras-Camcorders/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_promotions_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
  src/assets/mock-data/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_promotions_offset_0_returnSortKeys_true_searchTerm_kodak.json
Due: npx prettier --loglevel warn --write

ISREST-695: added disableMessages flag and details link to list view
  src/app/core/models/promotion/promotion.model.ts
  src/app/shared/basket/components/basket-cost-summary/basket-cost-summary.component.html
  src/app/shared/basket/components/basket-items-summary/basket-items-summary.component.html
  src/app/shared/basket/components/line-item-list/line-item-list.component.html
  src/app/shared/product/components/product-promotion/product-promotion.component.html
  src/app/shared/product/components/product-promotion/product-promotion.component.spec.ts
  src/app/shared/product/components/product-row/product-row.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-695: added nofollow to externalURL link and changed details link space handling
  src/app/shared/basket/components/basket-cost-summary/basket-cost-summary.component.html
  src/app/shared/basket/components/basket-items-summary/basket-items-summary.component.html
  src/app/shared/basket/components/line-item-list/line-item-list.component.html
  src/app/shared/product/components/product-promotion/product-promotion.component.html
  src/app/shared/promotion/components/promotion-details/promotion-details.component.html
  src/theme/global/promotions.scss
Due: npx prettier --loglevel warn --write

ISREST-695: improved details link style
  src/app/shared/promotion/components/promotion-details/promotion-details.component.html
  src/app/shared/promotion/components/promotion-details/promotion-details.component.spec.ts
  src/theme/global/promotions.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-695: load promotion optimization to load each promotion information only once
  src/app/core/store/shopping/promotions/promotions.effects.spec.ts
  src/app/core/store/shopping/promotions/promotions.effects.ts
  src/app/shared/product/containers/product-promotion/product-promotion.container.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-695: actions naming improvement
  src/app/core/store/shopping/promotions/promotions.actions.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-695: removed promotions loading handling since it was not used or did not work and is not needed anyways
  src/app/core/store/shopping/promotions/promotions.reducer.spec.ts
  src/app/core/store/shopping/promotions/promotions.reducer.ts
  src/app/core/store/shopping/promotions/promotions.selectors.spec.ts
  src/app/core/store/shopping/promotions/promotions.selectors.ts
  src/app/shared/product/containers/product-promotion/product-promotion.container.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-695: added promotions service test
  src/app/core/services/promotions/promotions.service.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-695: rework use promotion store in basket
  src/app/core/models/basket-rebate/basket-rebate.mapper.spec.ts
  src/app/core/models/basket-rebate/basket-rebate.mapper.ts
  src/app/core/models/basket-rebate/basket-rebate.model.ts
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/line-item/line-item.mapper.ts
  src/app/core/services/basket/basket.service.ts
  src/app/shared/basket/components/basket-cost-summary/basket-cost-summary.component.html
  src/app/shared/basket/components/basket-cost-summary/basket-cost-summary.component.spec.ts
  src/app/shared/basket/components/basket-items-summary/basket-items-summary.component.html
  src/app/shared/basket/components/basket-items-summary/basket-items-summary.component.spec.ts
  src/app/shared/basket/components/basket-promotion/basket-promotion.component.html
  src/app/shared/basket/components/basket-promotion/basket-promotion.component.spec.ts
  src/app/shared/basket/components/basket-promotion/basket-promotion.component.ts
  src/app/shared/basket/components/line-item-list/line-item-list.component.html
  src/app/shared/basket/components/line-item-list/line-item-list.component.spec.ts
  src/app/shared/basket/containers/basket-promotion/basket-promotion.container.html
  src/app/shared/basket/containers/basket-promotion/basket-promotion.container.spec.ts
  src/app/shared/basket/containers/basket-promotion/basket-promotion.container.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 0.12.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

set Bootstrap default <body> color to our themes $color-primary (#222 instead of #212529)
  src/theme/variables-bootstrap-customized.scss
Due: none

run jest in ci mode when running lint-staged
  package.json
Due: npx prettier --loglevel warn --write

push image without hash in tag
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

tune mr title check
  .gitlab-ci-check-mr-title.sh
Due: none

move schematics test script to e2e folder
  .gitlab-ci.yml
  e2e/test-schematics.sh
Due: npx prettier --loglevel warn --write

re-publish demo instance on same port if possible
  .gitlab-ci-get-publish.sh
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

delete obsolete gitlab environments
  .gitlab-ci-housekeeping-environments.sh
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

remove nginx-proxy
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

remove code not used in the intershop-pwa
  src/ngrx-router/README.md
  src/ngrx-router/actions.ts
  src/ngrx-router/effects.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
