Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

namin fix test commit
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Introduce test-bed values for mandatory prop
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.spec.ts
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.mapper.spec.ts
  src/app/core/models/content-pagelet/content-pagelet.mapper.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Add visibility modifier to method declaration
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Mention a todo for a better way to inject handlers
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: translate cms configuration parameter URL based on type (#385, #1223)
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.interface.ts
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.spec.ts
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.ts
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.mapper.spec.ts
  src/app/core/models/content-pagelet/content-pagelet.mapper.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display multiple basket errors (#1230 #1108)
  e2e/cypress/e2e/specs/checkout/basket-handling.b2c.e2e-spec.ts
  src/app/core/interceptors/icm-error-mapper.interceptor.spec.ts
  src/app/core/interceptors/icm-error-mapper.interceptor.ts
  src/app/core/models/http-error/http-error.model.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.reducer.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.spec.ts
  src/app/shared/components/basket/basket-error-message/basket-error-message.component.html
  src/app/shared/components/basket/basket-error-message/basket-error-message.component.spec.ts
  src/app/shared/components/basket/basket-error-message/basket-error-message.component.ts
  src/app/shared/components/basket/mini-basket-content/mini-basket-content.component.html
  src/app/shared/components/common/error-message/error-message.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: remove outdated eslint ignore comment
  src/app/core/state-management.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: unnecessary emissions of the getCurrentBasket selector if the basket loading state changes
  src/app/core/store/customer/basket/basket.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: unnecessary emissions of the getCurrentBasket selector ... (#1234)
  src/app/core/store/customer/basket/basket.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: do not display a shipping method details popover if no shipping method description is managed
  src/app/pages/checkout-shipping/formly/shipping-radio-wrapper/shipping-radio-wrapper.component.html
Due: npx prettier --loglevel warn --write

fix: missing display name for default sorting in product lists
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.spec.ts
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: remove unused property group styles and additional unused CSS styles
  .vscode/intershop.txt
  src/styles/global/notifications.scss
  src/styles/global/propertygroups.scss
  src/styles/main.scss
  src/styles/pages/homepage/homepage.scss
  src/styles/pages/payment/payment.scss
Due: none

style: add eslint rules for the ngrx store functionality
  .eslintrc.json
  package-lock.json
  package.json
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/orders/orders.effects.ts
  src/app/core/utils/operators.spec.ts
  src/app/extensions/quoting/store/quoting/quoting.reducer.ts
  src/app/extensions/store-locator/services/stores-map/stores-map.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: activate eslint rule on-function-explicit-return-type
  .eslintrc.json
  projects/organization-management/src/app/store/budget/budget.reducer.ts
  projects/organization-management/src/app/store/users/users.reducer.ts
  src/app/core/store/content/parameters/parameters.reducer.ts
  src/app/core/store/core/configuration/configuration.reducer.ts
  src/app/core/store/core/error/error.reducer.ts
  src/app/core/store/core/server-config/server-config.reducer.ts
  src/app/core/store/core/viewconf/viewconf.reducer.ts
  src/app/core/store/customer/authorization/authorization.reducer.ts
  src/app/core/store/customer/basket/basket.reducer.ts
  src/app/core/store/customer/orders/orders.reducer.ts
  src/app/core/store/customer/sso-registration/sso-registration.reducer.ts
  src/app/core/store/customer/user/user.reducer.ts
  src/app/core/store/general/countries/countries.reducer.ts
  src/app/core/store/shopping/categories/categories.reducer.ts
  src/app/core/store/shopping/filter/filter.reducer.ts
  src/app/core/store/shopping/product-listing/product-listing.reducer.ts
  src/app/core/store/shopping/products/products.reducer.ts
  src/app/extensions/contact-us/store/contact/contact.reducer.ts
  src/app/extensions/order-templates/store/order-template/order-template.reducer.ts
  src/app/extensions/punchout/store/punchout-types/punchout-types.reducer.ts
  src/app/extensions/quoting/store/quoting/quoting.reducer.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.reducer.ts
  src/app/extensions/recently/store/recently/recently.reducer.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.reducer.ts
  src/app/extensions/store-locator/store/store-locator-config/store-locator-config.reducer.ts
  src/app/extensions/store-locator/store/stores/stores.reducer.ts
  src/app/extensions/tacton/store/product-configuration/product-configuration.reducer.ts
  src/app/extensions/tacton/store/tacton-config/tacton-config.reducer.ts
  src/app/extensions/tracking/store/tracking-config/tracking-config.reducer.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.reducer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: activate eslint rule use-consistant-global-store-name
  .eslintrc.json
  projects/organization-management/src/app/services/organization-management-breadcrumb/organization-management-breadcrumb.service.spec.ts
  projects/organization-management/src/app/store/users/users.effects.spec.ts
  src/app/core/guards/auth.guard.spec.ts
  src/app/core/guards/hybrid-redirect.guard.ts
  src/app/core/routing/category/category.route.spec.ts
  src/app/core/routing/product/product.route.spec.ts
  src/app/core/services/api/api.service.spec.ts
  src/app/core/store/content/content-store.spec.ts
  src/app/core/store/content/pages/pages.effects.spec.ts
  src/app/core/store/core/error/error.effects.spec.ts
  src/app/core/store/core/router/router.integration.spec.ts
  src/app/core/store/customer/addresses/addresses.effects.spec.ts
  src/app/core/store/customer/basket/basket-addresses.effects.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket-payment.effects.spec.ts
  src/app/core/store/customer/basket/basket-promotion-code.effects.spec.ts
  src/app/core/store/customer/basket/basket-validation.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/orders/orders.effects.spec.ts
  src/app/core/store/customer/user/user.effects.spec.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/store/shopping/categories/categories.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/utils/authorization-toggle/authorization-toggle.service.spec.ts
  src/app/core/utils/role-toggle/role-toggle.service.spec.ts
  src/app/extensions/compare/facades/compare.facade.spec.ts
  src/app/extensions/compare/store/compare/compare.effects.spec.ts
  src/app/extensions/order-templates/store/order-template/order-template.effects.spec.ts
  src/app/extensions/punchout/store/punchout-functions/punchout-functions.effects.spec.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.effects.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: use finnish notation for observables
  src/app/core/authorization-toggle.module.ts
  src/app/core/directives/product-context.directive.ts
  src/app/core/feature-toggle.module.ts
  src/app/core/role-toggle.module.ts
  src/app/shared/cms/components/content-include/content-include.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: correct selector for custom components in projects generated by schematics
  schematics/customization/add/index.js
Due: npx prettier --loglevel warn --write

feat: show system reject errors for requisition
  projects/requisition-management/src/app/models/requisition/requisition.interface.ts
  projects/requisition-management/src/app/models/requisition/requisition.mapper.spec.ts
  projects/requisition-management/src/app/models/requisition/requisition.mapper.ts
  projects/requisition-management/src/app/models/requisition/requisition.model.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-summary/requisition-summary.component.html
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Check the joined path to start with BROWSER_FOLDER
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: correct selector for custom components in projects generated by … (#1240)
  schematics/customization/add/index.js
Due: npx prettier --loglevel warn --write

Angular CLI update for packages - @angular/cli@latest, @angular/cdk@latest, @angular/core@latest, @types/node@16
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: install pinned versions
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: reactivate full postinstall
  package.json
Due: npx prettier --loglevel warn --write

chore: temporarily deactivate full postinstall
  package.json
Due: npx prettier --loglevel warn --write

chore: synchronize package-lock.json
  package-lock.json
Due: npx prettier --loglevel warn --write

refactor: remove deprecated transfer state modules
  package-lock.json
  src/app/app.server.module.ts
  src/app/core/state-management.module.ts
  src/app/core/store/core/configuration/configuration.effects.spec.ts
  src/app/core/store/core/configuration/configuration.integration.spec.ts
  src/app/core/utils/cookies/cookies.service.spec.ts
  src/app/shell/application/cookies-banner/cookies-banner.component.spec.ts
  src/app/shell/footer/footer/footer.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: synchronize package.json with used pinned versions
  package.json
Due: npx prettier --loglevel warn --write

chore: move @ngrx/eslint-plugin from dependencies to devDependencies
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix: disable add-to-basket when quantity is zero (#1066)
  src/app/core/facades/product-context.facade.ts
  src/app/shared/components/product/product-add-to-basket/product-add-to-basket.component.spec.ts
  src/app/shared/components/product/product-add-to-basket/product-add-to-basket.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add German and French localization of reason messages
  src/assets/i18n/de_DE.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write
