Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

chore: organize depending jobs in ci
  .github/workflows/demo-server.yml
  .github/workflows/development.yml
  .github/workflows/integration.yml
  .github/workflows/windows.yml
Due: npx prettier --loglevel warn --write

fix: include production webpack in docker build to repair production build
  .dockerignore
  Dockerfile
Due: none

perf: tune webpack chunk settings
  angular.json
  templates/production/webpack.production.js
Due: npx prettier --loglevel warn --write

chore: publish reports to azure
  .github/workflows/reports.yml
  Dockerfile_reports
  reports/index.html
  reports/tslint-gitlab.js
  reports/tslint-report.js
Due: npx prettier --loglevel warn --write

ISREST-1138: use bootstrap ngbDropdown
  projects/organization-management/src/app/store/organization-hierarchies/organization-hierarchies.effects.ts
  src/app/core/configuration.module.ts
  src/app/core/utils/http-error/organization.error-handler.ts
  src/app/extensions/organization-hierarchies/interceptors/tx-selected-group.interceptor.spec.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-switch/hierarchy-switch.component.html
  src/app/extensions/organization-hierarchies/shared/hierarchy-switch/hierarchy-switch.component.spec.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-switch/hierarchy-switch.component.ts
  src/app/extensions/organization-hierarchies/store/group/group.selectors.ts
  src/app/extensions/wishlists/shared/wishlists-link/wishlists-link.component.html
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.spec.ts
  src/app/shared/components/order/order-list/order-list.component.spec.ts
  src/app/shell/header/login-status/login-status.component.html
  src/app/shell/header/login-status/login-status.component.spec.ts
  src/app/shell/header/login-status/login-status.component.ts
  src/app/shell/header/product-compare-status/product-compare-status.component.html
  src/app/shell/header/product-compare-status/product-compare-status.component.spec.ts
  src/styles/components/header/header.scss
  src/styles/components/header/hierarchy-switch.scss
  src/styles/main.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: devcontainer for VSCode
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  angular.json
  docs/guides/getting-started.md
  package.json
Due: npx prettier --loglevel warn --write

chore: devcontainer documentation "improvements"
  docs/guides/getting-started.md
Due: npx prettier --loglevel warn --write

fixup chore: devcontainer documentation "improvements"
  docs/guides/getting-started.md
Due: npx prettier --loglevel warn --write

documentation review
  docs/guides/getting-started.md
Due: npx prettier --loglevel warn --write

feat: devcontainer for VSCode (#515)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  angular.json
  docs/guides/getting-started.md
  package.json
Due: npx prettier --loglevel warn --write

feat: display ICM managed display names for sorting keys on listings
  src/app/core/models/product-listing/product-listing.mapper.spec.ts
  src/app/core/models/product-listing/product-listing.mapper.ts
  src/app/core/models/product-listing/product-listing.model.ts
  src/app/core/services/filter/filter.service.spec.ts
  src/app/core/services/filter/filter.service.ts
  src/app/core/services/products/products.service.spec.ts
  src/app/core/services/products/products.service.ts
  src/app/core/store/shopping/filter/filter.effects.spec.ts
  src/app/core/store/shopping/filter/filter.effects.ts
  src/app/core/store/shopping/product-listing/product-listing.selectors.spec.ts
  src/app/core/store/shopping/product-listing/product-listing.selectors.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.ts
  src/app/shared/components/product/product-listing/product-listing.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: simplify select box handling in product-listing-toolbar
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.html
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.spec.ts
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: dockerfile for deployment without SSR
  .dockerignore
  .prettierignore
  Dockerfile_noSSR
  docker-compose.yml
  templates/nginx.conf
Due: npx prettier --loglevel warn --write

refactor: shorten multi-channel URL to overrides only
  nginx/channel.conf.tmpl
Due: none

fix: trying to add password to methods
  e2e/cypress/integration/pages/account/profile-edit-email.page.ts
  src/app/core/facades/account.facade.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/pages/account-profile-email/account-profile-email-page.component.html
  src/app/pages/account-profile-email/account-profile-email-page.component.ts
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.html
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.spec.ts
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/environments/environment.local.ts_old
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: run jest with 50% load for precommit and check script
  package.json
Due: npx prettier --loglevel warn --write

test: strict failing when jest just logs errors
  src/setupJest.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-1138: use bootstrap ngbDropdown (#530)
  projects/organization-management/src/app/store/organization-hierarchies/organization-hierarchies.effects.ts
  src/app/core/configuration.module.ts
  src/app/core/utils/http-error/organization.error-handler.ts
  src/app/extensions/organization-hierarchies/interceptors/tx-selected-group.interceptor.spec.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-switch/hierarchy-switch.component.html
  src/app/extensions/organization-hierarchies/shared/hierarchy-switch/hierarchy-switch.component.spec.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-switch/hierarchy-switch.component.ts
  src/app/extensions/organization-hierarchies/store/group/group.selectors.ts
  src/app/extensions/wishlists/shared/wishlists-link/wishlists-link.component.html
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.spec.ts
  src/app/shared/components/order/order-list/order-list.component.spec.ts
  src/app/shell/header/login-status/login-status.component.html
  src/app/shell/header/login-status/login-status.component.spec.ts
  src/app/shell/header/login-status/login-status.component.ts
  src/app/shell/header/product-compare-status/product-compare-status.component.html
  src/app/shell/header/product-compare-status/product-compare-status.component.spec.ts
  src/styles/components/header/header.scss
  src/styles/components/header/hierarchy-switch.scss
  src/styles/main.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add feature toggle route guard for 'punchout' routes (#527)
  src/app/extensions/punchout/pages/punchout-account-routing.module.ts
  src/app/extensions/punchout/pages/punchout-routing.module.ts
  src/app/pages/account/account-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: account routing cleanup (unified definition, grouped by app/extension/project)
  src/app/pages/account/account-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: regenerate self signed SSL certificate (#542)
  dist/server.crt
  dist/server.key
Due: none

docs: add chapter running server side rendering with https
  docs/guides/ssr-startup.md
Due: npx prettier --loglevel warn --write

chore: publish reports to azure (#533)
  .github/workflows/reports.yml
  Dockerfile_reports
  reports/index.html
  reports/tslint-gitlab.js
  reports/tslint-report.js
Due: npx prettier --loglevel warn --write

feat: use seo metadata provided by CMS REST API for content pages
  src/app/core/models/content-pagelet-entry-point/__snapshots__/content-pagelet-entry-point.mapper.spec.ts.snap
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.mapper.spec.ts
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.mapper.ts
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.model.ts
  src/app/core/models/content-view/content-view.model.spec.ts
  src/app/core/models/content-view/content-view.model.ts
  src/app/core/models/seo-attributes/seo-attributes.mapper.spec.ts
  src/app/core/models/seo-attributes/seo-attributes.mapper.ts
  src/app/core/services/cms/cms.service.ts
  src/app/core/store/content/content-store.spec.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display ICM managed display names for sorting keys on listings (#535)
  src/app/core/models/product-listing/product-listing.mapper.spec.ts
  src/app/core/models/product-listing/product-listing.mapper.ts
  src/app/core/models/product-listing/product-listing.model.ts
  src/app/core/services/filter/filter.service.spec.ts
  src/app/core/services/filter/filter.service.ts
  src/app/core/services/products/products.service.spec.ts
  src/app/core/services/products/products.service.ts
  src/app/core/store/shopping/filter/filter.effects.spec.ts
  src/app/core/store/shopping/filter/filter.effects.ts
  src/app/core/store/shopping/product-listing/product-listing.selectors.spec.ts
  src/app/core/store/shopping/product-listing/product-listing.selectors.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.html
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.spec.ts
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.ts
  src/app/shared/components/product/product-listing/product-listing.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: use seo metadata provided by CMS REST API for content pages (#540)
  src/app/core/models/content-pagelet-entry-point/__snapshots__/content-pagelet-entry-point.mapper.spec.ts.snap
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.mapper.spec.ts
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.mapper.ts
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.model.ts
  src/app/core/models/content-view/content-view.model.spec.ts
  src/app/core/models/content-view/content-view.model.ts
  src/app/core/models/seo-attributes/seo-attributes.mapper.spec.ts
  src/app/core/models/seo-attributes/seo-attributes.mapper.ts
  src/app/core/services/cms/cms.service.ts
  src/app/core/store/content/content-store.spec.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixup! feat: dockerfile for deployment without SSR
  Dockerfile
Due: none

chore: Adding documentation
  docs/concepts/deployment-angular.md
Due: npx prettier --loglevel warn --write

feat: provide Dockerfile for deployment without SSR (#538)
  .dockerignore
  .prettierignore
  Dockerfile
  Dockerfile_noSSR
  docker-compose.yml
  docs/concepts/deployment-angular.md
  nginx/channel.conf.tmpl
  templates/nginx.conf
Due: npx prettier --loglevel warn --write

chore: assure synchronization with script
  .github/workflows/development.yml
  .vscode/settings.json
  Dockerfile
  Dockerfile_noSSR
  scripts/check-file-synchronization.js
Due: npx prettier --loglevel warn --write

provoke error
  Dockerfile_noSSR
Due: none

chore: log functionality for product context
  src/app/core/directives/product-context.directive.ts
  src/app/core/facades/product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: search for related tests in cleanup-testbed script
  scripts/cleanup-testbed.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: helper operator for detecting object changes
  src/app/core/utils/dev/operators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
