Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

added checkout happy path test
  Dockerfile_e2e
  cypress/integration/framework/index.ts
  cypress/integration/framework/users.ts
  cypress/integration/local/browse-products.e2e-spec.ts
  cypress/integration/pages/checkout/addresses.page.ts
  cypress/integration/pages/checkout/cart.page.ts
  cypress/integration/pages/checkout/mini-cart.module.ts
  cypress/integration/pages/checkout/payment.page.ts
  cypress/integration/pages/checkout/receipt.page.ts
  cypress/integration/pages/checkout/review.page.ts
  cypress/integration/pages/checkout/shipping.page.ts
  cypress/integration/pages/header.module.ts
  cypress/integration/pages/home.page.ts
  cypress/integration/pages/shopping/product-detail.page.ts
  cypress/integration/remote/shopping-user.e2e-spec.ts
  cypress/integration/remote/user-creation.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

use docker-executor for e2e build step
  .gitlab-ci.yml
  Dockerfile_e2e
  reports/.gitignore
Due: none

shared cache
  .gitlab-ci-regenerate-node-modules.sh
  .gitlab-ci.yml
Due: none

accumulate reports
  .gitlab-ci-regenerate-node-modules.sh
  .gitlab-ci-test-no-changes.sh
  .gitlab-ci.yml
Due: none

split build step
  .gitlab-ci.yml
Due: none

split e2e phase
  .gitlab-ci.yml
Due: none

add required npx to ng calls
  package.json
Due: npx prettier --loglevel warn --write

propagate cache from setup to other phases
  .gitlab-ci.yml
Due: none

use docker builder for build step, aggregate junit report
  .gitignore
  .gitlab-ci-test-no-changes.sh
  .gitlab-ci.yml
  .prettierignore
  Dockerfile_build
Due: none

repair display of error from user registration rest call on page
  cypress/integration/pages/account/registration.page.ts
  cypress/integration/remote/register-user.e2e-spec.ts
  src/app/core/store/user/user.reducer.spec.ts
  src/app/core/store/user/user.reducer.ts
  src/app/registration/components/registration-form/registration-form.component.html
  src/app/registration/components/registration-form/registration-form.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build docker image with docker-executor
  .gitlab-ci.yml
  Dockerfile
Due: none

log cypress junit output to console
  .gitlab-ci.yml
Due: none

split test
  cypress/integration/local/login-user.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

stabilize page loading waiting
  cypress/support/commands.js
Due: npx prettier --loglevel warn --write

ISREST-446: added cypress test for paging of family pages
  cypress/integration/framework/index.ts
  cypress/integration/pages/shopping/family.page.ts
  cypress/integration/pages/shopping/product-list.module.ts
  cypress/integration/remote/paging-product-list.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

compile and jest only if app has changed
  .gitlab-ci-check-app-changes.sh
  .gitlab-ci.yml
Due: none

reduce duplications in api.service
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/api/api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

accumulate reports in publish stage
  .gitlab-ci.yml
Due: none

move some dev dependencies to normal dependencies so that npm install --production can run build:dynamic:prod
  package-lock.json
  package.json
  src/tsconfig.app.json
  src/tsconfig.server.json
Due: npx prettier --loglevel warn --write

use production install in docker image
  Dockerfile
Due: none
