Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

feat: read product rievews feature
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
  src/app/core/facades/shopping.facade.ts
  src/app/core/models/product-reviews/product-review.model.ts
  src/app/core/models/product-reviews/product-reviews.helper.spec.ts
  src/app/core/models/product-reviews/product-reviews.helper.ts
  src/app/core/models/product-reviews/product-reviews.mapper.spec.ts
  src/app/core/models/product-reviews/product-reviews.mapper.ts
  src/app/core/models/product-reviews/product-reviews.model.ts
  src/app/core/models/product/product.interface.ts
  src/app/core/services/reviews/reviews.service.ts
  src/app/core/store/shopping/product-reviews/product-reviews.actions.ts
  src/app/core/store/shopping/product-reviews/product-reviews.effects.spec.ts
  src/app/core/store/shopping/product-reviews/product-reviews.effects.ts
  src/app/core/store/shopping/product-reviews/product-reviews.selectors.spec.ts
  src/app/core/store/shopping/product-reviews/product-reviews.selectors.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.ts
  src/app/shared/components/product/product-reviews/product-reviews.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: read product reviews
  src/app/core/facades/product-context.facade.ts
  src/app/core/services/reviews/reviews.service.ts
  src/app/core/store/shopping/product-reviews/product-reviews.reducer.ts
  src/app/core/store/shopping/product-reviews/product-reviews.selectors.spec.ts
  src/app/shared/components/product/product-reviews/product-reviews.component.html
  src/app/shared/components/product/product-reviews/product-reviews.component.spec.ts
  src/app/shared/components/product/product-reviews/product-reviews.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: read product rievews feature
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/shopping/product-reviews/product-reviews.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: read product rievews feature
  src/app/pages/product/product-detail-info/product-detail-info.component.html
  src/app/shared/components/product/product-reviews/product-reviews.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: read customer reviews
  src/app/core/services/reviews/reviews.service.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: read product reviews
  src/app/core/services/reviews/reviews.service.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: read product rievews feature
  src/app/core/store/customer/customer-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: read product reviews
  src/app/core/facades/product-context.facade.ts
  src/app/core/facades/shopping.facade.ts
  src/app/core/services/reviews/reviews.service.spec.ts
  src/app/core/services/reviews/reviews.service.ts
  src/app/core/store/shopping/product-reviews/product-reviews.actions.ts
  src/app/core/store/shopping/product-reviews/product-reviews.effects.spec.ts
  src/app/core/store/shopping/product-reviews/product-reviews.effects.ts
  src/app/core/store/shopping/product-reviews/product-reviews.reducer.ts
  src/app/core/store/shopping/product-reviews/product-reviews.selectors.spec.ts
  src/app/core/store/shopping/product-reviews/product-reviews.selectors.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.html
  src/app/shared/components/product/product-reviews/product-reviews.component.html
  src/app/shared/components/product/product-reviews/product-reviews.component.spec.ts
  src/app/shared/components/product/product-reviews/product-reviews.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: read product rievews feature
  src/app/core/models/product-reviews/product-reviews.mapper.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: read product rievews feature
  src/app/core/models/product/product.interface.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixup! fix: ui improvements
  src/app/shared/components/product/product-reviews/product-reviews.component.html
  src/app/shared/components/product/product-reviews/product-reviews.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add product reviews feature
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: read product reviews
  src/app/core/facades/product-context.facade.ts
  src/app/core/store/shopping/product-reviews/product-reviews.effects.spec.ts
  src/app/core/store/shopping/product-reviews/product-reviews.reducer.ts
  src/app/shared/components/product/product-reviews/product-reviews.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: selectively activate source maps on runtime (#1127)
  angular.json
  docker-compose.yml
  docs/guides/ssr-startup.md
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: update french translation
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

docs: adapt Angular update migration note
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

deps: dependencies upgrade (Angular 13.3.10) (#1173)
  docs/guides/migrations.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

Switch to manual gh-review server deployment
  .github/workflows/demo-server.yml
Due: npx prettier --loglevel warn --write

add comment
  .github/workflows/demo-server.yml
Due: npx prettier --loglevel warn --write

rename yml
  .github/workflows/demo-server-up.yml
Due: npx prettier --loglevel warn --write

bugfix: Nginx exposes source maps in production (#1176)
  nginx/templates/multi-channel.conf.tmpl
Due: none

ci: switch to manual gh-review server deployments (#1175)
  .github/workflows/demo-server-up.yml
Due: npx prettier --loglevel warn --write

VERY WIP REFACTORING
  src/app/pages/account-payment/account-payment-page.module.ts
  src/app/pages/account-payment/account-payment/account-payment.component.html
  src/app/pages/account-payment/account-payment/account-payment.component.ts
  src/app/pages/account-payment/formly/panel-group-type/panel-group-type.component.html
  src/app/pages/account-payment/formly/panel-group-type/panel-group-type.component.spec.ts
  src/app/pages/account-payment/formly/panel-group-type/panel-group-type.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: Added further matomo events (#77478).
  package-lock.json
  src/app/app.module.ts
  src/app/core/store/content/pages/pages.effects.ts
  src/app/core/store/core/matomo/matomo.effects.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/customer/basket/basket-validation.effects.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/shopping/product-prices/product-prices.effects.ts
  src/app/core/store/shopping/products/products.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: move rating components to an extension (#1174)
  .dockerignore
  docs/guides/migrations.md
  src/app/extensions/compare/pages/compare/product-compare-list/product-compare-list.component.html
  src/app/extensions/rating/exports/.gitignore
  src/app/extensions/rating/exports/rating-exports.module.ts
  src/app/extensions/rating/rating.module.ts
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.html
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.scss
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.spec.ts
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.ts
  src/app/extensions/rating/shared/product-rating/product-rating.component.html
  src/app/extensions/rating/shared/product-rating/product-rating.component.spec.ts
  src/app/extensions/rating/shared/product-rating/product-rating.component.ts
  src/app/pages/product/product-detail/product-detail.component.html
  src/app/pages/product/product-detail/product-detail.component.spec.ts
  src/app/shared/components/product/product-rating/product-rating.component.html
  src/app/shared/components/product/product-row/product-row.component.html
  src/app/shared/components/product/product-row/product-row.component.spec.ts
  src/app/shared/components/product/product-tile/product-tile.component.html
  src/app/shared/components/product/product-tile/product-tile.component.spec.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display the number of reviews behind the product rating stars instead of the average rating (#1174)
  docs/guides/migrations.md
  src/app/core/models/product/product.interface.ts
  src/app/core/models/product/product.mapper.ts
  src/app/core/models/product/product.model.ts
  src/app/extensions/rating/shared/product-rating/product-rating.component.html
  src/app/extensions/rating/shared/product-rating/product-rating.component.spec.ts
  src/app/extensions/rating/shared/product-rating/product-rating.component.ts
  src/app/shared/components/product/product-row/product-row.component.html
  src/app/shared/components/product/product-tile/product-tile.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display product reviews on product detail page (#1174)
  src/app/core/store/shopping/products/products.effects.ts
  src/app/extensions/rating/exports/rating-exports.module.ts
  src/app/extensions/rating/facades/product-reviews.facade.ts
  src/app/extensions/rating/models/product-reviews/product-review.model.ts
  src/app/extensions/rating/models/product-reviews/product-reviews.mapper.spec.ts
  src/app/extensions/rating/models/product-reviews/product-reviews.mapper.ts
  src/app/extensions/rating/models/product-reviews/product-reviews.model.ts
  src/app/extensions/rating/rating.module.ts
  src/app/extensions/rating/services/reviews/reviews.service.spec.ts
  src/app/extensions/rating/services/reviews/reviews.service.ts
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.html
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.spec.ts
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.ts
  src/app/extensions/rating/store/product-review-store.module.ts
  src/app/extensions/rating/store/product-review-store.ts
  src/app/extensions/rating/store/product-reviews/index.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.actions.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.effects.spec.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.effects.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.reducer.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.selectors.spec.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.selectors.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/pages/productdetail/productdetail.scss
  src/styles/pages/productdetail/rating.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: rearange the display of product tabs for retail sets and product bundles
  src/app/pages/product/product-detail/product-detail.component.html
  src/app/pages/product/product-detail/product-detail.component.spec.ts
  src/app/pages/product/product-page.component.html
  src/app/pages/product/product-page.component.spec.ts
  src/app/pages/product/retail-set-parts/retail-set-parts.component.html
  src/styles/pages/productdetail/productdetail.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: window object can only be used on browser side
  src/app/extensions/tracking/store/tracking-config/tracking-config.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: window object can only be used on browser side (#1178)
  src/app/extensions/tracking/store/tracking-config/tracking-config.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 2.4.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat: allow translations to be loaded from an external source
  docs/concepts/localization.md
  docs/guides/ssr-startup.md
  src/app/core/configurations/injection-keys.ts
  src/app/core/internationalization.module.ts
  src/app/core/utils/translate/external-translate-loader.spec.ts
  src/app/core/utils/translate/external-translate-loader.ts
  src/app/core/utils/translate/icm-translate-loader.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

WIP 2
  src/app/pages/account-payment/account-payment/account-payment.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: sync package-lock.json with package.json for pinned dependencies
  package-lock.json
Due: npx prettier --loglevel warn --write

feat: send PGID in promotions API
  src/app/core/services/promotions/promotions.service.spec.ts
  src/app/core/services/promotions/promotions.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
