Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(accessibility): add password visibility toggle, use dedicated password component and update error indicators (#1694)
  src/app/core/directives.module.ts
  src/app/core/directives/focus-outside.directive.ts
  src/app/core/icon.module.ts
  src/app/extensions/punchout/shared/punchout-user-form/punchout-user-form.component.ts
  src/app/pages/account-profile-password/account-profile-password/account-profile-password.component.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.spec.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/components/login/login-form/login-form.component.ts
  src/app/shared/formly/components/validation-icons/validation-icons.component.html
  src/app/shared/formly/types/password-field/password-field.component.html
  src/app/shared/formly/types/password-field/password-field.component.spec.ts
  src/app/shared/formly/types/password-field/password-field.component.ts
  src/app/shared/formly/types/text-input-field/text-input-field.component.ts
  src/app/shared/formly/types/types.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/global/forms.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(accessibility): add password reveal button
  .vscode/intershop.txt
  docs/guides/formly.md
  docs/guides/migrations.md
  src/app/core/directives/focus-outside.directive.ts
  src/app/extensions/punchout/shared/punchout-user-form/punchout-user-form.component.ts
  src/app/pages/account-profile-password/account-profile-password/account-profile-password.component.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.spec.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/components/login/login-form/login-form.component.ts
  src/app/shared/formly/dev/testing/formly-testing.module.ts
  src/app/shared/formly/types/password-field/password-field.component.html
  src/app/shared/formly/types/password-field/password-field.component.scss
  src/app/shared/formly/types/password-field/password-field.component.spec.ts
  src/app/shared/formly/types/password-field/password-field.component.ts
  src/app/shared/formly/types/text-input-field/text-input-field.component.ts
  src/app/shared/formly/types/types.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/global/forms.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: do not show button on mobile devices
  src/app/core/configurations/injection-keys.ts
  src/app/shared/formly/types/password-field/password-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: backdrop layer de-focus (#1767)
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/styles/components/header/search-container.scss
Due: npx prettier --loglevel warn --write

docs: minor corrections to the PCI DSS guide
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

docs: adapt link; sort Intershop words list
  .vscode/intershop.txt
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

docs: documentation improvements (#1760)
  docs/guides/multi-site-configurations.md
  docs/guides/sparque-integration.md
Due: npx prettier --loglevel warn --write

docs: documentation adjustments regarding SPARQUE spelling and document reference (#1760)
  docs/guides/multi-site-configurations.md
Due: npx prettier --loglevel warn --write

fix: remove title case formatting to keep raw suggest result values
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
  src/app/core/standalone/component/suggest/suggest-brands-tile/suggest-brands-tile.component.html
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.html
  src/app/core/standalone/component/suggest/suggest-keywords-tile/suggest-keywords-tile.component.html
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.html
  src/app/core/standalone/component/suggest/suggest-search-terms-tile/suggest-search-terms-tile.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: remove white space
  docs/guides/sparque-integration.md
Due: npx prettier --loglevel warn --write

test: update Cypress tests not to consider titlecase
  e2e/cypress/e2e/specs/filter/filter-search-results.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/filter/filter-search-results.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/shopping/search-box.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/shopping/search-products.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/shopping/search-products.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove title case formatting for suggest values (#1769)
  docs/guides/sparque-integration.md
  e2e/cypress/e2e/specs/filter/filter-search-results.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/filter/filter-search-results.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/shopping/search-box.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/shopping/search-products.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/shopping/search-products.b2c.e2e-spec.ts
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
  src/app/core/standalone/component/suggest/suggest-brands-tile/suggest-brands-tile.component.html
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.html
  src/app/core/standalone/component/suggest/suggest-keywords-tile/suggest-keywords-tile.component.html
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.html
  src/app/core/standalone/component/suggest/suggest-search-terms-tile/suggest-search-terms-tile.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: incorporate first review responses
  .vscode/intershop.txt
  docs/README.md
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

feat(accessibility): added sticky header feature toggle
  docs/concepts/configuration.md
  docs/guides/migrations.md
  src/app/core/store/core/viewconf/viewconf.effects.ts
  src/app/core/store/core/viewconf/viewconf.integration.spec.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: fix dead link detection
  docs/check-dead-links.mjs
Due: none

feat(accessibility): sticky header feature toggle (#1770)
  docs/concepts/configuration.md
  docs/guides/migrations.md
  src/app/core/store/core/viewconf/viewconf.effects.ts
  src/app/core/store/core/viewconf/viewconf.integration.spec.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: more robust dead link detection (#1771)
  docs/check-dead-links.mjs
Due: none

feat(accessibility): added `autocomplete` HTML attributes
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/formly/field-library/configurations/address-line-1.configuration.ts
  src/app/shared/formly/field-library/configurations/address-line-2.configuration.ts
  src/app/shared/formly/field-library/configurations/city.configuration.ts
  src/app/shared/formly/field-library/configurations/company-name-1.configuration.ts
  src/app/shared/formly/field-library/configurations/first-name.configuration.ts
  src/app/shared/formly/field-library/configurations/last-name.configuration.ts
  src/app/shared/formly/field-library/configurations/phone-home.configuration.ts
  src/app/shared/formly/field-library/configurations/postal-code.configuration.ts
  src/app/shared/formly/field-library/configurations/title.configuration.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs(accessibility): replaced outdated Tools coverage percentage
  docs/guides/accessibility.md
Due: npx prettier --loglevel warn --write

docs: added suggestions
  docs/guides/accessibility.md
Due: npx prettier --loglevel warn --write

docs: add accessibility easy check
  .vscode/intershop.txt
  docs/README.md
  docs/guides/accessibility-easy-check.md
  docs/guides/accessibility.md
Due: npx prettier --loglevel warn --write

docs: added tools & keyboard section
  docs/guides/accessibility.md
Due: npx prettier --loglevel warn --write

added complete accessibility tools documentation
  docs/guides/accessibility.md
Due: npx prettier --loglevel warn --write

docs: changed document structure
  docs/guides/accessibility.md
Due: npx prettier --loglevel warn --write

fix: prevent the wrong port from being used in the Responsive Starter Store
  nginx/templates/multi-channel.conf.tmpl
Due: none

fix: consistent unencoded handling of product SKUs with specials characters
  src/app/core/models/product/product.mapper.spec.ts
  src/app/core/models/product/product.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: restructured and revised document as requested in review
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

deps: update vulnerable bable dependencies
  angular.json
  package-lock.json
Due: npx prettier --loglevel warn --write

docs: update Hybrid Approach documentation for ICM 11+ and PWA 5.x
  docs/concepts/hybrid-approach.md
Due: npx prettier --loglevel warn --write

refactor: shorten accessibility guide
  docs/guides/accessibility.md
Due: npx prettier --loglevel warn --write

chore: cleanup docker-compose
  docker-compose.yml
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update vulnerable babel dependencies (#1775)
  angular.json
  package-lock.json
Due: npx prettier --loglevel warn --write

fix: consistent decoded handling of product SKUs with specials characters (#1774)
  src/app/core/models/product/product.mapper.spec.ts
  src/app/core/models/product/product.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: rework regarding pr comments (#104767)
  .prettierignore
  src/app/core/facades/shopping.facade.ts
  src/app/core/models/sparque-suggestion/sparque-suggestion.mapper.ts
  src/app/core/standalone/component/suggest/search-box/search-box.component.spec.ts
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
  src/app/core/standalone/component/suggest/suggest-search-terms-tile/suggest-search-terms-tile.component.spec.ts
  src/app/core/standalone/component/suggest/suggest-search-terms-tile/suggest-search-terms-tile.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rework accessibility guides
  docs/guides/accessibility-easy-check.md
  docs/guides/accessibility.md
Due: npx prettier --loglevel warn --write

feat: integrate sparque search (#104850)
  src/app/core/models/search/search.model.ts
  src/app/core/models/sparque-search/sparque-search.interface.ts
  src/app/core/models/sparque-search/sparque-search.mapper.spec.ts
  src/app/core/models/sparque-search/sparque-search.mapper.ts
  src/app/core/models/sparque-suggestion/sparque-suggestion.mapper.spec.ts
  src/app/core/models/sparque-suggestion/sparque-suggestion.mapper.ts
  src/app/core/models/sparque/sparque-config.model.ts
  src/app/core/models/sparque/sparque.interface.ts
  src/app/core/models/sparque/sparque.mapper.spec.ts
  src/app/core/models/sparque/sparque.mapper.ts
  src/app/core/services/products/products.service.spec.ts
  src/app/core/services/products/products.service.ts
  src/app/core/services/search/provider/search.service.provider.ts
  src/app/core/services/search/search.service.ts
  src/app/core/services/sparque-api/sparque-api.service.ts
  src/app/core/services/sparque-search/sparque-search.service.spec.ts
  src/app/core/services/sparque-search/sparque-search.service.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/core/store/shopping/product-prices/product-prices.effects.spec.ts
  src/app/core/store/shopping/product-prices/product-prices.effects.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/search/search.effects.spec.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: remove dead test code (#104850)
  src/app/core/models/sparque-suggestion/sparque-suggestion.mapper.spec.ts
  src/app/core/store/shopping/search/search.effects.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: summarise services (#104850)
  src/app/core/models/sparque-suggestion/sparque-suggestion.mapper.ts
  src/app/core/services/icm-suggestion/icm-suggestion.service.spec.ts
  src/app/core/services/icm-suggestion/icm-suggestion.service.ts
  src/app/core/services/products/products.service.spec.ts
  src/app/core/services/products/products.service.ts
  src/app/core/services/search/search.service.ts
  src/app/core/services/sparque-search/sparque-search.service.spec.ts
  src/app/core/services/sparque-search/sparque-search.service.ts
  src/app/core/services/sparque-suggestion/sparque-suggestion.service.spec.ts
  src/app/core/services/sparque-suggestion/sparque-suggestion.service.ts
  src/app/core/services/suggestion/provider/suggestion.service.provider.ts
  src/app/core/services/suggestion/suggestion.service.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/shopping/search/search.effects.spec.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

minor adaptions after review
  .vscode/intershop.txt
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

feat: introduce Formly number field (quantity input with + and - buttons)
  docs/guides/formly.md
  src/app/shared/formly/types/number-field/number-field.component.html
  src/app/shared/formly/types/number-field/number-field.component.scss
  src/app/shared/formly/types/number-field/number-field.component.ts
  src/app/shared/formly/types/types.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
