Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

fix: minimatch import
  scripts/cleanup-testbed.mjs
Due: none

fix: build:multi script
  scripts/build-multi-pwa.js
Due: npx prettier --loglevel warn --write

chore: update ngx-translate to version 16
  package.json
  src/app/core/internationalization.module.ts
  src/app/core/utils/translate/translations-generator.ts
  src/app/shared/components/product/product-image/product-image.component.ts
  src/app/shared/components/product/product-price/product-price.component.html
  src/app/shared/components/product/product-price/product-price.component.spec.ts
  src/app/shared/components/search/search-box/search-box.component.ts
  src/app/shared/components/search/suggest-brands/suggest-brands.component.ts
  src/app/shared/components/search/suggest-categories/suggest-categories.component.ts
  src/app/shared/components/search/suggest-keywords/suggest-keywords.component.ts
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.ts
  src/app/shared/components/search/suggest-products/suggest-products.component.ts
  src/app/shared/components/search/suggest-search-terms/suggest-search-terms.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: update documentation files to angular 17
  .github/copilot-instructions.md
  docs/guides/accessibility-easy-check.md
  docs/guides/development.md
  docs/guides/getting-started.md
Due: npx prettier --loglevel warn --write

refactor: imports in standalone components
  src/app/core/pipes.module.ts
  src/app/core/pipes/highlight.pipe.ts
  src/app/extensions/compare/pages/compare/product-compare-list/product-compare-list.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-line-item/account-order-template-detail-line-item.component.spec.ts
  src/app/extensions/product-notifications/pages/account-product-notifications/account-product-notifications-list/account-product-notifications-list.component.spec.ts
  src/app/extensions/quoting/shared/quote-line-item-list-element/quote-line-item-list-element.component.spec.ts
  src/app/pages/account-recurring-order/account-recurring-order-page.component.spec.ts
  src/app/pages/category/category-tile/category-tile.component.spec.ts
  src/app/pages/error/error/error.component.spec.ts
  src/app/pages/product/product-images/product-images.component.spec.ts
  src/app/pages/search/search-no-result/search-no-result.component.spec.ts
  src/app/shared/components/basket/basket-validation-items/basket-validation-items.component.spec.ts
  src/app/shared/components/basket/basket-validation-products/basket-validation-products.component.spec.ts
  src/app/shared/components/basket/mini-basket-content/mini-basket-content.component.spec.ts
  src/app/shared/components/category/category-image/category-image.component.ts
  src/app/shared/components/common/switch/switch.component.ts
  src/app/shared/components/line-item/line-item-edit-dialog/line-item-edit-dialog.component.spec.ts
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.spec.ts
  src/app/shared/components/product/product-image/product-image.component.ts
  src/app/shared/components/product/product-row/product-row.component.spec.ts
  src/app/shared/components/product/product-tile/product-tile.component.spec.ts
  src/app/shared/components/search/search-box/search-box.component.html
  src/app/shared/components/search/search-box/search-box.component.spec.ts
  src/app/shared/components/search/search-box/search-box.component.ts
  src/app/shared/components/search/suggest-brands/suggest-brands.component.ts
  src/app/shared/components/search/suggest-categories-tile/suggest-categories-tile.component.ts
  src/app/shared/components/search/suggest-categories/suggest-categories.component.ts
  src/app/shared/components/search/suggest-keywords/suggest-keywords.component.ts
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.ts
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
  src/app/shared/components/search/suggest-products/suggest-products.component.ts
  src/app/shared/components/search/suggest-search-terms/suggest-search-terms.component.ts
  src/app/shell/header/header-default/header-default.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: update angularCompilerOptions
  src/app/pages/cookies/cookies-modal/cookies-modal.component.html
  tsconfig.app-no-checks.json
  tsconfig.json
Due: npx prettier --loglevel warn --write

chore: fix cms component schematic
  schematics/src/cms-component/schema.json
Due: npx prettier --loglevel warn --write

chore: increse budgets for our bundle sizes
  angular.json
Due: npx prettier --loglevel warn --write

refactor: replace universal documentation and code
  .eslintrc.json
  .github/workflows/demo-server-up.yml
  .github/workflows/integration.yml
  .vscode/intershop.txt
  docs/concepts/configuration.md
  docs/concepts/deployment-angular.md
  docs/concepts/hybrid-approach-architecture.svg
  docs/concepts/logging.md
  docs/concepts/multi-site-handling.md
  docs/concepts/progressive-web-app.md
  docs/concepts/pwa-building-blocks-production-deployment.svg
  docs/concepts/pwa-building-blocks.md
  docs/concepts/search-engine-optimization.md
  docs/guides/angular-change-detection.md
  docs/guides/continuous-integration.md
  docs/guides/getting-started.md
  docs/guides/propagating-environment-variables.md
  docs/guides/ssr-startup.md
  docs/guides/updating-pwa.md
  e2e/test-ssr.sh
  e2e/test-universal.sh
  scripts/update-pwa.js
  server.ts
  src/app/app.server.module.ts
  src/app/core/interceptors/ssr-cache.interceptor.ts
  src/app/core/interceptors/ssr-log.interceptor.ts
  src/app/core/interceptors/ssr-mock.interceptor.ts
  src/app/core/interceptors/ssr-prometheus.interceptor.ts
  src/app/core/utils/design-view/design-view.service.ts
  src/app/core/utils/meta-reducers.ts
  src/app/core/utils/preview/preview.service.ts
  src/ssr/server-scripts/healthcheck.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: fix flaky custom fields e2e test
  e2e/cypress/e2e/specs/checkout/basket-custom-fields.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add migration note
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

temp: package-lock.json
  package-lock.json
Due: npx prettier --loglevel warn --write

fix: variations display on variation master page
  e2e/cypress/e2e/specs/shopping/variation-handling.b2b.e2e-spec.ts
  src/app/pages/product/product-master-variations/product-master-variations.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: redirect before checkout with preferred payment instrument
  src/app/pages/checkout-payment/checkout-payment-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: popover placement on mobile view
  projects/organization-management/src/app/components/budget-info/budget-info.component.html
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-page.component.html
  src/app/pages/checkout-shipping/formly/shipping-radio-wrapper/shipping-radio-wrapper.component.html
  src/app/shell/header/mini-basket/mini-basket.component.html
Due: npx prettier --loglevel warn --write

chore: adapt copyright notice for 2026
  LICENSE
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

chore: remove deprecated `options` method of the `api.service`
  docs/guides/migrations.md
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/api/api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: disable member-ordering rule for all facades
  .eslintrc.json
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/requisition-management/src/app/facades/requisition-management.facade.ts
  schematics/src/extension/files/__name@dasherize__/facades/__name@dasherize__.facade.ts.template
  src/app/core/facades/account.facade.ts
  src/app/core/facades/checkout.facade.ts
  src/app/core/facades/shopping.facade.ts
  src/app/extensions/captcha/facades/captcha.facade.ts
  src/app/extensions/compare/facades/compare.facade.ts
  src/app/extensions/contact-us/facades/contact-us.facade.ts
  src/app/extensions/product-notifications/facades/product-notifications.facade.ts
  src/app/extensions/punchout/facades/punchout.facade.ts
  src/app/extensions/quoting/facades/quoting.facade.ts
  src/app/extensions/wishlists/facades/wishlists.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: comment/link improvements
  .eslintrc.json
  e2e/cypress-ci-e2e.ts
  eslint-rules/src/rules/sort-testbed-metadata-arrays.ts
  src/app/core/facades/checkout.facade.ts
  src/app/shared/components/line-item/line-item-warranty/line-item-warranty.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: introduce explicit 'resetUserData' action to clean the user state after logout
  docs/guides/migrations.md
  src/app/core/facades/account.facade.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.effects.spec.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/utils/api-token/api-token.service.spec.ts
  src/app/core/utils/meta-reducers.spec.ts
  src/app/core/utils/meta-reducers.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: improve subscriptions handling in directives
  src/app/core/directives/authorization-toggle.directive.ts
  src/app/core/directives/feature-toggle.directive.ts
  src/app/core/directives/not-feature-toggle.directive.ts
  src/app/core/directives/not-role-toggle.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: code improvements
  projects/organization-management/src/app/pages/cost-centers/cost-centers-filter/cost-centers-filter.component.ts
  projects/requisition-management/src/app/services/requisition-management-breadcrumb/requisition-management-breadcrumb.service.spec.ts
  scripts/set-deploy-url.ts
  src/app/core/facades/product-context.facade.spec.ts
  src/app/extensions/punchout/services/punchout/punchout.service.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard/payment-concardis-creditcard.component.ts
  src/app/pages/checkout-payment/payment-concardis-directdebit/payment-concardis-directdebit.component.ts
  src/app/pages/product/product-master-variations/product-master-variations.component.ts
  src/app/pages/registration/formly/disable-prefilled.extension.ts
  src/main.server.ts
  src/setupJest.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: improve `setupNodeEvents` initialization in `cypress.config`
  e2e/cypress.config.ts
  e2e/cypress/plugins/index.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: e2e test improvements
  e2e/cypress/e2e/pages/checkout/cart.page.ts
  e2e/cypress/e2e/specs/checkout/basket-custom-fields.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/checkout/checkout-payments.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/shopping/search-box.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: add test for csv.import-handler
  src/app/core/utils/csv/csv.import-handler.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: variations display on variation master page (#1987)
  e2e/cypress/e2e/specs/shopping/variation-handling.b2b.e2e-spec.ts
  src/app/pages/product/product-master-variations/product-master-variations.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: popover placement on mobile (#1990)
  projects/organization-management/src/app/components/budget-info/budget-info.component.html
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-page.component.html
  src/app/pages/checkout-shipping/formly/shipping-radio-wrapper/shipping-radio-wrapper.component.html
  src/app/shell/header/mini-basket/mini-basket.component.html
Due: npx prettier --loglevel warn --write

ci: update issue sync to Azure DevOps to latest version (v2.5) (#1991)
  .github/workflows/azure-devops-issue-sync.yml
  .github/workflows/azure-devops-pr-sync.yml
Due: npx prettier --loglevel warn --write

build: dependency updates + vulnerability fix (#1991)
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write
