Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

feat: improve error messages after updating the oci configuration
  src/app/core/configuration.module.ts
  src/app/core/utils/http-error/update-oci-configuration.error-handler.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove duplicated router module, replace rxjs operator in effect, seperate configuration selectors to have better memoization
  src/app/extensions/punchout/pages/account-punchout/account-punchout-page.module.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.effects.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: dead code
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.effects.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add dependentlyRequired validator to check mapping from/to values
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-mapping-wrapper/oci-configuration-mapping-wrapper.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.ts
  src/app/shared/forms/validators/special-validators.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: align right buttons
  src/styles/global/buttons.scss
Due: none

chore: add generic intersection types for ViewType & DeviceType
  src/app/core/models/viewtype/viewtype.types.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use string property instead of observable to render description
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.html
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: cleanup testbed in captcha component
  src/app/extensions/captcha/shared/captcha-v2/captcha-v2.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: cleanup testbed in captcha component (#1443)
  src/app/extensions/captcha/shared/captcha-v2/captcha-v2.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: save company name(s) at address after b2b customer registration
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: save company name(s) at address after b2b customer registration (#1444)
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use getter and setter to set new description value
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use description as observable, subscribe for every new formControl changes to inner observable to translate description
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.html
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rename property in template
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.html
Due: npx prettier --loglevel warn --write

refactor: rename method name
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: jest test
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: textarea description wrapper trigger to much changes (#1438)
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

css-class removed thats already provided by the component
  src/app/extensions/quoting/shared/quote-line-item-list-element/quote-line-item-list-element.component.html
Due: npx prettier --loglevel warn --write

removed unnecessary translation-key
  src/app/shared/components/line-item/line-item-edit-dialog/line-item-edit-dialog.component.html
Due: npx prettier --loglevel warn --write

renamed css class "product-id-name" to "product-id-label"
  src/app/shared/components/basket/basket-error-message/basket-error-message.component.html
  src/app/shared/components/product/product-id/product-id.component.html
  src/styles/pages/productdetail/product-info.scss
Due: npx prettier --loglevel warn --write

put css class "product-variation-info" in the correct spot, colon removed from html and is added by css
  src/app/shared/components/product/product-variation-display/product-variation-display.component.html
  src/styles/pages/category/product-list.scss
  src/styles/pages/productdetail/product-info.scss
Due: npx prettier --loglevel warn --write

chore: make sure that `*.mts` files are using typescript parser with Prettier (#1441)
  .prettierrc.json
Due: npx prettier --loglevel warn --write

feat(formly): added checkbox-field which can take a include as label
  src/app/shared/cms/components/content-include/content-include.module.ts
  src/app/shared/cms/components/content-pagelet/content-pagelet.module.ts
  src/app/shared/formly/types/checkbox-field-with-include/checkbox-field-with-include.component.html
  src/app/shared/formly/types/checkbox-field-with-include/checkbox-field-with-include.component.spec.ts
  src/app/shared/formly/types/checkbox-field-with-include/checkbox-field-with-include.component.ts
  src/app/shared/formly/types/types.module.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: adapting 'npm audit' usage and comments
  .github/workflows/updates.yml
  docs/guides/migrations.md
  docs/guides/themes.md
  docs/guides/upgrading-pwa.md
Due: npx prettier --loglevel warn --write

deps: make pm2 a production dependency + vm2 vulnerability fix
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

deps: dependencies and Angular 15.2.9 update
  .eslintrc.json
  package-lock.json
  package.json
  src/app/extensions/store-locator/services/stores-map/stores-map.service.ts
  src/app/shared/components/product/product-quantity/product-quantity.component.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: product variations should be selected by checking value equality with same data type (#1439)
  src/app/core/models/product-variation/product-variation.helper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: parameters ;loc and ;cur may overlook server configuration
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/api/api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: product variation master facet selection does not work for non-string filters (#1439, #1449)
  src/app/core/models/product-variation/product-variation.helper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: improve token endpoint handling
  docs/concepts/authentication.md
  docs/guides/authentication_icm.md
  docs/guides/authentication_punchout.md
  docs/guides/migrations.md
  src/app/core/identity-provider.module.ts
  src/app/core/identity-provider/auth0.identity-provider.spec.ts
  src/app/core/identity-provider/auth0.identity-provider.ts
  src/app/core/identity-provider/icm.identity-provider.spec.ts
  src/app/core/identity-provider/icm.identity-provider.ts
  src/app/core/services/token/token.service.spec.ts
  src/app/core/services/token/token.service.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/customer/user/user.effects.spec.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/utils/api-token/api-token.service.ts
  src/app/core/utils/instance-creators.ts
  src/app/core/utils/oauth-configuration/oauth-configuration.service.spec.ts
  src/app/core/utils/oauth-configuration/oauth-configuration.service.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.spec.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: fetch anonymous user token only on basket creation when no apiToken is available
  docs/guides/migrations.md
  e2e/cypress/e2e/specs/system/retain-authentication.b2c.e2e-spec.ts
  src/app/core/identity-provider/auth0.identity-provider.ts
  src/app/core/identity-provider/icm.identity-provider.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/utils/api-token/api-token.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: handle failing basket fetching for anonymous ICM apiToken without an assigned basket
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/basket/basket.reducer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: add generic intersection types for ViewType & DeviceType (#1442)
  src/app/core/models/viewtype/viewtype.types.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
