Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

separate providers
  src/app/core/service-provider/search.service-provider.ts
  src/app/core/service-provider/suggestions.service-provider.ts
  src/app/core/services/products/products.service.ts
  src/app/core/services/search/provider/search.service.provider.ts
  src/app/core/services/sparque-search/sparque-search.service.ts
  src/app/core/services/sparque-suggestions/sparque-suggestions.service.spec.ts
  src/app/core/services/sparque-suggestions/sparque-suggestions.service.ts
  src/app/core/services/suggest/suggest.service.spec.ts
  src/app/core/services/suggest/suggest.service.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/search/search.effects.spec.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: added inline editing for renaming the order template
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.scss
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Formly number field (quantity input with + and - buttons)
  docs/guides/formly.md
  src/app/shared/formly/types/number-field/number-field.component.html
  src/app/shared/formly/types/number-field/number-field.component.scss
  src/app/shared/formly/types/number-field/number-field.component.ts
  src/app/shared/formly/types/types.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Formly information field for rendering any freestyle text within generated forms
  docs/guides/formly.md
  src/app/shared/formly/types/information-field/information-field.component.html
  src/app/shared/formly/types/information-field/information-field.component.ts
  src/app/shared/formly/types/types.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Switch component (UI element for imidiate status changes)
  src/app/shared/components/common/switch/switch.component.html
  src/app/shared/components/common/switch/switch.component.scss
  src/app/shared/components/common/switch/switch.component.spec.ts
  src/app/shared/components/common/switch/switch.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Server Setting route guard
  src/app/core/guards/server-setting.guard.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: adjustments after review
  docs/guides/formly.md
Due: npx prettier --loglevel warn --write

fix: add tests
  projects/requisition-management/src/app/models/requisition/requisition.mapper.spec.ts
  src/app/core/models/recurring-order/recurring-order.mapper.spec.ts
  src/app/core/models/recurring-order/recurring-order.mapper.ts
  src/app/core/pipes/frequency.pipe.spec.ts
  src/app/core/services/recurring-orders/recurring-orders.service.spec.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/orders/orders.effects.spec.ts
  src/app/core/store/customer/recurring-orders/recurring-orders.effects.spec.ts
  src/app/core/store/customer/recurring-orders/recurring-orders.effects.ts
  src/app/core/store/customer/recurring-orders/recurring-orders.selectors.spec.ts
  src/app/pages/account-recurring-order/account-recurring-order-page.component.html
  src/app/pages/account-recurring-order/account-recurring-order-page.component.spec.ts
  src/app/pages/account-recurring-orders/account-recurring-orders-page.component.html
  src/app/pages/account-recurring-orders/account-recurring-orders-page.component.spec.ts
  src/app/pages/account-recurring-orders/recurring-order-list/recurring-order-list.component.spec.ts
  src/app/pages/basket/basket-order-recurrence-edit/basket-order-recurrence-edit.component.spec.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.spec.ts
  src/app/shared/components/basket/basket-recurrence-summary/basket-recurrence-summary.component.spec.ts
  src/app/shared/components/common/switch/switch.component.html
  src/app/shared/components/common/switch/switch.component.spec.ts
  src/app/shared/components/order/order-recurrence/order-recurrence.component.html
  src/app/shared/components/order/order-recurrence/order-recurrence.component.spec.ts
  src/app/shared/formly/dev/testing/formly-testing.module.ts
  src/app/shared/formly/types/information-field/information-field.component.spec.ts
  src/app/shared/formly/types/number-field/number-field.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: same approver name is displayed twice on requisition detail page
  projects/requisition-management/src/app/pages/requisition-detail/requisition-summary/requisition-summary.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-summary/requisition-summary.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: changed validator and message key
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: fixing translation file issues
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: adding cost center searching
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.html
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.spec.ts
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.ts
  projects/organization-management/src/app/components/managers-select/managers-select.component.html
  projects/organization-management/src/app/components/managers-select/managers-select.component.spec.ts
  projects/organization-management/src/app/components/managers-select/managers-select.component.ts
  projects/organization-management/src/app/exports/index.ts
  projects/organization-management/src/app/exports/organization-management-exports.module.ts
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/organization-management.module.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.spec.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.module.ts
  projects/organization-management/src/app/pages/cost-centers/formly/cost-centers-select-managers-field/cost-centers-select-managers-field.component.html
  projects/organization-management/src/app/pages/cost-centers/formly/cost-centers-select-managers-field/cost-centers-select-managers-field.component.spec.ts
  projects/organization-management/src/app/pages/cost-centers/formly/cost-centers-select-managers-field/cost-centers-select-managers-field.component.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.spec.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.actions.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.spec.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.ts
  src/app/core/models/cost-center-query/cost-center-query.model.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: updated cost center retrieval logic
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: added cost center name searching
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.spec.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.ts
  src/app/core/models/cost-center-query/cost-center-query.model.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: added paging functionality to cost centers page
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.spec.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.reducer.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.selectors.spec.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.selectors.ts
  src/app/core/models/cost-center/cost-center.model.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: updated cost center api call logic
  projects/organization-management/src/app/facades/organization-management.facade.ts
  projects/organization-management/src/app/guards/fetch-cost-centers.guard.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
  projects/organization-management/src/app/pages/organization-management-routing.module.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.spec.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.actions.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.spec.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.effects.ts
  projects/organization-management/src/app/store/cost-centers/cost-centers.reducer.ts
  src/app/core/models/cost-center/cost-center.interface.ts
  src/app/core/models/cost-center/cost-center.mapper.ts
  src/app/core/models/cost-center/cost-center.model.ts
  src/app/core/models/paging/paging.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed dead code issues
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.spec.ts
  src/app/core/models/cost-center/cost-center.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed failed compilation
  projects/organization-management/src/app/store/cost-centers/cost-centers.selectors.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: icon button tooltips
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.html
Due: npx prettier --loglevel warn --write

fix: underline links
  projects/organization-management/src/app/components/user-roles-selection/user-roles-selection.component.html
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.html
  src/styles/global/global.scss
Due: npx prettier --loglevel warn --write

fix: tooltips info icon
  projects/organization-management/src/app/components/budget-info/budget-info.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: myAccount titles
  projects/organization-management/src/app/pages/organization-management-routing.module.ts
  projects/requisition-management/src/app/pages/requisition-management-routing.module.ts
  src/app/pages/account/account-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: fix "FromAsCasing: 'as' and 'FROM' keywords' casing do not match (line 2)" warning
  Dockerfile
  Dockerfile_reports
Due: none

chore: documentation adaptions with corect semantic version number for PWA 6.0.0
  CHANGELOG.md
  docs/guides/accessibility-easy-check.md
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

chore: cleanup docker-compose
  docker-compose.yml
Due: npx prettier --loglevel warn --write

feat: use provided certificate files for NGINX container with SSL for development
  .vscode/intershop.txt
  docker-compose.yml
  docs/guides/nginx-startup.md
  nginx/docker-entrypoint.d/20-ssl.sh
Due: npx prettier --loglevel warn --write

feat: add Sparque (advanced) suggest IAD and VD (#1736)
  src/app/core/standalone/component/suggest/advanced-search-box/advanced-search-box.component.html
  src/app/core/standalone/component/suggest/advanced-search-box/advanced-search-box.component.spec.ts
  src/app/core/standalone/component/suggest/advanced-search-box/advanced-search-box.component.ts
  src/app/core/standalone/component/suggest/simple-search-box/simple-search-box.component.html
  src/app/core/standalone/component/suggest/simple-search-box/simple-search-box.component.spec.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
  src/app/shell/header/header-default/header-default.component.html
  src/app/shell/header/header-default/header-default.component.spec.ts
  src/app/shell/header/header-default/header-default.component.ts
  src/styles/components/header/header-sticky.scss
  src/styles/components/header/search-container.scss
  src/styles/pages/errorpage/errorpage.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: resolve sparque image urls (#102488) (#1756)
  src/app/core/facades/shopping.facade.ts
  src/app/core/models/sparque-suggestion/sparque-suggestion.mapper.spec.ts
  src/app/core/models/sparque-suggestion/sparque-suggestion.mapper.ts
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.html
  src/app/core/standalone/component/suggest/suggest-categories-tile/suggest-categories-tile.component.ts
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.html
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: product display, accessibility attributes, calculate layer height (#1757)
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.html
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.ts
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
  src/app/shell/header/header-default/header-default.component.html
  src/styles/components/header/search-container.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: extend documentation file (#102488)
  docs/guides/sparque-integration.md
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: prevent usage of localstorage for SSR (#102491)
  src/app/core/store/shopping/search/search.reducer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: product price, product image not available, minimum character input (#1758)
  src/app/core/facades/shopping.facade.ts
  src/app/core/standalone/component/suggest/search-box/search-box.component.spec.ts
  src/app/core/standalone/component/suggest/search-box/search-box.component.ts
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.html
  src/app/core/standalone/component/suggest/suggest-products-tile/suggest-products-tile.component.ts
  src/styles/components/header/search-container.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
