Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

fix: validate email during the checkout process of an anonymous user (#1312)
  src/app/pages/checkout-address/checkout-address-anonymous/checkout-address-anonymous.component.spec.ts
  src/app/pages/checkout-address/checkout-address-anonymous/checkout-address-anonymous.component.ts
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.html
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.spec.ts
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: change and display an anonymous user`s email during the checkout process (#1312)
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.html
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.html
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.spec.ts
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.ts
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/shared/components/basket/basket-address-summary/basket-address-summary.component.html
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.html
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.spec.ts
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.ts
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.html
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.spec.ts
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.ts
  src/app/shared/formly-address-forms/components/formly-address-extension-form/formly-address-extension-form.component.html
  src/app/shared/formly-address-forms/components/formly-address-extension-form/formly-address-extension-form.component.spec.ts
  src/app/shared/formly-address-forms/components/formly-address-extension-form/formly-address-extension-form.component.ts
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.html
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.spec.ts
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.ts
  src/app/shared/formly-address-forms/formly-address-forms.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: added style for product details attributes - cleanup
  src/styles/pages/productdetail/productdetail.scss
Due: none

feat: add zebra striped table style for attributes in product details tab (#1326)
  src/app/shared/components/product/product-attributes/product-attributes.component.html
  src/styles/pages/productdetail/productdetail.scss
Due: npx prettier --loglevel warn --write

fix: replace the empty cart image with pure CSS and remove the image file (#1319)
  docs/guides/migrations.md
  src/app/pages/basket/shopping-basket-empty/shopping-basket-empty.component.html
  src/app/pages/basket/shopping-basket-empty/shopping-basket-empty.component.spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/assets/img/empty-cart.png
  src/styles/pages/checkout/shopping-cart.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove active_catalog.png and budget-bar-indicator.png and replace with CSS styling (#1319)
  docs/guides/migrations.md
  projects/requisition-management/src/app/pages/requisition-detail/budget-bar/budget-bar.component.scss
  src/app/shell/header/header-navigation/header-navigation.component.html
  src/app/shell/header/header-navigation/header-navigation.component.spec.ts
  src/assets/img/active_catalog.png
  src/assets/img/budget-bar-indicator.png
  src/styles/components/header/main-navigation.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: replace the product label image sprite, use CSS only styling and localized HTML text (#1319)
  docs/guides/migrations.md
  src/app/shared/components/product/product-label/product-label.component.html
  src/app/shared/components/product/product-label/product-label.component.spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/assets/img/product_sprite.png
  src/styles/pages/category/product-list.scss
  src/styles/pages/productdetail/productdetail.scss
  src/styles/themes/b2b/variables.scss
  src/styles/themes/b2c/variables.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent budget bar arrow and product label ribbons to be shown inside the subcategories layer
  projects/requisition-management/src/app/pages/requisition-detail/budget-bar/budget-bar.component.scss
  src/styles/pages/category/product-list.scss
Due: none

feat: save desired delivery date at basket items
  docs/guides/migrations.md
  src/app/core/facades/checkout.facade.ts
  src/app/core/models/line-item/line-item.interface.ts
  src/app/core/models/line-item/line-item.mapper.ts
  src/app/core/models/line-item/line-item.model.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/basket/basket.reducer.ts
  src/app/pages/checkout-review/checkout-review-page.component.ts
  src/app/shared/components/basket/basket-desired-delivery-date/basket-desired-delivery-date.component.spec.ts
  src/app/shared/components/basket/basket-desired-delivery-date/basket-desired-delivery-date.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent budget bar arrow and product label ribbons to be shown in the subcategories layer (#1329)
  projects/requisition-management/src/app/pages/requisition-detail/budget-bar/budget-bar.component.scss
  src/styles/pages/category/product-list.scss
Due: none

refactor: move data selecting functionality from service to basket
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: save desired delivery date at basket items (#1325)
  docs/guides/migrations.md
  src/app/core/facades/checkout.facade.ts
  src/app/core/models/line-item/line-item.interface.ts
  src/app/core/models/line-item/line-item.mapper.ts
  src/app/core/models/line-item/line-item.model.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/basket/basket.reducer.ts
  src/app/pages/checkout-review/checkout-review-page.component.ts
  src/app/shared/components/basket/basket-desired-delivery-date/basket-desired-delivery-date.component.spec.ts
  src/app/shared/components/basket/basket-desired-delivery-date/basket-desired-delivery-date.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: add enum CheckoutTargetStep to set next checkout step
  src/app/core/models/checkout/checkout-step.type.ts
  src/app/core/store/customer/basket/basket-validation.effects.spec.ts
  src/app/core/store/customer/basket/basket-validation.effects.ts
  src/app/pages/checkout-address/checkout-address-page.component.ts
  src/app/pages/checkout-payment/checkout-payment-page.component.ts
  src/app/pages/checkout-shipping/checkout-shipping-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: checkout type step names
  src/app/core/models/checkout/checkout-step.type.ts
  src/app/core/store/customer/basket/basket-validation.effects.spec.ts
  src/app/core/store/customer/basket/basket-validation.effects.ts
  src/app/pages/checkout-address/checkout-address-page.component.ts
  src/app/pages/checkout-payment/checkout-payment-page.component.ts
  src/app/pages/checkout-shipping/checkout-shipping-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: add initial checkout step type and refactor validation steps interface
  src/app/core/models/checkout/checkout-step.type.ts
  src/app/core/store/customer/basket/basket-validation.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rename basketStepType Checkout to BeforeCheckout
  src/app/core/facades/checkout.facade.ts
  src/app/core/models/checkout/checkout-step.type.ts
  src/app/core/store/customer/basket/basket-validation.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: add enum CheckoutTargetStep to set next checkout step (#1328)
  src/app/core/facades/checkout.facade.ts
  src/app/core/models/checkout/checkout-step.type.ts
  src/app/core/store/customer/basket/basket-validation.effects.spec.ts
  src/app/core/store/customer/basket/basket-validation.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/pages/checkout-address/checkout-address-page.component.ts
  src/app/pages/checkout-payment/checkout-payment-page.component.ts
  src/app/pages/checkout-shipping/checkout-shipping-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: extend Hybrid Approach documentation with Intershop 11 and PWA Helm chart recommended way
  docs/concepts/hybrid-approach.md
  docs/guides/ssr-startup.md
Due: npx prettier --loglevel warn --write

fix: add SSR hybrid backend configuration option for kubernetes deployments (#1320)
  docs/concepts/hybrid-approach.md
  docs/guides/ssr-startup.md
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Partly implemented pwa team feedback
  docs/guides/matomo-tracking.md
  src/app/app.module.ts
  src/app/extensions/matomo/store/matomo/matomo.effects.spec.ts
  src/app/extensions/matomo/store/matomo/matomo.effects.ts
  src/app/pages/product/product-detail/product-detail.component.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: error when submitting consecutive search after submitting search from search suggestion
  src/app/shared/components/search/search-box/search-box.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: error when submitting consecutive search after submitting search from search suggestion (#1332)
  src/app/shared/components/search/search-box/search-box.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: route to product detail page if only one search result was found (#1316)
  e2e/cypress/e2e/specs/shopping/search-products.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/system/change-language-search-result.b2c.e2e-spec.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

check fixes
  src/app/extensions/tacton/pages/configure/tacton-configure-navigation/tacton-configure-navigation.component.spec.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/shared/components/common/modal-dialog-link/modal-dialog-link.component.spec.ts
  src/app/shared/components/filter/filter-dropdown/filter-dropdown.component.spec.ts
  src/app/shared/components/filter/filter-text/filter-text.component.spec.ts
  src/app/shell/header/sub-category-navigation/sub-category-navigation.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

jest fixes
  src/app/shared/components/filter/filter-navigation-badges/filter-navigation-badges.component.spec.ts
  src/app/shared/components/filter/filter-swatch-images/filter-swatch-images.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

keydown enter
  .eslintrc.json
  src/app/extensions/quoting/shared/basket-add-to-quote/basket-add-to-quote.component.html
  src/app/extensions/tacton/pages/configure/tacton-image-text-buttons/tacton-image-text-buttons.component.html
  src/app/pages/error/server-error/server-error.component.html
  src/app/shared/components/filter/filter-collapsible/filter-collapsible.component.html
  src/app/shell/header/header-navigation/header-navigation.component.html
Due: npx prettier --loglevel warn --write

fix: remove check for variations or variation master data for variation product data handling
  src/app/core/models/product-view/product-view.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update PM2 process manager to current version 5.2.2
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat: provide metrics of child processes
  Dockerfile
  server.ts
  src/ssr/server-scripts/prometheus.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Switch trigger from interval to scrape
  src/ssr/server-scripts/prometheus.js
Due: npx prettier --loglevel warn --write

feat: AzureAD identity provider + demo configuration
  .github/workflows/demo-server-up.yml
  docker-compose.yml
  src/app/core/identity-provider.module.ts
  src/app/core/identity-provider/azureAD.identity-provider.ts
  src/app/shared/components/login/azure-ad-sign-in/azure-ad-sign-in.component.html
  src/app/shared/components/login/azure-ad-sign-in/azure-ad-sign-in.component.spec.ts
  src/app/shared/components/login/azure-ad-sign-in/azure-ad-sign-in.component.ts
  src/app/shared/components/login/identity-provider-login/identity-provider-login.component.ts
  src/app/shared/shared.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: use new apitoken REST endpoint to get access token and revoke token on logout
  docs/README.md
  docs/concepts/authentication.md
  docs/concepts/sso.md
  docs/guides/authentication_icm.md
  docs/guides/migrations.md
  docs/guides/punchout-identity-provider.md
  e2e/cypress/e2e/pages/account/login.page.ts
  e2e/cypress/e2e/pages/header.module.ts
  e2e/cypress/e2e/specs/account/register-user.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/system/cookie-consent.b2c.e2e-spec.ts
  e2e/cypress/e2e/specs/system/retain-authentication.b2c.e2e-spec.ts
  src/app/core/facades/account.facade.ts
  src/app/core/identity-provider.module.ts
  src/app/core/identity-provider/auth0.identity-provider.spec.ts
  src/app/core/identity-provider/auth0.identity-provider.ts
  src/app/core/identity-provider/icm.identity-provider.spec.ts
  src/app/core/identity-provider/icm.identity-provider.ts
  src/app/core/identity-provider/identity-provider.factory.ts
  src/app/core/interceptors/identity-provider.interceptor.ts
  src/app/core/models/token/token.interface.ts
  src/app/core/services/api/api.service.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.effects.spec.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/store/customer/user/user.reducer.ts
  src/app/core/utils/api-token/api-token.service.ts
  src/app/core/utils/http-error/login-user.error-handler.ts
  src/app/core/utils/meta-reducers.spec.ts
  src/app/core/utils/meta-reducers.ts
  src/app/core/utils/oauth-configuration/oauth-configuration.service.spec.ts
  src/app/core/utils/oauth-configuration/oauth-configuration.service.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.spec.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: Remove http post
  server.ts
  src/ssr/server-scripts/prometheus.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
