Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

fix: moved icons from ngClass to class attribute to fix ngClass import problem
  src/app/extensions/punchout/pages/account-punchout-cxml-configuration/formly/cxml-help-text-wrapper/cxml-help-text-wrapper.component.ts
  src/app/pages/category/category-categories/category-categories.component.html
  src/app/pages/category/category-products/category-products.component.html
  src/app/pages/search/search-result/search-result.component.html
  src/app/pages/search/search-result/search-result.component.ts
  src/app/shared/components/basket/basket-custom-fields/basket-custom-fields.component.html
  src/app/shared/components/basket/basket-promotion-code/basket-promotion-code.component.html
  src/app/shared/components/filter/filter-collapsible/filter-collapsible.component.html
  src/app/shared/components/line-item/line-item-information-edit/line-item-information-edit.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: removed FontawesomeModule imports
  projects/organization-management/src/app/pages/cost-center-detail/cost-center-detail-page.component.ts
  src/app/extensions/captcha/shared/captcha-v2/captcha-v2.component.ts
  src/app/extensions/captcha/shared/captcha-v3/captcha-v3.component.ts
  src/app/extensions/compare/pages/compare/product-compare-list/product-compare-list.component.ts
  src/app/extensions/compare/shared/product-add-to-compare/product-add-to-compare.component.ts
  src/app/extensions/compare/shared/product-compare-status/product-compare-status.component.ts
  src/app/extensions/compare/shared/product-send-to-compare/product-send-to-compare.component.ts
  src/app/extensions/punchout/pages/account-punchout/account-punchout-page.component.ts
  src/app/extensions/quickorder/shared/quickorder-link/quickorder-link.component.ts
  src/app/extensions/quoting/pages/quote-list/quote-list/quote-list.component.ts
  src/app/extensions/quoting/shared/quote-line-item-list-element/quote-line-item-list-element.component.ts
  src/app/pages/product/product-detail-actions/product-detail-actions.component.ts
  src/app/shell/header/back-to-top/back-to-top.component.ts
  src/app/shell/header/header-default/header-default.component.ts
  src/app/shell/header/language-switch/language-switch.component.ts
  src/app/shell/header/login-status/login-status.component.ts
  src/app/shell/header/mini-basket/mini-basket.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: correct import in captcha components
  src/app/extensions/captcha/shared/captcha-v2/captcha-v2.component.ts
  src/app/extensions/captcha/shared/captcha-v3/captcha-v3.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: removed unused TranslateModule imports
  src/app/core/core.module.ts
  src/app/shared/formly-address-forms/formly-address-forms.module.ts
  src/app/shared/formly/components/components.module.ts
  src/app/shared/formly/types/types.module.ts
  src/app/shared/formly/wrappers/wrappers.module.ts
  src/app/shared/forms/forms.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: added missing TranslateDirective to product quantity component
  src/app/shared/components/product/product-quantity/product-quantity.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: refactor routing to use dynamic loading with Formly providers
  src/app/app.config.ts
  src/app/extensions/contact-us/pages/contact/contact-page.routes.ts
  src/app/extensions/product-notifications/shared/product-notification-edit-form/product-notification-edit-form.component.ts
  src/app/extensions/punchout/pages/punchout-account.routes.ts
  src/app/extensions/quickorder/shared/quickorder-add-products-form/quickorder-add-products-form.component.ts
  src/app/extensions/store-locator/pages/store-locator/store-locator-page.component.ts
  src/app/pages/account-order-history/account-order-history.routes.ts
  src/app/pages/app-last.routes.ts
  src/app/pages/app.routes.ts
  src/app/pages/basket/basket-order-recurrence-edit/basket-order-recurrence-edit.component.ts
  src/app/pages/checkout-payment/payment-concardis-directdebit/payment-concardis-directdebit.component.ts
  src/app/pages/checkout-payment/payment-parameter-form/payment-parameter-form.component.ts
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.ts
  src/app/pages/cookies/cookies-page.routes.ts
  src/app/pages/data-request/data-request-page.routes.ts
  src/app/pages/forgot-password/forgot-password-page.routes.ts
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.ts
  src/app/shared/components/login/login-form/login-form.component.ts
  src/app/shared/formly-address-forms/formly-address-forms.module.ts
  src/app/shared/formly/extensions/extensions.module.ts
  src/app/shared/formly/field-library/field-library.module.ts
  src/app/shared/formly/formly.module.ts
  src/app/shared/formly/types/types.module.ts
  src/app/shared/formly/wrappers/wrappers.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove unused store module imports across various components
  projects/organization-management/src/app/components/budget-widget/budget-widget.component.ts
  projects/organization-management/src/app/components/cost-center-widget/cost-center-widget.component.ts
  projects/organization-management/src/app/exports/index.ts
  projects/organization-management/src/app/store/organization-management-store.module.ts
  projects/requisition-management/src/app/components/approval-widget/approval-widget.component.ts
  projects/requisition-management/src/app/components/requisition-widget/requisition-widget.component.ts
  projects/requisition-management/src/app/store/requisition-management-store.module.ts
  src/app/app.config.ts
  src/app/extensions/order-templates/shared/order-template-widget/order-template-widget.component.ts
  src/app/extensions/order-templates/store/order-templates-store.module.ts
  src/app/extensions/quoting/shared/quote-widget/quote-widget.component.ts
  src/app/extensions/quoting/store/quoting-store.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: specify type for stateManagementImports and storeDevtoolsModule
  src/app/core/state-management.providers.ts
  src/app/core/store/store-devtools.module.production.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: footer layout shift optimization
  src/app/core/pipes/feature-toggle.pipe.ts
  src/app/shell/footer/footer/footer.component.html
  src/styles/components/footer/footer.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: added missing imports to paypal component and test
  src/app/core/directives/paypal-error.directive.ts
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.spec.ts
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: migrate payment-paypal-component and adjust imports
  src/app/extensions/wishlists/shared/wishlist-line-item/wishlist-line-item.component.ts
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/category/category-categories/category-categories.component.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/home/home-page.component.ts
  src/app/pages/product/product-detail/product-detail.component.ts
  src/app/shared/components/basket/basket-cost-summary/basket-cost-summary.component.ts
  src/app/shared/components/basket/basket-error-message/basket-error-message.component.ts
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.ts
  src/app/shared/components/checkout/payment-paypal-messages/payment-paypal-messages.component.ts
  src/app/shared/components/checkout/payment-paypal/payment-paypal.component.ts
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.ts
  src/app/shared/components/product/product-listing/product-listing.component.ts
  src/app/shared/components/search/suggest-categories-tile/suggest-categories-tile.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: update trackBy function and fix trackByUser usage in users page
  projects/organization-management/src/app/pages/users/users-page.component.html
  projects/organization-management/src/app/pages/users/users-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove unused ServerSettingPipe from checkout payment component
  src/app/pages/account/account-user-info/account-user-info.component.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: update store provider implementations to use new NgRx provider functions
  projects/organization-management/src/app/store/organization-management-store.providers.ts
  projects/requisition-management/src/app/exports/index.ts
  projects/requisition-management/src/app/store/requisition-management-store.providers.ts
  src/app/core/state-management.providers.ts
  src/app/core/store/content/content-store.providers.ts
  src/app/core/store/core/core-store.providers.ts
  src/app/core/store/customer/customer-account-store.providers.ts
  src/app/core/store/customer/customer-basket-store.providers.ts
  src/app/core/store/customer/customer-session-store.providers.ts
  src/app/core/store/customer/customer-store.providers.ts
  src/app/core/store/general/general-store.providers.ts
  src/app/core/store/hybrid/hybrid-store.providers.ts
  src/app/core/store/shopping/shopping-store.providers.ts
  src/app/core/store/store-devtools.providers.production.ts
  src/app/core/store/store-devtools.providers.ts
  src/app/extensions/address-doctor/store/address-doctor-store.providers.ts
  src/app/extensions/compare/store/compare-store.providers.ts
  src/app/extensions/contact-us/store/contact-us-store.providers.ts
  src/app/extensions/copilot/store/copilot-store.providers.ts
  src/app/extensions/order-templates/order-templates-feature.providers.ts
  src/app/extensions/order-templates/store/order-templates-store.providers.ts
  src/app/extensions/product-notifications/store/product-notifications-store.providers.ts
  src/app/extensions/punchout/store/punchout-store.providers.ts
  src/app/extensions/quoting/store/quoting-store.providers.ts
  src/app/extensions/rating/store/product-review-store.providers.ts
  src/app/extensions/recently/store/recently-store.providers.ts
  src/app/extensions/seo/store/seo-store.providers.ts
  src/app/extensions/store-locator/store/store-locator-store.providers.ts
  src/app/extensions/tracking/store/tracking-store.providers.ts
  src/app/extensions/wishlists/store/wishlists-store.providers.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: add organization and requisition management stores to app configuration
  projects/organization-management/src/app.config.ts
  projects/organization-management/src/app/pages/organization-management.routes.ts
  projects/requisition-management/src/app.config.ts
  src/app/pages/account-order-history/account-order-history.routes.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove unused FormsSharedModule from forms imports
  src/app/shared/forms/forms.imports.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: footer cls improvements
  src/app/shell/footer/footer/footer.component.html
  src/styles/components/footer/footer.scss
Due: npx prettier --loglevel warn --write

temp: layout shift fix
  src/app/shared/components/product/product-image/product-image.component.html
  src/app/shared/components/product/product-image/product-image.component.ts
  src/app/shared/components/product/product-item/product-item.component.html
  src/app/shared/components/product/product-item/product-item.component.scss
  src/app/shared/components/product/product-item/product-item.component.ts
  src/styles/components/common/enhanced-image.scss
  src/styles/pages/category/product-list.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Revert "temp: footer cls improvements"
  src/app/shell/footer/footer/footer.component.html
  src/styles/components/footer/footer.scss
Due: npx prettier --loglevel warn --write

Revert "temp: added lazy loading product-carousel component to remove swipermodule out of initial bundle"
  src/app/shared/components/product/products-list/products-list-carousel/products-list-carousel.component.html
  src/app/shared/components/product/products-list/products-list-carousel/products-list-carousel.component.ts
  src/app/shared/components/product/products-list/products-list.component.html
  src/app/shared/components/product/products-list/products-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: use only problematic urls for lighthouse performance tests
  .github/lighthouse/configurations/performance-desktop.lighthouserc.json
  .github/lighthouse/configurations/performance-mobile.lighthouserc.json
Due: npx prettier --loglevel warn --write

fix: prevent default mousedown event for buttons when ariaHidden is true
  src/app/extensions/compare/shared/product-add-to-compare/product-add-to-compare.component.html
  src/app/extensions/order-templates/shared/product-add-to-order-template/product-add-to-order-template.component.html
  src/app/extensions/quoting/shared/product-add-to-quote/product-add-to-quote.component.html
  src/app/extensions/wishlists/shared/product-add-to-wishlist/product-add-to-wishlist.component.html
  src/app/shared/components/login/login-form/login-form.component.ts
  src/app/shared/components/product/product-add-to-basket/product-add-to-basket.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add FormSubmitDirective to login form component imports
  src/app/shared/components/login/login-form/login-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Reapply "temp: added lazy loading product-carousel component to remove swipermodule out of initial bundle"
  src/app/shared/components/product/products-list/products-list-carousel/products-list-carousel.component.html
  src/app/shared/components/product/products-list/products-list-carousel/products-list-carousel.component.ts
  src/app/shared/components/product/products-list/products-list.component.html
  src/app/shared/components/product/products-list/products-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Reapply "temp: footer cls improvements"
  src/app/shell/footer/footer/footer.component.html
  src/styles/components/footer/footer.scss
Due: npx prettier --loglevel warn --write

fix: remove aspect-ratio from enhanced-image-container
  src/styles/components/common/enhanced-image.scss
Due: none

fix: adjust footer positioning and enable flex-grow for wrapper
  src/app/app.component.html
  src/styles/global/global.scss
Due: npx prettier --loglevel warn --write

temp: allow multiple concurrent runs of Lighthouse performance compare workflow
  .github/workflows/lighthouse-performance-compare.yml
Due: npx prettier --loglevel warn --write

temp: include run_id in concurrency group for Lighthouse performance workflow
  .github/workflows/lighthouse-performance-compare.yml
Due: npx prettier --loglevel warn --write

fix: update initial collapsed state and adjust product image styles for better responsiveness
  src/app/pages/category/category-products/category-products.component.ts
  src/styles/pages/category/product-list.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: adjust min-height for product list container on smaller screens and refine image styling in homepage
  src/styles/pages/category/product-list.scss
  src/styles/pages/homepage/homepage.scss
Due: none

temp: potential lcp improvements
  src/app/app.component.html
  src/app/pages/content/content-page.component.html
  src/app/shared/components/category/category-image/category-image.component.html
  src/app/shared/components/product/product-tile/product-tile.component.html
  src/styles/pages/content-pages/page-content.scss
Due: npx prettier --loglevel warn --write

Revert "temp: added lazy loading for cms components"
  src/app/shared/cms/cms.providers.ts
  src/app/shared/cms/components/content-pagelet/content-pagelet.component.ts
  src/app/shared/cms/configurations/injection-keys.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
