Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: create a product review on product detail page (#1198)
  e2e/cypress/integration/pages/shopping/product-detail.page.ts
  e2e/cypress/integration/pages/shopping/product-review.module.ts
  e2e/cypress/integration/specs/shopping/product-reviews.b2b.e2e-spec.ts
  src/app/extensions/rating/facades/product-reviews.facade.ts
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.html
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.spec.ts
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.ts
  src/app/extensions/rating/models/product-reviews/product-review.model.ts
  src/app/extensions/rating/models/product-reviews/product-reviews.mapper.spec.ts
  src/app/extensions/rating/models/product-reviews/product-reviews.mapper.ts
  src/app/extensions/rating/rating.module.ts
  src/app/extensions/rating/services/reviews/reviews.service.spec.ts
  src/app/extensions/rating/services/reviews/reviews.service.ts
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.html
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.ts
  src/app/extensions/rating/shared/product-rating/product-rating.component.html
  src/app/extensions/rating/shared/product-review-create-dialog/product-review-create-dialog.component.html
  src/app/extensions/rating/shared/product-review-create-dialog/product-review-create-dialog.component.spec.ts
  src/app/extensions/rating/shared/product-review-create-dialog/product-review-create-dialog.component.ts
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.html
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.spec.ts
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.ts
  src/app/extensions/rating/store/product-review-store.module.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.actions.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.effects.spec.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.effects.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.reducer.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.selectors.spec.ts
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: don't display the review tab on product master variation page (#1193)
  src/app/extensions/rating/shared/product-rating/product-rating.component.html
  src/app/extensions/rating/shared/product-rating/product-rating.component.spec.ts
  src/app/extensions/rating/shared/product-rating/product-rating.component.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.html
  src/app/pages/product/product-detail-info/product-detail-info.component.spec.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add a custom description to the textarea description wrapper
  docs/guides/formly.md
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: move xliff to dev dep
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

refactor: replace unmaintained angular2-uuid lib
  package-lock.json
  package.json
  src/app/extensions/punchout/pages/account-punchout-create/account-punchout-create-page.component.ts
  src/app/extensions/tacton/store/tacton-config/tacton-config.selectors.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/components/product/product-quantity/product-quantity.component.ts
  src/app/shared/components/product/product-variation-select/product-variation-select.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove dep
  package.json
Due: npx prettier --loglevel warn --write

fix: update package.lock
  package-lock.json
Due: npx prettier --loglevel warn --write

deps: move xliff to dev dep (#1202)
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

add migration note
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

fix: remove projects occurrence
  projects/organization-management/src/app/pages/user-create/user-create-page.component.ts
  src/app/core/store/customer/sso-registration/sso-registration.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: replace unmaintained angular2-uuid lib (#1203)
  docs/guides/migrations.md
  package-lock.json
  package.json
  projects/organization-management/src/app/pages/user-create/user-create-page.component.ts
  src/app/core/store/customer/sso-registration/sso-registration.effects.ts
  src/app/extensions/punchout/pages/account-punchout-create/account-punchout-create-page.component.ts
  src/app/extensions/tacton/store/tacton-config/tacton-config.selectors.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/components/product/product-quantity/product-quantity.component.ts
  src/app/shared/components/product/product-variation-select/product-variation-select.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Add Shellspec tests job
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

Include further tests on 00-envcheck.sh
  nginx/docker-entrypoint.d/00-envcheck.sh
  nginx/docker-entrypoint.d/spec/00-envcheck_spec.sh
Due: none

docs: update documentation
  docs/concepts/pwa-building-blocks.md
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

Introduce shellspec testing
  .prettierignore
  nginx/Dockerfile
  nginx/docker-entrypoint.d/.shellspec
  nginx/docker-entrypoint.d/00-envcheck.sh
  nginx/docker-entrypoint.d/spec/00-envcheck_spec.sh
  nginx/docker-entrypoint.d/spec/spec_helper.sh
Due: none

Remove build arg QUIET
  docker-compose.yml
  nginx/Dockerfile
Due: npx prettier --loglevel warn --write

refactor: use standard nginx container
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/docker-entrypoint.d/00-envcheck.sh
  nginx/docker-entrypoint.d/40-features.sh
  nginx/docker-entrypoint.d/40-gomplate.sh
  nginx/docker-entrypoint.d/entrypoint.sh
  nginx/entrypoint.sh
  nginx/features/pagespeed.conf
  nginx/nginx.conf
Due: npx prettier --loglevel warn --write

Include version output if DEBUG
  nginx/docker-entrypoint.d/entrypoint.sh
Due: none

docs: include a sentence in the migrations.md
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

test: adapt prices for e2e testing in B2C with the usage of ICM 7.10.38.11-LTS
  e2e/cypress/integration/specs/checkout/basket-handling.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/register-before-checkout.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/shopping-anonymous.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/shopping-prices.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/shopping-user.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/browse-products-from-indexed-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/browse-products-homepage-to-product-detail.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/search-category-routing.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/change-language-family-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/change-language-product-detail.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/change-language-search-result.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/retain-basket-anonymous.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/retain-basket-authenticated.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: adapt prices for e2e testing in B2C with the usage of ICM 7.10.38.11-LTS (#1205)
  e2e/cypress/integration/specs/checkout/basket-handling.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/register-before-checkout.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/shopping-anonymous.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/shopping-prices.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/shopping-user.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/browse-products-from-indexed-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/browse-products-homepage-to-product-detail.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/search-category-routing.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/change-language-family-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/change-language-product-detail.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/change-language-search-result.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/retain-basket-anonymous.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/retain-basket-authenticated.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: remove pagespeed module from our nginx container (#1150)
  .github/workflows/integration.yml
  .prettierignore
  docker-compose.yml
  docs/concepts/pwa-building-blocks.md
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/docker-entrypoint.d/.shellspec
  nginx/docker-entrypoint.d/00-envcheck.sh
  nginx/docker-entrypoint.d/40-features.sh
  nginx/docker-entrypoint.d/40-gomplate.sh
  nginx/docker-entrypoint.d/entrypoint.sh
  nginx/docker-entrypoint.d/spec/00-envcheck_spec.sh
  nginx/docker-entrypoint.d/spec/spec_helper.sh
  nginx/entrypoint.sh
  nginx/features/pagespeed.conf
  nginx/nginx.conf
Due: npx prettier --loglevel warn --write

fix: make default favicon accessible from root
  angular.json
  nginx/templates/multi-channel.conf.tmpl
  server.ts
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: purgecss exeption for generated filter-layer CSS classes (#1204)
  src/styles/pages/category/filter-panel.scss
  src/styles/pages/category/product-list.scss
Due: none

fix: purgecss exeption for generated filter-layer CSS classes (#1204, #1207)
  src/styles/pages/category/filter-panel.scss
  src/styles/pages/category/product-list.scss
Due: none

chore: remove unused http-loader dep
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

docs: add reference to implementation for loading translations from an external source
  docs/concepts/localization.md
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

chore: remove unused http-loader dep (#1154)
  docs/concepts/localization.md
  docs/guides/migrations.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore(schematics): remove deprecated customized-copy schematic
  docs/guides/customizations.md
  docs/guides/migrations.md
  e2e/test-schematics-customization.sh
  schematics/src/collection.json
  schematics/src/helpers/customized-copy/factory.ts
  schematics/src/helpers/customized-copy/factory_spec.ts
  schematics/src/helpers/customized-copy/schema.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore(schematics): remove deprecated customized-copy schematic (#1128)
  docs/guides/customizations.md
  docs/guides/migrations.md
  e2e/test-schematics-customization.sh
  schematics/src/collection.json
  schematics/src/helpers/customized-copy/factory.ts
  schematics/src/helpers/customized-copy/factory_spec.ts
  schematics/src/helpers/customized-copy/schema.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(eslint): add rule for using new SSR variable
  eslint-rules/src/rules/use-ssr-variable-instead-of-platform-id.ts
  eslint-rules/tests/use-ssr-variable-instead-of-platform-id.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: dependencies and package-lock fixes (#1182)
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix: pin nginx version to 1.21.6 instead of using latest (#1188)
  nginx/Dockerfile
  nginx/entrypoint.sh
Due: none

fix: content page not found when reloading a page with an authenticated user (#1198)
  src/app/core/store/content/pages/pages.effects.spec.ts
  src/app/core/store/content/pages/pages.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
