Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

small adjustments
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
Due: npx prettier --loglevel warn --write

fix: use take(1) to avoid NoSuchElementException
  src/app/core/utils/translate/icm-translate-loader.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(Design View): provide page structure tree information for the Design View (#1577)
  src/app/core/utils/design-view/design-view.service.ts
  src/app/pages/content/content-page.component.html
  src/app/shared/cms/components/content-viewcontext/content-viewcontext.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: disable rendering of view contexts by default
  .prettierignore
  docs/concepts/cms-integration.md
  docs/guides/migrations.md
  src/app/pages/category/category-categories/category-categories.component.html
  src/app/pages/category/category-products/category-products.component.html
  src/app/pages/product/product-detail/product-detail.component.html
  src/app/pages/product/product-detail/product-detail.component.spec.ts
  src/app/pages/product/product-page.component.html
  src/app/pages/product/product-page.component.spec.ts
  src/assets/sample-data/view_contexts_import.xml
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: add .nvmrc
  .dockerignore
  .gitignore
  .nvmrc
  .prettierignore
Due: none

perf: disable rendering of view contexts by default (#1650)
  .prettierignore
  docs/concepts/cms-integration.md
  docs/guides/migrations.md
  src/app/pages/category/category-categories/category-categories.component.html
  src/app/pages/category/category-products/category-products.component.html
  src/app/pages/product/product-detail/product-detail.component.html
  src/app/pages/product/product-detail/product-detail.component.spec.ts
  src/app/pages/product/product-page.component.html
  src/app/pages/product/product-page.component.spec.ts
  src/assets/sample-data/view_contexts_import.xml
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: implement input mask for IBAN and BIC
  src/app/pages/checkout-payment/payment-parameter-form/payment-parameter-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: show edit panel inside the highlighted element instead of outside which may be cut
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.scss
Due: none

fix: show the highlighted wrapping border inside the component and not ouside any more
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.scss
Due: none

fix(Design View): show Design View editing frame highlighting inside the component to avoid cut display (#1651)
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.scss
Due: none

fix(localization): avoid NoSuchElementException when adding a new locale (#1652)
  src/app/core/utils/translate/icm-translate-loader.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: add .nvmrc (#1653)
  .dockerignore
  .gitignore
  .nvmrc
  .prettierignore
Due: none

feat: introduce ishBrowserLazyView directive (#1654)
  src/app/core/directives.module.ts
  src/app/core/directives/browser-lazy-view.directive.ts
  src/app/core/directives/intersection-observer-util.ts
  src/app/core/directives/intersection-observer.directive.ts
  src/app/extensions/tacton/pages/configure/tacton-group/tacton-group.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: make recently viewed products display lazy (#1654)
  src/app/extensions/recently/shared/recently-viewed/recently-viewed.component.html
  src/app/extensions/recently/shared/recently-viewed/recently-viewed.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: consistent use of envDevTemplatePath variable
  scripts/init-development-environment.js
Due: npx prettier --loglevel warn --write

refactor: use <div> instead of <p> with 'ishServerHtml' for warranty descriptions
  src/app/shared/components/product/product-warranty-details/product-warranty-details.component.html
Due: npx prettier --loglevel warn --write

fix: add loading animation for search result page
  src/app/pages/search/search-page.component.html
Due: npx prettier --loglevel warn --write

fix: improve mock data redirection for urlss with matrix parameters
  docs/guides/mocking-rest-calls.md
  src/app/core/interceptors/mock.interceptor.spec.ts
  src/app/core/interceptors/mock.interceptor.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: improve mock data redirection for URLs with matrix parameters (#1324)
  docs/guides/mocking-rest-calls.md
  src/app/core/interceptors/mock.interceptor.spec.ts
  src/app/core/interceptors/mock.interceptor.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: adjust DE and FR localizatio (#91342)
  src/assets/i18n/de_DE.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: shorten placeholder text in DE (#91342)
  src/assets/i18n/de_DE.json
Due: npx prettier --loglevel warn --write

feat: shorten placeholder text in EN (#91342)
  src/assets/i18n/en_US.json
Due: npx prettier --loglevel warn --write

feat: correct small mistakes in FR (#91342)
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: implement input mask for IBAN and BIC (#1655)
  src/app/pages/checkout-payment/payment-parameter-form/payment-parameter-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: handle setting price notification for products without a price
  src/app/extensions/product-notifications/shared/product-notification-edit-form/product-notification-edit-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: wishlist and order templates with special characters in the title (e.g. ä,ö,ü) are not displayed correct
  src/app/core/pipes/html-encode.pipe.ts
  src/app/extensions/order-templates/models/order-template/order-template.mapper.ts
  src/app/extensions/order-templates/services/order-template/order-template.service.spec.ts
  src/app/extensions/order-templates/shared/select-order-template-modal/select-order-template-modal.component.html
  src/app/extensions/wishlists/models/wishlist/wishlist.mapper.ts
  src/app/extensions/wishlists/services/wishlist/wishlist.service.spec.ts
  src/app/extensions/wishlists/shared/select-wishlist-modal/select-wishlist-modal.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: handle setting price notification for products without a price (#1659)
  src/app/extensions/product-notifications/shared/product-notification-edit-form/product-notification-edit-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: wishlist and order template titles with special characters do not displayed correct (#1658)
  src/app/core/pipes/html-encode.pipe.ts
  src/app/extensions/order-templates/models/order-template/order-template.mapper.ts
  src/app/extensions/order-templates/services/order-template/order-template.service.spec.ts
  src/app/extensions/order-templates/shared/select-order-template-modal/select-order-template-modal.component.html
  src/app/extensions/wishlists/models/wishlist/wishlist.mapper.ts
  src/app/extensions/wishlists/services/wishlist/wishlist.service.spec.ts
  src/app/extensions/wishlists/shared/select-wishlist-modal/select-wishlist-modal.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

skip-to-main-content button [skip ci]
  src/app/app.component.html
  src/styles/global/global.scss
Due: npx prettier --loglevel warn --write

refactor: extend the ExternalDisplayPropertiesProvider to get not only the product from the product context but the prices too (#1657)
  docs/guides/migrations.md
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
  src/app/core/utils/product-context-display-properties/product-context-display-properties.service.ts
  src/app/extensions/punchout/exports/punchout-product-context-display-properties/punchout-product-context-display-properties.service.ts
  src/app/extensions/tacton/exports/tacton-product-context-display-properties/tacton-product-context-display-properties.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: do not display "add to cart" button if product has no price (#1657)
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/utils/product-context-display-properties/product-context-display-properties.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: switch to lazy triggering of 'loadProductParts' action
  src/app/core/facades/product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

made icons that only appear on mouse hover non-tabbable [skip ci]
  src/app/extensions/compare/shared/product-add-to-compare/product-add-to-compare.component.html
  src/app/extensions/order-templates/shared/product-add-to-order-template/product-add-to-order-template.component.html
  src/app/extensions/quoting/shared/product-add-to-quote/product-add-to-quote.component.html
  src/app/extensions/wishlists/shared/product-add-to-wishlist/product-add-to-wishlist.component.html
  src/app/shared/components/product/product-add-to-basket/product-add-to-basket.component.html
Due: npx prettier --loglevel warn --write
