Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

i18n: add localizations
  src/assets/i18n/de_DE.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

styling changes
  package-lock.json
  package.json
  projects/requisition-management/src/app/components/requisitions-list/requisitions-list.component.html
  src/app/core/icon.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

review changes
  projects/requisition-management/src/app/components/requisitions-list/requisitions-list.component.html
  projects/requisition-management/src/app/components/requisitions-list/requisitions-list.component.spec.ts
  projects/requisition-management/src/app/components/requisitions-list/requisitions-list.component.ts
  projects/requisition-management/src/app/facades/requisition-management.facade.ts
  projects/requisition-management/src/app/store/requisitions/requisitions.actions.ts
  projects/requisition-management/src/app/store/requisitions/requisitions.effects.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add migration note
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

feat: add "Approve" and "Reject" action buttons to approvals list (#1665, #1814)
  docs/guides/migrations.md
  projects/requisition-management/src/app/components/requisition-reject-dialog/requisition-reject-dialog.component.html
  projects/requisition-management/src/app/components/requisition-reject-dialog/requisition-reject-dialog.component.spec.ts
  projects/requisition-management/src/app/components/requisition-reject-dialog/requisition-reject-dialog.component.ts
  projects/requisition-management/src/app/components/requisitions-list/requisitions-list.component.html
  projects/requisition-management/src/app/components/requisitions-list/requisitions-list.component.spec.ts
  projects/requisition-management/src/app/components/requisitions-list/requisitions-list.component.ts
  projects/requisition-management/src/app/facades/requisition-management.facade.ts
  projects/requisition-management/src/app/pages/approver/approver-page.component.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.module.ts
  projects/requisition-management/src/app/requisition-management.module.ts
  projects/requisition-management/src/app/store/requisitions/requisitions.actions.ts
  projects/requisition-management/src/app/store/requisitions/requisitions.effects.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: add babel dependency to enable `-u` parameter for tests with `@Component` decorator
  babel.config.js
Due: npx prettier --loglevel warn --write

feat(accessibility): mark selected categories and filters as `aria-current` (#1832, #1858)
  src/app/pages/category/category-navigation/category-navigation.component.html
  src/app/pages/category/category-navigation/category-navigation.component.spec.ts
  src/app/shared/components/filter/filter-swatch-images/__snapshots__/filter-swatch-images.component.spec.ts.snap
  src/app/shared/components/filter/filter-swatch-images/filter-swatch-images.component.html
  src/app/shared/components/filter/filter-text/filter-text.component.html
  src/app/shared/components/filter/filter-text/filter-text.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: Enable `-u` parameter for jest tests with `@Component` decorator (#1857)
  babel.config.js
Due: npx prettier --loglevel warn --write

test: fix "NG0912 Component ID generation collision detected"
  src/app/pages/checkout-shipping/checkout-shipping/checkout-shipping.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: add dummy component selectors to prevent component ID collision
  src/app/shared/formly/dev/testing/formly-testing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: validation message captcha (#107447)
  src/app/extensions/captcha/shared/captcha-v2/captcha-v2.component.html
  src/app/extensions/captcha/shared/captcha-v2/captcha-v2.component.ts
  src/app/extensions/captcha/shared/captcha-v3/captcha-v3.component.html
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.spec.ts
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.ts
  src/app/pages/forgot-password/request-reminder-form/request-reminder-form.component.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.spec.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/formly/types/types.module.ts
  src/app/shared/formly/wrappers/validation-wrapper/validation-wrapper.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: fix "NG0912 Component ID generation collision detected" (#1854)
  src/app/pages/checkout-shipping/checkout-shipping/checkout-shipping.component.spec.ts
  src/app/shared/formly/dev/testing/formly-testing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(accessibility): rework accordion item component (#1829, #1856)
  src/app/shared/components/common/accordion-item/accordion-item.component.html
  src/styles/global/buttons.scss
  src/styles/global/panel.scss
Due: npx prettier --loglevel warn --write

fix(accessibility): rework accordion item component (#1829, #1856)
  src/app/shared/components/common/accordion-item/accordion-item.component.html
  src/app/shared/components/common/accordion-item/accordion-item.component.ts
  src/app/shared/components/common/accordion/accordion.component.html
  src/styles/global/panel.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(accessibility): rework accordion item component (#1829, #1856)
  src/app/shared/components/common/accordion-item/accordion-item.component.html
  src/app/shared/components/common/accordion-item/accordion-item.component.spec.ts
  src/app/shared/components/common/accordion-item/accordion-item.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor(accessibility): accordion item component (#1829, #1856)
  src/app/shared/components/common/accordion-item/accordion-item.component.html
  src/app/shared/components/common/accordion-item/accordion-item.component.spec.ts
  src/app/shared/components/common/accordion-item/accordion-item.component.ts
  src/app/shared/components/common/accordion/accordion.component.html
  src/styles/global/buttons.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: add localization
  src/assets/i18n/de_DE.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

docs: review
  docs/guides/accessibility-ux-pattern.md
Due: npx prettier --loglevel warn --write

feat(accessibility): wrap category navigation into `<nav>` element (#1834, #1853)
  src/app/pages/category/category-categories/category-categories.component.html
  src/app/pages/category/category-products/category-products.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

test: add `@babel/plugin-proposal-decorators` to dev dependencies (#1857, #1859)
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat(accessibility): indicate which categories/filters are selected (#1832, #1858)
  src/app/pages/category/category-navigation/category-navigation.component.html
  src/app/pages/category/category-navigation/category-navigation.component.spec.ts
  src/app/shared/components/filter/filter-swatch-images/__snapshots__/filter-swatch-images.component.spec.ts.snap
  src/app/shared/components/filter/filter-swatch-images/filter-swatch-images.component.html
  src/app/shared/components/filter/filter-text/filter-text.component.html
  src/app/shared/components/filter/filter-text/filter-text.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(accessibility): valid `aria-controls`-ids for collapsible filters
  src/app/shared/components/filter/filter-checkbox/__snapshots__/filter-checkbox.component.spec.ts.snap
  src/app/shared/components/filter/filter-checkbox/filter-checkbox.component.html
  src/app/shared/components/filter/filter-checkbox/filter-checkbox.component.spec.ts
  src/app/shared/components/filter/filter-checkbox/filter-checkbox.component.ts
  src/app/shared/components/filter/filter-collapsible/filter-collapsible.component.html
  src/app/shared/components/filter/filter-collapsible/filter-collapsible.component.spec.ts
  src/app/shared/components/filter/filter-collapsible/filter-collapsible.component.ts
  src/app/shared/components/filter/filter-dropdown/filter-dropdown.component.html
  src/app/shared/components/filter/filter-dropdown/filter-dropdown.component.ts
  src/app/shared/components/filter/filter-navigation-sidebar/filter-navigation-sidebar.component.html
  src/app/shared/components/filter/filter-swatch-images/__snapshots__/filter-swatch-images.component.spec.ts.snap
  src/app/shared/components/filter/filter-swatch-images/filter-swatch-images.component.html
  src/app/shared/components/filter/filter-swatch-images/filter-swatch-images.component.spec.ts
  src/app/shared/components/filter/filter-swatch-images/filter-swatch-images.component.ts
  src/app/shared/components/filter/filter-text/filter-text.component.html
  src/app/shared/components/filter/filter-text/filter-text.component.spec.ts
  src/app/shared/components/filter/filter-text/filter-text.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs(accessibility): add accessibility UX pattern doc (#1855)
  docs/README.md
  docs/guides/accessibility-easy-check.md
  docs/guides/accessibility-ux-pattern.md
  docs/guides/accessibility.md
Due: npx prettier --loglevel warn --write

fix(accessibility): `aria-controls`-id's for collapsible filters (#1837, #1860)
  src/app/shared/components/filter/filter-checkbox/__snapshots__/filter-checkbox.component.spec.ts.snap
  src/app/shared/components/filter/filter-checkbox/filter-checkbox.component.html
  src/app/shared/components/filter/filter-checkbox/filter-checkbox.component.spec.ts
  src/app/shared/components/filter/filter-checkbox/filter-checkbox.component.ts
  src/app/shared/components/filter/filter-collapsible/filter-collapsible.component.html
  src/app/shared/components/filter/filter-collapsible/filter-collapsible.component.spec.ts
  src/app/shared/components/filter/filter-collapsible/filter-collapsible.component.ts
  src/app/shared/components/filter/filter-dropdown/filter-dropdown.component.html
  src/app/shared/components/filter/filter-dropdown/filter-dropdown.component.ts
  src/app/shared/components/filter/filter-navigation-sidebar/filter-navigation-sidebar.component.html
  src/app/shared/components/filter/filter-swatch-images/__snapshots__/filter-swatch-images.component.spec.ts.snap
  src/app/shared/components/filter/filter-swatch-images/filter-swatch-images.component.html
  src/app/shared/components/filter/filter-swatch-images/filter-swatch-images.component.spec.ts
  src/app/shared/components/filter/filter-swatch-images/filter-swatch-images.component.ts
  src/app/shared/components/filter/filter-text/filter-text.component.html
  src/app/shared/components/filter/filter-text/filter-text.component.spec.ts
  src/app/shared/components/filter/filter-text/filter-text.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: test commit
  docs/guides/accessibility-ux-pattern.md
Due: npx prettier --loglevel warn --write

refactor: improve contact us form for registered users
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.html
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.spec.ts
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: improve contact us form for registered users (#1864)
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.html
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.spec.ts
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: added default value to terms and conditions field
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: changed validator and message key
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: added logic to handle buyer filter and filter default values
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: no error message for unchecked terms & conditions in registration form (#1809)
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(accessibility): use skip content link component (#1824, #1838)
  src/app/pages/account/account-page.component.html
Due: npx prettier --loglevel warn --write

fix(accessibility): skip content link on my account menu (#1869)
  src/app/pages/account/account-page.component.html
Due: npx prettier --loglevel warn --write

fix: add captcha wrapper to handle errors (#107447)
  src/app/extensions/captcha/shared/captcha-v2/captcha-v2.component.html
  src/app/extensions/captcha/shared/captcha-v2/captcha-v2.component.ts
  src/app/shared/formly/types/types.module.ts
  src/app/shared/formly/wrappers/captcha-wrapper/captcha-wrapper.component.html
  src/app/shared/formly/wrappers/captcha-wrapper/captcha-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/captcha-wrapper/captcha-wrapper.component.ts
  src/app/shared/formly/wrappers/wrappers.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(accessibility): add underlining to tabs when hovered (#1849)
  src/styles/global/global.scss
Due: none

fix(accessibility): "Remove quote items” button on cart (#1849)
  src/app/extensions/quoting/shared/quoting-basket-line-items/quoting-basket-line-items.component.html
  src/app/shared/components/basket/clear-basket/clear-basket.component.html
Due: npx prettier --loglevel warn --write

fix(accessibility): underlining for text links with icons (#1849)
  projects/organization-management/src/app/components/user-roles-selection/user-roles-selection.component.html
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.html
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-page.component.html
  src/app/extensions/wishlists/pages/account-wishlist/account-wishlist-page.component.html
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.html
  src/app/pages/checkout-shipping/formly/shipping-radio-wrapper/shipping-radio-wrapper.component.html
  src/app/shared/components/basket/basket-cost-summary/basket-cost-summary.component.html
  src/app/shared/components/basket/basket-cost-summary/basket-cost-summary.component.spec.ts
  src/app/shared/components/basket/basket-items-summary/basket-items-summary.component.html
  src/app/shared/components/basket/basket-items-summary/basket-items-summary.component.spec.ts
  src/app/shared/components/basket/basket-promotion-code/basket-promotion-code.component.html
  src/app/shared/components/filter/filter-collapsible/filter-collapsible.component.html
  src/app/shared/components/filter/filter-collapsible/filter-collapsible.component.spec.ts
  src/app/shared/components/filter/filter-dropdown/filter-dropdown.component.html
  src/app/shared/components/filter/filter-navigation-badges/filter-navigation-badges.component.html
  src/app/shared/components/filter/filter-navigation-badges/filter-navigation-badges.component.spec.ts
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.html
  src/app/shared/formly/components/field-tooltip/field-tooltip.component.html
  src/styles/global/buttons.scss
  src/styles/global/global.scss
  src/styles/pages/category/filter-panel.scss
  src/styles/pages/checkout/shopping-cart.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
