Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: support arbitrary configurations in esbuild build scripts
  .dockerignore
  Dockerfile
  package.json
  scripts/build-multi-pwa.js
  scripts/build-pwa.js
  scripts/docker-build-context.test.js
Due: npx prettier --loglevel warn --write

fix: improve marker cleanup
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/orders/orders.actions.ts
  src/app/core/store/customer/orders/orders.effects.spec.ts
  src/app/core/store/customer/orders/orders.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove hardcoded themes in package.json and define-build-constants
  .vscode/intershop.txt
  angular.json
  docs/README.md
  docs/guides/development.md
  docs/guides/ssr-startup.md
  docs/guides/webpack-to-esbuild.md
  package.json
  templates/esbuild/define-build-constants.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: materialize component resource overrides as TypeScript replacements
  schematics/src/helpers/override/factory.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: support custom themes across esbuild tooling
  angular.json
  builders/builders.json
  builders/package.json
  builders/scripts/copy-dist-files.mjs
  builders/src/application.ts
  builders/src/dev-server.ts
  builders/src/theme-configuration.ts
  builders/src/theme-overrides.ts
  builders/tsconfig.json
  eslint.config.mjs
  package-lock.json
  package.json
  schematics/customization/add/index.js
  schematics/package.json
  schematics/src/helpers/override/factory.ts
  schematics/src/helpers/override/factory_spec.ts
  schematics/src/helpers/override/schema.json
  scripts/find-dead-code.ts
  scripts/theme-configuration.test.js
  templates/esbuild/define-build-constants.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: preserve b2c environment replacement
  angular.json
Due: npx prettier --loglevel warn --write

fix: apply theme overrides during i18n extraction
  builders/src/extract-i18n.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: preserve additional component styles
  schematics/src/helpers/override/factory.ts
  schematics/src/helpers/override/factory_spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: create favicon for custom themes
  schematics/customization/add/index.js
Due: npx prettier --loglevel warn --write

test: cover custom theme builders
  builders/src/dev-server.ts
  builders/src/extract-i18n.ts
  builders/test/dev-server.test.mjs
  builders/test/extract-i18n.test.mjs
  builders/test/theme-overrides.test.mjs
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove per-theme build scripts in favor of parametrized build-pwa.js
  .github/workflows/integration.yml
  package.json
Due: npx prettier --loglevel warn --write

docs: restore Docker Compose build examples
  docker-compose.yml
Due: npx prettier --loglevel warn --write

feat: ship CSP and security headers by default
  .vscode/intershop.txt
  docs/README.md
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  docs/guides/pci-dss-4.md
  docs/guides/security-headers.md
  nginx/additional-headers.yaml
Due: npx prettier --loglevel warn --write

fix: move custom npm config properties out of package.json config section
  .czrc
  .prettierrc
  .vscode/intershop.txt
  Dockerfile
  docs/guides/migrations.md
  docs/guides/ssr-startup.md
  package.json
  schematics/customization/add/index.js
  scripts/build-multi-pwa.js
Due: npx prettier --loglevel warn --write

fix: customization script not adding custom prefix for component and directive selectors in the eslint config
  eslint.config.mjs
Due: none

fix: revert `project-structure` `reusePatterns` theme addition logic
  schematics/customization/add/index.js
Due: npx prettier --loglevel warn --write

chore: fix ESLint 9 migration problems in `eslint.config` (#2180)
  eslint.config.mjs
  schematics/customization/add/index.js
Due: npx prettier --loglevel warn --write

build: update dependencies + fix vulnerabilities
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix: move custom npm properties out of `package.json` `config` section (#2179)
  .czrc
  .prettierrc
  .vscode/intershop.txt
  Dockerfile
  docs/guides/migrations.md
  docs/guides/ssr-startup.md
  package.json
  schematics/customization/add/index.js
  scripts/build-multi-pwa.js
Due: npx prettier --loglevel warn --write

build: add B2B and B2C theme support for esbuild
  .github/workflows/integration.yml
  angular.json
  package.json
  src/app/core/store/store-devtools.module.production.ts
  src/app/core/store/store-devtools.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: restore multi-theme SSR builds with PM2
  .dockerignore
  .github/workflows/integration.yml
  Dockerfile
  angular.json
  docker-compose.yml
  docs/guides/ssr-startup.md
  package-lock.json
  package.json
  scripts/build-multi-pwa.js
  scripts/build-pwa.js
  scripts/build-ssr-runtime.js
  src/server.ts
  src/ssr/server-scripts/build-ecosystem.cjs
  src/ssr/server-scripts/distributor.js
  src/ssr/server-scripts/entrypoint.sh
  src/ssr/server-scripts/healthcheck.cjs
  src/ssr/server-scripts/prometheus.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: remove data-testing attributes from production
  .dockerignore
  Dockerfile
  package.json
  scripts/remove-data-testing-attributes.cjs
Due: npx prettier --loglevel warn --write

build: derive build constants from selected configurations
  .dockerignore
  Dockerfile
  angular.json
  package-lock.json
  package.json
  templates/esbuild/define-build-constants.ts
  tsconfig.all.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: restore CSS purging for esbuild builds
  .dockerignore
  .postcssrc.json
  Dockerfile
  Dockerfile_reports
  package-lock.json
  package.json
  templates/esbuild/define-build-constants.ts
  tools/postcss-purgecss-config/index.cjs
  tools/postcss-purgecss-config/package.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(nginx): avoid caching multi-site redirects
  nginx/templates/multi-channel.conf.tmpl
Due: none

fix: stabilize Vite SSR runtime
  schematics/src/lazy-component/factory_spec.ts
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
  src/app/core/configurations/ngrx-state-transfer.ts
  src/app/core/store/core/core-store.module.ts
  src/app/core/store/core/server-config/server-config.effects.spec.ts
  src/app/core/store/core/server-config/server-config.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: adapt checks to esbuild SSR behavior
  e2e/cypress/e2e/pages/checkout/cart.page.ts
  e2e/cypress/e2e/specs/system/rest-error-handling.b2c.e2e-spec.ts
  src/app/core/utils/http-status-code/http-status-code.service.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: preserve first quantity update
  e2e/cypress/e2e/pages/checkout/cart.page.ts
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: restore esbuild build diagnostics
  .dockerignore
  .gitignore
  package-lock.json
  package.json
  scripts/active-localization-files.js
  scripts/active-localization-files.test.js
  scripts/build-multi-pwa.js
  scripts/clean-up-localizations.js
  scripts/dead-files.js
Due: npx prettier --loglevel warn --write

refactor: simplify parametrized esbuild build commands
  .github/workflows/development.yml
  .github/workflows/integration.yml
  .vscode/intershop.txt
  Dockerfile
  angular.json
  docs/README.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/ssr-startup.md
  docs/guides/webpack-to-esbuild.md
  package-lock.json
  package.json
  scripts/build-multi-pwa.js
  scripts/clean-up-localizations.js
  scripts/dead-files.js
  templates/esbuild/define-build-constants.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: support custom themes across esbuild tooling
  .dockerignore
  .gitignore
  angular.json
  builders/builders.json
  builders/package.json
  builders/scripts/copy-dist-files.mjs
  builders/src/application.ts
  builders/src/dev-server.ts
  builders/src/theme-configuration.ts
  builders/src/theme-overrides.ts
  builders/tsconfig.json
  eslint.config.mjs
  package-lock.json
  package.json
  schematics/customization/add/index.js
  schematics/package.json
  schematics/src/helpers/override/factory.ts
  schematics/src/helpers/override/factory_spec.ts
  schematics/src/helpers/override/schema.json
  scripts/build-multi-pwa.js
  scripts/build-pwa.js
  scripts/clean-up-localizations.js
  scripts/dead-files.js
  scripts/find-dead-code.ts
  scripts/theme-configuration.test.js
  templates/esbuild/define-build-constants.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
