Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-797: implement list component for product links
  src/app/core/models/product-links/product-links.model.ts
  src/app/pages/product/components/product-links-list/__snapshots__/product-links-list.component.spec.ts.snap
  src/app/pages/product/components/product-links-list/product-links-list.component.html
  src/app/pages/product/components/product-links-list/product-links-list.component.spec.ts
  src/app/pages/product/components/product-links-list/product-links-list.component.ts
  src/app/pages/product/containers/product-links/product-links.container.html
  src/app/pages/product/containers/product-links/product-links.container.spec.ts
  src/app/pages/product/product-page.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-797: implement carousel component for product links
  src/app/pages/product/components/product-links-carousel/__snapshots__/product-links-carousel.component.spec.ts.snap
  src/app/pages/product/components/product-links-carousel/product-links-carousel.component.html
  src/app/pages/product/components/product-links-carousel/product-links-carousel.component.spec.ts
  src/app/pages/product/components/product-links-carousel/product-links-carousel.component.ts
  src/app/pages/product/containers/product-links/product-links.container.html
  src/app/pages/product/product-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-797: implement ngx-swiper-wrapper and use it in carousel component for product links
  package-lock.json
  package.json
  src/app/core/core.module.ts
  src/app/pages/product/components/product-links-carousel/__snapshots__/product-links-carousel.component.spec.ts.snap
  src/app/pages/product/components/product-links-carousel/product-links-carousel.component.html
  src/app/pages/product/components/product-links-carousel/product-links-carousel.component.spec.ts
  src/app/pages/product/components/product-links-carousel/product-links-carousel.component.ts
  src/app/pages/product/containers/product-links/product-links.container.html
  src/app/pages/product/containers/product-links/product-links.container.spec.ts
  src/app/pages/product/containers/product-links/product-links.container.ts
  src/app/pages/product/product-page.container.html
  src/app/shared/shared.module.ts
  src/styles.scss
  src/theme/global/swiper.scss
  src/theme/main.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ignore certificate errors when downloading
  nginx/Dockerfile
Due: none

typed Angular CLI environment
  src/environments/environment.model.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

stabilize cypress for first page requests
  e2e/cypress/support/commands.js
Due: npx prettier --loglevel warn --write

ISREST-817: extend model
  src/app/core/models/product/product.interface.ts
  src/app/core/models/product/product.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-817: add roundedAverageRating to store
  src/app/core/models/product/__snapshots__/product.mapper.spec.ts.snap
  src/app/core/models/product/product.mapper.ts
  src/app/core/services/products/products.service.ts
  src/app/core/store/shopping/products/products.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-817: create product rating star component
  src/app/core/icon.module.ts
  src/app/shared/product/components/product-rating-star/product-rating-star.component.html
  src/app/shared/product/components/product-rating-star/product-rating-star.component.scss
  src/app/shared/product/components/product-rating-star/product-rating-star.component.spec.ts
  src/app/shared/product/components/product-rating-star/product-rating-star.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-817: create product rating component
  src/app/shared/product/components/product-rating/product-rating.component.html
  src/app/shared/product/components/product-rating/product-rating.component.spec.ts
  src/app/shared/product/components/product-rating/product-rating.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-817: add product rating with feature toggle to appropriate places
  src/app/core/icon.module.ts
  src/app/pages/compare/components/product-compare-list/product-compare-list.component.html
  src/app/pages/compare/components/product-compare-list/product-compare-list.component.spec.ts
  src/app/pages/product/components/product-detail/product-detail.component.html
  src/app/pages/product/components/product-detail/product-detail.component.spec.ts
  src/app/shared/product/components/product-row/product-row.component.html
  src/app/shared/product/components/product-row/product-row.component.spec.ts
  src/app/shared/product/components/product-tile/product-tile.component.html
  src/app/shared/product/components/product-tile/product-tile.component.spec.ts
  src/environments/environment.model.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

update mock-data with roundedAverageRating
  .createMockdata.table
  src/assets/mock-data/categories/Cameras-Camcorders/584/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_promotions_mastered_productMaster_productMasterSKU_roundedAverageRating_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
  src/assets/mock-data/categories/Cameras-Camcorders/832/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_promotions_mastered_productMaster_productMasterSKU_roundedAverageRating_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
  src/assets/mock-data/categories/Cameras-Camcorders/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_promotions_mastered_productMaster_productMasterSKU_roundedAverageRating_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
  src/assets/mock-data/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_promotions_mastered_productMaster_productMasterSKU_roundedAverageRating_offset_0_returnSortKeys_true_searchTerm_kodak.json
Due: npx prettier --loglevel warn --write

track roundedAverageRating as number
  src/app/core/models/product/__snapshots__/product.mapper.spec.ts.snap
  src/app/core/models/product/product.interface.ts
  src/app/core/models/product/product.mapper.ts
  src/app/core/models/product/product.model.ts
  src/app/shared/product/components/product-id/product-id.component.spec.ts
  src/app/shared/product/components/product-rating/product-rating.component.spec.ts
  src/app/shared/product/components/product-rating/product-rating.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-797: tests for product links
  src/app/core/services/products/products.service.spec.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/products/products.selectors.spec.ts
  src/app/pages/product/containers/product-links/product-links.container.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

jest upgrade
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

serialize actions and category trees with special serializers
  package-lock.json
  package.json
  src/app/core/models/category-tree/category-tree.helper.spec.ts
  src/app/core/models/category/category.mapper.spec.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/checkout-store.spec.ts
  src/app/core/store/content/includes/includes.effects.spec.ts
  src/app/core/store/content/pages/pages.effects.spec.ts
  src/app/core/store/shopping/filter/filter.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/search/search.effects.spec.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/core/store/user/user.effects.spec.ts
  src/app/core/utils/dev/ngrx-testing.ts
  src/app/pages/product/product-page.container.spec.ts
  src/setupJest.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

omit ng-reflect attributes without much information
  src/app/core/models/content-configuration-parameter/__snapshots__/content-configuration-parameter.mapper.spec.ts.snap
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.spec.ts
  src/app/core/models/http-error/__snapshots__/http-error.mapper.spec.ts.snap
  src/app/core/models/http-error/http-error.mapper.spec.ts
  src/app/pages/category/components/category-list/__snapshots__/category-list.component.spec.ts.snap
  src/app/pages/category/components/category-list/category-list.component.spec.ts
  src/app/pages/product/components/product-links-list/__snapshots__/product-links-list.component.spec.ts.snap
  src/app/pages/product/components/product-links-list/product-links-list.component.spec.ts
  src/app/shared/basket/components/line-item-description/line-item-description.component.spec.ts
  src/app/shared/cms/components/cms-carousel/__snapshots__/cms-carousel.component.spec.ts.snap
  src/app/shared/cms/components/cms-container/__snapshots__/cms-container.component.spec.ts.snap
  src/app/shared/cms/components/cms-container/cms-container.component.spec.ts
  src/app/shared/cms/components/cms-dialog/__snapshots__/cms-dialog.component.spec.ts.snap
  src/app/shared/cms/components/cms-dialog/cms-dialog.component.spec.ts
  src/app/shared/cms/components/cms-image/__snapshots__/cms-image.component.spec.ts.snap
  src/app/shared/cms/components/cms-image/cms-image.component.spec.ts
  src/app/shared/cms/components/cms-product-list/__snapshots__/cms-product-list.component.spec.ts.snap
  src/app/shared/cms/components/cms-product-list/cms-product-list.component.spec.ts
  src/app/shared/cms/sfe-adapter/__snapshots__/sfe.mapper.spec.ts.snap
  src/app/shared/cms/sfe-adapter/sfe.mapper.spec.ts
  src/app/shared/common/components/modal-dialog-link/__snapshots__/modal-dialog-link.component.spec.ts.snap
  src/app/shared/common/components/modal-dialog-link/modal-dialog-link.component.spec.ts
  src/app/shared/filter/components/filter-dropdown/__snapshots__/filter-dropdown.component.spec.ts.snap
  src/app/shared/filter/components/filter-swatch-images/__snapshots__/filter-swatch-images.component.spec.ts.snap
  src/app/shared/line-item/containers/line-item-edit-dialog/line-item-edit-dialog.container.spec.ts
  src/app/shared/product/components/product-list-paging/__snapshots__/product-list-paging.component.spec.ts.snap
  src/app/shared/product/components/product-list-paging/product-list-paging.component.spec.ts
  src/app/shell/header/components/header-navigation/__snapshots__/header-navigation.component.spec.ts.snap
  src/app/shell/header/components/header-navigation/header-navigation.component.spec.ts
  src/app/shell/header/components/header/__snapshots__/header.component.spec.ts.snap
  src/app/shell/header/components/sub-category-navigation/__snapshots__/sub-category-navigation.component.spec.ts.snap
  src/setupJest.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

remove return of categoryUniqueId from getCategoryProducts
  src/app/core/services/products/products.service.spec.ts
  src/app/core/services/products/products.service.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/shopping-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

safety fallback for buildVariationOptionGroups
  src/app/core/models/product-variation/product-variation.helper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

product listing view method for retrieving products of a specific page
  src/app/core/store/shopping/product-listing/product-listing.selectors.spec.ts
  src/app/core/store/shopping/product-listing/product-listing.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
