Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

refactor: use eslint accessibility plugin instead of single rules
  .eslintrc.json
  docs/guides/accessibility.md
  src/app/pages/product/product-images/product-images.component.html
  src/app/shared/components/common/paging/paging.component.html
  src/app/shared/components/promotion/promotion-details/promotion-details.component.html
  src/app/shell/header/header-navigation/header-navigation.component.html
Due: npx prettier --loglevel warn --write

test: adapt Jest and Universal tests after Angular 16 update
  e2e/test-universal.sh
  jest.config.js
  projects/organization-management/src/app/pages/cost-center-buyers/cost-center-buyers-page.component.spec.ts
  src/app/core/models/category-tree/category-tree.helper.spec.ts
  src/app/core/models/category/category.mapper.spec.ts
  src/app/core/models/content-page-tree/content-page-tree.helper.spec.ts
  src/app/core/models/content-page-tree/content-page-tree.mapper.spec.ts
  src/app/core/models/content-pagelet-entry-point/content-pagelet-entry-point.mapper.spec.ts
  src/app/core/models/content-pagelet/content-pagelet.mapper.spec.ts
  src/app/core/models/price/price.helper.spec.ts
  src/app/core/store/customer/data-requests/data-requests.effects.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.spec.ts
  src/app/extensions/quickorder/shared/direct-order/direct-order.component.spec.ts
  src/app/extensions/quickorder/shared/quickorder-add-products-form/quickorder-add-products-form.component.spec.ts
  src/app/pages/registration/registration-page.component.spec.ts
  src/app/shared/cms/components/content-pagelet/content-pagelet.component.spec.ts
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.spec.ts
  src/app/shared/formly/dev/testing/formly-testing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: remove ngcc after Angular 16 update
  Dockerfile
  Dockerfile_reports
  docs/guides/migrations.md
  package.json
Due: npx prettier --loglevel warn --write

refactor: remove 'entryComponents' because they are no longer available
  src/app/extensions/captcha/exports/lazy-captcha/lazy-captcha.component.spec.ts
  src/app/shared/cms/components/content-pagelet/content-pagelet.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: OCI punchout actions (adaption to the changed naming conventions)
  docs/guides/migrations.md
  src/app/core/models/http-error/http-error.model.ts
  src/app/extensions/punchout/facades/punchout.facade.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.effects.spec.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.effects.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.reducer.ts
  src/app/extensions/punchout/store/oci-configuration/oci-configuration.selectors.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: adapt imports for makeStateKey and TransferState
  docs/concepts/configuration.md
  docs/concepts/state-management.md
  src/app/app.module.ts
  src/app/app.server.module.ts
  src/app/core/configurations/ngrx-state-transfer.ts
  src/app/core/configurations/state-keys.ts
  src/app/core/internationalization.module.ts
  src/app/core/state-management.module.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/hybrid/hybrid-store.module.ts
  src/app/core/store/hybrid/hybrid.effects.ts
  src/app/core/utils/cookies/cookies.service.ts
  src/app/core/utils/theme/theme.service.ts
  src/app/core/utils/translate/icm-translate-loader.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.effects.ts
  src/app/shell/application/cookies-banner/cookies-banner.component.ts
  src/app/shell/footer/footer/footer.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove defaultProject option from angular.json
  angular.json
  docs/guides/migrations.md
  schematics/customization/add/index.js
  scripts/build-pwa.js
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update to Angular 16 + all other relevant dependencies updates
  .github/workflows/automated-upgrade.yml
  docs/guides/migrations.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

refactor: adapt code with updated and changed eslint rules
  .dockerignore
  .eslintrc.json
  .stylelintrc.json
  e2e/.eslintrc.json
  schematics/.eslintrc.json
  schematics/src/page/factory.ts
  scripts/update-dockerignore.js
  scripts/upgrade-pwa.js
  src/app/core/models/price-item/price-item.helper.spec.ts
  src/app/core/store/core/router/router.selectors.ts
  src/app/core/store/customer/basket/basket.reducer.ts
  src/app/core/store/shopping/product-listing/product-listing.selectors.ts
  src/app/core/utils/dev/decorators.ts
  src/app/core/utils/http-error/create-payment.error-handler.ts
  src/app/extensions/captcha/exports/lazy-captcha/lazy-captcha.component.spec.ts
  src/app/extensions/tacton/services/tacton-self-service-api/tacton-self-service-api.service.ts
  src/app/pages/checkout-payment/payment-payone-creditcard/payment-payone-creditcard.component.ts
  src/app/pages/checkout-shipping/checkout-shipping-page.component.ts
  src/app/shared/components/basket/basket-validation-results/basket-validation-results.component.ts
  src/app/shared/components/filter/filter-text/filter-text.component.ts
  src/app/shell/application/cookies-banner/cookies-banner.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: import adaptions for 'glob.sync' after dependencies update
  docs/check-dead-links.mjs
  eslint-rules/scripts/write-rule-index.mjs
  schematics/scripts/copy-dist-files.mjs
  schematics/scripts/generate-schema-defs.mjs
  scripts/cleanup-testbed.mjs
  scripts/compile-docker-scripts.js
Due: npx prettier --loglevel warn --write

refactor: provide App_ID instead of using the deprecated withServerTransition
  src/app/app.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: enable Angular Hydration
  docs/concepts/deployment-angular.md
  docs/guides/migrations.md
  src/app/app.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: trailing '/' in path results to a wrong multi channel configuration (#1553)
  nginx/templates/multi-channel.conf.tmpl
Due: none

fix: remove sortkey 'default' from product list REST calls to prevent inconsistent results
  src/app/core/services/products/products.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove sortkey 'default' from product list REST calls to prevent inconsistent results (#1550)
  src/app/core/services/products/products.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: sanitize potentially dangerous values in order template and wishlist titles
  src/app/extensions/order-templates/models/order-template/order-template.mapper.ts
  src/app/extensions/order-templates/services/order-template/order-template.service.spec.ts
  src/app/extensions/order-templates/services/order-template/order-template.service.ts
  src/app/extensions/wishlists/models/wishlist/wishlist.mapper.ts
  src/app/extensions/wishlists/services/wishlist/wishlist.service.spec.ts
  src/app/extensions/wishlists/services/wishlist/wishlist.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: sanitize potentially malicious values in order template and wishlist titles (#1551)
  src/app/extensions/order-templates/models/order-template/order-template.mapper.ts
  src/app/extensions/order-templates/services/order-template/order-template.service.spec.ts
  src/app/extensions/order-templates/services/order-template/order-template.service.ts
  src/app/extensions/wishlists/models/wishlist/wishlist.mapper.ts
  src/app/extensions/wishlists/services/wishlist/wishlist.service.spec.ts
  src/app/extensions/wishlists/services/wishlist/wishlist.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

added required inputs
  projects/organization-management/src/app/components/cost-center-budget/cost-center-budget.component.ts
  projects/organization-management/src/app/components/cost-center-form/cost-center-form.component.ts
  projects/organization-management/src/app/components/user-budget-form/user-budget-form.component.ts
  projects/organization-management/src/app/components/user-profile-form/user-profile-form.component.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-cost-center-approval/requisition-cost-center-approval.component.ts
  src/app/extensions/compare/pages/compare/product-compare-paging/product-compare-paging.component.ts
  src/app/extensions/product-notifications/shared/product-notification-delete/product-notification-delete.component.ts
  src/app/extensions/quoting/shared/quote-expiration-date/quote-expiration-date.component.ts
  src/app/extensions/quoting/shared/quote-line-item-list-element/quote-line-item-list-element.component.ts
  src/app/extensions/quoting/shared/quote-state/quote-state.component.ts
  src/app/extensions/tacton/pages/configure/tacton-readonly/tacton-readonly.component.html
  src/app/extensions/tacton/pages/configure/tacton-readonly/tacton-readonly.component.ts
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-line-item/account-wishlist-detail-line-item.component.ts
  src/app/pages/account-overview/account-overview/account-overview.component.ts
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.ts
  src/app/pages/account-payment/account-payment/account-payment.component.ts
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.ts
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.ts
  src/app/pages/account-profile/account-profile/account-profile.component.ts
  src/app/pages/category/category-categories/category-categories.component.ts
  src/app/pages/category/category-image/category-image.component.ts
  src/app/pages/category/category-navigation/category-navigation.component.ts
  src/app/pages/category/category-products/category-products.component.ts
  src/app/pages/category/category-tile/category-tile.component.ts
  src/app/pages/checkout-payment/formly/payment-save-checkbox/payment-save-checkbox.component.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
  src/app/pages/search/search-no-result/search-no-result.component.ts
  src/app/pages/search/search-result/search-result.component.ts
  src/app/shared/cms/components/content-include/content-include.component.ts
  src/app/shared/cms/components/content-navigation/content-navigation.component.html
  src/app/shared/cms/components/content-navigation/content-navigation.component.ts
  src/app/shared/cms/components/content-slot/content-slot.component.ts
  src/app/shared/cms/components/content-viewcontext/content-viewcontext.component.ts
  src/app/shared/forms/components/form-control-feedback/form-control-feedback.component.ts
  src/app/shell/header/sub-category-navigation/sub-category-navigation.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

added required inputs
  src/app/extensions/captcha/exports/lazy-captcha/lazy-captcha.component.ts
  src/app/extensions/product-notifications/shared/product-notification-edit-form/product-notification-edit-form.component.ts
  src/app/extensions/punchout/pages/account-punchout/account-punchout-header/account-punchout-header.component.ts
  src/app/pages/account-payment/account-payment/account-payment.component.ts
  src/app/pages/account-profile-company/account-profile-company/account-profile-company.component.ts
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/shared/components/filter/filter-collapsible/filter-collapsible.component.ts
  src/app/shared/components/product/product-image/product-image.component.ts
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.ts
  src/app/shared/formly-address-forms/components/formly-address-form/formly-address-form.component.ts
  src/app/shared/forms/components/form-control-feedback/form-control-feedback.component.ts
  src/app/shell/header/sub-category-navigation/sub-category-navigation.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

added required inputs
  src/app/extensions/product-notifications/shared/product-notification-edit-form/product-notification-edit-form.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add migration note for required input parameters
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

fix: use take instead of first to prevent EmptyError on missing translation
  src/app/core/utils/translate/fallback-missing-translation-handler.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixed jest
  src/app/core/store/customer/customer-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

jest - removed unnecessary selector
  src/app/core/services/basket-items/basket-items.service.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

removed unused exports
  src/app/core/services/basket-items/basket-items.service.ts
  src/app/core/services/basket/basket.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

moved currentBasketEndpoint() from BasketService into ApiService; tests not working
  src/app/core/services/api/api.service.ts
  src/app/core/services/basket-items/basket-items.service.spec.ts
  src/app/core/services/basket-items/basket-items.service.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/services/payment/payment.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixed jest
  src/app/core/services/basket-items/basket-items.service.spec.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/payment/payment.service.spec.ts
  src/app/core/store/customer/customer-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

extracted basket-items functions from the basket-service into a separate service
  src/app/core/services/basket-items/basket-items.service.spec.ts
  src/app/core/services/basket-items/basket-items.service.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

added comments
  src/app/core/services/basket-items/basket-items.service.ts
  src/app/core/services/basket/basket.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

added migration node
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

refactor: introduce a basket-items-service (#1505)
  docs/guides/migrations.md
  src/app/core/services/api/api.service.ts
  src/app/core/services/basket-items/basket-items.service.spec.ts
  src/app/core/services/basket-items/basket-items.service.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/services/payment/payment.service.spec.ts
  src/app/core/services/payment/payment.service.ts
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/customer-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

An infinite loop can occur in the mapping of the content page tree.
  src/app/core/models/content-page-tree-view/content-page-tree-view.model.spec.ts
  src/app/core/models/content-page-tree-view/content-page-tree-view.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
