Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

feat: introduce formly field reusability feature (#1017)
  .eslintrc.json
  .github/workflows/docs.yml
  docs/README.md
  docs/guides/field-library.md
  docs/guides/forms.md
  docs/guides/migrations.md
  docs/sync-formly-docs.ts
  eslint-rules/src/index.ts
  eslint-rules/src/rules/no-formly-explicit-pseudo-type.ts
  eslint-rules/src/rules/project-structure.ts
  eslint-rules/tests/no-formly-explicit-pseudo-type.spec.ts
  eslint-rules/tests/project-structure.spec.ts
  schematics/src/collection.json
  schematics/src/field-library-configuration/factory.ts
  schematics/src/field-library-configuration/factory_spec.ts
  schematics/src/field-library-configuration/files/__name@dasherize__.configuration.ts.template
  schematics/src/field-library-configuration/schema.json
  src/app/shared/formly/dev/testing/formly-testing.module.ts
  src/app/shared/formly/field-library/configurations/address-line-1.configuration.ts
  src/app/shared/formly/field-library/configurations/address-line-2.configuration.ts
  src/app/shared/formly/field-library/configurations/city.configuration.ts
  src/app/shared/formly/field-library/configurations/company-name-1.configuration.ts
  src/app/shared/formly/field-library/configurations/company-name-2.configuration.ts
  src/app/shared/formly/field-library/configurations/field-library-configuration.ts
  src/app/shared/formly/field-library/configurations/first-name.configuration.ts
  src/app/shared/formly/field-library/configurations/last-name.configuration.ts
  src/app/shared/formly/field-library/configurations/phone-home.configuration.ts
  src/app/shared/formly/field-library/configurations/postal-code.configuration.ts
  src/app/shared/formly/field-library/configurations/taxation-id.configuration.ts
  src/app/shared/formly/field-library/configurations/title.configuration.ts
  src/app/shared/formly/field-library/field-library.module.ts
  src/app/shared/formly/field-library/field-library.spec.ts
  src/app/shared/formly/field-library/field-library.ts
  src/app/shared/formly/field-library/library-config-replacement.extension.ts
  src/app/shared/formly/formly.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use field library in several PWA locations (#1017)
  projects/organization-management/src/app/components/user-profile-form/user-profile-form.component.spec.ts
  projects/organization-management/src/app/components/user-profile-form/user-profile-form.component.ts
  src/app/pages/account-profile-company/account-profile-company/account-profile-company.component.spec.ts
  src/app/pages/account-profile-company/account-profile-company/account-profile-company.component.ts
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.spec.ts
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.ts
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.spec.ts
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.spec.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/formly-address-forms/configurations/address-form.configuration.ts
  src/app/shared/formly-address-forms/configurations/de/address-form-de.configuration.ts
  src/app/shared/formly-address-forms/configurations/fr/address-form-fr.configuration.ts
  src/app/shared/formly-address-forms/configurations/gb/address-form-gb.configuration.ts
  src/app/shared/formly-address-forms/configurations/us/address-form-us.configuration.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

calling payone rest endpoints
  src/app/pages/checkout-payment/payment-payone-directdebit-manage-mandate/payment-payone-directdebit-manage-mandate.component.html
  src/app/pages/checkout-payment/payment-payone-directdebit-manage-mandate/payment-payone-directdebit-manage-mandate.component.ts
  src/assets/i18n/de_DE.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add migration hint
  docs/guides/migrations.md
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore(eslint): change imports from experimental-utils to utils
  .eslintrc.json
  eslint-rules/src/rules/no-formly-explicit-pseudo-type.ts
  eslint-rules/tests/no-formly-explicit-pseudo-type.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: move up docu about formly changes for 2.2 + migration note reordering
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

chore: formly field reusability fixes (#1099)
  .eslintrc.json
  docs/guides/migrations.md
  eslint-rules/src/rules/no-formly-explicit-pseudo-type.ts
  eslint-rules/tests/no-formly-explicit-pseudo-type.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 2.2.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: release 2.2.0 preparation (#1101)
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: update cypress to version 9.5.3
  e2e/package.json
Due: npx prettier --loglevel warn --write

refactor(eslint): generate rule index on build
  .eslintrc.json
  eslint-rules/package.json
  eslint-rules/scripts/write-rule-index.mjs
  eslint-rules/src/index.ts
  eslint-rules/tsconfig.json
  schematics/src/eslint-rule/factory.ts
  schematics/src/eslint-rule/factory_spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor(eslint): improve typing of rule settings
  eslint-rules/src/rules/ban-imports-file-pattern.ts
  eslint-rules/src/rules/component-creation-test.ts
  eslint-rules/src/rules/meaningful-describe-in-tests.ts
  eslint-rules/src/rules/newline-before-root-members.ts
  eslint-rules/src/rules/no-assignment-to-inputs.ts
  eslint-rules/src/rules/no-collapsible-if.ts
  eslint-rules/src/rules/no-formly-explicit-pseudo-type.ts
  eslint-rules/src/rules/no-initialize-observables-directly.ts
  eslint-rules/src/rules/no-intelligence-in-artifacts.ts
  eslint-rules/src/rules/no-object-literal-type-assertion.ts
  eslint-rules/src/rules/no-return-undefined.ts
  eslint-rules/src/rules/no-star-imports-in-store.ts
  eslint-rules/src/rules/no-testbed-with-then.ts
  eslint-rules/src/rules/no-var-before-return.ts
  eslint-rules/src/rules/ordered-imports.ts
  eslint-rules/src/rules/private-destroy-field.ts
  eslint-rules/src/rules/project-structure.ts
  eslint-rules/src/rules/require-formly-code-documentation.ts
  eslint-rules/src/rules/sort-testbed-metadata-arrays.ts
  eslint-rules/src/rules/use-alias-imports.ts
  eslint-rules/src/rules/use-async-synchronization-in-tests.ts
  eslint-rules/src/rules/use-camel-case-environment-properties.ts
  eslint-rules/src/rules/use-component-change-detection.ts
  eslint-rules/src/rules/use-correct-component-overrides.ts
  eslint-rules/src/rules/use-jest-extended-matchers-in-tests.ts
  eslint-rules/tests/ban-imports-file-pattern.spec.ts
  eslint-rules/tests/no-intelligence-in-artifacts.spec.ts
  eslint-rules/tests/project-structure.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: debounce changes made to the context
  src/app/core/facades/product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: export product context for debug usage
  src/app/core/directives/product-context.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: add property for always emitting context
  src/app/core/directives/product-context-access.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: allow strings as propagate index
  src/app/core/directives/product-context.directive.ts
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rework context propagation mechanism
  src/app/core/directives/product-context.directive.ts
  src/app/core/facades/product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test(eslint): remove rule name from tests
  eslint-rules/tests/_execute-tests.ts
  eslint-rules/tests/ban-imports-file-pattern.spec.ts
  eslint-rules/tests/component-creation-test.spec.ts
  eslint-rules/tests/do-not-use-theme-identifier.spec.ts
  eslint-rules/tests/meaningful-describe-in-tests.spec.ts
  eslint-rules/tests/newline-before-root-members.spec.ts
  eslint-rules/tests/no-assignment-to-inputs.spec.ts
  eslint-rules/tests/no-collapsible-if.spec.ts
  eslint-rules/tests/no-formly-explicit-pseudo-type.spec.ts
  eslint-rules/tests/no-initialize-observables-directly.spec.ts
  eslint-rules/tests/no-intelligence-in-artifacts.spec.ts
  eslint-rules/tests/no-object-literal-type-assertion.spec.ts
  eslint-rules/tests/no-return-undefined.spec.ts
  eslint-rules/tests/no-star-imports-in-store.spec.ts
  eslint-rules/tests/no-testbed-with-then.spec.ts
  eslint-rules/tests/no-var-before-return.spec.ts
  eslint-rules/tests/ordered-imports.spec.ts
  eslint-rules/tests/private-destroy-field.spec.ts
  eslint-rules/tests/project-structure.spec.ts
  eslint-rules/tests/require-formly-code-documentation.spec.ts
  eslint-rules/tests/sort-testbed-metadata-arrays.spec.ts
  eslint-rules/tests/use-alias-imports.spec.ts
  eslint-rules/tests/use-async-synchronization-in-tests.spec.ts
  eslint-rules/tests/use-camel-case-environment-properties-rule.spec.ts
  eslint-rules/tests/use-component-change-detection.spec.ts
  eslint-rules/tests/use-correct-component-overrides.spec.ts
  eslint-rules/tests/use-jest-extended-matchers-in-tests.spec.ts
  schematics/src/eslint-rule/files/tests/__name@dasherize__.spec.ts.template
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor(eslint): improve typing of messages
  eslint-rules/src/rules/ban-imports-file-pattern.ts
  eslint-rules/src/rules/component-creation-test.ts
  eslint-rules/src/rules/do-not-use-theme-identifier.ts
  eslint-rules/src/rules/meaningful-describe-in-tests.ts
  eslint-rules/src/rules/newline-before-root-members.ts
  eslint-rules/src/rules/no-assignment-to-inputs.ts
  eslint-rules/src/rules/no-collapsible-if.ts
  eslint-rules/src/rules/no-formly-explicit-pseudo-type.ts
  eslint-rules/src/rules/no-initialize-observables-directly.ts
  eslint-rules/src/rules/no-intelligence-in-artifacts.ts
  eslint-rules/src/rules/no-object-literal-type-assertion.ts
  eslint-rules/src/rules/no-return-undefined.ts
  eslint-rules/src/rules/no-star-imports-in-store.ts
  eslint-rules/src/rules/no-testbed-with-then.ts
  eslint-rules/src/rules/no-var-before-return.ts
  eslint-rules/src/rules/ordered-imports.ts
  eslint-rules/src/rules/private-destroy-field.ts
  eslint-rules/src/rules/project-structure.ts
  eslint-rules/src/rules/require-formly-code-documentation.ts
  eslint-rules/src/rules/sort-testbed-metadata-arrays.ts
  eslint-rules/src/rules/use-alias-imports.ts
  eslint-rules/src/rules/use-async-synchronization-in-tests.ts
  eslint-rules/src/rules/use-camel-case-environment-properties.ts
  eslint-rules/src/rules/use-component-change-detection.ts
  eslint-rules/src/rules/use-correct-component-overrides.ts
  eslint-rules/src/rules/use-jest-extended-matchers-in-tests.ts
  schematics/src/eslint-rule/files/src/rules/__name@dasherize__.ts.template
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test(eslint): use jest as test runner
  eslint-rules/package.json
  eslint-rules/tests/_execute-tests.ts
  eslint-rules/tests/ban-imports-file-pattern.spec.ts
  eslint-rules/tests/component-creation-test.spec.ts
  eslint-rules/tests/do-not-use-theme-identifier.spec.ts
  eslint-rules/tests/meaningful-describe-in-tests.spec.ts
  eslint-rules/tests/newline-before-root-members.spec.ts
  eslint-rules/tests/no-assignment-to-inputs.spec.ts
  eslint-rules/tests/no-collapsible-if.spec.ts
  eslint-rules/tests/no-formly-explicit-pseudo-type.spec.ts
  eslint-rules/tests/no-initialize-observables-directly.spec.ts
  eslint-rules/tests/no-intelligence-in-artifacts.spec.ts
  eslint-rules/tests/no-object-literal-type-assertion.spec.ts
  eslint-rules/tests/no-return-undefined.spec.ts
  eslint-rules/tests/no-star-imports-in-store.spec.ts
  eslint-rules/tests/no-testbed-with-then.spec.ts
  eslint-rules/tests/no-var-before-return.spec.ts
  eslint-rules/tests/ordered-imports.spec.ts
  eslint-rules/tests/private-destroy-field.spec.ts
  eslint-rules/tests/project-structure.spec.ts
  eslint-rules/tests/require-formly-code-documentation.spec.ts
  eslint-rules/tests/rule-tester.ts
  eslint-rules/tests/sort-testbed-metadata-arrays.spec.ts
  eslint-rules/tests/use-alias-imports.spec.ts
  eslint-rules/tests/use-async-synchronization-in-tests.spec.ts
  eslint-rules/tests/use-camel-case-environment-properties-rule.spec.ts
  eslint-rules/tests/use-component-change-detection.spec.ts
  eslint-rules/tests/use-correct-component-overrides.spec.ts
  eslint-rules/tests/use-jest-extended-matchers-in-tests.spec.ts
  eslint-rules/tsconfig.json
  package.json
  schematics/src/eslint-rule/files/tests/__name@dasherize__.spec.ts.template
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display buyer information for orders based on order response data and not based on data of the logged in customer
  projects/requisition-management/src/app/components/requisitions-list/requisitions-list.component.spec.ts
  projects/requisition-management/src/app/models/requisition/requisition.mapper.spec.ts
  projects/requisition-management/src/app/models/requisition/requisition.model.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-buyer-approval/requisition-buyer-approval.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-cost-center-approval/requisition-cost-center-approval.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-cost-center-approval/requisition-cost-center-approval.component.ts
  projects/requisition-management/src/app/store/requisitions/requisitions.selectors.spec.ts
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/basket/basket.model.ts
  src/app/core/models/order/order.interface.ts
  src/app/core/models/order/order.mapper.ts
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.html
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.spec.ts
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(eslint): private-destroy-field should use Subject<void>
  eslint-rules/src/rules/private-destroy-field.ts
  eslint-rules/tests/private-destroy-field.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(eslint): no-initialize-observables-directly should report when observable initialized in constructor
  eslint-rules/src/rules/no-initialize-observables-directly.ts
  eslint-rules/tests/no-initialize-observables-directly.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test(eslint): add test descriptions
  eslint-rules/tests/ban-imports-file-pattern.spec.ts
  eslint-rules/tests/do-not-use-theme-identifier.spec.ts
  eslint-rules/tests/meaningful-describe-in-tests.spec.ts
  eslint-rules/tests/newline-before-root-members.spec.ts
  eslint-rules/tests/no-assignment-to-inputs.spec.ts
  eslint-rules/tests/no-collapsible-if.spec.ts
  eslint-rules/tests/no-initialize-observables-directly.spec.ts
  eslint-rules/tests/no-intelligence-in-artifacts.spec.ts
  eslint-rules/tests/no-object-literal-type-assertion.spec.ts
  eslint-rules/tests/no-return-undefined.spec.ts
  eslint-rules/tests/no-star-imports-in-store.spec.ts
  eslint-rules/tests/no-testbed-with-then.spec.ts
  eslint-rules/tests/no-var-before-return.spec.ts
  eslint-rules/tests/ordered-imports.spec.ts
  eslint-rules/tests/private-destroy-field.spec.ts
  eslint-rules/tests/project-structure.spec.ts
  eslint-rules/tests/sort-testbed-metadata-arrays.spec.ts
  eslint-rules/tests/use-alias-imports.spec.ts
  eslint-rules/tests/use-async-synchronization-in-tests.spec.ts
  eslint-rules/tests/use-camel-case-environment-properties-rule.spec.ts
  eslint-rules/tests/use-component-change-detection.spec.ts
  eslint-rules/tests/use-jest-extended-matchers-in-tests.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: checkout payment submit disabled check
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: correct PurgeCSS styling exemption for date picker styles
  src/styles/global/forms.scss
Due: none

chore: fix package-lock.json inconsistency
  package-lock.json
Due: npx prettier --loglevel warn --write

fix: adapt private-destroy-field rule
  eslint-rules/src/rules/private-destroy-field.ts
  eslint-rules/tests/private-destroy-field.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: adjusted localization in context of release 2.2.0
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: second login in another tab gets lost
  src/app/core/utils/api-token/api-token.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: adjusted localization in context of release 2.2.0 (#1107)
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: remove equal character from url slugs
  src/app/core/utils/routing.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fix spacing for old prices and scaled prices
  src/app/shared/components/product/product-price/product-price.component.html
  src/app/shared/components/product/product-price/product-price.component.spec.ts
  src/styles/pages/category/category.scss
  src/styles/pages/category/product-list.scss
  src/styles/pages/productdetail/product-info.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fix spacing for old prices and scaled prices
  src/app/shared/components/product/product-price/product-price.component.html
  src/app/shared/components/product/product-price/product-price.component.spec.ts
  src/styles/global/forms.scss
  src/styles/pages/category/category.scss
  src/styles/pages/category/product-list.scss
  src/styles/pages/productdetail/product-info.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove equal character from url slugs (#1112)
  src/app/core/utils/routing.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
