Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

refactor: necessary code adaptions after dependencies updates
  eslint-rules/src/rules/no-assignment-to-inputs.ts
  eslint-rules/src/rules/no-initialize-observables-directly.ts
  eslint-rules/src/rules/private-destroy-field.ts
  eslint-rules/tests/no-initialize-observables-directly.spec.ts
  eslint-rules/tests/private-destroy-field.spec.ts
  projects/organization-management/src/app/store/organization-management-store.module.ts
  projects/requisition-management/src/app/store/requisition-management-store.module.ts
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
  scripts/find-dead-code.ts
  src/app/core/state-management.module.ts
  src/app/core/store/content/content-store.module.ts
  src/app/core/store/core/configuration/configuration.effects.spec.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/viewconf/viewconf.effects.ts
  src/app/core/store/customer/addresses/addresses.selectors.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/customer/customer-store.module.ts
  src/app/core/store/customer/orders/orders.effects.ts
  src/app/core/utils/meta-reducers.spec.ts
  src/app/core/utils/meta-reducers.ts
  src/app/core/utils/module-loader/module-loader.service.ts
  src/app/core/utils/operators.spec.ts
  src/app/core/utils/translate/fallback-missing-translation-handler.ts
  src/app/extensions/order-templates/store/order-templates-store.module.ts
  src/app/extensions/punchout/store/punchout-store.module.ts
  src/app/extensions/quoting/store/quoting-store.module.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.effects.ts
  src/app/extensions/tracking/store/tracking-config/tracking-config.effects.ts
  src/app/extensions/wishlists/store/wishlists-store.module.ts
  src/app/shared/components/login/identity-provider-login/identity-provider-login.component.ts
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update swiper to version 7 (#892)
  jest.config.js
  package-lock.json
  package.json
  scripts/upgrade-pwa.js
  src/app/extensions/wishlists/shared/wishlist-widget/wishlist-widget.component.ts
  src/app/pages/product/product-images/product-images.component.html
  src/app/pages/product/product-images/product-images.component.spec.ts
  src/app/pages/product/product-images/product-images.component.ts
  src/app/pages/product/product-links-carousel/product-links-carousel.component.ts
  src/app/shared/components/product/products-list/products-list.component.ts
  src/styles/global/swiper.scss
  src/styles/main.scss
  tsconfig.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update polyfills.ts and .browserslistrc according to Angular 13.0.2 defaults
  .browserslistrc
  .vscode/intershop.txt
  docs/concepts/localization.md
  package-lock.json
  package.json
  src/polyfills.ts
  src/setupJest.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: formly 6 update and necessary code adaptions
  package-lock.json
  package.json
  src/app/extensions/captcha/exports/lazy-captcha/lazy-captcha.component.spec.ts
  src/app/extensions/captcha/exports/lazy-captcha/lazy-captcha.component.ts
  src/app/extensions/quickorder/shared/direct-order/direct-order.component.spec.ts
  src/app/extensions/quickorder/shared/formly/quickorder-repeat-field/quickorder-repeat-field.component.html
  src/app/extensions/quickorder/shared/quickorder-add-products-form/quickorder-add-products-form.component.spec.ts
  src/app/pages/account-addresses/account-addresses/account-addresses.component.spec.ts
  src/app/pages/account-profile-company/account-profile-company/account-profile-company.component.spec.ts
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.spec.ts
  src/app/pages/account-profile-password/account-profile-password/account-profile-password.component.spec.ts
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.ts
  src/app/pages/checkout-shipping/checkout-shipping/checkout-shipping.component.spec.ts
  src/app/pages/contact/contact-form/contact-form.component.spec.ts
  src/app/pages/registration/formly/registration-address-field/registration-address-field.component.ts
  src/app/pages/registration/formly/registration-tac-field/registration-tac-field.component.ts
  src/app/pages/registration/registration-page.component.spec.ts
  src/app/pages/registration/registration-page.component.ts
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.spec.ts
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.spec.ts
  src/app/shared/formly/extensions/hide-if-empty-options.extension.ts
  src/app/shared/formly/formly.module.ts
  src/app/shared/formly/types/captcha-field/captcha-field.component.html
  src/app/shared/formly/types/captcha-field/captcha-field.component.ts
  src/app/shared/formly/types/checkbox-field/checkbox-field.component.ts
  src/app/shared/formly/types/radio-field/radio-field.component.ts
  src/app/shared/formly/types/select-field/select-field.component.ts
  src/app/shared/formly/types/text-input-field/text-input-field.component.ts
  src/app/shared/formly/types/textarea-field/textarea-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

scroll directive
  src/app/core/directives.module.ts
  src/app/core/directives/scroll.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: 'add to quote' button styling configuration change
  src/app/extensions/quoting/shared/product-add-to-quote/product-add-to-quote.component.html
  src/app/pages/product/product-detail/product-detail.component.html
  src/assets/i18n/en_US.json
Due: npx prettier --loglevel warn --write

feat: extend product image component by an optional link target parameter
  src/app/shared/components/product/product-image/product-image.component.html
  src/app/shared/components/product/product-image/product-image.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: cost center management improvements and fixes
  projects/organization-management/src/app/components/cost-center-budget/cost-center-budget.component.html
  projects/organization-management/src/app/components/cost-center-budget/cost-center-budget.component.ts
  projects/organization-management/src/app/components/cost-center-widget/cost-center-widget.component.html
  projects/organization-management/src/app/pages/cost-center-detail/cost-center-detail-page.component.html
  projects/organization-management/src/app/pages/cost-center-detail/cost-center-detail-page.component.spec.ts
  projects/organization-management/src/app/pages/cost-center-detail/cost-center-detail-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: optional info-box heading, parameter docu
  src/app/shared/components/common/info-box/info-box.component.html
  src/app/shared/components/common/info-box/info-box.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: move the position of the CSSClass configuration from the 'img' to the 'div' tag
  src/app/shared/cms/components/cms-image/cms-image.component.html
  src/app/shared/cms/components/cms-image/cms-image.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

use scroll directive
  src/app/shared/components/basket/basket-validation-results/basket-validation-results.component.html
  src/app/shared/components/basket/basket-validation-results/basket-validation-results.component.spec.ts
  src/app/shared/components/basket/basket-validation-results/basket-validation-results.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Scrolling to error message (#949)
  src/app/core/directives.module.ts
  src/app/core/directives/scroll.directive.ts
  src/app/shared/components/basket/basket-validation-results/basket-validation-results.component.html
  src/app/shared/components/basket/basket-validation-results/basket-validation-results.component.spec.ts
  src/app/shared/components/basket/basket-validation-results/basket-validation-results.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: transform some eslint errors to warnings
  .eslintrc.json
Due: npx prettier --loglevel warn --write

feat: render additional CMS demo content artifacts (#967)
  src/app/pages/basket/basket-page.component.html
  src/app/pages/basket/basket-page.component.spec.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/category/category-categories/category-categories.component.html
  src/app/pages/category/category-categories/category-categories.component.spec.ts
  src/app/pages/category/category-products/category-products.component.html
  src/app/pages/category/category-products/category-products.component.spec.ts
  src/app/pages/product/product-detail/product-detail.component.html
  src/app/pages/product/product-detail/product-detail.component.spec.ts
  src/app/pages/product/product-detail/product-detail.component.ts
  src/app/pages/product/product-page.component.html
  src/app/pages/product/product-page.component.spec.ts
  src/app/pages/product/product-page.component.ts
  src/app/pages/search/search-no-result/search-no-result.component.html
  src/app/pages/search/search-no-result/search-no-result.component.spec.ts
  src/app/pages/search/search-result/search-result.component.html
  src/app/pages/search/search-result/search-result.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: add dynamic punchout type to punchout service
  src/app/extensions/punchout/services/punchout/punchout.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix missing space on caching ignore
  nginx/entrypoint.sh
Due: none

refactor: add dynamic punchout type to punchout service (#996)
  src/app/extensions/punchout/services/punchout/punchout.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: local ICM cache for (performance) testing purposes
  scripts/icm-cache.js
Due: npx prettier --loglevel warn --write

chore: PM2 logging adaptions for the Intershop Commerce-Plattform (#980)
  server.ts
  src/ssr/server-scripts/build-ecosystem.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: configure eslint rules to show warnings instead of errors (#995)
  .eslintrc.json
Due: npx prettier --loglevel warn --write

docs: local ICM cache for (performance) testing purposes - add integration documentation
  scripts/icm-cache.js
Due: npx prettier --loglevel warn --write

feat: local ICM cache for (performance) testing purposes (#867)
  scripts/icm-cache.js
Due: npx prettier --loglevel warn --write

test: adapt search e2e test to changed solr search behavior
  e2e/cypress/integration/specs/checkout/checkout-cost-center-multiple.b2b.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/search-products.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update Cypress to version 9.4
  e2e/package.json
Due: npx prettier --loglevel warn --write

deps: revert '@types/node' dependency update to version 14
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat: replace product detail info accordion with tabs
  e2e/cypress/integration/pages/shopping/product-detail.page.ts
  e2e/cypress/integration/specs/shopping/variation-handling.b2b.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/variation-handling.b2c.e2e-spec.ts
  src/app/pages/product/product-detail-info-accordion/product-detail-info-accordion.component.html
  src/app/pages/product/product-detail-info/product-detail-info.component.html
  src/app/pages/product/product-detail-info/product-detail-info.component.spec.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.ts
  src/app/pages/product/product-detail/product-detail.component.html
  src/app/pages/product/product-detail/product-detail.component.spec.ts
  src/app/pages/product/product-page.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/pages/productdetail/productdetail.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: replace product detail info accordion with tabs (#994)
  e2e/cypress/integration/pages/shopping/product-detail.page.ts
  e2e/cypress/integration/specs/shopping/variation-handling.b2b.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/variation-handling.b2c.e2e-spec.ts
  src/app/pages/product/product-detail-info-accordion/product-detail-info-accordion.component.html
  src/app/pages/product/product-detail-info/product-detail-info.component.html
  src/app/pages/product/product-detail-info/product-detail-info.component.spec.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.ts
  src/app/pages/product/product-detail/product-detail.component.html
  src/app/pages/product/product-detail/product-detail.component.spec.ts
  src/app/pages/product/product-page.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/pages/productdetail/productdetail.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: minor bugs concerning the preferred wishlist behavior
  src/app/extensions/wishlists/shared/select-wishlist-form/select-wishlist-form.component.ts
  src/app/extensions/wishlists/shared/select-wishlist-modal/select-wishlist-modal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
