Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: PATCH call introduced, update basket call adapted to REST api 1.0
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/api/api.service.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.actions.spec.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/basket/basket.reducer.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: update and delete item requests adapted to REST api 1.0
  src/app/core/services/api/api.service.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: get eligible shipping methods by using the REST api v1
  src/app/core/models/shipping-method/shipping-method.model.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/models/shipping-method/shipping-method.interface.ts
  src/app/models/shipping-method/shipping-method.mapper.spec.ts
  src/app/models/shipping-method/shipping-method.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: calculate basket after operations which use still the api v0 (add payment, add quote), create basket before adding a quote to basket if necessary, small bug fixes
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/basket/basket.mapper.spec.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/price/price.model.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/models/price/price.mapper.ts
  src/app/shared/basket/components/basket-cost-summary/basket-cost-summary.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: addItemToBasket call update to REST api 1.0
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: use new REST API for getBasket and createBasket
  src/app/core/models/basket-rebate/basket-rebate.model.ts
  src/app/core/models/basket-total/basket-total.interface.ts
  src/app/core/models/basket-total/basket-total.model.ts
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/basket/basket.mapper.spec.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/order/order.mapper.spec.ts
  src/app/core/models/price/price.model.ts
  src/app/core/models/price/price.pipe.ts
  src/app/core/services/api/api.service.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/checkout-store.spec.ts
  src/app/core/utils/dev/basket-mock-data.ts
  src/app/models/basket-rebate/basket-rebate.interface.ts
  src/app/models/basket-rebate/basket-rebate.mapper.spec.ts
  src/app/models/basket-rebate/basket-rebate.mapper.ts
  src/app/models/price-item/price-item.interface.ts
  src/app/models/price/price.interface.ts
  src/app/models/price/price.mapper.spec.ts
  src/app/models/price/price.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: adapt some files to new project structure
  src/app/core/models/basket-rebate/basket-rebate.interface.ts
  src/app/core/models/basket-rebate/basket-rebate.mapper.spec.ts
  src/app/core/models/basket-rebate/basket-rebate.mapper.ts
  src/app/core/models/price-item/price-item.interface.ts
  src/app/core/models/price/price.interface.ts
  src/app/core/models/price/price.mapper.spec.ts
  src/app/core/models/price/price.mapper.ts
  src/app/core/models/shipping-method/shipping-method.interface.ts
  src/app/core/models/shipping-method/shipping-method.mapper.spec.ts
  src/app/core/models/shipping-method/shipping-method.mapper.ts
  src/app/core/services/basket/basket.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

retry cypress remote test automatically
  .gitlab-ci.yml
Due: none

added focused style for valid fields and Blue Box for neutral form fields, correct shadows for validation
  src/theme/global/forms/fields.scss
  src/theme/global/forms/forms.scss
  src/theme/variables.scss
Due: none

ISREST-522 : add Product Label Component to display product label
  src/app/shared/product/components/product-label/product-label.component.html
  src/app/shared/product/components/product-label/product-label.component.spec.ts
  src/app/shared/product/components/product-label/product-label.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-522 : retrieve product label attributes from REST and save it to the product data
  src/app/core/models/attribute-group/attribute-group.model.ts
  src/app/core/models/attribute-group/attribute-group.types.ts
  src/app/core/models/product/__snapshots__/product.mapper.spec.ts.snap
  src/app/core/models/product/product.helper.spec.ts
  src/app/core/models/product/product.helper.ts
  src/app/core/models/product/product.interface.ts
  src/app/core/models/product/product.mapper.ts
  src/app/core/models/product/product.model.ts
  src/app/core/services/products/products.service.ts
  src/assets/mock-data/categories/Cameras-Camcorders/584/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
  src/assets/mock-data/categories/Cameras-Camcorders/832/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
  src/assets/mock-data/categories/Cameras-Camcorders/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-522 : use Product Label Component on Product Detail Page (ProductImagesComponent) and Product Tile
  src/app/pages/product/components/product-images/product-images.component.html
  src/app/pages/product/components/product-images/product-images.component.spec.ts
  src/app/shared/product/components/product-row/product-row.component.html
  src/app/shared/product/components/product-row/product-row.component.spec.ts
  src/app/shared/product/components/product-tile/product-tile.component.html
  src/app/shared/product/components/product-tile/product-tile.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-161: added CategoryTileComponent and CategoryImageComponent and used it on the CategoryListComponent
  src/app/pages/category/category-page.module.ts
  src/app/pages/category/components/category-image/category-image.component.html
  src/app/pages/category/components/category-image/category-image.component.spec.ts
  src/app/pages/category/components/category-image/category-image.component.ts
  src/app/pages/category/components/category-list/__snapshots__/category-list.component.spec.ts.snap
  src/app/pages/category/components/category-list/category-list.component.html
  src/app/pages/category/components/category-list/category-list.component.spec.ts
  src/app/pages/category/components/category-list/category-list.component.ts
  src/app/pages/category/components/category-tile/category-tile.component.html
  src/app/pages/category/components/category-tile/category-tile.component.spec.ts
  src/app/pages/category/components/category-tile/category-tile.component.ts
  src/theme/pages/category/category-page.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-161: improved code style (moved logic from template to component) of ProductImageComponent and added documentation
  src/app/pages/product/components/product-images/product-images.component.spec.ts
  src/app/shell/header/components/product-image/product-image.component.html
  src/app/shell/header/components/product-image/product-image.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-533: Outgoing HTTP POST Requests - Add locale in URI path param
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/api/api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix for the product image alternative text generation functionality in case the product input is still undefined
  src/app/shell/header/components/product-image/product-image.component.spec.ts
  src/app/shell/header/components/product-image/product-image.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

added tslint rule no-extra-boolean-cast
  package-lock.json
  package.json
  tslint.json
Due: npx prettier --loglevel warn --write

added tslint task for vscode
  .vscode/tasks.json
Due: npx prettier --loglevel warn --write

fixes for no-extra-boolean-cast tslint rule
  cypress/integration/pages/shopping/family.page.ts
  server.ts
  src/app/app.server.module.ts
  src/app/core/interceptors/universal-mock.interceptor.ts
  src/app/core/models/content-include/content-include.mapper.ts
  src/app/core/models/content-view/content-image-view.ts
  src/app/core/models/product/product.mapper.ts
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/api/api.service.ts
  src/app/core/services/products/products.service.ts
  src/app/core/store/shopping/categories/categories.effects.ts
  src/app/core/store/shopping/viewconf/viewconf.effects.ts
  src/app/core/utils/selectors.ts
  src/app/core/utils/state-transfer/state-properties.service.ts
  src/app/extensions/quoting/services/quote-request/quote-request.service.ts
  src/app/pages/account/components/account-navigation/account-navigation.component.ts
  tslint-rules/dist/ishOrderedImportsRule.js
  tslint-rules/dist/meaningfulNamingInTestsRule.js
  tslint-rules/src/ishOrderedImportsRule.ts
  tslint-rules/src/meaningfulNamingInTestsRule.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json})
  npx jest --findRelatedTests: any of: *.ts
