Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

deps: update to `husky` 9 including migration and hook optimization + commitlint.config.js
  .husky/commit-msg
  .husky/post-checkout
  .husky/pre-commit
  commitlint.config.js
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

style: auto fixed Stylelint changes
  projects/requisition-management/src/app/pages/requisition-detail/budget-bar/budget-bar.component.scss
  src/app/shared/components/filter/filter-dropdown/filter-dropdown.component.scss
  src/styles/components/footer/footer.scss
  src/styles/components/header/header.scss
  src/styles/components/header/main-navigation.scss
  src/styles/components/header/search-container.scss
  src/styles/global/animations.scss
  src/styles/global/breadcrumbs.scss
  src/styles/global/buttons.scss
  src/styles/global/global.scss
  src/styles/global/share-tools.scss
  src/styles/global/tables.scss
  src/styles/pages/account/account-dashboard.scss
  src/styles/pages/account/account.scss
  src/styles/pages/category/category-page.scss
  src/styles/pages/category/filter-panel.scss
  src/styles/pages/category/product-list.scss
  src/styles/pages/category/search-result.scss
  src/styles/pages/checkout/quick-cart.scss
  src/styles/pages/productdetail/tacton.scss
Due: none

deps: dependencies updates independent from Angular update
  docs/guides/migrations.md
  package-lock.json
  package.json
  schematics/src/module/factory_spec.ts
  scripts/migrate-destroy-subject.ts
  src/app/shared/components/product/product-item/product-item.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: apply ESLint plugin (@typescript-eslint) update changes
  src/app/core/services/payment/payment.service.ts
  src/app/core/store/customer/basket/basket.selectors.ts
  src/app/shared/formly/types/date-range-picker-field/date-range-picker-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: manual Stylelint adaptions/fixes
  src/styles/components/header/search-container.scss
  src/styles/global/global.scss
  src/styles/global/ng-select.scss
  src/styles/global/tables.scss
Due: none

feat: integrate GitHub Copilot instructions for Intershop PWA
  .copilotrc
  .github/copilot-instructions.md
  .github/instructions/commit-style.instructions.md
  .github/instructions/component-patterns.instructions.md
  .github/instructions/error-handling.instructions.md
  .github/instructions/naming-patterns.instructions.md
  .github/instructions/negative-patterns.instructions.md
  .github/instructions/performance-patterns.instructions.md
  .github/instructions/service-patterns.instructions.md
  .github/instructions/state-management-patterns.instructions.md
  .github/instructions/styles.instructions.md
  .github/instructions/testing-patterns.instructions.md
  .github/instructions/workflows.instructions.md
  .prettierignore
Due: npx prettier --loglevel warn --write

chore: integrate code style and project configuration suggestions for GitHub Copilot instructions for Intershop PWA
  .editorconfig
  .github/pull_request_template.md
  .prettierignore
  .prettierrc
  .vscode/settings.json
Due: npx prettier --loglevel warn --write

feat: integrate GitHub Copilot instructions for Intershop PWA
  .copilotrc
  .github/copilot-instructions.md
  .github/instructions/commit-style.instructions.md
  .github/instructions/component-patterns.instructions.md
  .github/instructions/error-handling.instructions.md
  .github/instructions/naming-patterns.instructions.md
  .github/instructions/negative-patterns.instructions.md
  .github/instructions/performance-patterns.instructions.md
  .github/instructions/service-patterns.instructions.md
  .github/instructions/state-management-patterns.instructions.md
  .github/instructions/styles.instructions.md
  .github/instructions/testing-patterns.instructions.md
  .github/instructions/workflows.instructions.md
  .prettierignore
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

feat: select a pagelet triggered by design view (#1886)
  src/app/core/facades/cms.facade.ts
  src/app/core/store/content/content-store.module.ts
  src/app/core/store/content/content-store.ts
  src/app/core/store/content/design-view/design-view.actions.ts
  src/app/core/store/content/design-view/design-view.reducer.ts
  src/app/core/store/content/design-view/design-view.selectors.spec.ts
  src/app/core/store/content/design-view/design-view.selectors.ts
  src/app/core/store/content/design-view/index.ts
  src/app/core/utils/design-view/design-view.service.ts
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.html
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.scss
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.spec.ts
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent display of search suggest layer after search was executed on mobile (#1881)
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
  src/app/shell/header/header-default/header-default.component.html
Due: npx prettier --loglevel warn --write

fix: prevent search input overlapping logo on desktop (intended on tablet)
  src/styles/components/header/search-container.scss
Due: none

fix: correct focus styling for a11y
  src/styles/components/header/search-container.scss
  src/styles/pages/category/search-result.scss
  src/styles/pages/errorpage/errorpage.scss
Due: none

fix: prevent search elements to be shown above the main categories layer
  src/styles/components/header/search-container.scss
Due: none

fix: solve merge conflicts
  src/styles/components/header/search-container.scss
Due: none

fix: remove not needed width
  src/styles/components/header/search-container.scss
Due: none

test: add suggest product tests
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: disable lint rule
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use facades
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: standalone components are imported in the imports array and not in in the declarations array
  src/app/shared/components/search/suggest-categories/suggest-categories.component.spec.ts
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent search input overlapping logo on desktop (intended on tablet) and focus styling for a11y (#1887)
  src/styles/components/header/search-container.scss
  src/styles/pages/category/search-result.scss
  src/styles/pages/errorpage/errorpage.scss
Due: none

test: remove unused TestBed declarations
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: use type-safe mock creation with factory functions, verify product suggestion display and limits
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: simplify ProductView mock
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: simplify and unify the suggest code changes
  .github/workflows/automated-update.yml
  .github/workflows/reports.yml
  .github/workflows/windows.yml
Due: npx prettier --loglevel warn --write

ci: replace `CancelPrevious` jobs with GitHub Actions `concurrency` configurations (#1895, #1896)
  .github/workflows/automated-update.yml
  .github/workflows/demo-server-up.yml
  .github/workflows/development.yml
  .github/workflows/integration.yml
  .github/workflows/reports.yml
  .github/workflows/windows.yml
Due: npx prettier --loglevel warn --write

fix: change suggestResults effect(#109515)
  src/app/core/facades/shopping.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: change execution order
  src/app/core/facades/shopping.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent unnecessary multiple suggestions requests (#1897)
  src/app/core/facades/shopping.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: add missing imports
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove dead code
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: switch commitizen configuration from cz-customizable to @commitlint/cz-commitlint
  .cz-config.js
  commitlint.config.js
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: switch commitizen configuration from cz-customizable to @commitlint/cz-commitlint (#1898)
  .cz-config.js
  commitlint.config.js
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

test: add tests for Sparque suggest products component (#1892)
  src/app/shared/components/search/suggest-categories/suggest-categories.component.spec.ts
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.spec.ts
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: handle sparque server error (#107036)
  src/app/core/facades/shopping.facade.ts
  src/app/core/services/sparque-api/sparque-api.service.spec.ts
  src/app/core/services/sparque-api/sparque-api.service.ts
  src/app/core/services/sparque-products/sparque-products.service.ts
  src/app/core/services/sparque-suggestions/sparque-suggestions.service.ts
  src/app/core/store/core/error/error.actions.ts
  src/app/core/store/shopping/product-listing/product-listing.reducer.ts
  src/app/core/store/shopping/search/search.reducer.ts
  src/app/core/store/shopping/search/search.selectors.ts
  src/app/pages/search/search-no-result/search-no-result.component.html
  src/app/pages/search/search-no-result/search-no-result.component.ts
  src/app/pages/search/search-page.component.html
  src/app/pages/search/search-page.component.spec.ts
  src/app/pages/search/search-page.component.ts
  src/app/shared/components/search/search-box/search-box.component.html
  src/app/shared/components/search/search-box/search-box.component.spec.ts
  src/app/shared/components/search/search-box/search-box.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Formly number field (quantity input with + and - buttons)
  docs/guides/formly.md
  src/app/shared/formly/dev/testing/formly-testing.module.ts
  src/app/shared/formly/types/number-field/number-field.component.html
  src/app/shared/formly/types/number-field/number-field.component.scss
  src/app/shared/formly/types/number-field/number-field.component.spec.ts
  src/app/shared/formly/types/number-field/number-field.component.ts
  src/app/shared/formly/types/types.module.ts
  src/app/shared/formly/wrappers/validation-wrapper/validation-wrapper.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Formly information wrapper for rendering any freestyle text within generated forms
  docs/guides/formly.md
  src/app/shared/formly/wrappers/information-wrapper/information-wrapper.component.html
  src/app/shared/formly/wrappers/information-wrapper/information-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/information-wrapper/information-wrapper.component.ts
  src/app/shared/formly/wrappers/wrappers.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Switch component (UI element for imidiate status changes)
  src/app/shared/components/common/switch/switch.component.html
  src/app/shared/components/common/switch/switch.component.scss
  src/app/shared/components/common/switch/switch.component.spec.ts
  src/app/shared/components/common/switch/switch.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Server Setting route guard
  src/app/core/guards/server-setting.guard.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
