Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-613: Remove QuoteRequest if there is no item left
  src/app/extensions/quoting/pages/quote-request-edit/quote-request-edit-page.container.html
  src/app/extensions/quoting/pages/quote-request-edit/quote-request-edit-page.container.ts
  src/app/extensions/quoting/shared/product/components/product-add-to-quote-dialog/product-add-to-quote-dialog.component.ts
  src/app/extensions/quoting/shared/product/containers/product-add-to-quote-dialog/product-add-to-quote-dialog.container.html
  src/app/extensions/quoting/shared/product/containers/product-add-to-quote-dialog/product-add-to-quote-dialog.container.ts
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.spec.ts
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.ts
  src/app/shared/basket/components/line-item-list/line-item-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

prevent authenticated user from going to login
  src/app/core/store/user/user.effects.spec.ts
  src/app/core/store/user/user.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix current tslint warnings
  src/app/extensions/quoting/shared/account/containers/quote-widget/quote-widget.container.ts
  src/app/shared/forms/components/input-birthday/input-birthday.component.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

increase severity of some tslint rules
  tslint.json
Due: npx prettier --loglevel warn --write

perform strict tslint again at end of pipeline
  .gitignore
  .gitlab-ci-check-no-additional-warnings.sh
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

use npm i in setup step
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

use alternative review server for b2c deployment
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

deploy develop demo nginx
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

redirect-proxy for alternative demo server deployments
  templates/review-server/Dockerfile
  templates/review-server/review-proxy.js
Due: npx prettier --loglevel warn --write

deploy only b2c with nginx
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

use alternative review server for b2b deployment
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

set PWA_BASE_URL to value after redirects for cypress
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

force tickets to be in caps and from PWA project
  .gitlab-ci-check-mr-title.sh
Due: none

update @wishtack/reactive-component-loader and cleanup unneeded dependencies (ie11)
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

ISREST-622: payment component for concardis credit card added
  src/app/core/models/payment-method/payment-method.interface.ts
  src/app/core/models/payment-method/payment-method.mapper.spec.ts
  src/app/core/models/payment-method/payment-method.mapper.ts
  src/app/core/models/payment-method/payment-method.model.ts
  src/app/core/services/script-loader/script-loader.service.ts
  src/app/pages/checkout-payment/checkout-payment-page.module.ts
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-payment/components/payment-concardis-creditcard/payment-concardis-creditcard.component.html
  src/app/pages/checkout-payment/components/payment-concardis-creditcard/payment-concardis-creditcard.component.spec.ts
  src/app/pages/checkout-payment/components/payment-concardis-creditcard/payment-concardis-creditcard.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/theme/pages/payment/payment.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-622: component added to select month/year and use it for expiration date selection, ui improvements
  src/app/core/icon.module.ts
  src/app/core/models/payment-method/payment-method.mapper.ts
  src/app/core/models/payment-method/payment-method.model.ts
  src/app/pages/checkout-payment/components/payment-concardis-creditcard/payment-concardis-creditcard.component.html
  src/app/pages/checkout-payment/components/payment-concardis-creditcard/payment-concardis-creditcard.component.spec.ts
  src/app/pages/checkout-payment/components/payment-concardis-creditcard/payment-concardis-creditcard.component.ts
  src/app/shared/forms/components/form-element/form-element.component.ts
  src/app/shared/forms/components/select-year-month/select-year-month.component.html
  src/app/shared/forms/components/select-year-month/select-year-month.component.spec.ts
  src/app/shared/forms/components/select-year-month/select-year-month.component.ts
  src/app/shared/forms/directives/show-form-feedback.directive.ts
  src/app/shared/forms/forms.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/theme/pages/payment/payment.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

set correct service name
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

universal test as extra job
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

run cypress tests parallel
  .gitlab-ci-test-e2e-partition.sh
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

run e2e jobs only on tagged runners
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

remove verbose logging
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
