Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: remove obsolete LoadBasketItems Action and related functionality
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.actions.spec.ts
  src/app/core/store/checkout/basket/basket.actions.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/basket/basket.reducer.spec.ts
  src/app/core/store/checkout/basket/basket.reducer.ts
  src/app/core/store/checkout/checkout-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: use getBasket call to get basket items
  src/app/core/models/basket-item/basket-item.interface.ts
  src/app/core/models/basket-item/basket-item.mapper.spec.ts
  src/app/core/models/basket-item/basket-item.mapper.ts
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/order-item/order-item.interface.ts
  src/app/core/models/order/order.mapper.ts
  src/app/core/models/shipping-bucket/shipping-bucket.interface.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/basket/basket.reducer.ts
  src/app/core/store/checkout/basket/basket.selectors.spec.ts
  src/app/core/store/checkout/basket/basket.selectors.ts
  src/app/core/store/checkout/checkout-store.spec.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.spec.ts
  src/app/pages/basket/basket-page.container.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: renamed basketItem to lineItem
  src/app/core/models/basket-item/basket-item.mapper.spec.ts
  src/app/core/models/basket/basket.helper.spec.ts
  src/app/core/models/basket/basket.helper.ts
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/basket/basket.model.ts
  src/app/core/models/line-item/line-item.interface.ts
  src/app/core/models/line-item/line-item.mapper.spec.ts
  src/app/core/models/line-item/line-item.mapper.ts
  src/app/core/models/line-item/line-item.model.ts
  src/app/core/models/order/order.mapper.ts
  src/app/core/models/shipping-bucket/shipping-bucket.model.ts
  src/app/core/services/api/api.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/basket/basket.reducer.spec.ts
  src/app/core/store/checkout/basket/basket.selectors.spec.ts
  src/app/core/store/checkout/checkout-store.spec.ts
  src/app/core/store/orders/orders.effects.ts
  src/app/core/store/orders/orders.selectors.spec.ts
  src/app/core/utils/dev/basket-mock-data.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.spec.ts
  src/app/pages/basket/basket-page.container.spec.ts
  src/app/shared/basket/components/line-item-description/line-item-description.component.ts
  src/app/shared/basket/components/line-item-list/line-item-list.component.spec.ts
  src/app/shared/basket/components/line-item-list/line-item-list.component.ts
  src/app/shell/header/components/mini-basket/mini-basket.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: adapt merge baskets functionality to new basket REST API
  src/app/core/models/basket/basket.interface.ts
  src/app/core/services/api/api.service.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/checkout-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

safety checks in filternavigation-mapper
  src/app/core/models/filter-navigation/filter-navigation.mapper.spec.ts
  src/app/core/models/filter-navigation/filter-navigation.mapper.ts
  src/app/core/services/filter/filter.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

rename reports image, defensive build
  .gitlab-ci.yml
Due: none

ISREST-207: use default category from product in breadcrumb if available, refactoring
  src/app/core/models/product-view/product-view.model.spec.ts
  src/app/core/models/product-view/product-view.model.ts
  src/app/core/models/product/__snapshots__/product.mapper.spec.ts.snap
  src/app/core/models/product/product.interface.ts
  src/app/core/models/product/product.mapper.ts
  src/app/core/models/product/product.model.ts
  src/app/core/store/shopping/categories/categories.selectors.ts
  src/app/core/store/shopping/products/products.selectors.spec.ts
  src/app/core/store/shopping/products/products.selectors.ts
  src/app/shared/common/components/breadcrumb/breadcrumb.component.html
  src/app/shared/common/components/breadcrumb/breadcrumb.component.spec.ts
  src/app/shared/common/components/breadcrumb/breadcrumb.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

functional solution in CategoryMapper.mapCategoryPath
  src/app/core/models/category/category.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

extend search products end 2 end test
  .createMockdata.table
  cypress/integration/local/search-products.e2e-spec.ts
  src/assets/mock-data/cms/includes/pwa.include.homepage.pagelet2-Include/get.json
  src/assets/mock-data/products/201807171/get_allImages_true.json
  src/assets/mock-data/products/201807194/get_allImages_true.json
  src/assets/mock-data/products/201807204-01/get_allImages_true.json
  src/assets/mock-data/products/201807231-03/get_allImages_true.json
  src/assets/mock-data/products/3953312/get_allImages_true.json
  src/assets/mock-data/products/7912057/get_allImages_true.json
  src/assets/mock-data/products/7912061/get_allImages_true.json
  src/assets/mock-data/products/8182790134362/get_allImages_true.json
  src/assets/mock-data/products/8182790134363/get_allImages_true.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

updated CHANGELOG.md and 3rd-party-licenses.txt for the 0.8.0 release
  3rd-party-licenses.txt
  CHANGELOG.md
  module-structure.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

ISREST-532: get countries per REST
  src/app/core/models/country/country.interface.ts
  src/app/core/models/country/country.mapper.spec.ts
  src/app/core/models/country/country.mapper.ts
  src/app/core/services/country/country.service.spec.ts
  src/app/core/services/country/country.service.ts
  src/app/extensions/quoting/store/quoting-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-530: added debouncing to basket quantities update, check validity before changing quantity
  src/app/shared/basket/components/line-item-list/line-item-list.component.spec.ts
  src/app/shared/basket/components/line-item-list/line-item-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: extension exports must not include extension routing module
  schematics/package-lock.json
  schematics/src/extension/factory.js
  schematics/src/extension/factory.ts
  schematics/src/extension/factory_spec.ts
  schematics/src/extension/files/__name@dasherize__/exports/__name@dasherize__-exports.module.__tsext__
  src/app/app.module.ts
  src/app/extensions/quoting/exports/quoting-exports.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: enable initialNavigation to prevent flickering when loading page in universal mode
  src/app/pages/app-routing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

removing ad-hoc installable report dependencies from package.json
  .gitlab-ci.yml
  Dockerfile_reports
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

clear node_modules before generating 3rd-party-licenses file
  3rd-party-licenses.txt
  package.json
Due: npx prettier --loglevel warn --write

update README
  README.md
Due: none

code style improvements
  src/app/cms/components/cms-container/cms-container.component.ts
  src/app/cms/configurations/injection-keys.ts
  src/app/cms/containers/content-pagelet/content-pagelet.container.ts
  src/app/cms/pipes/safe-html.pipe.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

move getRouterLink from ContentImageView to ContentViewHelper
  src/app/cms/components/cms-image-enhanced/cms-image-enhanced.component.html
  src/app/cms/components/cms-image/cms-image.component.html
  src/app/cms/components/cms-image/cms-image.component.ts
  src/app/core/models/content-view/content-image-view.spec.ts
  src/app/core/models/content-view/content-image-view.ts
  src/app/core/models/content-view/content-view.helper.spec.ts
  src/app/core/models/content-view/content-view.helper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

move createSimplePageletView method to test-data-utils
  src/app/cms/components/cms-freestyle/cms-freestyle.component.spec.ts
  src/app/cms/components/cms-image-enhanced/cms-image-enhanced.component.spec.ts
  src/app/cms/components/cms-image/cms-image.component.spec.ts
  src/app/cms/components/cms-product-list/cms-product-list.component.spec.ts
  src/app/cms/components/cms-text/cms-text.component.spec.ts
  src/app/cms/containers/content-pagelet/content-pagelet.container.spec.ts
  src/app/core/models/content-view/content-image-view.spec.ts
  src/app/core/models/content-view/content-views.ts
  src/app/core/utils/dev/test-data-utils.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

composing cms image URLs in mapper, removing ContentImagePageletView
  src/app/cms/components/cms-image-enhanced/cms-image-enhanced.component.html
  src/app/cms/components/cms-image-enhanced/cms-image-enhanced.component.spec.ts
  src/app/cms/components/cms-image-enhanced/cms-image-enhanced.component.ts
  src/app/cms/components/cms-image/__snapshots__/cms-image.component.spec.ts.snap
  src/app/cms/components/cms-image/cms-image.component.html
  src/app/cms/components/cms-image/cms-image.component.spec.ts
  src/app/cms/components/cms-image/cms-image.component.ts
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.spec.ts
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.ts
  src/app/core/models/content-include/content-include.mapper.spec.ts
  src/app/core/models/content-include/content-include.mapper.ts
  src/app/core/models/content-pagelet/content-pagelet.mapper.spec.ts
  src/app/core/models/content-pagelet/content-pagelet.mapper.ts
  src/app/core/models/content-view/content-image-view.spec.ts
  src/app/core/models/content-view/content-image-view.ts
  src/app/core/services/cms/cms.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json})
  npx jest --findRelatedTests: any of: *.ts
