Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

fix: do not display "add to cart" button if product has no price (#1657)
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/utils/product-context-display-properties/product-context-display-properties.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: switch to lazy triggering of 'loadProductParts' action
  src/app/core/facades/product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: enforce stricter naming convention
  .eslintrc.json
  server.ts
  src/app/core/models/attribute/attribute.pipe.spec.ts
  src/app/core/pipes/date.pipe.spec.ts
  src/app/core/pipes/make-href.pipe.spec.ts
  src/app/core/utils/api-token/api-token.service.ts
  src/app/core/utils/preview/preview.service.ts
  src/app/extensions/store-locator/services/stores-map/stores-map.service.ts
  src/app/shared/cms/components/cms-navigation-category/cms-navigation-category.component.spec.ts
  src/app/shared/components/product/product-variation-select-enhanced/product-variation-select-enhanced.component.spec.ts
  src/app/shared/components/product/product-variation-select-swatch/product-variation-select-swatch.component.spec.ts
  src/app/shell/header/back-to-top/back-to-top.component.ts
  src/app/shell/header/header-navigation/header-navigation.component.html
  src/app/shell/header/header-navigation/header-navigation.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: enforce stricter naming conventions (#1633)
  .eslintrc.json
  server.ts
  src/app/core/models/attribute/attribute.pipe.spec.ts
  src/app/core/pipes/date.pipe.spec.ts
  src/app/core/pipes/make-href.pipe.spec.ts
  src/app/core/utils/api-token/api-token.service.ts
  src/app/core/utils/preview/preview.service.ts
  src/app/extensions/store-locator/services/stores-map/stores-map.service.ts
  src/app/shared/cms/components/cms-navigation-category/cms-navigation-category.component.spec.ts
  src/app/shared/components/product/product-variation-select-enhanced/product-variation-select-enhanced.component.spec.ts
  src/app/shared/components/product/product-variation-select-swatch/product-variation-select-swatch.component.spec.ts
  src/app/shell/header/back-to-top/back-to-top.component.ts
  src/app/shell/header/header-navigation/header-navigation.component.html
  src/app/shell/header/header-navigation/header-navigation.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: extend dead-code script for components (#1660)
  scripts/find-dead-code.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: enforce action classification
  scripts/find-dead-code.ts
  src/app/extensions/order-templates/store/order-template/order-template.actions.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: disconnect variations from product view model (#1644)
  docs/guides/migrations.md
  src/app/core/facades/product-context.facade.ts
  src/app/core/facades/shopping.facade.ts
  src/app/core/models/product-variation/product-variation.helper.spec.ts
  src/app/core/models/product-variation/product-variation.helper.ts
  src/app/core/models/product-view/product-view.model.ts
  src/app/core/store/shopping/products/products.selectors.spec.ts
  src/app/core/store/shopping/products/products.selectors.ts
  src/app/pages/product/product-master-variations/product-master-variations.component.spec.ts
  src/app/pages/product/product-master-variations/product-master-variations.component.ts
  src/app/shared/components/product/product-variation-select/product-variation-select.component.spec.ts
  src/app/shared/components/product/product-variation-select/product-variation-select.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: lazy load variations and variation count (#1644)
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
  src/app/core/facades/shopping.facade.ts
  src/app/core/models/product/product.mapper.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/extensions/rating/shared/product-rating/product-rating.component.spec.ts
  src/app/extensions/rating/shared/product-rating/product-rating.component.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.spec.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(schematics): skip creating tests for components
  docs/guides/customizations.md
  schematics/src/component/factory.ts
  schematics/src/component/factory_spec.ts
  schematics/src/component/schema.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: disconnect master product from product view model (#1644)
  docs/guides/migrations.md
  src/app/core/facades/product-context.facade.ts
  src/app/core/models/product-variation/product-variation.helper.spec.ts
  src/app/core/models/product-variation/product-variation.helper.ts
  src/app/core/models/product-view/product-view.model.ts
  src/app/core/store/shopping/products/products.selectors.ts
  src/app/shared/components/product/product-variation-select/product-variation-select.component.spec.ts
  src/app/shared/components/product/product-variation-select/product-variation-select.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: disconnect master product from product view model (#1644)
  docs/guides/migrations.md
  src/app/core/facades/product-context.facade.ts
  src/app/core/models/product-variation/product-variation.helper.spec.ts
  src/app/core/models/product-variation/product-variation.helper.ts
  src/app/core/models/product-view/product-view.model.ts
  src/app/core/store/shopping/products/products.actions.ts
  src/app/core/store/shopping/products/products.selectors.ts
  src/app/shared/components/product/product-variation-select/product-variation-select.component.spec.ts
  src/app/shared/components/product/product-variation-select/product-variation-select.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rework product-item-variations component
  docs/guides/migrations.md
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/utils/dev/html-query-utils.ts
  src/app/core/utils/product-context-display-properties/product-context-display-properties.service.ts
  src/app/shared/components/product/product-item-variations/product-item-variations.component.html
  src/app/shared/components/product/product-item-variations/product-item-variations.component.spec.ts
  src/app/shared/components/product/product-item-variations/product-item-variations.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(schematics): option to skip creating tests for components (#1663)
  docs/guides/customizations.md
  schematics/src/component/factory.ts
  schematics/src/component/factory_spec.ts
  schematics/src/component/schema.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rework product-item-variations component (#1648)
  docs/guides/migrations.md
  src/app/core/utils/dev/html-query-utils.ts
  src/app/shared/components/product/product-item-variations/product-item-variations.component.html
  src/app/shared/components/product/product-item-variations/product-item-variations.component.spec.ts
  src/app/shared/components/product/product-item-variations/product-item-variations.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Revert "chore: experimental contrast fix to 4.5:1 [skip ci]"
  src/app/shell/header/header-checkout/header-checkout.component.html
  src/app/shell/header/header-default/header-default.component.html
  src/styles/components/footer/footer.scss
  src/styles/themes/b2b/variables.scss
  src/styles/themes/b2c/properties.scss
Due: npx prettier --loglevel warn --write

refactor: rework account-profile-user component
  src/app/pages/account-profile-user/account-profile-user-page.component.html
  src/app/pages/account-profile-user/account-profile-user-page.component.spec.ts
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.html
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.spec.ts
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: sort i18n files in format task
  package.json
  scripts/sort-i18n.mjs
Due: npx prettier --loglevel warn --write

skip-to-main-content button [skip ci]
  src/app/app.component.html
  src/styles/global/global.scss
Due: npx prettier --loglevel warn --write

changed colors to VD's suggestions [skip ci]
  src/styles/components/footer/footer.scss
  src/styles/themes/b2b/variables.scss
Due: none

made icons that only appear on mouse hover non-tabbable [skip ci]
  src/app/extensions/compare/shared/product-add-to-compare/product-add-to-compare.component.html
  src/app/extensions/order-templates/shared/product-add-to-order-template/product-add-to-order-template.component.html
  src/app/extensions/quoting/shared/product-add-to-quote/product-add-to-quote.component.html
  src/app/extensions/wishlists/shared/product-add-to-wishlist/product-add-to-wishlist.component.html
  src/app/shared/components/product/product-add-to-basket/product-add-to-basket.component.html
Due: npx prettier --loglevel warn --write

feat: added aria-label for search-box [skip ci]
  src/app/shared/components/search/search-box/search-box.component.html
Due: npx prettier --loglevel warn --write

removed img-role from logo [skip ci]
  src/app/shell/header/header-checkout/header-checkout.component.html
  src/app/shell/header/header-default/header-default.component.html
  src/app/shell/header/header-simple/header-simple.component.html
Due: npx prettier --loglevel warn --write

added <lang>-attributes for language select options [skip ci]
  src/app/shell/header/language-switch/language-switch.component.html
Due: npx prettier --loglevel warn --write

colored product company link like a normal link [skip ci]
  src/styles/pages/productdetail/product-info.scss
Due: none

use aria-labelledby for register/login links [skip ci]
  src/app/shell/header/login-status/login-status.component.html
Due: npx prettier --loglevel warn --write

language switch displays full name instead of short version [skip ci]
  src/app/shell/header/language-switch/language-switch.component.html
Due: npx prettier --loglevel warn --write

accessible star rating display on product page [skip ci]
  src/app/extensions/rating/shared/product-rating-star/product-rating-star.component.html
  src/app/extensions/rating/shared/product-rating/product-rating.component.html
Due: npx prettier --loglevel warn --write

added <legend> to registration form fieldsets [skip ci]
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/formly-address-forms/components/formly-address-form/formly-address-form.component.ts
  src/styles/global/forms.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

linked password conditions with input field [skip ci]
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/formly/types/text-input-field/text-input-field.component.html
  src/app/shared/formly/types/text-input-field/text-input-field.component.ts
  src/app/shared/formly/wrappers/description-wrapper/description-wrapper.component.html
  src/app/shared/formly/wrappers/description-wrapper/description-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

visible tab focus on search-box elements [skip ci]
  src/styles/components/header/search-container.scss
Due: none

added aria-attributes for mini basket [skip ci]
  src/app/shared/components/basket/mini-basket-content/mini-basket-content.component.html
  src/app/shell/header/mini-basket/mini-basket.component.html
Due: npx prettier --loglevel warn --write

added aria-label for compare-status link [skip ci]
  src/app/extensions/compare/shared/product-compare-status/product-compare-status.component.html
Due: npx prettier --loglevel warn --write
