Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

move query param to order effect
  src/app/core/store/customer/orders/orders.effects.spec.ts
  src/app/core/store/customer/orders/orders.effects.ts
  src/app/pages/checkout-receipt/checkout-receipt-page.component.spec.ts
  src/app/pages/checkout-receipt/checkout-receipt-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

change nto-feature variable for better understanding
  src/app/core/directives/not-feature-toggle.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove unnecessary breadcrumb data
  src/app/extensions/quoting/pages/quote-list/quote-list-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

cleanup
  src/app/pages/checkout-receipt/checkout-receipt-page.component.spec.ts
  src/app/pages/checkout-receipt/checkout-receipt-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

rename main observable in not-feature directive
  src/app/core/directives/not-feature-toggle.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add quote to cart in case no cart exists (#952)
  src/app/extensions/quoting/services/quoting/quoting.service.spec.ts
  src/app/extensions/quoting/services/quoting/quoting.service.ts
  src/app/extensions/quoting/store/quoting/quoting.effects.spec.ts
  src/app/extensions/quoting/store/quoting/quoting.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove unnecessary quoting breadcrumb data (#964)
  src/app/extensions/quoting/pages/quote-list/quote-list-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add order selection by query parameter to route listener
  src/app/core/store/customer/orders/orders.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use selectOrderAfterRedirect effect to fetch the order after refreshing the checkout receipt page
  src/app/core/store/customer/orders/orders.effects.spec.ts
  src/app/core/store/customer/orders/orders.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: schematic and lint optimization for default module overrides
  schematics/src/component/factory_spec.ts
  schematics/src/page/factory.ts
  schematics/src/page/factory_spec.ts
  schematics/src/utils/common.ts
  tslint-rules/src/ngModuleSortedFieldsRule.spec.ts
  tslint-rules/src/ngModuleSortedFieldsRule.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Revert "refactor: use selectOrderAfterRedirect effect to fetch the order after refreshing the checkout receipt page"
  src/app/core/store/customer/orders/orders.effects.spec.ts
  src/app/core/store/customer/orders/orders.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

bugfix: empty checkout receipt page (#962)
  src/app/core/store/customer/orders/orders.effects.spec.ts
  src/app/core/store/customer/orders/orders.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: unify budget input fields layout in phone view (#957)
  projects/organization-management/src/app/components/cost-center-buyer-edit-dialog/cost-center-buyer-edit-dialog.component.ts
  projects/organization-management/src/app/components/cost-center-form/cost-center-form.component.ts
  projects/organization-management/src/app/pages/cost-center-buyers/cost-center-buyers-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: unify column order and order naming on the cost center details page (#956)
  projects/organization-management/src/app/components/cost-center-users-list/cost-center-users-list.component.html
  projects/organization-management/src/app/components/cost-center-users-list/cost-center-users-list.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: feature toggle with internal subscription (#954)
  src/app/core/directives/feature-toggle.directive.spec.ts
  src/app/core/directives/feature-toggle.directive.ts
  src/app/core/directives/not-feature-toggle.directive.ts
  src/app/core/feature-toggle.module.ts
  src/app/core/pipes/feature-toggle.pipe.spec.ts
  src/app/core/pipes/feature-toggle.pipe.ts
  src/app/core/services/registration-form-configuration/registration-form-configuration.service.spec.ts
  src/app/core/utils/feature-toggle/feature-toggle.service.spec.ts
  src/app/core/utils/feature-toggle/feature-toggle.service.ts
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.spec.ts
  src/app/pages/registration/registration-page.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: include healthcheck.js in docker compile scripts
  src/ssr/server-scripts/healthcheck.js
Due: npx prettier --loglevel warn --write

refactor: schematic and lint optimization for default module overrides (#965)
  schematics/src/component/factory_spec.ts
  schematics/src/page/factory.ts
  schematics/src/page/factory_spec.ts
  schematics/src/utils/common.ts
  tslint-rules/src/ngModuleSortedFieldsRule.spec.ts
  tslint-rules/src/ngModuleSortedFieldsRule.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: improve requisition buyer approval widget ui in case the buyer has an unlimited budget (#951)
  projects/requisition-management/src/app/pages/requisition-detail/requisition-buyer-approval/requisition-buyer-approval.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-buyer-approval/requisition-buyer-approval.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-buyer-approval/requisition-buyer-approval.component.ts
  src/app/core/models/price/price.pipe.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display of unlimited budget (phone view) (#950)
  projects/organization-management/src/app/components/user-budget/user-budget.component.html
  projects/organization-management/src/app/components/user-budget/user-budget.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: remove disturbing "Check Dead Links For All Files" check from merges to the develop branch
  .github/workflows/docs.yml
  docs/check-dead-links.js
Due: npx prettier --loglevel warn --write

fix: catch and log errors from translation API
  src/app/core/services/localizations/localizations.service.spec.ts
  src/app/core/services/localizations/localizations.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: rename component inputs named class
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/order-templates/pages/account-order-template/account-order-template-list/account-order-template-list.component.html
  src/app/extensions/order-templates/shared/basket-create-order-template/basket-create-order-template.component.html
  src/app/extensions/order-templates/shared/basket-create-order-template/basket-create-order-template.component.ts
  src/app/extensions/order-templates/shared/order-template-widget/order-template-widget.component.html
  src/app/extensions/order-templates/shared/product-add-to-order-template/product-add-to-order-template.component.html
  src/app/extensions/order-templates/shared/product-add-to-order-template/product-add-to-order-template.component.ts
  src/app/extensions/quoting/shared/product-add-to-quote/product-add-to-quote.component.html
  src/app/extensions/quoting/shared/product-add-to-quote/product-add-to-quote.component.ts
  src/app/extensions/quoting/shared/quote-line-item-list-element/quote-line-item-list-element.component.html
  src/app/extensions/wishlists/shared/product-add-to-wishlist/product-add-to-wishlist.component.html
  src/app/extensions/wishlists/shared/product-add-to-wishlist/product-add-to-wishlist.component.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/product/product-detail/product-detail.component.html
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.html
  src/app/shared/components/product/product-add-to-basket/product-add-to-basket.component.html
  src/app/shared/components/product/product-add-to-basket/product-add-to-basket.component.ts
  src/app/shared/components/product/product-add-to-compare/product-add-to-compare.component.html
  src/app/shared/components/product/product-add-to-compare/product-add-to-compare.component.ts
  src/app/shared/components/product/product-row/product-row.component.html
  src/app/shared/components/product/product-tile/product-tile.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: change post-checkout hook (#875) to only inform about the need to run 'npm install'
  .husky/post-checkout
Due: none

refactor: CSS class names spell check fixes with code changes
  src/app/extensions/tacton/pages/configure/tacton-step-buttons/tacton-step-buttons.component.html
  src/app/extensions/tacton/pages/configure/tacton-step-buttons/tacton-step-buttons.component.spec.ts
  src/app/shared/components/promotion/promotion-remove/promotion-remove.component.html
  src/styles/global/promotions.scss
  src/styles/pages/productdetail/tacton.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: unintrusive spell check fixes
  .cz-config.js
  .vscode/intershop.txt
  package.json
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.ts
  src/app/core/facades/checkout.facade.ts
  src/app/core/utils/multi-site/multi-site.service.ts
  src/app/pages/checkout-payment/payment-payone-creditcard/payment-payone-creditcard.component.ts
  src/app/shared/cms/components/cms-video/cms-video.component.ts
  src/app/shared/cms/components/content-navigation/content-navigation.component.html
  src/app/shared/components/product/products-list/products-list.component.ts
  src/app/shared/formly/components/validation-icons/validation-icons.component.ts
  src/app/shared/formly/types/select-field/select-field.component.ts
  src/environments/environment.model.ts
  src/styles/global/panel.scss
  src/styles/pages/category/filter-row.scss
  src/styles/pages/content-pages/brands.scss
  src/styles/pages/productdetail/rating.scss
  src/styles/themes/b2b/variables.scss
  src/styles/themes/b2c/variables.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: fix VSCode Stylelint integration
  .stylelintrc.json
  .vscode/settings.json
  src/styles/main.scss
Due: npx prettier --loglevel warn --write

chore: set prettier as default formatter for VSCode and clean up '.vscode/settings.json'
  .vscode/settings.json
Due: npx prettier --loglevel warn --write

refactor: fix spelling error in .scss files 'quarternary' to 'quaternary'
  src/styles/components/cookies.scss
  src/styles/components/footer/footer.scss
  src/styles/components/header/header.scss
  src/styles/components/header/search-container.scss
  src/styles/components/header/user-information-mobile.scss
  src/styles/global/breadcrumbs.scss
  src/styles/global/forms.scss
  src/styles/global/global.scss
  src/styles/global/lists.scss
  src/styles/global/share-tools.scss
  src/styles/pages/account/account-navigation.scss
  src/styles/pages/category/filter-panel.scss
  src/styles/pages/category/filter-row.scss
  src/styles/pages/checkout/checkout.scss
  src/styles/pages/checkout/progress-bar.scss
  src/styles/pages/checkout/quick-cart.scss
  src/styles/pages/productdetail/product-info.scss
  src/styles/pages/productdetail/productdetail.scss
  src/styles/pages/productdetail/rating.scss
  src/styles/themes/b2b/variables.scss
  src/styles/themes/b2c/variables.scss
Due: none

fix: display product labels by adding PurgeCSS exeption to keep 'product-label' styling
  src/styles/pages/category/product-list.scss
Due: none

fix: improve Cybersource Credit Card styling
  src/app/pages/checkout-payment/payment-cybersource-creditcard/payment-cybersource-creditcard.component.html
  src/app/pages/checkout-payment/payment-cybersource-creditcard/payment-cybersource-creditcard.component.scss
Due: npx prettier --loglevel warn --write

fix: code documentation of the attribute helper class
  src/app/core/models/attribute/attribute.helper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
