Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: accessibility update regarding a tags and keyup
  docs/guides/accessibility.md
Due: npx prettier --loglevel warn --write

feat: display and edit custom fields on basket
  src/app/core/facades/app.facade.ts
  src/app/core/facades/checkout.facade.ts
  src/app/core/models/line-item-update/line-item-update.model.ts
  src/app/core/services/basket-items/basket-items.service.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.spec.ts
  src/app/shared/components/basket/basket-custom-fields/basket-custom-fields.component.html
  src/app/shared/components/basket/basket-custom-fields/basket-custom-fields.component.spec.ts
  src/app/shared/components/basket/basket-custom-fields/basket-custom-fields.component.ts
  src/app/shared/components/custom-fields/custom-fields-formly/custom-fields-formly.component.html
  src/app/shared/components/custom-fields/custom-fields-formly/custom-fields-formly.component.spec.ts
  src/app/shared/components/custom-fields/custom-fields-formly/custom-fields-formly.component.ts
  src/app/shared/components/custom-fields/custom-fields-view/custom-fields-view.component.html
  src/app/shared/components/custom-fields/custom-fields-view/custom-fields-view.component.scss
  src/app/shared/components/custom-fields/custom-fields-view/custom-fields-view.component.spec.ts
  src/app/shared/components/custom-fields/custom-fields-view/custom-fields-view.component.ts
  src/app/shared/components/line-item/line-item-custom-fields/line-item-custom-fields.component.html
  src/app/shared/components/line-item/line-item-custom-fields/line-item-custom-fields.component.spec.ts
  src/app/shared/components/line-item/line-item-custom-fields/line-item-custom-fields.component.ts
  src/app/shared/components/line-item/line-item-edit-dialog/line-item-edit-dialog.component.html
  src/app/shared/components/line-item/line-item-edit-dialog/line-item-edit-dialog.component.spec.ts
  src/app/shared/components/line-item/line-item-edit-dialog/line-item-edit-dialog.component.ts
  src/app/shared/components/line-item/line-item-edit/line-item-edit.component.html
  src/app/shared/components/line-item/line-item-edit/line-item-edit.component.spec.ts
  src/app/shared/components/line-item/line-item-edit/line-item-edit.component.ts
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.html
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.spec.ts
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.ts
  src/app/shared/components/line-item/line-item-list/line-item-list.component.html
  src/app/shared/components/line-item/line-item-list/line-item-list.component.ts
  src/app/shared/shared.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: move line-item edit button to toolbar
  src/app/shared/components/line-item/line-item-edit/line-item-edit.component.html
  src/app/shared/components/line-item/line-item-list-element/line-item-list-element.component.html
Due: npx prettier --loglevel warn --write

feat: display fields in checkout and myaccount
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.spec.ts
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-order/account-order/account-order.component.spec.ts
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.spec.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.spec.ts
  src/app/shared/components/checkout/basket-custom-fields-view/basket-custom-fields-view.component.html
  src/app/shared/components/checkout/basket-custom-fields-view/basket-custom-fields-view.component.spec.ts
  src/app/shared/components/checkout/basket-custom-fields-view/basket-custom-fields-view.component.ts
  src/app/shared/shared.module.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: prevent firing empty add to cart
  src/app/core/store/customer/basket/basket-items.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: reduce firing product links request
  src/app/core/facades/shopping.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: prevent firing price action twice
  src/app/core/facades/shopping.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: reduce number of variations actions
  src/app/core/store/shopping/products/products.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: lazily fetch products for CMS carousels
  src/app/shared/components/product/products-list/products-list.component.html
  src/app/shared/components/product/products-list/products-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: newsletter-checkbox on registration page
  src/app/core/models/customer/customer.model.ts
  src/app/core/services/newsletter/newsletter.service.spec.ts
  src/app/core/services/newsletter/newsletter.service.ts
  src/app/core/store/customer/customer-store.module.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/customer/user/user-newsletter.effects.spec.ts
  src/app/core/store/customer/user/user-newsletter.effects.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.effects.spec.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/store/customer/user/user.reducer.ts
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.ts
  src/app/pages/account-profile/account-profile/account-profile.component.html
  src/app/pages/registration/formly/registration-newsletter-field/registration-newsletter-field.component.html
  src/app/pages/registration/formly/registration-newsletter-field/registration-newsletter-field.component.spec.ts
  src/app/pages/registration/formly/registration-newsletter-field/registration-newsletter-field.component.ts
  src/app/pages/registration/registration-page.module.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.spec.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: subscription status on profile settings page
  src/app/core/facades/account.facade.ts
  src/app/core/services/newsletter/newsletter.service.spec.ts
  src/app/core/services/newsletter/newsletter.service.ts
  src/app/core/store/customer/user/user-newsletter.effects.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/store/customer/user/user.reducer.ts
  src/app/core/store/customer/user/user.selectors.ts
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.ts
  src/app/pages/account-profile-user/account-profile-user-page.component.html
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.html
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.ts
  src/app/pages/account-profile/account-profile-page.component.html
  src/app/pages/account-profile/account-profile-page.component.ts
  src/app/pages/account-profile/account-profile-page.module.ts
  src/app/pages/account-profile/account-profile/account-profile.component.html
  src/app/pages/account-profile/account-profile/account-profile.component.spec.ts
  src/app/pages/account-profile/account-profile/account-profile.component.ts
  src/app/pages/account-profile/fetch-user-newsletter.guard.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed angular 16 errors
  src/app/core/store/customer/user/user-newsletter.effects.ts
  src/app/pages/account-profile-user/account-profile-user-page.component.html
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.html
  src/app/pages/account-profile/account-profile-page.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: implemented suggested changes, missing config-check in facade
  src/app/core/facades/account.facade.ts
  src/app/core/services/newsletter/newsletter.service.ts
  src/app/core/store/customer/user/user-newsletter.effects.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/store/customer/user/user.reducer.ts
  src/app/pages/account-profile/fetch-user-newsletter.guard.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: extension schematic adds feature toggle
  schematics/src/extension/factory.ts
  schematics/src/extension/factory_spec.ts
  schematics/src/utils/registration.ts
  schematics/src/utils/testHelper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: typed environment feature toggle
  .eslintrc.json
  src/app/core/configurations/configuration.meta.ts
  src/app/core/directives/feature-toggle.directive.spec.ts
  src/app/core/directives/feature-toggle.directive.ts
  src/app/core/directives/not-feature-toggle.directive.spec.ts
  src/app/core/directives/not-feature-toggle.directive.ts
  src/app/core/feature-toggle.module.ts
  src/app/core/guards/feature-toggle.guard.spec.ts
  src/app/core/identity-provider/identity-provider.factory.ts
  src/app/core/pipes/feature-toggle.pipe.spec.ts
  src/app/core/pipes/feature-toggle.pipe.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/configuration/configuration.integration.spec.ts
  src/app/core/store/core/configuration/configuration.reducer.ts
  src/app/core/store/core/server-config/server-config.effects.ts
  src/app/core/utils/feature-event/feature-event.service.ts
  src/app/core/utils/feature-toggle/feature-toggle.service.spec.ts
  src/app/core/utils/feature-toggle/feature-toggle.service.ts
  src/app/core/utils/module-loader/module-loader.service.ts
  src/app/pages/account/account-navigation/account-navigation.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: fix newsletter effect jests
  src/app/core/store/customer/user/user-newsletter.effects.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fixed jests
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/customer/user/user.effects.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: prevent unnecessary actions (#1580)
  src/app/core/facades/shopping.facade.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/shopping/products/products.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: lazily fetch products for CMS carousels (#1581)
  src/app/shared/components/product/products-list/products-list.component.html
  src/app/shared/components/product/products-list/products-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: use server setting for message-to-merchant checkout field (#1542)
  docs/concepts/configuration.md
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.spec.ts
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-order/account-order/account-order.component.spec.ts
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.spec.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.spec.ts
  src/app/pages/checkout-shipping/checkout-shipping-page.component.html
  src/app/pages/checkout-shipping/checkout-shipping-page.component.spec.ts
  src/environments/environment.b2b.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce optional ICM Compatibility Interceptor (#1542)
  docs/guides/migrations.md
  src/app/core/core.module.ts
  src/app/core/interceptors/icm-compatibility.interceptor.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: data type of some creation dates (#1582)
  src/app/core/models/cost-center/cost-center.interface.ts
  src/app/core/models/cost-center/cost-center.mapper.spec.ts
  src/app/core/models/cost-center/cost-center.mapper.ts
  src/app/core/models/order/order.interface.ts
  src/app/core/models/order/order.mapper.spec.ts
  src/app/core/models/order/order.model.ts
  src/app/extensions/order-templates/models/order-template/order-template.interface.ts
  src/app/extensions/order-templates/models/order-template/order-template.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display dates in the user's timezone, if no timezone is given (#1582)
  src/app/core/pipes/date.pipe.spec.ts
  src/app/core/pipes/date.pipe.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent rendering errors for text on enhanced image teaser caused by Angular hydration
  src/app/shared/cms/components/cms-image-enhanced/cms-image-enhanced.component.html
Due: npx prettier --loglevel warn --write

fix: prevent rendering errors for text on enhanced image teaser caused by Angular hydration (#1583)
  src/app/shared/cms/components/cms-image-enhanced/cms-image-enhanced.component.html
Due: npx prettier --loglevel warn --write

style: update affected stylings
  src/styles/global/tables.scss
  src/styles/pages/category/filter-panel.scss
  src/styles/pages/checkout/quick-cart.scss
Due: none

test: update snap and test files
  projects/organization-management/src/app/pages/cost-center-buyers/cost-center-buyers-page.component.spec.ts
  src/app/extensions/compare/pages/compare/product-compare-list/product-compare-list.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-line-item/account-order-template-detail-line-item.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template/account-order-template-page.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout-configuration/formly/oci-configuration-mapping-repeat-field/oci-configuration-mapping-repeat-field.component.spec.ts
  src/app/extensions/quickorder/shared/formly/quickorder-repeat-field/quickorder-repeat-field.component.spec.ts
  src/app/extensions/quoting/shared/quote-line-item-list-element/quote-line-item-list-element.component.spec.ts
  src/app/extensions/recently/pages/recently/recently-page.component.spec.ts
  src/app/extensions/tacton/pages/configure/tacton-configure-navigation/tacton-configure-navigation.component.spec.ts
  src/app/extensions/wishlists/pages/account-wishlist/account-wishlist-page.component.spec.ts
  src/app/pages/account-payment/account-payment/account-payment.component.spec.ts
  src/app/pages/category/category-categories/category-categories.component.spec.ts
  src/app/pages/category/category-products/category-products.component.spec.ts
  src/app/pages/search/search-result/search-result.component.spec.ts
  src/app/shared/cms/components/cms-video/cms-video.component.spec.ts
  src/app/shared/components/basket/basket-validation-items/basket-validation-items.component.spec.ts
  src/app/shared/components/common/modal-dialog-link/modal-dialog-link.component.spec.ts
  src/app/shared/components/filter/filter-navigation-badges/filter-navigation-badges.component.spec.ts
  src/app/shared/components/filter/filter-swatch-images/__snapshots__/filter-swatch-images.component.spec.ts.snap
  src/app/shared/components/filter/filter-swatch-images/filter-swatch-images.component.spec.ts
  src/app/shared/components/filter/filter-text/filter-text.component.spec.ts
  src/app/shared/components/product/product-list-paging/product-list-paging.component.spec.ts
  src/app/shared/components/product/product-variation-select-enhanced/product-variation-select-enhanced.component.spec.ts
  src/app/shared/components/product/product-variation-select-swatch/product-variation-select-swatch.component.spec.ts
  src/app/shared/components/promotion/promotion-remove/promotion-remove.component.spec.ts
  src/app/shell/header/mini-basket/mini-basket.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: update on the accessibility document
  docs/guides/accessibility.md
Due: npx prettier --loglevel warn --write

test: test file updates
  docs/guides/accessibility.md
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.spec.ts
  src/app/pages/account-addresses/account-addresses/account-addresses.component.spec.ts
  src/app/shared/components/basket/basket-promotion-code/basket-promotion-code.component.spec.ts
  src/app/shared/components/product/product-variation-select-swatch/product-variation-select-swatch.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: testbed clean
  src/app/extensions/rating/formly/rating-stars-field/rating-stars-field.component.spec.ts
  src/app/pages/account-addresses/account-addresses/account-addresses.component.spec.ts
  src/app/shared/components/basket/basket-promotion-code/basket-promotion-code.component.spec.ts
  src/app/shared/components/product/product-variation-select-swatch/product-variation-select-swatch.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display of duplicated headers for special logins with activated hydration
  src/app/shell/header/header/header.component.html
Due: npx prettier --loglevel warn --write

docs: more motivation for shared Redis cache feature
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

test: cypress b2c updates
  e2e/cypress/e2e/pages/account/wishlists-overview.page.ts
  e2e/cypress/e2e/pages/checkout/checkout-payment.page.ts
  e2e/cypress/e2e/pages/shopping/product-list.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: cypress b2b updates
  e2e/cypress/e2e/pages/account/order-templates-overview.page.ts
  e2e/cypress/e2e/pages/account/quote-detail.page.ts
  e2e/cypress/e2e/pages/account/quote-list.page.ts
  e2e/cypress/e2e/pages/quickorder/quickorder.page.ts
  e2e/cypress/e2e/pages/shopping/quote-request.dialog.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: fix wishlist overview test file
  e2e/cypress/e2e/pages/account/wishlists-overview.page.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
