Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

refactor: remove unnecessary basketId parameters
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/services/payment/payment.service.spec.ts
  src/app/core/services/payment/payment.service.ts
  src/app/core/store/customer/basket/basket-addresses.effects.spec.ts
  src/app/core/store/customer/basket/basket-addresses.effects.ts
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/customer/basket/basket-payment.effects.spec.ts
  src/app/core/store/customer/basket/basket-payment.effects.ts
  src/app/core/store/customer/basket/basket-promotion-code.effects.spec.ts
  src/app/core/store/customer/basket/basket-promotion-code.effects.ts
  src/app/core/store/customer/basket/basket-validation.effects.spec.ts
  src/app/core/store/customer/basket/basket-validation.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/customer/orders/orders.actions.ts
  src/app/core/store/customer/orders/orders.effects.spec.ts
  src/app/core/store/customer/orders/orders.effects.ts
  src/app/core/store/customer/orders/orders.reducer.spec.ts
  src/app/extensions/quoting/services/quoting/quoting.service.spec.ts
  src/app/extensions/quoting/services/quoting/quoting.service.ts
  src/app/extensions/quoting/store/quoting/quoting.effects.spec.ts
  src/app/extensions/quoting/store/quoting/quoting.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: update .prettierignore with additional font types
  .prettierignore
Due: none

chore: fix wrong link in pull request template
  .github/pull_request_template.md
Due: npx prettier --loglevel warn --write

docs: concept for multi-site
  docs/README.md
  docs/concepts/configuration.md
  docs/concepts/multi-site-handling.md
  docs/concepts/pwa-building-blocks.md
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

refactor: remove unnecessary basketId parameters and simplify addItemsToBasket effect
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/services/payment/payment.service.spec.ts
  src/app/core/services/payment/payment.service.ts
  src/app/core/store/customer/basket/basket-addresses.effects.spec.ts
  src/app/core/store/customer/basket/basket-addresses.effects.ts
  src/app/core/store/customer/basket/basket-items.effects.spec.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/customer/basket/basket-payment.effects.spec.ts
  src/app/core/store/customer/basket/basket-payment.effects.ts
  src/app/core/store/customer/basket/basket-promotion-code.effects.spec.ts
  src/app/core/store/customer/basket/basket-promotion-code.effects.ts
  src/app/core/store/customer/basket/basket-validation.effects.spec.ts
  src/app/core/store/customer/basket/basket-validation.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/customer/orders/orders.actions.ts
  src/app/core/store/customer/orders/orders.effects.spec.ts
  src/app/core/store/customer/orders/orders.effects.ts
  src/app/core/store/customer/orders/orders.reducer.spec.ts
  src/app/extensions/quoting/services/quoting/quoting.service.spec.ts
  src/app/extensions/quoting/services/quoting/quoting.service.ts
  src/app/extensions/quoting/store/quoting/quoting.effects.spec.ts
  src/app/extensions/quoting/store/quoting/quoting.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: modify seo test for canonical URL requirements
  e2e/cypress/integration/pages/meta-data.module.ts
  e2e/cypress/integration/pages/shopping/family.page.ts
  e2e/cypress/integration/specs/system/seo-home-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/seo-product-detail-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/seo-search-page.b2c.e2e-spec.ts
  e2e/test-universal.sh
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: documentation adaptions
  docs/concepts/search-engine-optimization.md
  tslint.json
Due: npx prettier --loglevel warn --write

fix: rework seo effects to set correct canonical urls
  src/app/core/models/seo-attributes/seo-attributes.mapper.ts
  src/app/core/models/seo-attributes/seo-attributes.model.ts
  src/app/core/utils/routing.ts
  src/app/extensions/seo/guards/meta.guard.ts
  src/app/extensions/seo/seo.module.ts
  src/app/extensions/seo/store/seo/index.ts
  src/app/extensions/seo/store/seo/seo.actions.ts
  src/app/extensions/seo/store/seo/seo.effects.spec.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove loading animation after creating an address during the checkout
  src/app/core/store/customer/addresses/addresses.reducer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove loading animation after address creation during the checkout (#413)
  src/app/core/store/customer/addresses/addresses.reducer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: provide configuration meta reducer only on SSR side (#415)
  src/app/app.server.module.ts
  src/app/core/store/core/core-store.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: set default icmHost in nginx URL rewiriting to prevent security issue (#415)
  nginx/channel.conf.tmpl
  src/app/core/configurations/configuration.meta.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: formulate pwa-building-blocks
  docs/concepts/pwa-building-blocks.md
Due: npx prettier --loglevel warn --write

docs: minor changes
  docs/concepts/deployment-angular.md
  docs/concepts/hybrid-approach.md
  docs/guides/ssr-startup.md
Due: npx prettier --loglevel warn --write

fix: repair setting of canonical urls and other meta data (#412)
  docs/concepts/search-engine-optimization.md
  e2e/cypress/integration/pages/meta-data.module.ts
  e2e/cypress/integration/pages/shopping/family.page.ts
  e2e/cypress/integration/specs/system/seo-home-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/seo-product-detail-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/seo-search-page.b2c.e2e-spec.ts
  e2e/test-universal.sh
  src/app/core/models/seo-attributes/seo-attributes.mapper.ts
  src/app/core/models/seo-attributes/seo-attributes.model.ts
  src/app/core/utils/routing.ts
  src/app/extensions/seo/guards/meta.guard.ts
  src/app/extensions/seo/seo.module.ts
  src/app/extensions/seo/store/seo/index.ts
  src/app/extensions/seo/store/seo/seo.actions.ts
  src/app/extensions/seo/store/seo/seo.effects.spec.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: replace deprecated set-env calls in GitHub CI
  .github/workflows/demo-server.yml
  .github/workflows/integration.yml
  .github/workflows/windows.yml
  scripts/init-local-environment.js
Due: npx prettier --loglevel warn --write

chore: replace npm install with native call
  .github/workflows/development.yml
  .github/workflows/docs.yml
  .github/workflows/integration.yml
  .github/workflows/updates.yml
  .github/workflows/windows.yml
Due: npx prettier --loglevel warn --write

test: cypress test stabilization
  e2e/cypress/integration/pages/checkout/cart.page.ts
  e2e/cypress/integration/specs/extras/order-templates-shopping.b2b.e2e-spec.ts
  e2e/cypress/integration/specs/quoting/quote-handling-anonymous-basket-to-quote-request.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: fixes
  docs/concepts/hybrid-approach.md
  docs/concepts/pwa-building-blocks.md
Due: npx prettier --loglevel warn --write

docs: rename to default deployment
  docs/concepts/pwa-building-blocks.md
Due: npx prettier --loglevel warn --write

refactor: Bootstrap Modal HTML unification and cleanup
  e2e/cypress/integration/pages/account/add-to-order-template.module.ts
  e2e/cypress/integration/pages/account/add-to-wishlist.module.ts
  src/app/extensions/order-templates/pages/account-order-template/account-order-template-list/account-order-template-list.component.html
  src/app/extensions/order-templates/shared/order-template-preferences-dialog/order-template-preferences-dialog.component.html
  src/app/extensions/order-templates/shared/select-order-template-modal/select-order-template-modal.component.html
  src/app/extensions/quoting/shared/product-add-to-quote-dialog/product-add-to-quote-dialog.component.html
  src/app/extensions/wishlists/pages/account-wishlist/account-wishlist-list/account-wishlist-list.component.html
  src/app/extensions/wishlists/shared/select-wishlist-modal/select-wishlist-modal.component.html
  src/app/extensions/wishlists/shared/wishlist-preferences-dialog/wishlist-preferences-dialog.component.html
  src/app/shared/components/common/modal-dialog/modal-dialog.component.html
  src/app/shared/components/login/login-modal/login-modal.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/global/modals.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: adjust quote list item padding
  src/app/extensions/quoting/pages/quote-list/quote-list/quote-list.component.html
Due: npx prettier --loglevel warn --write

i18n: renamed line items table column (ISREST-1111)
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

i18n: removed "item(s)" behind number
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

docs: stateless vs. stateful
  docs/concepts/pwa-building-blocks.md
Due: npx prettier --loglevel warn --write

i18n: rename line items table column for order templates list (#419)
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: adjust quote list item padding (#418)
  src/app/extensions/quoting/pages/quote-list/quote-list/quote-list.component.html
Due: npx prettier --loglevel warn --write

refactor: Bootstrap Modal HTML unification and cleanup (#416)
  e2e/cypress/integration/pages/account/add-to-order-template.module.ts
  e2e/cypress/integration/pages/account/add-to-wishlist.module.ts
  src/app/extensions/order-templates/pages/account-order-template/account-order-template-list/account-order-template-list.component.html
  src/app/extensions/order-templates/shared/order-template-preferences-dialog/order-template-preferences-dialog.component.html
  src/app/extensions/order-templates/shared/select-order-template-modal/select-order-template-modal.component.html
  src/app/extensions/quoting/shared/product-add-to-quote-dialog/product-add-to-quote-dialog.component.html
  src/app/extensions/wishlists/pages/account-wishlist/account-wishlist-list/account-wishlist-list.component.html
  src/app/extensions/wishlists/shared/select-wishlist-modal/select-wishlist-modal.component.html
  src/app/extensions/wishlists/shared/wishlist-preferences-dialog/wishlist-preferences-dialog.component.html
  src/app/shared/components/common/modal-dialog/modal-dialog.component.html
  src/app/shared/components/login/login-modal/login-modal.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/global/modals.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: icm hiding
  docs/concepts/pwa-building-blocks.md
Due: npx prettier --loglevel warn --write

test: switch to cached server
  .github/workflows/development.yml
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

test: wait for basket merge
  e2e/cypress/integration/specs/checkout/basket-handling.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: stabilization (#423)
  .github/workflows/development.yml
  .github/workflows/integration.yml
  e2e/cypress/integration/specs/checkout/basket-handling.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: re-activate configuration meta reducer for development
  src/app/core/store/core/core-store.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
