Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

chore: release 4.2.0 preparation (#1507)
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat: use openresty image for nginx
  nginx/Dockerfile
  nginx/nginx.conf
Due: none

feat: shared cache for nginx via memcached
  .vscode/intershop.txt
  docker-compose.yml
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/nginx.conf
  nginx/templates/memcached-location.conf.tmpl
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

feat: memcached failover
  Dockerfile_memcached
  docker-compose.yml
  nginx/templates/memcached-location.conf.tmpl
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

chore: enable tacton for deployment
  .github/scripts/docker-compose.py
  .github/workflows/demo-server-up.yml
  docker-compose.yml
Due: npx prettier --loglevel warn --write

chore: deploy Auth0 demo server
  docker-compose.yml
Due: npx prettier --loglevel warn --write

use ICM 11 for integration tests and demo deployments
  .github/workflows/demo-server-up.yml
  .github/workflows/development.yml
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

e2e test adaptions required to work with ICM 11
  e2e/cypress.config.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: renamed 'id' to 'productListingId'
  src/app/pages/category/category-products/category-products.component.html
  src/app/pages/product/product-master-variations/product-master-variations.component.html
  src/app/pages/product/product-master-variations/product-master-variations.component.spec.ts
  src/app/pages/search/search-result/search-result.component.html
  src/app/shared/components/product/product-listing/product-listing.component.spec.ts
  src/app/shared/components/product/product-listing/product-listing.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixed jest
  src/app/shared/components/product/product-listing/product-listing.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixed missing rename
  src/app/shared/components/product/product-listing/product-listing.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: add migration note
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

refactor: rename 'id' to 'productListingId' (#1504)
  docs/guides/migrations.md
  src/app/pages/category/category-products/category-products.component.html
  src/app/pages/product/product-master-variations/product-master-variations.component.html
  src/app/pages/product/product-master-variations/product-master-variations.component.spec.ts
  src/app/pages/search/search-result/search-result.component.html
  src/app/shared/components/product/product-listing/product-listing.component.spec.ts
  src/app/shared/components/product/product-listing/product-listing.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

uniform code-style for effects to check for ssr (#1502)
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/messages/messages.effects.ts
  src/app/core/store/core/viewconf/viewconf.effects.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/orders/orders.effects.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/store/shopping/search/search.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

shorten wording of aria labels and other improvements
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

i18n: shorten wording of aria labels and other improvements (#1510)
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

chore: remove gitlens extension recommendation
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: npx prettier --loglevel warn --write

chore: remove further unneeded/unused VS Code Extensin recommendations
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: npx prettier --loglevel warn --write

chore: remove obsolete VS Code extension recommendations (#1512)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: npx prettier --loglevel warn --write

deps: dependencies updates and vulnerability fix for 'systeminformation'
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: add docker image names to compose file
  docker-compose.yml
Due: npx prettier --loglevel warn --write

chore: add docker image names to compose file (#1515)
  docker-compose.yml
Due: npx prettier --loglevel warn --write

chore: increase cypress action version
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

deps(e2e): upgrade cypress
  e2e/package-lock.json
  e2e/package.json
Due: npx prettier --loglevel warn --write

chore: remove incompatible property
  e2e/cypress.config.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: check failure type
  e2e/cypress-ci-e2e.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: matomo tracking first draft unit test (#80097)
  src/app/extensions/matomo/store/matomo/matomo.effects.spec.ts
  src/app/extensions/matomo/store/matomo/matomo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: update Cypress and repair e2e CI testing (#1517)
  .github/workflows/integration.yml
  e2e/cypress-ci-e2e.ts
  e2e/cypress.config.ts
  e2e/package-lock.json
  e2e/package.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: dependencies updates and vulnerability fix for 'systeminformation' (#1516)
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

refactor: bot detection as variable
  nginx/Dockerfile
  nginx/bot-map.conf
  nginx/features/ssr-off.conf
  nginx/nginx.conf
Due: none

feat: fallback to loading page when SSR is taking too long (#1511)
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/docker-entrypoint.d/40-gomplate.sh
  nginx/docker-entrypoint.d/entrypoint.sh
  nginx/loading-fallback.sh.tmpl
  nginx/nginx.conf
  nginx/templates/loading-fallback.conf.tmpl
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

fixed on registration form
  src/app/shared/forms/utils/forms.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixed jest
  src/app/shared/forms/utils/forms.service.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: fix form service docu
  src/app/shared/forms/utils/forms.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display salutions on registration page rendering (#1518)
  src/app/shared/forms/utils/forms.service.spec.ts
  src/app/shared/forms/utils/forms.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: state properties fallback is configurable, icm base url has no fallback on production mode, pwa error should only contain properties of defined HttpError interface
  src/app/app.server.module.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/error/error.reducer.ts
  src/app/core/utils/state-transfer/state-properties.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: wrong ICM is used when configured ICM throws errors on SSR (#1519)
  src/app/app.server.module.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/error/error.reducer.ts
  src/app/core/utils/state-transfer/state-properties.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: deploy URL not set right for all CSS url references (e.g. fonts)
  src/ssr/deploy-url.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add tests for api-token service
  src/app/core/store/customer/customer-store.module.ts
  src/app/core/utils/api-token/api-token.service.spec.ts
  src/app/core/utils/api-token/api-token.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
