Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

feat: added models for group path to organization hierarchy extension
  src/app/core/models/group/group.interface.ts
  src/app/core/models/group/group.mapper.spec.ts
  src/app/core/models/group/group.mapper.ts
  src/app/core/models/group/group.model.ts
  src/app/extensions/organization-hierarchies/models/buying-context/buying-context.interface.ts
  src/app/extensions/organization-hierarchies/models/buying-context/buying-context.mapper.spec.ts
  src/app/extensions/organization-hierarchies/models/buying-context/buying-context.mapper.ts
  src/app/extensions/organization-hierarchies/models/buying-context/buying-context.model.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.html
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.spec.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: simplified & styled hierarchy path component
  .stylelintrc.json
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.html
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.scss
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: tslint fixed
  src/app/core/models/buying-context/buying-context.interface.ts
  src/app/core/models/buying-context/buying-context.mapper.spec.ts
  src/app/core/models/buying-context/buying-context.mapper.ts
  src/app/core/models/buying-context/buying-context.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: removed dead code
  src/app/core/models/group/group.mapper.spec.ts
  src/app/core/models/group/group.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: imports addapted to location of buyingContext model
  projects/requisition-management/src/app/models/requisition/requisition.interface.ts
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/basket/basket.model.ts
  src/app/core/models/order/order.interface.ts
  src/app/core/models/order/order.mapper.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: removed unused interface
  src/app/core/models/group/group.interface.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

IS-32738: move functionality to extensions package
  projects/organization-management/src/app/pages/hierarchies/hierarchies-page.component.ts
  projects/requisition-management/src/app/models/requisition/requisition.interface.ts
  projects/requisition-management/src/app/models/requisition/requisition.mapper.spec.ts
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/basket/basket.model.ts
  src/app/core/models/buying-context/buying-context.interface.ts
  src/app/core/models/buying-context/buying-context.mapper.spec.ts
  src/app/core/models/buying-context/buying-context.mapper.ts
  src/app/core/models/order/order.interface.ts
  src/app/core/models/order/order.mapper.spec.ts
  src/app/core/models/order/order.mapper.ts
  src/app/core/services/order/order.service.ts
  src/app/extensions/organization-hierarchies/facades/organization-hierarchies.facade.ts
  src/app/extensions/organization-hierarchies/models/order-group-path/order-group-path.interface.ts
  src/app/extensions/organization-hierarchies/models/order-group-path/order-group-path.mapper.ts
  src/app/extensions/organization-hierarchies/models/order-group-path/order-group-path.model.ts
  src/app/extensions/organization-hierarchies/models/organization-order/organization-order.mapper.ts
  src/app/extensions/organization-hierarchies/services/organization-hierarchies/organization-hierarchies.service.spec.ts
  src/app/extensions/organization-hierarchies/services/organization-hierarchies/organization-hierarchies.service.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.html
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.scss
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.spec.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.ts
  src/app/extensions/organization-hierarchies/store/group/group.effects.spec.ts
  src/app/extensions/organization-hierarchies/store/group/group.effects.ts
  src/app/extensions/organization-hierarchies/store/order-group-path/index.ts
  src/app/extensions/organization-hierarchies/store/order-group-path/order-group-path.actions.ts
  src/app/extensions/organization-hierarchies/store/order-group-path/order-group-path.effects.spec.ts
  src/app/extensions/organization-hierarchies/store/order-group-path/order-group-path.effects.ts
  src/app/extensions/organization-hierarchies/store/order-group-path/order-group-path.reducer.ts
  src/app/extensions/organization-hierarchies/store/order-group-path/order-group-path.selectors.ts
  src/app/extensions/organization-hierarchies/store/order/order.actions.ts
  src/app/extensions/organization-hierarchies/store/order/order.effects.ts
  src/app/extensions/organization-hierarchies/store/organization-hierarchies-store.module.ts
  src/app/extensions/organization-hierarchies/store/organization-hierarchies-store.ts
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.html
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

IS-32738: remove empty lines
  src/app/extensions/organization-hierarchies/models/order-group-path/order-group-path.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

code style fixes
  src/app/extensions/organization-hierarchies/store/order-group-path/order-group-path.effects.spec.ts
  src/app/extensions/organization-hierarchies/store/order-group-path/order-group-path.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

IS-32738: rework regarding lint failures
  src/app/core/models/group/group.model.ts
  src/app/extensions/organization-hierarchies/facades/organization-hierarchies.facade.ts
  src/app/extensions/organization-hierarchies/models/order-group-path-entry/order-group-path-entry.interface.ts
  src/app/extensions/organization-hierarchies/models/order-group-path/order-group-path.interface.ts
  src/app/extensions/organization-hierarchies/models/order-group-path/order-group-path.mapper.spec.ts
  src/app/extensions/organization-hierarchies/models/order-group-path/order-group-path.mapper.ts
  src/app/extensions/organization-hierarchies/models/order-group-path/order-group-path.model.ts
  src/app/extensions/organization-hierarchies/models/organization-order/organization-order.mapper.spec.ts
  src/app/extensions/organization-hierarchies/models/organization-order/organization-order.mapper.ts
  src/app/extensions/organization-hierarchies/services/organization-hierarchies/organization-hierarchies.service.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-group-name/hierarchy-group-name.component.spec.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-group-name/hierarchy-group-name.component.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.html
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.spec.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.ts
  src/app/extensions/organization-hierarchies/store/group/group.actions.ts
  src/app/extensions/organization-hierarchies/store/group/group.effects.spec.ts
  src/app/extensions/organization-hierarchies/store/group/group.effects.ts
  src/app/extensions/organization-hierarchies/store/group/group.reducer.ts
  src/app/extensions/organization-hierarchies/store/group/group.selectors.spec.ts
  src/app/extensions/organization-hierarchies/store/order-group-path/order-group-path.effects.spec.ts
  src/app/extensions/organization-hierarchies/store/order-group-path/order-group-path.effects.ts
  src/app/extensions/organization-hierarchies/store/order-group-path/order-group-path.reducer.ts
  src/app/extensions/organization-hierarchies/store/order-group-path/order-group-path.selectors.spec.ts
  src/app/extensions/organization-hierarchies/store/order-group-path/order-group-path.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

IS-32738: use azure ohs proxy server for demo server deployment
  .github/workflows/demo-server.yml
Due: npx prettier --loglevel warn --write

IS-32738: limit heigth of group select box
  src/styles/components/header/hierarchy-switch.scss
Due: none

IS-32738: load filtered orders on order history page
  src/app/extensions/organization-hierarchies/exports/organization-hierarchies-exports.module.ts
  src/app/extensions/organization-hierarchies/facades/organization-hierarchies.facade.ts
  src/app/extensions/organization-hierarchies/organization-hierarchies.module.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-order-list/hierarchy-order-list.component.spec.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-order-list/hierarchy-order-list.component.ts
  src/app/pages/account-order-history/account-order-history-page.component.html
  src/app/pages/account-order-history/account-order-history-page.component.spec.ts
  src/app/pages/account-order-history/account-order-history-page.component.ts
  src/app/shared/components/order/order-list/order-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

IS-32738: fix import after rebase
  src/app/pages/account-order-history/account-order-history-page.component.spec.ts
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

IS-32738: delete dead code
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add permission check to edit the company profile
  src/app/pages/account-profile/account-profile-page.module.ts
  src/app/pages/account-profile/account-profile/account-profile.component.html
  src/app/pages/account-profile/account-profile/account-profile.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: double-check missing translation before reporting
  src/app/core/utils/translate/fallback-missing-translation-handler.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: double-check missing translation before reporting (#728)
  src/app/core/utils/translate/fallback-missing-translation-handler.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: adjust example url
  docs/guides/multi-site-configurations.md
Due: npx prettier --loglevel warn --write

fix: trigger change detection in the authorization toggle directive after permission changes
  src/app/core/directives/authorization-toggle.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: upgrade cypress to 7.x
  e2e/package.json
Due: npx prettier --loglevel warn --write

chore: adapt demo multisite config (#715)
  docker-compose.yml
  docs/README.md
  docs/concepts/multi-site-handling.md
  docs/guides/multi-site-configurations.md
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

feat: basic auth support for nginx
  docker-compose.yml
  docs/guides/multi-site-configurations.md
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/channel.conf.tmpl
  nginx/entrypoint.sh
Due: npx prettier --loglevel warn --write

feat: basic auth support for nginx (#677)
  docker-compose.yml
  docs/guides/multi-site-configurations.md
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/channel.conf.tmpl
  nginx/entrypoint.sh
Due: npx prettier --loglevel warn --write

IS-32738
  src/app/core/icon.module.ts
  src/app/extensions/organization-hierarchies/facades/organization-hierarchies.facade.ts
  src/app/extensions/organization-hierarchies/models/order-group-path/order-group-path.interface.ts
  src/app/extensions/organization-hierarchies/models/order-group-path/order-group-path.model.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.html
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.spec.ts
  src/app/extensions/organization-hierarchies/shared/hierarchy-path/hierarchy-path.component.ts
  src/app/extensions/organization-hierarchies/store/group/group.selectors.spec.ts
  src/app/extensions/organization-hierarchies/store/group/group.selectors.ts
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.html
  src/app/shared/components/basket/basket-buyer/basket-buyer.component.ts
  src/app/shared/components/basket/basket-cost-summary/basket-cost-summary.component.html
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update to Angular 12 and Webpack 5 (#718)
  angular.json
  e2e/test-schematics.sh
  package-lock.json
  package.json
  schematics/src/address-form-configuration/schema.json
  schematics/src/azure-pipeline/schema.json
  schematics/src/cms-component/schema.json
  schematics/src/component/schema.json
  schematics/src/extension/schema.json
  schematics/src/helpers/add-destroy/schema.json
  schematics/src/helpers/customized-copy/schema.json
  schematics/src/helpers/lazy-components/schema.json
  schematics/src/helpers/move-component/schema.json
  schematics/src/kubernetes-deployment/schema.json
  schematics/src/lazy-component/schema.json
  schematics/src/migration/decontainerize-0.16-to-0.17/schema.json
  schematics/src/model/schema.json
  schematics/src/module/schema.json
  schematics/src/page/schema.json
  schematics/src/pipe/schema.json
  schematics/src/service/schema.json
  schematics/src/store-group/schema.json
  schematics/src/store/schema.json
  scripts/cleanup-testbed.ts
  scripts/upgrade-pwa.js
  server.ts
  src/app/core/facades/cms.facade.ts
  src/app/core/utils/ngrx-creators.ts
  src/polyfills.ts
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: increase memory for github workflow
  .github/workflows/development.yml
Due: npx prettier --loglevel warn --write

chore: increase build memory for Dockerfile_reports
  Dockerfile_reports
Due: none

chore: let report workflow be executed
  .github/workflows/reports.yml
Due: npx prettier --loglevel warn --write

chore: increase memory for github workflow
  .github/workflows/development.yml
  Dockerfile_reports
Due: npx prettier --loglevel warn --write

refactor: use formly for checkout review page component (#710)
  src/app/pages/checkout-review/checkout-review-page.module.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.spec.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.ts
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.html
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.spec.ts
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: quick order - enable the add-to-cart button after a valid csv file has been selected
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.html
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: quick order - enable the add-to-cart button after a valid csv file has been selected (#736)
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.html
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
