Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: dont show withdrawal verification status in MyAccount
  src/app/pages/account-order/account-order/account-order.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

refactor: do not show withdrawal verification status in MyAccount (#2149)
  src/app/pages/account-order/account-order/account-order.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

build: update dependencies + fix vulnerabilities
  .nsprc
  package-lock.json
  package.json
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ci: extend the nginx cache duration so it will last for the whole Lighthouse CI test run (#2154)
  .github/lighthouse/docker-compose.yml
Due: npx prettier --loglevel warn --write

ci: enable HTTP/2 for the Lighthouse nginx deployment (#2154)
  .dockerignore
  .github/lighthouse/configurations/performance-desktop.lighthouserc.json
  .github/lighthouse/configurations/performance-mobile.lighthouserc.json
  .github/lighthouse/docker-compose.yml
  .github/workflows/lighthouse-performance-baseline.yml
  .github/workflows/lighthouse-performance-compare.yml
  .gitignore
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

feat: introduce `ng update` based migration support for PWA 12.0.0 (#2143)
  docs/README.md
  docs/guides/customizations.md
  docs/guides/migrations-how-to.md
  docs/guides/migrations.md
  schematics/package.json
  schematics/scripts/copy-dist-files.mjs
  schematics/src/migrations/explicit-standalone-flag/factory.ts
  schematics/src/migrations/migrations.json
  schematics/src/migrations/ngx-translate18/factory.ts
  schematics/src/migrations/standalone-override-flag/factory.ts
  schematics/src/migrations/standalone-override-flag/schema.json
  schematics/src/utils/lint-fix.ts
  schematics/src/utils/log-migration.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: remove old (3.3 to 4.0) schematic to migrate from formly v5 to v6
  schematics/src/collection.json
  schematics/src/migration/formly-5-to-6/factory.ts
  schematics/src/migration/formly-5-to-6/schema.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent `base href` hijacking by validating `baseHref` in SSR
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: further reduced the base href allowed characters list to only support simple path segments for base href
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: further hardening by only considering matrix parameters as used by the nginx for multi channel deployments
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add `ADDITIONAL_HEADERS` to error responses as well (e.g. CSP headers)
  nginx/templates/add-header.conf.tmpl
Due: none

fix: add `ADDITIONAL_HEADERS` to error responses as well (e.g. CSP headers) (#2158)
  nginx/templates/add-header.conf.tmpl
Due: none

fix: validate `baseHref` parameter to prevent base href hijacking (#2156)
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: sanitize hash character in product variation slugs
  src/app/core/routing/product/product.route.spec.ts
  src/app/core/utils/routing.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use quantity one for add to order template of a retail set
  src/app/extensions/order-templates/shared/product-add-to-order-template/product-add-to-order-template.component.spec.ts
  src/app/extensions/order-templates/shared/product-add-to-order-template/product-add-to-order-template.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: design view events to control locals
  src/app/core/utils/design-view/design-view.service.spec.ts
  src/app/core/utils/design-view/design-view.service.ts
  src/app/core/utils/preview/preview.service.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: sanitize hash character in product variation slugs (#2159)
  src/app/core/routing/product/product.route.spec.ts
  src/app/core/utils/routing.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: quantity for adding retail set products to order template (#2160)
  src/app/extensions/order-templates/shared/product-add-to-order-template/product-add-to-order-template.component.spec.ts
  src/app/extensions/order-templates/shared/product-add-to-order-template/product-add-to-order-template.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: migration of `conventional-changelog` from version 7 to 8 (removed Handlebars templates)
  3rd-party-licenses_format.json
  Dockerfile_reports
  intershop-changelog.js
  package-lock.json
  package.json
  templates/commit.hbs
  templates/footer.hbs
  templates/header.hbs
  templates/template.hbs
Due: npx prettier --loglevel warn --write

feat(Design View): add locale (languge switch) handling (#2161)
  src/app/core/utils/design-view/design-view.service.spec.ts
  src/app/core/utils/design-view/design-view.service.ts
  src/app/core/utils/preview/preview.service.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: render all product detail tabs in DOM for SEO
  src/app/pages/product/product-detail-info/product-detail-info.component.html
  src/app/pages/product/product-detail-info/product-detail-info.component.spec.ts
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: migration of `conventional-changelog` from version 7 to 8 (removed Handlebars templates) (#2165)
  3rd-party-licenses_format.json
  Dockerfile_reports
  intershop-changelog.js
  package-lock.json
  package.json
  templates/commit.hbs
  templates/footer.hbs
  templates/header.hbs
  templates/template.hbs
Due: npx prettier --loglevel warn --write

chore: put bot contributors on the CLA `allowlist` since they cannot sign anything
  .github/workflows/cla-assistant.yml
Due: npx prettier --loglevel warn --write

chore: update GitHub workflow actions to latest versions
  .github/workflows/automated-update.yml
  .github/workflows/dead-code.yml
  .github/workflows/demo-server-up.yml
  .github/workflows/development.yml
  .github/workflows/dockerhub-autobuilds.yml
  .github/workflows/docs.yml
  .github/workflows/integration.yml
  .github/workflows/lighthouse-accessibility.yml
  .github/workflows/lighthouse-performance-baseline.yml
  .github/workflows/lighthouse-performance-compare.yml
  .github/workflows/reports.yml
  .github/workflows/updates.yml
  .github/workflows/windows.yml
Due: npx prettier --loglevel warn --write

build: update dependencies
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat: implement Sales Solution code
  src/app/pages/product/product-detail-info/product-detail-info.component.html
  src/app/pages/product/product-detail-info/product-detail-info.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/pages/productdetail/productdetail.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: put functionality into its own component
  src/app/pages/product/product-detail-info/product-detail-info.component.html
  src/app/pages/product/product-detail-info/product-detail-info.component.ts
  src/app/shared/components/product/product-geo/product-geo.component.html
  src/app/shared/components/product/product-geo/product-geo.component.spec.ts
  src/app/shared/components/product/product-geo/product-geo.component.ts
  src/app/shared/shared.module.ts
  src/styles/pages/productdetail/productdetail.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: refactor as extension
  src/app/extensions/geo/exports/.gitignore
  src/app/extensions/geo/exports/geo-exports.module.ts
  src/app/extensions/geo/geo.module.ts
  src/app/extensions/geo/shared/product-geo/product-geo.component.html
  src/app/extensions/geo/shared/product-geo/product-geo.component.spec.ts
  src/app/extensions/geo/shared/product-geo/product-geo.component.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.html
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: adding geo meta tags in geo effect
  eslint.config.mjs
  src/app/extensions/geo/exports/geo-exports.module.ts
  src/app/extensions/geo/geo.module.ts
  src/app/extensions/geo/models/geo.model.ts
  src/app/extensions/geo/shared/product-geo/product-geo.component.ts
  src/app/extensions/geo/store/geo-store.module.ts
  src/app/extensions/geo/store/geo/geo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: clean up
  .dockerignore
  src/app/extensions/geo/exports/.gitignore
  src/app/extensions/geo/exports/lazy-product-geo/lazy-product-geo.component.html
  src/app/extensions/geo/exports/lazy-product-geo/lazy-product-geo.component.ts
  src/app/extensions/geo/models/geo/geo.helper.ts
  src/app/extensions/geo/models/geo/geo.model.ts
  src/app/extensions/geo/shared/product-geo/product-geo.component.ts
  src/app/extensions/geo/store/geo/geo.effects.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: review rework
  .dockerignore
  docs/concepts/configuration.md
  docs/guides/migrations.md
  src/app/core/facades/product-context.facade.ts
  src/app/core/models/attribute-group/attribute-group.types.ts
  src/app/core/utils/dom/dom.service.ts
  src/app/extensions/geo/exports/.gitignore
  src/app/extensions/geo/exports/geo-exports.module.ts
  src/app/extensions/geo/exports/lazy-product-geo/lazy-product-geo.component.html
  src/app/extensions/geo/exports/lazy-product-geo/lazy-product-geo.component.ts
  src/app/extensions/geo/models/geo/geo.helper.ts
  src/app/extensions/geo/models/geo/geo.model.ts
  src/app/extensions/geo/shared/product-geo/product-geo.component.html
  src/app/extensions/geo/shared/product-geo/product-geo.component.ts
  src/app/extensions/geo/store/geo/geo.effects.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.html
  src/app/pages/product/product-detail-info/product-detail-info.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chiore: review cleanup
  src/app/core/facades/product-context.facade.ts
  src/app/extensions/geo/models/geo/geo.helper.ts
  src/app/extensions/geo/models/geo/geo.model.ts
  src/app/extensions/geo/shared/product-geo/product-geo.component.html
  src/app/extensions/geo/shared/product-geo/product-geo.component.scss
  src/app/extensions/geo/shared/product-geo/product-geo.component.ts
  src/app/extensions/geo/store/geo/geo.effects.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.ts
  src/styles/pages/productdetail/productdetail.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
