Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: override 'rxjs' version for the no longer maintained '@trademe/ng-defer-load' package
  package.json
Due: npx prettier --loglevel warn --write

chore: dependencies and package-lock fixes (#1182)
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: add ci option to commitizen config
  .cz-config.js
Due: npx prettier --loglevel warn --write

chore: refactor demo server action
  .github/workflows/demo-server-up.yml
Due: npx prettier --loglevel warn --write

WIP DOWN CHANGES
  .github/workflows/demo-server-down.yml
  .github/workflows/demo-server-up.yml
Due: npx prettier --loglevel warn --write

chore: add ci option to commitizen config (#1184)
  .cz-config.js
Due: npx prettier --loglevel warn --write

WIP down fixes
  .github/workflows/demo-server-down.yml
Due: npx prettier --loglevel warn --write

switch -n order
  .github/workflows/demo-server-down.yml
Due: npx prettier --loglevel warn --write

trim unused code
  .github/workflows/demo-server-down.yml
Due: npx prettier --loglevel warn --write

test commit
  src/app/pages/error/error/error.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: use personalizationStatusDetermined when loading promotions
  src/app/core/store/shopping/promotions/promotions.effects.spec.ts
  src/app/core/store/shopping/promotions/promotions.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Replace with smb-responsive cm
  e2e/cypress/integration/specs/cms/server-html.b2c.e2e-spec.ts
  schematics/src/cms-component/factory_spec.ts
  src/app/core/models/content-pagelet/content-pagelet.mapper.spec.ts
  src/app/pages/home/home-page.component.html
  src/app/shared/cms/cms.module.ts
  src/app/shared/cms/components/cms-carousel/__snapshots__/cms-carousel.component.spec.ts.snap
  src/app/shared/cms/components/cms-carousel/cms-carousel.component.html
  src/app/shared/cms/components/cms-carousel/cms-carousel.component.spec.ts
  src/app/shared/cms/components/cms-carousel/cms-carousel.component.ts
  src/app/shared/cms/components/cms-container/cms-container.component.html
  src/app/shared/cms/components/cms-container/cms-container.component.spec.ts
  src/app/shared/cms/components/cms-container/cms-container.component.ts
  src/app/shared/cms/components/cms-dialog/cms-dialog.component.html
  src/app/shared/cms/components/cms-dialog/cms-dialog.component.spec.ts
  src/app/shared/cms/components/cms-standard-page/cms-standard-page.component.html
  src/app/shared/cms/components/cms-static-page/cms-static-page.component.html
  src/assets/mock-data/cms/includes/include.homepage.content.pagelet2-Include/get.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

revert -- chore: remove obsolete CMS LandingPage rendering component (#1114)
  src/app/shared/cms/cms.module.ts
  src/app/shared/cms/components/cms-container/cms-container.component.html
  src/app/shared/cms/components/cms-landing-page/cms-landing-page.component.html
  src/app/shared/cms/components/cms-landing-page/cms-landing-page.component.spec.ts
  src/app/shared/cms/components/cms-landing-page/cms-landing-page.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Changes
  docker-compose.yml
Due: npx prettier --loglevel warn --write

feat(seo): optimized category URLs with full category path (#1163)
  e2e/cypress/integration/pages/shopping/family.page.ts
  e2e/cypress/integration/pages/shopping/product-detail.page.ts
  e2e/cypress/integration/specs/system/rest-error-handling.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/seo-product-detail-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/seo-search-page.b2c.e2e-spec.ts
  e2e/test-universal.sh
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/models/category-view/category-view.model.ts
  src/app/core/routing/category/category.route.spec.ts
  src/app/core/routing/category/category.route.ts
  src/app/core/routing/product/product.route.spec.ts
  src/app/core/routing/product/product.route.ts
  src/app/core/routing/routing.integration.spec.ts
  src/app/core/store/shopping/categories/categories.selectors.spec.ts
  src/app/core/store/shopping/categories/categories.selectors.ts
  src/app/core/store/shopping/products/products.selectors.spec.ts
  src/app/core/store/shopping/products/products.selectors.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/core/utils/link-parser.ts
  src/app/core/utils/routing.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Changes after review
  .github/workflows/demo-server-down.yml
  .github/workflows/demo-server-up.yml
Due: npx prettier --loglevel warn --write

chore: refactor demo server action on request (#1181)
  .github/workflows/demo-server-down.yml
  .github/workflows/demo-server-up.yml
Due: npx prettier --loglevel warn --write

fix: pin version to the equally latest version
  nginx/Dockerfile
  nginx/entrypoint.sh
Due: none

feat: add a custom description to the textarea description wrapper
  docs/guides/formly.md
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: pin nginx version to 1.21.6 instead of using latest (#1188)
  nginx/Dockerfile
  nginx/entrypoint.sh
Due: none

feat: add promotions substrate to resetSubStatesOnActionsMeta
  src/app/core/store/shopping/shopping-store.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add quotation marks
  .github/workflows/demo-server-down.yml
Due: npx prettier --loglevel warn --write

ci: fix demo server down (#1192)
  .github/workflows/demo-server-down.yml
Due: npx prettier --loglevel warn --write

style: enable eslint rules 'no-var' and ' prefer-const'
  .eslintrc.json
  src/app/extensions/rating/services/reviews/reviews.service.spec.ts
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.spec.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.effects.spec.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.selectors.spec.ts
  src/typings.d.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

switched from 'let' to 'const'
  src/typings.d.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: remove deferLoad and use 'loading="lazy"' (#1097)
  docs/guides/migrations.md
  package-lock.json
  package.json
  src/app/pages/category/category-image/category-image.component.html
  src/app/pages/category/category-image/category-image.component.spec.ts
  src/app/pages/category/category-image/category-image.component.ts
  src/app/shared/cms/components/cms-image-enhanced/cms-image-enhanced.component.html
  src/app/shared/cms/components/cms-image-enhanced/cms-image-enhanced.component.ts
  src/app/shared/cms/components/cms-image/cms-image.component.html
  src/app/shared/cms/components/cms-image/cms-image.component.spec.ts
  src/app/shared/cms/components/cms-image/cms-image.component.ts
  src/app/shared/cms/components/cms-video/cms-video.component.html
  src/app/shared/cms/components/cms-video/cms-video.component.ts
  src/app/shared/components/product/product-image/product-image.component.html
  src/app/shared/components/product/product-image/product-image.component.spec.ts
  src/app/shared/components/product/product-image/product-image.component.ts
  src/app/shared/shared.module.ts
  src/styles/global/global.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: enable eslint rules 'no-var' and ' prefer-const' (#1196)
  .eslintrc.json
  src/app/extensions/rating/services/reviews/reviews.service.spec.ts
  src/app/extensions/rating/shared/product-reviews/product-reviews.component.spec.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.effects.spec.ts
  src/app/extensions/rating/store/product-reviews/product-reviews.selectors.spec.ts
  src/typings.d.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: remove deferLoad and use loading lazy (#1097)
  docs/guides/migrations.md
  package-lock.json
  package.json
  src/app/pages/category/category-image/category-image.component.html
  src/app/pages/category/category-image/category-image.component.spec.ts
  src/app/pages/category/category-image/category-image.component.ts
  src/app/shared/cms/components/cms-image-enhanced/cms-image-enhanced.component.html
  src/app/shared/cms/components/cms-image-enhanced/cms-image-enhanced.component.ts
  src/app/shared/cms/components/cms-image/cms-image.component.html
  src/app/shared/cms/components/cms-image/cms-image.component.spec.ts
  src/app/shared/cms/components/cms-image/cms-image.component.ts
  src/app/shared/cms/components/cms-video/cms-video.component.html
  src/app/shared/cms/components/cms-video/cms-video.component.ts
  src/app/shared/components/product/product-image/product-image.component.html
  src/app/shared/components/product/product-image/product-image.component.spec.ts
  src/app/shared/components/product/product-image/product-image.component.ts
  src/app/shared/shared.module.ts
  src/styles/global/global.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: content page not found when reloading a page with an unauthenticated user
  src/app/core/store/content/pages/pages.effects.spec.ts
  src/app/core/store/content/pages/pages.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: make default favicon accessible from root
  angular.json
  nginx/templates/multi-channel.conf.tmpl
  server.ts
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: content page not found when reloading a page with an authenticated user (#1198)
  src/app/core/store/content/pages/pages.effects.spec.ts
  src/app/core/store/content/pages/pages.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add noop impl for triggerInvite function
  src/app/core/identity-provider/identity-provider.factory.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: document requirements per case
  docs/concepts/sso.md
Due: npx prettier --loglevel warn --write

fix: add change password guard
  src/app/core/guards/identity-provider-password.guard.ts
  src/app/pages/forgot-password/forgot-password-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Minor details
  src/app/core/guards/identity-provider-password.guard.ts
  src/app/core/identity-provider.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
