Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

refactor: pageletId as input in content-pagelet-container
  src/app/core/facades/cms.facade.ts
  src/app/core/store/content/pagelets/pagelets.selectors.ts
  src/app/pages/content/content-page.container.html
  src/app/pages/content/content-page.container.spec.ts
  src/app/shared/cms/components/cms-carousel/__snapshots__/cms-carousel.component.spec.ts.snap
  src/app/shared/cms/components/cms-carousel/cms-carousel.component.html
  src/app/shared/cms/components/cms-container/cms-container.component.html
  src/app/shared/cms/components/cms-container/cms-container.component.spec.ts
  src/app/shared/cms/containers/content-include/content-include.container.html
  src/app/shared/cms/containers/content-pagelet/content-pagelet.container.html
  src/app/shared/cms/containers/content-pagelet/content-pagelet.container.spec.ts
  src/app/shared/cms/containers/content-pagelet/content-pagelet.container.ts
  src/app/shared/cms/containers/content-slot/content-slot.container.html
  src/app/shared/cms/containers/content-slot/content-slot.container.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

remove method pagelets from content views and just supply IDs
  src/app/core/facades/cms.facade.ts
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.ts
  src/app/core/models/content-view/__snapshots__/content-view.model.spec.ts.snap
  src/app/core/models/content-view/content-view.helper.spec.ts
  src/app/core/models/content-view/content-view.model.spec.ts
  src/app/core/models/content-view/content-view.model.ts
  src/app/core/store/content/includes/includes.selectors.ts
  src/app/core/store/content/pagelets/pagelets.selectors.ts
  src/app/core/store/content/pages/pages.selectors.ts
  src/app/core/utils/dev/test-data-utils.ts
  src/app/pages/content/content-page.container.html
  src/app/pages/content/content-page.container.spec.ts
  src/app/shared/cms/components/cms-carousel/cms-carousel.component.html
  src/app/shared/cms/components/cms-carousel/cms-carousel.component.spec.ts
  src/app/shared/cms/components/cms-carousel/cms-carousel.component.ts
  src/app/shared/cms/components/cms-container/cms-container.component.html
  src/app/shared/cms/components/cms-container/cms-container.component.spec.ts
  src/app/shared/cms/components/cms-container/cms-container.component.ts
  src/app/shared/cms/components/cms-dialog/cms-dialog.component.spec.ts
  src/app/shared/cms/components/cms-freestyle/cms-freestyle.component.spec.ts
  src/app/shared/cms/components/cms-image-enhanced/cms-image-enhanced.component.spec.ts
  src/app/shared/cms/components/cms-image/cms-image.component.spec.ts
  src/app/shared/cms/components/cms-product-list/cms-product-list.component.spec.ts
  src/app/shared/cms/components/cms-standard-page/cms-standard-page.component.spec.ts
  src/app/shared/cms/components/cms-static-page/cms-static-page.component.spec.ts
  src/app/shared/cms/components/cms-text/cms-text.component.spec.ts
  src/app/shared/cms/components/cms-video/cms-video.component.spec.ts
  src/app/shared/cms/containers/content-include/content-include.container.html
  src/app/shared/cms/containers/content-include/content-include.container.spec.ts
  src/app/shared/cms/containers/content-pagelet/content-pagelet.container.spec.ts
  src/app/shared/cms/containers/content-slot/content-slot.container.html
  src/app/shared/cms/containers/content-slot/content-slot.container.spec.ts
  src/app/shared/cms/sfe-adapter/sfe.mapper.spec.ts
  src/app/shared/cms/sfe-adapter/sfe.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

handle pagelet id changes reactively
  src/app/shared/cms/containers/content-pagelet/content-pagelet.container.html
  src/app/shared/cms/containers/content-pagelet/content-pagelet.container.spec.ts
  src/app/shared/cms/containers/content-pagelet/content-pagelet.container.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

selector as factory for correct memoization
  src/app/core/facades/cms.facade.ts
  src/app/core/store/content/pagelets/pagelets.integration.spec.ts
  src/app/core/store/content/pagelets/pagelets.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-848: rework merge handling
  e2e/cypress/integration/specs/checkout/basket-handling.b2c.e2e-spec.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/checkout-store.spec.ts
  src/app/core/store/user/user.reducer.ts
  src/app/core/store/user/user.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: server-html-directive patch elements on input change
  src/app/core/directives/server-html.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-859: captcha V3 integrated
  src/app/core/configuration.module.ts
  src/app/core/models/customer/customer.model.ts
  src/app/core/models/password-reminder/password-reminder.model.ts
  src/app/core/services/user/user.service.ts
  src/app/pages/contact/components/contact-form/contact-form.component.html
  src/app/pages/contact/components/contact-form/contact-form.component.ts
  src/app/pages/forgot-password/components/forgot-password-form/forgot-password-form.component.html
  src/app/pages/forgot-password/components/forgot-password-form/forgot-password-form.component.ts
  src/app/pages/forgot-password/components/forgot-password/forgot-password.component.html
  src/app/pages/registration/components/registration-form/registration-form.component.html
  src/app/pages/registration/components/registration-form/registration-form.component.spec.ts
  src/app/pages/registration/components/registration-form/registration-form.component.ts
  src/app/shared/forms/components/captcha-v2/captcha-v2.component.html
  src/app/shared/forms/components/captcha-v2/captcha-v2.component.spec.ts
  src/app/shared/forms/components/captcha-v2/captcha-v2.component.ts
  src/app/shared/forms/components/captcha-v3/captcha-v3.component.spec.ts
  src/app/shared/forms/components/captcha-v3/captcha-v3.component.ts
  src/app/shared/forms/components/captcha/captcha.component.html
  src/app/shared/forms/components/captcha/captcha.component.spec.ts
  src/app/shared/forms/components/captcha/captcha.component.ts
  src/app/shared/forms/forms.module.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix sku change subscription in product item container
  src/app/shared/product/containers/product-item/product-item.container.spec.ts
  src/app/shared/product/containers/product-item/product-item.container.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add update password functionality (from generated email link) to the forgot password handling
  src/app/core/facades/account.facade.ts
  src/app/core/models/password-reminder-update/password-reminder-update.model.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/user/user.actions.ts
  src/app/core/store/user/user.effects.ts
  src/app/core/store/user/user.reducer.ts
  src/app/pages/forgot-password/components/forgot-password/forgot-password.component.ts
  src/app/pages/forgot-password/components/request-reminder-form/request-reminder-form.component.html
  src/app/pages/forgot-password/components/request-reminder-form/request-reminder-form.component.spec.ts
  src/app/pages/forgot-password/components/request-reminder-form/request-reminder-form.component.ts
  src/app/pages/forgot-password/components/request-reminder/request-reminder.component.html
  src/app/pages/forgot-password/components/request-reminder/request-reminder.component.spec.ts
  src/app/pages/forgot-password/components/request-reminder/request-reminder.component.ts
  src/app/pages/forgot-password/components/update-password-form/update-password-form.component.html
  src/app/pages/forgot-password/components/update-password-form/update-password-form.component.spec.ts
  src/app/pages/forgot-password/components/update-password-form/update-password-form.component.ts
  src/app/pages/forgot-password/components/update-password/update-password.component.html
  src/app/pages/forgot-password/components/update-password/update-password.component.spec.ts
  src/app/pages/forgot-password/components/update-password/update-password.component.ts
  src/app/pages/forgot-password/forgot-password-page.container.html
  src/app/pages/forgot-password/forgot-password-page.container.spec.ts
  src/app/pages/forgot-password/forgot-password-page.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

changed e2e tests to no longer use product '3953312' since it caused problems in the product listing that sometimes required scrolling
  e2e/cypress/integration/specs/checkout/basket-handling.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/checkout-payments.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/retain-basket.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/shopping-anonymous.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/checkout/shopping-user.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/browse-products-from-indexed-page.mock.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/browse-products-homepage-to-product-detail.mock.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/browse-products-recently-viewed.mock.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/change-language-family-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/change-language-product-detail.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/change-language-search-result.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/compare-products.mock.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

update mock data
  .createMockdata.table
  src/assets/mock-data/categories/Cameras-Camcorders/584/get.json
  src/assets/mock-data/categories/Cameras-Camcorders/832/products/get.json
  src/assets/mock-data/categories/Cameras-Camcorders/get.json
  src/assets/mock-data/categories/Cameras-Camcorders/products/get.json
  src/assets/mock-data/categories/Computers/106/830/get.json
  src/assets/mock-data/categories/Computers/106/get.json
  src/assets/mock-data/categories/Computers/get.json
  src/assets/mock-data/categories/Home-Entertainment/SmartHome/get.json
  src/assets/mock-data/categories/Home-Entertainment/SmartHome/products/get.json
  src/assets/mock-data/categories/Home-Entertainment/get.json
  src/assets/mock-data/categories/Specials/get.json
  src/assets/mock-data/categories/get.json
  src/assets/mock-data/customers/-/get.json
  src/assets/mock-data/products/201807192/get.json
  src/assets/mock-data/products/201807204-01/get.json
  src/assets/mock-data/products/201807204/get.json
  src/assets/mock-data/products/201807231-01/get.json
  src/assets/mock-data/products/201807231-02/get.json
  src/assets/mock-data/products/201807231-03/get.json
  src/assets/mock-data/products/201807231-04/get.json
  src/assets/mock-data/products/201807231-05/get.json
  src/assets/mock-data/products/201807231-06/get.json
  src/assets/mock-data/products/201807231/get.json
  src/assets/mock-data/products/3953312/get.json
  src/assets/mock-data/products/4729528/get.json
  src/assets/mock-data/products/7912057/get.json
  src/assets/mock-data/products/8182790134362/get.json
  src/assets/mock-data/products/8182790134363/get.json
Due: npx prettier --loglevel warn --write

ISREST-888: add confirmation to privacy policy to registration page
  src/app/pages/registration/components/registration-form/registration-form.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/theme/global/buttons.scss
  src/theme/global/forms/forms.scss
  src/theme/pages/checkout/shopping-cart.scss
Due: npx prettier --loglevel warn --write

ISREST-888: add confirmation for terms and conditions to registration page
  e2e/cypress/integration/pages/account/registration.page.ts
  e2e/cypress/integration/specs/account/register-user.b2b.e2e-spec.ts
  e2e/cypress/integration/specs/account/register-user.b2c.e2e-spec.ts
  src/app/pages/registration/components/registration-form/registration-form.component.html
  src/app/pages/registration/components/registration-form/registration-form.component.spec.ts
  src/app/pages/registration/components/registration-form/registration-form.component.ts
  src/app/shared/forms/components/checkbox/checkbox.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Update CUSTOMIZING.md
  CUSTOMIZING.md
Due: npx prettier --loglevel warn --write

Reviewed README.md
  README.md
Due: npx prettier --loglevel warn --write

move business customer check into ngOnChanges
  src/app/shared/address-forms/containers/address-form/address-form.container.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: update dependencies
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix vulnerabilities
  package-lock.json
Due: npx prettier --loglevel warn --write

chore: update node.js
  .gitlab-ci.yml
  Dockerfile
  Dockerfile_reports
  README.md
  package-lock.json
  package.json
  templates/Dockerfile_dev
Due: npx prettier --loglevel warn --write

preparation open source: add Intershop Contributor License Agreement file
  INTERSHOP_CLA.md
Due: npx prettier --loglevel warn --write

preparation open source: adapt license file to MIT license
  LICENSE
Due: none
