Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: support RegEx configurations for `OVERRIDE_IDENTITY_PROVIDERS` (#2062)
  docker-compose.yml
  docs/guides/authentication_co_browse.md
  docs/guides/authentication_punchout.md
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

build: update dependencies + fix vulnerabilities
  .nsprc
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: remove the not necessary language distinction for our demo data
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

Revert "fix: fetch shipping methods directly from basket (#2007)"
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove unwanted wrapping within the shipping method display on checkout shipping page
  src/app/pages/checkout-shipping/formly/shipping-info/shipping-info.component.html
Due: npx prettier --loglevel warn --write

chore: remove nginx mkcert auto-generation
  docker-compose.yml
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/docker-entrypoint.d/20-ssl.sh
  nginx/docker-entrypoint.d/spec/20-ssl_spec.sh
Due: npx prettier --loglevel warn --write

chore: remove nginx mkcert auto-generation (#2065)
  docker-compose.yml
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/docker-entrypoint.d/20-ssl.sh
  nginx/docker-entrypoint.d/spec/20-ssl_spec.sh
Due: npx prettier --loglevel warn --write

docs: add csr mode related docu enhancements
  docs/concepts/configuration.md
  docs/concepts/pwa-building-blocks.md
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

fix: shipping method information display on checkout shipping page (#2066)
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/pages/checkout-shipping/formly/shipping-info/shipping-info.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: rephrased misleading cxml user credentials description (#2055)
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: rephrased misleading cxml user credentials description (#2055)
  src/assets/i18n/de_DE.json
Due: npx prettier --loglevel warn --write

Update src/assets/i18n/en_US.json
  src/assets/i18n/en_US.json
Due: npx prettier --loglevel warn --write

Update src/assets/i18n/fr_FR.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat(SSR): upgrade SSR HTTP/2 communication to undici 8 (#2069)
  docs/guides/ssr-startup.md
  package-lock.json
  package.json
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ci: add step "Setup Node.js" to use project Node.js version for Cypress job (#2069)
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

feat(NGINX): update dependencies in nginx Dockerfile
  nginx/Dockerfile
Due: none

build(NGINX): update dependencies in nginx Dockerfile (#2070)
  nginx/Dockerfile
Due: none

build: add `glob` as explicit dependency that is used in project scripts
  docs/check-dead-links.mjs
  docs/check-documentation-overview.js
  docs/check-kb-labels.js
  docs/check-sentence-newline.js
  eslint-rules/scripts/write-rule-index.mjs
  package-lock.json
  package.json
  schematics/scripts/copy-dist-files.mjs
  schematics/scripts/generate-schema-defs.mjs
  scripts/clean-up-localizations.js
  scripts/cleanup-testbed.mjs
  scripts/compile-docker-scripts.js
  scripts/dead-files.js
  scripts/fix-imports.js
  scripts/set-deploy-url.ts
  scripts/sort-i18n.mjs
  scripts/update-dockerignore.js
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: clean up `check-dead-links` script and remove `axios` dependency
  docs/check-dead-links.mjs
  docs/guides/product-context.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

build: update from `npm-run-all` to maintained `npm-run-all2` dependency
  docs/guides/development.md
  package-lock.json
  package.json
  scripts/cleanup-testbed.mjs
Due: npx prettier --loglevel warn --write

test: prevent console messages in Jest tests
  src/app/core/utils/ssr-logging/ssr-logging.service.spec.ts
  src/setupJest.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add token refresh error handling
  src/app/core/services/token/token.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: update dependencies + fix vulnerabilities
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat(NGINX): stabilize nginx Docker build against Ubuntu `apt-get` failures
  docs/guides/migrations.md
  nginx/Dockerfile
Due: npx prettier --loglevel warn --write

feat(NGINX): stabilize nginx Docker build against Ubuntu `apt-get` failures (#2071)
  docs/guides/migrations.md
  nginx/Dockerfile
Due: npx prettier --loglevel warn --write

feat: update colors for danger. warning, info and success to bootstrap theme colors
  src/styles/themes/b2b/variables.scss
  src/styles/themes/b2c/variables.scss
Due: none

Update src/assets/i18n/de_DE.json
  src/assets/i18n/de_DE.json
Due: npx prettier --loglevel warn --write

chore: add localization key for invalid password error when "changing" the email address (#2057)
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

review improvements
  docs/concepts/configuration.md
  docs/concepts/pwa-building-blocks.md
Due: npx prettier --loglevel warn --write

docs: add CSR mode related docu enhancements (#2067)
  docs/concepts/configuration.md
  docs/concepts/pwa-building-blocks.md
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

i18n: rephrase misleading CXML user credentials description (#2055, #2068)
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
