Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

feat: introduce Switch component (UI element for imidiate status changes)
  src/app/shared/components/common/switch/switch.component.html
  src/app/shared/components/common/switch/switch.component.scss
  src/app/shared/components/common/switch/switch.component.spec.ts
  src/app/shared/components/common/switch/switch.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Formly information field for rendering any freestyle text within generated forms
  docs/guides/formly.md
  src/app/shared/formly/types/information-field/information-field.component.html
  src/app/shared/formly/types/information-field/information-field.component.ts
  src/app/shared/formly/types/types.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce Server Setting route guard
  src/app/core/guards/server-setting.guard.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add tests
  projects/requisition-management/src/app/models/requisition/requisition.mapper.spec.ts
  src/app/core/models/recurring-order/recurring-order.mapper.spec.ts
  src/app/core/store/customer/recurring-orders/recurring-orders.selectors.spec.ts
  src/app/pages/account-recurring-orders/account-recurring-orders-page.component.html
  src/app/pages/account-recurring-orders/account-recurring-orders-page.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: disable recurring orders for punchout users + punchout user my account cleanup
  src/app/pages/account-overview/account-overview/account-overview.component.html
  src/app/pages/account/account-navigation/account-navigation.items.b2c.ts
  src/app/pages/account/account-navigation/account-navigation.items.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: adjust grammar in French localization
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

docs: adjustments after review
  docs/guides/formly.md
Due: npx prettier --loglevel warn --write

fix: changes for accessibility
  src/app/pages/account-recurring-order/account-recurring-order-page.component.html
  src/app/pages/account-recurring-orders/recurring-order-list/recurring-order-list.component.html
  src/app/pages/basket/basket-order-recurrence-edit/basket-order-recurrence-edit.component.ts
  src/app/shared/components/basket/basket-recurrence-summary/basket-recurrence-summary.component.html
  src/app/shared/components/common/switch/switch.component.html
  src/app/shared/components/common/switch/switch.component.ts
  src/app/shared/formly/types/number-field/number-field.component.html
  src/app/shared/formly/types/select-field/select-field.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: add localizations for accessibility changes
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

refactor: changed some spelling
  docs/guides/accessibility.md
Due: npx prettier --loglevel warn --write

docs: adjustments after review
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

refactor: provide an 'options' parameter for the ScriptLoaderService 'load' method
  docs/guides/migrations.md
  src/app/core/utils/script-loader/script-loader.service.ts
  src/app/extensions/copilot/shared/copilot/copilot.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: migrate Cybersource integration to Microform v2 (#1773)
  docs/guides/migrations.md
  src/app/pages/checkout-payment/payment-cybersource-creditcard/payment-cybersource-creditcard.component.spec.ts
  src/app/pages/checkout-payment/payment-cybersource-creditcard/payment-cybersource-creditcard.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: ignore HTTP response 403 in dead link detection
  docs/check-dead-links.mjs
Due: none

chore: extend Prettier ignore list with operating system and backup files
  .prettierignore
Due: none

docs: review accesibility.md
  docs/guides/accessibility.md
Due: npx prettier --loglevel warn --write

docs: wording and grammar adjustments after review
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

docs: shorten document title
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

docs: review accessibility-easy-check.md
  docs/guides/accessibility-easy-check.md
Due: npx prettier --loglevel warn --write

docs: small adjustments
  docs/guides/accessibility-easy-check.md
Due: npx prettier --loglevel warn --write

docs: add table of contents
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

docs: provide some guidance to aproach PCI DSS 4 (#1768)
  .vscode/intershop.txt
  docs/README.md
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

feat(accessibility): add password reveal button (#1752)
  .vscode/intershop.txt
  docs/guides/formly.md
  docs/guides/migrations.md
  src/app/core/configurations/injection-keys.ts
  src/app/core/directives.module.ts
  src/app/core/directives/focus-outside.directive.ts
  src/app/core/icon.module.ts
  src/app/extensions/punchout/shared/punchout-user-form/punchout-user-form.component.ts
  src/app/pages/account-profile-password/account-profile-password/account-profile-password.component.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/components/login/login-form/login-form.component.ts
  src/app/shared/formly/components/validation-icons/validation-icons.component.html
  src/app/shared/formly/dev/testing/formly-testing.module.ts
  src/app/shared/formly/types/password-field/password-field.component.html
  src/app/shared/formly/types/password-field/password-field.component.scss
  src/app/shared/formly/types/password-field/password-field.component.spec.ts
  src/app/shared/formly/types/password-field/password-field.component.ts
  src/app/shared/formly/types/types.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

adapt documentation
  docs/concepts/hybrid-approach.md
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: completed ng-select cost center selection implementation
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.html
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.spec.ts
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: update ng-select checkout implementation
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.html
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: updated ng-select error styling
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.html
  src/styles/global/forms.scss
Due: npx prettier --loglevel warn --write

feat: implemented ng-select in cost center user management
  projects/organization-management/src/app/components/cost-center-form/cost-center-form.component.ts
  src/app/shared/formly/types/search-select-field/search-select-field.component.html
  src/app/shared/formly/types/search-select-field/search-select-field.component.spec.ts
  src/app/shared/formly/types/search-select-field/search-select-field.component.ts
  src/app/shared/formly/types/types.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: implementing cost-center checkout ng-select
  package-lock.json
  package.json
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.html
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.ts
  src/app/shared/shared.module.ts
  src/styles/main.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: added cost center searching interface functionality
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.html
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.spec.ts
  projects/organization-management/src/app/components/cost-centers-filter/cost-centers-filter.component.ts
  projects/organization-management/src/app/components/managers-select/managers-select.component.html
  projects/organization-management/src/app/components/managers-select/managers-select.component.spec.ts
  projects/organization-management/src/app/components/managers-select/managers-select.component.ts
  projects/organization-management/src/app/exports/index.ts
  projects/organization-management/src/app/exports/organization-management-exports.module.ts
  projects/organization-management/src/app/organization-management.module.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.module.ts
  projects/organization-management/src/app/pages/cost-centers/formly/cost-centers-select-managers-field/cost-centers-select-managers-field.component.html
  projects/organization-management/src/app/pages/cost-centers/formly/cost-centers-select-managers-field/cost-centers-select-managers-field.component.spec.ts
  projects/organization-management/src/app/pages/cost-centers/formly/cost-centers-select-managers-field/cost-centers-select-managers-field.component.ts
  src/app/core/models/cost-center-query/cost-center-query.model.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: implemented basic pagination component
  src/app/core/facades/account.facade.ts
  src/app/pages/account-order-history/account-order-history-page.component.html
  src/app/pages/account-order-history/account-order-history-page.component.spec.ts
  src/app/pages/account-order-history/account-order-history-page.component.ts
  src/app/shared/components/pagination/pagination.component.html
  src/app/shared/components/pagination/pagination.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: updating order history pagination requests
  src/app/core/facades/account.facade.ts
  src/app/core/models/order/order.model.ts
  src/app/core/store/customer/orders/orders.actions.ts
  src/app/core/store/customer/orders/orders.effects.spec.ts
  src/app/core/store/customer/orders/orders.effects.ts
  src/app/core/store/customer/orders/orders.reducer.ts
  src/app/core/store/customer/orders/orders.selectors.spec.ts
  src/app/core/store/customer/orders/orders.selectors.ts
  src/app/pages/account-order-history/account-order-history-page.component.html
  src/app/pages/account-order-history/account-order-history-page.component.ts
  src/app/shared/components/pagination/pagination.component.html
  src/app/shared/components/pagination/pagination.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: updated pagination button logic, added testing
  src/app/pages/account-order-history/account-order-history-page.component.html
  src/app/shared/components/pagination/pagination.component.html
  src/app/shared/components/pagination/pagination.component.spec.ts
  src/app/shared/components/pagination/pagination.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: implemented basic pagination page jumping
  src/app/shared/components/pagination/pagination.component.html
  src/app/shared/components/pagination/pagination.component.spec.ts
  src/app/shared/components/pagination/pagination.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: mock total orders count that results in more pagination steps for UI considerations
  src/app/pages/account-order-history/account-order-history-page.component.html
Due: npx prettier --loglevel warn --write
