Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

make UPSTREAM_ICM optional and experimental
  nginx/README.md
  nginx/channel.conf.tmpl
  nginx/entrypoint.sh
  templates/docker-compose.yml
Due: npx prettier --loglevel warn --write

rename all common files to conf
  .prettierignore
  nginx/Dockerfile
  nginx/channel.conf.tmpl
  nginx/entrypoint.sh
  nginx/icm.conf.tmpl
  nginx/nginx.conf
  nginx/perf.conf
Due: none

ISREST-615: create Component for Video
  src/app/cms/cms.module.ts
  src/app/cms/components/cms-video/cms-video.component.html
  src/app/cms/components/cms-video/cms-video.component.spec.ts
  src/app/cms/components/cms-video/cms-video.component.ts
  src/app/core/icon.module.ts
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.ts
  src/app/core/models/content-pagelet/content-pagelet.mapper.ts
  src/theme/components/common/video.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-615: improve mapping of file reference configuration parameters
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.spec.ts
  src/app/core/models/content-configuration-parameter/content-configuration-parameter.mapper.ts
  src/app/core/models/content-pagelet/content-pagelet.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-615: improve CMS Video Component
  src/app/cms/components/cms-video/cms-video.component.html
  src/app/cms/components/cms-video/cms-video.component.ts
  src/theme/components/common/video.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-657: set authentication token in ApiService
  src/app/core/interceptors/auth.interceptor.spec.ts
  src/app/core/interceptors/auth.interceptor.ts
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/api/api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

prevent re-writing image URLs for pagespeed optimized nginx
  nginx/Dockerfile
Due: none

also tag image with build ref slug
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

ISREST-605: set smaller max-age for files not being output-hashed
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

repair reports image
  .dockerignore
  Dockerfile_reports
Due: none

add Store Files and display content Page from CSM
  src/app/core/models/content-include/content-include.interface.ts
  src/app/core/models/content-include/content-include.mapper.spec.ts
  src/app/core/models/content-page/content-page.mapper.ts
  src/app/core/models/content-page/content-page.model.ts
  src/app/core/models/content-view/__snapshots__/content-views.spec.ts.snap
  src/app/core/models/content-view/content-views.ts
  src/app/core/services/cms/cms.service.ts
  src/app/core/store/content/content-store.module.ts
  src/app/core/store/content/content-store.ts
  src/app/core/store/content/pagelets/pagelets.reducer.ts
  src/app/core/store/content/pages/index.ts
  src/app/core/store/content/pages/pages.actions.ts
  src/app/core/store/content/pages/pages.effects.spec.ts
  src/app/core/store/content/pages/pages.effects.ts
  src/app/core/store/content/pages/pages.reducer.ts
  src/app/core/store/content/pages/pages.selectors.spec.ts
  src/app/core/store/content/pages/pages.selectors.ts
  src/app/pages/content/components/content-page/content-page.component.html
  src/app/pages/content/components/content-page/content-page.component.spec.ts
  src/app/pages/content/components/content-page/content-page.component.ts
  src/app/pages/content/content-page.container.html
  src/app/pages/content/content-page.container.spec.ts
  src/app/pages/content/content-page.container.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-646: introduce 'CMSStaticPageComponent' as rendering component for 'app_sf_responsive_cm:component.shopping.staticPage.pagelet2-Component' pagelet type
  src/app/cms/cms.module.ts
  src/app/cms/components/cms-static-page/cms-static-page.component.html
  src/app/cms/components/cms-static-page/cms-static-page.component.spec.ts
  src/app/cms/components/cms-static-page/cms-static-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-646: introduce 'CMSStandardPageComponent' as rendering component for 'app_sf_responsive_cm:pagevariant.standard.pagelet2-Pagevariant' pagelet type
  src/app/cms/cms.module.ts
  src/app/cms/components/cms-standard-page/cms-standard-page.component.html
  src/app/cms/components/cms-standard-page/cms-standard-page.component.spec.ts
  src/app/cms/components/cms-standard-page/cms-standard-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-646: use 'cms/pages/' REST API and content page mapper to fetch content page content
  src/app/core/models/content-page/content-page.interface.ts
  src/app/core/models/content-page/content-page.mapper.ts
  src/app/core/services/cms/cms.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-646: improved content page state handling and added selecting content page to the state by routing
  src/app/core/store/content/pages/pages.actions.ts
  src/app/core/store/content/pages/pages.effects.spec.ts
  src/app/core/store/content/pages/pages.effects.ts
  src/app/core/store/content/pages/pages.reducer.ts
  src/app/core/store/content/pages/pages.selectors.spec.ts
  src/app/core/store/content/pages/pages.selectors.ts
  src/app/pages/content/content-page.container.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-646: add routes that represent real content pages in the Responsive Starter Store
  src/app/shell/footer/components/footer/footer.component.html
Due: npx prettier --loglevel warn --write

ISREST-646: improved content handling of the Content Page Component
  src/app/cms/cms.module.ts
  src/app/pages/content/components/content-page/content-page.component.html
  src/app/pages/content/components/content-page/content-page.component.spec.ts
  src/app/pages/content/components/content-page/content-page.component.ts
  src/app/pages/content/content-page.container.html
  src/app/pages/content/content-page.container.spec.ts
  src/app/pages/content/content-page.container.ts
  src/app/pages/content/content-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-646: fix dynamic CMS component creation to only render the newly assigned content when reusing the cmsOutlet
  src/app/cms/containers/content-pagelet/__snapshots__/content-pagelet.container.spec.ts.snap
  src/app/cms/containers/content-pagelet/content-pagelet.container.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-646: consolidated ContentInclude and ContentPage model artifacts to ContentEntryPoint model artifacts and used this instead throughout the application
  src/app/cms/containers/content-include/content-include.container.spec.ts
  src/app/cms/containers/content-include/content-include.container.ts
  src/app/core/models/content-entry-point/__snapshots__/content-entry-point.mapper.spec.ts.snap
  src/app/core/models/content-entry-point/content-entry-point.interface.ts
  src/app/core/models/content-entry-point/content-entry-point.mapper.spec.ts
  src/app/core/models/content-entry-point/content-entry-point.mapper.ts
  src/app/core/models/content-entry-point/content-entry-point.model.ts
  src/app/core/models/content-include/content-include.interface.ts
  src/app/core/models/content-include/content-include.model.ts
  src/app/core/models/content-page/content-page.mapper.ts
  src/app/core/models/content-view/__snapshots__/content-views.spec.ts.snap
  src/app/core/models/content-view/content-views.spec.ts
  src/app/core/models/content-view/content-views.ts
  src/app/core/services/cms/cms.service.ts
  src/app/core/store/content/includes/includes.actions.ts
  src/app/core/store/content/includes/includes.effects.spec.ts
  src/app/core/store/content/includes/includes.reducer.spec.ts
  src/app/core/store/content/includes/includes.reducer.ts
  src/app/core/store/content/includes/includes.selectors.spec.ts
  src/app/core/store/content/includes/includes.selectors.ts
  src/app/core/store/content/pagelets/pagelets.integration.spec.ts
  src/app/core/store/content/pages/pages.actions.ts
  src/app/core/store/content/pages/pages.reducer.ts
  src/app/core/store/content/pages/pages.selectors.spec.ts
  src/app/core/store/content/pages/pages.selectors.ts
  src/app/pages/content/components/content-page/content-page.component.spec.ts
  src/app/pages/content/components/content-page/content-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

safety check
  src/app/core/configurations/ngrx-state-transfer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
