Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

build: update Cypress and e2e dependencies
  e2e/package-lock.json
  e2e/package.json
Due: npx prettier --loglevel warn --write

fix: route product master variation filtering to ICM service
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: change token fetching method
  src/app/extensions/captcha/shared/captcha-v3/captcha-v3.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: change captcha v3 token fetching mechanism (#2112)
  src/app/core/facades/app.facade.ts
  src/app/core/utils/paypal/adapters/paypal-google-pay/paypal-google-pay.adapter.spec.ts
  src/app/core/utils/paypal/paypal-config/paypal-config.service.spec.ts
  src/app/extensions/captcha/exports/lazy-captcha/lazy-captcha.component.spec.ts
  src/app/extensions/captcha/shared/captcha-v3/captcha-v3.component.spec.ts
  src/app/extensions/captcha/shared/captcha-v3/captcha-v3.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: fix lint issues after rebasing to angular 19
  eslint.config.mjs
  src/app/app.config.ts
  src/app/app.server.module.ts
  src/app/core/appearance.providers.ts
  src/app/core/core.providers.ts
  src/app/core/internationalization.providers.ts
  src/app/core/state-management.providers.ts
  src/app/core/store/hybrid/hybrid-store.providers.ts
  src/app/core/utils/module-loader/module-loader.service.ts
  src/app/extensions/address-doctor/address-doctor-feature.providers.ts
  src/app/extensions/captcha/captcha-feature.providers.ts
  src/app/extensions/compare/compare-feature.providers.ts
  src/app/extensions/compare/pages/compare/product-compare-list/product-compare-list.component.ts
  src/app/extensions/copilot/copilot-feature.providers.ts
  src/app/extensions/order-templates/order-templates-feature.providers.ts
  src/app/extensions/product-notifications/product-notifications-feature.providers.ts
  src/app/extensions/punchout/punchout-feature.providers.ts
  src/app/extensions/quoting/quoting-feature.providers.ts
  src/app/extensions/rating/rating-feature.providers.ts
  src/app/extensions/recently/recently-feature.providers.ts
  src/app/extensions/seo/seo-feature.providers.ts
  src/app/extensions/store-locator/store-locator-feature.providers.ts
  src/app/extensions/tracking/tracking-feature.providers.ts
  src/app/extensions/wishlists/wishlists-feature.providers.ts
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.ts
  src/app/shared/formly/types/search-select-field/search-select-field.component.ts
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: after rebase
  projects/requisition-management/src/app/components/requisition-reject-dialog/requisition-reject-dialog.component.spec.ts
  src/app/extensions/compare/pages/compare/compare-page.component.spec.ts
  src/app/extensions/order-templates/shared/order-template-preferences-dialog/order-template-preferences-dialog.component.ts
  src/app/extensions/order-templates/shared/select-order-template-modal/select-order-template-modal.component.spec.ts
  src/app/extensions/order-templates/shared/select-order-template-modal/select-order-template-modal.component.ts
  src/app/extensions/product-notifications/shared/product-notification-edit-dialog/product-notification-edit-dialog.component.ts
  src/app/extensions/rating/shared/product-review-create-dialog/product-review-create-dialog.component.spec.ts
  src/app/extensions/wishlists/shared/select-wishlist-modal/select-wishlist-modal.component.spec.ts
  src/app/extensions/wishlists/shared/select-wishlist-modal/select-wishlist-modal.component.ts
  src/app/extensions/wishlists/shared/wishlist-sharing-dialog/wishlist-sharing-dialog.component.ts
  src/app/shared/components/common/breadcrumb/breadcrumb.component.ts
  src/app/shared/components/line-item/line-item-edit-dialog/line-item-edit-dialog.component.spec.ts
  src/app/shared/components/product/product-image/product-image.component.ts
  src/app/shared/components/search/suggest-products-tile/suggest-products-tile.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: remove lazy-components schematics
  docs/guides/address-doctor.md
  e2e/test-schematics-normal.sh
  package.json
  schematics/src/collection.json
  schematics/src/lazy-component/factory.ts
  schematics/src/lazy-component/factory_spec.ts
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.html.template
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
  schematics/src/lazy-component/schema.json
  schematics/src/utils/registration.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use ids in track functions
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/shared/components/filter/filter-navigation-sidebar/filter-navigation-sidebar.component.html
  src/app/shared/components/line-item/line-item-list/line-item-list.component.html
Due: npx prettier --loglevel warn --write

chore: remove unnecessary git ignore files
  .dockerignore
  e2e/test-schematics-normal.sh
  projects/organization-management/src/app/exports/.gitignore
  projects/requisition-management/src/app/exports/.gitignore
  schematics/src/extension/files/__name@dasherize__/exports/.gitignore
  src/app/extensions/address-doctor/exports/.gitignore
  src/app/extensions/compare/exports/.gitignore
  src/app/extensions/copilot/exports/.gitignore
  src/app/extensions/order-templates/exports/.gitignore
  src/app/extensions/product-notifications/exports/.gitignore
  src/app/extensions/punchout/exports/.gitignore
  src/app/extensions/quickorder/exports/.gitignore
  src/app/extensions/quoting/exports/.gitignore
  src/app/extensions/rating/exports/.gitignore
  src/app/extensions/recently/exports/.gitignore
  src/app/extensions/wishlists/exports/.gitignore
  src/app/shell/shared/.gitignore
Due: none

chore: fix issues after rebasing
  src/app/extensions/captcha/shared/captcha-v2/captcha-v2.component.ts
  src/app/extensions/captcha/shared/captcha-v3/captcha-v3.component.ts
  src/app/shared/components/login/auth0-sign-in/auth0-sign-in.component.ts
  src/app/shared/components/product/product-quantity/product-quantity.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: changes after review - part 1
  docs/examples/script-inventory.md
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

docs: correct table column alignment
  docs/examples/script-inventory.md
Due: npx prettier --loglevel warn --write

fix: prevent false-positive missing-translation errors during SSR
  src/app/core/utils/translate/fallback-missing-translation-handler.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Revert "refactor: use ids in track functions"
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/shared/components/filter/filter-navigation-sidebar/filter-navigation-sidebar.component.html
  src/app/shared/components/line-item/line-item-list/line-item-list.component.html
Due: npx prettier --loglevel warn --write

temp: configure `ALLOWED_HOSTS` for demo deployment
  docker-compose.yml
Due: npx prettier --loglevel warn --write

fix: prevent false-positive `missing translation` errors in SSR (#2117)
  src/app/core/utils/translate/fallback-missing-translation-handler.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: change loadStrategy for measurement
  src/app/core/utils/module-loader/module-loader.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: changes after review - part 2
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

fix: route product master variation filtering to ICM search service instead of SPARQUE (#2116)
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: formatting changes + adapt `check-sentence-newline` script
  docs/check-kb-labels.js
  docs/check-sentence-newline.js
  docs/examples/script-inventory.md
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

docs: improve PCI DSS documentation (#2106)
  .vscode/intershop.txt
  docs/check-documentation-overview.js
  docs/check-kb-labels.js
  docs/check-sentence-newline.js
  docs/examples/script-inventory.md
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write

chore: use LAZY_FEATURE_PROVIDER
  docs/concepts/extension-loading.md
  docs/guides/migrations_standalone.md
  schematics/src/extension/files/__name@dasherize__/exports/__name@dasherize__-exports.module.ts.template
  src/app/app.config.ts
  src/app/core/utils/module-loader/module-loader.service.spec.ts
  src/app/core/utils/module-loader/module-loader.service.ts
  src/app/extensions/address-doctor/address-doctor-feature.providers.ts
  src/app/extensions/compare/compare-feature.providers.ts
  src/app/extensions/contact-us/contact-us-feature.providers.ts
  src/app/extensions/contact-us/pages/contact/contact-page.routes.ts
  src/app/extensions/copilot/copilot-feature.providers.ts
  src/app/extensions/order-templates/order-templates-feature.providers.ts
  src/app/extensions/product-notifications/product-notifications-feature.providers.ts
  src/app/extensions/punchout/punchout-feature.providers.ts
  src/app/extensions/quoting/quoting-feature.providers.ts
  src/app/extensions/rating/rating-feature.providers.ts
  src/app/extensions/recently/recently-feature.providers.ts
  src/app/extensions/seo/seo-feature.providers.ts
  src/app/extensions/tracking/tracking-feature.providers.ts
  src/app/extensions/wishlists/wishlists-feature.providers.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: remove whenLoaded from facades
  src/app/extensions/address-doctor/facades/address-doctor.facade.ts
  src/app/extensions/compare/facades/compare.facade.ts
  src/app/extensions/copilot/facades/copilot.facade.ts
  src/app/extensions/order-templates/facades/order-templates.facade.ts
  src/app/extensions/product-notifications/facades/product-notifications.facade.ts
  src/app/extensions/punchout/facades/punchout.facade.ts
  src/app/extensions/quoting/facades/quoting.facade.ts
  src/app/extensions/rating/facades/product-reviews.facade.ts
  src/app/extensions/recently/facades/recently.facade.ts
  src/app/extensions/wishlists/facades/wishlists.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: extend error mapping regarding new ADR specification
  src/app/core/interceptors/icm-error-mapper.interceptor.spec.ts
  src/app/core/interceptors/icm-error-mapper.interceptor.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: improve `find-dead-code` script for Signal based implementations
  scripts/find-dead-code.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: show withdrawal on order detail page
  src/app/core/models/order-list-query/order-list-query.model.ts
  src/app/core/models/order/order.interface.ts
  src/app/core/models/order/order.mapper.ts
  src/app/core/models/order/order.model.ts
  src/app/core/models/withdrawal-info/withdrawal-info.interface.ts
  src/app/core/services/order/order.service.ts
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/withdrawal-request/withdrawal-request-form/withdrawal-request-form.component.ts
  src/app/pages/withdrawal-request/withdrawal-request-page.component.html
  src/app/pages/withdrawal-request/withdrawal-request-page.component.spec.ts
  src/app/pages/withdrawal-request/withdrawal-request-page.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove captcha from withdrawal request form
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/withdrawal-request/withdrawal-request-form/withdrawal-request-form.component.ts
  src/assets/i18n/en_US.json
  src/styles/global/global.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: refactoring
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/withdrawal-request/withdrawal-request-form/withdrawal-request-form.component.spec.ts
  src/app/pages/withdrawal-request/withdrawal-request-form/withdrawal-request-form.component.ts
  src/app/pages/withdrawal-request/withdrawal-request-page.component.html
  src/app/pages/withdrawal-request/withdrawal-request-page.component.spec.ts
  src/app/pages/withdrawal-request/withdrawal-request-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: add localizations
  src/assets/i18n/de_DE.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

chore: rework regarding pr comments
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-order/account-order/account-order.component.scss
  src/app/pages/account-order/account-order/account-order.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: set withdrawal order include in dependency of withdrawal preference present
  src/app/core/models/order/order.interface.ts
  src/app/core/models/order/order.model.ts
  src/app/core/models/withdrawal-info/withdrawal-info.model.ts
  src/app/core/services/order/order.service.spec.ts
  src/app/core/services/order/order.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: improve find-dead-code script
  src/app/shared/components/custom-fields/custom-fields-formly/custom-fields-formly.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: fix line break issue
  src/app/pages/account-order/account-order/account-order.component.scss
Due: none
