Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

chore: debug config comments
  templates/docker-compose.yml
Due: npx prettier --loglevel warn --write

feat:concardis-credit-card-cvc-input-validation
  src/app/pages/checkout-payment/checkout-payment-page.module.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.html
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard/payment-concardis-creditcard.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:Removing unused parameter.
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:Fetching cvc timeout time from HostedPaymentPage capability.
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:Adding service to update cvc timestamp
  src/app/core/facades/checkout.facade.ts
  src/app/core/services/payment/payment.service.ts
  src/app/core/store/customer/basket/basket-payment.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.reducer.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:show sepa mandate in my account
  src/app/pages/account-payment/account-payment/account-payment.component.html
  src/app/pages/account-payment/account-payment/account-payment.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:implement payment service to update cvc timestamp.
  src/app/core/services/payment/payment.service.spec.ts
  src/app/core/services/payment/payment.service.ts
  src/app/core/store/customer/basket/basket-payment.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.reducer.ts
  src/app/pages/account-payment/account-payment/account-payment.component.spec.ts
  src/app/pages/account-payment/account-payment/account-payment.component.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:adding component for sepa mandate text.
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.html
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.spec.ts
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.ts
  src/app/pages/account-payment/account-payment-page.module.ts
  src/app/pages/account-payment/account-payment/account-payment.component.html
  src/app/pages/account-payment/account-payment/account-payment.component.spec.ts
  src/app/pages/account-payment/account-payment/account-payment.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:refactored code.
  src/app/core/facades/checkout.facade.ts
  src/app/core/services/payment/payment.service.spec.ts
  src/app/core/services/payment/payment.service.ts
  src/app/core/store/customer/basket/basket-payment.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.reducer.ts
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.html
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.spec.ts
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.ts
  src/app/pages/account-payment/account-payment/account-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.html
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:removing unused commented code.
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:concardis-credit-card-cvc-input-validation
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.html
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:implement payment service to update cvc timestamp.
  src/app/core/services/payment/payment.service.spec.ts
  src/app/core/services/payment/payment.service.ts
  src/app/core/store/customer/basket/basket-payment.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.reducer.ts
  src/app/pages/account-payment/account-payment/account-payment.component.spec.ts
  src/app/pages/account-payment/account-payment/account-payment.component.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:adding component for sepa mandate text.
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.html
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.spec.ts
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.ts
  src/app/pages/account-payment/account-payment/account-payment.component.html
  src/app/pages/account-payment/account-payment/account-payment.component.spec.ts
  src/app/pages/account-payment/account-payment/account-payment.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:refactored code.
  src/app/core/facades/checkout.facade.ts
  src/app/core/services/payment/payment.service.spec.ts
  src/app/core/services/payment/payment.service.ts
  src/app/core/store/customer/basket/basket-payment.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.reducer.ts
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.html
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.spec.ts
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.ts
  src/app/pages/account-payment/account-payment/account-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.html
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:disabling the "Continue Checkout" button and correcting error messages.
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.html
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:refactored code for console error.
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:refactored code for the responsive view.
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.html
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
  src/assets/i18n/de_DE.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:rebasing
  src/assets/i18n/en_US.json
Due: npx prettier --loglevel warn --write

feat:refactored code after rebasing.
  src/app/core/services/payment/payment.service.ts
  src/app/pages/account-payment/account-payment/account-payment.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.spec.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:remove code for disable continue button.
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:add german and french localization.
  src/assets/i18n/de_DE.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat:refactored code after applying patch.
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: remove redundant code from test
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: recheck concardis credit card cvc if necessary (#359)
  src/app/core/facades/checkout.facade.ts
  src/app/core/services/payment/payment.service.spec.ts
  src/app/core/services/payment/payment.service.ts
  src/app/core/store/customer/basket/basket-payment.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/basket/basket.reducer.ts
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.html
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.spec.ts
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.ts
  src/app/pages/account-payment/account-payment-page.module.ts
  src/app/pages/account-payment/account-payment/account-payment.component.html
  src/app/pages/account-payment/account-payment/account-payment.component.spec.ts
  src/app/pages/checkout-payment/checkout-payment-page.module.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.html
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard-cvc-detail/payment-concardis-creditcard-cvc-detail.component.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard/payment-concardis-creditcard.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 0.24.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat: display user role description
  projects/organization-management/src/app/components/user-roles-selection/user-roles-selection.component.html
  projects/organization-management/src/app/models/b2b-role/b2b-role.interface.ts
  projects/organization-management/src/app/models/b2b-role/b2b-role.mapper.spec.ts
  projects/organization-management/src/app/models/b2b-role/b2b-role.mapper.ts
  projects/organization-management/src/app/models/b2b-role/b2b-role.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 0.24.0 preparation (#392)
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat: example grafana dashboard
  docs/guides/prometheus-monitoring-dashboard.json
  docs/guides/prometheus-monitoring-dashboard.png
  docs/guides/prometheus-monitoring.md
Due: npx prettier --loglevel warn --write

fixup! feat: example grafana dashboard
  docs/guides/prometheus-monitoring-dashboard-annotated.png
  docs/guides/prometheus-monitoring-dashboard.json
  docs/guides/prometheus-monitoring-dashboard.png
  docs/guides/prometheus-monitoring.md
Due: npx prettier --loglevel warn --write

fixup! feat: prometheus monitoring for nginx
  nginx/entrypoint.sh
  nginx/features/prometheus.conf
Due: none

fix: replace parantheses in URL slugs
  src/app/core/routing/category/category.route.spec.ts
  src/app/core/routing/category/category.route.ts
  src/app/core/routing/product/product.route.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display user role description on create/edit b2b user pages (#393)
  projects/organization-management/src/app/components/user-roles-selection/user-roles-selection.component.html
  projects/organization-management/src/app/models/b2b-role/b2b-role.interface.ts
  projects/organization-management/src/app/models/b2b-role/b2b-role.mapper.spec.ts
  projects/organization-management/src/app/models/b2b-role/b2b-role.mapper.ts
  projects/organization-management/src/app/models/b2b-role/b2b-role.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: display payment costs according to the configured display type (gross/net)
  src/app/core/models/payment-method/payment-method.mapper.spec.ts
  src/app/core/models/payment-method/payment-method.mapper.ts
  src/app/core/models/payment-method/payment-method.model.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

documentation review
  docs/guides/prometheus-monitoring.md
  docs/guides/ssr-startup.md
Due: npx prettier --loglevel warn --write

npm format
  docs/guides/ssr-startup.md
Due: npx prettier --loglevel warn --write

fix: repair link check
  docs/check-dead-links.js
Due: npx prettier --loglevel warn --write
