Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

refactor: use translation interpolation for punchout keys
  scripts/clean-up-localizations.js
  src/app/core/utils/translate/pwa-translate-compiler.spec.ts
  src/app/core/utils/translate/pwa-translate-compiler.ts
  src/app/extensions/punchout/pages/account-punchout-create/account-punchout-create-page.component.html
  src/app/extensions/punchout/pages/account-punchout-create/account-punchout-create-page.component.ts
  src/app/extensions/punchout/pages/account-punchout/account-punchout-header/account-punchout-header.component.html
  src/app/extensions/punchout/pages/account-punchout/account-punchout-header/account-punchout-header.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout/account-punchout-page.component.html
  src/app/extensions/punchout/pages/account-punchout/account-punchout-page.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: TS typing improvements (#781)
  projects/requisition-management/src/app/pages/requisition-detail/budget-bar/budget-bar.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-buyer-approval/requisition-buyer-approval.component.spec.ts
  src/app/core/services/api/api.service.errorhandler.spec.ts
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/cms/cms.service.spec.ts
  src/app/core/store/shopping/products/products.selectors.ts
  src/app/pages/search/search-result/search-result.component.spec.ts
  src/app/shared/components/basket/basket-cost-summary/basket-cost-summary.component.spec.ts
  src/setupJest.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

DeployDemoServer for non intershop repos
  .github/workflows/demo-server.yml
Due: npx prettier --loglevel warn --write

refactor: remove redundant variable declarations
  src/app/extensions/punchout/pages/account-punchout-create/account-punchout-create-page.component.ts
  src/app/extensions/punchout/pages/account-punchout/account-punchout-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix build issues of angular universal artifact
  .github/workflows/demo-server.yml
Due: npx prettier --loglevel warn --write

refactor: issue a quantity error only for valid products
  src/app/core/facades/product-context.facade.ts
  src/app/shared/components/product/product-quantity/product-quantity.component.spec.ts
  src/app/shared/components/product/product-quantity/product-quantity.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use translation interpolation for punchout keys (#780)
  scripts/clean-up-localizations.js
  src/app/core/utils/translate/pwa-translate-compiler.spec.ts
  src/app/core/utils/translate/pwa-translate-compiler.ts
  src/app/extensions/punchout/pages/account-punchout-create/account-punchout-create-page.component.html
  src/app/extensions/punchout/pages/account-punchout-create/account-punchout-create-page.component.ts
  src/app/extensions/punchout/pages/account-punchout/account-punchout-header/account-punchout-header.component.html
  src/app/extensions/punchout/pages/account-punchout/account-punchout-header/account-punchout-header.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout/account-punchout-page.component.html
  src/app/extensions/punchout/pages/account-punchout/account-punchout-page.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: container provide better error message when given ICM uses a not valid ssl certificate
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: formatting
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: prettier
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: ssl check should only be done if https is used, move test to app() function
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: better error message
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use correct port to check ssl certificate, log out error messages when error code does not match given ssl certificate errors
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: log out non certifcate errors to error stream
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use const instead of let
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixup! fix build issues of angular universal artifact
  .github/workflows/demo-server.yml
Due: npx prettier --loglevel warn --write

feat: container provide better error message when given ICM uses a not valid ssl certificate (#779)
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ngcc in post install
  Dockerfile
  Dockerfile_noSSR
  package.json
Due: npx prettier --loglevel warn --write

feat: disable ngrx Store Devtools in production environments
  angular.json
  src/app/core/state-management.module.ts
  src/app/core/store/store-devtools.module.prod.ts
  src/app/core/store/store-devtools.module.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: basic review fixes
  src/app/pages/checkout-shipping/checkout-shipping-page.component.html
  src/app/pages/checkout-shipping/checkout-shipping-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: script to load all subcategories and products for a defined category from icm
  dist/.gitignore
  dist/load-test.js
Due: npx prettier --loglevel warn --write

fix: preselection bug
  src/app/pages/checkout-shipping/checkout-shipping/checkout-shipping.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

f validation phone number
  projects/organization-management/src/app/components/user-profile-form/user-profile-form.component.ts
  src/app/pages/contact/contact-form/contact-form.component.ts
  src/app/shared/formly-address-forms/configurations/address-form.configuration.ts
  src/app/shared/formly/types/phone-field/phone-field.component.html
  src/app/shared/formly/types/phone-field/phone-field.component.spec.ts
  src/app/shared/formly/types/phone-field/phone-field.component.ts
  src/app/shared/forms/validators/special-validators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: review comments
  angular.json
  src/app/core/state-management.module.ts
  src/app/core/store/store-devtools.module.prod.ts
  src/app/core/store/store-devtools.module.production.ts
  src/app/core/store/store-devtools.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: after icm request the correct category and product detail pages are called
  dist/load-test.js
Due: npx prettier --loglevel warn --write

adapt dead code detection
  scripts/find-dead-code.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

agnostic basic environment for independent tests
  src/app/core/store/core/configuration/configuration.integration.spec.ts
  src/app/core/store/core/configuration/configuration.selectors.spec.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/search/search.effects.spec.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/shell/header/sub-category-navigation/sub-category-navigation.component.spec.ts
  src/environments/environment.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

multi build and serve
  .github/workflows/demo-server.yml
  .github/workflows/integration.yml
  Dockerfile
  Dockerfile_noSSR
  dist/.gitignore
  dist/entrypoint.sh
  dist/server.js
  docker-compose.yml
  package.json
  scripts/build-multi-pwa.js
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

remove runtime theme properties
  src/app/core/configurations/configuration.meta.ts
  src/app/core/configurations/injection-keys.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/configuration/configuration.reducer.ts
  src/app/core/store/core/configuration/configuration.selectors.ts
  src/app/core/utils/theme/theme.service.ts
  src/environments/environment.blue.ts
  src/environments/environment.default.ts
  src/environments/environment.model.ts
  src/setupJest.ts
  src/typings.d.ts
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

split schematics test
  .github/workflows/development.yml
  e2e/test-schematics-customization.sh
  e2e/test-schematics-normal.sh
Due: npx prettier --loglevel warn --write

externalize config parsing in custom webpack
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

enhance build-pwa script and use it everywhere
  .github/workflows/demo-server.yml
  .github/workflows/development.yml
  Dockerfile
  Dockerfile_noSSR
  Dockerfile_reports
  docs/concepts/deployment-angular.md
  docs/guides/continuous-integration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  package.json
  reports/index.html
  scripts/build-pwa.js
Due: npx prettier --loglevel warn --write

remove runtime theming, rework ways for local override
  .github/workflows/integration.yml
  .github/workflows/windows.yml
  Dockerfile
  Dockerfile_noSSR
  angular.json
  docker-compose.yml
  e2e/test-schematics.sh
  package.json
  scripts/build-pwa.js
  scripts/init-local-environment.js
  src/app/core/utils/theme/theme.service.ts
  src/environments/environment.blue.ts
  src/environments/environment.default.ts
  src/environments/environment.model.ts
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deprecate customized-copy
  schematics/src/helpers/customized-copy/factory.ts
  schematics/src/utils/lint-fix.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix customization/add script for new multi-theme approach
  e2e/test-schematics-customization.sh
  schematics/customization/add/index.js
Due: npx prettier --loglevel warn --write

schematic for override component
  e2e/test-schematics-customization.sh
  schematics/customization/add/index.js
  schematics/src/collection.json
  schematics/src/helpers/customized-copy/factory_spec.ts
  schematics/src/helpers/move-component/factory_spec.ts
  schematics/src/helpers/override/factory.ts
  schematics/src/helpers/override/factory_spec.ts
  schematics/src/helpers/override/schema.json
  schematics/src/utils/filesystem.ts
  schematics/src/utils/registration.ts
  schematics/src/utils/testHelper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add default option to customization script
  e2e/test-schematics-customization.sh
  schematics/customization/add/index.js
Due: npx prettier --loglevel warn --write

fixup! schematic for override component
  e2e/test-schematics-customization.sh
Due: none

feat: disable ngrx Store Devtools in production environments (#773)
  angular.json
  scripts/find-dead-code.ts
  src/app/core/state-management.module.ts
  src/app/core/store/store-devtools.module.production.ts
  src/app/core/store/store-devtools.module.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: enable prettier for dist scripts
  .prettierignore
  dist/healthcheck.js
Due: npx prettier --loglevel warn --write
