Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

mock ProductVariationSelectComponent in specs
  src/app/shared/line-item/components/line-item-edit-dialog/line-item-edit-dialog.component.spec.ts
  src/app/shared/line-item/components/line-item-edit/line-item-edit.component.spec.ts
  src/app/shared/line-item/containers/line-item-edit-dialog/line-item-edit-dialog.container.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

optimize price calculation on product detail
  src/app/pages/product/product-page.container.html
  src/app/pages/product/product-page.container.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

run mock server with ng serve
  templates/Dockerfile_dev
Due: none

save default variation sku on master product
  src/app/core/models/product-variation/product-variation.helper.spec.ts
  src/app/core/models/product-variation/product-variation.helper.ts
  src/app/core/models/product-view/product-view.model.ts
  src/app/core/models/product/product-variation-master.model.ts
  src/app/core/store/shopping/products/products.actions.ts
  src/app/core/store/shopping/products/products.effects.spec.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/products/products.reducer.spec.ts
  src/app/core/store/shopping/products/products.reducer.ts
  src/app/core/store/shopping/products/products.selectors.spec.ts
  src/app/pages/product/product-page.container.spec.ts
  src/app/pages/product/product-page.container.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

move start_review_server to setup stage
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

gracious wait period for scrolling to bottom
  e2e/cypress/integration/pages/shopping/product-list.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

safty-check in getProductBundleParts-selector
  src/app/core/store/shopping/products/products.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: bullet points are cut off in chrome
  src/theme/pages/checkout/shopping-cart.scss
Due: none

add note to environment configuration documention for Google Tag Manager and Sentry integration regarding the limitation to working with Angular Universal (server side rendering) only
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor filter mapping
  src/app/core/models/facet/facet.model.ts
  src/app/core/models/filter-navigation/filter-navigation.mapper.ts
  src/app/shared/filter/components/filter-checkbox/filter-checkbox.component.html
  src/app/shared/filter/components/filter-checkbox/filter-checkbox.component.spec.ts
  src/app/shared/filter/components/filter-checkbox/filter-checkbox.component.ts
  src/app/shared/filter/components/filter-dropdown/filter-dropdown.component.html
  src/app/shared/filter/components/filter-dropdown/filter-dropdown.component.spec.ts
  src/app/shared/filter/components/filter-dropdown/filter-dropdown.component.ts
  src/app/shared/filter/components/filter-swatch-images/filter-swatch-images.component.spec.ts
  src/app/shared/filter/components/filter-swatch-images/filter-swatch-images.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

client-side filter navigation
  src/app/core/models/filter-navigation/filter-navigation.mapper.ts
  src/app/core/models/filter/filter.model.ts
  src/app/core/services/filter/filter.service.spec.ts
  src/app/core/services/filter/filter.service.ts
  src/app/shared/filter/components/filter-checkbox/filter-checkbox.component.html
  src/app/shared/filter/components/filter-dropdown/filter-dropdown.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-275: display basket and order error messages either in the mini basket or on the checkout pages
  src/app/core/models/http-error/__snapshots__/http-error.mapper.spec.ts.snap
  src/app/core/models/http-error/http-error.mapper.spec.ts
  src/app/core/models/http-error/http-error.mapper.ts
  src/app/core/store/orders/orders.reducer.ts
  src/app/core/store/orders/orders.selectors.spec.ts
  src/app/core/store/orders/orders.selectors.ts
  src/app/pages/basket/components/shopping-basket/shopping-basket.component.html
  src/app/pages/checkout-address/components/checkout-address/checkout-address.component.html
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-review/checkout-review-page.container.html
  src/app/pages/checkout-review/checkout-review-page.container.ts
  src/app/pages/checkout-review/components/checkout-review/checkout-review.component.html
  src/app/pages/checkout-shipping/components/checkout-shipping/checkout-shipping.component.html
  src/app/shell/header/components/mini-basket/mini-basket.component.html
  src/app/shell/header/components/mini-basket/mini-basket.component.ts
  src/app/shell/header/containers/mini-basket/mini-basket.container.html
  src/app/shell/header/containers/mini-basket/mini-basket.container.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-275: navigation arrows replaced by a scroll bar
  src/app/shell/header/components/mini-basket/mini-basket.component.html
  src/app/shell/header/components/mini-basket/mini-basket.component.spec.ts
  src/app/shell/header/components/mini-basket/mini-basket.component.ts
  src/theme/pages/checkout/quick-cart.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-275: ErrorMessageComponent added to display http errors on pages
  src/app/pages/account-addresses/components/account-addresses-page/account-addresses-page.component.html
  src/app/pages/account-addresses/components/account-addresses-page/account-addresses-page.component.spec.ts
  src/app/pages/account-profile-company/components/account-profile-company-page/account-profile-company-page.component.html
  src/app/pages/account-profile-company/components/account-profile-company-page/account-profile-company-page.component.spec.ts
  src/app/pages/account-profile-email/components/account-profile-email-page/account-profile-email-page.component.html
  src/app/pages/account-profile-email/components/account-profile-email-page/account-profile-email-page.component.spec.ts
  src/app/pages/account-profile-user/components/account-profile-user-page/account-profile-user-page.component.html
  src/app/pages/account-profile-user/components/account-profile-user-page/account-profile-user-page.component.spec.ts
  src/app/pages/basket/components/shopping-basket/shopping-basket.component.html
  src/app/pages/basket/components/shopping-basket/shopping-basket.component.spec.ts
  src/app/pages/checkout-address/components/checkout-address-anonymous/checkout-address-anonymous.component.html
  src/app/pages/checkout-address/components/checkout-address-anonymous/checkout-address-anonymous.component.spec.ts
  src/app/pages/checkout-address/components/checkout-address/checkout-address.component.html
  src/app/pages/checkout-address/components/checkout-address/checkout-address.component.spec.ts
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-review/components/checkout-review/checkout-review.component.html
  src/app/pages/checkout-review/components/checkout-review/checkout-review.component.spec.ts
  src/app/pages/checkout-shipping/components/checkout-shipping/checkout-shipping.component.html
  src/app/pages/checkout-shipping/components/checkout-shipping/checkout-shipping.component.spec.ts
  src/app/shared/common/components/error-message/error-message.component.html
  src/app/shared/common/components/error-message/error-message.component.spec.ts
  src/app/shared/common/components/error-message/error-message.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

make the component more robust in case the form is not created immediately after component init because the basket has not been loaded, yet.
  src/app/shared/basket/components/line-item-list/line-item-list.component.html
  src/app/shared/basket/components/line-item-list/line-item-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Mini basket should not open up on basket page fixed
  src/app/shell/header/components/mini-basket/mini-basket.component.ts
  src/app/shell/header/containers/mini-basket/mini-basket.container.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

update cypress to 3.4.1
  e2e/package-lock.json
  e2e/package.json
Due: npx prettier --loglevel warn --write

tune memoization of master products
  src/app/core/store/shopping/products/products.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

map price ranges of master products
  src/app/core/models/product/product-variation-master.model.ts
  src/app/core/models/product/product.helper.ts
  src/app/core/models/product/product.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

introduce feature toggle advancedVariationHandling
  .gitlab-ci.yml
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

display price range for master products
  src/app/shared/product/components/product-price/product-price.component.html
Due: npx prettier --loglevel warn --write

use product list container with paging on product detail page for master product
  src/app/core/store/shopping/product-listing/product-listing.actions.ts
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/pages/product/components/product-master-variations/product-master-variations.component.html
  src/app/pages/product/components/product-master-variations/product-master-variations.component.spec.ts
  src/app/pages/product/components/product-master-variations/product-master-variations.component.ts
  src/app/pages/product/product-page.container.html
  src/app/pages/product/product-page.container.spec.ts
  src/app/pages/product/product-page.container.ts
  src/app/pages/product/product-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

advanced variation handling on product tile and product detail for variation product
  src/app/pages/product/components/product-detail/product-detail.component.html
  src/app/shared/product/components/product-tile/product-tile.component.html
  src/app/shared/product/components/product-variation-select/product-variation-select.component.html
  src/app/shared/product/components/product-variation-select/product-variation-select.component.spec.ts
  src/app/shared/product/components/product-variation-select/product-variation-select.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/theme/pages/category/product-list.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
