Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

chore: test code
  src/app/core/utils/paypal/adapters/paypal-google-pay/paypal-google-pay.adapter.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(SSR): add ECS-compatible logging to SSR (#2010)
  .devcontainer/Dockerfile
  .github/workflows/integration.yml
  Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
  scripts/icm-cache.js
  server.ts
  src/app/app.server.module.ts
  src/app/core/interceptors/ssr-cache.interceptor.ts
  src/app/core/interceptors/ssr-log.interceptor.ts
  src/app/core/interceptors/ssr-mock.interceptor.ts
  src/app/core/utils/ssr-logging/ssr-logging.service.spec.ts
  src/app/core/utils/ssr-logging/ssr-logging.service.ts
  templates/webpack/webpack.custom.ts
  tsconfig.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(NGINX): add ECS-compatible logging to NGINX (#2010)
  docker-compose.yml
  nginx/Dockerfile
  nginx/docker-entrypoint.d/30-features.sh
  nginx/docker-entrypoint.d/50-loglevel.sh
  nginx/features/log_all-off.conf
  nginx/features/log_all.conf
  nginx/loglevel/error.conf
  nginx/loglevel/info.conf
  nginx/loglevel/warn.conf
  nginx/nginx.conf.tmpl
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

feat(NGINX, SSR): add request tracing to SSR and NGINX (#2010)
  nginx/nginx.conf.tmpl
  nginx/templates/multi-channel.conf.tmpl
  server.ts
  src/app/app.server.module.ts
  src/app/core/interceptors/ssr-log.interceptor.ts
  src/app/core/utils/ssr/ssr.tokens.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: update logging documentation (#2010)
  docs/concepts/hybrid-approach.md
  docs/concepts/logging.md
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  docs/guides/ssr-startup.md
Due: npx prettier --loglevel warn --write

chore: simplify the code
  src/app/core/facades/checkout.facade.ts
  src/app/core/services/order/order.service.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/orders/orders.actions.ts
  src/app/core/store/customer/orders/orders.effects.ts
  src/app/core/utils/paypal/adapters/paypal-adapters.builder.spec.ts
  src/app/core/utils/paypal/adapters/paypal-apple-pay/paypal-apple-pay.adapter.spec.ts
  src/app/core/utils/paypal/adapters/paypal-apple-pay/paypal-apple-pay.adapter.ts
  src/app/core/utils/paypal/adapters/paypal-google-pay/paypal-google-pay.adapter.spec.ts
  src/app/core/utils/paypal/adapters/paypal-google-pay/paypal-google-pay.adapter.ts
  src/app/core/utils/paypal/paypal-data-transfer/paypal-data-transfer.service.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: add well-known file to nginx
  nginx/Dockerfile
  nginx/apple-app-site-association/apple-developer-merchantid-domain-association
Due: none

fix: product context completeness level initialization
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/styles/pages/category/product-list.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: review changes
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: product context completeness level initialization - retail set issue (#2027)
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/shared/components/search/suggest-products/suggest-products.component.spec.ts
  src/styles/pages/category/product-list.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: dependency updates
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: prepare apple pay
  src/app/core/utils/paypal/adapters/paypal-apple-pay/paypal-apple-pay.adapter.ts
  src/app/core/utils/paypal/adapters/paypal-eligibility/paypal-eligibility-checker.ts
  src/assets/.well-known/apple-developer-merchantid-domain-association
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 10.0.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: release 10.0.0 preparation (#2033)
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix(NGINX): add ssl directives required for SNI to sitemap
  nginx/templates/multi-channel.conf.tmpl
Due: none

feat: enrich apple pay functionality
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/store/customer/orders/orders.effects.ts
  src/app/core/utils/paypal/adapters/paypal-adapters.builder.ts
  src/app/core/utils/paypal/adapters/paypal-apple-pay/paypal-apple-pay.adapter.spec.ts
  src/app/core/utils/paypal/adapters/paypal-apple-pay/paypal-apple-pay.adapter.ts
  src/app/core/utils/paypal/paypal-data-transfer/paypal-data-transfer.service.ts
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce environment variable
  .vscode/intershop.txt
  src/app/core/facades/app.facade.ts
  src/app/core/models/payment/payment.model.ts
  src/app/core/models/paypal-client-config/paypal-client-config.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/configuration/configuration.reducer.ts
  src/app/core/store/core/configuration/configuration.selectors.ts
  src/app/core/utils/paypal/adapters/paypal-apple-pay/paypal-apple-pay.adapter.spec.ts
  src/app/core/utils/paypal/adapters/paypal-apple-pay/paypal-apple-pay.adapter.ts
  src/app/core/utils/paypal/adapters/paypal-eligibility/paypal-eligibility-checker.ts
  src/app/core/utils/paypal/adapters/paypal-google-pay/paypal-google-pay.adapter.spec.ts
  src/app/core/utils/paypal/adapters/paypal-google-pay/paypal-google-pay.adapter.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove duplicate transferState
  src/app/app.server.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: adjust German localization (#113841)
  src/assets/i18n/de_DE.json
Due: npx prettier --loglevel warn --write

chore: change paypal token determination
  src/app/core/facades/checkout.facade.ts
  src/app/core/services/payment-paypal/payment-paypal.service.spec.ts
  src/app/core/services/payment-paypal/payment-paypal.service.ts
  src/app/core/store/customer/basket/basket-payment.effects.spec.ts
  src/app/core/store/customer/basket/basket-payment.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/utils/paypal/adapters/paypal-buttons/paypal-buttons.adapter.spec.ts
  src/app/core/utils/paypal/adapters/paypal-buttons/paypal-buttons.adapter.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: category with subcategories page rendering improvements
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/store/shopping/shopping-store.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add ICM base URL input to demo-server-up workflow (#2040)
  .github/workflows/demo-server-up.yml
Due: npx prettier --loglevel warn --write

fix: change call sequence for apple pay
  src/app/core/utils/paypal/adapters/paypal-apple-pay/paypal-apple-pay.adapter.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove duplicated transferState from SSR rendered pages (#2038)
  src/app/app.server.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: product variation filter on product master pages
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: changes after review (part 1)
  docs/concepts/configuration.md
  docs/concepts/deployment-angular.md
  docs/concepts/logging.md
  docs/concepts/progressive-web-app.md
  docs/guides/angular-change-detection.md
  docs/guides/continuous-integration.md
  docs/guides/development.md
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
Due: npx prettier --loglevel warn --write

build: dependency updates + added vulnerability exception
  .nsprc
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

build: dependency updates + added vulnerability exception (#2044)
  .nsprc
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix(NGINX): add SSL directives required for SNI to sitemap (#2034)
  nginx/templates/multi-channel.conf.tmpl
Due: none

temp: chuck splitting test
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: optimize chunk splitting for third-party libraries
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: pulled large angular libs out of vendor
  angular.json
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: chunk splitting test
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: optimize chunk splitting for third-party libraries to reduce Mini-Chunks
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: revert last changes
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
