Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

fix: prevent blanks in filter ids (#2194)
  src/app/core/models/filter-navigation/filter-navigation.mapper.spec.ts
  src/app/core/models/filter-navigation/filter-navigation.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: ship CSP and security headers by default
  .vscode/intershop.txt
  docs/README.md
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  docs/guides/pci-dss-4.md
  docs/guides/security-headers.md
  nginx/additional-headers.yaml
Due: npx prettier --loglevel warn --write

docs: changes after review
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  docs/guides/pci-dss-4.md
  docs/guides/security-headers.md
Due: npx prettier --loglevel warn --write

feat: ship CSP and security headers by default (#2178)
  .vscode/intershop.txt
  docs/README.md
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  docs/guides/pci-dss-4.md
  docs/guides/security-headers.md
  nginx/additional-headers.yaml
Due: npx prettier --loglevel warn --write

feat: add tool call
  src/app/extensions/product-advisor/facades/product-advisor-tool-call.facade.spec.ts
  src/app/extensions/product-advisor/facades/product-advisor-tool-call.facade.ts
  src/app/extensions/product-advisor/facades/product-advisor.facade.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: change route to /copilot
  src/app/extensions/product-advisor/pages/product-advisor-routing.module.ts
  src/app/shell/header/header-default/header-default.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: change wording for advisor typing placeholder
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: avoid that search results increase the whole page height (whitespace below the footer)
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-results/product-advisor-results.component.scss
Due: none

chore: changes after release documentation review and localization adjustments
  docs/README.md
  docs/guides/customizations.md
  docs/guides/migrations-how-to.md
  docs/guides/migrations.md
  src/assets/i18n/de_DE.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

refactor: use Angular SSR request token
  server.ts
  src/app/core/utils/ssr/ssr.tokens.ts
  src/app/extensions/seo/store/seo/seo.effects.spec.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add migration note
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

fix: migrate Markdown mirror to Angular request token
  src/ssr/markdown-mirror.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: prepare translation and font imports for esbuild
  src/app/core/internationalization.module.ts
  src/styles/global/fonts/roboto.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: configure Store Devtools through production mode
  angular.json
  src/app/core/store/store-devtools.module.production.ts
  src/app/core/store/store-devtools.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use Angular request tokens for SSR
  server.ts
  src/app/core/utils/ssr/ssr.tokens.ts
  src/app/extensions/seo/store/seo/seo.effects.spec.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
  src/ssr/markdown-mirror.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: preserve error URLs and load configuration after SSR hydration
  src/app/core/configurations/ngrx-state-transfer.ts
  src/app/core/store/core/server-config/server-config.effects.spec.ts
  src/app/core/store/core/server-config/server-config.effects.ts
  src/app/core/utils/http-status-code/http-status-code.service.spec.ts
  src/app/core/utils/http-status-code/http-status-code.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: route active themes and await SSR cache purges
  src/ssr/server-scripts/distributor.js
Due: npx prettier --loglevel warn --write

fix: enforce SSR health check timeouts and await all probes
  src/ssr/server-scripts/healthcheck.js
Due: npx prettier --loglevel warn --write

fix: harden PM2 metrics collection
  src/ssr/server-scripts/prometheus.js
Due: npx prettier --loglevel warn --write

test: stabilize basket updates and CMS error interception
  e2e/cypress/e2e/pages/checkout/cart.page.ts
  e2e/cypress/e2e/specs/system/rest-error-handling.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: preserve browser SEO base URI during migration
  src/app/extensions/seo/store/seo/seo.effects.spec.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove required check from email validator
  docs/guides/migrations.md
  src/app/shared/forms/validators/special-validators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: header styling
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-header/product-advisor-header.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-header/product-advisor-header.component.scss
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-header/product-advisor-header.component.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.scss
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: forward the current basket to the chatflow
  src/app/extensions/product-advisor/services/product-advisor/product-advisor.service.spec.ts
  src/app/extensions/product-advisor/services/product-advisor/product-advisor.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add order template context to product advisor questions
  src/app/extensions/product-advisor/services/product-advisor/product-advisor.service.spec.ts
  src/app/extensions/product-advisor/services/product-advisor/product-advisor.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add multiple-choice answer chips to product advisor
  src/app/extensions/product-advisor/models/product-advisor/product-advisor-choice.helper.spec.ts
  src/app/extensions/product-advisor/models/product-advisor/product-advisor-choice.helper.ts
  src/app/extensions/product-advisor/models/product-advisor/product-advisor.model.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.scss
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.spec.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add invoice/shipping email to address forms
  docs/guides/field-library.md
  docs/guides/migrations.md
  e2e/cypress/e2e/pages/account/addresses.page.ts
  e2e/cypress/e2e/specs/account/addresses-crud.b2b.e2e-spec.ts
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.html
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.spec.ts
  src/app/pages/checkout-receipt/checkout-receipt-order/checkout-receipt-order.component.html
  src/app/shared/formly-address-forms/components/formly-address-form/formly-address-form.component.spec.ts
  src/app/shared/formly-address-forms/components/formly-address-form/formly-address-form.component.ts
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.html
  src/app/shared/formly-address-forms/configurations/address-form-configuration.provider.ts
  src/app/shared/formly-address-forms/configurations/address-form.configuration.ts
  src/app/shared/formly-address-forms/configurations/de/address-form-de.configuration.ts
  src/app/shared/formly-address-forms/configurations/default/address-form-default.configuration.ts
  src/app/shared/formly-address-forms/configurations/fr/address-form-fr.configuration.ts
  src/app/shared/formly-address-forms/configurations/gb/address-form-gb.configuration.ts
  src/app/shared/formly-address-forms/configurations/us/address-form-us.configuration.ts
  src/app/shared/formly/field-library/configurations/email.configuration.ts
  src/app/shared/formly/field-library/field-library.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: display the email of an address per default
  docs/guides/migrations.md
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.html
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-recurring-order/account-recurring-order-page.component.html
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/shared/components/address/address/address.component.spec.ts
  src/app/shared/components/address/address/address.component.ts
  src/app/shared/components/basket/basket-address-summary/basket-address-summary.component.html
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.html
  src/app/shared/components/order/order-list/order-list.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: fix flaky e2e test
  e2e/cypress/e2e/specs/checkout/basket-custom-fields.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: migrate browser and SSR pipelines to esbuild
  .dockerignore
  .github/workflows/development.yml
  .github/workflows/integration.yml
  .gitignore
  .vscode/intershop.txt
  Dockerfile
  Dockerfile_reports
  angular.json
  babel.config.js
  dist/.gitignore
  dist/entrypoint.sh
  package-lock.json
  package.json
  reports/index.html
  schematics/customization/add/index.js
  schematics/src/lazy-component/factory_spec.ts
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
  scripts/active-localization-files.js
  scripts/active-localization-files.test.js
  scripts/build-multi-pwa.js
  scripts/build-pwa.js
  scripts/clean-up-localizations.js
  scripts/compile-docker-scripts.js
  scripts/dead-files.js
  scripts/update-pwa.js
  src/app/app.server.module.ts
  src/app/core/store/core/core-store.module.ts
  src/app/pages/app-routing.module.ts
  src/main.server.ts
  src/server.ts
  src/ssr/deploy-url.ts
  src/ssr/markdown-mirror.ts
  src/ssr/server-scripts/entrypoint.sh
  templates/esbuild/esbuild-define-constants.ts
  templates/webpack/webpack.custom.ts
  tsconfig.all.json
  tsconfig.app.json
  tsconfig.server.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: strip production data-testing attributes without webpack
  .dockerignore
  Dockerfile
  scripts/build-pwa.js
  scripts/remove-data-testing-attributes.cjs
  templates/webpack/data-testing-id-loader.js
Due: npx prettier --loglevel warn --write

build: integrate PurgeCSS through PostCSS
  .postcssrc.json
  Dockerfile
  Dockerfile_reports
  package-lock.json
  package.json
  templates/esbuild/esbuild-define-constants.ts
  tools/postcss-purgecss-config/index.cjs
  tools/postcss-purgecss-config/package.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: explain the esbuild build and SSR workflow
  docs/README.md
  docs/concepts/search-engine-optimization.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/optimizations.md
  docs/guides/ssr-startup.md
  docs/guides/webpack-to-esbuild.md
Due: npx prettier --loglevel warn --write

build: strip data-testing attributes without webpack
  .dockerignore
  Dockerfile
  scripts/build-pwa.js
  scripts/remove-data-testing-attributes.cjs
  templates/webpack/data-testing-id-loader.js
Due: npx prettier --loglevel warn --write

feat: advisor choice styling
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.scss
Due: npx prettier --loglevel warn --write

deps: update @ngx-formly/core to v8
  docs/guides/migrations.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/shared/components/custom-fields/custom-fields-formly/custom-fields-formly.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
