Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

chore: title props added for checkbox fields and title props are defined for 3 active checkboxes.
  docs/guides/formly.md
  projects/organization-management/src/app/components/cost-center-form/cost-center-form.component.ts
  projects/organization-management/src/app/components/user-profile-form/user-profile-form.component.ts
  src/app/extensions/punchout/shared/punchout-user-form/punchout-user-form.component.ts
  src/app/shared/formly/wrappers/horizontal-checkbox-wrapper/horizontal-checkbox-wrapper.component.html
  src/app/shared/formly/wrappers/horizontal-checkbox-wrapper/horizontal-checkbox-wrapper.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: minor fix
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

i18n: fix translations in localization files
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

i18n: fix translations in localization files (#1384)
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: add validator to check for lessthan and greater than characters
  src/app/extensions/order-templates/shared/select-order-template-form/select-order-template-form.component.ts
  src/app/extensions/wishlists/shared/select-wishlist-form/select-wishlist-form.component.ts
  src/app/shared/forms/validators/special-validators.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use more generic naming to prevent HTML tag input
  src/app/extensions/order-templates/shared/select-order-template-form/select-order-template-form.component.ts
  src/app/extensions/wishlists/shared/select-wishlist-form/select-wishlist-form.component.ts
  src/app/shared/forms/validators/special-validators.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add validator to the my account - preferences dialogs
  src/app/extensions/order-templates/shared/order-template-preferences-dialog/order-template-preferences-dialog.component.ts
  src/app/extensions/wishlists/shared/wishlist-preferences-dialog/wishlist-preferences-dialog.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: update localized error message
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

docs: add Hybrid Approch development environment chapter
  .vscode/intershop.txt
  docs/concepts/hybrid-approach.md
Due: npx prettier --loglevel warn --write

documentation review
  docs/concepts/hybrid-approach.md
Due: npx prettier --loglevel warn --write

fix: requested review changes
  projects/organization-management/src/app/components/user-profile-form/user-profile-form.component.ts
  src/app/extensions/punchout/shared/punchout-user-form/punchout-user-form.component.ts
  src/app/shared/formly/wrappers/horizontal-checkbox-wrapper/horizontal-checkbox-wrapper.component.html
  src/app/shared/formly/wrappers/horizontal-checkbox-wrapper/horizontal-checkbox-wrapper.component.ts
  src/app/shared/formly/wrappers/horizontal-wrapper/horizontal-wrapper.component.html
  src/app/shared/formly/wrappers/horizontal-wrapper/horizontal-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

replaced hybrid mode by hybrid approach and other small adjustments
  docs/concepts/hybrid-approach.md
  docs/guides/hybrid-approach-icm-url-rewriting.md
  docs/guides/ssr-startup.md
Due: npx prettier --loglevel warn --write

docs: add Hybrid Approch development environment chapter (#1386)
  .vscode/intershop.txt
  docs/concepts/hybrid-approach.md
  docs/guides/hybrid-approach-icm-url-rewriting.md
  docs/guides/ssr-startup.md
Due: npx prettier --loglevel warn --write

chore: remove outdated "kubernetes-deployment" schematic
  docs/guides/getting-started.md
  docs/guides/migrations.md
  e2e/test-schematics-normal.sh
  schematics/src/azure-pipeline/README.md
  schematics/src/collection.json
  schematics/src/kubernetes-deployment/README.md
  schematics/src/kubernetes-deployment/factory.ts
  schematics/src/kubernetes-deployment/files/charts/pwa-main/.helmignore
  schematics/src/kubernetes-deployment/files/charts/pwa-main/Chart.yaml
  schematics/src/kubernetes-deployment/files/charts/pwa-main/templates/NOTES.txt
  schematics/src/kubernetes-deployment/files/charts/pwa-main/templates/_helpers.tpl
  schematics/src/kubernetes-deployment/files/charts/pwa-main/templates/deployment.yaml
  schematics/src/kubernetes-deployment/files/charts/pwa-main/templates/ingress.yaml
  schematics/src/kubernetes-deployment/files/charts/pwa-main/templates/service.yaml
  schematics/src/kubernetes-deployment/files/charts/pwa-main/values.yaml
  schematics/src/kubernetes-deployment/files/charts/pwa-nginx/.helmignore
  schematics/src/kubernetes-deployment/files/charts/pwa-nginx/Chart.yaml
  schematics/src/kubernetes-deployment/files/charts/pwa-nginx/templates/NOTES.txt
  schematics/src/kubernetes-deployment/files/charts/pwa-nginx/templates/_helpers.tpl
  schematics/src/kubernetes-deployment/files/charts/pwa-nginx/templates/deployment.yaml
  schematics/src/kubernetes-deployment/files/charts/pwa-nginx/templates/ingress.yaml
  schematics/src/kubernetes-deployment/files/charts/pwa-nginx/templates/service.yaml
  schematics/src/kubernetes-deployment/files/charts/pwa-nginx/values.yaml
  schematics/src/kubernetes-deployment/schema.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: remove obsolete "azure-pipeline" schematic
  docs/guides/getting-started.md
  docs/guides/migrations.md
  e2e/test-schematics-normal.sh
  schematics/src/azure-pipeline/README.md
  schematics/src/azure-pipeline/factory.ts
  schematics/src/azure-pipeline/files/azure-pipelines.yml
  schematics/src/azure-pipeline/schema.json
  schematics/src/collection.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: remove obsolete migration support scripts
  .eslintignore
  docs/guides/migrations.md
  schematics/migration/0.16-to-0.17/index.js
  schematics/migration/0.20-to-0.21/index.js
  schematics/migration/0.20-to-0.21/migrate-action-creators.actions.ts
  schematics/migration/0.20-to-0.21/migrate-action-creators.effects.ts
  schematics/migration/0.20-to-0.21/migrate-action-creators.reducers.ts
  schematics/migration/0.20-to-0.21/morph-helpers.ts
  schematics/migration/0.20-to-0.21/store-migration.ts
  schematics/migration/0.22-to-0.23/index.js
  schematics/src/collection.json
  schematics/src/migration/decontainerize-0.16-to-0.17/factory.ts
  schematics/src/migration/decontainerize-0.16-to-0.17/schema.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: cleanup left over code from previous cookie implementations
  src/app/app.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: update dictionary with missing words, fix variables and comments
  .vscode/intershop.txt
  docs/guides/angular-component-development.md
  projects/organization-management/src/app/pages/cost-center-buyers/cost-center-buyers-page.component.ts
  src/app/core/identity-provider/auth0.identity-provider.ts
  src/app/core/identity-provider/icm.identity-provider.ts
  src/app/core/models/content-page-tree-view/content-page-tree-view.model.ts
  src/app/core/services/preview/preview.service.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/utils/api-token/api-token.service.ts
  src/app/extensions/store-locator/store/stores/stores.selectors.ts
  src/app/shared/components/basket/basket-validation-results/basket-validation-results.component.ts
  src/app/shared/components/product/product-price/product-price.component.html
  src/app/shared/formly/field-library/field-library.ts
  src/app/shared/formly/types/date-picker-field/localized-parser-formatter.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: normalize intershop.txt spelling list (sorted, lower case, removed duplicates)
  .vscode/intershop.txt
Due: none

Adjusted EN, added DE and FR translation
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: only one label is allowed
  src/app/shared/formly/wrappers/horizontal-checkbox-wrapper/horizontal-checkbox-wrapper.component.html
Due: npx prettier --loglevel warn --write

fix: prevent HTML input in the form field "name" for order templates and wishlists (#1385)
  src/app/extensions/order-templates/shared/order-template-preferences-dialog/order-template-preferences-dialog.component.ts
  src/app/extensions/order-templates/shared/select-order-template-form/select-order-template-form.component.ts
  src/app/extensions/wishlists/shared/select-wishlist-form/select-wishlist-form.component.ts
  src/app/extensions/wishlists/shared/wishlist-preferences-dialog/wishlist-preferences-dialog.component.ts
  src/app/shared/forms/validators/special-validators.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: correct names and comments with spelling errors, update spell check dictionary with missing words (#1382)
  .vscode/intershop.txt
  docs/guides/angular-component-development.md
  projects/organization-management/src/app/pages/cost-center-buyers/cost-center-buyers-page.component.ts
  src/app/core/identity-provider/auth0.identity-provider.ts
  src/app/core/identity-provider/icm.identity-provider.ts
  src/app/core/models/content-page-tree-view/content-page-tree-view.model.ts
  src/app/core/services/preview/preview.service.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/utils/api-token/api-token.service.ts
  src/app/extensions/store-locator/store/stores/stores.selectors.ts
  src/app/shared/components/basket/basket-validation-results/basket-validation-results.component.ts
  src/app/shared/components/product/product-price/product-price.component.html
  src/app/shared/formly/field-library/field-library.ts
  src/app/shared/formly/types/date-picker-field/localized-parser-formatter.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feature: Order Detail page print style
  src/styles/global/print.scss
Due: none

feat: add title for (status) checkboxes (#1383)
  docs/guides/formly.md
  projects/organization-management/src/app/components/cost-center-form/cost-center-form.component.ts
  projects/organization-management/src/app/components/user-profile-form/user-profile-form.component.ts
  src/app/extensions/punchout/shared/punchout-user-form/punchout-user-form.component.ts
  src/app/shared/formly/wrappers/horizontal-checkbox-wrapper/horizontal-checkbox-wrapper.component.html
  src/app/shared/formly/wrappers/horizontal-checkbox-wrapper/horizontal-checkbox-wrapper.component.ts
  src/app/shared/formly/wrappers/horizontal-wrapper/horizontal-wrapper.component.html
  src/app/shared/formly/wrappers/horizontal-wrapper/horizontal-wrapper.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: elements are hidden
  src/styles/global/print.scss
Due: none

feature: new arrangements for order detail page
  src/styles/global/print.scss
Due: none

fix: email and password confirmation fields should only validate the equality with its related input field
  src/app/extensions/punchout/shared/punchout-user-form/punchout-user-form.component.ts
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.ts
  src/app/pages/account-profile-password/account-profile-password/account-profile-password.component.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.spec.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/formly/types/types.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: added missing translation key
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: give the session a chance to be refreshed
  src/app/core/utils/api-token/api-token.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use action group creator in the store action schematics template
  docs/guides/migrations.md
  schematics/src/store/factory.ts
  schematics/src/store/files/__name@dasherize__/__name@dasherize__.actions.ts.template
  schematics/src/store/files/__name@dasherize__/__name@dasherize__.effects.spec.ts.template
  schematics/src/store/files/__name@dasherize__/__name@dasherize__.effects.ts.template
  schematics/src/store/files/__name@dasherize__/__name@dasherize__.reducer.ts.template
  schematics/src/store/files/__name@dasherize__/__name@dasherize__.selectors.spec.ts.template
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: return a unique id in the line item list's trackBy function
  src/app/shared/components/line-item/line-item-list/line-item-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: return a unique id in the line item list's trackBy function (#1390)
  src/app/shared/components/line-item/line-item-list/line-item-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
