Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-671: cleaned up the quoting details buttons styling to be more consistent
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.html
  src/theme/global/buttons.scss
Due: npx prettier --loglevel warn --write

compress everything with nginx
  nginx/perf.conf
Due: none

no rewriting for txt files in nginx
  nginx/channel.conf.tmpl
Due: none

expose ICM channel configuration with selector
  src/app/core/store/configuration/configuration.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-642: component for anonymous checkout address page added
  src/app/pages/account-addresses/components/account-addresses-page/account-addresses-page.component.ts
  src/app/pages/app-routing.module.ts
  src/app/pages/checkout-address/checkout-address-page.container.html
  src/app/pages/checkout-address/checkout-address-page.container.spec.ts
  src/app/pages/checkout-address/checkout-address-page.container.ts
  src/app/pages/checkout-address/checkout-address-page.module.ts
  src/app/pages/checkout-address/components/checkout-address-anonymous/checkout-address-anonymous.component.html
  src/app/pages/checkout-address/components/checkout-address-anonymous/checkout-address-anonymous.component.spec.ts
  src/app/pages/checkout-address/components/checkout-address-anonymous/checkout-address-anonymous.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-642: a reusable loginFormComponent created
  src/app/core/store/user/user.effects.spec.ts
  src/app/core/store/user/user.effects.ts
  src/app/pages/login/components/login-form/login-form.component.html
  src/app/pages/login/components/login-page/login-page.component.html
  src/app/pages/login/components/login-page/login-page.component.spec.ts
  src/app/pages/login/components/login-page/login-page.component.ts
  src/app/pages/login/login-page.container.html
  src/app/pages/login/login-page.container.spec.ts
  src/app/pages/login/login-page.container.ts
  src/app/pages/login/login-page.module.ts
  src/app/shared/forms/components/login-form/login-form.component.html
  src/app/shared/forms/components/login-form/login-form.component.spec.ts
  src/app/shared/forms/components/login-form/login-form.component.ts
  src/app/shared/forms/containers/login-form/login-form.container.html
  src/app/shared/forms/containers/login-form/login-form.container.spec.ts
  src/app/shared/forms/containers/login-form/login-form.container.ts
  src/app/shared/forms/forms.module.ts
  src/app/shell/header/components/login-status/login-status.component.html
  src/app/shell/header/components/login-status/login-status.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-641: ngrx functionality for basket addresses
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/addresses/addresses.reducer.spec.ts
  src/app/core/store/checkout/addresses/addresses.reducer.ts
  src/app/core/store/checkout/basket/basket.actions.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/basket/basket.reducer.ts
  src/app/pages/checkout-address/checkout-address-page.container.ts
  src/app/pages/checkout-address/components/checkout-address-anonymous/checkout-address-anonymous.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-644: Adapt thank you page to suit also for an order of an anonymous user
  src/app/pages/checkout-receipt/components/checkout-receipt/checkout-receipt.component.html
Due: npx prettier --loglevel warn --write

ISREST-642: addresses moved from checkout to the core store
  src/app/core/store/addresses/addresses.actions.ts
  src/app/core/store/addresses/addresses.effects.spec.ts
  src/app/core/store/addresses/addresses.effects.ts
  src/app/core/store/addresses/addresses.reducer.spec.ts
  src/app/core/store/addresses/addresses.reducer.ts
  src/app/core/store/addresses/addresses.selectors.spec.ts
  src/app/core/store/addresses/addresses.selectors.ts
  src/app/core/store/addresses/index.ts
  src/app/core/store/checkout/basket/basket-addresses.effects.spec.ts
  src/app/core/store/checkout/basket/basket-addresses.effects.ts
  src/app/core/store/checkout/checkout-store.module.ts
  src/app/core/store/checkout/checkout-store.ts
  src/app/core/store/core-store.module.ts
  src/app/core/store/core-store.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/pages/account-addresses/account-addresses-page.container.ts
  src/app/pages/account-addresses/components/account-addresses-page/account-addresses-page.component.spec.ts
  src/app/pages/checkout-address/checkout-address-page.container.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-642: basket effects file split and reorganized
  src/app/core/store/checkout/basket/basket-addresses.effects.spec.ts
  src/app/core/store/checkout/basket/basket-addresses.effects.ts
  src/app/core/store/checkout/basket/basket-items.effects.spec.ts
  src/app/core/store/checkout/basket/basket-items.effects.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/checkout-store.module.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST: adapt checkout address component so that is works also for an anonymous user
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/addresses/addresses.reducer.spec.ts
  src/app/core/store/checkout/addresses/addresses.reducer.ts
  src/app/core/store/checkout/basket/basket.actions.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/basket/basket.reducer.ts
  src/app/pages/checkout-address/checkout-address-page.container.html
  src/app/pages/checkout-address/checkout-address-page.container.spec.ts
  src/app/pages/checkout-address/checkout-address-page.container.ts
  src/app/pages/checkout-address/components/checkout-address/checkout-address.component.html
  src/app/pages/checkout-address/components/checkout-address/checkout-address.component.spec.ts
  src/app/pages/checkout-address/components/checkout-address/checkout-address.component.ts
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.html
  src/app/pages/login/components/login-page/login-page.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

#ISREST-642: e2e test for anonymous checkout added
  cypress/integration/pages/account/login.page.ts
  cypress/integration/pages/checkout/addresses.page.ts
  cypress/integration/pages/checkout/mini-cart.module.ts
  cypress/integration/specs/change-language.b2c.e2e-spec.ts
  cypress/integration/specs/checkout/shopping-anonymous.b2c.e2e-spec.ts
  src/app/pages/checkout-address/components/checkout-address-anonymous/checkout-address-anonymous.component.html
  src/app/pages/checkout-address/components/checkout-address/checkout-address.component.ts
  src/app/pages/login/components/login-page/login-page.component.html
  src/app/shell/header/components/login-status/login-status.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-669: rename interfaces regarding itemTotal
  src/app/core/models/basket-total/basket-total.interface.ts
  src/app/core/models/basket/basket.mapper.spec.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/line-item/line-item.interface.ts
  src/app/core/models/line-item/line-item.mapper.spec.ts
  src/app/core/models/line-item/line-item.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-669: display name on payments
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/payment/payment.model.ts
  src/app/core/services/basket/basket.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-669: add payment method restriction information
  src/app/core/models/payment-method/payment-method.interface.ts
  src/app/core/models/payment-method/payment-method.mapper.spec.ts
  src/app/core/models/payment-method/payment-method.mapper.ts
  src/app/core/models/payment-method/payment-method.model.ts
  src/app/core/models/payment-restriction/payment-restriction.interface.ts
  src/app/core/models/payment-restriction/payment-restriction.model.ts
  src/app/pages/checkout-payment/components/checkout-payment/checkout-payment.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-629: apapt price model
  cypress/integration/framework/quote-mock.ts
  src/app/core/models/attribute/attribute.pipe.spec.ts
  src/app/core/models/order/order.mapper.spec.ts
  src/app/core/models/price/price.helper.spec.ts
  src/app/core/models/price/price.helper.ts
  src/app/core/models/price/price.mapper.spec.ts
  src/app/core/models/price/price.mapper.ts
  src/app/core/models/price/price.model.ts
  src/app/core/models/price/price.pipe.spec.ts
  src/app/core/models/price/price.pipe.ts
  src/app/core/models/product/__snapshots__/product.mapper.spec.ts.snap
  src/app/core/models/product/product.mapper.spec.ts
  src/app/core/models/product/product.mapper.ts
  src/app/core/utils/dev/basket-mock-data.ts
  src/app/extensions/quoting/models/quote-request-item/quote-request-item.mapper.spec.ts
  src/app/extensions/quoting/services/quote-request/quote-request.service.spec.ts
  src/app/extensions/quoting/services/quote/quote.service.spec.ts
  src/app/shared/basket/components/line-item-list/line-item-list.component.spec.ts
  src/app/shared/product/components/product-price/product-price.component.html
  src/app/shared/product/components/product-price/product-price.component.spec.ts
  src/assets/mock-data/categories/Cameras-Camcorders/584/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
  src/assets/mock-data/categories/Cameras-Camcorders/832/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_attrsGroups_PRODUCT_LABEL_ATTRIBUTES_offset_0_returnSortKeys_true.json
  src/assets/mock-data/products/201807171/get_allImages_true.json
  src/assets/mock-data/products/201807194/get_allImages_true.json
  src/assets/mock-data/products/201807204-01/get_allImages_true.json
  src/assets/mock-data/products/201807231-03/get_allImages_true.json
  src/assets/mock-data/products/3953312/get_allImages_true.json
  src/assets/mock-data/products/7912057/get_allImages_true.json
  src/assets/mock-data/products/7912061/get_allImages_true.json
  src/assets/mock-data/products/8182790134362/get_allImages_true.json
  src/assets/mock-data/products/8182790134363/get_allImages_true.json
  src/assets/mock-data/products/get_amount_9_attrs_sku_salePrice_listPrice_availability_manufacturer_image_minOrderQuantity_inStock_offset_0_returnSortKeys_true_searchTerm_kodak.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-677: adjust model and interface
  src/app/core/models/address/address.interface.ts
  src/app/core/models/address/address.mapper.ts
  src/app/core/models/address/address.model.ts
  src/app/core/store/countries/countries.effects.spec.ts
  src/app/core/store/countries/countries.effects.ts
  src/app/shared/address-forms/containers/address-form/address-form.container.ts
  src/app/shared/forms/components/select-country/select-country.component.spec.ts
  src/app/shared/forms/components/select-country/select-country.component.ts
  src/app/shared/forms/components/select-region/select-region.component.spec.ts
  src/app/shared/forms/components/select-region/select-region.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add links to backoffice for deployments
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

do not create select options if quantity selection is displayed as input
  src/app/pages/product/components/product-detail/product-detail.component.html
  src/app/pages/product/components/product-quantity/product-quantity.component.html
  src/app/pages/product/components/product-quantity/product-quantity.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

also add generated pipes to module providers
  schematics/src/pipe/factory.js
  schematics/src/pipe/factory.ts
  schematics/src/pipe/factory_spec.ts
  schematics/src/utils/registration.js
  schematics/src/utils/registration.ts
  src/app/core/pipes.module.ts
  src/app/shell/shell.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

moved helper method for retrieving attribute values to attribute helper
  src/app/core/models/attribute/attribute.helper.spec.ts
  src/app/core/models/attribute/attribute.helper.ts
  src/app/core/models/product/product.helper.spec.ts
  src/app/core/models/product/product.helper.ts
  src/app/core/models/product/product.mapper.ts
  src/app/pages/compare/components/product-compare-list/product-compare-list.component.html
  src/app/pages/compare/components/product-compare-list/product-compare-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
