Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

chore: release 5.3.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: release 5.3.0 preparation (#1765)
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat: change nginx template (#104509)
  nginx/templates/multi-channel.conf.tmpl
Due: none

feat: change description file (#104509)
  docs/guides/sparque-integration.md
Due: npx prettier --loglevel warn --write

feat: change description file (#104509)
  docker-compose.yml
  docs/guides/sparque-integration.md
Due: npx prettier --loglevel warn --write

feat(accessibility): replace `<div role="main">` with `<main>` element for better semantics (#1694)
  src/app/app.component.html
Due: npx prettier --loglevel warn --write

feat(accessibility): update tab-focus visibility to use browser's default focus styling (#1694)
  src/app/extensions/compare/shared/product-add-to-compare/product-add-to-compare.component.html
  src/app/extensions/compare/shared/product-add-to-compare/product-add-to-compare.component.ts
  src/app/extensions/order-templates/shared/product-add-to-order-template/product-add-to-order-template.component.html
  src/app/extensions/order-templates/shared/product-add-to-order-template/product-add-to-order-template.component.ts
  src/app/extensions/quoting/shared/product-add-to-quote/product-add-to-quote.component.html
  src/app/extensions/quoting/shared/product-add-to-quote/product-add-to-quote.component.ts
  src/app/extensions/wishlists/pages/account-wishlist/account-wishlist-page.component.html
  src/app/extensions/wishlists/shared/product-add-to-wishlist/product-add-to-wishlist.component.html
  src/app/extensions/wishlists/shared/product-add-to-wishlist/product-add-to-wishlist.component.ts
  src/app/pages/product/product-detail-info/product-detail-info.component.html
  src/app/shared/components/product/product-add-to-basket/product-add-to-basket.component.html
  src/app/shared/components/product/product-add-to-basket/product-add-to-basket.component.ts
  src/app/shared/components/product/product-image/product-image.component.html
  src/app/shared/components/product/product-tile/product-tile.component.html
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
  src/app/shell/header/header-default/header-default.component.html
  src/app/shell/header/login-status/login-status.component.html
  src/styles/components/header/header-sticky.scss
  src/styles/components/header/header.scss
  src/styles/components/header/language-switch.scss
  src/styles/components/header/search-container.scss
  src/styles/global/buttons.scss
  src/styles/global/forms.scss
  src/styles/global/global.scss
  src/styles/global/share-tools.scss
  src/styles/pages/category/product-list.scss
  src/styles/pages/checkout/progress-bar.scss
  src/styles/pages/checkout/quick-cart.scss
  src/styles/pages/productdetail/productdetail.scss
  src/styles/themes/b2b/variables.scss
  src/styles/themes/b2c/variables.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(accessibility): enlarge touch targets for links (#1694)
  src/app/shared/components/product/product-list-paging/product-list-paging.component.html
  src/app/shared/components/product/product-list-paging/product-list-paging.component.spec.ts
  src/styles/components/footer/footer.scss
  src/styles/global/swiper.scss
  src/styles/pages/category/filter-row.scss
  src/styles/pages/checkout/shopping-cart.scss
  src/styles/pages/content-pages/page-content.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: change description file (#104509)
  docker-compose.yml
Due: npx prettier --loglevel warn --write

feat: add multi site configuration (#104509) (#1764)
  docker-compose.yml
  docs/guides/multi-site-configurations.md
  docs/guides/sparque-integration.md
  nginx/templates/multi-channel.conf.tmpl
  src/app/core/configurations/configuration.meta.ts
  src/app/core/models/sparque/sparque-config.model.ts
  src/app/core/services/api/api.service.ts
  src/app/core/services/sparque-api/sparque-api.service.spec.ts
  src/app/core/services/sparque-api/sparque-api.service.ts
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/app/core/store/shopping/search/search.actions.ts
  src/app/core/store/shopping/search/search.reducer.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(accessibility): ensure links are distinguishable without relying on color alone, update underline behavior (#1694)
  .vscode/intershop.txt
  e2e/cypress/e2e/pages/shopping/category.page.ts
  src/app/extensions/order-templates/shared/order-template-widget/order-template-widget.component.html
  src/app/pages/account/account-navigation/account-navigation.component.html
  src/app/pages/category/category-categories/category-categories.component.html
  src/app/pages/category/category-navigation/category-navigation.component.html
  src/app/pages/category/category-navigation/category-navigation.component.spec.ts
  src/app/pages/category/category-products/category-products.component.html
  src/app/pages/category/category-tile/category-tile.component.html
  src/app/pages/checkout-receipt/checkout-receipt-order/checkout-receipt-order.component.html
  src/app/pages/checkout/checkout-progress-bar/checkout-progress-bar.component.html
  src/app/pages/search/search-result/search-result.component.html
  src/app/shared/cms/components/content-navigation/content-navigation.component.html
  src/app/shared/cms/components/content-navigation/content-navigation.component.spec.ts
  src/app/shared/components/basket/basket-items-summary/basket-items-summary.component.html
  src/app/shared/components/basket/basket-items-summary/basket-items-summary.component.spec.ts
  src/app/shared/components/basket/basket-promotion-code/basket-promotion-code.component.html
  src/app/shared/components/basket/basket-promotion-code/basket-promotion-code.component.spec.ts
  src/app/shared/components/filter/filter-text/filter-text.component.html
  src/app/shared/components/filter/filter-text/filter-text.component.spec.ts
  src/app/shared/components/product/product-name/product-name.component.html
  src/app/shared/components/product/product-quantity/product-quantity.component.scss
  src/app/shell/header/login-status/login-status.component.html
  src/styles/components/footer/footer.scss
  src/styles/components/header/header.scss
  src/styles/global/global.scss
  src/styles/global/share-tools.scss
  src/styles/pages/account/account-dashboard.scss
  src/styles/pages/account/account-navigation.scss
  src/styles/pages/category/category-page.scss
  src/styles/pages/category/filter-row.scss
  src/styles/pages/category/product-list.scss
  src/styles/pages/checkout/checkout.scss
  src/styles/pages/checkout/progress-bar.scss
  src/styles/pages/checkout/quick-cart.scss
  src/styles/pages/checkout/shopping-cart.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(accessibility): add "Skip to main content" link (#1694)
  src/app/app.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/global/global.scss
Due: npx prettier --loglevel warn --write

feat(accessibility): added missing `<legend>`-elements to form fieldsets (#1694)
  projects/organization-management/src/app/components/cost-center-form/cost-center-form.component.ts
  projects/organization-management/src/app/components/user-budget-form/user-budget-form.component.ts
  projects/organization-management/src/app/components/user-profile-form/user-profile-form.component.ts
  projects/organization-management/src/app/components/user-roles-selection/user-roles-selection.component.html
  src/app/extensions/store-locator/pages/store-locator/store-locator-page.component.html
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/formly/types/fieldset-field/fieldset-field.component.html
  src/app/shared/formly/types/fieldset-field/fieldset-field.component.spec.ts
  src/styles/global/forms.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: move backdrop out of suggest elements to be able to de-focus when clicking on it
  src/app/core/standalone/component/suggest/search-box/search-box.component.html
  src/styles/components/header/search-container.scss
Due: npx prettier --loglevel warn --write

chore: test PWA compatibility with ICM 13
  .github/workflows/demo-server-up.yml
  .github/workflows/development.yml
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

feat(accessibility): replace animated buttons (#1694)
  e2e/cypress/e2e/pages/shopping/product-detail.page.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.html
  src/app/core/icon.module.ts
  src/app/extensions/compare/shared/product-send-to-compare/product-send-to-compare.component.html
  src/app/extensions/order-templates/shared/product-add-to-order-template/product-add-to-order-template.component.html
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-page.component.html
  src/app/extensions/wishlists/shared/product-add-to-wishlist/product-add-to-wishlist.component.html
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/app/pages/product/product-detail-actions/product-detail-actions.component.html
  src/app/pages/product/product-detail-actions/product-detail-actions.component.spec.ts
  src/styles/global/print.scss
  src/styles/global/share-tools.scss
  src/styles/pages/productdetail/product-info.scss
  src/styles/pages/productdetail/productdetail.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(accessibility): add accessible names for dialogs (#1694)
  projects/organization-management/src/app/components/cost-center-buyer-edit-dialog/cost-center-buyer-edit-dialog.component.html
  projects/organization-management/src/app/components/cost-center-buyer-edit-dialog/cost-center-buyer-edit-dialog.component.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-reject-dialog/requisition-reject-dialog.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-reject-dialog/requisition-reject-dialog.component.ts
  src/app/core/guards/login.guard.ts
  src/app/extensions/address-doctor/shared/address-doctor-modal/address-doctor-modal.component.html
  src/app/extensions/address-doctor/shared/address-doctor-modal/address-doctor-modal.component.ts
  src/app/extensions/order-templates/shared/order-template-preferences-dialog/order-template-preferences-dialog.component.html
  src/app/extensions/order-templates/shared/order-template-preferences-dialog/order-template-preferences-dialog.component.ts
  src/app/extensions/order-templates/shared/select-order-template-modal/select-order-template-modal.component.html
  src/app/extensions/order-templates/shared/select-order-template-modal/select-order-template-modal.component.ts
  src/app/extensions/product-notifications/shared/product-notification-edit-dialog/product-notification-edit-dialog.component.html
  src/app/extensions/product-notifications/shared/product-notification-edit-dialog/product-notification-edit-dialog.component.ts
  src/app/extensions/quoting/guards/product-add-to-quote-request.guard.ts
  src/app/extensions/quoting/shared/product-add-to-quote-dialog/product-add-to-quote-dialog.component.html
  src/app/extensions/rating/shared/product-review-create-dialog/product-review-create-dialog.component.html
  src/app/extensions/rating/shared/product-review-create-dialog/product-review-create-dialog.component.ts
  src/app/extensions/wishlists/shared/select-wishlist-modal/select-wishlist-modal.component.html
  src/app/extensions/wishlists/shared/select-wishlist-modal/select-wishlist-modal.component.ts
  src/app/extensions/wishlists/shared/wishlist-preferences-dialog/wishlist-preferences-dialog.component.html
  src/app/extensions/wishlists/shared/wishlist-preferences-dialog/wishlist-preferences-dialog.component.ts
  src/app/extensions/wishlists/shared/wishlist-sharing-dialog/wishlist-sharing-dialog.component.html
  src/app/extensions/wishlists/shared/wishlist-sharing-dialog/wishlist-sharing-dialog.component.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/components/common/modal-dialog/modal-dialog.component.html
  src/app/shared/components/common/modal-dialog/modal-dialog.component.ts
  src/app/shared/components/login/login-modal/login-modal.component.html
  src/app/shared/components/registration/confirm-leave-modal/confirm-leave-modal.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(accessibility): provide/improve meaningful h1 headings (#1694)
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/order-templates/pages/account-order-template/account-order-template-page.component.html
  src/app/extensions/punchout/pages/account-punchout/account-punchout-header/account-punchout-header.component.html
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-page.component.html
  src/app/extensions/wishlists/pages/account-wishlist/account-wishlist-page.component.html
  src/app/pages/account-addresses/account-addresses/account-addresses.component.html
  src/app/pages/home/home-page.component.html
  src/app/pages/home/home-page.component.spec.ts
  src/app/pages/login/login-page.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: add localizations (#1760)
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

docs: provide some guidance to aproach PCI DSS 4
  .vscode/intershop.txt
  docs/README.md
  docs/guides/pci-dss-4.md
Due: npx prettier --loglevel warn --write
