Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-856: refactor AddQuoteToBasket action handling
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.actions.ts
  src/app/core/store/checkout/basket/basket.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-856: adjust failure behavior if basket is empty
  src/app/core/store/checkout/basket/basket.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add missing colon in protocol option
  dist/healthcheck.js
Due: npx prettier --loglevel warn --write

fix referenced healthcheck location
  Dockerfile
Due: none

calculate correct counts in master-variations service
  src/app/core/services/product-master-variations/product-master-variations.service.spec.ts
  src/app/core/services/product-master-variations/product-master-variations.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

consistently use 'ishServerHtml' for 'Html' configuration parameters in CMS components
  src/app/shared/cms/components/cms-dialog/cms-dialog.component.html
  src/app/shared/cms/components/cms-dialog/cms-dialog.component.spec.ts
  src/app/shared/cms/components/cms-image-enhanced/cms-image-enhanced.component.html
  src/app/shared/cms/components/cms-image-enhanced/cms-image-enhanced.component.spec.ts
  src/app/shared/cms/components/cms-text/cms-text.component.html
  src/app/shared/cms/components/cms-text/cms-text.component.spec.ts
  src/app/shared/cms/containers/content-pagelet/content-pagelet.container.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

consistently use just the 'safeHtml' pipe on error pages instead of the 'ishServerHtml' directive
  src/app/pages/error/components/server-error-page/server-error-page.component.html
  src/app/pages/error/components/server-error-page/server-error-page.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

consistently use 'ishServerHtml' for translation keys with link parameters
  src/app/pages/account-order-history/components/account-order-history-page/account-order-history-page.component.html
  src/app/pages/account-order-history/components/account-order-history-page/account-order-history-page.component.spec.ts
  src/app/pages/account-overview/components/account-overview-page/account-overview-page.component.html
  src/app/pages/account-overview/components/account-overview-page/account-overview-page.component.spec.ts
  src/app/pages/account-profile/components/account-profile-page/account-profile-page.component.html
  src/app/pages/account-profile/components/account-profile-page/account-profile-page.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 0.15.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

repair start import rule for imports from ish-core
  src/app/core/store/addresses/addresses.effects.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

also send currentPassword when changing user passwords
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

use updateSubmitQuoteRequest for quote request submitting from the quote request page or the dialog if necessary
  src/app/extensions/quoting/pages/quote-request-edit/quote-request-edit-page.container.html
  src/app/extensions/quoting/pages/quote-request-edit/quote-request-edit-page.container.ts
  src/app/extensions/quoting/shared/product/components/product-add-to-quote-dialog/product-add-to-quote-dialog.component.spec.ts
  src/app/extensions/quoting/shared/product/components/product-add-to-quote-dialog/product-add-to-quote-dialog.component.ts
  src/app/extensions/quoting/shared/product/containers/product-add-to-quote-dialog/product-add-to-quote-dialog.container.html
  src/app/extensions/quoting/shared/product/containers/product-add-to-quote-dialog/product-add-to-quote-dialog.container.ts
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.html
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.spec.ts
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

improve memoization for the selected quote request selector
  src/app/extensions/quoting/store/quote-request/quote-request.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add updateSubmitQuoteRequest action, effect and access via facade
  src/app/extensions/quoting/facades/quoting.facade.ts
  src/app/extensions/quoting/store/quote-request/quote-request.actions.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.spec.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.ts
  src/app/extensions/quoting/store/quote-request/quote-request.reducer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refresh quote display name and description changes only if the quote was actually changed (prevents flickering to old values that are in the process of being updated)
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.spec.ts
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

also start review server for develop and master
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

log errors in console
  e2e/cypress/support/commands.js
Due: npx prettier --loglevel warn --write

fix cypress log usage for errors
  e2e/cypress/support/commands.js
Due: npx prettier --loglevel warn --write

filter-swatch-images values by api
  src/app/core/models/filter-navigation/filter-navigation.mapper.ts
  src/app/core/models/filter/filter.interface.ts
  src/app/core/models/filter/filter.model.ts
  src/app/core/services/filter/filter.service.spec.ts
  src/app/shared/filter/components/filter-swatch-images/__snapshots__/filter-swatch-images.component.spec.ts.snap
  src/app/shared/filter/components/filter-swatch-images/filter-swatch-images.component.html
  src/app/shared/filter/components/filter-swatch-images/filter-swatch-images.component.spec.ts
  src/app/shared/filter/components/filter-swatch-images/filter-swatch-images.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

use MailHog as mail server for ICM
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

ISREST-869: display delivery times and shipping costs for eligible shipping methods
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/basket/basket.model.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/basket/basket.reducer.ts
  src/app/core/store/checkout/basket/basket.selectors.spec.ts
  src/app/pages/checkout-shipping/components/checkout-shipping/checkout-shipping.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
