Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

feat: removed toastr, forms and animations
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: update bundle size thresholds in angular.json for new bundle sizes
  angular.json
Due: npx prettier --loglevel warn --write

temp: potential cypress issue fix
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: enhance build process to inject third-party library chunks
  package.json
  scripts/inject-lib-chunks.js
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: multi build error fix
  Dockerfile
  angular.json
  package.json
  scripts/build-multi-pwa.js
  scripts/build-pwa.js
  scripts/inject-lib-chunks.js
Due: npx prettier --loglevel warn --write

temp: enhance chunk injection in build-pwa
  scripts/build-pwa.js
Due: npx prettier --loglevel warn --write

temp: added missing file extension
  scripts/build-pwa.js
Due: npx prettier --loglevel warn --write

temp: added inject script t odocker ignore
  .dockerignore
Due: none

temp: fix main script tag not being found in docker compose
  scripts/inject-lib-chunks.js
Due: npx prettier --loglevel warn --write

fix: add defer attribute to injected script tags in inject-lib-chunks
  scripts/inject-lib-chunks.js
Due: npx prettier --loglevel warn --write

temp: added async loading for third party libraries
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: refactor webpack chunk splitting to prioritize critical libs
  scripts/inject-lib-chunks.js
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: webpack test
  scripts/build-multi-pwa.js
  scripts/build-pwa.js
  scripts/inject-lib-chunks.js
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

revert: revert changes as they did not result in working performance optimizations
  .dockerignore
  Dockerfile
  angular.json
  scripts/build-multi-pwa.js
  scripts/build-pwa.js
  scripts/inject-lib-chunks.js
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: extract 3rd party libraries from common bundle
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: split heavy third-party libs into async chunks to reduce common/vendor bundle size (#2011)
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: removed leftover dokumentation
  docs/guides/ssr-startup.md
Due: npx prettier --loglevel warn --write

fix: missing page title translation on reload (#2037)
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: explicitly set the Angular `LOCALE_ID` to the intended default locale (#2037)
  docs/concepts/configuration.md
  src/app/core/internationalization.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: changes after review (part 2)
  docs/guides/nginx-startup.md
  docs/guides/paypal.md
  docs/guides/well-known-resources.md
Due: npx prettier --loglevel warn --write

feat: add apple pay completePaymentMethodSelection method
  src/app/core/utils/paypal/adapters/paypal-apple-pay/paypal-apple-pay.adapter.ts
  src/app/core/utils/paypal/adapters/paypal-google-pay/paypal-google-pay.adapter.ts
  src/typings.d.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: add unit tests for determinePersonalizationStatus effect
  src/app/core/store/customer/user/user.effects.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: product variation filter on product master pages not working (#2043)
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

review changes
  docs/concepts/logging.md
  docs/guides/migrations.md
  docs/guides/paypal.md
  docs/guides/ssr-startup.md
  docs/guides/well-known-resources.md
Due: npx prettier --loglevel warn --write

fix: add aria label to buttons and add styling for disabled buttons
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.html
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.scss
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: change scrolling behavior in the case of recurring errors
  src/app/shared/components/basket/basket-error-message/basket-error-message.component.html
  src/app/shared/components/basket/basket-error-message/basket-error-message.component.spec.ts
  src/app/shared/components/basket/basket-error-message/basket-error-message.component.ts
  src/app/shared/components/basket/basket-validation-results/basket-validation-results.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add paypal eligibility check on checkout payment page
  src/app/core/utils/paypal/paypal-config/paypal-config.service.spec.ts
  src/app/core/utils/paypal/paypal-config/paypal-config.service.ts
  src/app/pages/checkout-payment/checkout-payment-page.component.spec.ts
  src/app/pages/checkout-payment/checkout-payment-page.component.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.spec.ts
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: issues regarding invalid `ng-select` fields (#2036)
  src/app/core/directives/form-submit.directive.ts
  src/styles/global/forms.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: address form validation display in case of anonymous checkout (#1997, #2036)
  src/app/pages/checkout-address/checkout-address-anonymous/checkout-address-anonymous.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: address review comments
  src/app/core/store/customer/user/user.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: localization and documentation review (#2045)
  docs/concepts/configuration.md
  docs/concepts/deployment-angular.md
  docs/concepts/logging.md
  docs/concepts/progressive-web-app.md
  docs/guides/angular-change-detection.md
  docs/guides/continuous-integration.md
  docs/guides/development.md
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  docs/guides/paypal.md
  docs/guides/ssr-startup.md
  docs/guides/well-known-resources.md
  src/assets/i18n/de_DE.json
Due: npx prettier --loglevel warn --write

perf: category with subcategories page rendering improvements (#2042)
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.effects.spec.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/store/shopping/shopping-store.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: change api version estimation
  src/app/core/utils/paypal/adapters/paypal-apple-pay/paypal-apple-pay.adapter.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: onvalidatemerchant has to wait until orderID is available
  src/app/core/utils/paypal/adapters/paypal-apple-pay/paypal-apple-pay.adapter.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: angular 18 base
  .nsprc
  package.json
  src/app/core/core.module.ts
  src/assets/i18n/de_DE.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: linting issues
  src/app/core/facades/app.facade.ts
  src/app/core/interceptors/icm-error-mapper.interceptor.spec.ts
  src/app/core/models/price/price.helper.ts
  src/app/core/models/price/price.pipe.ts
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/localizations/localizations.service.spec.ts
  src/app/core/services/sparque-api/sparque-api.service.spec.ts
  src/app/core/store/content/content-store.spec.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/extensions/address-doctor/services/address-doctor/address-doctor.service.spec.ts
  src/app/pages/account-addresses/account-addresses/account-addresses.component.html
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.html
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.html
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.html
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.spec.ts
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.ts
  src/app/shared/formly/types/text-input-field/text-input-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
