Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

chore: rename model
  src/app/core/models/order/order.interface.ts
  src/app/core/models/order/order.model.ts
  src/app/core/models/withdrawal-info/withdrawal-info.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: change block margin
  src/app/pages/account-order/account-order/account-order.component.html
Due: npx prettier --loglevel warn --write

chore: resolve problem regarding reloading of order detail page
  docs/guides/migrations.md
  src/app/core/services/order/order.service.spec.ts
  src/app/core/services/order/order.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: adjust wording and translations
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

chore: revert specific withdrawal include handling in order service
  src/app/core/services/order/order.service.spec.ts
  src/app/core/services/order/order.service.ts
  src/app/pages/account-order/account-order/account-order.component.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: show withdrawal information on order detail page (#2107)
  docs/guides/migrations.md
  src/app/core/models/order-list-query/order-list-query.model.ts
  src/app/core/models/order/order.interface.ts
  src/app/core/models/order/order.mapper.ts
  src/app/core/models/order/order.model.ts
  src/app/core/models/withdrawal-info/withdrawal-info.model.ts
  src/app/core/services/order/order.service.ts
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-order/account-order/account-order.component.scss
  src/app/pages/account-order/account-order/account-order.component.ts
  src/app/pages/withdrawal-request/withdrawal-request-form/withdrawal-request-form.component.spec.ts
  src/app/pages/withdrawal-request/withdrawal-request-form/withdrawal-request-form.component.ts
  src/app/pages/withdrawal-request/withdrawal-request-page.component.html
  src/app/pages/withdrawal-request/withdrawal-request-page.component.spec.ts
  src/app/pages/withdrawal-request/withdrawal-request-page.component.ts
  src/app/shared/components/custom-fields/custom-fields-formly/custom-fields-formly.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/global/global.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: add cookie-consent.initializer
  src/app/app.config.ts
  src/app/core/configurations/cookie-consent.initializer.ts
  src/app/core/configurations/injection-keys.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: use @defer for paypal components
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.html
  src/app/pages/category/category-categories/category-categories.component.html
  src/app/pages/home/home-page.component.html
  src/app/pages/product/product-detail/product-detail.component.html
  src/app/pages/product/product-detail/product-detail.component.spec.ts
  src/app/pages/product/product-detail/product-detail.component.ts
  src/app/shared/components/product/product-price/product-price.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: change font loading to test performance impact
  src/styles/global/fonts/roboto.scss
Due: none

fixup! perf: use @defer for paypal components
  src/app/pages/product/product-detail/product-detail.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove skipHydration on swiper related components
  src/app/pages/product/product-images/product-images.component.ts
  src/app/pages/product/product-links-carousel/product-links-carousel.component.ts
  src/app/shared/components/product/products-list/products-list.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(NGINX): bad array subscript error parsing wastatistics
  nginx/cache_clearer.sh
Due: none

refactor: remove skipHydration on swiper related components
  src/app/pages/product/product-images/product-images.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: select quote when adding a product to one of many quotes (#2105)
  docs/guides/migrations.md
  e2e/cypress/e2e/pages/shopping/quote-request-selection.dialog.ts
  e2e/cypress/e2e/specs/quoting/quote-handling-anonymous-product-to-quote-request.b2b.e2e-spec.ts
  e2e/cypress/e2e/specs/quoting/quote-handling.b2b.e2e-spec.ts
  src/app/extensions/quoting/facades/quoting.facade.ts
  src/app/extensions/quoting/guards/product-add-to-quote-request.guard.spec.ts
  src/app/extensions/quoting/guards/product-add-to-quote-request.guard.ts
  src/app/extensions/quoting/pages/quoting-product-add-to-quote-request-routing.module.ts
  src/app/extensions/quoting/quoting.module.ts
  src/app/extensions/quoting/services/quoting/quoting.service.spec.ts
  src/app/extensions/quoting/services/quoting/quoting.service.ts
  src/app/extensions/quoting/shared/product-add-to-quote-dialog/product-add-to-quote-dialog.component.html
  src/app/extensions/quoting/shared/quote-interactions/quote-interactions.component.html
  src/app/extensions/quoting/shared/quote-interactions/quote-interactions.component.ts
  src/app/extensions/quoting/shared/select-quote-request-modal/select-quote-request-modal.component.html
  src/app/extensions/quoting/shared/select-quote-request-modal/select-quote-request-modal.component.spec.ts
  src/app/extensions/quoting/shared/select-quote-request-modal/select-quote-request-modal.component.ts
  src/app/extensions/quoting/store/quoting/quoting.actions.ts
  src/app/extensions/quoting/store/quoting/quoting.effects.spec.ts
  src/app/extensions/quoting/store/quoting/quoting.effects.ts
  src/app/extensions/quoting/store/quoting/quoting.selectors.spec.ts
  src/app/extensions/quoting/store/quoting/quoting.selectors.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/global/forms.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: improve new-entry input UX in order template and wishlist select modals (#2105)
  docs/guides/migrations.md
  src/app/extensions/order-templates/shared/select-order-template-form/select-order-template-form.component.ts
  src/app/extensions/order-templates/shared/select-order-template-modal/select-order-template-modal.component.ts
  src/app/extensions/wishlists/shared/select-wishlist-form/select-wishlist-form.component.ts
  src/app/extensions/wishlists/shared/select-wishlist-modal/select-wishlist-modal.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fix link to newly created list
  src/app/extensions/order-templates/shared/select-order-template-modal/select-order-template-modal.component.spec.ts
  src/app/extensions/order-templates/shared/select-order-template-modal/select-order-template-modal.component.ts
  src/app/extensions/wishlists/shared/select-wishlist-modal/select-wishlist-modal.component.spec.ts
  src/app/extensions/wishlists/shared/select-wishlist-modal/select-wishlist-modal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: set focus to the 1st invalid element after form submit
  src/app/core/directives/form-submit.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(NGINX): bad array subscript error parsing wastatistics (#2118)
  nginx/cache_clearer.sh
Due: none

fix: ok button and link on move order template confirmation dialog (#2120)
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-line-item/account-order-template-detail-line-item.component.html
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-line-item/account-order-template-detail-line-item.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-line-item/account-order-template-detail-line-item.component.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.html
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.spec.ts
  src/app/extensions/order-templates/pages/account-order-template-detail/account-order-template-detail-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: move order template item to a new order template (#1666, #2120)
  src/app/extensions/order-templates/shared/select-order-template-modal/select-order-template-modal.component.spec.ts
  src/app/extensions/order-templates/shared/select-order-template-modal/select-order-template-modal.component.ts
  src/app/extensions/order-templates/store/order-template/order-template.actions.ts
  src/app/extensions/order-templates/store/order-template/order-template.effects.spec.ts
  src/app/extensions/order-templates/store/order-template/order-template.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

style: enlarge padding for the in-place editing pencil icon
  src/app/shared/components/common/in-place-edit/in-place-edit.component.scss
Due: none

chore: release 11.2.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

deps: update Angular 19 dependencies
  .github/copilot-instructions.md
  .nsprc
  docs/concepts/deployment-angular.md
  docs/concepts/project-structure.md
  docs/concepts/pwa-building-blocks.md
  docs/concepts/search-engine-optimization.md
  docs/guides/accessibility-easy-check.md
  docs/guides/development.md
  docs/guides/field-library.md
  docs/guides/getting-started.md
  docs/guides/migrations.md
  docs/guides/propagating-environment-variables.md
  eslint.config.mjs
  package-lock.json
  package.json
  projects/requisition-management/src/app/facades/requisition-context.facade.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-summary/requisition-summary.component.html
  server.ts
  src/app/core/facades/product-context.facade.ts
  src/app/core/state-management.module.ts
  src/app/extensions/quoting/facades/quote-context.facade.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/shared/components/address/address/address.component.html
  tsconfig.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(SSR): set `ALLOWED_HOSTS` for production mode in Angular 19 SSR (#2094)
  .github/scripts/demo-server-up.mjs
  docker-compose.yml
  docs/concepts/pwa-building-blocks.md
  docs/guides/migrations.md
  docs/guides/ssr-startup.md
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: adapt theme file replacement logic for HTML files in `webpack.custom.ts` for Angular 19 (#2094)
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: fix SCSS `import` deprecation warnings introduced with Angular 19 (#2094)
  src/styles/components/footer/footer.scss
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: introduce Perfectionist ESLint rules to enforce sortings in code (#2094)
  docs/guides/migrations.md
  eslint.config.mjs
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

deps: update `ngx-translate` to version 18 (#2094)
  docs/guides/migrations.md
  package-lock.json
  package.json
  src/app/core/core.module.ts
  src/app/extensions/address-doctor/exports/address-doctor-exports.module.ts
  src/app/extensions/captcha/shared/captcha-v2/captcha-v2.component.ts
  src/app/extensions/captcha/shared/captcha-v3/captcha-v3.component.ts
  src/app/pages/cookies/cookies-page.module.ts
  src/app/shared/components/common/modal-dialog/modal-dialog.component.ts
  src/app/shared/components/login/auth0-sign-in/auth0-sign-in.component.html
  src/app/shared/components/login/auth0-sign-in/auth0-sign-in.component.spec.ts
  src/app/shared/components/product/product-quantity/product-quantity.component.html
  src/app/shared/formly-address-forms/formly-address-forms.module.ts
  src/app/shared/formly/components/components.module.ts
  src/app/shared/formly/types/number-field/number-field.component.html
  src/app/shared/formly/types/types.module.ts
  src/app/shared/formly/wrappers/wrappers.module.ts
  src/app/shared/forms/forms.module.ts
  src/app/shared/shared.module.ts
  src/app/shell/shell.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
