Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

set vscode tslint.alwaysShowRuleFailuresAsWarnings to true for workspace
  .vscode/settings.json
Due: npx prettier --loglevel warn --write

add vscode recommended extensions for workspace
  .vscode/extensions.json
Due: npx prettier --loglevel warn --write

add switch for stickyHeader, disabled by default for production
  cypress/integration/pages/checkout/mini-cart.module.ts
  src/app/shell/header/containers/header/header.container.html
  src/app/shell/header/containers/header/header.container.spec.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

replaced .map(=>boolean).reduce(or) with .some
  src/app/core/utils/dev/ngrx-testing.ts
  tslint-rules/dist/componentCreationTestRule.js
  tslint-rules/dist/doNotImportEnvironmentRule.js
  tslint-rules/dist/projectStructureRule.js
  tslint-rules/src/componentCreationTestRule.ts
  tslint-rules/src/doNotImportEnvironmentRule.ts
  tslint-rules/src/projectStructureRule.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

move core state to own file
  src/app/core/store/core-store.module.ts
  src/app/core/store/core-store.ts
  src/app/core/store/countries/countries.selectors.ts
  src/app/core/store/error/error.selectors.ts
  src/app/core/store/locale/locale.selectors.ts
  src/app/core/store/orders/orders.selectors.ts
  src/app/core/store/user/user.selectors.ts
  src/app/core/store/viewconf/viewconf.selectors.ts
  src/app/core/utils/local-storage-sync/local-storage-sync.reducer.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

import schematics example project
  .gitlab-ci.yml
  .prettierignore
  .vscode/settings.json
  angular.json
  package-lock.json
  package.json
  schematics/.gitignore
  schematics/.npmignore
  schematics/package-lock.json
  schematics/package.json
  schematics/scripts/generate-schema-defs.js
  schematics/src/collection.json
  schematics/src/component/__snapshots__/index_spec.ts.snap
  schematics/src/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.__styleext__
  schematics/src/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.__tsext__
  schematics/src/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.html
  schematics/src/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.spec.__tsext__
  schematics/src/component/index.js
  schematics/src/component/index.ts
  schematics/src/component/index_spec.ts
  schematics/src/component/schema.d.ts
  schematics/src/component/schema.json
  schematics/src/package.json
  schematics/test.js
  schematics/tsconfig.json
  src/app/shared/product/components/product-attributes/product-attributes.component.spec.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ci job for schematics
  .gitlab-ci-test-schematics.sh
  .gitlab-ci.yml
Due: none

schematic for page
  .gitlab-ci-test-schematics.sh
  schematics/package-lock.json
  schematics/package.json
  schematics/src/collection.json
  schematics/src/page/factory.js
  schematics/src/page/factory.ts
  schematics/src/page/factory_spec.ts
  schematics/src/page/files/__name@dasherize__/__name@dasherize__-page.module.__tsext__
  schematics/src/page/schema.d.ts
  schematics/src/page/schema.json
  schematics/src/utils/common.js
  schematics/src/utils/common.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

schematic for model
  .gitlab-ci-test-schematics.sh
  schematics/package-lock.json
  schematics/src/collection.json
  schematics/src/model/factory.js
  schematics/src/model/factory.ts
  schematics/src/model/factory_spec.ts
  schematics/src/model/files/__name@dasherize__/__name@dasherize__.helper.__tsext__
  schematics/src/model/files/__name@dasherize__/__name@dasherize__.helper.spec.__tsext__
  schematics/src/model/files/__name@dasherize__/__name@dasherize__.interface.__tsext__
  schematics/src/model/files/__name@dasherize__/__name@dasherize__.mapper.__tsext__
  schematics/src/model/files/__name@dasherize__/__name@dasherize__.mapper.spec.__tsext__
  schematics/src/model/files/__name@dasherize__/__name@dasherize__.model.__tsext__
  schematics/src/model/schema.d.ts
  schematics/src/model/schema.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

schematic for extension
  .gitlab-ci-test-schematics.sh
  schematics/src/collection.json
  schematics/src/extension/factory.js
  schematics/src/extension/factory.ts
  schematics/src/extension/factory_spec.ts
  schematics/src/extension/files/__name@dasherize__/__name@dasherize__.module.__tsext__
  schematics/src/extension/files/__name@dasherize__/exports/__name@dasherize__-exports.module.__tsext__
  schematics/src/extension/files/__name@dasherize__/pages/__name@dasherize__-routing.module.__tsext__
  schematics/src/extension/files/__name@dasherize__/store/__name@dasherize__-store.__tsext__
  schematics/src/extension/files/__name@dasherize__/store/__name@dasherize__-store.module.__tsext__
  schematics/src/extension/schema.d.ts
  schematics/src/extension/schema.json
  schematics/src/page/factory.js
  schematics/src/utils/common.js
  schematics/src/utils/common.ts
  schematics/src/utils/registration.js
  schematics/src/utils/registration.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

schematic for container-component-pair
  .gitlab-ci-test-schematics.sh
  schematics/src/collection.json
  schematics/src/container-component-pair/factory.js
  schematics/src/container-component-pair/factory.ts
  schematics/src/container-component-pair/factory_spec.ts
  schematics/src/container-component-pair/schema.d.ts
  schematics/src/container-component-pair/schema.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

schematic for store
  .gitlab-ci-test-schematics.sh
  schematics/src/collection.json
  schematics/src/model/schema.d.ts
  schematics/src/model/schema.json
  schematics/src/store-group/factory.js
  schematics/src/store-group/factory.ts
  schematics/src/store-group/factory_spec.ts
  schematics/src/store-group/files/__name@dasherize__/__name@dasherize__-store.__tsext__
  schematics/src/store-group/files/__name@dasherize__/__name@dasherize__-store.module.__tsext__
  schematics/src/store-group/schema.d.ts
  schematics/src/store-group/schema.json
  schematics/src/store/factory.js
  schematics/src/store/factory.ts
  schematics/src/store/factory_spec.ts
  schematics/src/store/files/__name@dasherize__/__name@dasherize__.actions.__tsext__
  schematics/src/store/files/__name@dasherize__/__name@dasherize__.effects.__tsext__
  schematics/src/store/files/__name@dasherize__/__name@dasherize__.effects.spec.__tsext__
  schematics/src/store/files/__name@dasherize__/__name@dasherize__.reducer.__tsext__
  schematics/src/store/files/__name@dasherize__/__name@dasherize__.selectors.__tsext__
  schematics/src/store/files/__name@dasherize__/__name@dasherize__.selectors.spec.__tsext__
  schematics/src/store/files/__name@dasherize__/index.__tsext__
  schematics/src/store/schema.d.ts
  schematics/src/store/schema.json
  schematics/src/utils/registration.js
  schematics/src/utils/registration.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

startup server for e2e test
  .gitlab-ci-test-schematics.sh
Due: none

update code scaffolding section in README with intershop-schematics information
  README.md
Due: none

remove static prerendering, only add one production docker image
  .gitlab-ci.yml
  Dockerfile
  Dockerfile_reports
  README.md
  package.json
  prerender.ts
  static.paths.js
  tslint.json
  webpack.server.config.js
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

use npm run start as universal default
  .gitlab-ci-test-schematics.sh
  .gitlab-ci.yml
  Dockerfile
  README.md
  package.json
Due: npx prettier --loglevel warn --write

add executable for cypress testing for setting ICM_BASE_URL
  README.md
  open-cypress.js
  package.json
Due: npx prettier --loglevel warn --write

ISREST-344: remove obsolete LoadBasketItems Action and related functionality
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.actions.spec.ts
  src/app/core/store/checkout/basket/basket.actions.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/basket/basket.reducer.spec.ts
  src/app/core/store/checkout/basket/basket.reducer.ts
  src/app/core/store/checkout/checkout-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: use getBasket call to get basket items
  src/app/core/models/basket-item/basket-item.interface.ts
  src/app/core/models/basket-item/basket-item.mapper.spec.ts
  src/app/core/models/basket-item/basket-item.mapper.ts
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/order-item/order-item.interface.ts
  src/app/core/models/order/order.mapper.ts
  src/app/core/models/shipping-bucket/shipping-bucket.interface.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/basket/basket.reducer.ts
  src/app/core/store/checkout/basket/basket.selectors.spec.ts
  src/app/core/store/checkout/basket/basket.selectors.ts
  src/app/core/store/checkout/checkout-store.spec.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.spec.ts
  src/app/pages/basket/basket-page.container.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: adapt merge baskets functionality to new basket REST API
  src/app/core/models/basket/basket.interface.ts
  src/app/core/services/api/api.service.ts
  src/app/core/services/basket/basket.service.spec.ts
  src/app/core/services/basket/basket.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/checkout-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-344: renamed basketItem to lineItem
  src/app/core/models/basket-item/basket-item.mapper.spec.ts
  src/app/core/models/basket/basket.helper.spec.ts
  src/app/core/models/basket/basket.helper.ts
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/basket/basket.model.ts
  src/app/core/models/line-item/line-item.interface.ts
  src/app/core/models/line-item/line-item.mapper.spec.ts
  src/app/core/models/line-item/line-item.mapper.ts
  src/app/core/models/line-item/line-item.model.ts
  src/app/core/models/order/order.mapper.ts
  src/app/core/models/shipping-bucket/shipping-bucket.model.ts
  src/app/core/services/api/api.service.ts
  src/app/core/store/checkout/basket/basket.effects.spec.ts
  src/app/core/store/checkout/basket/basket.effects.ts
  src/app/core/store/checkout/basket/basket.reducer.spec.ts
  src/app/core/store/checkout/basket/basket.selectors.spec.ts
  src/app/core/store/checkout/checkout-store.spec.ts
  src/app/core/store/orders/orders.effects.ts
  src/app/core/store/orders/orders.selectors.spec.ts
  src/app/core/utils/dev/basket-mock-data.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.spec.ts
  src/app/pages/basket/basket-page.container.spec.ts
  src/app/shared/basket/components/line-item-description/line-item-description.component.ts
  src/app/shared/basket/components/line-item-list/line-item-list.component.spec.ts
  src/app/shared/basket/components/line-item-list/line-item-list.component.ts
  src/app/shell/header/components/mini-basket/mini-basket.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
