Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

fix: remove default search input field specific elements in Chrome
  src/styles/components/header/search-container.scss
  src/styles/pages/category/search-result.scss
Due: none

test: removed unused testbed declarations
  src/app/pages/account-profile-user/account-profile-user-page.component.spec.ts
  src/app/pages/registration/formly/registration-newsletter-field/registration-newsletter-field.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: account-profile: don't display subscription status while value is undefined
  src/app/pages/account-profile/account-profile/account-profile.component.html
Due: npx prettier --loglevel warn --write

fix: remove default search input field specific elements in Chrome (#1589)
  src/styles/components/header/search-container.scss
  src/styles/global/forms.scss
  src/styles/pages/category/search-result.scss
Due: none

docs: newlsetter subscription guide added
  docs/README.md
  docs/guides/newsletter-subscription.md
Due: npx prettier --loglevel warn --write

i18n: further adjustments of EN and FR localizations
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

formatting improvement and maybe sentence improvement
  docs/guides/newsletter-subscription.md
Due: npx prettier --loglevel warn --write

docs: adjustments after review
  docs/guides/newsletter-subscription.md
Due: npx prettier --loglevel warn --write

feat: support newsletter subscription in case of sso registration
  src/app/core/models/customer/customer.model.ts
  src/app/core/store/customer/sso-registration/sso-registration.effects.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: newsletter subscription (#1523)
  docs/README.md
  docs/guides/newsletter-subscription.md
  src/app/core/facades/account.facade.ts
  src/app/core/models/customer/customer.model.ts
  src/app/core/services/newsletter/newsletter.service.spec.ts
  src/app/core/services/newsletter/newsletter.service.ts
  src/app/core/store/customer/customer-store.module.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/core/store/customer/sso-registration/sso-registration.effects.ts
  src/app/core/store/customer/user/user-newsletter.effects.spec.ts
  src/app/core/store/customer/user/user-newsletter.effects.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.effects.spec.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/store/customer/user/user.reducer.ts
  src/app/core/store/customer/user/user.selectors.spec.ts
  src/app/core/store/customer/user/user.selectors.ts
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.ts
  src/app/pages/account-profile-user/account-profile-user-page.component.html
  src/app/pages/account-profile-user/account-profile-user-page.component.spec.ts
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.html
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.spec.ts
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.ts
  src/app/pages/account-profile/account-profile-page.component.html
  src/app/pages/account-profile/account-profile-page.component.ts
  src/app/pages/account-profile/account-profile-page.module.ts
  src/app/pages/account-profile/account-profile/account-profile.component.html
  src/app/pages/account-profile/account-profile/account-profile.component.spec.ts
  src/app/pages/account-profile/account-profile/account-profile.component.ts
  src/app/pages/account-profile/fetch-user-newsletter.guard.ts
  src/app/pages/registration/formly/registration-newsletter-field/registration-newsletter-field.component.html
  src/app/pages/registration/formly/registration-newsletter-field/registration-newsletter-field.component.spec.ts
  src/app/pages/registration/formly/registration-newsletter-field/registration-newsletter-field.component.ts
  src/app/pages/registration/registration-page.guard.ts
  src/app/pages/registration/registration-page.module.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.spec.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: share wishlists in my account page
  docs/concepts/configuration.md
  src/app/core/icon.module.ts
  src/app/extensions/wishlists/facades/wishlists.facade.ts
  src/app/extensions/wishlists/models/wishlist-sharing/wishlist-sharing.model.ts
  src/app/extensions/wishlists/models/wishlist/wishlist.interface.ts
  src/app/extensions/wishlists/models/wishlist/wishlist.mapper.spec.ts
  src/app/extensions/wishlists/models/wishlist/wishlist.mapper.ts
  src/app/extensions/wishlists/models/wishlist/wishlist.model.ts
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-page.component.html
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-page.component.ts
  src/app/extensions/wishlists/pages/account-wishlist/account-wishlist-page.component.html
  src/app/extensions/wishlists/services/wishlist/wishlist.service.spec.ts
  src/app/extensions/wishlists/services/wishlist/wishlist.service.ts
  src/app/extensions/wishlists/shared/wishlist-share-dialog/wishlist-share-dialog.component.html
  src/app/extensions/wishlists/shared/wishlist-share-dialog/wishlist-share-dialog.component.spec.ts
  src/app/extensions/wishlists/shared/wishlist-share-dialog/wishlist-share-dialog.component.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.actions.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.effects.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.reducer.ts
  src/app/extensions/wishlists/wishlists.module.ts
  src/assets/i18n/en_US.json
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: provide and fix localizations for wishlist sharing
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: add page for shared wishlists
  src/app/core/facades/wishlist.facade.ts
  src/app/core/models/wishlist/wishlist.interface.ts
  src/app/core/models/wishlist/wishlist.mapper.spec.ts
  src/app/core/models/wishlist/wishlist.mapper.ts
  src/app/core/models/wishlist/wishlist.model.ts
  src/app/core/services/wishlist/wishlist.service.spec.ts
  src/app/core/services/wishlist/wishlist.service.ts
  src/app/core/store/core/core-store.module.ts
  src/app/core/store/core/core-store.ts
  src/app/core/store/core/wishlist/index.ts
  src/app/core/store/core/wishlist/wishlist.actions.ts
  src/app/core/store/core/wishlist/wishlist.effects.spec.ts
  src/app/core/store/core/wishlist/wishlist.effects.ts
  src/app/core/store/core/wishlist/wishlist.reducer.ts
  src/app/core/store/core/wishlist/wishlist.selectors.spec.ts
  src/app/core/store/core/wishlist/wishlist.selectors.ts
  src/app/pages/app-routing.module.ts
  src/app/pages/wishlist/wishlist-line-item/wishlist-line-item.component.html
  src/app/pages/wishlist/wishlist-line-item/wishlist-line-item.component.spec.ts
  src/app/pages/wishlist/wishlist-line-item/wishlist-line-item.component.ts
  src/app/pages/wishlist/wishlist-page.component.html
  src/app/pages/wishlist/wishlist-page.component.spec.ts
  src/app/pages/wishlist/wishlist-page.component.ts
  src/app/pages/wishlist/wishlist-page.module.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rename dialog and adjust tooltip
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-page.component.html
  src/app/extensions/wishlists/pages/account-wishlist/account-wishlist-page.component.html
  src/app/extensions/wishlists/shared/wishlist-sharing-dialog/wishlist-sharing-dialog.component.html
  src/app/extensions/wishlists/shared/wishlist-sharing-dialog/wishlist-sharing-dialog.component.spec.ts
  src/app/extensions/wishlists/shared/wishlist-sharing-dialog/wishlist-sharing-dialog.component.ts
  src/app/extensions/wishlists/wishlists.module.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: convert anchors with empty routerLinks to buttons
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-page.component.html
Due: npx prettier --loglevel warn --write

fix: fix typo
  src/app/extensions/wishlists/shared/wishlist-sharing-dialog/wishlist-sharing-dialog.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: move wishlist store to general and ensure values in store
  src/app/core/facades/wishlist.facade.ts
  src/app/core/store/core/core-store.module.ts
  src/app/core/store/core/core-store.ts
  src/app/core/store/general/general-store.module.ts
  src/app/core/store/general/general-store.ts
  src/app/core/store/general/wishlist/index.ts
  src/app/core/store/general/wishlist/wishlist.actions.ts
  src/app/core/store/general/wishlist/wishlist.effects.spec.ts
  src/app/core/store/general/wishlist/wishlist.effects.ts
  src/app/core/store/general/wishlist/wishlist.reducer.ts
  src/app/core/store/general/wishlist/wishlist.selectors.spec.ts
  src/app/core/store/general/wishlist/wishlist.selectors.ts
  src/app/extensions/wishlists/pages/account-wishlist-detail/account-wishlist-detail-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove dead code and add loading indicator
  src/app/core/facades/wishlist.facade.ts
  src/app/core/models/wishlist/wishlist.mapper.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.reducer.ts
  src/app/pages/wishlist/wishlist-page.component.html
  src/app/pages/wishlist/wishlist-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: cleanup testbed
  src/app/extensions/wishlists/shared/wishlist-sharing-dialog/wishlist-sharing-dialog.component.spec.ts
  src/app/pages/wishlist/wishlist-line-item/wishlist-line-item.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: added working button on order history page
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-order/account-order/account-order.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: added loading spinner
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-order/account-order/account-order.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: fixed jest
  src/app/pages/account-order/account-order/account-order.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: added localization
  src/app/pages/account-order/account-order/account-order.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: vertical formly wrapper, adjust UI changes
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.b2c.html
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.html
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.ts
  src/app/shared/formly/wrappers/vertical-wrapper/vertical-wrapper.component.html
  src/app/shared/formly/wrappers/vertical-wrapper/vertical-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/vertical-wrapper/vertical-wrapper.component.ts
  src/app/shared/formly/wrappers/wrappers.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: add resource to the content message
  src/app/core/utils/design-view/design-view.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: further UI implementation
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.html
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update @angular-devkit/build-angular@16 @angular-devkit/schematics@16 @angular/cdk@16 @schematics/angular@16 pm2
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

deps: vulnerability fix for 'ip' package
  package-lock.json
Due: npx prettier --loglevel warn --write

feat: clear filters behavior, new position of show filters, remove statuscode, jest fix
  src/app/core/models/order-list-query/order-list-query.model.ts
  src/app/core/services/order/order.service.spec.ts
  src/app/core/services/order/order.service.ts
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.html
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.spec.ts
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: update b2c
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.b2c.html
Due: npx prettier --loglevel warn --write

deps: update express xliff json-schema-to-typescript ts-jest cspell lint-staged @commitlint/cli @commitlint/config-conventional @types/express-serve-static-core @types/uuid @types/node@18
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

refactor: minimize cookie banner
  src/app/shell/application/cookies-banner/cookies-banner.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/components/cookies.scss
Due: npx prettier --loglevel warn --write

deps: update Angular 16 and additional dependencies + vulnerability fix
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat:no results found, datepicker icon shift fix, localizations update
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.b2c.html
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.html
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.ts
  src/app/pages/account-order-history/account-order-history-page.component.html
  src/app/shared/formly/types/date-range-picker-field/date-range-picker-field.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: in SSR load only top level categories, on client side load and render the configured level of sub categories
  src/app/core/store/shopping/categories/categories.effects.ts
  src/app/shell/header/header-navigation/header-navigation.component.html
  src/app/shell/header/header-navigation/header-navigation.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: minimize cookie banner, add tooltips to buttons
  src/app/shell/application/cookies-banner/cookies-banner.component.html
  src/app/shell/application/cookies-banner/cookies-banner.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/components/cookies.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

perf: in SSR load only top level categories, on client side load and render the configured level of sub categories (#1586)
  src/app/core/store/shopping/categories/categories.effects.ts
  src/app/shell/header/header-navigation/header-navigation.component.html
  src/app/shell/header/header-navigation/header-navigation.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: localizations
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.html
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: fix e2e test
  e2e/cypress/e2e/specs/system/cookie-consent.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: b2c and test file update
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.b2c.html
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
