Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

fix: preserve first quantity update
  e2e/cypress/e2e/pages/checkout/cart.page.ts
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: restore esbuild build diagnostics
  .dockerignore
  .gitignore
  package-lock.json
  package.json
  scripts/active-localization-files.js
  scripts/active-localization-files.test.js
  scripts/build-multi-pwa.js
  scripts/clean-up-localizations.js
  scripts/dead-files.js
Due: npx prettier --loglevel warn --write

fix: support arbitrary configurations in esbuild build scripts
  .dockerignore
  Dockerfile
  package.json
  scripts/build-multi-pwa.js
  scripts/build-pwa.js
  scripts/docker-build-context.test.js
Due: npx prettier --loglevel warn --write

refactor: simplify parametrized esbuild build commands
  .github/workflows/development.yml
  .github/workflows/integration.yml
  .vscode/intershop.txt
  Dockerfile
  angular.json
  docs/README.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/ssr-startup.md
  docs/guides/webpack-to-esbuild.md
  package.json
  scripts/build-multi-pwa.js
  scripts/clean-up-localizations.js
  scripts/dead-files.js
  templates/esbuild/define-build-constants.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: added test:scripts to package.json
  package.json
Due: npx prettier --loglevel warn --write

fix: preserve missing-resource URLs during SSR and hydration
  e2e/cypress/e2e/specs/system/rest-error-handling.b2c.e2e-spec.ts
  src/app/app.server.module.ts
  src/app/core/configurations/ngrx-state-transfer.ts
  src/app/core/utils/http-status-code/http-status-code.service.spec.ts
  src/app/core/utils/http-status-code/http-status-code.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: generate customization themes for esbuild targets
  schematics/customization/add/index.js
Due: npx prettier --loglevel warn --write

refactor: consolidate SSR request tokens
  src/app/core/utils/ssr/ssr.tokens.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
  src/server.ts
  src/ssr/markdown-mirror.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: revert quantity update preservation
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/facades/product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: restore wait before basket quantity changes
  e2e/cypress/e2e/pages/checkout/cart.page.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rename define-build-constants script
  .dockerignore
  Dockerfile
  angular.json
  docs/guides/webpack-to-esbuild.md
  templates/esbuild/esbuild-define-constants.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ci: keep workflows focused on esbuild migration
  .github/workflows/development.yml
  .github/workflows/integration.yml
  .github/workflows/lighthouse-performance-baseline.yml
  .github/workflows/windows.yml
Due: npx prettier --loglevel warn --write

docs: add preparations section to migration docs
  docs/guides/webpack-to-esbuild.md
Due: npx prettier --loglevel warn --write

ci: defer customization test until theme overrides land
  .github/workflows/development.yml
Due: npx prettier --loglevel warn --write

feat(product-advisor): add Flowise REST integration and interim test page
  src/app/app.module.ts
  src/app/extensions/product-advisor/facades/product-advisor.facade.ts
  src/app/extensions/product-advisor/models/product-advisor-config/product-advisor-config.model.ts
  src/app/extensions/product-advisor/models/product-advisor/product-advisor.model.ts
  src/app/extensions/product-advisor/pages/product-advisor-routing.module.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.module.ts
  src/app/extensions/product-advisor/services/product-advisor/product-advisor.service.spec.ts
  src/app/extensions/product-advisor/services/product-advisor/product-advisor.service.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(product-advisor): rework page to look and interact like a chat
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(product-advisor): show recommended products
  src/app/extensions/product-advisor/models/product-advisor-product/product-advisor-product.helper.spec.ts
  src/app/extensions/product-advisor/models/product-advisor-product/product-advisor-product.helper.ts
  src/app/extensions/product-advisor/models/product-advisor-product/product-advisor-product.model.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add docu
  docs/README.md
  docs/guides/product-advisor.md
Due: npx prettier --loglevel warn --write

feat: add llms.txt
  .vscode/intershop.txt
  docs/README.md
  docs/guides/llms-txt.md
  nginx/Dockerfile
  nginx/llms/default_llms.txt
  nginx/llms/inSPIRED-inTRONICS-Site_llms.txt
  nginx/llms/inSPIRED-inTRONICS_Business-Site_llms.txt
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

docs: moved SEO to a separate section
  docs/README.md
Due: npx prettier --loglevel warn --write

docs: add llms v2 aspects
  docs/guides/llms-txt.md
  src/index.html
Due: npx prettier --loglevel warn --write

docs: add migration note
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

feat: set neutral content for default llms.txt
  nginx/llms/default_llms.txt
Due: none

docs: fix display of llms file name pattern
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

docs: review part 1
  docs/guides/llms-txt.md
Due: npx prettier --loglevel warn --write

docs: change formatting of files and paths to italics
  docs/guides/llms-txt.md
Due: npx prettier --loglevel warn --write

docs: changes after review part 3
  docs/guides/migrations.md
  nginx/llms/inSPIRED-inTRONICS-Site_llms.txt
  nginx/llms/inSPIRED-inTRONICS_Business-Site_llms.txt
Due: npx prettier --loglevel warn --write

docs: adapt changes from feedback
  docs/guides/llms-txt.md
  nginx/llms/inSPIRED-inTRONICS-Site_llms.txt
  nginx/llms/inSPIRED-inTRONICS_Business-Site_llms.txt
Due: npx prettier --loglevel warn --write

docs: small adjustment
  docs/guides/llms-txt.md
Due: npx prettier --loglevel warn --write

feat: built as extension with feature toggle, integrate Flowise REST layer
  docs/guides/product-advisor.md
  src/app/extensions/product-advisor/pages/product-advisor-routing.module.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.scss
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.scss
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.module.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-results/product-advisor-results.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-results/product-advisor-results.component.scss
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-results/product-advisor-results.component.ts
  src/app/pages/app-routing.module.ts
  src/app/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.html
  src/app/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.ts
  src/app/pages/product-advisor/product-advisor-page.component.html
  src/app/pages/product-advisor/product-advisor-page.component.ts
  src/app/pages/product-advisor/product-advisor-page.module.ts
  src/app/pages/product-advisor/product-advisor-results/product-advisor-results.component.html
  src/app/pages/product-advisor/product-advisor-results/product-advisor-results.component.ts
  src/app/shell/header/header-default/header-default.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: fix formatting issue after rebasing
  docs/guides/llms-txt.md
Due: npx prettier --loglevel warn --write

feat: add scrolling behavior
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.scss
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-results/product-advisor-results.component.scss
Due: none

test: fix flaky e2e test
  src/styles/global/animations.scss
Due: none

feat: fix advisor link in header
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
  src/app/shell/header/header-default/header-default.component.html
  src/styles/components/header/header.scss
Due: npx prettier --loglevel warn --write

docs: changes after review part 1
  docs/guides/customizations.md
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

feat: show number of products in mobile, preserve line breaks in chat response text
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.scss
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.html
Due: npx prettier --loglevel warn --write

feat: add streaming config
  src/app/extensions/product-advisor/models/product-advisor-config/product-advisor-config.model.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(Agent readiness): introduce `llms.txt` support (#2167)
  .vscode/intershop.txt
  docs/README.md
  docs/guides/llms-txt.md
  docs/guides/migrations.md
  nginx/Dockerfile
  nginx/llms/default_llms.txt
  nginx/llms/inSPIRED-inTRONICS-Site_llms.txt
  nginx/llms/inSPIRED-inTRONICS_Business-Site_llms.txt
  nginx/templates/multi-channel.conf.tmpl
  src/index.html
  src/styles/global/animations.scss
Due: npx prettier --loglevel warn --write

fix: prevent blanks in filter ids (#2194)
  src/app/core/models/filter-navigation/filter-navigation.mapper.spec.ts
  src/app/core/models/filter-navigation/filter-navigation.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
