Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

feat(SSR): allow internal k8s communication with ICM
  docs/guides/ssr-startup.md
  src/app/app.server.module.ts
  src/app/core/interceptors/universal-internal-backend.interceptor.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use ICM_BASE_URL_SSR for wastatistics if provided
  docs/guides/nginx-startup.md
  nginx/cache_clearer.sh
Due: npx prettier --loglevel warn --write

feat(SSR): add serverUrlSsr to SPARQUE configuration for internal k8s communication
  docs/guides/migrations.md
  docs/guides/sparque-ai.md
  src/app/core/models/sparque/sparque-config.model.ts
  src/app/core/services/sparque-api/sparque-api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: changes after review
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  docs/guides/sparque-ai.md
Due: npx prettier --loglevel warn --write

feat(SSR): allow internal k8s communication with ICM/SPARQUE backend (#2002)
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  docs/guides/sparque-ai.md
  docs/guides/ssr-startup.md
  nginx/cache_clearer.sh
  src/app/app.server.module.ts
  src/app/core/interceptors/universal-internal-backend.interceptor.ts
  src/app/core/models/sparque/sparque-config.model.ts
  src/app/core/services/sparque-api/sparque-api.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: `build-multi-pwa.js` no longer working on Windows
  package-lock.json
  package.json
  scripts/build-multi-pwa.js
Due: npx prettier --loglevel warn --write

fix: prevent `synchronize-lazy-components` script errors due to buffer size problems
  schematics/src/utils/lint-fix.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: set Prettier `"endOfLine": "lf",` to make `eslint --fix` more reliable
  .prettierrc
Due: none

chore: fix cms component schematic
  schematics/src/cms-component/schema.json
Due: npx prettier --loglevel warn --write

chore: increase budgets for bundle sizes
  angular.json
Due: npx prettier --loglevel warn --write

ci: automated update trigger only on dispatch
  .github/workflows/automated-update.yml
Due: npx prettier --loglevel warn --write

fix: loadEligibleAddresses if the user does not have a preferred invoiceTo address
  src/app/core/facades/checkout.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: update Angular 17 independent dependencies + Cypress/e2e dependencies update
  e2e/cypress-ci-e2e.ts
  e2e/cypress.config.ts
  e2e/cypress/e2e/framework/b2b-user.ts
  e2e/cypress/e2e/framework/users.ts
  e2e/cypress/e2e/specs/checkout/shopping-recurring-order.b2c.e2e-spec.ts
  e2e/open-cypress.js
  e2e/package-lock.json
  e2e/package.json
  package-lock.json
  package.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: show eligible addresses without a preferred user invoice address (#2013)
  src/app/core/facades/checkout.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: optimization of script loading
  docs/guides/migrations.md
  src/app/core/utils/script-loader/script-loader.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add to cart button missing in product compare (#1862)
  src/app/shared/components/product/product-add-to-basket/product-add-to-basket.component.spec.ts
  src/app/shared/components/product/product-add-to-basket/product-add-to-basket.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: enhance script loader code doc
  src/app/core/utils/script-loader/script-loader.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: improvements after copilot review
  src/app/core/utils/script-loader/script-loader.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent double error message on checkout pages
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.spec.ts
  src/app/pages/checkout-address/checkout-address/checkout-address.component.html
  src/app/pages/checkout-address/checkout-address/checkout-address.component.spec.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.spec.ts
  src/app/pages/checkout-shipping/checkout-shipping-page.component.html
  src/app/pages/checkout-shipping/checkout-shipping-page.component.spec.ts
  src/app/shared/components/basket/basket-error-message/basket-error-message.component.html
  src/app/shared/components/basket/basket-error-message/basket-error-message.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: double error messages on checkout pages (#2017)
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.spec.ts
  src/app/pages/checkout-address/checkout-address/checkout-address.component.html
  src/app/pages/checkout-address/checkout-address/checkout-address.component.spec.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.spec.ts
  src/app/pages/checkout-shipping/checkout-shipping-page.component.html
  src/app/pages/checkout-shipping/checkout-shipping-page.component.spec.ts
  src/app/shared/components/basket/basket-error-message/basket-error-message.component.html
  src/app/shared/components/basket/basket-error-message/basket-error-message.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: small change of wording
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

refactor: enhance script loader (#2016)
  docs/guides/migrations.md
  src/app/core/utils/script-loader/script-loader.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: optimize paypal integration
  src/app/core/utils/paypal-config/paypal-config.service.spec.ts
  src/app/core/utils/paypal-config/paypal-config.service.ts
  src/app/core/utils/script-loader/script-loader.service.ts
  src/app/core/utils/sdk/paypal/paypal-components/buttons/paypal-buttons.ts
  src/app/core/utils/sdk/paypal/paypal-components/messages/paypal-messages.ts
  src/app/core/utils/sdk/paypal/paypal-components/paypal-component.builder.spec.ts
  src/app/core/utils/sdk/paypal/paypal-components/paypal-component.builder.ts
  src/app/core/utils/sdk/paypal/paypal-components/paypal-component.styling.ts
  src/app/core/utils/sdk/paypal/paypal-config/paypal-config.service.spec.ts
  src/app/core/utils/sdk/paypal/paypal-config/paypal-config.service.ts
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.html
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.ts
  src/app/pages/category/category-categories/category-categories.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/home/home-page.component.html
  src/app/pages/product/product-detail/product-detail.component.html
  src/app/shared/components/basket/basket-cost-summary/basket-cost-summary.component.html
  src/app/shared/components/basket/basket-cost-summary/basket-cost-summary.component.ts
  src/app/shared/components/checkout/payment-paypal-messages/payment-paypal-messages.component.spec.ts
  src/app/shared/components/checkout/payment-paypal-messages/payment-paypal-messages.component.ts
  src/app/shared/components/checkout/payment-paypal/payment-paypal.component.html
  src/app/shared/components/checkout/payment-paypal/payment-paypal.component.scss
  src/app/shared/components/checkout/payment-paypal/payment-paypal.component.spec.ts
  src/app/shared/components/checkout/payment-paypal/payment-paypal.component.styling.ts
  src/app/shared/components/checkout/payment-paypal/payment-paypal.component.ts
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.html
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.spec.ts
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.ts
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: rendering card fields
  src/app/core/services/payment/payment.service.ts
  src/app/core/utils/script-loader/script-loader.service.ts
  src/app/core/utils/sdk/paypal/paypal-components/buttons/paypal-buttons.ts
  src/app/core/utils/sdk/paypal/paypal-components/card-fields/card-fields.ts
  src/app/core/utils/sdk/paypal/paypal-components/card-fields/paypal-card-fields.interface.ts
  src/app/core/utils/sdk/paypal/paypal-components/messages/paypal-messages.ts
  src/app/core/utils/sdk/paypal/paypal-components/paypal-component.builder.ts
  src/app/core/utils/sdk/paypal/paypal-components/paypal-component.styling.ts
  src/app/core/utils/sdk/paypal/paypal-config/paypal-config.service.ts
  src/app/pages/checkout-payment/checkout-payment-page.component.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/product/product-detail/product-detail.component.html
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.html
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.spec.ts
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: change styling
  src/app/core/utils/sdk/paypal/paypal-components/card-fields/card-fields.ts
  src/app/core/utils/sdk/paypal/paypal-components/paypal-component.styling.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.html
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.scss
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor objects
  src/app/core/utils/sdk/paypal/paypal-components/buttons/paypal-buttons.ts
  src/app/core/utils/sdk/paypal/paypal-components/card-fields/card-fields.ts
  src/app/core/utils/sdk/paypal/paypal-components/messages/paypal-messages.ts
  src/app/core/utils/sdk/paypal/paypal-components/paypal-component.builder.ts
  src/app/core/utils/sdk/paypal/paypal-components/paypal-component.styling.ts
  src/app/core/utils/sdk/paypal/paypal-model/paypal.interface.ts
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.html
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor objects
  src/app/core/utils/sdk/paypal/paypal-components/buttons/paypal-buttons.ts
  src/app/core/utils/sdk/paypal/paypal-components/card-fields/paypal-card-fields.ts
  src/app/core/utils/sdk/paypal/paypal-components/messages/paypal-messages.ts
  src/app/core/utils/sdk/paypal/paypal-components/paypal-component.builder.ts
  src/app/core/utils/sdk/paypal/paypal-components/paypal-component.styling.ts
  src/app/core/utils/sdk/paypal/paypal-model/paypal.interface.ts
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.html
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add paypal 3ds model
  src/app/core/models/paypal-3ds/paypal-3ds.model.ts
  src/app/core/services/payment/payment.service.ts
  src/app/core/utils/sdk/paypal/paypal-components/card-fields/paypal-card-fields.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: change paypal preference handling
  src/app/core/facades/app.facade.ts
  src/app/core/facades/checkout.facade.ts
  src/app/core/models/paypal-config/paypal-config.model.ts
  src/app/core/services/payment/payment.service.ts
  src/app/core/store/core/configuration/configuration.selectors.ts
  src/app/core/store/customer/basket/basket-payment.effects.ts
  src/app/core/store/customer/basket/basket.actions.ts
  src/app/core/utils/sdk/paypal/paypal-components/buttons/paypal-buttons.ts
  src/app/core/utils/sdk/paypal/paypal-components/card-fields/paypal-card-fields.ts
  src/app/core/utils/sdk/paypal/paypal-components/messages/paypal-messages.ts
  src/app/core/utils/sdk/paypal/paypal-components/paypal-component.builder.ts
  src/app/core/utils/sdk/paypal/paypal-components/paypal-component.styling.ts
  src/app/core/utils/sdk/paypal/paypal-config/paypal-config.service.ts
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.html
  src/app/pages/basket/shopping-basket-payment/shopping-basket-payment.component.ts
  src/app/pages/category/category-categories/category-categories.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
  src/app/pages/home/home-page.component.html
  src/app/pages/product/product-detail/product-detail.component.html
  src/app/shared/components/basket/basket-cost-summary/basket-cost-summary.component.html
  src/app/shared/components/basket/basket-cost-summary/basket-cost-summary.component.ts
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.html
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.scss
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: styling of card fields
  src/app/core/facades/checkout.facade.ts
  src/app/core/services/payment/payment.service.ts
  src/app/core/utils/sdk/paypal/paypal-components/card-fields/paypal-card-fields.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.html
  src/app/shared/components/payment/payment-paypal/payment-paypal.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: change method name
  src/app/core/facades/app.facade.ts
  src/app/core/store/core/configuration/configuration.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
