Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: use sparque wrapper
  docker-compose.yml
  src/app/core/models/sparque/sparque.interface.ts
  src/app/core/services/sparque/sparque-api/sparque-api.service.ts
  src/app/core/services/sparque/sparque-categories/sparque-categories.service.ts
  src/app/core/services/sparque/sparque-filter/sparque-filter.service.ts
  src/app/core/services/sparque/sparque-products/sparque-products.service.ts
  src/app/core/services/sparque/sparque-products/sparque-sorting.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixed wrong usage of "an"
  src/assets/i18n/en_US.json
Due: npx prettier --loglevel warn --write

fix: reload the application after the pgid changed (#1461)
  src/app/core/core.module.ts
  src/app/core/interceptors/pgid-change.interceptor.ts
  src/app/core/utils/api-token/api-token.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: properly handle system signals in pwa docker container (#1471)
  Dockerfile
  dist/entrypoint.sh
  docker-compose.yml
Due: npx prettier --loglevel warn --write

feat: introduce design view service, use in highlight component
  src/app/core/services/designview/designview.service.spec.ts
  src/app/core/services/designview/designview.service.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.html
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: Design View highlighting
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.html
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.scss
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.spec.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.ts
  src/app/shared/cms/components/content-include/content-include.component.html
  src/app/shared/cms/components/content-pagelet/content-pagelet.component.html
  src/app/shared/cms/components/content-slot/content-slot.component.html
  src/app/shared/shared.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

enable DesignView highlighting with 'DESIGNVIEW' PreviewContextId
  src/app/core/interceptors/preview.interceptor.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add temporary display of children at hover
  src/app/core/services/designview/designview.service.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.html
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: implement two temporary features: toggle the last element highlighting, toggle CMS hierarchy highlighting
  src/app/core/services/designview/designview.service.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: check previewContextId to identify Design View mode
  src/app/core/interceptors/preview.interceptor.ts
  src/app/core/services/preview/preview.service.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.spec.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: add debug messages to see edit actions
  src/app/core/services/designview/designview.service.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: cleanup localization
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

temp: set the icmBaseURL to use the ICM with the CMS Management REST API
  .github/workflows/demo-server-up.yml
  .github/workflows/development.yml
  .github/workflows/integration.yml
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: comment out delete icon
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.html
Due: npx prettier --loglevel warn --write

fix: workaround for the missing Firefox :has support to highlight only the last .designview-wrapper in the .designview-wrapper hierarchy
  src/app/core/services/designview/designview.service.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: handle "/" at the end of the URL to get postMessage working in this specific case, remove debug messages
  src/app/core/services/designview/designview.service.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.html
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: remove temporary highlighting features and highlight only last element in hierarchy
  src/app/core/services/designview/designview.service.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.html
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use regexp to remove the trailing slash
  src/app/core/services/designview/designview.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: set the iapBaseURL to use the IAP INT system
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: enable SSL to prevent redirect to http on the deployed machine when shown in iframe
  docker-compose.yml
Due: npx prettier --loglevel warn --write

fix: cookie error. sameSite is set to none
  src/app/core/utils/cookies/cookies.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: designViewService
  src/app/core/configurations/injection-keys.ts
  src/app/core/services/preview/preview.service.ts
  src/app/core/utils/design-view/design-view.service.spec.ts
  src/app/core/utils/design-view/design-view.service.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.html
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temp: revert changes for SSL because the PWA is not reachable any more
  docker-compose.yml
Due: npx prettier --loglevel warn --write

refactor: move preview service to core/utils
  src/app/core/interceptors/preview.interceptor.ts
  src/app/core/utils/design-view/design-view.service.ts
  src/app/core/utils/preview/preview.service.spec.ts
  src/app/core/utils/preview/preview.service.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.spec.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: revert icm_base_url for testing purposes
  .github/workflows/development.yml
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

refactor: design-view-wrapper.component
  src/app/core/utils/cookies/cookies.service.ts
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.html
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.scss
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.spec.ts
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.ts
  src/app/shared/cms/components/content-designview-wrapper/content-designview-wrapper.component.html
  src/app/shared/cms/components/content-include/content-include.component.html
  src/app/shared/cms/components/content-pagelet/content-pagelet.component.html
  src/app/shared/cms/components/content-slot/content-slot.component.html
  src/app/shared/shared.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: added and fixed tests
  src/app/core/utils/cookies/cookies.service.ts
  src/app/core/utils/design-view/design-view.service.spec.ts
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.spec.ts
  src/app/shared/cms/components/content-include/content-include.component.spec.ts
  src/app/shared/cms/components/content-pagelet/content-pagelet.component.spec.ts
  src/app/shared/cms/components/content-slot/content-slot.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixup! refactor: move preview service to core/utils
  docs/concepts/cms-integration.md
Due: npx prettier --loglevel warn --write

fix: replace translate.instant
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.html
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.spec.ts
  src/app/shared/components/product/product-list-toolbar/product-list-toolbar.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove query parameter "page" for product detail page routes
  src/app/shared/components/product/product-image/product-image.component.html
  src/app/shared/components/product/product-name/product-name.component.html
Due: npx prettier --loglevel warn --write

feat: fallback to loading after proxy read timeout
  nginx/templates/multi-channel.conf.tmpl
Due: none

chore: activate caching, produce delay
  docker-compose.yml
  src/app/core/services/products/products.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: complete current localization call, when a new language is requested
  src/app/core/utils/translate/icm-translate-loader.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove interfering query parameter "page" for product detail page routes (#1481)
  src/app/shared/components/product/product-image/product-image.component.html
  src/app/shared/components/product/product-name/product-name.component.html
Due: npx prettier --loglevel warn --write

refactor: rename checkout field 'order reference id' (#1480)
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: Handle highlighted pagelets display text on other languages
  src/app/core/models/content-pagelet/content-pagelet.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: ignore compiled health check script
  .dockerignore
  dist/.gitignore
Due: none

fix: remove api-token cookie just for created '/' path
  src/app/core/utils/api-token/api-token.service.ts
  src/app/core/utils/cookies/cookies.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: trigger pagelet highlighting to and from host, scroll to highlighted pagelet
  src/app/core/utils/design-view/design-view.service.ts
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.html
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.scss
  src/app/shared/cms/components/content-design-view-wrapper/content-design-view-wrapper.component.ts
  src/app/shared/cms/components/content-viewcontext/content-viewcontext.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
