Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests, npx prettier --loglevel warn --write --parser angular

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ],
  "*.html": [
    "npx prettier --loglevel warn --write --parser angular",
    "git add"
  ]
}

always restart containers for reviews
  .gitlab-ci.yml
Due: none

deploy b2b demo
  .gitlab-ci.yml
Due: none

using env properties in right place
  .gitlab-ci.yml
Due: none

Added Angulartics2 to enable Tracking with Google Analytics and Google Tag Manager
  package-lock.json
  package.json
  src/app/core/configuration.module.ts
  src/app/core/configurations/injection-keys.ts
  src/app/core/core.module.ts
  src/app/extensions/tracking/tracking.module.ts
  src/environments/environment.prod.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

make gtm token configurable via environment
  src/app/core/configuration.module.ts
  src/app/core/configurations/injection-keys.ts
  src/app/core/store/configuration/configuration.actions.ts
  src/app/core/store/configuration/configuration.effects.spec.ts
  src/app/core/store/configuration/configuration.effects.ts
  src/app/core/store/configuration/configuration.reducer.ts
  src/app/core/store/configuration/configuration.selectors.spec.ts
  src/app/core/store/configuration/configuration.selectors.ts
  src/app/extensions/tracking/tracking.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-538: refactoring of the customer/user functionality (login, registration)
  src/app/core/models/customer/customer.interface.ts
  src/app/core/models/customer/customer.mapper.spec.ts
  src/app/core/models/customer/customer.mapper.ts
  src/app/core/models/customer/customer.model.ts
  src/app/core/models/user/user.mapper.spec.ts
  src/app/core/models/user/user.mapper.ts
  src/app/core/services/registration/registration.service.spec.ts
  src/app/core/services/registration/registration.service.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/checkout/checkout-store.spec.ts
  src/app/core/store/error/error.reducer.spec.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/core/store/user/user.actions.ts
  src/app/core/store/user/user.effects.spec.ts
  src/app/core/store/user/user.effects.ts
  src/app/core/store/user/user.reducer.spec.ts
  src/app/core/store/user/user.reducer.ts
  src/app/core/store/user/user.selectors.spec.ts
  src/app/extensions/quoting/services/quote-request/quote-request.service.spec.ts
  src/app/extensions/quoting/services/quote/quote.service.spec.ts
  src/app/extensions/quoting/store/quote-request/quote-request.effects.spec.ts
  src/app/extensions/quoting/store/quote/quote.effects.spec.ts
  src/app/extensions/quoting/store/quoting-store.spec.ts
  src/app/pages/account-profile-settings/account-profile-settings-page.container.spec.ts
  src/app/pages/registration/components/registration-form/registration-form.component.ts
  src/app/pages/registration/registration-page.container.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-538: business customer registration
  .gitlab-ci.yml
  src/app/core/models/user/user.model.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/pages/registration/components/registration-company-form/registration-company-form.component.html
  src/app/pages/registration/components/registration-company-form/registration-company-form.component.spec.ts
  src/app/pages/registration/components/registration-company-form/registration-company-form.component.ts
  src/app/pages/registration/components/registration-form/registration-form.component.html
  src/app/pages/registration/components/registration-form/registration-form.component.spec.ts
  src/app/pages/registration/components/registration-form/registration-form.component.ts
  src/app/pages/registration/registration-page.module.ts
  src/app/shared/address-forms/components/address-form/address-form.component.html
  src/app/shared/address-forms/components/customer-address-form/customer-address-form.component.html
  src/app/shared/address-forms/containers/address-form/address-form.container.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests, npx prettier --loglevel warn --write --parser angular

ISREST-532: refactor regions loading and display behavior
  src/app/core/models/region/region.interface.ts
  src/app/core/models/region/region.mapper.spec.ts
  src/app/core/models/region/region.mapper.ts
  src/app/core/models/region/region.model.ts
  src/app/core/services/country/country.service.spec.ts
  src/app/core/services/country/country.service.ts
  src/app/core/services/region/region.service.spec.ts
  src/app/core/services/region/region.service.ts
  src/app/core/store/core-store.module.ts
  src/app/core/store/core-store.ts
  src/app/core/store/regions/index.ts
  src/app/core/store/regions/regions.actions.ts
  src/app/core/store/regions/regions.effects.spec.ts
  src/app/core/store/regions/regions.effects.ts
  src/app/core/store/regions/regions.reducer.spec.ts
  src/app/core/store/regions/regions.reducer.ts
  src/app/core/store/regions/regions.selectors.spec.ts
  src/app/core/store/regions/regions.selectors.ts
  src/app/shared/address-forms/components/address-form-default/address-form-default.component.spec.ts
  src/app/shared/address-forms/components/address-form-us/address-form-us.component.spec.ts
  src/app/shared/address-forms/containers/address-form/address-form.container.html
  src/app/shared/address-forms/containers/address-form/address-form.container.spec.ts
  src/app/shared/address-forms/containers/address-form/address-form.container.ts
  src/app/shared/forms/components/select-region/select-region.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests, npx prettier --loglevel warn --write --parser angular

adapt register user e2e spec to use country with region
  cypress/integration/pages/account/registration.page.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

git ignore cypress logs
  cypress/.gitignore
Due: none

use makeHref pipe to add url params in between url and query params
  src/app/core/pipes.module.ts
  src/app/core/pipes/make-href.pipe.spec.ts
  src/app/core/pipes/make-href.pipe.ts
  src/app/shell/header/components/language-switch/language-switch.component.html
  src/app/shell/header/components/language-switch/language-switch.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests, npx prettier --loglevel warn --write --parser angular

reconstruct bug
  cypress/integration/pages/account/login.page.ts
  cypress/integration/remote/change-language.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add angular2-cookie-law plugin + dispaly cookie usage popup in App Component
  .gitlab-ci-test-universal.sh
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/core/core.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/theme/main.scss
  src/theme/plugins/cookie-law.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests, npx prettier --loglevel warn --write --parser angular

chore: release 0.9.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

added script for PWA part
  templates/prepare_release.sh
Due: none

added script for merging releases
  templates/merge_release.sh
Due: none

ISREST-588: display of quote detail page fixed
  src/app/extensions/quoting/store/quote/quote.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ISREST-588: display of line items fixed on cart page
  src/app/core/models/line-item/line-item.model.ts
  src/app/shared/basket/components/line-item-list/line-item-list.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests, npx prettier --loglevel warn --write --parser angular

ISREST-588: display of buttons (add to cart, reject quote) fixed on quote edit page
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.html
  src/app/extensions/quoting/shared/quote/components/quote-edit/quote-edit.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests, npx prettier --loglevel warn --write --parser angular

ISREST-557: add official lacalizations for the cookie information popup
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write
