Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: use a fixed node.js version to prevent build issues with unknown versions
  Dockerfile
  Dockerfile_reports
  package-lock.json
  package.json
  templates/Dockerfile_dev
Due: npx prettier --loglevel warn --write

chore: release 2.4.1 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix: Invite page in ssr is not working (#1200)
  docs/concepts/sso.md
  src/app/core/guards/identity-provider-password.guard.ts
  src/app/core/identity-provider.module.ts
  src/app/core/identity-provider/identity-provider.factory.ts
  src/app/pages/forgot-password/forgot-password-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update to angular 14 and fix issues
  angular.json
  docs/guides/migrations.md
  e2e/test-universal.sh
  package-lock.json
  package.json
  projects/organization-management/src/app/components/cost-center-buyer-edit-dialog/cost-center-buyer-edit-dialog.component.spec.ts
  projects/organization-management/src/app/components/cost-center-form/cost-center-form.component.spec.ts
  projects/organization-management/src/app/pages/cost-center-create/cost-center-create-page.component.ts
  projects/organization-management/src/app/pages/cost-center-edit/cost-center-edit-page.component.ts
  projects/organization-management/src/app/pages/user-edit-budget/user-edit-budget-page.component.ts
  projects/organization-management/src/app/pages/user-edit-profile/user-edit-profile-page.component.ts
  schematics/tsconfig.json
  scripts/build-pwa.js
  src/app/core/store/core/messages/messages.actions.ts
  src/app/extensions/contact-us/pages/contact/contact-form/contact-form.component.ts
  src/app/extensions/punchout/shared/punchout-user-form/punchout-user-form.component.ts
  src/app/extensions/quickorder/shared/direct-order/direct-order.component.ts
  src/app/extensions/quoting/shared/quote-edit/quote-edit.component.ts
  src/app/extensions/rating/shared/product-review-create-dialog/product-review-create-dialog.component.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.effects.ts
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.spec.ts
  src/app/pages/account-profile-password/account-profile-password/account-profile-password.component.spec.ts
  src/app/pages/account-profile-password/account-profile-password/account-profile-password.component.ts
  src/app/pages/checkout-address/checkout-address-anonymous/checkout-address-anonymous.component.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.spec.ts
  src/app/pages/forgot-password/request-reminder-form/request-reminder-form.component.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.spec.ts
  src/app/shared/components/basket/basket-cost-center-selection/basket-cost-center-selection.component.ts
  src/app/shared/components/basket/basket-order-reference/basket-order-reference.component.spec.ts
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.ts
  src/app/shared/components/checkout/basket-shipping-address-widget/basket-shipping-address-widget.component.ts
  src/app/shared/components/login/login-form/login-form.component.ts
  src/styles/components/footer/footer.scss
  src/styles/global/global.scss
  src/styles/pages/category/filter-row.scss
  tsconfig.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor(schematics): invert noCMSPrefixing option
  docs/guides/migrations.md
  e2e/test-schematics-normal.sh
  schematics/src/cms-component/factory.ts
  schematics/src/cms-component/factory_spec.ts
  schematics/src/cms-component/schema.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: repair cleanup testbed
  scripts/cleanup-testbed.mjs
Due: none

docs: migration note for using 'SSR' varibale instead of platform checks
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

fix: repair jest optimization for Angular 14 ugrade
  jest.config.haste-map.js
  jest.config.js
Due: npx prettier --loglevel warn --write

fixup! fixup! fix: repair jest optimization for Angular 14 ugrade
  jest.config.haste-map.js
  jest.config.js
  jest.dependency-extractor.js
Due: npx prettier --loglevel warn --write

fixup! fix: repair jest optimization for Angular 14 ugrade
  jest.config.haste-map.js
Due: npx prettier --loglevel warn --write

fix: repair jest optimization for Angular 14 upgrade (#1210)
  jest.config.js
  jest.dependency-extractor.js
Due: npx prettier --loglevel warn --write

feat: additional features extending defaults in multi-site
  docs/guides/multi-site-configurations.md
  nginx/templates/multi-channel.conf.tmpl
  src/app/core/configurations/configuration.meta.ts
  src/app/core/store/core/configuration/configuration.reducer.ts
  src/app/core/store/core/configuration/configuration.selectors.spec.ts
  src/app/core/store/core/configuration/configuration.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use double encoded resource ids for user login
  docs/guides/migrations.md
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.spec.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.ts
  projects/organization-management/src/app/services/organization-management-breadcrumb/organization-management-breadcrumb.service.ts
  projects/organization-management/src/app/services/users/users.service.spec.ts
  projects/organization-management/src/app/services/users/users.service.ts
  src/app/core/services/api/api.service.ts
  src/app/core/services/authorization/authorization.service.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/core/utils/url-resource-ids.spec.ts
  src/app/core/utils/url-resource-ids.ts
  src/app/extensions/punchout/services/punchout/punchout.service.ts
  src/app/extensions/quoting/models/quoting/quoting.mapper.spec.ts
  src/app/shared/forms/validators/special-validators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use double encoded resource ids to support special characters in email address as user login (#939, #940)
  docs/guides/migrations.md
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.spec.ts
  projects/organization-management/src/app/services/cost-centers/cost-centers.service.ts
  projects/organization-management/src/app/services/organization-management-breadcrumb/organization-management-breadcrumb.service.ts
  projects/organization-management/src/app/services/users/users.service.spec.ts
  projects/organization-management/src/app/services/users/users.service.ts
  src/app/core/services/api/api.service.ts
  src/app/core/services/authorization/authorization.service.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/core/utils/url-resource-ids.spec.ts
  src/app/core/utils/url-resource-ids.ts
  src/app/extensions/punchout/services/punchout/punchout.service.ts
  src/app/extensions/quoting/models/quoting/quoting.mapper.spec.ts
  src/app/shared/forms/validators/special-validators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: CMS managed footer
  e2e/cypress/integration/pages/footer.module.ts
  src/app/shell/footer/footer/footer.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: migration note for replacing the footer localization key with a CMS include
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

feat: CMS managed footer (#1144, #1166)
  docs/guides/migrations.md
  e2e/cypress/integration/pages/footer.module.ts
  src/app/shell/footer/footer/footer.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(seo): optimized category URLs with full category path (#1163)
  e2e/cypress/integration/pages/shopping/family.page.ts
  e2e/cypress/integration/pages/shopping/product-detail.page.ts
  e2e/cypress/integration/specs/system/rest-error-handling.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/seo-product-detail-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/seo-search-page.b2c.e2e-spec.ts
  e2e/test-universal.sh
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/models/category-view/category-view.model.ts
  src/app/core/routing/category/category.route.spec.ts
  src/app/core/routing/category/category.route.ts
  src/app/core/routing/product/product.route.spec.ts
  src/app/core/routing/product/product.route.ts
  src/app/core/routing/routing.integration.spec.ts
  src/app/core/store/shopping/categories/categories.selectors.spec.ts
  src/app/core/store/shopping/categories/categories.selectors.ts
  src/app/core/store/shopping/products/products.selectors.spec.ts
  src/app/core/store/shopping/products/products.selectors.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/core/utils/link-parser.ts
  src/app/core/utils/routing.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(seo): optimized product URLs with full category path (#1164)
  e2e/cypress/integration/pages/shopping/product-detail.page.ts
  e2e/cypress/integration/specs/system/seo-product-detail-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/seo-search-page.b2c.e2e-spec.ts
  e2e/test-universal.sh
  src/app/core/directives/server-html.directive.spec.ts
  src/app/core/facades/product-context.facade.spec.ts
  src/app/core/models/content-view/content-view.helper.spec.ts
  src/app/core/models/product-view/product-view.model.spec.ts
  src/app/core/models/product-view/product-view.model.ts
  src/app/core/routing/product/product-route.pipe.ts
  src/app/core/routing/product/product.route.spec.ts
  src/app/core/routing/product/product.route.ts
  src/app/core/routing/routing.integration.spec.ts
  src/app/core/store/shopping/products/products.selectors.ts
  src/app/core/utils/link-parser.spec.ts
  src/app/core/utils/link-parser.ts
  src/app/core/utils/routing.ts
  src/app/pages/product/product-page.component.spec.ts
  src/app/pages/product/product-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat(seo): optimized content page URLs with full content page path (#1161)
  src/app/core/models/content-page-tree-view/content-page-tree-view.model.ts
  src/app/core/pipes.module.ts
  src/app/core/routing/content-page/content-page-route.pipe.ts
  src/app/core/routing/content-page/content-page-route.spec.ts
  src/app/core/routing/content-page/content-page.route.ts
  src/app/core/store/content/page-tree/page-tree.selectors.spec.ts
  src/app/core/store/content/pages/pages.effects.spec.ts
  src/app/core/store/content/pages/pages.selectors.spec.ts
  src/app/core/store/content/pages/pages.selectors.ts
  src/app/core/utils/link-parser.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
  src/app/pages/app-last-routing.module.ts
  src/app/pages/app-routing.module.ts
  src/app/pages/content/content-page.module.ts
  src/app/shared/cms/components/content-navigation/content-navigation.component.html
  src/app/shared/cms/components/content-navigation/content-navigation.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs(seo): add chapter for search engine optimized URLs/routes
  docs/concepts/search-engine-optimization.md
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

chore: improve migrations guide - fix typos, commas, etc.
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

fix: static page component needs to load the content page tree for the breadcrumb even if the navigation is not shown (#1215)
  src/app/shared/cms/components/cms-static-page/cms-static-page.component.html
  src/app/shared/cms/components/cms-static-page/cms-static-page.component.spec.ts
  src/app/shared/cms/components/cms-static-page/cms-static-page.component.ts
  src/app/shared/cms/components/content-navigation/content-navigation.component.html
  src/app/shared/cms/components/content-navigation/content-navigation.component.spec.ts
  src/app/shared/cms/components/content-navigation/content-navigation.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: enable additional features extending defaults in multi-site (#1191)
  docs/guides/multi-site-configurations.md
  nginx/templates/multi-channel.conf.tmpl
  src/app/core/configurations/configuration.meta.ts
  src/app/core/store/core/configuration/configuration.reducer.ts
  src/app/core/store/core/configuration/configuration.selectors.spec.ts
  src/app/core/store/core/configuration/configuration.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore(seo): fix problems introduced by the seo URLS rework
  docs/guides/product-context.md
  e2e/cypress/integration/specs/checkout/checkout-cost-center-order.b2b.e2e-spec.ts
  e2e/cypress/integration/specs/system/rest-error-handling.b2c.e2e-spec.ts
  scripts/find-dead-code.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore(seo): fix problems introduced by the seo URLS rework (#1220)
  docs/guides/product-context.md
  e2e/cypress/integration/specs/checkout/checkout-cost-center-order.b2b.e2e-spec.ts
  e2e/cypress/integration/specs/system/rest-error-handling.b2c.e2e-spec.ts
  scripts/find-dead-code.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: fix security vulnerabilities
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

refactor: define type of TemplateRef
  src/app/core/directives/lazy-content.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: module link component has option to lazy load input content or not
  src/app/core/directives.module.ts
  src/app/core/directives/lazy-loading-content.directive.ts
  src/app/pages/account-payment/account-payment-concardis-directdebit/account-payment-concardis-directdebit.component.html
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
  src/app/pages/checkout-receipt/checkout-receipt-order/checkout-receipt-order.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/shared/components/basket/basket-approval-info/basket-approval-info.component.html
  src/app/shared/components/common/modal-dialog-link/modal-dialog-link.component.html
  src/app/shared/components/common/modal-dialog-link/modal-dialog-link.component.ts
  src/app/shared/components/product/product-shipment/product-shipment.component.html
  src/app/shared/components/product/product-shipment/product-shipment.component.ts
  src/app/shared/components/promotion/promotion-details/promotion-details.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
