Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

feat: add image upload
  src/app/extensions/product-advisor/models/product-advisor/product-advisor-image.helper.spec.ts
  src/app/extensions/product-advisor/models/product-advisor/product-advisor-image.helper.ts
  src/app/extensions/product-advisor/models/product-advisor/product-advisor.model.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.scss
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.spec.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-page.component.ts
  src/app/extensions/product-advisor/services/product-advisor/product-advisor.service.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: recommended product list styling
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-results/product-advisor-results.component.html
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-results/product-advisor-results.component.scss
  src/styles/pages/product-advisor/product-advisor.scss
Due: npx prettier --loglevel warn --write

test: fix flaky e2e test
  e2e/cypress/e2e/specs/checkout/basket-custom-fields.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: display the email of an address per default
  docs/guides/migrations.md
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.html
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-recurring-order/account-recurring-order-page.component.html
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/shared/components/address/address/address.component.spec.ts
  src/app/shared/components/address/address/address.component.ts
  src/app/shared/components/basket/basket-address-summary/basket-address-summary.component.html
  src/app/shared/components/checkout/basket-invoice-address-widget/basket-invoice-address-widget.component.html
  src/app/shared/components/order/order-list/order-list.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove required check from email validator
  docs/guides/migrations.md
  src/app/shared/forms/validators/special-validators.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add invoice/shipping email to address forms
  docs/guides/field-library.md
  docs/guides/migrations.md
  e2e/cypress/e2e/pages/account/addresses.page.ts
  e2e/cypress/e2e/specs/account/addresses-crud.b2b.e2e-spec.ts
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.html
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.spec.ts
  src/app/pages/checkout-receipt/checkout-receipt-order/checkout-receipt-order.component.html
  src/app/shared/formly-address-forms/components/formly-address-form/formly-address-form.component.spec.ts
  src/app/shared/formly-address-forms/components/formly-address-form/formly-address-form.component.ts
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.html
  src/app/shared/formly-address-forms/configurations/address-form-configuration.provider.ts
  src/app/shared/formly-address-forms/configurations/address-form.configuration.ts
  src/app/shared/formly-address-forms/configurations/de/address-form-de.configuration.ts
  src/app/shared/formly-address-forms/configurations/default/address-form-default.configuration.ts
  src/app/shared/formly-address-forms/configurations/fr/address-form-fr.configuration.ts
  src/app/shared/formly-address-forms/configurations/gb/address-form-gb.configuration.ts
  src/app/shared/formly-address-forms/configurations/us/address-form-us.configuration.ts
  src/app/shared/formly/field-library/configurations/email.configuration.ts
  src/app/shared/formly/field-library/field-library.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: dead code
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.spec.ts
  src/app/extensions/product-advisor/pages/product-advisor/product-advisor-chat/product-advisor-chat.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: improve copilot instructions
  .github/copilot-instructions.md
  .github/instructions/commit-style.instructions.md
  .github/instructions/migration-notes.instructions.md
  CONTRIBUTING.md
Due: npx prettier --loglevel warn --write

fix: use function expressions for Formly fields blocked by default CSP
  docs/guides/formly.md
  docs/guides/migrations.md
  docs/guides/security-headers.md
  src/app/pages/basket/basket-order-recurrence-edit/basket-order-recurrence-edit.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: prevent error in basket custom fields when the basket is reset
  src/app/shared/components/basket/basket-custom-fields/basket-custom-fields.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: resolve test findings (duplicate products in results, generic error message)
  src/app/extensions/copilot-embedded/models/copilot-embedded-product/copilot-embedded-product.helper.spec.ts
  src/app/extensions/copilot-embedded/models/copilot-embedded-product/copilot-embedded-product.helper.ts
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-chat/copilot-embedded-chat.component.html
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-chat/copilot-embedded-chat.component.spec.ts
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-page.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix(SSR): report readiness only when SSR process is online
  src/ssr/server-scripts/readinessprobe.js
Due: npx prettier --loglevel warn --write

feat(Hybrid Approach): unify/remove usage of `SSR_HYBRID_BACKEND` and use `ICM_BASE_URL_SSR` instead
  docs/concepts/hybrid-approach.md
  docs/guides/migrations.md
  docs/guides/ssr-startup.md
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: adapt documentation and Helm chart examples to PWA Helm Chart 1.0.0 changes
  docs/concepts/hybrid-approach.md
  docs/concepts/pwa-building-blocks.md
  docs/guides/address-doctor.md
  docs/guides/authentication_co_browse.md
  docs/guides/authentication_punchout.md
  docs/guides/authentication_sso.md
  docs/guides/copilot.md
  docs/guides/getting-started.md
  docs/guides/google-tag-manager.md
  docs/guides/migrations.md
  docs/guides/nginx-startup.md
  docs/guides/pci-dss-4.md
  docs/guides/security-headers.md
  docs/guides/sparque-ai.md
  docs/guides/ssr-startup.md
Due: npx prettier --loglevel warn --write

chore: add agent skills for code review, bug diagnosis, research, merge conflicts and agent docs
  .github/skills/code-review/SKILL.md
  .github/skills/diagnosing-bugs/SKILL.md
  .github/skills/diagnosing-bugs/scripts/hitl-loop.template.sh
  .github/skills/research/SKILL.md
  .github/skills/resolving-merge-conflicts/SKILL.md
  .github/skills/writing-for-agents/SKILL-MECHANICS.md
  .github/skills/writing-for-agents/SKILL.md
Due: npx prettier --loglevel warn --write

feat: small styling fixes
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-chat/copilot-embedded-chat.component.scss
  src/styles/components/header/header.scss
Due: none

deps: update Formly to version 8 (#2198)
  docs/guides/migrations.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/shared/components/custom-fields/custom-fields-formly/custom-fields-formly.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: harmonize e-mail form labels
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: add back to chat for products tab (mobile)
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-page.component.html
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-page.component.ts
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-results/copilot-embedded-results.component.html
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-results/copilot-embedded-results.component.scss
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-results/copilot-embedded-results.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: dead code
  src/app/extensions/copilot-embedded/models/copilot-embedded/copilot-embedded.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add page title
  src/app/extensions/copilot-embedded/pages/copilot-embedded-routing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: check for feature toggle in tool calls
  src/app/extensions/copilot-embedded/facades/copilot-embedded-tool-call.facade.spec.ts
  src/app/extensions/copilot-embedded/facades/copilot-embedded-tool-call.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: update feature documentation
  docs/guides/copilot-embedded.md
Due: npx prettier --loglevel warn --write

fix: flaky e2e test
  e2e/cypress/e2e/specs/checkout/basket-custom-fields.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: use function expressions for Formly fields blocked by default CSP (#2198)
  docs/guides/formly.md
  docs/guides/migrations.md
  docs/guides/security-headers.md
  src/app/pages/basket/basket-order-recurrence-edit/basket-order-recurrence-edit.component.ts
  src/app/shared/cms/components/cms-product-list-rest/cms-product-list-rest.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: improve GitHub Copilot instructions
  .github/copilot-instructions.md
  .github/instructions/commit-style.instructions.md
  .github/instructions/migration-notes.instructions.md
  CONTRIBUTING.md
Due: npx prettier --loglevel warn --write

feat: small styling fixes
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-chat/copilot-embedded-chat.component.scss
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-results/copilot-embedded-results.component.scss
Due: none

fix: materialize component resource overrides as TypeScript replacements
  schematics/src/helpers/override/factory.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: support custom themes across esbuild tooling
  .dockerignore
  .gitignore
  angular.json
  builders/builders.json
  builders/package.json
  builders/scripts/copy-dist-files.mjs
  builders/src/application.ts
  builders/src/dev-server.ts
  builders/src/theme-configuration.ts
  builders/src/theme-overrides.ts
  builders/tsconfig.json
  eslint.config.mjs
  package-lock.json
  package.json
  schematics/customization/add/index.js
  schematics/package.json
  schematics/src/helpers/override/factory.ts
  schematics/src/helpers/override/factory_spec.ts
  schematics/src/helpers/override/schema.json
  scripts/build-multi-pwa.js
  scripts/build-pwa.js
  scripts/clean-up-localizations.js
  scripts/dead-files.js
  scripts/find-dead-code.ts
  scripts/theme-configuration.test.js
  templates/esbuild/esbuild-define-constants.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: include custom builders in production image
  Dockerfile
Due: none

feat: small styling fixes
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-chat/copilot-embedded-chat.component.html
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-chat/copilot-embedded-chat.component.scss
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-chat/copilot-embedded-chat.component.ts
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-header/copilot-embedded-header.component.html
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-header/copilot-embedded-header.component.scss
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-header/copilot-embedded-header.component.ts
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-page.component.html
  src/styles/pages/copilot-embedded/copilot-embedded.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: update dependencies + fix vulnerabilities
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

feat: styling fixes
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-chat/copilot-embedded-chat.component.html
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-chat/copilot-embedded-chat.component.scss
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-header/copilot-embedded-header.component.html
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-header/copilot-embedded-header.component.scss
  src/app/extensions/copilot-embedded/pages/copilot-embedded/copilot-embedded-results/copilot-embedded-results.component.html
Due: npx prettier --loglevel warn --write
