Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

refactor: implement ngrx debug actions and state logger as reusable meta reducers (#167)
  src/app/core/store/checkout/checkout-store.spec.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/core/utils/dev/ngrx-testing.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove action for selecting content page and do it via router-store (#167)
  src/app/core/store/content/pages/pages.actions.ts
  src/app/core/store/content/pages/pages.effects.spec.ts
  src/app/core/store/content/pages/pages.effects.ts
  src/app/core/store/content/pages/pages.reducer.ts
  src/app/core/store/content/pages/pages.selectors.spec.ts
  src/app/core/store/content/pages/pages.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add note about router-store replacement to migration guide
  docs/migrations.md
Due: npx prettier --loglevel warn --write

refactor: ngrx state transfer as app initializer
  src/app/core/configurations/ngrx-state-transfer.ts
  src/app/core/state-management.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: add snippet for providing mocks with ts-mockito
  .vscode/testing.code-snippets
Due: none

test: extract search-box as cypress page object
  e2e/cypress/integration/pages/header.module.ts
  e2e/cypress/integration/pages/shopping/search-box.module.ts
  e2e/cypress/integration/specs/shopping/product-category-context-search.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/search-products.b2b.e2e-spec.ts
  e2e/cypress/integration/specs/shopping/search-products.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/rest-error-handling.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: cypress test for search-box handling
  e2e/cypress/integration/pages/shopping/search-result.page.ts
  e2e/cypress/integration/specs/shopping/search-box.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: make seo module work for router-store (#167)
  docs/search-engine-optimization.md
  src/app/core/models/category/category.interface.ts
  src/app/core/models/category/category.mapper.ts
  src/app/core/models/category/category.model.ts
  src/app/core/models/product/product.interface.ts
  src/app/core/models/product/product.mapper.ts
  src/app/core/models/product/product.model.ts
  src/app/core/models/seo-attribute/seo-attribute.model.ts
  src/app/core/models/seo-attributes/seo-attributes.interface.ts
  src/app/core/models/seo-attributes/seo-attributes.mapper.spec.ts
  src/app/core/models/seo-attributes/seo-attributes.mapper.ts
  src/app/core/models/seo-attributes/seo-attributes.model.ts
  src/app/extensions/seo/guards/meta.guard.ts
  src/app/extensions/seo/seo.module.ts
  src/app/extensions/seo/store/seo/index.ts
  src/app/extensions/seo/store/seo/seo.actions.ts
  src/app/extensions/seo/store/seo/seo.effects.spec.ts
  src/app/extensions/seo/store/seo/seo.effects.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: upgrade to ngrx 9
  package-lock.json
  package.json
  src/app/core/store/addresses/addresses.reducer.ts
  src/app/core/store/countries/countries.reducer.ts
  src/app/core/store/orders/orders.reducer.ts
  src/app/extensions/quoting/store/quote-request/quote-request.reducer.ts
  src/app/extensions/quoting/store/quote/quote.reducer.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.reducer.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: extract configuration parameters with meta reducer instead of effect (#167)
  src/app/app.server.module.ts
  src/app/core/configurations/configuration.meta.ts
  src/app/core/guards/auth.guard.ts
  src/app/core/guards/configuration.guard.spec.ts
  src/app/core/guards/configuration.guard.ts
  src/app/core/store/configuration/configuration.effects.spec.ts
  src/app/core/store/configuration/configuration.effects.ts
  src/app/core/store/configuration/configuration.integration.spec.ts
  src/app/core/store/core-store.module.ts
  src/app/core/store/restore/restore.effects.spec.ts
  src/app/core/store/restore/restore.effects.ts
  src/app/core/store/user/user.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove action for selecting search term, cleanup (#167)
  src/app/core/facades/shopping.facade.ts
  src/app/core/store/shopping/search/search.actions.ts
  src/app/core/store/shopping/search/search.effects.spec.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/core/store/shopping/search/search.reducer.ts
  src/app/core/store/shopping/search/search.selectors.spec.ts
  src/app/core/store/shopping/search/search.selectors.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/pages/error/error/error.component.html
  src/app/pages/search/search-no-result/search-no-result.component.html
  src/app/pages/search/search-page.component.spec.ts
  src/app/shell/header/header-default/header-default.component.html
  src/app/shell/header/search-box/search-box.component.html
  src/app/shell/header/search-box/search-box.component.spec.ts
  src/app/shell/header/search-box/search-box.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: set correct device type on client and server (#167)
  src/app/core/configurations/ngrx-state-transfer.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  src/app/core/store/user/user.reducer.ts
  src/app/core/store/viewconf/viewconf.effects.ts
  src/app/core/store/viewconf/viewconf.reducer.ts
  src/app/core/store/viewconf/viewconf.selectors.ts
  src/app/core/utils/functions.spec.ts
  src/app/core/utils/functions.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: remove state handling checkoutStep and access it via router-store (#167)
  src/app/core/facades/checkout.facade.ts
  src/app/core/store/checkout/checkout-store.module.ts
  src/app/core/store/checkout/checkout-store.ts
  src/app/core/store/checkout/viewconf/index.ts
  src/app/core/store/checkout/viewconf/viewconf.actions.ts
  src/app/core/store/checkout/viewconf/viewconf.effects.ts
  src/app/core/store/checkout/viewconf/viewconf.integration.spec.ts
  src/app/core/store/checkout/viewconf/viewconf.reducer.ts
  src/app/core/store/checkout/viewconf/viewconf.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Revert "fix: fix loading animation display for longer pages (#166) (#170)"
  src/app/shared/components/common/loading/loading.component.scss
Due: none

validate if products exist
  src/app/extensions/quickorder/pages/quickorder/__snapshots__/quickorder-page.component.spec.ts.snap
Due: none

feat: validate sku while typing in
  src/app/core/facades/shopping.facade.ts
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.html
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

update jest snapshot
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
Due: none

feat: allow csv with semicolon as split character
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

validate if products exist
  src/app/core/facades/shopping.facade.ts
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.html
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: simplify CsvStatusMessages typing
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.html
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

hide quickorder in the sticky header
  src/app/extensions/quickorder/shared/header/header-quickorder/header-quickorder.component.html
  src/app/shell/header/header-default/header-default.component.html
  src/styles/components/header/header-sticky.scss
Due: npx prettier --loglevel warn --write

move quickorder routing to app routing with feature guard
  src/app/app.module.ts
  src/app/pages/app-routing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

quickorder - added comment for search suggestion
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

quick order reviewed
  src/app/core/facades/shopping.facade.ts
  src/app/core/icon.module.ts
  src/app/core/store/checkout/basket/basket-items.effects.ts
  src/app/extensions/quickorder/models/quickorder-line.model.ts
  src/app/extensions/quickorder/models/quickorder-status-messages.helper.ts
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.html
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.spec.ts
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.ts
  src/app/extensions/quickorder/shared/header/header-quickorder/header-quickorder.component.html
  src/app/shared/shared.module.ts
  src/environments/environment.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

quickorder - environment will be replaced with original
  src/app/app.module.ts
  src/app/core/facades/shopping.facade.ts
  src/app/extensions/quickorder/exports/quickorder-exports.module.ts
  src/app/extensions/quickorder/exports/quickorder/lazy-header-quickorder/lazy-header-quickorder.component.html
  src/app/extensions/quickorder/exports/quickorder/lazy-header-quickorder/lazy-header-quickorder.component.ts
  src/app/extensions/quickorder/models/quickorder-line.model.ts
  src/app/extensions/quickorder/models/quickorder-status-messages.helper.ts
  src/app/extensions/quickorder/pages/quickorder-routing.module.ts
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.html
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.spec.ts
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.ts
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.module.ts
  src/app/extensions/quickorder/quickorder.module.ts
  src/app/extensions/quickorder/shared/header/header-quickorder/header-quickorder.component.html
  src/app/extensions/quickorder/shared/header/header-quickorder/header-quickorder.component.spec.ts
  src/app/extensions/quickorder/shared/header/header-quickorder/header-quickorder.component.ts
  src/app/shared/shared.module.ts
  src/app/shell/header/header-default/header-default.component.html
  src/app/shell/shell.module.ts
  src/assets/i18n/en_US.json
  src/environments/environment.model.ts
  src/environments/environment.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

quickorder with some tests
  src/app/extensions/quickorder/pages/quickorder/__snapshots__/quickorder-page.component.spec.ts.snap
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.spec.ts
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.ts
  src/app/extensions/quickorder/shared/header/header-quickorder/header-quickorder.component.html
  src/app/extensions/quickorder/shared/header/header-quickorder/header-quickorder.component.spec.ts
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
  src/app/shell/header/header-default/header-default.component.html
  src/app/shell/header/header-default/header-default.component.spec.ts
  src/environments/environment.ts
  src/styles/components/header/search-container.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: removed obsolete snapshot file
  src/app/extensions/quickorder/pages/quickorder/__snapshots__/quickorder-page.component.spec.ts.snap
Due: none

refactor: csv data mapping functional, removed QuickOrderLine type
  src/app/extensions/quickorder/models/quickorder-line.model.ts
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.html
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: revert move quickorder routing to app routing with feature guard
  src/app/app.module.ts
  src/app/pages/app-routing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add localization values for quick order
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

test: add cypress test for quickorder
  .github/workflows/test.yml
  .vscode/settings.json
  e2e/cypress/integration/pages/header.module.ts
  e2e/cypress/integration/pages/quickorder/quickorder.page.ts
  e2e/cypress/integration/specs/quickorder/quickorder-handling.b2b.e2e-spec.ts
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add quickorder functionality as configurable feature (#177)
  .github/workflows/test.yml
  .vscode/settings.json
  e2e/cypress/integration/pages/header.module.ts
  e2e/cypress/integration/pages/quickorder/quickorder.page.ts
  e2e/cypress/integration/specs/quickorder/quickorder-handling.b2b.e2e-spec.ts
  src/app/app.module.ts
  src/app/core/icon.module.ts
  src/app/core/store/checkout/basket/basket-items.effects.ts
  src/app/extensions/quickorder/exports/quickorder-exports.module.ts
  src/app/extensions/quickorder/exports/quickorder/lazy-header-quickorder/lazy-header-quickorder.component.html
  src/app/extensions/quickorder/exports/quickorder/lazy-header-quickorder/lazy-header-quickorder.component.ts
  src/app/extensions/quickorder/pages/quickorder-routing.module.ts
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.html
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.spec.ts
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.component.ts
  src/app/extensions/quickorder/pages/quickorder/quickorder-page.module.ts
  src/app/extensions/quickorder/quickorder.module.ts
  src/app/extensions/quickorder/shared/header/header-quickorder/header-quickorder.component.html
  src/app/extensions/quickorder/shared/header/header-quickorder/header-quickorder.component.spec.ts
  src/app/extensions/quickorder/shared/header/header-quickorder/header-quickorder.component.ts
  src/app/shared/shared.module.ts
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
  src/app/shell/header/header-default/header-default.component.html
  src/app/shell/header/header-default/header-default.component.spec.ts
  src/app/shell/shell.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/environments/environment.model.ts
  src/styles/components/header/header-sticky.scss
  src/styles/components/header/search-container.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: move deviceType to configuration state
  src/app/core/facades/app.facade.ts
  src/app/core/guards/login.guard.ts
  src/app/core/store/configuration/configuration.effects.spec.ts
  src/app/core/store/configuration/configuration.effects.ts
  src/app/core/store/configuration/configuration.integration.spec.ts
  src/app/core/store/configuration/configuration.reducer.ts
  src/app/core/store/configuration/configuration.selectors.spec.ts
  src/app/core/store/configuration/configuration.selectors.ts
  src/app/core/store/viewconf/viewconf.actions.ts
  src/app/core/store/viewconf/viewconf.effects.ts
  src/app/core/store/viewconf/viewconf.integration.spec.ts
  src/app/core/store/viewconf/viewconf.reducer.ts
  src/app/core/store/viewconf/viewconf.selectors.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: detect device type in nginx and cache SSR responses individually (#171, #188)
  e2e/test-universal.sh
  nginx/Dockerfile
  nginx/channel.conf.tmpl
  nginx/device.conf
  nginx/nginx.conf
  src/app/core/configurations/configuration.meta.ts
  src/app/core/store/configuration/configuration.reducer.ts
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
  src/app/shell/header/header-default/header-default.component.html
  src/app/shell/header/header-default/header-default.component.spec.ts
  src/environments/environment.model.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  templates/docker-compose.yml
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: activate service worker for demo branch
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

build: activate quickorder for demo deployments
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

refactor: rename device type 'pc' to 'desktop'
  e2e/test-universal.sh
  nginx/device.conf
  src/app/core/models/viewtype/viewtype.types.ts
  src/app/core/store/configuration/configuration.effects.ts
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
  src/app/shell/header/header-default/header-default.component.spec.ts
  src/app/shell/header/header-default/header-default.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: docker login right before push
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

chore: add template for loading screen
  src/app/pages/app-routing.module.ts
  src/app/pages/loading/loading-page.component.html
  src/app/pages/loading/loading-page.component.spec.ts
  src/app/pages/loading/loading-page.component.ts
  src/app/pages/loading/loading-page.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
