Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: enable eslint commit hook for html files
  package.json
Due: npx prettier --loglevel warn --write

refactor: fix translations in localization files
  e2e/cypress/integration/specs/system/seo-home-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/seo-product-detail-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/seo-search-page.b2c.e2e-spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ci: enable eslint commit hook for html files (#1016)
  package.json
Due: npx prettier --loglevel warn --write

fix: trim payment parameter form values (#1013)
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: export entire ComponentsModule
  src/app/shared/formly/formly.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: fix translations in localization files (#1015)
  e2e/cypress/integration/specs/system/seo-home-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/seo-product-detail-page.b2c.e2e-spec.ts
  e2e/cypress/integration/specs/system/seo-search-page.b2c.e2e-spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: generated new selfsigned SSL cert for localhost (#1012)
  dist/server.crt
  dist/server.key
Due: none

refactor: formly refactor & module cleanup (#1006)
  src/app/extensions/store-locator/pages/store-locator/store-locator-page.component.spec.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.ts
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.html
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.ts
  src/app/pages/registration/registration-page.component.spec.ts
  src/app/pages/registration/registration-page.component.ts
  src/app/pages/registration/registration-page.guard.ts
  src/app/pages/registration/registration-page.module.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.spec.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/formly-address-forms/components/formly-address-form/formly-address-form.component.ts
  src/app/shared/formly-address-forms/components/formly-customer-address-form/formly-customer-address-form.component.ts
  src/app/shared/formly-address-forms/configurations/address-form-configuration.provider.ts
  src/app/shared/formly-address-forms/configurations/address-form.configuration.ts
  src/app/shared/formly/components/components.module.ts
  src/app/shared/formly/extensions/extensions.module.ts
  src/app/shared/formly/formly.module.ts
  src/app/shared/formly/types/types.module.ts
  src/app/shared/formly/wrappers/wrappers.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:adding new component for payone ideal.
  src/app/pages/checkout-payment/checkout-payment-page.module.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-ideal/payment-payone-ideal.component.html
  src/app/pages/checkout-payment/payment-payone-ideal/payment-payone-ideal.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-ideal/payment-payone-ideal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: refactoring code for payone ideal component.
  src/app/pages/checkout-payment/payment-payone-ideal/payment-payone-ideal.component.html
  src/app/pages/checkout-payment/payment-payone-ideal/payment-payone-ideal.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-ideal/payment-payone-ideal.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: refactoring code for bank group detail.
  src/app/pages/checkout-payment/payment-payone-bank-group-detail/payment-payone-bank-group-detail.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: improvised localization for payone ideal.
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

Revert "feat: refactoring code for bank group detail."
  src/app/pages/checkout-payment/payment-payone-bank-group-detail/payment-payone-bank-group-detail.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Revert "feat:adding component for payone ideal detail."
  src/app/pages/checkout-payment/checkout-payment-page.module.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-ideal-detail/payment-payone-ideal-detail.component.html
  src/app/pages/checkout-payment/payment-payone-ideal-detail/payment-payone-ideal-detail.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-ideal-detail/payment-payone-ideal-detail.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:changing the DOM events name.
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/payment-payone-ideal/payment-payone-ideal.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-ideal/payment-payone-ideal.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:component to show bank group detail.
  src/app/pages/checkout-payment/checkout-payment-page.module.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-bank-group-detail/payment-payone-bank-group-detail.component.html
  src/app/pages/checkout-payment/payment-payone-bank-group-detail/payment-payone-bank-group-detail.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-bank-group-detail/payment-payone-bank-group-detail.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Revert "feat:component to show bank group detail."
  src/app/pages/checkout-payment/checkout-payment-page.module.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-bank-group-detail/payment-payone-bank-group-detail.component.html
  src/app/pages/checkout-payment/payment-payone-bank-group-detail/payment-payone-bank-group-detail.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-bank-group-detail/payment-payone-bank-group-detail.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:adding component for payone ideal detail.
  src/app/pages/checkout-payment/checkout-payment-page.module.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-ideal-detail/payment-payone-ideal-detail.component.html
  src/app/pages/checkout-payment/payment-payone-ideal-detail/payment-payone-ideal-detail.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-ideal-detail/payment-payone-ideal-detail.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat:adding localization for Payone ideal.
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

refactor: remove payone iDeal payment components and map data in the payment mapper to render bank groups with standard functionality
  src/app/core/models/payment-method/payment-method.mapper.ts
  src/app/pages/checkout-payment/checkout-payment-page.module.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-ideal/payment-payone-ideal.component.html
  src/app/pages/checkout-payment/payment-payone-ideal/payment-payone-ideal.component.spec.ts
  src/app/pages/checkout-payment/payment-payone-ideal/payment-payone-ideal.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ci: add require formly documentation rule
  .eslintrc.json
  eslint-rules/src/index.ts
  eslint-rules/src/rules/require-formly-code-documentation.ts
  eslint-rules/tests/require-formly-code-documentation.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add missing docs
  src/app/shared/formly/types/plain-text-field/plain-text-field.component.ts
  src/app/shared/formly/types/text-input-field/text-input-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: disable rule in testing module
  src/app/shared/formly/dev/testing/formly-testing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: add docs to all formly components
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.ts
  src/app/pages/checkout-shipping/formly/shipping-radio-wrapper/shipping-radio-wrapper.component.ts
  src/app/pages/registration/formly/disable-prefilled.extension.ts
  src/app/pages/registration/formly/registration-address-field/registration-address-field.component.ts
  src/app/pages/registration/formly/registration-heading-field/registration-heading-field.component.ts
  src/app/pages/registration/formly/registration-tac-field/registration-tac-field.component.ts
  src/app/shared/formly/dev/testing/formly-testing-example/formly-testing-example.component.ts
  src/app/shared/formly/dev/testing/formly-testing-fieldgroup-example/formly-testing-fieldgroup-example.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: use new destroy subject signature
  docs/concepts/localization.md
  docs/guides/angular-component-development.md
Due: npx prettier --loglevel warn --write

chore(schematics): use eslint no-explicit-any in lazy component
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
Due: none

chore(schematics): code adaptions for subscribe deprecation in schematics
  schematics/src/cms-component/factory_spec.ts
  schematics/src/component/factory_spec.ts
  schematics/src/extension/factory_spec.ts
  schematics/src/store/factory_spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: update propagation of parent context if child context is removed
  src/app/core/directives/product-context.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: remove unused exports in main.server
  src/main.server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add new property 'quote' for line item mapper
  src/app/core/models/line-item/line-item.interface.ts
  src/app/core/models/line-item/line-item.mapper.ts
  src/app/core/models/line-item/line-item.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add note about rxjs-fixers-morph to migrations.md
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

fix: undefined in getCommentsBefore
  eslint-rules/src/rules/require-formly-code-documentation.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: post 2.0 upgrade adaptions (#1020)
  docs/concepts/localization.md
  docs/guides/angular-component-development.md
  docs/guides/migrations.md
  schematics/src/cms-component/factory_spec.ts
  schematics/src/component/factory_spec.ts
  schematics/src/extension/factory_spec.ts
  schematics/src/lazy-component/files/__name@dasherize__/__name@dasherize__.component.ts.template
  schematics/src/store/factory_spec.ts
  src/main.server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ci: add require-formly-code-documentation rule (#1019)
  .eslintrc.json
  eslint-rules/src/index.ts
  eslint-rules/src/rules/require-formly-code-documentation.ts
  eslint-rules/tests/require-formly-code-documentation.spec.ts
  src/app/pages/checkout-review/formly/checkout-review-tac-field/checkout-review-tac-field.component.ts
  src/app/pages/checkout-shipping/formly/shipping-radio-wrapper/shipping-radio-wrapper.component.ts
  src/app/pages/registration/formly/disable-prefilled.extension.ts
  src/app/pages/registration/formly/registration-address-field/registration-address-field.component.ts
  src/app/pages/registration/formly/registration-heading-field/registration-heading-field.component.ts
  src/app/pages/registration/formly/registration-tac-field/registration-tac-field.component.ts
  src/app/shared/formly/dev/testing/formly-testing-example/formly-testing-example.component.ts
  src/app/shared/formly/dev/testing/formly-testing-fieldgroup-example/formly-testing-fieldgroup-example.component.ts
  src/app/shared/formly/dev/testing/formly-testing.module.ts
  src/app/shared/formly/types/plain-text-field/plain-text-field.component.ts
  src/app/shared/formly/types/text-input-field/text-input-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: lint-hard with auto restore of configs
  .dockerignore
  .github/workflows/development.yml
  .gitignore
  package.json
  scripts/eslint-hard.js
Due: npx prettier --loglevel warn --write

chore: script for update-dockerignore
  .dockerignore
  .github/workflows/development.yml
  package.json
  scripts/update-dockerignore.js
Due: npx prettier --loglevel warn --write

refactor: product listing calls will be executed although the current state is stored
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: Line items grouped by quote in the cart
  src/app/extensions/quoting/exports/quoting-exports.module.ts
  src/app/extensions/quoting/facades/quoting.facade.ts
  src/app/extensions/quoting/quoting.module.ts
  src/app/extensions/quoting/shared/quoting-basket-line-items/quoting-basket-line-items.component.html
  src/app/extensions/quoting/shared/quoting-basket-line-items/quoting-basket-line-items.component.spec.ts
  src/app/extensions/quoting/shared/quoting-basket-line-items/quoting-basket-line-items.component.ts
  src/app/pages/basket/shopping-basket/shopping-basket.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: tests
  src/app/core/store/shopping/shopping-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: make jest max workers configurable
  jest.config.js
Due: npx prettier --loglevel warn --write

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
