Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce template option 'inputClass' to set css classes at input/select/textarea tags in formly components
  docs/guides/formly.md
  src/app/extensions/order-templates/shared/select-order-template-form/select-order-template-form.component.ts
  src/app/extensions/wishlists/shared/select-wishlist-form/select-wishlist-form.component.ts
  src/app/shared/formly/types/checkbox-field/checkbox-field.component.html
  src/app/shared/formly/types/radio-field/radio-field.component.html
  src/app/shared/formly/types/select-field/select-field.component.html
  src/app/shared/formly/types/text-input-field/text-input-field.component.html
  src/app/shared/formly/types/textarea-field/textarea-field.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce formly field plain-text-field
  docs/guides/formly.md
  src/app/shared/formly/dev/testing/formly-testing.module.ts
  src/app/shared/formly/formly.module.ts
  src/app/shared/formly/types/plain-text-field/plain-text-field.component.html
  src/app/shared/formly/types/plain-text-field/plain-text-field.component.spec.ts
  src/app/shared/formly/types/plain-text-field/plain-text-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: set accent color for inputs
  src/styles/global/forms/forms.scss
  src/styles/themes/blue/variables.scss
  src/styles/themes/default/variables.scss
Due: none

test: fieldset dummy works with nested configs
  src/app/shared/formly/dev/testing/formly-testing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: formly - data type of the input addon text extended by Observable<string>
  docs/guides/formly.md
  src/app/shared/formly/wrappers/input-addon-wrapper/input-addon-wrapper.component.html
  src/app/shared/formly/wrappers/input-addon-wrapper/input-addon-wrapper.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 1.4.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

chore: release 1.4.0 preparation (#946)
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix: add quote to cart in case no cart exists
  src/app/extensions/quoting/services/quoting/quoting.service.spec.ts
  src/app/extensions/quoting/services/quoting/quoting.service.ts
  src/app/extensions/quoting/store/quoting/quoting.effects.spec.ts
  src/app/extensions/quoting/store/quoting/quoting.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

temporary migration file
  migration.txt
Due: none

Update migrations.md
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

update docs
  docs/concepts/project-structure.md
  docs/guides/angular-component-development.md
  docs/guides/continuous-integration.md
  docs/guides/customizations.md
  docs/guides/development.md
  docs/guides/eslint.md
  docs/guides/multiple-themes.md
Due: npx prettier --loglevel warn --write

eslint configuration
  .eslintignore
  .eslintrc.json
  e2e/cypress/.eslintrc.json
  schematics/.eslintrc.json
Due: npx prettier --loglevel warn --write

switch to eslint
  .devcontainer/devcontainer.json
  .dockerignore
  .github/workflows/development.yml
  .gitignore
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  Dockerfile
  angular.json
  package-lock.json
  package.json
  reports/.gitignore
  schematics/customization/add/index.js
  schematics/package.json
  schematics/src/utils/lint-fix.ts
  scripts/eslint-hard.js
  scripts/tslint-hard.js
  tsconfig.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

use and fix: deprecation rule
  .eslintrc.json
  package-lock.json
  package.json
  src/app/shared/forms/components/checkbox/checkbox.component.spec.ts
  src/app/shared/forms/components/checkbox/checkbox.component.ts
  src/app/shared/forms/components/input-birthday/input-birthday.component.spec.ts
  src/app/shared/forms/components/input-birthday/input-birthday.component.ts
  src/app/shared/forms/components/input/input.component.spec.ts
  src/app/shared/forms/components/input/input.component.ts
  src/app/shared/forms/components/select-address/select-address.component.spec.ts
  src/app/shared/forms/components/select-address/select-address.component.ts
  src/app/shared/forms/components/select-country/select-country.component.spec.ts
  src/app/shared/forms/components/select-country/select-country.component.ts
  src/app/shared/forms/components/select-region/select-region.component.spec.ts
  src/app/shared/forms/components/select-region/select-region.component.ts
  src/app/shared/forms/components/select-title/select-title.component.spec.ts
  src/app/shared/forms/components/select-title/select-title.component.ts
  src/app/shared/forms/components/select/select.component.spec.ts
  src/app/shared/forms/components/select/select.component.ts
  src/app/shared/forms/components/textarea/textarea.component.spec.ts
  src/app/shared/forms/components/textarea/textarea.component.ts
  src/app/shared/forms/forms.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: no-var-before-return
  .eslintrc.json
  eslint-rules/src/index.ts
  eslint-rules/src/rules/no-var-before-return.ts
  eslint-rules/tests/no-var-before-return.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

update: package.lock.json
  package-lock.json
Due: npx prettier --loglevel warn --write

refactor: add fixer, use ReturnStatement as rule trigger
  eslint-rules/src/rules/no-var-before-return.ts
  eslint-rules/tests/no-var-before-return.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add test for component style override + placeholder replacement
  angular.json
  e2e/test-schematics-customization.sh
  src/styles/themes/placeholder/style.scss
  templates/webpack/webpack.custom.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: feature toggle (with errors)
  src/app/core/directives/feature-toggle.directive.ts
  src/app/core/directives/not-feature-toggle.directive.ts
  src/app/core/feature-toggle.module.ts
  src/app/core/pipes/feature-toggle.pipe.ts
  src/app/core/services/registration-form-configuration/registration-form-configuration.service.spec.ts
  src/app/core/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/core/store/customer/sso-registration/sso-registration.effects.ts
  src/app/core/store/shopping/recently/recently.effects.ts
  src/app/core/utils/feature-toggle/feature-toggle.service.spec.ts
  src/app/core/utils/feature-toggle/feature-toggle.service.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.effects.ts
  src/app/extensions/tracking/store/tracking-config/tracking-config.effects.ts
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.spec.ts
  src/app/pages/registration/registration-page.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use loc to specify context location
  eslint-rules/src/rules/no-var-before-return.ts
  eslint-rules/tests/no-var-before-return.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: query-params should not duplicate at rewrite (#945)
  nginx/templates/multi-channel.conf.tmpl
Due: none

fixed documentation glitch
  docs/guides/multi-site-configurations.md
Due: npx prettier --loglevel warn --write

some refactoring
  src/app/core/directives/feature-toggle.directive.spec.ts
  src/app/core/directives/feature-toggle.directive.ts
  src/app/core/directives/not-feature-toggle.directive.ts
  src/app/core/feature-toggle.module.ts
  src/app/core/guards/feature-toggle.guard.ts
  src/app/core/store/customer/sso-registration/sso-registration.effects.ts
  src/app/core/store/shopping/recently/recently.effects.ts
  src/app/core/utils/feature-toggle/feature-toggle.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

extend feature toggle directive test
  src/app/core/directives/feature-toggle.directive.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor pipe
  src/app/core/pipes/feature-toggle.pipe.spec.ts
  src/app/core/pipes/feature-toggle.pipe.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

remove FeatureToggleService mocks
  src/app/core/services/registration-form-configuration/registration-form-configuration.service.spec.ts
  src/app/pages/checkout-address/formly/components/checkout-address-anonymous-form/checkout-address-anonymous-form.component.spec.ts
  src/app/pages/registration/registration-page.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

provide synchronous and asynchronous methods
  src/app/core/directives/feature-toggle.directive.ts
  src/app/core/directives/not-feature-toggle.directive.ts
  src/app/core/feature-toggle.module.ts
  src/app/core/guards/feature-toggle.guard.ts
  src/app/core/pipes/feature-toggle.pipe.ts
  src/app/core/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/core/store/customer/sso-registration/sso-registration.effects.ts
  src/app/core/store/shopping/recently/recently.effects.ts
  src/app/core/utils/feature-toggle/feature-toggle.service.spec.ts
  src/app/core/utils/feature-toggle/feature-toggle.service.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.effects.ts
  src/app/extensions/tracking/store/tracking-config/tracking-config.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

reverting, documentation
  src/app/core/store/shopping/recently/recently.effects.ts
  src/app/core/utils/feature-toggle/feature-toggle.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

force re-render on else template
  src/app/core/directives/feature-toggle.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: consolidate scss files for form styles (#953)
  src/styles/global/forms.scss
  src/styles/global/forms/fields.scss
  src/styles/global/forms/forms.scss
  src/styles/global/forms/labels.scss
  src/styles/main.scss
  src/styles/pages/category/filter-panel.scss
Due: none

first attempt at fixing receipt page after refresh
  src/app/pages/checkout-receipt/checkout-receipt-page.component.spec.ts
  src/app/pages/checkout-receipt/checkout-receipt-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

remove destroy subject
  src/app/pages/checkout-receipt/checkout-receipt-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix query param update
  src/app/pages/checkout-receipt/checkout-receipt-page.component.spec.ts
  src/app/pages/checkout-receipt/checkout-receipt-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
