Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: improved `textarea-description` Formly wrapper and renamed it to `maxlength-description`
  docs/guides/formly.md
  docs/guides/migrations.md
  src/app/extensions/rating/shared/product-review-create-dialog/product-review-create-dialog.component.ts
  src/app/shared/components/basket/basket-merchant-message/basket-merchant-message.component.ts
  src/app/shared/formly/dev/testing/formly-testing.module.ts
  src/app/shared/formly/types/textarea-field/textarea-field.component.ts
  src/app/shared/formly/types/types.module.ts
  src/app/shared/formly/wrappers/maxlength-description-wrapper/maxlength-description-wrapper.component.html
  src/app/shared/formly/wrappers/maxlength-description-wrapper/maxlength-description-wrapper.component.spec.ts
  src/app/shared/formly/wrappers/maxlength-description-wrapper/maxlength-description-wrapper.component.ts
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.html
  src/app/shared/formly/wrappers/textarea-description-wrapper/textarea-description-wrapper.component.ts
  src/app/shared/formly/wrappers/wrappers.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: implement order search for specific buyer (#96422)
  projects/organization-management/src/app/services/users/users.service.spec.ts
  src/app/core/facades/account.facade.ts
  src/app/core/models/b2b-user/b2b-user.interface.ts
  src/app/core/models/b2b-user/b2b-user.mapper.spec.ts
  src/app/core/models/b2b-user/b2b-user.mapper.ts
  src/app/core/models/b2b-user/b2b-user.model.ts
  src/app/core/models/order-list-query/order-list-query.model.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/customer/customer-store.module.ts
  src/app/core/store/customer/customer-store.ts
  src/app/core/store/customer/users/index.ts
  src/app/core/store/customer/users/users.actions.ts
  src/app/core/store/customer/users/users.effects.spec.ts
  src/app/core/store/customer/users/users.effects.ts
  src/app/core/store/customer/users/users.reducer.ts
  src/app/core/store/customer/users/users.selectors.spec.ts
  src/app/core/store/customer/users/users.selectors.ts
  src/app/core/utils/url-resource-ids.spec.ts
  src/app/core/utils/url-resource-ids.ts
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.html
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.spec.ts
  src/app/pages/account-order-history/account-order-filters/account-order-filters.component.ts
  src/app/shared/components/order/order-widget/order-widget.component.spec.ts
  src/app/shared/components/order/order-widget/order-widget.component.ts
  src/app/shared/formly/extensions/translate-select-options.extension.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: suppress the wrong display of Search-No-Results page after a search
  src/app/core/store/shopping/product-listing/product-listing.effects.spec.ts
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/core/store/shopping/search/search.effects.spec.ts
  src/app/core/store/shopping/shopping-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce `labelNoTranslate` and `titleNoTranslate` flag to prevent Formly field label translation
  docs/guides/formly.md
  src/app/shared/formly/wrappers/horizontal-checkbox-wrapper/horizontal-checkbox-wrapper.component.html
  src/app/shared/formly/wrappers/horizontal-wrapper/horizontal-wrapper.component.html
Due: npx prettier --loglevel warn --write

fix: Formly 'ish-select-field' select box does not display updated model value correctly
  src/app/shared/formly/extensions/translate-select-options.extension.ts
  src/app/shared/formly/types/select-field/select-field.component.html
  src/app/shared/formly/types/select-field/select-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: remove dead code in test(#96422)
  src/app/core/store/customer/users/users.effects.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: fix dead links
  docs/guides/angular-component-development.md
  docs/guides/development.md
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

fix: add localizations for aria labels of oci punchout configuration
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Feature: extend logging
  nginx/nginx.conf.tmpl
Due: none

chore: minor fix
  nginx/nginx.conf.tmpl
Due: none

chore: upstream order
  nginx/nginx.conf.tmpl
Due: none

chore: fmt
  nginx/nginx.conf.tmpl
Due: none

deps: update dependencies + fix vulnerability
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

deps: update dependencies + fix vulnerability (#1686)
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix: remove '%' signs from product slugs
  src/app/core/utils/routing.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: extend logging for monitoring by OPS (#1685)
  nginx/nginx.conf.tmpl
Due: none

fix: remove '%' signs from product slugs (#1687)
  src/app/core/utils/routing.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: added l10n
  src/assets/i18n/de_DE.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

i18n: add localizations for aria labels of OCI punchout configuration (#1684)
  src/app/extensions/punchout/pages/account-punchout-configuration/oci-configuration-form/oci-configuration-form.component.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: sort i18n files in format task (#1674)
  package.json
  scripts/sort-i18n.mjs
Due: npx prettier --loglevel warn --write

Revert "fix: remove '%' signs from product slugs (#1687)"
  src/app/core/utils/routing.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: encode product url, if programmatically changed
  src/app/core/facades/selected-product-context.facade.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

deps: update dependencies + fix vulnerability (#1689)
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix: encode product urls (#1688)
  src/app/core/facades/selected-product-context.facade.ts
  src/app/core/utils/routing.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: suppress the wrong display of Search-No-Results page after a search (#1679)
  src/app/core/store/shopping/product-listing/product-listing.effects.spec.ts
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/core/store/shopping/search/search.effects.spec.ts
  src/app/core/store/shopping/shopping-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: rework account-profile-user component (#1673)
  src/app/pages/account-profile-user/account-profile-user-page.component.html
  src/app/pages/account-profile-user/account-profile-user-page.component.spec.ts
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.html
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.spec.ts
  src/app/pages/account-profile-user/account-profile-user/account-profile-user.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: contact us page initialization
  src/app/extensions/contact-us/facades/contact-us.facade.ts
  src/app/extensions/contact-us/guards/fetch-contact-subjects.guard.ts
  src/app/extensions/contact-us/pages/contact-us-routing.module.ts
  src/app/extensions/contact-us/pages/contact/contact-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Revert "fix: encode product urls (#1688)"
  src/app/core/facades/selected-product-context.facade.ts
  src/app/core/utils/routing.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: disable flaky variations e2e test
  e2e/cypress/e2e/specs/shopping/variation-handling.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fetch captcha V3 token after first form input
  src/app/extensions/captcha/shared/captcha-v3/captcha-v3.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fetch captcha V3 token after first form input (#1693)
  src/app/extensions/captcha/shared/captcha-v3/captcha-v3.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
