Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

chore: documentation improvements
  docs/guides/customizations.md
  src/app/core/utils/dom/dom.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: improved styling of loading spinner (loading animation placement for long containers, z-index)
  src/app/shared/components/common/loading/loading.component.scss
Due: none

refactor: consolidate feature toggle imports (#1636) - additional cleanup
  src/app/core/utils/feature-toggle/feature-toggle.service.spec.ts
  src/app/extensions/order-templates/pages/order-templates-routing.module.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

ci: fix demoserver workflow
  .github/scripts/docker-compose.py
  .github/scripts/requirements.txt
Due: none

ci: fix DemoServerUp workflow dependencies issue (#1734)
  .github/scripts/docker-compose.py
  .github/scripts/requirements.txt
Due: none

feat: provide option to disable the automatic translation of formly select field options
  docs/guides/formly.md
  src/app/shared/formly/extensions/translate-select-options.extension.ts
  src/app/shared/formly/types/select-field/select-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: provide option to disable the automatic translation of formly select field options (#1735)
  docs/guides/formly.md
  src/app/shared/formly/extensions/translate-select-options.extension.ts
  src/app/shared/formly/types/select-field/select-field.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: save punchout information in session storage instead of in cookies (#1731)
  docs/guides/cookie-consent.md
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.spec.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.ts
  src/app/extensions/punchout/services/punchout/punchout.service.spec.ts
  src/app/extensions/punchout/services/punchout/punchout.service.ts
  src/app/extensions/punchout/store/punchout-functions/punchout-functions.effects.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: consistently use `sessionStorage` instead of `window.sessionStorage`
  src/app/core/identity-provider/auth0.identity-provider.ts
  src/app/core/identity-provider/co-browse.identity-provider.spec.ts
  src/app/core/identity-provider/co-browse.identity-provider.ts
  src/app/core/identity-provider/icm.identity-provider.spec.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: add ICM_BASE_URL and punchout/cobrowse configuration to docker-compose example configuration
  docker-compose.yml
Due: npx prettier --loglevel warn --write

feat: add icmServerWeb/ICM_SERVER_WEB configuration option for ICM Pipeline URL references
  src/app/core/facades/app.facade.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/configuration/configuration.reducer.ts
  src/app/core/store/core/configuration/configuration.selectors.spec.ts
  src/app/core/store/core/configuration/configuration.selectors.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: change OCI punchout URL to point to an ICM Pipeline (#1702)
  docs/guides/migrations.md
  src/app/core/store/core/configuration/configuration.selectors.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.spec.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.ts
  src/app/extensions/punchout/pages/account-punchout/account-punchout-page.component.html
  src/app/extensions/punchout/pages/account-punchout/account-punchout-page.component.spec.ts
  src/app/extensions/punchout/pages/account-punchout/account-punchout-page.component.ts
  src/app/extensions/punchout/services/punchout/punchout.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: remove evaluation of both punchout type transfers to prevent false error messages (#1737)
  src/app/extensions/punchout/services/punchout/punchout.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: adapt ADO sync workflows to changed areas in ADO
  .github/workflows/azure-devops-issue-sync.yml
  .github/workflows/azure-devops-pr-sync.yml
Due: npx prettier --loglevel warn --write

feat: add Sparque (advanced) suggest IAD and VD
  src/app/core/standalone/component/suggest/advanced-search-box/advanced-search-box.component.html
  src/app/core/standalone/component/suggest/advanced-search-box/advanced-search-box.component.spec.ts
  src/app/core/standalone/component/suggest/advanced-search-box/advanced-search-box.component.ts
  src/app/core/standalone/component/suggest/simple-search-box/simple-search-box.component.html
  src/app/core/standalone/component/suggest/simple-search-box/simple-search-box.component.spec.ts
  src/app/core/store/customer/customer-store.spec.ts
  src/app/shell/header/header-default/__snapshots__/header-default.component.spec.ts.snap
  src/app/shell/header/header-default/header-default.component.html
  src/app/shell/header/header-default/header-default.component.spec.ts
  src/app/shell/header/header-default/header-default.component.ts
  src/styles/components/header/header-sticky.scss
  src/styles/components/header/header.scss
  src/styles/components/header/search-container.scss
  src/styles/pages/errorpage/errorpage.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: use v4 of upload and download github actions
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

chore: use v4 of upload and download github actions (#1738)
  .github/workflows/integration.yml
Due: npx prettier --loglevel warn --write

test: wrapped test in own describe block
  src/app/core/services/basket-items/basket-items.service.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: don't send shipping method when ICM runs in single-shipment-mode
  src/app/core/services/basket-items/basket-items.service.spec.ts
  src/app/core/services/basket-items/basket-items.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use GET request instead of an OPTIONS call for the OCI punchout configuration (#1714)
  docs/guides/migrations.md
  src/app/core/services/api/api.service.spec.ts
  src/app/core/services/api/api.service.ts
  src/app/extensions/punchout/services/punchout/punchout.service.spec.ts
  src/app/extensions/punchout/services/punchout/punchout.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use GET request instead of an OPTIONS call for the eligible customer payment methods (#1714)
  docs/guides/migrations.md
  src/app/core/services/payment/payment.service.spec.ts
  src/app/core/services/payment/payment.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: change meta description comparison to `contain`to make e2e test more robust
  e2e/cypress/e2e/pages/meta-data.module.ts
  e2e/cypress/e2e/specs/system/seo-product-detail-page.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add tax type settings for budgets (#99165)
  projects/organization-management/src/app/components/budget-info/budget-info.component.html
  projects/organization-management/src/app/components/budget-info/budget-info.component.spec.ts
  projects/organization-management/src/app/components/budget-info/budget-info.component.ts
  projects/organization-management/src/app/components/budget-widget/budget-widget.component.html
  projects/organization-management/src/app/components/budget-widget/budget-widget.component.spec.ts
  projects/organization-management/src/app/exports/index.ts
  projects/organization-management/src/app/exports/organization-management-exports.module.ts
  projects/organization-management/src/app/organization-management.module.ts
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.html
  projects/organization-management/src/app/pages/cost-centers/cost-centers-page.component.spec.ts
  projects/organization-management/src/app/pages/users/users-page.component.html
  projects/organization-management/src/app/pages/users/users-page.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-buyer-approval/requisition-buyer-approval.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-buyer-approval/requisition-buyer-approval.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-cost-center-approval/requisition-cost-center-approval.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-cost-center-approval/requisition-cost-center-approval.component.spec.ts
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.module.ts
  src/app/core/models/customer/customer.mapper.ts
  src/app/core/models/customer/customer.model.ts
  src/app/pages/account-profile-company/account-profile-company/account-profile-company.component.spec.ts
  src/app/pages/account-profile-company/account-profile-company/account-profile-company.component.ts
  src/app/pages/account-profile/account-profile/account-profile.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: move logic to translation files (#99165)
  projects/organization-management/src/app/components/budget-info/budget-info.component.html
  projects/organization-management/src/app/components/budget-info/budget-info.component.spec.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: remove unused testbed objects (#99165)
  projects/organization-management/src/app/components/budget-info/budget-info.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: fix cypress failure (#99165)
  e2e/cypress/e2e/pages/account/organization-settings.page.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: introduce new organization settings page (#99165)
  docs/guides/field-library.md
  e2e/cypress/e2e/pages/account/organization-settings-edit-company.page.ts
  e2e/cypress/e2e/pages/account/organization-settings.page.ts
  e2e/cypress/e2e/pages/account/profile.page.ts
  e2e/cypress/e2e/specs/account/edit-user-company.b2b.e2e-spec.ts
  projects/organization-management/src/app/pages/organization-management-routing.module.ts
  projects/organization-management/src/app/pages/organization-settings/organization-settings-page.component.html
  projects/organization-management/src/app/pages/organization-settings/organization-settings-page.component.spec.ts
  projects/organization-management/src/app/pages/organization-settings/organization-settings-page.component.ts
  src/app/core/models/customer/customer.model.ts
  src/app/core/services/user/user.service.ts
  src/app/core/store/customer/user/user.actions.ts
  src/app/core/store/customer/user/user.effects.spec.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/pages/account-profile/account-profile/account-profile.component.spec.ts
  src/app/pages/account/account-navigation/account-navigation.items.ts
  src/app/pages/registration/services/registration-form-configuration/registration-form-configuration.service.ts
  src/app/shared/formly/types/budget-type-field/budget-type-field.component.html
  src/app/shared/formly/types/budget-type-field/budget-type-field.component.spec.ts
  src/app/shared/formly/types/budget-type-field/budget-type-field.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
