Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: type attribute model
  src/app/core/models/attribute/attribute.model.ts
  src/app/core/models/attribute/attribute.pipe.ts
  src/app/core/models/payment-instrument/payment-instrument.interface.ts
  src/app/core/models/payment-instrument/payment-instrument.model.ts
  src/app/core/models/product-variation/variation-attribute.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: perform update CI for upgrade branches
  .github/workflows/updates.yml
Due: npx prettier --loglevel warn --write

chore: add analyze script
  package.json
Due: npx prettier --loglevel warn --write

refactor: remove ngx-custom-validators dependency and custom implement the two validators we use (#332)
  docs/guides/forms.md
  package-lock.json
  package.json
  projects/organization-management/src/app/components/user/user-profile-form/user-profile-form.component.spec.ts
  projects/organization-management/src/app/pages/user-create/user-create-page.component.spec.ts
  projects/organization-management/src/app/pages/user-create/user-create-page.component.ts
  src/app/pages/account-profile-email/account-profile-email/account-profile-email.component.ts
  src/app/pages/account-profile-password/account-profile-password/account-profile-password.component.ts
  src/app/pages/checkout-address/checkout-address-anonymous/checkout-address-anonymous.component.ts
  src/app/pages/forgot-password/request-reminder-form/request-reminder-form.component.ts
  src/app/pages/forgot-password/update-password-form/update-password-form.component.ts
  src/app/pages/registration/registration-form/registration-form.component.ts
  src/app/shared/forms/components/login-form/login-form.component.ts
  src/app/shared/forms/validators/special-validators.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: adapt schematics for new API (#332)
  schematics/src/azure-pipeline/factory.ts
  schematics/src/cms-component/factory.ts
  schematics/src/component/factory.ts
  schematics/src/component/factory_spec.ts
  schematics/src/extension/factory.ts
  schematics/src/helpers/add-destroy/factory.ts
  schematics/src/helpers/customized-copy/factory.ts
  schematics/src/helpers/lazy-components/factory.ts
  schematics/src/helpers/move-component/factory.ts
  schematics/src/kubernetes-deployment/factory.ts
  schematics/src/lazy-component/factory.ts
  schematics/src/model/factory.ts
  schematics/src/module/factory.ts
  schematics/src/page/factory.ts
  schematics/src/pipe/factory.ts
  schematics/src/service/factory.ts
  schematics/src/store-group/factory.ts
  schematics/src/store/factory.ts
  schematics/src/store/factory_spec.ts
  schematics/src/utils/common.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: use solution-style tsconfig.json (#332)
  Dockerfile
  Dockerfile_reports
  angular.json
  package.json
  projects/organization-management/tsconfig.app.json
  reports/tslint-gitlab.js
  reports/tslint-report.js
  schematics/src/utils/lint-fix.ts
  tsconfig.all.json
  tsconfig.app.json
  tsconfig.base.json
  tsconfig.json
  tsconfig.spec.json
  tslint-rules/src/ishUsefulImportsRule.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: update to new browserslist format, remove explicit differential loading build (#332)
  .browserslistrc
  .github/workflows/updates.yml
  .prettierignore
  Dockerfile
  angular.json
  browserslist
  tsconfig-es5.app.json
Due: npx prettier --loglevel warn --write

deps: Upgrade to Angular 10 (#332)
  package-lock.json
  package.json
  src/app/core/authorization-toggle.module.ts
  src/app/core/feature-toggle.module.ts
  src/app/core/interceptors/mock.interceptor.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: do not deploy review server on integration branch
  .gitlab-ci.yml
Due: npx prettier --loglevel warn --write

add 'organization-hierarchies' extension with 'organizationHierarchies' feature switch and 'hierarchy-switch' component integrated in the header
  .github/workflows/demo-server.yml
  .github/workflows/test.yml
  .gitlab-ci.yml
  scripts/init-local-environment.js
  src/app/extensions/organization-hierarchies/exports/.gitignore
  src/app/extensions/organization-hierarchies/exports/organization-hierarchies-exports.module.ts
  src/app/extensions/organization-hierarchies/facades/organization-hierarchies.facade.ts
  src/app/extensions/organization-hierarchies/organization-hierarchies.module.ts
  src/app/extensions/organization-hierarchies/shared/hierarchies/hierarchy-switch/hierarchy-switch.component.html
  src/app/extensions/organization-hierarchies/shared/hierarchies/hierarchy-switch/hierarchy-switch.component.spec.ts
  src/app/extensions/organization-hierarchies/shared/hierarchies/hierarchy-switch/hierarchy-switch.component.ts
  src/app/extensions/organization-hierarchies/store/organization-hierarchies-store.module.ts
  src/app/extensions/organization-hierarchies/store/organization-hierarchies-store.ts
  src/app/shell/header/login-status/login-status.component.html
  src/app/shell/header/login-status/login-status.component.spec.ts
  src/app/shell/shell.module.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

add Organization Hierarchies feature stub in organization management sub project with new 'hierarchies' route and My Account integration
  projects/organization-management/src/app/organization-management.module.ts
  projects/organization-management/src/app/pages/hierarchies/hierarchies-page.component.html
  projects/organization-management/src/app/pages/hierarchies/hierarchies-page.component.spec.ts
  projects/organization-management/src/app/pages/hierarchies/hierarchies-page.component.ts
  projects/organization-management/src/app/pages/organization-management-routing.module.ts
  projects/organization-management/src/app/services/organization-management-breadcrumb/organization-management-breadcrumb.service.ts
  src/app/pages/account/account-navigation/account-navigation.component.html
  src/app/pages/account/account-navigation/account-navigation.component.ts
  src/assets/i18n/en_US.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: implement cookiebot
  .github/workflows/demo-server.yml
  src/environments/environment.prod.ts
  src/index.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: tooltip and popup header text for delete
  projects/organization-management/src/app/pages/users/users-page.component.html
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

feat: show account identifier attribute of payment instrument
  src/app/core/models/payment-instrument/payment-instrument.interface.ts
  src/app/core/models/payment-method/payment-method.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fix phone label
  projects/organization-management/src/app/pages/user-detail/user-detail-page.component.html
  projects/organization-management/src/app/pages/user-detail/user-detail-page.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fix badge color for b2b
  src/styles/themes/blue/style.scss
Due: none

fix: add success message for delete user
  projects/organization-management/src/app/store/users/users.effects.spec.ts
  projects/organization-management/src/app/store/users/users.effects.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: disable the admin user to delete his own account
  projects/organization-management/src/app/pages/users/users-page.component.html
  projects/organization-management/src/app/pages/users/users-page.component.spec.ts
  projects/organization-management/src/app/pages/users/users-page.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: refresh user data after changing the current user's data in the user management
  projects/organization-management/src/app/store/users/users.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: inconsistent breadcrumb updates on category, search & product page
  src/app/core/store/shopping/categories/categories.effects.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/core/store/shopping/shopping-store.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: display approval required info in checkout review page if relevant
  src/app/core/icon.module.ts
  src/app/core/models/basket-approval/basket-approval.model.ts
  src/app/core/models/basket/basket.interface.ts
  src/app/core/models/basket/basket.mapper.spec.ts
  src/app/core/models/basket/basket.mapper.ts
  src/app/core/models/basket/basket.model.ts
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.spec.ts
  src/app/shared/components/basket/basket-approval-info/basket-approval-info.component.html
  src/app/shared/components/basket/basket-approval-info/basket-approval-info.component.spec.ts
  src/app/shared/components/basket/basket-approval-info/basket-approval-info.component.ts
  src/app/shared/components/common/modal-dialog-link/modal-dialog-link.component.ts
  src/app/shared/shared.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: Minor user management issues (#338)
  projects/organization-management/src/app/pages/user-detail/user-detail-page.component.html
  projects/organization-management/src/app/pages/user-detail/user-detail-page.component.spec.ts
  projects/organization-management/src/app/pages/users/users-page.component.html
  projects/organization-management/src/app/pages/users/users-page.component.spec.ts
  projects/organization-management/src/app/pages/users/users-page.component.ts
  projects/organization-management/src/app/store/users/users.effects.spec.ts
  projects/organization-management/src/app/store/users/users.effects.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
  src/styles/themes/blue/style.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: release 0.22.0 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

Refactoring
  projects/organization-management/src/app/models/node/node.helper.spec.ts
  projects/organization-management/src/app/models/node/node.helper.ts
  projects/organization-management/src/app/models/node/node.mapper.spec.ts
  projects/organization-management/src/app/models/node/node.mapper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Add model for node REST api
  projects/organization-management/src/app/models/node/node.interface.ts
  projects/organization-management/src/app/models/node/node.mapper.spec.ts
  projects/organization-management/src/app/models/node/node.mapper.ts
  projects/organization-management/src/app/models/node/node.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Add mapper tests for NodeResourceIdentifier
  projects/organization-management/src/app/models/node/node.mapper.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Add node tree data structure
  projects/organization-management/src/app/models/node/node.helper.spec.ts
  projects/organization-management/src/app/models/node/node.helper.ts
  projects/organization-management/src/app/models/node/node.interface.ts
  projects/organization-management/src/app/models/node/node.mapper.spec.ts
  projects/organization-management/src/app/models/node/node.mapper.ts
  projects/organization-management/src/app/models/node/node.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Add node relationship capabilities
  projects/organization-management/src/app/models/node/node.interface.ts
  projects/organization-management/src/app/models/node/node.mapper.spec.ts
  projects/organization-management/src/app/models/node/node.mapper.ts
  projects/organization-management/src/app/models/node/node.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Fix linter errors
  projects/organization-management/src/app/models/node/node.helper.ts
  projects/organization-management/src/app/models/node/node.interface.ts
  projects/organization-management/src/app/models/node/node.mapper.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
