Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.ts": [
    "npx tslint --project tsconfig.json --fix",
    "npx prettier --loglevel warn --write",
    "npx jest --findRelatedTests",
    "git add"
  ],
  "*.{js,json,yml,yaml,md,html}": [
    "npx prettier --loglevel warn --write",
    "git add"
  ]
}

refactor: mark subjects as private and introduce public api to retrieve data stream
  src/app/core/identity-provider/icm.identity-provider.spec.ts
  src/app/core/identity-provider/icm.identity-provider.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/utils/api-token/api-token.service.spec.ts
  src/app/core/utils/api-token/api-token.service.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.spec.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: deploy URL not set right for all CSS 'url' references (e.g. fonts) (#1521)
  src/ssr/deploy-url.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

doc: write documentation
  src/app/core/utils/api-token/api-token.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: forward proto from reverse proxy
  nginx/nginx.conf
  nginx/templates/multi-channel.conf.tmpl
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: enable eslint rule @ngrx/prefer-concat-latest-from
  .eslintrc.json
  projects/organization-management/src/app/store/users/users.effects.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/server-config/server-config.effects.ts
  src/app/core/store/customer/addresses/addresses.effects.ts
  src/app/core/store/customer/authorization/authorization.effects.ts
  src/app/core/store/customer/basket/basket-addresses.effects.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/customer/basket/basket-payment.effects.ts
  src/app/core/store/customer/basket/basket-validation.effects.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/orders/orders.effects.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/store/general/countries/countries.effects.ts
  src/app/core/store/general/regions/regions.effects.ts
  src/app/core/store/shopping/categories/categories.effects.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/extensions/compare/store/compare/compare.effects.ts
  src/app/extensions/order-templates/store/order-template/order-template.effects.ts
  src/app/extensions/punchout/store/punchout-users/punchout-users.effects.ts
  src/app/extensions/quoting/store/quoting/quoting.effects.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.effects.ts
  src/app/extensions/store-locator/store/store-locator-config/store-locator-config.effects.ts
  src/app/extensions/tacton/store/product-configuration/product-configuration.effects.ts
  src/app/extensions/tacton/store/saved-tacton-configuration/saved-tacton-configuration.effects.ts
  src/app/extensions/tacton/store/tacton-config/tacton-config.effects.ts
  src/app/extensions/tracking/store/tracking-config/tracking-config.effects.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: apiToken service
  src/app/core/utils/api-token/api-token.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: add migration note
  docs/guides/migrations.md
Due: npx prettier --loglevel warn --write

refactor: enable eslint rule @ngrx/prefer-concat-latest-from (#1520)
  .eslintrc.json
  projects/organization-management/src/app/store/users/users.effects.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/server-config/server-config.effects.ts
  src/app/core/store/customer/addresses/addresses.effects.ts
  src/app/core/store/customer/authorization/authorization.effects.ts
  src/app/core/store/customer/basket/basket-addresses.effects.ts
  src/app/core/store/customer/basket/basket-items.effects.ts
  src/app/core/store/customer/basket/basket-payment.effects.ts
  src/app/core/store/customer/basket/basket-validation.effects.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/orders/orders.effects.ts
  src/app/core/store/customer/user/user.effects.ts
  src/app/core/store/general/countries/countries.effects.ts
  src/app/core/store/general/regions/regions.effects.ts
  src/app/core/store/shopping/categories/categories.effects.ts
  src/app/core/store/shopping/products/products.effects.ts
  src/app/core/store/shopping/search/search.effects.ts
  src/app/extensions/compare/store/compare/compare.effects.ts
  src/app/extensions/order-templates/store/order-template/order-template.effects.ts
  src/app/extensions/punchout/store/punchout-users/punchout-users.effects.ts
  src/app/extensions/quoting/store/quoting/quoting.effects.ts
  src/app/extensions/sentry/store/sentry-config/sentry-config.effects.ts
  src/app/extensions/store-locator/store/store-locator-config/store-locator-config.effects.ts
  src/app/extensions/tacton/store/product-configuration/product-configuration.effects.ts
  src/app/extensions/tacton/store/saved-tacton-configuration/saved-tacton-configuration.effects.ts
  src/app/extensions/tacton/store/tacton-config/tacton-config.effects.ts
  src/app/extensions/tracking/store/tracking-config/tracking-config.effects.ts
  src/app/extensions/wishlists/store/wishlist/wishlist.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: api token service improvements (#1522)
  docs/guides/migrations.md
  src/app/core/identity-provider/icm.identity-provider.spec.ts
  src/app/core/identity-provider/icm.identity-provider.ts
  src/app/core/store/customer/basket/basket.effects.spec.ts
  src/app/core/store/customer/basket/basket.effects.ts
  src/app/core/store/customer/customer-store.module.ts
  src/app/core/utils/api-token/api-token.service.spec.ts
  src/app/core/utils/api-token/api-token.service.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.spec.ts
  src/app/extensions/punchout/identity-provider/punchout-identity-provider.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: forward protocol correctly from reverse proxy (#1524)
  nginx/nginx.conf
  nginx/templates/multi-channel.conf.tmpl
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

docs: punchout identity provider documentation improvement
  docs/guides/authentication_punchout.md
  docs/guides/customizations.md
Due: npx prettier --loglevel warn --write

deps: Angular 15.2.10 update + vulnerability fix
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

build: upgrade 1arp/create-a-file-action
  .github/workflows/windows.yml
Due: npx prettier --loglevel warn --write

fix: include rewriting for scripts artifact in deploy-url handling
  src/ssr/deploy-url.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: revert irrelevant changes of "wrong ICM is used when configured ICM throws errors on SSR (#1519)"
  src/app/core/interceptors/icm-error-mapper.interceptor.spec.ts
  src/app/core/interceptors/icm-error-mapper.interceptor.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/error/error.reducer.ts
  src/app/core/utils/state-transfer/state-properties.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: revert irrelevant changes of "wrong ICM is used with errors on SSR" (#1533)
  src/app/core/interceptors/icm-error-mapper.interceptor.spec.ts
  src/app/core/interceptors/icm-error-mapper.interceptor.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/error/error.reducer.ts
  src/app/core/utils/state-transfer/state-properties.service.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: include rewriting for scripts artifact in deploy-url handling (#1532)
  src/ssr/deploy-url.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build: upgrade 1arp/create-a-file-action (#1530)
  .github/workflows/windows.yml
Due: npx prettier --loglevel warn --write

fix: navigate to anchor on master filter selection
  src/app/pages/product/product-master-variations/product-master-variations.component.html
  src/app/pages/product/product-master-variations/product-master-variations.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: allow single value filter params
  src/app/core/facades/cms.facade.ts
  src/app/core/models/filter-navigation/filter-navigation.mapper.spec.ts
  src/app/core/models/filter-navigation/filter-navigation.mapper.ts
  src/app/core/services/filter/filter.service.ts
  src/app/core/services/products/products.service.ts
  src/app/core/store/shopping/product-listing/product-listing.effects.spec.ts
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/core/utils/url-form-params.spec.ts
  src/app/core/utils/url-form-params.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: navigate to anchor on master filter selection (#1534)
  src/app/pages/product/product-master-variations/product-master-variations.component.html
  src/app/pages/product/product-master-variations/product-master-variations.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

--wip-- [skip ci]
  src/app/core/facades/cms.facade.ts
  src/app/core/models/filter-navigation/filter-navigation.mapper.ts
  src/app/core/services/filter/filter.service.ts
  src/app/core/services/products/products.service.ts
  src/app/core/store/shopping/filter/filter.actions.ts
  src/app/core/store/shopping/product-listing/product-listing.effects.ts
  src/app/core/store/shopping/product-listing/product-listing.reducer.ts
  src/app/core/utils/url-form-params.spec.ts
  src/app/core/utils/url-form-params.ts
  src/app/shared/components/filter/filter-navigation/filter-navigation.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: stabilize e2e test
  e2e/cypress/e2e/specs/account/edit-user-details.b2c.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

chore: stabilize e2e test
  e2e/cypress/e2e/specs/account/addresses-crud.b2b.e2e-spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: respect cache settings for static files from PWA
  nginx/templates/multi-channel.conf.tmpl
Due: none

feat: use OpenResty image instead of NGINX
  docs/guides/migrations.md
  nginx/Dockerfile
Due: npx prettier --loglevel warn --write

feat: use an optional shared Redis cache for multiple NGINX instances
  .prettierignore
  .vscode/intershop.txt
  docker-compose.yml
  docs/guides/nginx-startup.md
  nginx/Dockerfile
  nginx/features/cache-off.conf
  nginx/features/cache.conf
  nginx/lua/redis-integration.lua
  nginx/nginx.conf
  nginx/templates/cache-locations.conf.tmpl
  nginx/templates/cache-settings.conf.tmpl
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

ameliorated french translation
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

refactor: typed environment feature toggle
  .eslintrc.json
  src/app/core/configurations/configuration.meta.ts
  src/app/core/directives/feature-toggle.directive.spec.ts
  src/app/core/directives/feature-toggle.directive.ts
  src/app/core/directives/not-feature-toggle.directive.spec.ts
  src/app/core/directives/not-feature-toggle.directive.ts
  src/app/core/feature-toggle.module.ts
  src/app/core/guards/feature-toggle.guard.spec.ts
  src/app/core/identity-provider/identity-provider.factory.ts
  src/app/core/pipes/feature-toggle.pipe.spec.ts
  src/app/core/pipes/feature-toggle.pipe.ts
  src/app/core/store/core/configuration/configuration.effects.ts
  src/app/core/store/core/configuration/configuration.integration.spec.ts
  src/app/core/store/core/configuration/configuration.reducer.ts
  src/app/core/store/core/server-config/server-config.effects.ts
  src/app/core/utils/feature-event/feature-event.service.ts
  src/app/core/utils/feature-toggle/feature-toggle.service.spec.ts
  src/app/core/utils/feature-toggle/feature-toggle.service.ts
  src/app/core/utils/module-loader/module-loader.service.ts
  src/app/pages/account/account-navigation/account-navigation.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add NGINX environment variable to add additional headers
  .vscode/intershop.txt
  docker-compose.yml
  docs/guides/nginx-startup.md
  nginx/additional-headers.yaml
  nginx/docker-entrypoint.d/40-gomplate.sh
  nginx/templates/add-header.conf.tmpl
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

feat: extension schematic adds feature toggle
  schematics/src/extension/factory.ts
  schematics/src/extension/factory_spec.ts
  schematics/src/utils/registration.ts
  schematics/src/utils/testHelper.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: use server setting for message-to-merchant checkout field
  docs/concepts/configuration.md
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.html
  projects/requisition-management/src/app/pages/requisition-detail/requisition-detail-page.component.spec.ts
  src/app/pages/account-order/account-order/account-order.component.html
  src/app/pages/account-order/account-order/account-order.component.spec.ts
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.html
  src/app/pages/checkout-receipt/checkout-receipt/checkout-receipt.component.spec.ts
  src/app/pages/checkout-review/checkout-review/checkout-review.component.html
  src/app/pages/checkout-review/checkout-review/checkout-review.component.spec.ts
  src/app/pages/checkout-shipping/checkout-shipping-page.component.html
  src/app/pages/checkout-shipping/checkout-shipping-page.component.spec.ts
  src/environments/environment.b2b.ts
  src/environments/environment.model.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add custom response headers with NGINX (#1456)
  .vscode/intershop.txt
  docker-compose.yml
  docs/guides/nginx-startup.md
  nginx/additional-headers.yaml
  nginx/docker-entrypoint.d/40-gomplate.sh
  nginx/templates/add-header.conf.tmpl
  nginx/templates/multi-channel.conf.tmpl
Due: npx prettier --loglevel warn --write

i18n: ameliorated french translation (#1541)
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: handle relative links in cms content
  src/app/core/directives/server-html.directive.spec.ts
  src/app/core/directives/server-html.directive.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests
