Repository intershop/intershop-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

i18n: added and unified wish list messages (#175)
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx prettier --loglevel warn --write

fix: display swiper navigation buttons (fixed styling issue)
  src/styles/global/swiper.scss
Due: none

fix: fix styling for product-row product items in carousels and add tile configuration options to the product link carousel
  src/app/pages/product/product-links-carousel/product-links-carousel.component.html
  src/app/pages/product/product-links-carousel/product-links-carousel.component.ts
  src/app/shared/components/product/product-item/product-item.component.ts
  src/styles/pages/category/product-list.scss
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: improve feature toggle positioning for user information component
  src/app/shell/header/user-information-mobile/user-information-mobile.component.html
Due: npx prettier --loglevel warn --write

feat: support Concardis Direct Debit payment method (#165)
  src/app/core/models/payment-method/payment-method.mapper.ts
  src/app/pages/checkout-payment/checkout-payment-page.module.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis-creditcard/payment-concardis-creditcard.component.ts
  src/app/pages/checkout-payment/payment-concardis-directdebit/payment-concardis-directdebit.component.html
  src/app/pages/checkout-payment/payment-concardis-directdebit/payment-concardis-directdebit.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis-directdebit/payment-concardis-directdebit.component.ts
  src/app/pages/checkout-payment/payment-concardis/payment-concardis.component.spec.ts
  src/app/pages/checkout-payment/payment-concardis/payment-concardis.component.ts
  src/app/shared/forms-dynamic/components/checkbox-dynamic/checkbox-dynamic.component.html
  src/app/shared/forms-dynamic/components/checkbox-dynamic/checkbox-dynamic.component.spec.ts
  src/app/shared/forms-dynamic/components/checkbox-dynamic/checkbox-dynamic.component.ts
  src/app/shared/forms-dynamic/forms-dynamic.module.ts
  src/assets/i18n/de_DE.json
  src/assets/i18n/en_US.json
  src/assets/i18n/fr_FR.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

build(deps): update dependencies to fix vulnerabilities
  e2e/package-lock.json
  package-lock.json
  package.json
  schematics/package-lock.json
  tslint-rules/package-lock.json
Due: npx prettier --loglevel warn --write

chore: release 0.18.1 preparation
  3rd-party-licenses.txt
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --loglevel warn --write

fix: fix loading animation display for longer pages (#166)
  src/app/shared/components/common/loading/loading.component.scss
Due: none

feat: added mocks for browser to fix window, document, HTMLElement and navigator issues on server
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fixup! feat: added mocks for browser to fix window, document, HTMLElement and navigator issues on server
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: add opt-in mocks for browser to fix window, document, HTMLElement and navigator issues on server-side rendering (#180)
  server.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: delete payment instrument link on checkout payment page
  e2e/cypress/integration/specs/checkout/checkout-payments.b2c.e2e-spec.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: fix loading animation display for longer pages (#166) (#170)
  src/app/shared/components/common/loading/loading.component.scss
Due: none

chore: add VSCode task for compiling app sources
  .vscode/tasks.json
Due: npx prettier --loglevel warn --write

feat: display checkout and order prices respecting ICM pricing settings (#179)
  src/app/core/models/price/price.pipe.spec.ts
  src/app/core/models/price/price.pipe.ts
  src/app/core/store/configuration/configuration.reducer.ts
  src/app/core/store/configuration/configuration.selectors.ts
  src/app/core/store/user/user.selectors.spec.ts
  src/app/core/store/user/user.selectors.ts
  src/app/shared/components/product/product-price/product-price.component.spec.ts
  src/app/shell/header/mini-basket/mini-basket.component.spec.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: read ICM server configuration on PWA startup (#179)
  src/app/core/models/server-config/server-config.interface.ts
  src/app/core/models/server-config/server-config.mapper.spec.ts
  src/app/core/models/server-config/server-config.mapper.ts
  src/app/core/models/server-config/server-config.model.ts
  src/app/core/services/configuration/configuration.service.spec.ts
  src/app/core/services/configuration/configuration.service.ts
  src/app/core/store/checkout/checkout-store.spec.ts
  src/app/core/store/configuration/configuration.actions.ts
  src/app/core/store/configuration/configuration.effects.spec.ts
  src/app/core/store/configuration/configuration.effects.ts
  src/app/core/store/configuration/configuration.reducer.ts
  src/app/core/store/configuration/configuration.selectors.spec.ts
  src/app/core/store/configuration/configuration.selectors.ts
  src/app/core/store/shopping/shopping-store.spec.ts
  tslint.json
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: delete payment instrument link on checkout payment page (#182)
  e2e/cypress/integration/specs/checkout/checkout-payments.b2c.e2e-spec.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

refactor: make it possible to pin price item display to net or gross in price pipe (#179)
  src/app/core/models/price/price.pipe.spec.ts
  src/app/core/models/price/price.pipe.ts
  src/app/shared/components/basket/basket-cost-summary/basket-cost-summary.component.html
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

feat: calculate payment cost threshold according to ICM pricing settings (#179)
  src/app/core/facades/checkout.facade.ts
  src/app/pages/checkout-payment/checkout-payment-page.component.html
  src/app/pages/checkout-payment/checkout-payment-page.component.spec.ts
  src/app/pages/checkout-payment/checkout-payment-page.component.ts
  src/app/pages/checkout-payment/checkout-payment/checkout-payment.component.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: if payment failed after order creation navigate to checkout payment page and display a message
  src/app/core/store/orders/orders.effects.spec.ts
  src/app/core/store/orders/orders.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

fix: if payment has failed after order creation navigate to checkout payment page and display a message (#184)
  src/app/core/store/orders/orders.effects.spec.ts
  src/app/core/store/orders/orders.effects.ts
Due: npx tslint --project tsconfig.json --fix, npx prettier --loglevel warn --write, npx jest --findRelatedTests

test: run cypress with custom command retrying specs
  .github/workflows/test.yml
  e2e/cypress-ci-e2e.js
  e2e/cypress.json
  e2e/cypress/plugins/cy-ts-preprocessor.js
Due: npx prettier --loglevel warn --write

refactor: move customization start script
  docs/customizations.md
  e2e/test-schematics.sh
  schematics/customization/add/index.js
Due: npx prettier --loglevel warn --write

feat(schematics): add customization script for enabling and disabling service worker
  .github/workflows/test.yml
  e2e/test-schematics.sh
  schematics/customization/service-worker/index.js
Due: npx prettier --loglevel warn --write

build: re-publish latest image for gitlab
  .gitlab-ci.yml
  Dockerfile
  e2e/Dockerfile
Due: npx prettier --loglevel warn --write

test: wrap cypress run in try to catch chrome connection issues
  e2e/cypress-ci-e2e.js
Due: npx prettier --loglevel warn --write

Path conditions:
  npx tslint --project tsconfig.json --fix: any of: *.ts
  npx prettier --loglevel warn --write: (any of: *.ts) or (any of: *.{js,json,yml,yaml,md,html})
  npx jest --findRelatedTests: any of: *.ts
